[2021-06-12 01:31] mbendana commented on #3379
The error happens when the target VM doesn't have a public IP address assigned.

parsed_ip_id = tools.parse_resource_id(public_ip_ref.id)

[2021-06-14 11:54] #3379 closed

[2021-06-15 02:11] mohsinonxrm commented on #2701
@shashankbarsin , how was shown to be working in the Azure Friday video? I've seen it as well.

Anyway, I've got it working by building a mixed-arch (arm64 and amd64) k3s (3 RPI 4 and 1 Rock Pi X).

However, I'm struggling to get az appservice kube complete the provisioning. I can see the pods running on amd64 node. However, they fail on the arm64 nodes. Will dig further in the logs and open anoth

[2021-06-15 03:57] mohsinonxrm opened #3503 "AppService Kubernetes Arc-Extension"
### Extension name (the extension in question)
az appservice kube

### Description of issue (in as much detail as possible)
Trying to setup an App Service Kubernetes environment by following: https://docs.microsoft.com/en-us/azure/app-service/manage-create-arc-environment

Cluster Config:
3 Raspberry Pi 4 B (Ubuntu 20.04 ARM64) (k3s v1.19.11+k3s1) (1 master, 2 workers)
1 Rock Pi X (Ubuntu 20.04 AM

[2021-06-15 04:01] keparanj opened #3504 "CLI equivalents for Azure DevOps Deployments?"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### azure-devops

### CLI equivalents for Deployments under the "Release" service
-----
What is the CLI equivalent for [getting a list of deployments (REST) ](https://docs.microsoft.com/en-us/rest/api/azure/devops/release/deployments/list?view=azure-devops

[2021-06-15 04:36] yonzhan commented on #3503
route to service team

[2021-06-15 04:38] yonzhan commented on #3504
route to service team

[2021-06-15 05:59] kelvinduan2020 commented on #3468
hi, is there any update for this issue?

[2021-06-15 08:45] thesanedenis opened #3507 "az ssh doen't wokr"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ssh vm
Extension Name: ssh. Version: 0.1.5.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ssh vm --resource-group {} --vm-name {

[2021-06-15 10:32] yonzhan commented on #3468
webapp service team should look into this.

[2021-06-15 10:46] yonzhan commented on #3507
ssh

[2021-06-16 14:15] CD-UNCC commented on #2517
I am subscription owner and have this issue as well

[2021-06-16 14:41] yonzhan commented on #2517
ask service team should take a look

[2021-06-16 15:15] miwithro commented on #2517
@CD-UNCC what command did you run to add acr?  I just ran the below as an owner and it worked.

az aks update --resource-group <> --name <> --attach-acr <ResourceID>

We are working on a feature in Q3 that will eliminate the requirement to do the attach with Owner rights.

[2021-06-16 15:25] CD-UNCC commented on #2517
@miwithro The exact command you posted with the addition of the arc name. This issue occurred over night when our cluster suddenly could no longer pull new images. Yesterday someone at azure assigned our subscription to a new billing account, then this happened. I am still the owner and administrator of this subscription and have created all of these resources.

[2021-06-16 15:35] miwithro commented on #2517
so you tried with the acr name or the Resource ID of the acr?

[2021-06-16 15:38] miwithro commented on #2517
can you try with the ResourceID?

[2021-06-16 15:46] CD-UNCC commented on #2517
@miwithro exact same failure `Waiting for AAD role to propagate[################################    ]  90.0000%Could not create a role assignment for ACR. Are you an Owner on this subscription?`

[2021-06-16 15:59] miwithro commented on #2517
@CD-UNCC can you create a support case so we can have an Engineer look at what is wrong specific to your environment?

[2021-06-16 23:27] shivanissambare commented on #3404
thanks Harneet!
@oottka does this solve your issue?

[2021-06-16 23:28] shivanissambare commented on #3404
please feel free to re-open the issue, if you have more questions!

[2021-06-16 23:28] shivanissambare commented on #3404
#please-close

[2021-06-17 00:09] #3404 closed

[2021-06-17 01:08] snaheth commented on #498
We've corrected the Azure CLI documentation to reflect a maximum `--first` value of 1000 when using the Azure CLI.

If you project `id` in your query and your result is greater than 1000 rows, you can use the `$skipToken` that's returned in the response body to retrieve the next page of results by passing it as the value for the `--skip-token` parameter in a new call to `az graph query`

[2021-06-17 01:08] #498 closed

[2021-06-17 01:51] snaheth commented on #2036
Closing this as @fenwickt's pull request https://github.com/Azure/azure-cli-extensions/pull/3344 updates the help file, which results in the right  `--subscriptions` parameter example showing up in the Azure CLI documentation for Resource Graph.

[2021-06-17 01:52] #2036 closed

[2021-06-17 16:34] roy-work opened #3512 "az ssh config --file crashes if given filename with no /"
### Extension name (the extension in question)
The `az ssh` extension

### Description of issue (in as much detail as possible)
Attempting to run,
[code]
Results in the following crash:
[code]

This is because `write_ssh_config` attempts to make any non-existing directories: https://github.com/Azure/azure-cli-extensions/blob/568b8a889d99c3d1ff8ea67a9ce2925ccb8aeaf1/src/ssh/azext_ssh/ssh_utils.py#L

[2021-06-17 23:43] yonzhan commented on #3512
VM SSH

[2021-06-18 21:30] roy-work opened #3519 "az ssh: infer public key from private key"
### Extension name (the extension in question)

`az ssh`

### Description of issue (in as much detail as possible)

`az ssh` supports providing an SSH private/public keypair via the `-i` and `-p` options. `-p` (the public key) is required. Since `ssh` users almost always store the public key under the same filename as the private key with `.pub` suffixed to the end, could the necessary value for `

[2021-06-18 21:48] roy-work opened #3520 "`az ssh config` fails if provided with an ed25519 keypair"
### Extension name (the extension in question)

`az ssh`

### Description of issue (in as much detail as possible)

If provided with an ed25519 keypair, `az ssh` fails to generate a config:
[code]

Support for ed25519 would be nice. (I know Azure VMs _also_ do not support anything except RSA. There, too, support for ed25519 would be nice.)

[2021-06-19 00:34] yonzhan commented on #3520
SSH

[2021-06-19 00:37] yonzhan commented on #3519
VM SSH

[2021-06-20 17:00] yasarlaro opened #3522 "az monitor scheduled-query create lacks explanation for alert rule payload"
### Extension name (the extension in question)
az monitor scheduled-query

### Description of issue (in as much detail as possible)
`az monitor scheduled-query create` documentation is missing explanations on how to add alert rule payload. I am using below sample script to create a scheduled query but it returns `(BadRequest) Alert rule payload cannot be empty` error. Documentation does not descri

[2021-06-20 23:46] yonzhan commented on #3522
monitor

[2021-06-21 14:10] henti commented on #3460
Using the official documentation here : https://docs.microsoft.com/en-us/azure/virtual-machines/linux/find-unattached-disks with this snippet

[code]
Getting the same errors. This is official Microsoft documentation.

[2021-06-22 14:03] miwithro commented on #2517
@CD-UNCC were you able to create a support case?  Also in the interim can you upgrade your aks-preview version which I see is running 0.4.62.  On my test I am running aks-preview 0.5.19.

[2021-06-22 14:11] #3339 closed

[2021-06-22 14:13] CD-UNCC commented on #2517
@miwithro What we came to find out was that in having our azure account migrated to a different billing subscription literally breaks kubernetes. We found that a few services simple cannot survive this while most can. The only solution was to create a new cluster after the migration. Everything is fine now. Luckily this was not production. I'm sure deep down some technical support could have solve

[2021-06-22 14:17] miwithro commented on #2517
Thanks for the update @CD-UNCC.  Please close the case.

[2021-06-22 14:20] CD-UNCC commented on #2517
@miwithro I cannot. This is not my issue.

[2021-06-23 15:50] pereirawill opened #3539 "AttributeError: 'ARMPipelineClient' object has no attribute 'send'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az hcs get-config
Extension Name: hcs. Version: 0.4.4.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az hcs get-config --resource-grou

[2021-06-23 17:26] paulshealy1 commented on #3444
Thanks for the feedback! We have some work in progress to update the default set of columns for tabular output.

[2021-06-23 17:26] #3444 closed

[2021-06-23 17:32] needuv commented on #3436
File not found errors have been made more specific to specify for which entity the file cannot be found.

[2021-06-23 18:04] #3436 closed

[2021-06-23 22:28] dylanberry commented on #2974
Can you use PowerShell or something else? Always best to try and work around these issues rather than wait for a fix.

[2021-06-23 23:21] brendonts commented on #2701
I'm also very interested in ARC support for arm64. This would enable me to test Arc at a small scale so I can better understand its usefulness for clients.

[2021-06-24 01:41] yonzhan commented on #3539
route to service team

[2021-06-24 02:45] jsntcy commented on #3539
@pereirawill, could you tell us where you installed this extension from as this extension is not hosted in our public extension repo https://github.com/Azure/azure-cli-extensions? If you installed from other places, please contact proper service team as actually we don't know which team owns this extension.

[2021-06-24 02:47] jsntcy commented on #3477
Close this one as there is a duplicated issue #3539

[2021-06-24 02:47] #3477 closed

[2021-06-25 12:32] ManishaMNaik commented on #2497
Facing the same issue .any solution on this for terraform automation?

[2021-06-25 21:30] mohsinonxrm commented on #3503
@yonzhan , can you please let me know if there's any update on this? or can I even expect any? part of the roadmap, not part of the roadmap? docker buildx or even ACR provides multi-targeting capabilities.

[2021-06-26 00:23] yonzhan commented on #3503
appservice service team should look into this

[2021-06-29 03:26] mstae opened #3562 "CLI Internal Error when Configuring ACR Integration with Existing AKS Cluster"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update
Extension Name: aks-preview. Version: 0.5.5.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks update -n {} -g {} --a

[2021-06-29 03:45] markdopag opened #3564 "Azure CLI event Hub Error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az iot hub monitor-events
Extension Name: azure-cli-iot-ext. Version: 0.8.9.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az iot hub

[2021-06-29 04:43] markdopag commented on #3564
I am getting error while running IoT hub monitor events
![2021-06-28 11_50_27-Window](https://user-images.githubusercontent.com/86641992/123738506-89acf280-d8c2-11eb-95db-24e87fe97492.png)

[2021-06-29 06:56] evenh opened #3565 "az ssh: Configurable certificate lifetime"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
`az ssh`

### Description of issue (in as much detail as possible)
As I'm migrating from the legacy [AAD SSH login scheme](https://docs.microsoft.com/en-gb/azure/virtual-machines/linux/login-using-aad), I can'

[2021-06-29 12:28] yonzhan commented on #3562
route to service team

[2021-06-29 12:29] yonzhan commented on #3564
route to service team

[2021-06-29 12:30] yonzhan commented on #3565
ssh

[2021-06-29 14:45] miwithro commented on #3562
This is a known problem.  Please upgrade your aks-preview to the latest version and this issue will be mitigated.

[2021-06-29 19:23] dramuy commented on #3384
This is resolved. We have published latest version that unblocks usage of shared-query.
![image](https://user-images.githubusercontent.com/7453992/123855386-b79b3280-d8d4-11eb-941d-cd947d7ec3a3.png)

[2021-06-30 03:04] markdopag commented on #3564
I have rectified the issue

[2021-06-30 03:04] #3564 closed

[2021-07-01 23:16] awcchungster opened #3574 "Unclear error in AzureML Computer job"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
I am using the Azure ML 2.0 CLI.

### Description of issue (in as much detail as possible)

I built a container that I upload to ACR with my code and artifacts in place. I can run the container locally and get

[2021-07-02 00:06] yonzhan commented on #3574
route to service team

[2021-07-02 17:30] banibrata commented on #3574
@awcchungster , besides driver logs, could you share all other logs please.

[2021-07-02 17:32] awcchungster commented on #3574
I found a workaround, which is to remove the entry point designation when I build my container. Is there any reason why Azure ML runtime breaks when an entry point is set?

[2021-07-02 17:33] awcchungster commented on #3574
Before I had this line in the docker file. When I remove this line and rebuild, the error goes away.

`ENTRYPOINT ["python", "/opt/main.py"]`

[2021-07-02 17:43] banibrata commented on #3574
For this:  "Is there any reason why Azure ML runtime breaks when an entry point is set?" it needs little bit of analysis so need all the logs files from the previous failed run

[2021-07-02 17:49] awcchungster commented on #3574
What's your @microsoft email? I can forward them to you.

[2021-07-02 17:51] banibrata commented on #3574
banibrata.de@microsoft.com

[2021-07-02 18:36] awcchungster opened #3580 "Azure ML CLI 2.0 - YAML config options"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

Azure Machine Learning

### Description of issue (in as much detail as possible)

-----

How do I define a YAML for an online endpoint that uses:

Blob storage to store the model artifact pickle file. In my e

[2021-07-03 00:50] yonzhan commented on #3580
route to service team

[2021-07-06 00:58] mdean-msm opened #3586 "az ssh config -- AttributeError: 'NoneType' object has no attribute 'id'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ssh config
Extension Name: ssh. Version: 0.1.5.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ssh config --resource-group {} --n

[2021-07-06 02:18] yonzhan commented on #3586
SSH

[2021-07-06 03:40] zhoxing-ms commented on #3478
@dcaro Hi, this issue has been fixed, please try it again~
If you have any issues about `az next` in the future, please submit them to [it's own repo](https://github.com/hackathon-cli-recommendation/cli-recommendation/issues)

By the way, due to our recent reorg, we have lost the permission to access related Telemetry, so the recommended data has not been updated for a while.

[2021-07-06 06:51] #3478 closed

[2021-07-06 23:24] PlagueHO opened #3589 "az storage blob directory upload deprecated, but docs for az storage fs directory apply only to ADLS gen 2"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob directory upload
Extension Name: storage-preview. Version: 0.7.3.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az sto

[2021-07-07 00:11] yonzhan commented on #3589
storage

[2021-07-07 02:58] evelyn-ys commented on #3103
`azcopy` related commands should have been supported in [Azure CLI Main repo](https://github.com/Azure/azure-cli)

[2021-07-07 12:01] ericvruder commented on #2462
Still happening, any news?

[2021-07-07 13:28] MaxiPalle commented on #2701
Would be great to integrate arm64 machines. $customer uses 100s of Raspberrys  and would love to use it.

[2021-07-07 13:32] edoboker opened #3592 "az aks update attach acr fails because of monitoring addon issues"
## Describe the bug

**Command Name**
`az aks update
Extension Name: aks-preview. Version: 0.5.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks update --name {} --resource-group {} --attach-acr {}`

## Expected Behavior

## Environmen

[2021-07-07 14:19] yonzhan commented on #2462
logic service team should look into this

[2021-07-07 14:19] yonzhan commented on #3592
route to service team

[2021-07-07 14:25] ecfan commented on #2462
@Azure/azure-logicapps-team or @Azure/azure-logicapps-team-triage, please respond, thanks!

[2021-07-07 14:34] zhusulai opened #3593 "Unable to create Azure Machine Learning Compute Cluster"
## Describe the bug
Unable to create Azure Machine Learning Compute Cluster using `az ml` CLI command.

**Command Name**
`az ml compute create
Extension Name: ml. Version: 2.0.1a3.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az ml compute create -g {myrg} --workspace-name {ws} -

[2021-07-07 14:36] yonzhan commented on #3593
route to service team

[2021-07-07 16:35] harneetvirk commented on #3593
I am able to repro this bug. We will ship a fix for this issue in next ml cli release.

[2021-07-08 02:29] mohsinonxrm commented on #3503
@yonzhan , any update on this?

[2021-07-08 02:59] yonzhan commented on #3503
@mohsinonxrm app service team could provide update for this.

[2021-07-08 15:16] mohsinonxrm commented on #3503
@yonzhan , can you mention or have this assigned to someone here, so I can follow up?

[2021-07-08 15:23] yonzhan commented on #3503
@panchagnula Could you please route to the correct owner for this issue?

[2021-07-08 16:13] apwestgarth commented on #3503
Hi, I'm the PM Owner of App Service on Kubernetes with Azure Arc.  At this point providing ARM based containers, or supporting deployment onto ARM based Kubernetes Clusters is not supported.  It's an interesting request which we will take customer feedback on.

We will update the documentation to highlight that we do not support this scenario, to avoid additional customers running into this same i

[2021-07-09 13:08] emiliebiscuits opened #3616 "update autoscaler profile fails"
## Describe the bug

**Command Name**
`az aks update
Extension Name: aks-preview. Version: 0.5.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks update --resource-group {} --name {} --cluster-autoscaler-profile skip-nodes-with-system-p

[2021-07-09 13:28] #3616 closed

[2021-07-09 17:17] #3503 closed

[2021-07-10 00:03] abhi-msft opened #3618 "storage blob directory download throwing exception "Could not deserialize key data. The data may be in an incorrect format, or it may be encrypted with an unsupported algorithm""
### Extension name (the extension in question)
Storage Preview, v0.7.3

### Description of the issue (in as much detail as possible)
storage blob directory download throwing exception "Could not deserialize key data. The data may be in an incorrect format, or it may be encrypted with an unsupported algorithm"

From the exception seems like the token is not encrypted in RS256 and decoding is failin

[2021-07-10 01:04] yonzhan commented on #3618
storage

[2021-07-10 11:24] chunliu opened #3620 "ModuleNotFoundError: No module named 'vsts_cd_manager', when running "az appservice kube --help""
### Extension name (the extension in question)
"appservice-kube": "0.1.20"

### Description of issue (in as much detail as possible)

**Command Name**
`az appservice kube --help`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Remove the old version if there is any: `az extension remo

[2021-07-10 23:37] yonzhan commented on #3620
route to service team

[2021-07-12 04:39] Juliehzl commented on #3443
@N6UDP could you help with the issue?

[2021-07-12 07:33] Juliehzl commented on #3507
dupe with https://github.com/Azure/azure-cli-extensions/issues/3501

[2021-07-12 07:34] Juliehzl commented on #3456
dupe with https://github.com/Azure/azure-cli-extensions/issues/3501

[2021-07-12 07:37] Juliehzl commented on #3458
dupe of https://github.com/Azure/azure-cli-extensions/issues/3501

[2021-07-12 08:26] Juliehzl commented on #3462
dupe with #3501

[2021-07-12 08:48] #3507 closed

[2021-07-12 08:48] #3456 closed

[2021-07-12 08:49] #3458 closed

[2021-07-12 08:53] #3462 closed

[2021-07-13 02:13] #3496 closed

[2021-07-13 03:02] Juliehzl commented on #3586
dupe of https://github.com/Azure/azure-cli-extensions/issues/3501

[2021-07-13 03:08] #3586 closed

[2021-07-13 06:39] #3314 closed

[2021-07-13 09:00] #3618 closed

[2021-07-13 15:36] andreatmicro opened #3641 "Login to Linux machine using AAD fails using CloudShell on Vnet, when VM doesn't have public IP"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Login to Linux machine using AAD fails using CloudShell on Vnet, when VM doesn't have public IP.
Goal was to login Linux VM using private IP through CloudShell integrated with Vnet.

**Command Name**
`az ssh vm
Extension Name: ssh. Version: 0.1.5.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the be

[2021-07-13 16:02] andreatmicro commented on #3641
solved issue by using --prefer-private-ip parameter.

[2021-07-13 16:02] #3641 closed

[2021-07-14 08:05] #3301 closed

[2021-07-14 08:46] kw217 commented on #3301
Thanks!

[2021-07-14 09:03] #3460 closed

[2021-07-14 09:07] kairu-ms commented on #3494
Because these property are only supported in the latest version API. CLI are using old version API.

[2021-07-14 09:11] kairu-ms commented on #3494
@atpham256 Does CLI need to bump up API version to the latest now?

[2021-07-14 10:20] N6UDP commented on #3501
We will get a better error and some documentation updates but this is largely by-design.  The ssh extension has no way to automatically reach / tunnel to VM instances with private IPs.  There are various strategies one can use to reach such instances (ssh forwarding, VPNs, tunneling, running on a host with access to the VM, etc all of which will work with the IP / config / cert ssh extension optio

[2021-07-14 13:49] tomshaffner opened #3648 "No warning when login needs to be run"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
az ssh vm command failed with a massive error message (took up my entire terminal window). When I ran az login again though,  the command worked fine again. When I'm overdue to login again, the ssh vm command should just say that simply.

**Command Name**
`az ssh vm
Extension Name: ssh. Version: 0.1.5.`

**Erro

[2021-07-14 13:56] yonzhan commented on #3648
route to service team

[2021-07-15 07:51] bweissman opened #3655 "az sql mi-arc list returns generic output"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az sql mi-arc list
Extension Name: arcdata. Version: 0.0.2.`

**Errors:**
This command returns a generic output:

Col
-----
val1
val2

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az sql mi-arc l

[2021-07-15 07:54] bweissman opened #3656 "az arcdata has mixed up shortened parameters"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az arcdata dc create`
Extension Name: arcdata. Version: 0.0.2.

same applies to `az sql mi-arc create`

**Errors:**
This command has been ported from azdata arc dc create
The old command used -ns for namespace and -s for subscription
The new command uses -s for namespace and no shortened para

[2021-07-15 08:04] yonzhan commented on #3655
route to service team

[2021-07-15 08:06] yonzhan commented on #3656
route to service team

[2021-07-15 13:29] meken opened #3659 "Uploading ML models with spaces in the name causes issues"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

ml (v2)

### Description of issue (in as much detail as possible)

It is possible to upload model file(s) to an ML workspace through the CLI or yml file using the local_path option. However, if the files cont

[2021-07-15 13:38] bweissman opened #3660 "az arcdata dc debug copy-logs returns error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az arcdata dc debug copy-logs
Extension Name: arcdata. Version: 0.0.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az arcdata dc debug copy-logs --namespace {}`

## Expecte

[2021-07-15 13:45] yonzhan commented on #3659
route to service team

[2021-07-15 13:46] yonzhan commented on #3660
route to service team

[2021-07-15 15:08] AlexEnfoMMX opened #3661 "Error deploying App Service Extension for Arc Kubernetes"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az customlocation create
Extension Name: customlocation. Version: 0.1.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az customlocati

[2021-07-16 02:23] yonzhan commented on #3661
route to service team

[2021-07-16 06:08] twright-msft commented on #3655
Thanks for reporting this @bweissman.  It will be fixed in the next release of the extension.  @yonzhan - please close.

[2021-07-16 06:10] twright-msft commented on #3656
Thanks for reporting this @bweissman.  It will be fixed in the next release of the extension.  @yonzhan - please close.

The --namespace parameter will be renamed to --k8s-namespace/-k.

[2021-07-16 06:10] twright-msft commented on #3660
Thanks for reporting this @bweissman.  It will be fixed in the next release of the extension.  @yonzhan - please close.

[2021-07-16 06:15] #3655 closed

[2021-07-16 06:16] #3656 closed

[2021-07-16 06:16] #3660 closed

[2021-07-16 13:34] elizabeth-hope opened #3664 "auotgenerated az managed-cassandra cmd error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az managed-cassandra cluster node-status
Extension Name: cosmosdb-preview. Version: 0.8.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._

[2021-07-16 14:29] yonzhan commented on #3664
route to service team

[2021-07-17 02:16] carlosporter commented on #3501
Hello I just ran into this same problem, although there is one caveat on my case.

I have a jumpbox to access the virtual machines without public IP addresses and I can also install the az cli extension on it without problem.

Then I though that I cound export the configuration of the extension with "az ssh config --file configfile" and use that file later with the regular ssh client to reach the

[2021-07-19 02:24] jsntcy commented on #3664
@kavskalyan, please help take a look at this issue.
This issue was due to this [PR](https://github.com/Azure/azure-cli-extensions/commit/bd16344890df15128d27b42a9aa0490fa419fefa#diff-f397a5a646d89793922637118b6d27d0bec3aabb6ba72b3b04ce6c6b95621b63)(Track 2 migration).
[`client.fetch_node_status`](https://github.com/Azure/azure-cli-extensions/blob/bd16344890df15128d27b42a9aa0490fa419fefa/src/cosmos

[2021-07-19 13:13] niklev opened #3666 "Enable addon error for "azure-keyvault-secrets-provider""
## Describe the bug
CLI error when trying to enable "azure-keyvault-secrets-provider" addon for AKS

**Command Name**
`az aks enable-addons
Extension Name: aks-preview. Version: 0.5.23.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Existing AKS Cluster running AKS 1.20.7
- `az aks

[2021-07-19 15:50] yonzhan commented on #3666
route to service team

[2021-07-19 16:52] Lddeiva opened #3668 "Unable to upgrade to the latest azure-devops extension (v0.19.0)"
### Extension name (the extension in question)

azure-devops

### Description of issue (in as much detail as possible)

The devops cli extension has the latest release tag set to v0.19.0 [Releases · Azure/azure-devops-cli-extension (github.com)](https://github.com/Azure/azure-devops-cli-extension/releases) but we are unable to upgrade to it from v0.18.0. Please investigate the reason why it shows

[2021-07-19 22:00] fenwickt commented on #3184
Hi Klaas, unfortunately this is a default Azure CLI behaviour for resources with an id property that has resource group in it.
Please keep using the workaround you found or as another workaround you could rename the id column to a different name within the resource-graph query itself:
`az graph query -q 'Resources | project resourceId=id'`

[2021-07-19 23:26] yonzhan commented on #3668
route to service team

[2021-07-20 07:00] Klaas- commented on #3184
Hi,
I think the azure cli default should change then.... This does not feel like a feature but like an error.

[2021-07-20 16:56] ricardo-espinoza commented on #3167
Resolving this issue since it has been fixed with newer releases of the extension.

[2021-07-20 16:56] #3167 closed

[2021-07-20 17:11] ricardo-espinoza commented on #3337
The current design of the submissions to Azure Quantum using the CLI is that the command and program should run transparently regardless of the target being a simulator or quantum hardware. The best way to differentiate them would be by looking at the target itself, which is a parameter of the submit/execute/run commands.

[2021-07-20 17:11] #3337 closed

[2021-07-20 22:15] marjiemclarin commented on #3589
This is not just a documentation issue. I have a container which is a blob storage account (StorageV2) which I need to upload to. I have tried using the az storage fs directory command as suggested by Microsoft support, but it fails with the following error:

[code]

However I don’t think I want to disable Blob storage events in my blob storage account !-) This means that I can't simply switch to

[2021-07-21 02:06] evelyn-ys commented on #3589
Hi @marjiemclarin, thanks for reaching out!

We will not deprecate `az storage blob directory upload` until we find good solution for storagev2 account. So just keep using it :)
And we will update the warning msg saying for ADLS gen2 account, pls using `az storage fs directory upload` instead.

[2021-07-21 13:32] felfa01 opened #3679 "ERROR: Could not grant Managed Identity Operator permission for cluster"
### Extension name (the extension in question)
aks-preview

## Bug description
While running `az aks pod-identity --resource group $AKS_RG --cluster-name $AKS_NAME --namespace $NS --name $name --identity-resource-id /subscriptions/$SUBID/resourceGroups/$UAI_RG/providers/Microsoft.ManagedIdentity/userAssignedIdentities/$IDENTITY_NAME ` on a cluster with configured with User-Assigned Managed Identit

[2021-07-21 15:53] yonzhan commented on #3679
route to service team

[2021-07-22 01:28] diondrapeck commented on #3659
Hi @meken - I wasn't able to reproduce this. Could you please provide some screenshots of your example? Where are you seeing the double encoding - is this in the GUI or in an error or log response?

[2021-07-22 01:35] N6UDP commented on #3648
@tomshaffner do you happen to have the stacktrace? I have a few ideas where this could be happening but it would help.

[2021-07-22 02:11] N6UDP commented on #3565
@evenh
These default to an hour and are currently not configurable -- you can view this yourself by inspecting the created certificate (either via the `cert`/`config` options) or by finding the temp file written by the `vm` e.g.
[code]
If you used your own public key for signing (e.g. one bound to a hardware token etc) you'll find the -aadcert.pub file in the same directory as the public key.  JW

[2021-07-22 02:13] N6UDP commented on #3520
I don't believe we have any current plans around non-RSA support but I agree it would be ideal to support other key types.

[2021-07-22 02:22] N6UDP commented on #3501
@carlosporter the user is created upon login by the extension running on the machine -- it's not created by the client -- the client only handles generating the cert and putting together an openssh command for connecting.

That said, we also can fall back to private ip by default.. we do have `--prefer-private-ip` for cases where you've brought your own connectivity today but it doesn't attempt a

[2021-07-22 02:24] N6UDP commented on #3443
@Juliehzl we should close this as a dup of #3501 .

[2021-07-22 02:24] N6UDP commented on #3335
@yungezz this is also a dup of #3501

[2021-07-22 02:26] N6UDP commented on #3379
#3501 dupe as well.

[2021-07-22 03:41] diondrapeck commented on #3580
Hi @awcchungster, you just need a change to your syntax. To reference a blob item that you already have in storage, define the path relative to the root and then provide the datastore, you don't need the "https://mlctldata.blob.core.windows.net/" prefix.

[code]

As for your 2nd question, that scenario is not yet supported.

[2021-07-22 03:44] diondrapeck commented on #3580
@yonzhan - please close

[2021-07-22 06:03] evenh commented on #3565
Thanks for thorough reply. This matches what I see. I would really like to have this configurable to 12h, since that's the lifetime of our 'az' session. The best option for us would to be able to have these in sync but I recognize that it may be out of scope for this project.

[2021-07-22 08:34] carlosporter commented on #3501
@N6UDP Thanks for the feedback,

I ended up finding the option "--prefer-private-ip" and I agree with you, this issue would be easier to trouble if there was a message alerting the user that the connection cannot be established because the VM targeted doesn't have public IP address.

You may also run into a problem if you still have a public IP address but access is restricted to an specific addre

[2021-07-22 10:20] #3443 closed

[2021-07-22 10:22] #3335 closed

[2021-07-22 10:24] #3580 closed

[2021-07-23 03:43] kairu-ms commented on #3522
Hi @yasarlaro, I cannot reproduce your issue. Could you update your extension by following command and try again.
[code]

[2021-07-23 06:53] jsntcy commented on #3268
CLI support: https://github.com/Azure/azure-cli/pull/14803/files#diff-818d51706b268b283c41fef3ee4436df9356c57e657c6e0f0859b1b9445d3e04R164

[2021-07-26 00:02] cordoor opened #3693 "az aks enable-addons fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks enable-addons
Extension Name: aks-preview. Version: 0.5.23.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons

[2021-07-26 00:27] yonzhan commented on #3693
route to service team

[2021-07-26 16:23] peter-jvt commented on #3620
Same problem with **az logicapp deployment** when using this extension:
az extension add --yes --source "https://aka.ms/logicapp-latest-py2.py3-none-any.whl"

[2021-07-27 02:04] pereirawill commented on #3539
It's a hashicorp extension for consul managed service.

I've tried to use the following extensions:
az extension add \
  --source https://releases.hashicorp.com/hcs/0.4.4/hcs-0.4.4-py2.py3-none-any.whl
az extension add \
  --source https://releases.hashicorp.com/hcs/0.4.9/hcs-0.4.9-py2.py3-none-any.whl

[2021-07-27 02:31] jsntcy commented on #3539
@pereirawill, could you please contact hashicorp for help using the email below as they own the extension?

Summary: Microsoft Azure Command-Line Tools HCS Extension
Home-page: https://github.com/hashicorp/cloud-hcs-cli
Author: HashiCorp Cloud
Author-email: team-cloud@hashicorp.com

[2021-07-27 02:46] kairu-ms commented on #3203
Automatically installation is available now.

[2021-07-27 02:46] #3203 closed

[2021-07-27 06:21] ozbillwang opened #3702 "[logicApp] Get error when run `az logic workflow list`"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`Unknown
Extension Name: logic. Version: 0.1.4.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az logic workflow list`

## Expected Beha

[2021-07-27 06:28] yonzhan commented on #3702
route to service team

[2021-07-27 06:30] ozbillwang commented on #3702
thanks @yonzhan

I also run a test with same command on a virtualbox Ubuntu 20.04, got same error.

[2021-07-27 06:31] kairu-ms commented on #2989
I can't reproduce your issue. It works for me.
![image](https://user-images.githubusercontent.com/69238381/127106599-ced6dd6b-b9a2-4920-a80c-87bc14cc99ad.png)

Please upgrade cli and firewall by command
[code]

[2021-07-27 06:31] #2989 closed

[2021-07-27 07:17] kairu-ms commented on #2918
Automatic installation works now.

[2021-07-27 07:17] #2918 closed

[2021-07-27 07:30] kairu-ms commented on #2902
CLI also has similar command `az resource list`.

[2021-07-27 12:50] bmc-msft commented on #2918
@kairu-ms, this does not work as expected following the documentation:

https://docs.microsoft.com/en-us/cli/azure/monitor/app-insights?view=azure-cli-latest

The documentation states:

[code]

[2021-07-27 23:41] winklevos commented on #2462
Issue still exists

[2021-07-28 00:58] ishepherd opened #3705 "Is this deprecation warning correct? (Storage)"
## Describe the bug

**Command Name**
`az storage blob list
Extension Name: storage-preview. Version: 0.7.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az storage blob list --account-name {} -c {} --num-results {}`

## Expected Behavior

No removal warning.

My understanding wa

[2021-07-28 01:41] jsntcy commented on #2322
Now extension can be loaded automatically and you don't need install it manually.

![image](https://user-images.githubusercontent.com/16348853/127249983-df577d9b-6f4f-44fd-9ed8-900dda2f89f0.png)

[2021-07-28 01:45] jsntcy commented on #2475
@a11smiles Now extension can be loaded automatically and you don't need install it manually.

Please use `az upgrade` to upgrade to latest CLI version.

![image](https://user-images.githubusercontent.com/16348853/127250214-00e2649c-15dd-46a5-9bdd-2274c4b476cf.png)

[2021-07-28 02:09] jsntcy commented on #2317
@amkuipers, we can not reproduce the issue, please share more details.

You can also try `az extension update -n application-insights` to upgrade to latest version, then retry to see it's resolved.
From the error you provided, it seems it's client error related to your token. Try logout and login again.

[2021-07-28 02:35] jsntcy commented on #2322
duplicated with #2475

[2021-07-28 02:35] #2322 closed

[2021-07-28 03:06] kairu-ms commented on #2918
If it's a command group. Please add `-h` to trigger automatic installation detection.

![image](https://user-images.githubusercontent.com/69238381/127257080-aec030b2-ff5b-4fa8-aea7-e6633d9bb843.png)

[2021-07-28 04:10] yonzhan commented on #3705
Storage

[2021-07-28 06:19] evelyn-ys commented on #3705
The deprecation warning is just for ADLS storage accounts. Feel free to keep using `az storage blob list`😊

[2021-07-28 06:19] #3705 closed

[2021-07-28 08:31] #796 closed

[2021-07-28 11:57] WilliansPereira-CAL commented on #3539
thanks @jsntcy

[2021-07-28 11:58] pereirawill commented on #3539
thanks @jsntcy

[2021-07-28 11:58] #3539 closed

[2021-07-28 17:28] patridge commented on #2825
The continuation token appears to be part of the HTTP headers for the underlying API request. Is there any mechanism for viewing these headers on a result and/or modifying the outbound headers on a follow-up request?

That said, for my specific use case, I wouldn't need any continuation tokens if I could do some sort of WIQL count operator or request parameter for my queries.

[2021-07-28 23:06] ishepherd commented on #3705
@evelyn-rs thanks for quick reply

There may be something to fix here? The warning misleads me to thinking that I am using the wrong command, and that the one I am using will be removed; neither is correct.

[2021-07-29 02:10] a30000931 opened #3713 "az ssh config fails"
## Describe the bug

**Command Name**
`az ssh config
Extension Name: ssh. Version: 0.1.5.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Follow MS Docs (https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-linux#exporting-ssh-configuration-for-us

[2021-07-29 02:43] yonzhan commented on #3713
route to service team

[2021-07-29 03:10] evelyn-ys commented on #3705
We may need to specify that the warning message is just for ADLS storage accounts. Thanks for reporting!

[2021-07-29 04:30] PradeeDevananth opened #3714 "az aks use-dev-spaces NOT WORKING"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks use-dev-spaces
Extension Name: dev-spaces. Version: 1.0.6.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks use-dev-spaces

[2021-07-29 04:32] yonzhan commented on #3714
route to service team

[2021-07-29 13:36] PradeeDevananth commented on #3714
Please kindly guide me at least temporary fixes.

[2021-07-29 16:26] phealy commented on #3714
[Azure Dev Spaces has been retired since May 15th, 2021](https://docs.microsoft.com/en-us/previous-versions/azure/dev-spaces/). The extension cannot function without the backend support for it.

The replacement functionality is [Bridge to Kubernetes](https://docs.microsoft.com/en-us/visualstudio/containers/bridge-to-kubernetes?view=vs-2019) - please check that out and see if it will meet your need

[2021-07-29 17:53] #3664 closed

[2021-07-29 18:10] roy-work opened #3720 "Pass-through options to `ssh` on `az ssh vm` & friends"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
`ssh`

### Description of issue (in as much detail as possible)

`az ssh vm` (et al.) allows one to SSH; sometimes, we need to set up, e.g., SSH port-forwardings. It would be great if `az ssh vm` understood `-

[2021-07-29 22:32] yonzhan commented on #3720
route to service team

[2021-07-29 22:58] jamesc opened #3725 "az ssh vm on CloudShell returns error 'Could not retrieve token from local cache.'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ssh vm
Extension Name: ssh. Version: 0.1.5.`

**Errors:**
[code]

## To Reproduce:

On Cloud Shell:

- `az ssh vm --ip {}`

## Expected Behavior

Should connect to the VM - instead gives error about token.  It looks like the following env is set

[code]
but that file doesn't exist.

I woul

[2021-07-29 23:01] yonzhan commented on #3725
route to service team

[2021-07-30 01:09] jiasli commented on #3725
Azure CLI on Cloud Shell no longer uses `AZURE_ACCESS_TOKEN_FILE`. Now it uses a managed identity endpoint:

https://github.com/Azure/azure-cli/blob/4a8879f587378615ff0e1d10728dffe63f462b2d/src/azure-cli-core/azure/cli/core/_profile.py#L584-L585

https://github.com/Azure/azure-cli/blob/4a8879f587378615ff0e1d10728dffe63f462b2d/src/azure-cli-core/azure/cli/core/_profile.py#L400-L405

As discussed wi

[2021-07-30 14:41] phealy commented on #3714
@yonzhan I don't have access to close this out - can you please do so?

[2021-07-30 15:17] #3714 closed

[2021-07-30 22:27] AverageDesigner commented on #3664
This issue is fixed with the PR https://github.com/Azure/azure-cli-extensions/pull/3723

[2021-08-02 08:32] Klaas- opened #3735 "ssh extension not working in chinese azure"
### Extension name (the extension in question)
ssh

### Description of issue (in as much detail as possible)
The Azure-CLI ssh extension is not working properly. The first issue I am running into is that it seems to be using azure global pas service instead of azure china one.
https://github.com/Azure/azure-cli-extensions/blame/main/src/ssh/azext_ssh/custom.py#L53

https://pas.windows.net/CheckMyA

[2021-08-02 09:50] yonzhan commented on #3735
route to service team

[2021-08-02 21:23] N6UDP commented on #3519
Should be fixed in #3698

[2021-08-02 21:23] N6UDP commented on #3512
Fixed in #3698

[2021-08-02 21:23] N6UDP commented on #3501
Fixed in #3698 and https://github.com/MicrosoftDocs/azure-docs/pull/78826

[2021-08-02 21:25] N6UDP commented on #3283
We now also attempt to find a public key file as part of #3698

[2021-08-02 21:25] N6UDP commented on #2924
Fixed as part of #3698 - additional detection may be done in the future.

[2021-08-02 21:27] N6UDP commented on #3735
#3698 should fix this.

[2021-08-02 21:29] N6UDP commented on #3720
Sadly -- didn't appear to be easy to support given the existing azure cli arguments parser -- for now I've added an additional args parameter as part of #3698

[2021-08-02 21:30] N6UDP commented on #3713
dup of #3501 and fixed in #3698

[2021-08-02 21:32] N6UDP commented on #3520
To be clear support needs to be added on the AAD service side first.

[2021-08-03 01:55] snaheth commented on #3184
Hi @Klaas- we understand why seeing a Resource Group in the results for a query without it in the `project` line is confusing, but as @fenwickt said it's a part of the Azure CLI design, which is out of the ARG (Azure Resource Graph) extensions domain.

@yonzhan Can you route this to the right owner so that Resource Group is not emitted in the results unless specified for extensions like ARG.

[2021-08-03 03:19] jiasli commented on #2924
I will revisit this part when MSAL integration stabilizes.

[2021-08-03 07:33] Klaas- commented on #3735
I've left a comment on the PR, you seem to be using the wrong url for china.

[2021-08-03 18:54] denniseik opened #3746 "Az ML v2: workspace name yml property is ignored"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
Machine Learning v2

### Description of issue (in as much detail as possible)
workspace.yml:
[code]

[code]

When running the above command, although a workspace name is provided in my yaml file, still a name

[2021-08-04 00:39] yonzhan commented on #3746
route to service team

[2021-08-04 05:56] prajwal11 opened #3752 "enable-addons --addons confcom Error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks enable-addons
Extension Name: aks-preview. Version: 0.4.22.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons

[2021-08-04 06:28] yonzhan commented on #3752
route to service team

[2021-08-04 17:41] luigiw commented on #3746
@denniseik thx for reporting the issue, can you share 1) version of your ```ml``` extension and 2) exact error message you got?

[2021-08-04 18:33] denniseik commented on #3746
Version is 2.0.1a3. Error thrown is "Workspace with name productexperimentsc already exists.", which means that my default values are used and not used what is provided in the yaml file @luigiw .

[2021-08-06 19:29] srini247 opened #3760 "az aks enable-addons failing on windows"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks enable-addons
Extension Name: aks-preview. Version: 0.5.25.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons

[2021-08-07 00:20] yonzhan commented on #3760
route to service team

[2021-08-07 12:00] mormond opened #3762 "az connectedk8s proxy fails with KeyError: 'refreshToken'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az connectedk8s proxy
Extension Name: connectedk8s. Version: 1.1.3.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az connectedk8s prox

[2021-08-07 15:52] yonzhan commented on #3762
route to service team

[2021-08-09 07:00] t-bzhan commented on #2905
Hi @rickardp , could you try [arm template](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/overview) or [bicep](https://github.com/Azure/bicep), that should be more friendly for automation.

[2021-08-09 09:26] agrajm opened #3763 "az aks create failed unexpectedly"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create
Extension Name: aks-preview. Version: 0.5.9.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-grou

[2021-08-09 09:37] 00Kai0 commented on #2982
Has been fixed: https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/network/custom.py#L6898.
Can you try again? @ktleach

[2021-08-09 11:12] yonzhan commented on #3763
route to service team

[2021-08-09 21:52] agrajm commented on #3763
So the error was because my WSL clock was messed up and when I reset the clock this works. Although the error message could have been improved but closing as its working now.

[2021-08-09 21:52] #3763 closed

[2021-08-09 22:25] luigiw commented on #3746
@denniseik , thx for reporting this, I was able to reproduce the behavior. It will be fixed in the next ml extension release.

[2021-08-09 23:57] Golovac commented on #2789
I have the same issue. That stops me from doing the automation for the deployment of the data factory. Any news on when it is going to be resolved?
Thanks.

[2021-08-10 03:32] PARADISSEEKR commented on #3168
Do you need other prerequisites to reproduce this problem? I did not find the same problem in the following versions.
azure-cli: 2.27.0
logic: 0.1.4

[2021-08-10 03:32] PARADISSEEKR commented on #2615
Do you need other prerequisites to reproduce this problem? I did not find the same problem in the following versions.
azure-cli: 2.27.0
logic: 0.1.4

[2021-08-10 06:37] shawnxzq commented on #2789
@yonzhan This is a feature request in azure-cli, ADF powershell already supports this, please add this in azure-cli as well and remove the service attention tag, thanks!

[2021-08-10 17:42] BhargaviAnnadevara-MSFT commented on #3496
@Juliehzl Confirming this works on the latest version of `db-up` `0.2.4`. Thanks for the fix!

[2021-08-10 23:23] qpetraroia opened #3766 "AKS Periscope breaking change: Need to supply ContainerName to AKS Periscope from future release v0.5 onwards"
### Extension name (the extension in question)
AKS Periscope

### Description of issue (in as much detail as possible)

AKS Periscope used to read the container name with a hardcoded Kubeconfig. This [PR ](https://github.com/Azure/aks-periscope/pull/96) and this [issue ](https://github.com/Azure/aks-periscope/issues/99) discuss the breaking changes that will occur to each service that has a workin

[2021-08-11 00:24] yonzhan commented on #3766
route to service team

[2021-08-11 19:10] andreyza-tr opened #3770 "az logic workflow show error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az logic workflow show
Extension Name: logic. Version: 0.1.4.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az logic workflow show --r

[2021-08-11 22:54] yonzhan commented on #3770
route to service team

[2021-08-12 17:01] jonathan-jehanno-orange opened #3775 "az network vpn-gateway connection ipsec-policy add issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network vpn-gateway connection ipsec-policy add
Extension Name: virtual-wan. Version: 0.2.7.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here

[2021-08-12 22:13] yonzhan commented on #3775
network

[2021-08-13 05:51] jsntcy commented on #2475
There is no response from customer more than two weeks, so close this issue.

[2021-08-13 05:51] #2475 closed

[2021-08-13 05:52] jsntcy commented on #2317
There is no response from customer more than two weeks, so close this issue.

[2021-08-13 05:52] #2317 closed

[2021-08-14 08:00] #3522 closed

[2021-08-17 16:41] #3384 closed

[2021-08-17 16:50] snaheth commented on #3325
Thanks @Klaas- and apologies for the late response. I'm a PM from the Azure Resource Graph team.

When using Resource Graph, there's two types of throttling/rate limiting you may encounter: [Azure Resource Manager Throttling](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/request-limits-and-throttling) and [Azure Resource Graph Throttling](https://docs.microsoft.com/en-us

[2021-08-17 16:50] #3325 closed

[2021-08-17 18:32] Klaas- commented on #3325
@snaheth so will you raise an issue with az-cli or shall I raise one and reference this issue?

[2021-08-17 19:48] snaheth commented on #2844
Since @chiragg4u addressed the throttling/limits aspect of the question, let me close this by addressing the incorrect results issue you're seeing when you use Azure CLI within PowerShell.

Background: From [Azure CLI "Issues with PS" page](https://github.com/Azure/azure-cli/blob/dev/doc/quoting-issues-with-powershell.md), we see that "In order for a symbol to be received by Azure CLI, you will ha

[2021-08-17 19:48] #2844 closed

[2021-08-17 20:47] snaheth commented on #3325
@Klaas- Please go ahead and raise a new issue referring to this one and the AKS one you linked above.

Having a new issue would showcase more interest for having a quota header handler, so the CLI team is aware of it and can prioritize it eventually, pending their other existing commitments and priorities.

[2021-08-18 05:31] #2982 closed

[2021-08-18 05:31] #3775 closed

[2021-08-18 10:52] ChristopherManthei opened #3790 ""az pipelines runs artifact list" fails on any --project input"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az pipelines runs artifact list
Extension Name: azure-devops. Version: 0.8.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az pipelines runs artifact list --run-id 45747888

[2021-08-18 12:25] yonzhan commented on #3790
route to service team

[2021-08-18 21:30] Turbots opened #3792 "Could not connect to my Azure VM in a given resource group"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ssh vm
Extension Name: ssh. Version: 0.1.5.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ssh vm --resource-group {} --name {}`

[2021-08-18 21:53] yonzhan commented on #3792
route to service team

[2021-08-19 05:44] boribob opened #3795 "(CloudServiceRetryableError) The service encountered an internal error."
## Describe the bug
#### Command Name
`az dataprotection backup-instance restore initialize-for-data-recovery --datasource-type AzureDisk --restore-location koreacentral --source-datastore OperationalStore --recovery-point-id " " --target-resource-id " " > restore.json`

`az dataprotection backup-instance validate-for-restore --name "demoInstance01" --resource-group "demoRG" --vault-name "demoVaul

[2021-08-19 06:00] yonzhan commented on #3795
route to service team

[2021-08-19 06:28] jsntcy commented on #3795
@sambitratha, could you please take a look at this issue?

[2021-08-19 16:26] lindacmsheard opened #3800 "az ml compute show is returning incorrect and more limited info than previously available (e.g. ssh connection info)"
### Extension name (the extension in question)
ml (v2)

### Description of issue (in as much detail as possible)

 There is no way to obtain ssh connectivity information once upgraded to cli v2 (verbose option is missing)

Re command:
[code]
This command incorrectly reflects if ssh/public ip is enabled for a computeinstance, and no longer offers the -v option that was available in `az ml computeta

[2021-08-19 23:52] yonzhan commented on #3800
route to service team

[2021-08-20 19:57] markjgardner commented on #3661
I'm running into this error as well. Digging a little deeper I'm seeing the following error on the extension, looks like the helm install times out waiting on some condition:

[code]

It looks like all of the components installed successfully
[code]

[2021-08-21 00:24] ricardo-espinoza opened #3805 "Quantum extension is using deprecated CLIError() type"
Per recommendation of the core Az CLI team, we'll be updating this type per the new guidelines here:

https://github.com/Azure/azure-cli/blob/dev/doc/error_handling_guidelines.md

[2021-08-21 00:36] yonzhan commented on #3805
route to service team

[2021-08-22 23:59] markrzasa opened #3807 "aks-preview: az aks update --enable-pod-identity fails with 'Bad Request'"
### aks-preview

### Description of issue

Running the following command using a cluster that does not have an autoUpgradeProfile configured fails with a BadRequest error:
`az aks update -n cluster-name -g cluster-resource-group --enable-managed-identity --enable-pod-identity`

Here is the error:
`ERROR: (BadRequest) Feature Microsoft.ContainerService/AutoUpgradePreview is not enabled. Please see

[2021-08-23 02:09] yonzhan commented on #3807
route to service team

[2021-08-23 06:34] #3072 closed

[2021-08-23 08:20] Mossaka opened #3811 "Shell completion for bash, powershell or zsh for ml"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
ml

### Description of issue (in as much detail as possible)
Does azure cli extension natively support shell completion for extensions that added to `index.json`? For example, `az ml`?
-----

[2021-08-23 08:29] yonzhan commented on #3811
route to service team

[2021-08-23 12:31] markrzasa commented on #3807
In case it helps, the following commit looks like it may fix this issue:
https://github.com/Azure/azure-cli-extensions/pull/3808/files

[2021-08-24 14:41] JFolberth commented on #2826
Thie above example queries do not work for me. Both one provided by @mrlepat and @M0ns1gn0r I still get:
`unrecognized arguments: totalCost\:{\name\:\PreTaxCost\,\function\:\Sum\}}`

In addition documentation has not been updated to show that dataset-configuration is not supported.

[2021-08-24 20:59] esttenorio opened #3816 "'IotHubResourceOperations' object has no attribute 'config' - cannot use iot commands via AZ CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

After updating AZ cli, command throws error

**Command Name**
`az iot hub invoke-module-method
Extension Name: azure-cli-iot-ext. Version: 0.8.9.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _

[2021-08-24 22:16] yonzhan commented on #3816
route to service team

[2021-08-25 09:24] NestorRV opened #3819 "az datafactory trigger wait is failing"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az datafactory trigger wait
Extension Name: datafactory. Version: 0.5.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az datafactory

[2021-08-25 10:06] yonzhan commented on #3819
route to service team

[2021-08-25 16:02] vr185123 opened #3820 "Unable to Enable OSM on AKS with Kubenet"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks enable-addons
Extension Name: aks-preview. Version: 0.5.28.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons

[2021-08-26 23:23] sbonds opened #3826 "image-copy resets image hyper-v generation to V1"
### Extension name (the extension in question)

image-copy

### Description of issue (in as much detail as possible)

Why copying an image created for Hyper-V generation 2 VMs the resulting copy made with the image-copy extension has its generation reset back to Hyper-V generation 1.

### Workaround

Avoid using `--cleanup`. Export the image ARM template, change the hyper-V generation, delete the

[2021-08-28 00:49] dainomat opened #3831 "Enabling Container Insights for Azure Arc enabled Kubernetes clusters was failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az k8s-extension create
Extension Name: k8s-extension. Version: 0.4.1.`

**Errors:**
[code]

[2021-08-28 02:02] yonzhan commented on #3831
route to service team

[2021-08-28 03:33] zhoxing-ms commented on #3826
This issue seems to be duplicated with https://github.com/Azure/azure-cli-extensions/issues/2476, so close this one and let's focus on another issue for discussion

[2021-08-28 03:33] #3826 closed

[2021-08-28 03:47] zhoxing-ms commented on #2476
@tamirkamara I see you are the code owner of the `image-copy` extension, may I ask are you still responsible for maintaining this module? If so, please help to look at this issue

[2021-08-28 16:05] PascalBod commented on #3816
I get this error for the following command: `az iot hub device-identity create ...`.

Environment:
* Linux Mint 20.1
* Azure CLI 2.72.2
* azure-iot 0.10.10

[2021-08-29 00:12] sbonds commented on #3826
I agree-- looks like a perfect duplicate. Sorry I missed that in my pre-submission search for existing issues.

[2021-08-29 07:51] kgflying commented on #1920
I hit an weird issue. I ran 2 cmds.

_az image copy --source-resource-group XXX --source-object-name YYY-image --source-type image --target-location eastus --target-resource-group "XXX" --target-name YYY-eastus

az image copy --source-resource-group XXX --source-object-name YYY-image --source-type image --target-location eastus2 --target-resource-group "XXX" --target-name YYY-eastus2_

2nd passed,

[2021-08-29 14:38] zhoxing-ms commented on #1920
@kgflying Could you please send me the debug log via email? Please add parameter `--debug` after the executed commands, and then send the printed email to me. My email address is Zhou.Xing@microsoft.com

[2021-08-29 19:06] kgflying commented on #1920
@zhoxing-ms , I've sent you the log. Thanks for helping!

[2021-08-30 00:12] shawnxzq commented on #3819
@yonzhan From the error, this is not a service side error, I would expect CLI team share more details on how service team can fix it, for example, how to change swagger, or what service side behavior is wrong and etc, thanks!

[2021-08-30 03:44] zhoxing-ms commented on #1920
@kgflying This issue seems to be a problem in creating snapshot in target region from the copied blob. Could you determine the snapshot with name "ANMImage-image_os_disk_snapshot-eastus2" already exist?

If so, this is because a new target storage account will be created for copying the snapshot to the target region every time when the target image is created, which will cause the target blob path

[2021-08-30 06:45] kgflying commented on #1920
@zhoxing-ms , just double checked. "ANMImage-image_os_disk_snapshot-eastus2" does not exist. I only have "
ANMImage-image_os_disk_snapshot"

[2021-08-30 08:28] zhoxing-ms commented on #1920
Because this is an error returned by the REST, so we need the service team to see why this error is returned

[2021-08-30 08:30] t-bzhan commented on #2497
Fixed with https://github.com/Azure/azure-cli-extensions/pull/3394, the issue should be fixed since 1.0.15.
The command goes like:
`az network front-door backend-pool backend update -g FrontDoorExampleResourceGroup -f example-FrontDoor --pool-name exampleBackendBing --index 1 --backend-host-header ""`

Be caution that the backed index should start with 1 and you should use the index returned from

[2021-08-30 08:30] #2497 closed

[2021-08-30 08:35] zhoxing-ms commented on #1920
@grizzlytheodore Could you please help look at the cause of error `Output: Changing property 'sourceUri' is not allowed for existing disk 'YYY-image_os_disk_snapshot-eastus'.`

[2021-08-30 15:01] jonathan-jehanno-orange opened #3837 "az network vpn-gateway connection ipsec-policy add python issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network vpn-gateway connection ipsec-policy add
Extension Name: virtual-wan. Version: 0.2.8.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here

[2021-08-30 19:48] janegilring commented on #2762
I also ran into this when connecting to a VM which only have a private IP. A more user friendly error hinting to try with the --prefer-private-ip would be useful.

[2021-08-30 22:30] yonzhan commented on #3837
network

[2021-08-31 01:38] jiasli commented on #2762
@janegilring, this is a nice suggestion. Let me mark this issue as a feature request.

[2021-08-31 03:05] #3837 closed

[2021-08-31 07:55] YusukeTobo opened #3844 "`az connectedk8s connect` cannot find kubernetes.client."
### Extension name (the extension in question)
connectedk8s

### Description of issue (in as much detail as possible)
In the middle of the instructions below, az connectedk8s cannot find kubernetes.client.
https://github.com/MicrosoftDocs/azure-docs/blob/25169e54940a75e34fcf600a2ffd53f5dff247e2/articles/app-service/manage-create-arc-environment.md

Here is the Traceback.

[code]

### Additional In

[2021-08-31 07:59] yonzhan commented on #3844
route to service team

[2021-09-01 08:57] espenairmine opened #3856 "az iot hub monitor-events fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

az iot hub monitor-events fails

**Command Name**
`az iot hub monitor-events
Extension Name: azure-cli-iot-ext. Version: 0.8.9.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

install az,
add iot h

[2021-09-01 09:30] yonzhan commented on #3856
route to service team

[2021-09-02 14:03] whitneygriffith opened #3863 "Enable MSI Auth for az storage azcopy --auth-mode login"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

azcopy

### Description of issue (in as much detail as possible)

-----

When using a MSI for --auth-mode login to do `az storage azcopy` commands, I get an error that MSI auth not yet supported.

ERROR: MSI

[2021-09-02 21:46] piquet-h commented on #3011
Same issue here with a customer.

Different log analytics workspace in a different subscription and resource group per Cloud Adoption Framework. I don't think it's a CLI issue, I think it's a platform issue as it can be replicated in the portal also.

[2021-09-02 22:25] yonzhan commented on #3863
Storage

[2021-09-07 19:37] panchagnula commented on #3468
@kelvinduan2020 is the issue specific to this command or CLI commands have the problem with running on gitLab

[2021-09-08 08:34] felfa01 commented on #3679
@noamichael Seems to be similar to what I experienced, with the role assignment being expected to be on the specific resource rather than granted through inheritance (like it should for you given it is `Contributor `on the whole RG).

**Service team:** Any updates on this? My implemented work-around adds access requirements that I'd rather not grant at this specific level.

[2021-09-08 13:14] NestorRV commented on #3819
Any update on this @evelyn-ys @yonzhan ? Thanks!

[2021-09-08 18:46] markrzasa commented on #3807
This problem looks to be fixed in version 0.5.31 of the aks-preview extension.

[2021-09-09 03:34] evelyn-ys commented on #3819
Hi @shawnxzq, Since `Triggers_Start` is a LongRunningOperation from swagger definition, Service need to return `provisioningState` when getting `Triggers_Get` for checking status async.

@NestorRV Could you share the debug log with `--debug` to make problem more clear?

[2021-09-09 06:39] NestorRV commented on #3819
Here you can see the debug output @evelyn-ys . I have replaced some parts with `<...>` syntax, I hope it's not a problem!
[code]

[2021-09-09 07:14] evelyn-ys commented on #3819
Thanks @NestorRV!

@shawnxzq As you can see from the debug log, when we try to get provisioningState from `Triggers_Get` for the result of `Triggers_Start`, no state returned which caused CLI break:
[code]

[2021-09-09 08:43] shawnxzq commented on #3819
@evelyn-ys This is not a resource create API, having a "provisioningState" is not meaningful, instead it's an operation against a resource. Please refer to the corresponding PS command for it, can I expect CLI team can fix it and make it work in the same way as PS? Thanks!
https://docs.microsoft.com/en-us/powershell/module/az.datafactory/start-azdatafactoryv2trigger?view=azps-6.4.0

[2021-09-09 11:54] evelyn-ys commented on #3819
Since `Triggers_Start` is claimed to be a long-running-operation, CLI will allow command return immediately and let customer check the status later.
Is there any state(seems not "provisioningState" in this case) we can refer to check the start operation result? @shawnxzq Or do you prefer `az datafactory trigger start` command not to support `--no-wait` any more?

[2021-09-09 12:16] #3807 closed

[2021-09-09 12:16] markrzasa commented on #3807
This problem looks to be fixed in version 0.5.31 of the aks-preview extension.

[2021-09-09 20:32] bpeppers20 opened #3877 "This error pops up when trying to include parameters with the az command: az blueprint assignment update"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az blueprint assignment update
Extension Name: blueprint. Version: 0.3.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az blueprint a

[2021-09-09 21:57] yonzhan commented on #3877
blueprint

[2021-09-10 12:32] t-bzhan commented on #940
The issue should already been fixed, please try with the latest extension and let me know if you still have the same issue.

[2021-09-10 12:32] #940 closed

[2021-09-10 21:05] bpeppers20 commented on #3877
I figured out the issues. I didn't have the json formatted correctly before passing it to the az blueprint assignment update

[2021-09-10 21:05] #3877 closed

[2021-09-12 18:41] blakhani-msft opened #3882 "Incorrect References to PostgreSQL"
I tried creating a Azure SQL Database using az sql up command. The creation went through fine.
The only minor issue is that the output on the screen shows reference to PostgreSQL. Here is the output and highlighted section needs to be removed/corrected.

<snip>
If SQL server declines your IP address, please create a new firewall rule using:
    `az sql server firewall-rule create -g blakhani-azure

[2021-09-12 22:25] yonzhan commented on #3882
sql up

[2021-09-13 02:35] evelyn-ys commented on #3882
Will be fixed in #3874

[2021-09-13 09:06] jobbnas commented on #3679
Having the exact same issue, it still tries to do a role assignment even if the cluster identity has "Managed Identity Operator" on subscription level.

Is there a possibility to fix this, so `az aks pod-identity add`  can handle if we set "Managed Identity Operator" for the cluster identity on a Subscription/Resource group-level?

Setting "Managed Identity Operator" on the specific identity to be

[2021-09-13 18:54] miwithro commented on #3679
@bcho can you look into this?

[2021-09-13 19:12] coryandrewtaylor opened #3884 "Deserialization error in `az databricks workspace list`"
## Describe the bug

**Command Name**
`az databricks workspace list
Extension Name: databricks. Version: 0.7.3.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az login`
- `az upgrade`
- `az extension update -n databricks`
- `az databricks workspace list --resource-group {MyResource

[2021-09-13 19:19] coryandrewtaylor commented on #3884
This error occurred after I logged into Azure via `az login` but did not have an active subscription. I was able to list workspaces successfully by following these steps:

- `az login`
- `az account set --subscription {MySubscription}`
- `az databricks workspace list --resource-group {MyResourceGroup`

[2021-09-13 22:02] yonzhan commented on #3884
route to service team

[2021-09-14 09:00] bcho commented on #3679
Ack, this is because in the cli side, we listed only role assignments at identity level scope: https://github.com/Azure/azure-cli-extensions/blob/cc860fcc385634fb8d503240f41922832d082ba8/src/aks-preview/azext_aks_preview/custom.py#L4162 , where scope is the identity id). In this case we are unable to see the role assignments inherited from resource group / subscription.

I am working on a fix for

[2021-09-14 09:09] norshtein commented on #3679
The same issue for kubelet identity one. It is checking permission using identity resource ID as the scope, and cannot see the inherited permission. Will fix it..

[2021-09-14 15:39] phealy commented on #3831
This does not contain enough information to triage; please provide more environment details, including exactly what command failed *and* what versions of Azure CLI and the extensions you have (include the command line output of `az version`), so that we can take a look.

[2021-09-14 15:41] phealy commented on #3820
Please provide additional details around your bug report, like what the cluster networking configuration was and exactly what command failed. The example in the report has redacted arguments.

[2021-09-15 06:51] #3679 closed

[2021-09-15 10:15] micdudk commented on #3816
I have exactly the same issue trying to run `az iot hub connection-string show` on Azure DevOps hosted agent.

[2021-09-15 22:18] adamjones-lhpt opened #3894 "az cloud-service list fails due to date time parsing error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az cloud-service list
Extension Name: cloud-service. Version: 0.2.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az cloud-service li

[2021-09-15 23:04] yonzhan commented on #3894
route to service team

[2021-09-16 01:42] jsntcy commented on #3894
@zhoxing-ms, please help take a look.

[2021-09-16 06:45] glennvdv commented on #2790
Any alternatives besides the manual setup through the UI? I'm putting my whole azure setup in terraform. Unfortunately function output isn't supportered in terraform also.

[2021-09-16 09:40] jiasli commented on #3884
`az login` will always choose a subscription after successful execution.

- Could you share the result of `az login` before `az account set`?
- Could you share the `--debug` log with the HTTP trace?

[2021-09-17 08:39] Castafiore commented on #2657
I also have the same issue. I need to update the apitoken of the authorization via `az devops service-endpoint update` command, but there is no way to pass the args according to the official docs. Could the docs been updated?

[2021-09-17 17:15] erpellet opened #3902 "az connectedk8s connect fails if helm 3.7.0 is installed"
## Describe the bug

**Command Name**

`az connectedk8s connect
(Extension Name: connectedk8s. Version: 1.1.10.)`

Impossible to onboard a kubernetes cluster to Azure using command `az connectedk8s connect`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- with helm version 3.7.0 instal

[2021-09-17 23:15] yonzhan commented on #3902
route to service team

[2021-09-18 03:17] akashkeshari commented on #3902
@erpellet ,

This is a known issue and we are working on the fix. Meanwhile, please use the helm version < 3.7 if you wish to use az conectedk8s connect.

Thanks

[2021-09-18 03:27] akashkeshari commented on #3844
@YusukeTobo ,

Seems like the connectedk8s extension was not installed properly.
Please try re-installing the extension and try again.

1. az extension remove -n connectedk8s
2. az extension add -n connectedk8s --debug
3. az connectedk8s connect --resource-group $groupName --name $clusterName

Please also share the logs of step #2 mentioned above

[2021-09-20 05:01] ddanboyle opened #3903 "Running azure arc proxy from CloudShell gives python errors"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az connectedk8s proxy
Extension Name: connectedk8s. Version: 1.1.10.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az connectedk8s pro

[2021-09-20 05:03] ddanboyle commented on #3903
Note I am able to get azure arc running from my linux developers box just fine, but trying the same from cloud shell gives above errors.  Perhaps a mismatch of the versions of python installed in the cloudshell versus needed by the connectedk8s extension?

[2021-09-20 05:05] ddanboyle commented on #3903
Note that 'az extension add --name connectedk8s' seemed to run fine, and the update reported no later versions

[2021-09-20 08:53] yonzhan commented on #3903
route to service team

[2021-09-20 09:48] evenh commented on #3565
Any progress here @N6UDP?

[2021-09-20 19:51] mikeeq commented on #2021
Hi All,

It still doesn't work for me (I guess It's due to not updated version of API in python code for this extension), any suggestions?
[code]

[code]

[2021-09-21 08:56] vighneshpp1986 commented on #2021
Same issue for me

(400) Request properties validation failed: Invalid definition type 'ActualCost'; valid values: 'Usage'.

[2021-09-21 13:29] shep1987 opened #3905 "Power BI Pause and Resume"
### Extension name: PowerBiEmbedded

### Description of issue (in as much detail as possible)

Could commands for suspend and resume please be added to this extension

Rest endpoints can be found here:
https://docs.microsoft.com/en-us/rest/api/power-bi-embedded/capacities/suspend
https://docs.microsoft.com/en-us/rest/api/power-bi-embedded/capacities/resume
-----

[2021-09-21 13:37] yonzhan commented on #3905
route to service team

[2021-09-22 02:54] jsntcy commented on #3905
We'll prioritize for this feature support.

https://github.com/Azure/azure-cli-extensions/tree/main/src/powerbidedicated

[2021-09-23 05:40] jsntcy commented on #2826
@JFolberth, @brianstringfellow
You should use `'{\"totalCost\":{\"name\":\"PreTaxCost\",\"function\":\"Sum\"}}'` (use quote instead of double quote)

[2021-09-24 19:28] paulyuk opened #3914 "[Monitor] log-analytics query workspace failing with 'PathNotFoundError', blocking queries"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
log-analytics

### Description of issue (in as much detail as possible)
I'm trying to use the workspace query feature.  This morning it appears to be broken on all my machines, and maybe it is something on the

[2021-09-26 03:09] gary918 opened #3916 "az extension add --name azure-cli-ml fails on MacOS"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
azure-cli-ml

### Description of issue (in as much detail as possible)
#### Describe the bug
az extension add --name azure-cli-ml fails due to 'ERROR: Could not find a version that satisfies the requirement az

[2021-09-26 03:51] yonzhan commented on #3916
route to service team

[2021-09-26 10:03] YusukeTobo commented on #3844
@akashkeshari Thank you so much for helping me. Once I reinstall the extension, I could run `az connectedk8s connect` successfully.

[2021-09-26 10:03] #3844 closed

[2021-09-26 13:49] yangchengs commented on #498
The document https://docs.microsoft.com/en-us/azure/governance/resource-graph/concepts/work-with-data
did not correct the number 5000.

[2021-09-27 05:09] diondrapeck commented on #3916
Hi @gary918 - I wasn't able to reproduce. Is this your first time trying to add this extension? Could you please try removing it and then adding again: https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensions-overview#how-to-uninstall-extensions

[2021-09-27 11:12] akashkeshari commented on #3902
@erpellet ,

This issue has been fixed in the latest release of connectedk8s CLI. (version 1.1.11)
Please upgrade using the cmd 'az extension update -n connectedk8s' ant try again.
Note that the 1.1.11 version of the CLI no longer has dependency on the helm client installed by the user. The CLI, during runtime will download a suitable helm version and use it.

[2021-09-27 17:04] luigiw commented on #3916
Can this be be caused by azureml-core not officially supporting python 3.9 yet? Can you try using python 3.8? @gary918

[2021-09-27 19:13] digimaun commented on #3816
@esttenorio , the legacy IoT extension `azure-cli-iot-ext` has been deprecated for almost 2 years now (in favor of `azure-iot`). Please remove it from your environment. It **will** conflict with `azure-iot`. The only Azure IoT extension you should have installed is `azure-iot`.

@PascalBod Unfortunately updating `azure-cli` will not update your extensions, and in some cases (like the one you are r

[2021-09-27 19:18] digimaun commented on #3856
@espenairmine , please see this comment for how to resolve this issue  https://github.com/Azure/azure-cli-extensions/issues/3816#issuecomment-928192968.

[2021-09-27 19:25] digimaun commented on #575
@davidahoward - Hopefully by now your issue has been resolved. I just wanted to include a data point that `azure-cli-iot-ext` has been long since deprecated in favor of `azure-iot`. Going forward, if you still run into issues with `azure-iot`, you can post questions/problems [here](https://github.com/Azure/azure-iot-cli-extension) for dedicated support.

[2021-09-27 19:36] digimaun commented on #3816
@micdudk  Does this issue still persist using the current latest `azure-iot 0.10.17`?

[2021-09-27 19:46] ascott12humanacom opened #3922 "Az ssh vm not working as expected, requests password instead of using generated certificate"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ssh vm
Extension Name: ssh. Version: 0.1.6.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ssh vm --name {} -g {} --prefer-privat

[2021-09-27 22:30] yonzhan commented on #3922
route to service team

[2021-09-28 06:24] gary918 commented on #3916
Yes. It's my first time to install this extension on this MacBook. However, I've successfully installed azure iot extension and azure databricks extension. I've tried to remove it and reinstall ... still the same issue.

[2021-09-28 06:26] gary918 commented on #3916
Hi, @luigiw , I've tried Python 3.8.5, that issue is still there.

[2021-09-28 07:26] micdudk commented on #3816
@digimaun I don't know, I switched pipeline to ubuntu and haven't tried windows ones.

[2021-09-28 07:43] christian-vorhemus commented on #3816
Have you updated the azure-iot extension to the latest version (`az extension update --name azure-iot`)?

[2021-09-28 12:49] mattthias opened #3925 "`az aks enable-addons` failes with an exception"
## Describe the bug
The comand to enable the addon ´azure-keyvault-secrets-provider`  finished with an exception.

Running the command again shows that the addon is enable for the cluster. So it looks like the command worked.

**Command Name**
`az aks enable-addons
Extension Name: aks-preview. Version: 0.5.33.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argume

[2021-09-28 13:52] jobbnas commented on #3679
Has this been released to aks-preview yet?

[2021-09-28 22:04] yonzhan commented on #3925
route to service team

[2021-09-29 14:10] danhadari74 commented on #3914
you should be using your workspace id and not the workspace name

[2021-09-29 14:33] yonzhan commented on #3914
Monitor

[2021-10-01 17:29] SatyKrish commented on #3679
Released with `0.5.34` version.

`$ az extension show --name aks-preview --query version`
`"0.5.34"`

[2021-10-02 12:23] ollywenn opened #3935 "The command failed with an unexpected error."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account subscription list
Extension Name: account. Version: 0.2.1.`

**Errors:**
[code]

## To Reproduce:

just installed azure cli from msi
first time run.
logged in

- `az account subscription list`

## Expected Behavior
A listing of subscriptions

## Environment Summary
[code]
## Additi

[2021-10-02 12:32] ollywenn commented on #3935
noticed that I had previously set
`az config set core.output=`

After setting
`az config set core.output=jsonc`

'az account subscription list' ran as expected.

WIll leave open as the error message was unexpected error, and could be more specific.

[2021-10-02 22:02] yonzhan commented on #3935
@jiasli for awareness

[2021-10-04 12:56] ezYakaEagle442 opened #3936 "az connectedk8s delete fails as there is no proxy settings params available"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

created with private-preview :

[code]

### Extension name (the extension in question)
[code]
has not as much parameters as the
[code]

[code]

### Description of issue (in as much detail as possible)

Env. : OpenShift OCP 4.6 on-prem

[code]

[code]

----

[2021-10-04 13:08] ezYakaEagle442 commented on #3936
@shashankbarsin @Bozhong68 @Zhong-J
Could you please have a look
Thank you,
Steve

[2021-10-04 13:53] yonzhan commented on #3936
route to service team

[2021-10-04 15:59] csegarragonz opened #3937 "Error when querying for current attestation policy"
## Describe the bug

**Command Name**
`az attestation policy show
Extension Name: attestation. Version: 0.2.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az attestation policy show --resource-group {} --name {} --attestation-type {}`

## Expected Behavior

## Environment Summar

[2021-10-04 17:36] Mossaka commented on #3916
It looks like pip was not able to find `azureml-core=1.33.0` and beyond from this error message
[code]

Could you please manually install `azureml-core=1.33.0` by running `pip install azureml-core=1.33.0`?

[2021-10-04 18:57] rkotagiri opened #3938 "az eventgrid event-subscription list / update commands error"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

az eventgrid event-subscription
### Description of issue (in as much detail as possible)
az cli unexpected error
-----
$ az eventgrid event-subscription list --source-resource-id /subscriptions/93a32d2e-e079-

[2021-10-04 22:33] yonzhan commented on #3938
route to service team

[2021-10-04 22:34] yonzhan commented on #3937
route to service team

[2021-10-05 01:40] #3882 closed

[2021-10-05 11:19] gary918 commented on #3916
@Mossaka , thanks for your reply. Here's what I got when running `pip install azureml-core==1.33.0`
[code]

[2021-10-05 17:08] phealy opened #3941 "repository CI/CD pipelines use ubuntu-16.04 images, which will be removed on 18 October 2021"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

Repository build pipeilne

### Description of issue (in as much detail as possible)

Per the warnings that show on build validation pipelines right now (see [my PR check pipeline](https://dev.azure.com/azure-

[2021-10-05 17:08] phealy commented on #3941
See [virtual-environments/#3287](https://github.com/actions/virtual-environments/issues/3287) for more details.

[2021-10-05 17:36] Mossaka commented on #3916
@gary918 I think your pip index is not pointing to Public PyPi. The newest version of azureml-core in Pypi is 1.34.0: https://pypi.org/project/azureml-core/

Can you check out this installation guide? https://packaging.python.org/tutorials/installing-packages/

[2021-10-05 19:24] nerddtvg commented on #3760
It seems that the addons try to update the configuration for `omsagent` even if no changes are required.

[2021-10-05 19:55] nerddtvg commented on #3760
I found a downgrade to 0.5.12 works. Anything above that fails.

[2021-10-05 22:21] yonzhan commented on #3941
route to service team

[2021-10-06 07:43] gary918 commented on #3916
Thanks for your suggestion, @Mossaka. I've tried re-creating new conda env and upgrade the pip, but I'm still having the error. BTW, `az extension add --name azure-iot `works just fine.

[2021-10-06 08:00] #3831 closed

[2021-10-06 08:00] #3820 closed

[2021-10-12 05:39] PascalBod commented on #3816
@digimaun I updated the IoT extension, and things are OK now. Thanks!

[2021-10-12 05:52] huyu opened #3949 "Can't run list-deleted-path command"
When I tried to run this command
[code]
I got error as below:

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage fs list-deleted-path
Extension Name: storage-preview. Version: 0.7.4.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive i

[2021-10-13 22:44] loga0060 commented on #1592
Hello, is there a way in AFD where we can preserve the key and add to the query string
example request www.abc.com/billing?cm_cat=exacttarget should be routed to something like www.def.com/my-account/login?brand=test&cm_cat=exacttarget  so is there a way to append to the query string and also preserve the query string in request?

[2021-10-14 11:01] mithunshanbhag opened #3966 "'az webpubsub client start' generated an error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webpubsub client start --hub-name MYHUBNAME --user-id MYUSERNAME -n MYRESOURCENAME -g MYRESOURCEGROUPNAME

Extension Name: webpubsub. Version: 0.2.1.`

**Errors:**
[code]

## Environment Summary
[code]
## Additional Context

This issue occurs only for some hub names. For other hub names, i

[2021-10-14 11:23] yonzhan commented on #3966
route to service team

[2021-10-15 04:11] brbrockel opened #3967 "Max retries exceeded with url"
## Describe the bug

Every so often I get the following error.  The only way I know of to resolve is to reboot. Why does this occur and what is the best way to resolve

**Command Name**
`az aks get-credentials
Extension Name: aks-preview. Version: 0.5.5.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensiti

[2021-10-16 05:24] davidack opened #3973 "The `az aks get-credentials` command is failing for me"
### **The `az aks get-credentials` command is failing for me**

The command fails with the error below.

I also tried rotating the cluster certs with `az aks rotate-certs` but I still get this error.

In case it is related, please note that we enabled **Modern auth** and turned on **Security defaults** for our tenant this past Monday (11 Oct).

## Describe the bug

**Command Name**
`az aks get-cre

[2021-10-17 10:31] donalhunt opened #3975 ""az ssh cert --public-key-file {} --file {}" - unexpected keyword argument 'claims_challenge'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ssh cert
Extension Name: ssh. Version: None.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ssh cert --public-key-file {} --file

[2021-10-18 18:45] phealy commented on #3973
Can you try either removing aks-preview (`az extension remove -n aks-preview`) or updating it (`az extension update -n aks-preview`), as we're up to 0.5.34?

[2021-10-19 09:13] konbec opened #3986 "Error on adding NAT collection to the existing firewall policy"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network firewall policy rule-collection-group collection add-nat-collection
Extension Name: azure-firewall. Version: 0.12.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _

[2021-10-20 22:39] donbee opened #3998 "cli-translator is unable to connect to portal2cli.azurewebsites.net:443"
### Extension name (the extension in question)
cli-translator

### Description of issue (in as much detail as possible)

 cli-translator command fails for all resource groups.
**Steps to reproduce:**
Export an arm Template, then try this command:
az cli-translator arm translate --debug --target-subscription SUBSCRIPTION --resource-group ANY_RESOURCE_GROUP --template template.json --parameters para

[2021-10-20 22:53] yonzhan commented on #3998
cli-translator

[2021-10-21 23:48] warren-jones commented on #3805
This issue has been resolved by PR #3997

[2021-10-26 00:28] bbgroesbeck opened #4021 "Error creating repos via az repos create. I've authenticated via PAT and exporting the token. Still throws error."
## Describe the bug

**Command Name**
`az repos create
Extension Name: azure-devops. Version: 0.12.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az repos create --project {} --name {}`

## Expected Behavior
after logging in to az devops i

[2021-10-26 00:42] #4021 closed, assigned to nobody

[2021-10-26 22:17] roy-work opened #4026 ""The public key is of type ssh-rsa, not a certificate.""
### Extension name (the extension in question)
`az ssh`

### Description of issue (in as much detail as possible)

When I attempt to `az ssh vm -g $A_RG -n $A_SERVER`, I get,

[code]

**We do not think this is a true positive authentication error:**

* I've double checked that I am logged into the correct tenant (which is evident by the fact that `az ssh vm` attempted an SSH at all: it was able to

[2021-11-02 13:09] wase90168 opened #4056 "az ssh vm - 'Profile' object has no attribute 'get_msal_token' - az version 2.30.0"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Since latest update `az ssh vm --ip {}` is not working anymore with AzureAD users.

**Command Name**
`az ssh vm
Extension Name: ssh. Version: 0.1.5.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

[2021-11-02 23:00] aatifsyed opened #4058 "Illegal seek when using stdout as output file for az ssh config"
Can't reproduce in a vanilla python interpreter, with the very same arguments ("/dev/stdout" and "a", and I've confirmed that both are strings at the point of execution)

**Command Name**
`az ssh config
Extension Name: ssh. Version: 0.1.5.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

[2021-11-02 23:50] yonzhan commented on #4056
route to service team

[2021-11-03 01:44] yonzhan commented on #4058
route to service team

[2021-11-03 06:20] jschrap opened #4061 "Failure using AAD SSH"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ssh vm
Extension Name: ssh. Version: 0.1.5.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ssh vm -n {} -g {} --prefer-private-ip

[2021-11-03 06:29] yonzhan commented on #4061
route to service team

[2021-11-03 06:59] jschrap commented on #4061
Patch Update of az cli appears to be the cause.
Rolling back to 2.29.2  fixes it.

[2021-11-03 09:39] Sahithi-Modak opened #4063 "Unable to deploy Azure logic app (ZIP deploy)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az logicapp deployment source config-zip
Extension Name: logicapp. Version: 0.1.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az lo

[2021-11-03 09:41] Kalyan-D opened #4064 "Unable to deploy Azure Logic App (ZIP deploy)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az logicapp deployment source config-zip
Extension Name: logicapp. Version: 0.1.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az lo

[2021-11-03 09:42] yonzhan commented on #4063
route to service team

[2021-11-03 09:43] yonzhan commented on #4064
route to service team

[2021-11-03 13:06] jiasli commented on #2924
MSAL-based Azure CLI 2.30.0 has been released on November 02, 2021: https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli#november-02-2021

The old `ssh` extension now fails with

[code]

To solve it, please update `ssh` extension to the latest version `1.8.0` with:

[code]

[2021-11-03 16:09] archidda commented on #4064
@Kalyan-D Is your logicapp in Azure Arc or is it non Arc?

[2021-11-04 09:24] Klaas- commented on #3735
So there were some backend changes, this now works with extension version 0.1.8

[2021-11-04 09:24] #3735 closed

[2021-11-04 09:26] Klaas- commented on #4061
maybe also try to update the ssh extension, latest version should be 0.1.8

[2021-11-04 10:48] jschrap commented on #4061
It's not available yet in westeurope.

az vm extension image list -l westeurope --publisher Microsoft.Azure.ActiveDirectory --output table
Name                 Publisher                                 Version
-------------------  ----------------------------------------  ----------
AADLoginForLinux     Microsoft.Azure.ActiveDirectory.LinuxSSH  1.0.1368.2
AADLoginForLinux     Microsoft.Azure.Activ

[2021-11-04 10:58] Klaas- commented on #4061
no, client side :) `az extension update --name ssh` or something like that

[2021-11-04 18:27] lostmygithubaccount opened #4067 ""az ml job list -o table" no longer working?"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ml job list
Extension Name: ml. Version: 2.0.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ml job list -o table`

## Expected

[2021-11-04 18:59] rweatherly opened #4068 "error using az ssh to linux VM using AADSSHforLinux"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ssh config
Extension Name: ssh. Version: 0.1.8.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az login`
- `az ssh config --file {~/.ssh/config} -n {MyVM01} -g {my-testrg}

[2021-11-04 23:10] yonzhan commented on #4067
route to service team

[2021-11-04 23:11] yonzhan commented on #4068
route to service team

[2021-11-05 17:46] DavidWeshen opened #4074 "az network vpn-gateway connection ipsec-policy deprecated. Not Documented, no alternative?"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Appears that the Ipsec-Policies flag was deprecated at some point (though not documented in the release notes as far as I can tell. https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli) Further the "in-support" property that's referenced isnt found anywhere in the same release documentation, nor

[2021-11-05 23:21] hendrytl opened #4076 "Az identity component not parsing null expiresOn in token"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Either expiresOn is no longer populated when using Azure Cloud Shell, or the component below is not handling null correctly any longer.

This worked on 11/2.
**Command Name**
`az ml endpoint list
Extension Name: ml. Version: 0.0.8.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note tha

[2021-11-05 23:36] yonzhan commented on #4074
network

[2021-11-05 23:38] yonzhan commented on #4076
route to service team

[2021-11-08 02:26] kairu-ms commented on #4074
We are not notified these property will be dropped. We will support the now property ASAP.
https://github.com/Azure/azure-cli/issues/19233

[2021-11-08 03:19] AndrewFromMelbourne commented on #4056
I have had the same issue. I am running az on a Mac installed using Brew. I found a workaround. The issue appears to be with the ssh extension that is downloaded and installed in ~/.azure/cliextensions/ssh
I removed the contents of the directory and next time I ran "az ssh vm --ip {}" I was asked to install the ssh extension. Everything worked after that. Your milage may vary.

[2021-11-08 22:53] archidda commented on #4064
@Kalyan-D  can you share the output of your deploy command with "--debug" parameter?

[2021-11-08 22:53] archidda commented on #4063
@Sahithi-Modak  can you share output of your deploy command with "--debug" parameter?

[2021-11-08 23:30] AndrewFromMelbourne commented on #4061
@Klass- I had the same error using  azure-cli version 2.30.0. Updating the ssh extension to 0.1.8 fixed the issue for me.

[2021-11-09 08:42] lsl-msft opened #4086 "Kusto Extension error when creating kusto cluster by "az kusto cluster create""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az kusto cluster create
Extension Name: kusto. Version: 0.4.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az kusto cluster create -

[2021-11-09 09:21] yonzhan commented on #4086
route to service team

[2021-11-09 17:50] bhushangholave opened #4088 "online-deployment issue "The Managed Inference service creation is taking longer than our normal time""
az --version
azure-cli   2.29.0 *

### az extension list
[
  {
    "experimental": false,
    "extensionType": "whl",
    "name": "ml",
    "path": "/home/icertisadmin/.azure/cliextensions/ml",
    "preview": true,
    "version": "2.0.2"
  }
]

### Description of issue (in as much detail as possible)
 Command:- az ml online-deployment create --name blue --endpoint advanced-ner-endpoint-demo -f dep

[2021-11-09 23:46] yonzhan commented on #4088
route to service team

[2021-11-10 06:33] Sahithi-Modak commented on #4063
Hi @archidda

I'm able to execute above command successfully but observed no workflow is deployed even though status is success.

cmd:

az logicapp deployment source config-zip --name testappworkflow  --resource-group *****--subscription "****" --src LogicAppDemo.zip
Output:

Getting scm site credentials for zip deployment
Starting zip deployment. This operation can take a while to complete ...
De

[2021-11-10 06:39] Sahithi-Modak commented on #4063
Please find attached zip file,

Please let me know if i need to change anything.

[X]<https://modak.com/>

Tekumalla Sahithi

Senior Software Engineer | Modak Analytics LLP

M: +91 9059004642

E: ***@***.******@***.***>

www.modak.com<http://www.modak.com/>

[X]<https://www.facebook.com/ModakData/>

[X]<https://twitter.com/ModakAnalytics>

[X]<https://www.linkedin.com/company/modak/about/>

______

[2021-11-10 06:41] Sahithi-Modak commented on #4063
Please find attached zip file,

Please let me know if i need to change anything.

[2021-11-10 12:08] 9numbernine9 commented on #4056
@AndrewFromMelbourne 's solution worked for me as well. If an update to the extension is required, it would be nice to find out _before_ the stacktrace appears on my terminal. 😃

[2021-11-10 12:16] wase90168 commented on #4056
@AndrewFromMelbourne
Thanks, your solution worked for me.
For the records: I am using Ubuntu20.04 on Windows Subsystem for Linux (Win11).

As mentioned previously it would be realy nice to get that info before the stacktrace...

[2021-11-10 17:19] archidda commented on #4063
Can you confirm if you zip file directly contains the workflow folders and root level artifacts like connections.json.

Take a look at the importat note highlighted in blue here-
https://docs.microsoft.com/en-us/azure/logic-apps/azure-arc-enabled-logic-apps-create-deploy-workflows?tabs=azure-cli#deploy-logic-app

Can you share your zip file for me to take a look? (Please sanitize if it has any sec

[2021-11-10 17:21] Sahithi-Modak commented on #4063
Hello,

Please find attached zip file,

Thanks
________________________________
From: archidda ***@***.***>
Sent: Wednesday, November 10, 2021 10:49 PM
To: Azure/azure-cli-extensions ***@***.***>
Cc: Sahithi Tekumalla ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli-extensions] Unable to deploy Azure logic app (ZIP deploy) (Issue #4063)

Can you confirm if you zip file directly con

[2021-11-10 17:23] Sahithi-Modak commented on #4063
@archidda

i have attached the zip file, it is not showing here, i hope you have received the zip file.

please let me know if you need anything.

[2021-11-10 17:46] diondrapeck commented on #4088
Acknowledged - beginning investigation and will reach out for more information if needed.

[2021-11-10 18:37] archidda commented on #4063
I do not see the zip file attachment. Can you email it to me at archidda@microsoft.com

[2021-11-10 18:40] dbradish-microsoft opened #4090 "Links to release notes do not all work"
Links to release notes in the [Available Azure CLI extensions](https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensions-list?view=azure-cli-latest) autogenerated document takes the reader to the [Azure/azure-cli-extensions code page](https://github.com/Azure/azure-cli-extensions).  Example links are for [aem](https://github.com/Azure/azure-cli-extensions) and [alias](https://github.com/Azur

[2021-11-10 23:05] vs-li commented on #4088
Hi @bhushangholave! We found an error stating that the operation timed out waiting for an image build to complete. If you check the Azure portal, are you able to find an image build error under operation details?

[2021-11-10 23:08] yonzhan commented on #4090
@kairu-ms to help with

[2021-11-10 23:16] vizhur commented on #4088
AzureML doesn't have access to the image build log because of the privacy. Though it is available for the user from the storage associated with the workspace or from the container registry associated with user workspace (ACR task runs). Timeout issue from the image build usually means poor environment specification and pip fails to resolve the conflicts in user dependencies with a reasonable time.

[2021-11-11 06:37] bhushangholave commented on #4088
@vs-li and @vizhur  thank you for your comments.
Looks like some timeout issue to me but it reproducing every time.
Error details in ARM deployments are
[code]
![ARM Failure](https://user-images.githubusercontent.com/3125166/141249777-b8045449-c591-435a-8b9e-79b24f9b1561.PNG)
![Details](https://user-images.githubusercontent.com/3125166/141249782-48115530-e329-4092-bd4c-eb88ab736453.PNG)

[2021-11-11 09:38] gilfreund opened #4094 "Errors attempting to login using az ssh"
Trying to login using az ssh. Worked in the past. Now asked to login (which I did) and then got the message below.

**Command Name**
`az ssh vm
Extension Name: ssh. Version: 0.1.5.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ssh vm --na

[2021-11-11 10:28] bhushangholave commented on #4088
@vs-li In Azure portal Environment tab it is still stuck at installing pip dependencies.
Same environment is working on our other workspace.

2021/11/11 10:05:43 Finished downloading source code
2021/11/11 10:05:43 Creating Docker network: acb_default_network, driver: 'bridge'
2021/11/11 10:05:44 Successfully set up Docker network: acb_default_network
2021/11/11 10:05:44 Setting up Docker configur

[2021-11-11 13:53] AndrevdG opened #4096 "az network firewall policy update: (FirewallPolicyPremiumOnlyProperties) error on standard policy"
## Describe the bug
ran:
_az network firewall policy update --name <Name> --resource-group <rsgname> --threat-intel-mode Deny_
on an existing Azure Firewall Policy in standard mode. This failes with the listed eror message. If running with --debug the command first appears to do a 'GET' to obtain all the properties for the policy, which does not contain the 'identity' property.

When doing the upd

[2021-11-11 14:57] yonzhan commented on #4094
route to service team

[2021-11-11 15:20] yonzhan commented on #4096
network

[2021-11-11 18:09] archidda commented on #4063
@Sahithi-Modak I reviewed your zip file and it is not organized correctly. The zip file needs to contain the root level folders and files directly.

Currently, you have
sampleLogicApp.zip
    -> SampleLogicApp
        -> Stateful
        -> host.json
        -> local.settings.json

Instead, it should be
sampleLogicApp.zip
    -> Stateful
    -> host.json
    -> local.settings.json

Note- uploading

[2021-11-11 18:24] archidda commented on #4063
Sharing this file(v22.zip) that I sometimes use for testing and works for me. I noticed you are missing a connections.json file in your zip as well. Not 100% sure if that makes the difference, but I would add and test.

From: Sahithi-Modak ***@***.***>
Sent: Thursday, November 11, 2021 10:19 AM
To: Azure/azure-cli-extensions ***@***.***>
Cc: Arjun Chiddarwar ***@***.***>; Mention ***@***.***>
Subj

[2021-11-11 18:27] Sahithi-Modak commented on #4063
Archidda,

I haven’t received any zip file and I guess the file was not attached.

It would be helpful if you resend v22.zip file?

Thanks
________________________________
From: archidda ***@***.***>
Sent: Thursday, November 11, 2021 11:54:44 PM
To: Azure/azure-cli-extensions ***@***.***>
Cc: Sahithi Tekumalla ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli-extensions] Unable to d

[2021-11-12 01:44] vizhur commented on #4088
@bhushangholave  you have dependencies conflict. Unfortunately conda swallows pip's log and you cannot see pips struggles. if you pip install -r requirements.txt with those deps with the latest pip you should see where pip gets stuck. There are a bunch of tuckets for pip for those kind of issues, feel free to file one too.

just to unblock yourself you can try to pin pip<=20.2.4 to use old resolve

[2021-11-12 03:33] kairu-ms commented on #4096
Please create policy with `--sku Premium`. Identity only support for 'Premium' sku

[2021-11-12 06:13] AndrevdG commented on #4096
I feel you misunderstood or misread what I wrote. I was updating an existing standard sku policy and at no point did I set identity myself, this was inserted by the az cli network firewall update command.

It is easily reproduced:
run:
`az network firewall policy create -n test-policy -g Group-l westeurope --threat-intel-mode Alert`

or

`az network firewall policy create -n test-policy -g Group-l

[2021-11-12 08:15] bhushangholave commented on #4088
@vizhur you are right, corrected my dependencies file and it worked. But portal or deployment creation needs to throw correct error and logs for debug.

[2021-11-12 08:42] Klaas- opened #4101 "resource-graph query with count no longer working as expected"
### Extension name (the extension in question)
resource-graph 2.1.0 , last known version to work 1.1.0

[code]

### Description of issue (in as much detail as possible)
Version 2.1.0 - not working properly:

[code]

Working version 1.1.0
[code]

I would expect count to show (especially in tsv output, just a "1" in this case for a single record.

-----

[2021-11-12 08:47] yonzhan commented on #4101
route to service team

[2021-11-12 08:48] Klaas- commented on #4101
Workaround:
az graph query -q "project id, name, type | where type =~ 'Microsoft.Compute/virtualMachines' and name =~ 'hostname' | count" --query '{count:count}' -o tsv

[2021-11-12 08:56] Klaas- commented on #4101
Oh I think this is a little different, the output of az graph query has changed.
It used to be a list of objects, now it's an object that includes the previous output as object under the data key. So the general workaround is not what I previously wrote but:
az graph query -q "project id, name, type | where type =~ 'Microsoft.Compute/virtualMachines' and name =~ 'hostname' | count" --query 'data'

[2021-11-12 17:12] archidda commented on #4063
I sent it again over email thread where you shared your Zip file.

[2021-11-12 17:14] Sahithi-Modak commented on #4063
Thanks Arjun,

You can mark this issue as resolved.
It is working as expected.

Once again
thankyou so much for such quick response!!!

________________________________
From: archidda ***@***.***>
Sent: Friday, November 12, 2021 10:42:40 PM
To: Azure/azure-cli-extensions ***@***.***>
Cc: Sahithi Tekumalla ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli-extensions] Unable to deploy

[2021-11-12 18:12] archidda commented on #4063
Cool, happy to help

[2021-11-12 18:14] archidda commented on #4063
@yonzhan can you help close this issue?

[2021-11-12 23:32] #4063 closed

[2021-11-15 03:29] goutam1206 opened #4107 "SSL Error on publishing az cli universal package"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az artifacts universal publish
Extension Name: azure-devops. Version: 0.18.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az artifac

[2021-11-15 04:54] yonzhan commented on #4107
route to service team

[2021-11-15 14:48] h0st opened #4108 "az image copy failed on a snapshot creation"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az image copy
Extension Name: image-copy-extension. Version: 0.2.8.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az image copy --sour

[2021-11-15 14:55] yonzhan commented on #4108
Compute

[2021-11-15 16:31] datcu opened #4109 "Cannot copy image from a region to another"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az image copy
Extension Name: image-copy-extension. Version: 0.2.8.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az image copy --sour

[2021-11-15 23:02] yonzhan commented on #4109
Compute

[2021-11-16 12:02] lexx42 opened #4116 "can't create cluster"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create
Extension Name: aks-preview. Version: 0.5.42.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-gro

[2021-11-16 14:09] yonzhan commented on #4116
route to service team

[2021-11-16 21:19] paulshealy1 commented on #2378
Thanks for the feedback! This is for the v1 CLI. We'll be sure to address this in the v2 CLI: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-configure-cli

[2021-11-16 21:19] #2378 closed

[2021-11-16 21:21] #2824 closed

[2021-11-16 21:22] paulshealy1 commented on #2824
Closing v1 CLI issues. If this continues to occur, please re-open.

[2021-11-17 08:33] #4076 closed

[2021-11-17 14:53] llegouez opened #4119 "ssh generic config fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
ssh generic config fails. It creates a new folder az_ssh_config instead of the expected output file set in parameter and exit on error the filename is incorrect az_ssh_config\*

**Command Name**
`az ssh config
Extension Name: ssh. Version: 1.0.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the beh

[2021-11-17 15:30] michael2m opened #4120 "Cannot show attestation policy"
## Describe the bug

**Command Name**
`az attestation policy show
Extension Name: attestation. Version: 0.2.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az attestation policy show -g {} -n {} --attestation-type SGX-IntelSDK`

## Expected

[2021-11-17 22:27] lazarillo commented on #2824
No, @matthewhall210 , I never found a resolution.

To be fair, the problem somewhat "solved itself"... 99% of the time what I needed was the ML SDK.  I only needed the CLI stuff briefly.  And I haven't needed it again.

[2021-11-17 22:52] yonzhan commented on #4119
route to service team

[2021-11-17 22:53] yonzhan commented on #4120
route to service team

[2021-11-18 02:31] #4074 closed

[2021-11-18 14:06] alexszym opened #4126 "Question: Support for ParallelRunStep in Azure ML CLI Components"
### Extension name (the extension in question)
Azure ML CLI V2

### Description of issue (in as much detail as possible)
-----
The new [Components feature](https://docs.microsoft.com/en-us/azure/machine-learning/reference-yaml-component-command) of the Azure ML CLI V2 looks great!
I would like to know if there is a plan to support Component types other than commands. The Python SDK equivalent has

[2021-11-18 14:15] yonzhan commented on #4126
route to service team

[2021-11-19 01:54] spockmonster opened #4130 "az aks create with '--enable-addons monitoring' options fails with 'DeploymentsOperations' object has no attribute 'create_or_update'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

I'm following the quickstart https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough

these 2 providers are installed:
az provider show -n Microsoft.OperationsManagement -o table
az provider show -n Microsoft.OperationalInsights -o table

this cmd fails:
    az aks create --resource-group MyGroup --n

[2021-11-19 02:11] yonzhan commented on #4130
route to service team

[2021-11-19 02:12] spockmonster commented on #4130
It is noted that the command output states "The behavior of this command has been altered by the following extension: aks-preview"

The Windows machine had previous installed the aks-preview extension for azure cli.  Removing this extension corrected the malbehavior.

Removed the extension with the following az cli command;
az extension remove -n aks-preview

[2021-11-19 02:12] #4130 closed

[2021-11-19 04:33] mario-galindo commented on #4116
I had the same issue please let me know what is wrong, it's happen only when installed the az extension aks-preview

[2021-11-19 23:26] #4064 closed

[2021-11-21 15:21] sonjubei commented on #4116
Spent a while in VS Code trying to get it to work; attempting to use preview functionality of overriding node rg name and separating nodes and pods into different subnets.
Ended up working fine in Cloud Shell:
az aks create -n $clusterName -g $resourceGroup --node-resource-group $nodeResourceGroup vnet-subnet-id  $mcNodeSubscription --pod-subnet-id $podSubscription etc etc

[2021-11-21 22:50] mario-galindo commented on #4116
Thanks @sonjubei  I tried to do that on azure cloud shell and it goes well for me.

[2021-11-22 12:08] gdud opened #4142 "az connectedk8s proxy requires accessTokens.json (and fails in 2.30.0)"
### Extension name

connectedk8s 1.2.0
azure-cli  2.30.0

### Description of issue

-----

After upgrading `azure-cli` to **2.30.0** `az connectedk8s proxy` stopped working and produces such error:

``Failed to load credentials.[Errno 2] No such file or directory: '/root/.azure/accessTokens.json'``

I'm almost sure this is because of Breaking Changes and [deprecation of accessTokens.json](https://

[2021-11-22 23:13] yonzhan commented on #4142
route to service team

[2021-11-23 01:56] AlekseyBlokhin commented on #4116
Works for me after `az upgrade`

[2021-11-23 04:26] divz1323 opened #4144 "resource-graph extension limited to 500 results"
### Extension name (the extension in question)
resource-graph

### Description of issue (in as much detail as possible)
According to the [official documentation](https://docs.microsoft.com/en-us/cli/azure/graph?view=azure-cli-latest#az_graph_query-optional-parameters), maximum number of objects to return using the `--first`  parameter is 1000 but that doesn't seem to be the case. I'm running a ver

[2021-11-23 04:32] yonzhan commented on #4144
route to service team

[2021-11-23 06:23] jaliyaudagedara opened #4145 "az containerapp create: mapping values are not allowed here in components dapr file"
### Extension name
containerapp-0.2.0-py2.py3-none-any.whl

### Description of issue
I am trying to run the following command,
[code]

And my components.yaml looks like this,
[code]
And I am getting this error.
[code]
And I can do `rapr run` locally without any issues.
![image](https://user-images.githubusercontent.com/5653381/143191641-ddd44d7b-05be-4eb2-9861-3d62975136a9.png)

 I am not seeing a

[2021-11-23 06:50] yonzhan commented on #4145
route to service team

[2021-11-23 10:39] perttulaurila opened #4148 "AAD authentication fails with az network bastion ssh"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

Following the instructions here:
https://docs.microsoft.com/en-us/azure/bastion/connect-native-client-windows

### Extension name (the extension in question)
network bastion ssh

### Description of issue (in as much detail as possible)

Certificate based a

[2021-11-23 11:07] yonzhan commented on #4148
network

[2021-11-23 12:14] MickayG opened #4149 "ML Extension v2.0.3 - Unable to authenticate: 'AccountKeyCredentials'` object has no attribute 'key'"
### Extension name (the extension in question)
ml, version 2.0.3

### Description of issue (in as much detail as possible)
Attempting to download a pipeline run's artifacts fails and raises an exception:

[code]

Example command:

[code]

In this instance, the Azure CLI is authenticated via a service principal.
Version 2.0.2 does not raise an exception and completes successfully.

-----

[2021-11-23 13:18] JukkaUusisalo opened #4150 "Az ssh fails after update az cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ssh vm
Extension Name: ssh. Version: 0.1.5.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ssh vm --ip {}`

## Expected Behavior

[2021-11-23 14:25] yonzhan commented on #4149
route to service team

[2021-11-23 14:25] yonzhan commented on #4150
route to service team

[2021-11-23 17:27] BasLangenberg commented on #4061
Hi! I'm a colleague of @jschrap - We've tried to update the client-side ssh extension, and this has fixed the issue for us! Thanks for helping out.

[2021-11-23 17:39] dmeytin opened #4151 "Error when creating new aks cluster using aks-preview"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create
Extension Name: aks-preview. Version: 0.5.42.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --name {} --re

[2021-11-23 19:17] calvinsID commented on #4145
hi @jaliyaudagedara, this error is to do with the yaml parsing. Can you please double check your yaml file contents, specifically in "./components.yaml", line 2, column 7? (spacing, etc)

[2021-11-23 22:22] yonzhan commented on #4151
route to service team

[2021-11-24 01:33] jaliyaudagedara commented on #4145
@calvinsID, I have like triple-checked, it's exactly the same as what I posted above with values replaced.

[2021-11-24 05:59] #4096 closed

[2021-11-24 07:28] jaliyaudagedara commented on #4145
Managed to get it to work, It turned out it's the stupid encoding.

![image](https://user-images.githubusercontent.com/5653381/143193597-96ad6aaf-86f2-4d66-8ac9-35645d773196.png)

[2021-11-24 22:17] asalvo opened #4157 "az ml online-deployment create fails while trying to upload files to workspace storage account"
## Describe the bug

**Command Name**
`az ml online-deployment create
Extension Name: ml. Version: 2.0.3.`

**Errors:**
[code]

**Stack Trace**
[code]
**Response Summary**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
  - Setup your workspace default storage

[2021-11-24 23:36] yonzhan commented on #4157
route to service team

[2021-11-25 21:39] alexszym commented on #4126
Any updates? Is this the right location to post this or is there a different repo I should be posting this on?

[2021-11-29 11:07] gro1m commented on #4090
@dbradish @kairu-ms
Adding to that: I think you do actually have release notes for `az ml`: https://docs.microsoft.com/en-us/azure/machine-learning/azure-machine-learning-release-notes-cli-v2.

[2021-11-29 21:50] LRomano72 opened #4166 "Listing of Logic Apps fails in Dev Environment, works in PROD"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When running the "az logic workflow list" command and specifying a subscription it worked if I accessed our production environment but when I changed to the DEV environment this error was thrown.

**Command Name**
`az logic workflow list
Extension Name: logic. Version: 0.1.4.`

**Errors:**
[code]

## To Reprodu

[2021-11-29 21:52] LRomano72 commented on #4166
Verbose info:
Request URL: 'https://management.azure.com/subscriptions/<removed>/providers/Microsoft.Logic/workflows?api-version=REDACTED'/nRequest method: 'GET'/nRequest headers:/n    'Accept': 'application/json'/n    'x-ms-client-request-id': 'b0456ffd-515d-11ec-9bd6-28d0ea5bbc05'/n    'CommandName': 'REDACTED'/n    'ParameterSetName': 'REDACTED'/n    'User-Agent': 'AZURECLI/2.30.0 (MSI) azsdk-p

[2021-11-30 00:24] yonzhan commented on #4166
route to service team

[2021-11-30 01:48] cloga commented on #4126
@alexszym thanks for reaching out.

Parallel run step support in AzureML CLI v2 is in the list of GA features. You can post AzureML CLI v2 specific issue and requirements here: https://github.com/Azure/azureml-examples/issues

[2021-11-30 13:19] guilhem commented on #4142
Same for me

[2021-11-30 13:42] ahmedsza commented on #4064
hitting a similar issue
output from debug

cli.knack.cli: Command arguments: ['logicapp', 'deployment', 'source', 'config-zip', '--name', 'ahmslogicappstd', '--resource-group', 'logicappstd', '--subscription', 'subid, '--src', 'Draft.zip', '--debug']
cli.knack.cli: __init__ debug log:
Enable color in terminal.
cli.knack.cli: Event: Cli.PreExecute []
cli.knack.cli: Event: CommandParser.OnGlobalArgu

[2021-11-30 22:33] diondrapeck commented on #4157
ack'd. I was unable to reproduce this. @asalvo - how are you handling your authentication? Are you configuring Managed Identity via this page?
![image](https://user-images.githubusercontent.com/16376603/144138360-e8924146-6387-45fd-8e29-87e3cd008ed1.png)

[2021-11-30 22:43] diondrapeck commented on #4149
@MickayG This should be fixed in a re-release of that version. Please run
[code]
to get the update version and try the job download again.

[2021-11-30 23:43] RustedGears18 opened #4176 "No Custom time-period available for 'Yesterday' in 'az costmanagement export create'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**(1)** Unable to use `az costmanagement export create` to generate Yesterday's (Custom) billing data on a daily schedule. No dynamic time-period variable could be found, like _--time-period from=(date -d "yesterday 00:00" '+%Y-%m-%dT00:00:00+00:00') to=(date -d "today 00:00" '+%Y-%m-%dT00:00:00+00:00')_

**(2

[2021-12-01 01:36] yonzhan commented on #4176
route to service team

[2021-12-01 06:00] ahmedsza commented on #4064
azure-cli                         2.30.0

core                              2.30.0
telemetry                          1.0.6

Extensions:
aks-preview                       0.5.42
aks-virtual-node                   0.2.0
application-insights              0.1.14
azure-devops                      0.20.0
azure-firewall                    0.12.0
connectedk8s                      1.1.10
db-up

[2021-12-01 07:02] ahmedsza commented on #4064
I tried
 _az functionapp deployment source config-zip --name ahmslogicappstd    --resource-group logicappstd --subscription XXXXX  --src Draft.zip_

and that seems to work. did not test a lot but seems to work..

[2021-12-01 10:34] emulic commented on #1988
We have the same issue and questions for our IoT project. Can someone provide some answers?

[2021-12-01 12:25] legigor opened #4181 "The `ssh` extension generates invalid paths in ssh config file when multiple host patterns are used"
### Extension name (the extension in question)

`ssh`

[code]

### Description of issue (in as much detail as possible)

❗ The issue arrived with version `1.0.0` and was not actual for `0.1.*`

When I have multiple hosts in the getting config expression like this

[code]

It populates the following config

[code]

Where `Host` directive is correct, but when I try to connect to a host I get the fol

[2021-12-01 12:38] yonzhan commented on #4181
route to service team

[2021-12-01 21:35] RustedGears18 commented on #4176
@jsntcy thank you for looking at this

[2021-12-02 00:57] aavalang commented on #4148
this is an issue with changes to ssh and az beyond versions 2.26 and 0.1.5 for ssh.

[2021-12-02 03:28] diondrapeck commented on #4149
@yonzhan please close

[2021-12-02 04:16] asalvo commented on #4157
Here is what I have for that page for the default/workspace data store. The intent is to use Managed Identities for everything.

<img width="435" alt="image" src="https://user-images.githubusercontent.com/164835/144356577-52a38667-7209-455d-bf50-61c6b86b8c92.png">

[2021-12-02 16:52] guillermosaez commented on #1717
Despite of having a "hacky" workaround thanks to @aucinc123, I think this feature should be included in az pipelines release.

[2021-12-02 19:35] RustedGears18 commented on #4176
Note: We discovered that there is often a 72hour holding period for billing records; so instead of 'Yesterday' we are now interested in something like a 7 day rolling log instead. In the Azure portal UI we have the option to select "Last7Days" for the timeframe, but this option is unavailable when attempting to create an export through the cloudshell CLI.

![az_costmanagement_portal_create_export_

[2021-12-02 19:36] luigiw commented on #4157
Hello @asalvo, I'll file a feature request to support credential-less datastore access for the CLI v2. In the meantime, can you enable "Save credentials with the datastore for data access" and try again?

[2021-12-03 09:06] alexszym commented on #4126
Thanks @cloga that's great news. I'm going to close this issue.

[2021-12-03 09:06] #4126 closed

[2021-12-06 11:55] prasannshah opened #4193 "Error occurs when i try to do az ssh.... 'Profile' object has no attribute 'get_msal_token'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ssh vm
Extension Name: ssh. Version: 0.1.5.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ssh vm --resource-group {} --vm-name {

[2021-12-06 21:23] archidda commented on #4064
Where are you running the command? I was expecting the output in the form on JSON.

[2021-12-07 07:17] ahmedsza commented on #4064
here is the output in json format. I might have set my default output for az cli to table at some point

{
  "azure-cli": "2.30.0",
  "azure-cli-core": "2.30.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "aks-preview": "0.5.42",
    "aks-virtual-node": "0.2.0",
    "application-insights": "0.1.14",
    "azure-devops": "0.20.0",
    "azure-firewall": "0.12.0",
    "connectedk8s": "1.1

[2021-12-07 18:46] archidda commented on #4064
Do you still face the issue if you set your default output to json instead of table?

[2021-12-07 22:31] calsim113 opened #4199 "az sentinel alert-rule list command does not return the expected number of alert rules"
**Describe the bug**
`az sentinel alert-rule list` command does not return the expected number of alert rules. From the portal, we see that we have 181 alert rules enabled, but the az command only returns 143. This is true when using the Azure REST API directly as well.

**To Reproduce**
- see the number of alert-rules enabled from Microsoft Sentinel in the Azure portal.
- request the number of al

[2021-12-08 02:41] jiasli commented on #4193
Please update to the latest version of `ssh`.

[2021-12-08 02:41] #4193 closed

[2021-12-08 02:42] jiasli commented on #4199
Routing to service team.

[2021-12-08 17:17] cforce opened #4200 "az ssh vm does not work on WSL"
az ssh vm --subscription XXXXXXXXXXXXXXXXXXX --resource-group XXXXXXXXXXXXXXXXXXXXXX --vm-name vm-07 --prefer-private-ip
'\\wsl$\Ubuntu-20.04\home'
CMD.EXE was started with the above path as the current directory.
UNC paths are not supported.  Defaulting to Windows directory.
'\\wsl$\Ubuntu-20.04\home'
CMD.EXE was started with the above path as the current directory.
UNC paths are not supported.

[2021-12-09 09:44] ahmedsza commented on #4064
That fixed it - setting the default to json  with
 az config set core.output=json

I would however have expected that it should have worked with table (everything else seems too)

[2021-12-09 10:11] fschim opened #4205 "Error when trying to update load-balancer-outbound-ips with aks-preview extension"
### Describe the bug
---
Fail to update load-balancer-outbound-ips with aks-preview extension installed
[code]

However once `aks-preview` extension is removed, the same command could be executed without error.

### Expected Behavior
---
Command should not fail even with `aks-preview` extension installed.

### Environment Summary
---
Azure CLI docker
[code]

[2021-12-09 20:25] thomasoliveira opened #4207 "Validation for CommandJobSchema fails for valid YAML passed to `az ml job create`"
## Describe the bug

**Command Name**
`az ml job create
Extension Name: ml. Version: 2.0.1a5.`

**Errors:**
[code]

## To Reproduce:

- YAML file:

$schema: https://azuremlschemas.azureedge.net/latest/commandJob.schema.json
command: test
environment: azureml:my_env:1
compute: azureml:my_compute

- `az ml job create -f file_above.yml --resource-group {} --workspace-name {} --query name`

## Expecte

[2021-12-09 20:45] thomasoliveira commented on #4207
The problem disappears if the YAML file is changed to:

$schema: https://azuremlschemas.azureedge.net/latest/commandJob.schema.json
command: test
environment: azureml:my_env:1
compute:
  target: azureml:my_compute

[2021-12-09 21:05] stick109 opened #4209 "`az cloud-service create` - always gives error `(PackageUriForbidden) Error:AuthenticationFailed`"
However, SAS signature is correct, using the same URL I can access and download the package even from incognito browser session. My hunch is that the root cause is unrelated to `--package-url` parameter and the error message is incorrect. Also, documentation for this parameter is insufficient.

This is critical issue / blocker. Thank you.

[2021-12-09 21:14] dbradish-microsoft commented on #4090
@gro1m, I'm not following how release notes for `az ml` pertains to the autogenerated extensions page which takes readers to the top-level code page for other modules.  However, following your ML link above, I'm getting a 404 from the [Available Azure CLI extensions](https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensions-list?view=azure-cli-latest) page.

https://github.com/Azure/azure-cl

[2021-12-10 16:49] gro1m commented on #4090
@dbradish-microsoft This link should work:

https://docs.microsoft.com/en-us/azure/machine-learning/azure-machine-learning-release-notes-cli-v2

Should be the same as above :) But it is not the broken link published on the Available Azure CLI extensions page.

[2021-12-10 21:19] stick109 commented on #4209
@jiasli Thank you for moving it forward, but I think you mislabeled it. `az create-service` command creates [**azure cloud service (extended support)**](https://docs.microsoft.com/en-us/azure/cloud-services-extended-support). It has nothing to do with Analysis Services.

cc @athipp, @taiwu, @minghan

[2021-12-10 22:40] suresh88 commented on #3916
I am facing the similar error on Ubuntu.
The 'azure-cli-ml' extension version 1.33.1 is not compatible with your current CLI core version 2.31.0.
This extension requires a min of 2.3.1 and max of 2.29.2 CLI core.
Please run 'az upgrade' to upgrade to a compatible version.
'ml' is misspelled or not recognized by the system.

How to fix this?

[2021-12-10 23:32] suresh88 commented on #518
Nothing is working, its really frustrating to use the examples provided by Microsoft. These are some of the errors I am facing:
unrecognized arguments: amlcompute --vm-size STANDARD_D2_V2 --max-nodes 1
'folder' is misspelled or not recognized by the system.

[2021-12-12 23:15] archidda commented on #4064
You are right, it should have worked. I will log a bug to get it fixed in the next release.

[2021-12-13 04:02] jsntcy commented on #4200
VM SSH

[2021-12-13 04:02] jsntcy commented on #4207
Route to service team

[2021-12-13 04:03] jsntcy commented on #4205
Route to service team

[2021-12-13 08:32] jsntcy commented on #4176
@RustedGears18
Can you try to use `--timeframe "Custom"` with correct `--time-period` format (as example below) to see if it resolves your issue?

[code]
Please see more details in CLI command [docs](https://docs.microsoft.com/en-us/cli/azure/costmanagement/export?view=azure-cli-latest#az_costmanagement_export_create-examples).

BTW, we don't have value `TheLast7Days` for `--timeframe` and what yo

[2021-12-13 08:39] jsntcy commented on #4150
@vthiebaut10, please help take a look.

[2021-12-13 08:40] jsntcy commented on #4181
@vthiebaut10, please help take a look.

[2021-12-13 09:33] Tatsinnit commented on #3766
☕️ please note this work is merged as part of #3971 , please feel free to close this tracking issue or if he ever a newer version gets released. Thanks !

[2021-12-13 13:51] calsim113 commented on #4199
Thank you. When can I expect an answer?

[2021-12-13 14:41] DamianBorndorff commented on #3916
@suresh88 thank you for the info that the max version is 2.29.2.
Could you please give me a hint where to find this information?

For your problem: try to execute `az extension add -n ml -y`

[2021-12-13 15:38] imihalcea opened #4218 "Fail executting command: az kusto cluster create"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az kusto cluster create
Extension Name: kusto. Version: 0.4.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.
Execute this command:

az kusto cluster create --name TotoExplorer --

[2021-12-13 15:47] vthiebaut10 commented on #4150
@JukkaUusisalo could you update the ssh extension to the most recent version 1.0.0?

[2021-12-13 18:40] needuv commented on #4207
Hi @thomasoliveira, the schema you linked is only valid with the latest release of the ml extension (2.0.3). There have been a few breaking changes since 2.0.1a5, so please update your ml extension to the latest version. You can do this by running

[code]

[2021-12-14 15:38] lehmus opened #4225 "Azure ML R Managed Endpoint Deployment fails: Deployment template language expression evaluation failed: 'Unable to evaluate language function 'concat'"
## Describe the bug

**Command Name**
`az ml online-deployment create`

Extension Name: ml. Version: 2.0.3.

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Build custom Dockerfile and push it to the Workspace Container Registry
- Prepare R inference script, endpoint.yml and deployment

[2021-12-14 16:41] agileramblings opened #4227 "`az logic workflow list` fails immediately"
## Describe the bug
This command simply does not work. I am authenticated with a subscription with LogicApps present

**Command Name**
`az logic workflow list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az extension add --name logic`
- `az login`
- `az logic workflow list`

## E

[2021-12-15 06:33] jiasli commented on #4227
Routing to service team.

[2021-12-15 08:24] lehmus commented on #4225
I got more information about the error by deploying the endpoint locally. The deployment seems to fail because the dockeruser is not an elevated account, thus is missing write permission to the /var/app directory.

If changed the Dockerfile so that all operations are executed as root. This fixed the previous problem, but now it ran into a new error: `AttributeError: 'NoneType' object has no attrib

[2021-12-15 19:51] dsandii opened #4231 "Changes to `az ml environment` creation no longer allows for environment variables"
### Extension name (the extension in question)
`ml`

### Description of issue (in as much detail as possible)
As of [this](https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli#november-02-2021) update to the CLI, `az ml environment register` no longer exists and instead it seems `az ml environment create` is preferred.

However, in the [new schema](https://docs.microsoft.com/en-us/az

[2021-12-16 12:16] twitek opened #4240 "az costmanagement query does not support paging"
**Describe the bug**
Executing a query using az costmanagement query returns at most 1000 rows

**To Reproduce**
Perform a query that would return more than 1000 rows (long period of time or have many resources) -> Only 1000 rows are fetched.

**Expected behavior**
All rows, or an option to paginate.

**Environment summary**
Latest Docker Image

[2021-12-16 17:31] paulshealy1 commented on #2485
Thanks for the feedback! We'll address this in the next release.

[2021-12-16 19:30] ghost opened #4238 "Help-carl817"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az kusto cluster create
Extension Name: kusto. Version: 0.4.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az kusto cluster create -

[2021-12-17 02:31] jiasli commented on #4240
Routing to service team.

[2021-12-17 06:33] FumingZhang commented on #4205
Hi @fschim, sorry for the inconvenience, the issue has been fixed in v0.5.48 ([PR #4232](https://github.com/Azure/azure-cli-extensions/pull/4232)), please update to the latest version via `az extension update -n aks-preview`.

[2021-12-17 06:36] FumingZhang commented on #4151
Hi @dmeytin, sorry for the inconvenience, please update both azure-cli (2.31.0, via `az upgrade`) and aks-preview (0.5.48, via `az extension update -n aks-preview`) to the latest version.

[2021-12-17 06:50] FumingZhang commented on #4116
Hi @lexx42, @mario-galindo @sonjubei and @AlekseyBlokhin, sorry for the inconvenience, please update both azure-cli (2.31.0, via `az upgrade`) and aks-preview (0.5.48, via `az extension update -n aks-preview`) to the latest version.

[2021-12-17 06:50] #4116 closed

[2021-12-17 07:05] lexx42 commented on #4116
Thanks @FumingZhang!  Works now as expected.

[2021-12-17 15:44] vthiebaut10 commented on #4181
@legigor Thank you for bringing this problem to our attention. We will have if fixed on the next release of the extension. Meanwhile, another possible workaround is to use the --keys-destination-folder parameter to save the generated keys on a different folder. For example:
`az ssh config --ip '*.internal 10.31.*' --file ~/.ssh/azure/config --keys-destination-folder ~/.ssh/azure/mykeys`

[2021-12-17 17:17] lehmus commented on #4225
It seems that the error message in the title of this issue is given whenever the deployment YAML file contains errors. I was able to fix the previous error by adding a conda environment file (which doesn't make any sense, since I'm using a custom image...)

Now I got the same error about 'concat' again. Deploying locally with the --debug flag, the following error is revealed:

[code]

[2021-12-17 20:52] dksimpson opened #4248 "az sentinel data-connector create returns an error"
**Describe the bug**
Using ```az sentinel data-connector create``` with the expected arguments produces an error and the data connector is not created.

Error returned:
[code]

**To Reproduce**
Enter the following command in a desktop PowerShell window or the Cloud Shell on the Azure portal:
```az sentinel data-connector create --office-data-connector tenant-id="{11111111-1111-1111-1111-aaaaaaaaaa

[2021-12-17 23:51] dksimpson opened #4247 "Autogenerate new object IDs for az sentinel create commands"
**Is your feature request related to a problem? Please describe.**
The `az sentinel data connector create`, `az sentinel alert-rule create`, `az sentinel boomark create`, `az sentinel incident create`, and `az sentinel incident-comment create` commands all require the user to supply an ID to use for the new objects.

**Describe the solution you'd like**
It might be more convenient and intuitive fo

[2021-12-20 05:34] fschim commented on #4205
@FumingZhang Thanks for the quick response.
Tried with aks-preview 0.5.48 and the command could go through now without error.

[2021-12-20 05:34] #4205 closed

[2021-12-20 07:18] jsntcy commented on #4231
Route to service team.

[2021-12-20 07:19] jsntcy commented on #4225
Route to service team.

[2021-12-20 07:29] jsntcy commented on #4240
@mrlepat, could you please help take a look?

[2021-12-20 07:31] jsntcy commented on #4238
Route to service team.

[2021-12-20 07:31] jsntcy commented on #4218
Route to service team.

[2021-12-20 09:04] herminio-iovio opened #4246 "Inclusion of command `-test-connection` in `az datafactory linked-service`"
Dear Support Team,
Releasing a data factory, using the endorsed mechanism suggested in Microsoft (Azure-Devops) through an ARM Template, ends up in a manual process, that to some degree contradicts the entire CI/CD. This is the process of "Publish" and "Test Connection" per linked service.

**Question**
Could you consider adding a `az datafactory linked-service -test-connection` command so that af

[2021-12-20 16:32] Tapanila opened #4303 "AppService plan listing doesn't work"
## Describe the bug

**Command Name**
`az appservice plan list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- az appservice plan list --query "[?sku.tier=='Free']"

## Expected Behavior

Get list of appservice plans

## Environment Summary
[code]
## Additional Context

[2021-12-20 18:45] mrlepat commented on #4240
Hello @twitek, @jsntcy
Query API does return a nextLink as part of the properties object.
It is not fully supported in our az bundle yet. To unblock, you can grab the nextLink from the response and call the api directly.

[2021-12-20 20:33] twitek commented on #4240
@mrlepat Thanks a lot for getting back to us!

Yes, that is what we are doing right now (via `az rest`), it was just unexpected & silent, so I though I'd raise it for awareness.

We were just wondering about the big difference in costs in our scripts vs. the Azure Cost Explorer, and it took us a while to figure that one out :)

[2021-12-21 00:04] mrlepat commented on #4240
my pleasure @twitek! this is great feedback... I will work with my team to update the documents and fix the az sdk.

[2021-12-21 00:04] #4240 closed

[2021-12-21 01:06] #4149 closed

[2021-12-21 07:50] jiasli commented on #4246
Routing to service team.

[2021-12-21 07:51] jiasli commented on #4247
Routing to service team.

[2021-12-21 08:04] jiasli commented on #4248
Routing to service team.

[2021-12-21 14:20] pbeckendorf-gkgab commented on #4148
Any News or temporal horizon when a Solution might rise up on this Issue?

[2021-12-21 16:32] dbradish-microsoft opened #4250 "Azure Front Door autogen content is missing information on classic vs premium"
We have two Azure Front Door modules in our autogenerated reference content:

[az network front-door](https://docs.microsoft.com/en-us/cli/azure/network/front-door/backend-pool)
[az afd](https://docs.microsoft.com/en-us/cli/azure/afd)

It is not clear which commands are for classic (az network front-door) and which module is for premium (az afd).

Can any of the reference commands be used in both

[2021-12-21 18:13] orhasban commented on #4218
Thanks for the feedback. We will work to fix that broken experience.
The issue is that you provided dev SKU with Standard sku tier. Dev sku has Basic tier.

The following should work:
az kusto cluster create --name TotoExplorer --resource-group bh2-cloud-monitoring-dev --sku name="**Dev(No SLA)_Standard_E2a_v4**" capacity=1 tier="**Basic**" --location westeurope

[2021-12-21 18:45] Mossaka commented on #4225
Hey @lehmus , thanks for reporting this issue. The engineering team will help to investigate this issue. In the meantime, you can use `az ml online-deployment get-logs --name my-deployment --endpoint-name my-endpoint --lines 100 --resource-group my-resource-group --workspace-name my-workspace` to get the logs for your online deployment to help diagnose the current issues.

If you had a hard time f

[2021-12-21 18:59] Mossaka commented on #4231
We still maintain the v1 CLI [azure-cli-ml](https://docs.microsoft.com/en-us/azure/machine-learning/reference-azure-machine-learning-cli), which has the verb `az ml environment register` you can use to enable the workflow. At the current stage of the v2 CLI, I don't think we have the feature parity on environment to allow inserting environment variables to  Docker images.

[2021-12-21 20:48] aavalang commented on #4148
this is tagged in the wrong repo. THis has been fixed in azure-cli as this is not part of cli-extensions yet.

[2021-12-22 00:36] yonzhan commented on #4250
route to service team

[2021-12-22 03:12] Frey-Wang commented on #4246
Hi @herminio-iovio, we will track this.

[2021-12-22 03:12] #4246 closed

[2021-12-24 11:04] mingqxu opened #4256 "az crashed while creating a kusto cluster"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az kusto cluster create
Extension Name: kusto. Version: 0.4.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az kusto cluster create -

[2021-12-24 11:16] mingqxu commented on #4256
The reason was that the cluster-name already exists.

[2021-12-24 14:36] yonzhan commented on #4256
route to service team

[2021-12-28 11:22] prabhuofficial opened #4267 "[Spring-Cloud] Unable to deploy application after upgrading to version 2.12.2"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az spring-cloud app deploy
Extension Name: spring-cloud. Version: 2.12.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az spring-clou

[2021-12-28 14:47] yonzhan commented on #4267
route to service team

[2021-12-28 17:13] Tea23 commented on #4181
I am experiencing a possible variant of this bug. A developer's user directory contains a space, so `C:\Users\Firstname Lastname`

When they run `az ssh vm --ip ip.of.vm` they get the following:

`command-line line 0: garbage at end of line; "Lastname\\AppData\\Local\\Temp\\aadsshcert9p1jsvkh\\id_rsa.pub-aadcert.pub".`

As an attempt at a workaround we followed @vthiebaut10's suggested workaround

[2021-12-28 17:27] Syndrol opened #4269 "az app deploy error on Windows"
## Describe the bug
I follow the Microsoft learn module; "Deploy Spring microservices to Azure", but I get the following error when I try to deploy either app using azure CLI. My computer doesn't even have a D:-drive, so I don't understand the error.

**Command Name**
`az spring-cloud app deploy
Extension Name: spring-cloud. Version: 2.12.2.`

**Errors:**
[code]

## To Reproduce:
- az spring-cloud

[2021-12-28 17:36] vthiebaut10 commented on #4181
@Tea23 Yes, that is a variant of the same bug. That will be fixed on the next release. For now, creating a config file with a --keys-destination-folder and using that config to connect to your resource should be working.
What exactly happens when you run:
`az ssh config --ip ip.of.vm --file e:\config --keys-destination-folder e:\keys`
`ssh -F e:\config ip.of.vm`

[2021-12-28 22:13] AngeloVK opened #4270 "JSONDecodeError while deploying app to PRD"
## While trying to deploy new spring boot application to azure spring cloud i'm getting JSONDecodeError.

**Command Name**
`az spring-cloud app deploy
Extension Name: spring-cloud. Version: 2.12.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- build a local spring boot jar with con

[2021-12-29 00:20] yonzhan commented on #4269
route to service team

[2021-12-29 00:22] yonzhan commented on #4270
route to service team

[2021-12-29 03:14] OomoonoO opened #4271 "挑战-将Spring 微服务部署到 Azure-生成 Spring Boot 微服务-部署应用程序报错"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az spring-cloud app deploy
Extension Name: spring-cloud. Version: 2.12.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az spring-clou

[2021-12-29 06:00] yonzhan commented on #4271
route to service team

[2021-12-29 06:13] yuwzho commented on #4267
@prabhuofficial Thanks for reporting the issue, we are on the way fixing it. To unblock your usage, you can install the previous version `2.12.1` by running command:

[code]

[2021-12-29 06:14] yuwzho commented on #4269
@Syndrol  Thanks for reporting the issue, we are on the way fixing it. To unblock your usage, you can install the previous version `2.12.1` by running command:

[code]

[2021-12-29 06:14] yuwzho commented on #4270
@AngeloVK Thanks for reporting the issue, we are on the way fixing it. To unblock your usage, you can install the previous version `2.12.1` by running command:

[code]

[2021-12-29 06:14] yuwzho commented on #4271
@OomoonoO Thanks for reporting the issue, we are on the way fixing it. To unblock your usage, you can install the previous version `2.12.1` by running command:

[code]

[2021-12-29 06:28] LGDoor commented on #4267
#4268

[2021-12-29 06:29] LGDoor commented on #4269
Fixing in #4268

[2021-12-29 06:29] LGDoor commented on #4270
Fixing in #4268

[2021-12-29 06:30] LGDoor commented on #4271
Fixing in #4268

[2021-12-29 14:57] lehmus commented on #4225
I made a few changes to the deployment definition (model & environment). Again, deploying locally reveals the actual error message:

[code]

I also tried to deploy to Azure and fetch the logs as @Mossaka commented. But this command also runs into an error:

[code]

This is the refined `deployment.yml`:

[code]

As a side note, deployment seems to require the `model` schema, although it should be o

[2021-12-29 21:09] AngeloVK commented on #4270
@yuwzho downgrade fixed issue! Thnx

[2021-12-30 09:16] TorHvalT opened #4281 "Error during deployment of spring-cloud app"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az spring-cloud app deploy
Extension Name: spring-cloud. Version: 2.12.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az spring-clou

[2021-12-30 10:43] yonzhan commented on #4281
route to service team

[2021-12-30 18:34] #4270 closed

[2021-12-31 11:46] rmnunes opened #4284 "node upgrade image-only"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks nodepool upgrade
Extension Name: aks-preview. Version: 0.5.48.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks nodepool up

[2021-12-31 13:52] yonzhan commented on #4284
route to service team

[2021-12-31 14:45] rmnunes commented on #4284
++ I deleted the .azure folder and it start to work again.

[2022-01-03 09:44] alex200789 commented on #4148
@aavalang
You sure that this is a duplicate? Stacktrace looks completely different to me.
I'm getting exact same Error with CLI 2.31.0 and ssh extension 1.0.0
![image](https://user-images.githubusercontent.com/39398964/147916984-7f25700e-7b45-4c41-9437-a6b6cd6876c8.png)

[2022-01-03 17:18] aavalang commented on #4148
@alex200789 yes, fix for the mentioned issue is for this as well.

This is fixed with 2.32 I believe.

[2022-01-04 05:11] MarkusRa1 opened #4290 "Hard to interpret error when deploying application"
## Describe the bug
I was following the guide found on "Deploy Spring microservices to Azure ->  Build a Spring Boot microservice". It's close to impossible to understand what went wrong with the error message under.

**Command Name**
`az spring-cloud app deploy
Extension Name: spring-cloud. Version: 2.12.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument

[2022-01-04 05:27] yonzhan commented on #4290
route to service team

[2022-01-04 07:01] yuwzho commented on #4290
@MarkusRa1 There was a bug introduced in 2.12.2. You can upgrade the extension spring-cloud to the latest version by running the command `az extension update -n spring-cloud`

 Sorry for the inconvenience.

[2022-01-05 04:37] MarkusRa1 commented on #4290
It works, thanks!

[2022-01-05 11:41] PixelRobots opened #4296 "AKS - No validation on --node-osdisk-type switch."
## Describe the bug
When creating a new node pool using the cli and you do not specify the node type as Managed with a capital M then the node pool will be created but with Ephemeral disk type. No warnings that this will happen either.

**Command Name**
`az aks nodepool add
Extension Name: aks-preview. Version: 0.5.31.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior.

- `az

[2022-01-05 12:59] yonzhan commented on #4296
route to service team

[2022-01-05 15:02] phealy commented on #4296
See Azure/azure-cli-extensions#4296 for the aks-preview issue

[2022-01-05 15:38] masonhuemmer opened #4297 "AttributeError: 'AssignmentsOperations' object has no attribute 'cli_ctx'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az blueprint assignment update
Extension Name: blueprint. Version: 0.3.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az blueprint a

[2022-01-05 22:35] yonzhan commented on #4297
blueprint

[2022-01-06 15:03] martinpeck opened #4301 "Enhance azure-firewall extension to include explicit support for allocation and deallocation of firewalls"
### Extension name (the extension in question)
azure-firewall

### Description of issue (in as much detail as possible)

The Powershell commands for Azure Firewall include Allocate and Deallocate. This is useful if you're trying to save money in test/dev environments where you want to switch things off for a bit, and then turn them back on, without having to tear down and redeploy.

e.g.

[code]

[2022-01-06 22:54] yonzhan commented on #4301
network

[2022-01-07 20:21] panchagnula commented on #4303
@StrawnSC can you take a look this seems to be related to the AppServicePlan-kube extension. Thanks!

[2022-01-07 20:43] StrawnSC commented on #4303
I'm not able to reproduce the bug. @Tapanila it looks like you're using an old version of the `appservice-kube` extension from when it was in private preview. Could you try uninstalling the old extension and installing the new extension like so:
[code]
Please let us know if switching to the latest extension fixes the issue.
As a side note, once you switch to the new extension, you'll be able to ge

[2022-01-11 07:22] Syndrol commented on #4269
Thank you!

[2022-01-11 07:22] #4269 closed

[2022-01-11 09:32] #4303 closed

[2022-01-11 17:12] Sahithi-Modak commented on #4063
Hello @***@***.******@***.***>,

I tried to re-deploy the logic app with the following command; the deployment was successful, but I couldn't see any workflows in the Azure portal.

Command Used:

 az logicapp deployment source config-zip --name test-logicapp-23 --resource-group Humanatraining --subscription "Microsoft Partner Network" --src v22.zip

Output:

C:\workarea\Azure\logicapps\test> az l

[2022-01-11 17:17] Sahithi-Modak opened #4311 "Unable to deploy Azure logic app (ZIP deploy)"
I tried to re-deploy the logic app with the following command; the deployment was successful, but I couldn't see any workflows in the Azure portal.

Command Used:

 az logicapp deployment source config-zip --name test-logicapp-23 --resource-group ****** --subscription "****" --src v22.zip

Output:

C:\workarea\Azure\logicapps\test> az logicapp deployment source config-zip --name test-logicapp-23 -

[2022-01-11 22:42] yonzhan commented on #4311
route to service team

[2022-01-11 22:56] jaywhaaub opened #4312 "Failure on Getting List of Logic Apps"
## Describe the bug

**Command Name**
`az logic workflow list
Extension Name: logic. Version: 0.1.4.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az login` -- logged in via browser because of MFA
- `az account set --subscription <subId>` -- access to multiple subs so choose one
-

[2022-01-11 23:31] yonzhan commented on #4312
route to service team

[2022-01-12 03:15] archidda commented on #4063
Hey @Sahithi-Modak, can you tell me what changed since you last confirmed that issue was resolved on Nov 12, 2021 and now?
Also can you go to kudu and confirm if the files are present on the file system, here's how you check it-
Portal-> logicapp -> Advanced Tools(under Development Tools) blade -> Click on "Go ->" -> Debug Console tab -> CMD -> Navigate to site/wwwroot.
Can you see the workflows u

[2022-01-12 03:17] archidda commented on #4311
Hey @Sahithi-Modak, can you tell me what changed since you last confirmed that issue was resolved on Nov 12, 2021 and now?
Also can you go to kudu and confirm if the files are present on the file system, here's how you check it-
Portal-> logicapp -> Advanced Tools(under Development Tools) blade -> Click on "Go ->" -> Debug Console tab -> CMD -> Navigate to site/wwwroot.
Can you see the workflows u

[2022-01-12 04:57] Sahithi-Modak commented on #4063
Hello Arjun,

I've only added one more workflow this time, and that's all I've changed this time.
You previously given me a zip file with two workflows, so I just copied and pasted one of them with a different name.

Thanks,

Sahithi.

________________________________
From: archidda ***@***.***>
Sent: Wednesday, January 12, 2022 8:46 AM
To: Azure/azure-cli-extensions ***@***.***>
Cc: Sahithi Tekum

[2022-01-12 05:40] Sahithi-Modak commented on #4063
Hello Arjun,

In Portal-> logicapp -> Advanced Tools(under Development Tools) blade -> Click on "Go ->" -> Debug Console tab -> CMD -> Navigate to site/wwwroot.
I'm able to see all workflow related files.

[cid:6897b5e6-78ff-4913-8579-783a1c975a54]

Output:

C:\home\site\wwwroot>pwd

/c/home/site/wwwroot

C:\home\site\wwwroot>ls -ltr
total 3
-rw-r--r-- 1 Unknown+User Unknown+Group   2 Jan 11 17:41

[2022-01-12 18:54] archidda commented on #4063
okay that confirms the zip was deployed and unzipped successfully. It is not a CLI issue.

[2022-01-12 21:01] archidda commented on #4063
Also can you share how you created the zip file?

[2022-01-13 04:17] archidda commented on #4063
Can you try creating the zip using windows feature?
Select files an folders -> Right click -> Send to -> Compressed(zipped) folder

I have seen a case in the past where there was an issue with the zip created using command. Lets see if that is the issue here, then we can debug and fix it.

[2022-01-13 04:47] Sahithi-Modak commented on #4063
Hello Arjun,

I have tried creating zip using windows feature,
But still I'm facing same issue.

Thanks,
Sahithi.

________________________________
From: archidda ***@***.***>
Sent: Thursday, January 13, 2022 9:47 AM
To: Azure/azure-cli-extensions ***@***.***>
Cc: Sahithi Tekumalla ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli-extensions] Unable to deploy Azure logic app (ZIP de

[2022-01-13 06:27] morland96 opened #4317 "Elastic Cloud creation can't be made"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

elastic

### Description of issue (in as much detail as possible)

Cmd failed:
`az elastic monitor create -g *** -n elastic`

Error:
[code]

Description:
When creating the new elastic monitor instance, the cl

[2022-01-13 09:19] yonzhan commented on #4317
route to service team

[2022-01-13 16:38] sebsalvat commented on #4142
same for me too

[2022-01-13 17:48] andy-crai commented on #2790
@pcbl @glennvdv Did you people find a workaround for this? Am really surprised that this is still an issue for more than an year.

[2022-01-13 17:57] archidda commented on #4063
Okay, thanks for trying that. Please share the zip file with me over email, I will take a look and try to reproduce the issue

[2022-01-13 18:01] Sahithi-Modak commented on #4063
Hi Arjun,

I have sent the zip file to your mailing address.

Thanks
________________________________
From: archidda ***@***.***>
Sent: Thursday, January 13, 2022 11:28 PM
To: Azure/azure-cli-extensions
Cc: Sahithi Tekumalla; Mention
Subject: Re: [Azure/azure-cli-extensions] Unable to deploy Azure logic app (ZIP deploy) (Issue #4063)

Caution: This email originated from outside of the organization

[2022-01-13 22:51] archidda commented on #4063
You zip is not correctly built. Pasting my previous comment for reference-

-------------------------------------------------------------------------------------------------------------------
archidda commented on Nov 11, 2021 •
@Sahithi-Modak I reviewed your zip file and it is not organized correctly. The zip file needs to contain the root level folders and files directly.

Currently, you have
sa

[2022-01-13 23:09] archidda commented on #4063
After correcting the zip, I was able to load the workflows in my logicapp.

[2022-01-14 14:45] sidramadoss commented on #2790
We are in the process of updating Powershell, CLI and TF modules. We expect this to land in the coming months. We are sorry its taken longer than expected.

[2022-01-15 13:43] Sahithi-Modak commented on #4063
Hi Arjun,

I have sent you the wrong zip file, please find the correct zip file.

Thanks,

From: archidda ***@***.***>
Sent: Friday, January 14, 2022 4:39:22 AM
To: Azure/azure-cli-extensions ***@***.***>
Cc: Sahithi Tekumalla ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli-extensions] Unable to deploy Azure logic app (ZIP deploy) (Issue #4063)

Caution: This email originated from

[2022-01-18 22:18] panchagnula commented on #4311
this might be a runtime issue vs CLI specific - @StrawnSC FYI.

[2022-01-19 14:36] Sahithi-Modak commented on #4311
Hey @***@***.******@***.***>,

Any update on this issue?

Thanks,

Sahithi

________________________________
From: Sisira Panchagnula ***@***.***>
Sent: Wednesday, January 19, 2022 3:49 AM
To: Azure/azure-cli-extensions ***@***.***>
Cc: Sahithi Tekumalla ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli-extensions] Unable to deploy Azure logic app (ZIP deploy) (Issue #4311)

Caution

[2022-01-19 22:37] dbradish-microsoft commented on #4250
@yonzhan , @chasewilson , does `route to service team` mean this has been moved to another repo?  Do we have a MSFT or Git ID for the owner of this Issue?

[2022-01-19 22:44] dbradish-microsoft commented on #4090
@kairu-ms , do you need more information for this, or how can I help?

[2022-01-19 22:53] yonzhan commented on #4250
It means this CLI module is owned by service team. cc @cdnfdsuppgithub

[2022-01-20 01:47] kairu-ms commented on #4090
Hi @dbradish-microsoft, ml is owned by service team and the project url is not correct in index.json.
![image](https://user-images.githubusercontent.com/69238381/150247394-7a452d66-da4c-4450-a184-f9187949e8ff.png)

[2022-01-20 01:48] kairu-ms commented on #4090
@dbradish-microsoft, we will fix the project_urls in index.json.

[2022-01-20 08:32] dbradish-microsoft commented on #4090
@kairu-ms , a side observation:  I'm seeing 793 instances of `Home` URLs calling the `/master/` branch in `azure-cli-extensions`.  In testing one such URL, these seem to be redirecting okay to `main`.  Example: https://github.com/Azure/azure-cli-extensions/tree/master/src/account.

[2022-01-20 13:33] PeterButzelaar commented on #3011
I had the same problem. First succesfully retrieving the workspace:

[code]

When I used the **logAnalyticsWorkspace.id** property to use in the Application Insights resource, it gave me the error:

Could not retrieve Log Analytics workspace.

Turned out, when I output the id to the console, Bicep or Azure CLI put an additional } at the end of the resource:

[code]

So to solve this, I now have:

[2022-01-21 00:16] davidkarlsen opened #4342 "can't ssh via bastion"
uname -a: Darwin Davids-Work-MacBook-Pro.local 21.2.0 Darwin Kernel Version 21.2.0: Sun Nov 28 20:28:54 PST 2021; root:xnu-8019.61.5~1/RELEASE_X86_64 x86_64

az version
{
  "azure-cli": "2.32.0",
  "azure-cli-core": "2.32.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {}
}

`az network  bastion ssh --name xxx --resource-group es-connectivity-xxx --target-resource-id nic-dts-dev-kigx-vm-vmLi

[2022-01-21 00:50] yonzhan commented on #4342
route to service team

[2022-01-21 00:55] kairu-ms commented on #4090
Hi @dbradish-microsoft, That's because these links are generated before we rename `master` by `main`.

[2022-01-21 02:16] superff commented on #2974
Is there a document how to use

`az pipelines run --variables` ? our pipeline failed to take the vars

`--variables ring=dev env=ls2 `

[code]

[2022-01-21 06:26] kairu-ms opened #4344 "[CI] Check the validation of project url for extensions."
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

A lot of url in the setup.py of extensions as well as project_url in index.json are invalid.

We need to check those url in CI tasks.

### Extension name (the extension in question)

### Description of issue (in as much detail as possible)

-----

[2022-01-21 07:11] yonzhan commented on #4344
CI

[2022-01-21 14:30] jaromirk commented on #3661
I'm facing the same issue. Here is my end-to-end scenario https://github.com/microsoft/MSLab/blob/dev/Scenarios/AzSHCI%20and%20Kubernetes/Scenario.ps1

Any update please?

[code]

[2022-01-21 15:38] panchagnula commented on #3661
@StrawnSC could you take a look, if this infact related to our extension? Thanks!

[2022-01-21 16:22] jaromirk commented on #3661
@StrawnSC feel free to ping me on teams via jaromir.kaspar@dell.com if anything...

[2022-01-21 22:50] sfc-gh-johuang opened #4345 "Error when running az dedicated-hsm list command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az dedicated-hsm list
Extension Name: hardware-security-modules. Version: 0.1.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az dedi

[2022-01-21 23:56] yonzhan commented on #4345
route to service team

[2022-01-22 20:15] gudszent commented on #4142
with 2.32.0 still same error

[2022-01-24 21:30] cchildress commented on #4086
I can also reproduce this in an automated release tool we use. Is anyone assigned to triage this?
[code]

[2022-01-25 03:57] jsntcy commented on #4086
@zoharHenMicrosoft, could you please take a look at this issue?

[2022-01-25 11:17] Sahithi-Modak commented on #4311
Hello Team,

Any update on the above mentioned issue?

________________________________
From: Sisira Panchagnula ***@***.***>
Sent: Wednesday, January 19, 2022 3:49:00 AM
To: Azure/azure-cli-extensions ***@***.***>
Cc: Sahithi Tekumalla ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli-extensions] Unable to deploy Azure logic app (ZIP deploy) (Issue #4311)

Caution: This email origi

[2022-01-25 11:39] zoharHenMicrosoft commented on #4086
yes, will take a look now, sorry for the delay

[2022-01-25 16:51] v-shenoy opened #4357 "Functions V4 is not supported by the appservice-kube extension."
### Extension name (the extension in question)

appservice-kube

### Description of issue (in as much detail as possible)

The `--functions-version` parameter only accepts 2 and 3 as valid options when creating a function app using `az functionapp create`.

[code]

[2022-01-25 16:58] v-shenoy opened #4358 "PowerShell runtime is not supported for Arc by the appservice-kube extension."
### Extension name (the extension in question)

appservice-kube

### Description of issue (in as much detail as possible)

The  ```--runtime``` parameter does not allow for PowerShell when creating a function app on Arc using `az functionapp create`

[code]

[2022-01-25 20:53] rarayudu commented on #4311
Hi @Sahithi-Modak ,

Did you get a chance to check on the details that Arjun mentioned earlier?

[2022-01-25 21:19] StrawnSC commented on #3620
Hi, it looks like you're using the private preview version of the `appservice-kube` extension, which is no longer supported. Could you switch to the new public extension by running the following commands:
[code]

[2022-01-25 21:21] StrawnSC commented on #3661
Hi, it looks like you're using the private preview version of the `appservice-kube` extension, which is no longer supported. Could you switch to the new public extension by running the following commands:
[code]

[2022-01-25 21:46] jaromirk commented on #3661
I'm pretty sure I was doing it. It was recently changed? https://github.com/microsoft/MSLab/blob/dev/Scenarios/AzSHCI%20and%20Kubernetes/Scenario.ps1#L890-L891

[2022-01-26 00:14] yonzhan commented on #4357
route to service team

[2022-01-26 00:15] yonzhan commented on #4358
route to service team

[2022-01-26 09:06] jaromirk commented on #3661
![image](https://user-images.githubusercontent.com/9829838/151133951-7ebb2083-df0c-484e-a31b-904f4a50ecf6.png)

![image](https://user-images.githubusercontent.com/9829838/151133853-2505a771-4b57-41f1-a47c-fcabe6a9af6d.png)

NAME                                                              READY   STATUS    RESTARTS   AGE
pod/appservice-ext-k8se-activator-5d4ffc9587-28jgl                1/1     Run

[2022-01-26 15:41] zoharHenMicrosoft commented on #4086
https://github.com/Azure/azure-cli-extensions/pull/4360

[2022-01-26 23:59] StrawnSC commented on #3661
@jaromirk sorry about that -- looks like you're right. I was going off of the environment for @AlexEnfoMMX, which lists the `appservice-kube` version as `0.1.20` instead of `0.1.2`. This error seems to be caused by invoking the `k8s-extension` and `customlocation` cli extensions, so I'll try and loop in the code owners for those CLI extensions

[2022-01-27 00:14] apwestgarth commented on #3661
1. @markjgardner looking at the output of kubectl get services -n <my_namespace> I can see the envoy loadbalancer service is not being assigned an IP address hence why the extension is in a failed state:
NAME                                               TYPE           CLUSTER-IP     EXTERNAL-IP   PORT(S)                                     AGE
service/lima-test-k8se-activator                Clust

[2022-01-27 07:55] jaromirk commented on #3661
[code]

[2022-01-27 11:44] jaromirk commented on #3661
New fresh deployment...

[code]

[2022-01-27 11:48] jaromirk commented on #3661
And after some time (like 5 minutes or so)

    az k8s-extension show --resource-group $resourcegroup --cluster-name $KubernetesClusterName --cluster-type connectedClusters --name $extensionName | convertfrom-json

[code]

[2022-01-27 18:52] michalmar commented on #2826
I understand that the answer for original question is - not supported as @mrlepat stated.

[2022-01-27 18:52] #2826 closed

[2022-01-27 19:12] snambi opened #4369 "Unable to login AZ VM using CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ssh vm
Extension Name: ssh. Version: 0.1.5.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ssh vm --resource-group {} --vm-name {

[2022-01-27 22:48] yonzhan commented on #4369
route to service team

[2022-01-27 23:48] snambi commented on #4369
@yonzhan  how to route to service team? gihub links or email please.

[2022-01-28 01:54] jiasli commented on #4369
We have already done this for this issue.

This is because you are using an old `ssh` extension. Please update to the latest version:

[code]

[2022-01-28 01:54] #4369 closed

[2022-01-29 04:20] t-bzhan commented on #4250
Service team ACK, we are working on that.

[2022-01-30 11:48] zoharHenMicrosoft commented on #4238
https://github.com/Azure/azure-cli-extensions/pull/4360

[2022-01-30 12:03] zoharHenMicrosoft commented on #4256
https://github.com/Azure/azure-cli-extensions/pull/4360

[2022-01-30 12:04] zoharHenMicrosoft commented on #4218
https://github.com/Azure/azure-cli-extensions/pull/4360

[2022-01-31 14:36] jaromirk commented on #3661
Tested it once more, I added script that will wait some time as the same "issue" occurred. It did not finish successfully (ended with provisioningState failed). Takes around 5 minutes...

[code]

[2022-01-31 18:09] snambi commented on #4369
@jiasli thank you. It worked.

[2022-01-31 23:38] dpolivy opened #4379 "`az desktopvirtualization hostpool show` fails with valid host pool names > 24 characters"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
desktopvirtualization

### Description of issue (in as much detail as possible)
The Azure portal and ARM templates allow creation of host pools that can have names up to 64 characters. However, the az CLI exte

[2022-02-01 00:56] yonzhan commented on #4379
route to service team

[2022-02-02 02:49] SaurabhSharma-MSFT commented on #684
@sqlshep Apologies for the delayed response. I see that this issue is opened long time ago and no further activity had taken place. So, wanted to check if you are still looking for assistance on this query? Please let us know.

[2022-02-02 05:50] navba-MSFT commented on #3925
@mattthias Apologies for the late reply. Apologies for late reply. I was able to run the below command and it ran successfully.

I am sending you the az version that I had used. Could you please try with the same and let me know if you face any issues? Awaiting your reply.

{
"azure-cli": "2.32.0",
"azure-cli-core": "2.32.0",
"azure-cli-telemetry": "1.0.6",
"extensions": {
"aks-preview": "0.5.51",

[2022-02-02 09:54] sqlshep commented on #684
Whatever the issue was I moved on.

[2022-02-02 13:25] Xat59 commented on #569
Same behavior here .

[2022-02-03 02:30] TiagoCrewGitHubIssues commented on #4176
Please refer to the exports documentation here it does support various timeframes.
https://docs.microsoft.com/en-us/rest/api/cost-management/exports/create-or-update#timeframetype
Exports API documentation
https://docs.microsoft.com/en-us/rest/api/cost-management/exports/create-or-update

if the cli is not working correctly, can someone from the Azure SDK team help here to update the cli
@yonzhan

[2022-02-04 20:33] tujamg commented on #4176
Please refer to the exports documentation here it does support various timeframes.
https://docs.microsoft.com/en-us/rest/api/cost-management/exports/create-or-update#timeframetype
Exports API documentation
https://docs.microsoft.com/en-us/rest/api/cost-management/exports/create-or-update

if the cli is not working correctly, can someone from the Azure SDK team help here to update the cli
@yonzhan

[2022-02-05 11:12] navba-MSFT commented on #3925
@mattthias This is a quick follow-up to check if you had a chance to follow my above action plan. Awaiting your reply.

[2022-02-07 06:59] navba-MSFT commented on #647
@Shr3ps Apologies for the late reply. Could you please update the Azure CLI version and the python libraries and test the same command again?
Also since this issue has been open for quite some time, Could you please let us know if you still need assistance on this ? Awaiting your reply.

[2022-02-07 07:05] navba-MSFT commented on #586
@KevinBrooke Apologies for the late reply. This issue has been fixed now. Could you please refer to the updated documentation [here](https://docs.microsoft.com/en-us/cli/azure/account/management-group?view=azure-cli-latest)? If you need any further assistance on this, please get back to us. Awaiting your reply.

[2022-02-07 07:41] navba-MSFT commented on #570
@poochwashere Apologies for the delayed response. This github issue has been open for quite sometime. Could you please let us know if you still need assistance on this issue ? Awaiting your reply.

[2022-02-07 07:53] navba-MSFT commented on #569
@DaveB93 @Xat59 Apologies for the late reply. We are looking into this issue. We will update this thread once we have an update.

@zhoxing-ms @qwordy Could you please provide an update on this issue once you get a chance ? Awaiting your reply.

[2022-02-07 08:48] Shr3ps commented on #647
No more issue with latest update
[code]

[2022-02-07 08:48] #647 closed

[2022-02-07 09:14] samssann commented on #2072
Azure/AKS#1896

[2022-02-07 11:26] navba-MSFT commented on #4119
@llegouez Apologies for the late reply. Could you please follow the below action plan in the order and let me know if that works ?

ssh -F ./sshconfig 23.XXX.XX.86

You can give the relative path for the --file parameter instead of the absolute path. Please let me know if you face any issues. Awaiting your reply.

[2022-02-07 15:26] thomasoliveira opened #4390 "Possibly inadequate error message"
## Describe the bug

The command `az ml job create -f <path_to_folder>/jobs/train.yml --resource-group <resource-group-A> --workspace-name <workspace-name-A> --query name -o tsv` with `environment-A` and `compute-A` specified in train.yml works. However, if a change `resource-group`, `workspace-name`, `environment` and `compute` to a `B ` set, I receive the error below.

Importantly, this behaviou

[2022-02-07 22:31] yonzhan commented on #4390
route to CXP team to help with

[2022-02-08 01:54] SaurabhSharma-MSFT commented on #467
@dchapdelaine Apologies for the delayed response. This GitHub issue has been open for quite some time. Could you please let us know if you still facing this issue and need assistance? Awaiting your reply.

[2022-02-08 02:13] SaurabhSharma-MSFT commented on #561
@gsimoes I believe you have got the required information in the previous reply and this issue can be closed. Please let us know.

[2022-02-08 02:53] qwordy commented on #569
I was a former member of this repository. It is technically feasible.

[2022-02-08 03:20] zhoxing-ms commented on #569
@navba-MSFT At present, we have a more powerful feature [Azure Compute Gallery](https://docs.microsoft.com/en-us/azure/virtual-machines/shared-image-galleries) to support similar needs, and it is also a project that the service team @kangsun-ctrl is actively promoting.

Since `az image copy` needs much effort to support data disks and there are alternative products for it, so I put it in the backl

[2022-02-08 03:27] navba-MSFT commented on #569
@DaveB93 Please look at the above comments from @zhoxing-ms. Could you please try to leverage the [Azure Compute Gallery](https://docs.microsoft.com/en-us/azure/virtual-machines/shared-image-galleries) and check if that serves your requirement ? Awaiting your reply.

[2022-02-08 03:59] dchapdelaine commented on #467
Can’t tell really, I don’t remember the context of the bug. Probably safe to close. Thanks

David
________________________________
From: SaurabhSharma-MSFT ***@***.***>
Sent: Monday, February 7, 2022 8:54:16 PM
To: Azure/azure-cli-extensions ***@***.***>
Cc: David Chapdelaine ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli-extensions] FunctionApp Create for Linux creates invalid e

[2022-02-08 06:23] navba-MSFT commented on #1221
@mcopik Apologies for the late reply. We are looking in to this issue and we will get back once we have an update.

@kairu-ms @alongafni Could you please share an update on this thread once you get a chance ?Awaiting your reply.

[2022-02-08 06:28] navba-MSFT commented on #928
@deckerbd Apologies for the late reply. I was able to run [this](https://docs.microsoft.com/en-us/cli/azure/monitor/app-insights/component?view=azure-cli-latest#az-monitor-app-insights-component-show) command without any issues. Could you please use the [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of the Az CLI and test the behavior again? Awaiting your reply

[2022-02-08 10:04] navba-MSFT commented on #797
@anasamer Apologies for the late reply. Please find below the accepted values:

More Info [here](https://docs.microsoft.com/en-us/cli/azure/monitor/app-insights/events?view=azure-cli-latest#az-monitor-app-insights-events-show-required-parameters). This ticket is open for quite sometime now. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-08 10:10] navba-MSFT commented on #4390
@thomasoliveira Apologies for the late reply. I am doing some research on this issue. I will get back on this github issue thread once I have an update on this.

[2022-02-08 16:35] cataggar opened #4395 "Only allow one `--mount-option` for `az vmware datastore disk-pool-volume create`"
This a bug that affects `vmware` extension `4.0.1`.

[The API specification](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/vmware/resource-manager/Microsoft.AVS/stable/2021-12-01/vmware.json#L6240-L6246) expects a single `mountOption`:

[code]

In `4.0.1`, if `--mount-option attach`, is specified, it sent in the request as `"mountOption": "['attach']"`.

The bug is on this

[2022-02-08 17:45] SaurabhSharma-MSFT commented on #467
@dchapdelaine Thanks for the confirmation. We will proceed with the closure of this case.

[2022-02-08 17:45] #467 closed

[2022-02-08 19:53] jakeatmsft opened #4397 "Unable to list index: Unable to get extension index. Please ensure you have network connection. Connection Aborted"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
Trying to list available extensions:
$ az extension list-available

### Description of issue (in as much detail as possible)
I am working on an AzureML compute instance that is secured to managed vnet.  I am a

[2022-02-08 19:55] jakeatmsft commented on #4397
curl to packages.microsoft.com successful
<img width="516" alt="image" src="https://user-images.githubusercontent.com/47987698/153065276-a7c2c4e5-65ac-40cb-bbf1-3cb49759040b.png">

[2022-02-08 23:38] yonzhan commented on #4395
vmware

[2022-02-08 23:40] yonzhan commented on #4397
route to CXP team to help with

[2022-02-09 00:24] myers-dev opened #4398 "" az network firewall network-rule create" failed with an unexpected error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network firewall network-rule create
Extension Name: azure-firewall. Version: 0.11.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
-

[2022-02-09 02:11] yonzhan commented on #4398
network

[2022-02-09 08:38] navba-MSFT commented on #4390
@thomasoliveira Could you please share the yml file which you had used along with the --debug output while you executed the above command ?

[2022-02-09 08:55] navba-MSFT commented on #635
@david618 Apologies for the late reply. Could you please upgrade to the [most recent CLI version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and let us know if you are still facing this issue ? This github thread is open for quite sometime, please let us know if you still need assistance on this. Awaiting your reply.

[2022-02-09 09:19] navba-MSFT commented on #1147
@geNAZt Apologies for the late reply. This issue seems to be fixed as per #1217.
Could you please use the [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of the CLI and try to run [this](https://docs.microsoft.com/en-us/azure/aks/cluster-container-registry-integration?tabs=azure-cli#create-a-new-aks-cluster-with-acr-integration) Azure CLI command and let us know

[2022-02-09 10:13] morro-tr opened #4405 "az monitor scheduled-query update error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor scheduled-query update
Extension Name: scheduled-query. Version: 0.5.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az mo

[2022-02-09 10:15] morro-tr commented on #4405
This is the full command that was executed -
az monitor scheduled-query update --name "prod-ach-ea-insights - Requests failure rate is higher then 20 percent" --resource-group "prod-ach-eu" --window-size "15m" --auto-mitigate $true
It was executed from Azure Cloud Shell running Powershell.

[2022-02-09 10:21] navba-MSFT commented on #982
@epierotto Apologies for the late reply. This issue seems to be fixed in this PR [#13741 ](https://github.com/Azure/azure-cli/pull/13741). Could you please use the [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of the CLI and let me know if you still face this issue ?  Also this github issue is open for quite sometime. Please let me know if you still need any a

[2022-02-09 10:29] navba-MSFT commented on #1328
@weng271190436 Apologies for the late reply. This issue seems to be fixed in this PR https://github.com/Azure/azure-cli/pull/13741. Could you please use the [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of the CLI and let me know if you still face this issue ? Also this github issue is open for quite sometime. Please let me know if you still need any assistanc

[2022-02-09 11:32] yonzhan commented on #4405
monitor

[2022-02-09 13:12] thomasoliveira commented on #4390
[debug_output.txt](https://github.com/Azure/azure-cli-extensions/files/8032975/debug_output.txt)

[2022-02-09 13:14] thomasoliveira commented on #4390
github gives an error when I try to attach train.yml. This is its content:

[code]

[2022-02-09 13:15] thomasoliveira commented on #4390
@navba-MSFT  The yml file and the --debug output contain some sensitive information. I have ommited then using placeholders within <>.

[2022-02-09 13:23] navba-MSFT commented on #4390
@thomasoliveira I am unable to download the debug_output.txt. This issue would require a deeper investigation to identity the root cause. So could you please share the below details over an email with the subject line “Attn: navba” to _AzCommunity[at]Microsoft[dot]com_ referencing this github thread ?

1. Your Resource and Resource group name
2. Your subscription id
3. Debug output from the cli co

[2022-02-09 13:56] thomasoliveira commented on #4390
@navba-MSFT , thank you for your attention. I have just sent you an email with the two files attached.

[2022-02-09 16:39] myers-dev opened #4406 "name 'collection' is not defined for "az network firewall network-rule create""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network firewall network-rule create
Extension Name: azure-firewall. Version: 0.13.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
-

[2022-02-09 22:51] yonzhan commented on #4406
network

[2022-02-09 23:20] glennr8686 opened #4407 "az aks kollect command failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks kollect
Extension Name: aks-preview. Version: 0.5.51.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks kollect -g {} -n {}