[2022-06-09 14:32] yonzhan commented on #4965
route to CXP team

[2022-06-09 21:58] ksaye opened #4966 "az iot hub monitor-events hangs when binary data (non json)"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Related command

az --version
azure-cli                         2.30.0 *

core                              2.30.0 *
telemetry                          1.0.6

Extensions:
azure-iot                         0.12.1

Python location '/opt/az/bin/python3'
E

[2022-06-09 22:59] yonzhan commented on #4966
route to CXP team

[2022-06-10 03:13] navba-MSFT commented on #4947
@santaji1986 Thanks for reaching out to us and sharing this feedback. We are looking into this. We will provide an update once we have more details.

[2022-06-10 03:19] navba-MSFT commented on #4930
Adding Service team to take a look into this issue.

@akashkeshari Could you please look into this ask and provide an update ?

[2022-06-10 03:19] navba-MSFT commented on #4965
@rotorr Thanks for reaching out to us and sharing this feedback. We are looking into this. We will provide an update once we have more details.

[2022-06-10 03:20] navba-MSFT commented on #4953
@singvey999 Thanks for reaching out to us and sharing this feedback. We are looking into this. We will provide an update once we have more details.

[2022-06-10 04:37] navba-MSFT commented on #4965
@rotorr I see that you are using an older version of `aks-preview` . Could you please update it to the most recent version using the below command and then test again ?

Hope this helps. Awaiting your reply.

[2022-06-10 04:45] navba-MSFT commented on #4953
@singvey999 I see that you are using an older version of `aks-preview`. Could you please update it to the most recent version using the below command and then test again ?

Hope this helps. Awaiting your reply.

[2022-06-10 05:43] navba-MSFT commented on #4947
PR has been filed to address this.

[2022-06-10 08:21] yeroc-sebrof commented on #4820
Hi @navba-MSFT, just commenting to let you know I had the same error output as above but your solution solved it for me

Thank you!

[2022-06-10 09:28] singvey999 commented on #4953
Dear All,
We tried with aks-preview 0.5.79 and still the same issue no AZs.
vmadmin@reh-sharedservices-aks-jumpbox-ubuntu:~$  az version
{
  "azure-cli": "2.37.0",
  "azure-cli-core": "2.37.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "aks-preview": "0.5.79"
  }
}
vmadmin@reh-sharedservices-aks-jumpbox-ubuntu:~$
vmadmin@reh-sharedservices-aks-jumpbox-ubuntu:~$  az aks nodepool add -

[2022-06-10 09:35] singvey999 commented on #4953
<img width="550" alt="Capture" src="https://user-images.githubusercontent.com/19383328/173037081-7efd0bdc-18e2-43a4-86b8-9afb8337b075.PNG">

[2022-06-10 09:38] FumingZhang commented on #4953
Hi @singvey999, sorry for the inconvenience, this error was caused by a change in the [PR #4748](https://github.com/Azure/azure-cli-extensions/pull/4748/files#diff-20421022a91c9c99dd6bbbb316988c88d3e2ce1e986950aaa1d3d82e3b9df831R424-R425) to the deprecated --node-zones option.

I’ve opened this [PR #4970](https://github.com/Azure/azure-cli-extensions/pull/4970) to fix the issue and a new version (

[2022-06-10 09:59] singvey999 commented on #4953
Dear All,
We tried with 0.5.80 and got the zonal vmss .
![图片](https://user-images.githubusercontent.com/19383328/173041520-375f105f-8b14-4cb2-bc9e-42942413b01a.png)

[2022-06-10 10:17] navba-MSFT commented on #4953
@singvey999 Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-06-10 10:17] #4953 closed

[2022-06-11 00:43] eustacea opened #4975 "Error when attempting to create an IoT Hub device-id"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az iot hub device-identity create
Extension Name: azure-cli-iot-ext. Version: 0.8.7.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- Foll

[2022-06-11 00:45] yonzhan commented on #4975
route to CXP team

[2022-06-11 01:01] eustacea commented on #4975
Issue resolved.

In addition to the 'azure-iot' Azure CLI extension installed, I also had the older 'azure-cli-iot-ext' still installed.  Removing the older version solved the problem.

Closing as resolved.

[2022-06-11 01:01] #4975 closed

[2022-06-11 03:40] navba-MSFT commented on #4947
@santaji1986 The PR is under review. If you have any follow-up questions in the meantime, please feel free to ask.

[2022-06-11 08:02] #4238 closed

[2022-06-13 02:52] navba-MSFT commented on #4966
@ksaye Thanks for reaching out to us and sharing this feedback. Could you Please test with the most recent version of azure-iot extension and [AzureCLI](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli#install-or-update) and check if that helps ?

Awaiting your reply.

[2022-06-13 04:12] jsntcy commented on #4795
Query API is on the path to becoming a private api that is not exposed to external customers any longer.

[2022-06-13 04:55] navba-MSFT commented on #4965
@rotorr I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you  are still facing the issue after following the above plan. Awaiting your reply.

[2022-06-13 10:08] olivomarco opened #4981 ""az containerapp env create" returns before resource is in a usable state"
## Describe the bug

**Command Name**
`az containerapp env create
Extension Name: containerapp. Version: 0.3.5.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior:

- `az containerapp env create --name testenv -g rg-test --location westeurope`

## Expected Behavior

I would expect that the cli returns when the ContainerApps environment is actually created and in a usable state,

[2022-06-13 10:59] yonzhan commented on #4981
route to CXP team

[2022-06-13 15:30] simonkeyd opened #4984 "blueprint: Import parses unwanted hidden files"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
`blueprint` import will import all files in the `artifacts` folder including hidden Linux files and might raise an `UnicodeDecodeError` (eg. for Vim swap files which often include non-ASCII chars)

**Command Name**
`az blueprint import
Extension Name: blueprint. Version: 0.3.1.`

**Errors:**
[code]

## To Repro

[2022-06-13 15:31] andycoderapptio commented on #618
https://docs.microsoft.com/en-us/azure/virtual-machines/azure-compute-gallery#regional-support

The documentation states you need to request access for certain regions and suggests Australia Central or Australia Central 2 as examples but doesn't say exactly which regions aren't supported and the fact that you have to make a request makes me doubt how well it will actually work once granted.

Does

[2022-06-14 01:37] FumingZhang commented on #4921
Hi @sdolgin, sorry for the inconvenience. The defender related options are not supported in aks-preview yet. We will add support for it as soon as possible, expected within this week.

As for the workaround, please use this feature via the official CLI.

[2022-06-14 02:48] RakeshMohanMSFT commented on #4921
@sdolgin Since you already confirmed that the work around is working for you. I will go ahead and close this issue.

[2022-06-14 02:48] #4921 closed

[2022-06-14 04:04] #4947 closed

[2022-06-14 04:18] navba-MSFT commented on #4966
@ksaye Could you please run the same command again with --debug switch and share the output with me ? If you are internal to Microsoft you can reach out to me offline with the details. Awaiting your reply.

[2022-06-14 08:12] nlasok1 opened #4988 "Unable to view details of firewall collection group with weird exception"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
The collection group exists. Unable to view it with CLI.
Additionally 'list' returns empty reposnce.

**Command Name**
`az network firewall network-rule collection show
Extension Name: azure-firewall. Version: 0.14.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument val

[2022-06-14 08:40] yonzhan commented on #4988
network

[2022-06-14 18:12] sncriad opened #4995 "azure-cli-ml errors with python 3.10"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

When running `az ml dataset register`, get an import error. The same command works successfully under python 3.8.

**Command Name**
`az ml dataset register
Extension Name: azure-cli-ml. Version: 1.41.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been

[2022-06-14 18:24] sncriad commented on #4995
Using this workaround: https://github.com/Azure/azure-cli/issues/21377#issuecomment-1057851461

[2022-06-14 18:24] #4995 closed

[2022-06-14 19:57] sharmakhushboo opened #4996 "Not able to connect to aks cluster using az ask get-credentials"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials
Extension Name: aks-preview. Version: 0.5.19.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credenti

[2022-06-14 22:22] sharmakhushboo commented on #4996
I had to delete the ~/.kube/config file to fix this issue.
I'm not sure why the config got messed up though.

[2022-06-14 22:26] yonzhan commented on #4996
route to CXP team

[2022-06-15 02:48] navba-MSFT commented on #4966
@ksaye I had reached out to the Product Owners in the background and got an update from them. I am sharing this update here.

However, it is a bad customer experience when the hub becomes unresponsive, hence they are adding a task on their side to fail graciously and display a proper error message when an un-supported input data type is encountered.

Also we have shared the feedback / idea of bein

[2022-06-15 06:34] wangzelin007 opened #5000 "{test} test fabric bot config as code"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Related command

az bot

### Extension name (the extension in question)

### Description of issue (in as much detail as possible)

-----

[2022-06-15 06:35] wangzelin007 commented on #5000
Successful migration to config-as-code !

[2022-06-15 06:35] #5000 closed

[2022-06-15 09:41] #4996 closed

[2022-06-15 13:34] ADBjester commented on #1717
Bump for it being VERY useful to be able to simply do the following in the CLI (or a Powershell equivalent):

az pipelines release **_deploy_** --definition-name <name> --stage <stage> --release <number>

[2022-06-15 15:26] ksaye commented on #4966
Thanks for such a thorough response.  Very happy to close this issue.

I agree it is a bad customer experience and displaying a 'non text / json' message is a fine answer.

While I have not seen this as a common pattern, technologies like Stream Analytics understand that the payload could be gzip or bzip, meaning binary content.

[2022-06-15 15:26] #4966 closed

[2022-06-16 07:49] #4965 closed

[2022-06-16 10:21] navba-MSFT commented on #4981
Adding Service Team to look into this ask.

@calvinsID Could you please look into this ask and provide an update on this ? Awaiting your reply.

[2022-06-16 15:27] panchagnula commented on #4981
@haroonf I believe this is the one you are already looking into with BYOVNET

[2022-06-16 23:07] rudycas commented on #1506
2 years and found this... I'm having this same issue, is there an update for this?

[2022-06-19 16:14] edwin-traffk commented on #1717
...wanted to add a few comments onto last few posts...

Def agree the ability to use cli to run specific stages would be VERY helpful... esp with 'multi-stage' .yaml pipelines that have dependencies (or not for that matter). Additionally, it would be nice to be able to select to run ANY particular stage - not JUST a deployment stage, AND ALSO - take into account CD approvals/checks (associated wit

[2022-06-19 17:20] aembrito opened #5014 ""Decode" issues when managing attestation policies in az cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az attestation policy show
Extension Name: attestation. Version: 0.2.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az attestation p

[2022-06-19 23:00] yonzhan commented on #5014
route to CXP team

[2022-06-20 02:42] navba-MSFT commented on #5014
@aembrito Thanks for reaching out to us and sharing this feedback. We are looking into this issue and we will provide an update.

[2022-06-20 02:44] navba-MSFT commented on #4984
@simonkeyd Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. We are looking into this issue and we will provide an update.

[2022-06-20 02:45] navba-MSFT commented on #4708
Adding Service Team to look into this ask.

@aznetsuppgithub Could you please look into this ask and provide an update on this ? Awaiting your reply.

[2022-06-20 03:24] YuanyuanNi commented on #4988
Hi,
     @nlasok1 "az network firewall network-rule collection show" works well as below, the steps I use as below:
1.create network-rule and collection first, notice that collections are created as part of the az network firewall network-rule create command:
 az network firewall network-rule create --collection-name mycoll  --source-addresses 10.0.0.0 111.1.0.0/24 --protocols UDP TCP ICMP --desti

[2022-06-20 10:42] azeem2020 opened #5016 "Unable to connect to Postgres flexible server - Database dump & restore using az-cli"
## Bug/Error

**Command Name**
`az postgres flexible-server connect
Extension Name: rdbms-connect. Version: 1.0.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az postgres flexible-server connect -n {} -u {} -d {} -p {}`

## Expected Behavi

[2022-06-20 14:06] adey3 opened #5018 "Azure blob storage download to local filesystem failed!!"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage azcopy blob download
Extension Name: storage-preview. Version: 0.8.3.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az stor

[2022-06-20 22:53] yonzhan commented on #5018
storage

[2022-06-21 02:07] evelyn-ys commented on #5018
Can you use other auth options instead of `--auth-mode login`?
Maybe you could try using `--account-key` or `--sas-token`.

See how to get account key or sas token in https://github.com/Azure/azure-cli/blob/dev/doc/storage_data_plane_commands_auth.md

[2022-06-21 04:00] jsntcy commented on #5014
Duplicated with #3937, #4120.

The ETA of the fix will be early July.

[2022-06-21 08:34] RakeshMohanMSFT commented on #5016
@azeem2020 Thank you for reaching out we are looking into it.

[2022-06-21 08:38] RakeshMohanMSFT commented on #5016
@azeem2020 can you please go through these articles once? https://stackoverflow.com/questions/67982207/why-cant-i-connect-to-azure-postgresql-flexible-using-hostname and https://docs.microsoft.com/en-us/azure/dns/private-dns-overview

[2022-06-21 09:27] aembrito commented on #5014
Thank you for the feedback.

@navba-MSFT : my system (Ubuntu 20.04) already had the pyjwt 1.7.1.

[2022-06-21 09:39] navba-MSFT commented on #5014
Adding the PR details: https://github.com/Azure/azure-cli-extensions/pull/4901

[2022-06-21 18:33] jacobdanovitch commented on #4756
Access to this would be greatly appreciated as well, thank you!

[2022-06-22 02:54] navba-MSFT commented on #4984
@simonkeyd Your above PR https://github.com/Azure/azure-cli-extensions/pull/4985 has been reviewed and the comments have been added for you to consider. Please check once you get a chance.

[2022-06-22 06:01] YuanyuanNi commented on #4398
Hi,
     @myers-dev , this command works well as below, and my CLI version is 2.37.0, maybe you can update to it and try again:
az network firewall network-rule create --collection-name mycoll01 --source-addresses 10.0.0.0 111.1.0.0/24 --protocols UDP TCP ICMP --destination-fqdns www.bing.com --destination-ports 80 --firewall-name myfw --name myrule --protocols Any --resource-group nyy02 --priorit

[2022-06-22 08:12] ML-Guy commented on #3565
Is it possible to have longer validity duration certificates? I am also looking for 12-24 hour validity.

[2022-06-22 09:03] YuanyuanNi commented on #3986
Hi,
    @konbec  this command works well in the below format, maybe you can update your CLI version and  try again:
az network firewall policy rule-collection-group collection add-nat-collection -n mynatc --policy-name mypolicy01 --rule-collection-group-name myrcg -g nyy02 --collection-priority 10005 --action DNAT --rule-name network-rule --description "test" --destination-addresses "202.120.36.15

[2022-06-23 02:05] #3986 closed

[2022-06-23 03:13] navba-MSFT commented on #5014
@aembrito I hope you had a chance to look at the above comment. Please let me know if you need any further assistance on this issue.

[2022-06-23 03:33] aembrito commented on #5014
Hi. If I understood it correctly, we wait until a fix is published for any
further action. Is there anything else?

Em qui., 23 de jun. de 2022 às 00:13, navba-MSFT ***@***.***>
escreveu:

--

Andrey Brito, Professor Adjunto
Departamento de Sistemas e Computação
Universidade Federal de Campina Grande
Rua Aprígio Veloso, 882, Bloco CO, Bodocongó
CEP 58.429-900, Campina Grande, PB, Brasil
Tel.:   ++

[2022-06-23 03:38] navba-MSFT commented on #5014
@aembrito You are correct. The fix will be released in early July. Until then there is no action pending on you. Please monitor this PR https://github.com/Azure/azure-cli-extensions/pull/4901 for the status of the fix.

If you face the same issue even after the fix is released, please feel free to reopen this thread. We would be happy to help.

[2022-06-23 03:38] #5014 closed

[2022-06-23 11:51] thomas3577 opened #5038 "No matching extensions for 'webpubsub'"
When I run the command `az extension add --upgrade --name webpubsub`, I get the following error message:

_No matching extensions for 'webpubsub'. Use --debug for more information._

When I use the command `az extension list-available --output table` to output a list of all extensions, I cannot find **webpubsub** in the list.

It currently does not seem to be possible to add the extension **webpub

[2022-06-23 12:16] yonzhan commented on #5038
route to CXP team

[2022-06-23 16:13] ttt-dlloyd commented on #2529
This bug was never fixed and it appears that the az image copy command isn't able to function at all - over a year later from these comments. It isn't a feature request - I don't think that is in dispute. It is a feature that exists but doesn't work. az image copy has been broken for years now without being fixed.

PS /home/csp> az image copy --source-resource-group CustomImagesRG `

Getting OS di

[2022-06-23 16:37] ttt-dlloyd commented on #3181
This bug was never fixed and it appears that the az image copy command isn't able to function at all - over a year later from these comments. It isn't a feature request; I don't think that can be disputed. It is a feature that exists and has been broken for years now without being fixed.

Correct command as specified by the documentation:

Output:

[2022-06-23 16:37] ttt-dlloyd commented on #4542
This bug was never fixed and it appears that the az image copy command isn't able to function at all - over a year later from these comments. It isn't a feature request; I don't think that can be disputed. It is a feature that exists and has been broken for years now without being fixed.

Correct command as specified by the documentation:

Output:

[2022-06-23 19:43] thomas3577 commented on #5038
@PramodValavala-MSFT Thanks, and sorry for wasting your time. I guess the reason was really that I had an older version of Azure CLI installed.

[2022-06-23 19:43] #5038 closed

[2022-06-24 03:04] jereesh opened #5039 "Issue with k8s-extension"
### Related command
az extension add --name k8s-extension

### Extension name (the extension in question)
k8s-extension

### Description of issue (in as much detail as possible)

When 'k8s-extension is being installed using az command error occurred

To Reproduce
Steps to reproduce the behavior:

Go to power shell where azure cli is installed
type az extension add --name k8s-extension
See error "N

[2022-06-24 03:35] yonzhan commented on #5039
route to CXP team

[2022-06-24 03:40] PramodValavala-MSFT commented on #5039
@jereesh I can confirm this does work. Could you try upgrading to the latest Azure CLI version (2.37.0) and try again?

[2022-06-24 07:28] YuanyuanNi commented on #4679
Hi：
      @pdahlgren 'az monitor app-insights web-test list' works well as below ,maybe you can  update your CLI version and try again, you can also refer below steps:
1.az monitor app-insights component create -a test-app -l westus -g nyy01 --kind web --application-type web
2.az monitor app-insights web-test create -n test-webtest -l westus -g nyy02 --enabled true --frequency 900 --web-test-kind

[2022-06-24 08:53] agoncal opened #5041 "[containerapp] Being able to specify the Dockerfile name and the Docker build context in a containerapp up command"
### Related command

[code]

### Extension name (the extension in question)

containerapp

### Description of issue (in as much detail as possible)

Today we can pass the `context-path` parameter to the `up` command to run a docker build specifying the location of the `Dockerfile` (if not it uses the defaults "./"). But in Java projects it is common to have several Docker files (e.g., to build a p

[2022-06-24 09:10] azeem2020 commented on #5016
The workaround works fine. Thank you for the articles, can we rollout this change globally within Organizations instead to update individual's host file?

[2022-06-24 10:30] RakeshMohanMSFT commented on #5016
@azeem2020 Glad to know that the provided solution helped, I am not sure I quite understand your question, can you please elaborate?

[2022-06-24 11:30] PramodValavala-MSFT commented on #5041
@agoncal Looking at the code [here](https://github.com/Azure/azure-cli-extensions/blob/main/src/containerapp/azext_containerapp/custom.py#L2204), seems there is more to consider before supporting this. Transferring this to the concerning team.

[2022-06-24 12:59] agoncal commented on #5041
Oh, "GH actions API needs to be updated" ! Do you know if there is an issue related to this so we can keep track? #Thanks

[2022-06-24 13:39] azeem2020 commented on #5016
The given solution in [article ](https://stackoverflow.com/questions/67982207/why-cant-i-connect-to-azure-postgresql-flexible-using-hostname) is to update Desktop/PC's Host file entries with PostgreSQL FQDN and Private IP address.

There are number of developers who will access the DB server(s) and instead to update individual's PC host file for each server, we want to make entry in organization's

[2022-06-27 01:47] matt-tester commented on #1266
I found this bug as I still faced the same issue. As a workaround (or maybe as expected behaviour) the back-ticks need to be escaped with a `\` too.

So the following should work as expected:
[code]

[2022-06-27 04:01] navba-MSFT commented on #4984
@simonkeyd I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you  are still facing the issue after following my above plan. Awaiting your reply.

[2022-06-27 14:56] agoncal opened #5051 "[containerapp] Cannot deploy simple Hello World with Container Apps Compose"
## Describe the bug

I have the following Docker Compose file using a simple hello world app from NGinx:

[code]

I execute it with the following command and I can access it on http://localhost:8081

[code]

But when I try to deploy it to Azure Container Apps using Compose, it fails. Here is the command I'm executing:

**Command Name**

[code]

**Errors:**

When I execute the command I have the fo

[2022-06-27 16:37] simonkeyd commented on #4984
@navba-MSFT in most cases one wouldn't want hidden files to be parsed as they can contain unchecked code/content. For example in my particular use case `vim` swap files are temporary files not meant to be used by program other than vim - not JSON at all.

[2022-06-27 18:19] smartaquarius10 opened #5054 "How to update AKS nodes if not using virtual machine scale sets?"
Team,

I have nodes of Availability set type in AKS. When tried running the command using **--node-image-only** flag it threw an error

`This cluster is not using VirtualMachineScaleSets. Node image upgrade only operation can only be applied on VirtualMachineScaleSets cluster.`

Can anyone suggest a procedure to update the nodes image only for security patches in such case. Is there any other way

[2022-06-27 22:59] yonzhan commented on #5051
route to CXP team

[2022-06-28 03:14] navba-MSFT commented on #5054
@smartaquarius10 Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-06-28 05:12] smartaquarius10 commented on #5054
@navba-MSFT , Most welcome. Would be grateful if you can let us know some procedure to update Availability sets because we are receiving loads of vulnerabilities issues in the node pool.

I need to update the node pool as early as possible.

[2022-06-28 06:52] navba-MSFT commented on #5054
@smartaquarius10 Thanks for your reply. To upgrade the node image version, the AKS cluster must use VirtualMachineScaleSets (VMSS). Refer this [docs](https://docs.microsoft.com/en-us/azure/aks/node-image-upgrade) which mentions the below:

I believe your similar ask was discussed in [this QnA forum](https://docs.microsoft.com/en-us/answers/questions/905165/how-to-update-only-node-image-in-aks-whic

[2022-06-28 07:22] smartaquarius10 commented on #5054
@navba-MSFT , Thank you so much. Yup correct.. I'm the one asking question in QnA forum.  I ave also asked the question [here](https://github.com/Azure/AKS/issues/3027#issuecomment-1168222431).

The security team is on my head now due to vulnerabilities. Would be grateful if you can share some procedure to update my node pool just for now. Once vulnerabilities are removed I can propose a plan of t

[2022-06-28 07:26] navba-MSFT commented on #5054
@smartaquarius10 Have you checked the node OS upgrade doc here? https://docs.microsoft.com/en-us/azure/aks/node-updates-kured

[2022-06-28 08:20] smartaquarius10 commented on #5054
@navba-MSFT , Does kured help in this case with Availability set?

[2022-06-28 08:28] PramodValavala-MSFT commented on #5051
@agoncal Thanks for the feedback! We will investigate and get back to you.

[2022-06-28 09:27] smartaquarius10 commented on #5054
@navba-MSFT, I just checked in Kured [github](https://github.com/weaveworks/kured/issues/591#issuecomment-1168463865)... They told that it will not install the updates/patches. It can only reboot the nodes.

[2022-06-28 10:02] navba-MSFT commented on #4514
@DuongThiNgocHoa Apologies for the late reply. Thanks for reaching out to us and reporting this issue.
The automation extension will help in achiveing your ask. This will automatically install the first time you run an `az automation runbook` command.

The above CLI command Creates the runbook identified by runbook name.
More Info [here](https://docs.microsoft.com/en-us/cli/azure/automation/runboo

[2022-06-28 10:23] navba-MSFT commented on #4514
The PR has been filed for this already and it has been merged: Azure/azure-rest-api-specs#19367

[2022-06-28 12:00] smartaquarius10 commented on #5054
@navba-MSFT , So on 18th June , I have updated the AKS to 1.23.5 under the scope as **update control plane+ node pool**

If you check this [link](https://github.com/weaveworks/kured/issues/591#issuecomment-1168536605), I have shared the images showing unattended upgrade have done few upgrades.. I'm restarting the nodes manually because all of  them has reboot-required file.. Let see if it will res

[2022-06-28 12:10] mikewarr opened #5056 "aks update for enable-secret-rotation failing"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update
Extension Name: aks-preview. Version: 0.5.85.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks update -g {} -n {} --

[2022-06-28 12:14] smartaquarius10 commented on #5054
@navba-MSFT, Just one query do you have any doc briefing the processing of moving work load to new node pool. If it don't work then the only option is to add VMSS and transfer to the new node pool

[2022-06-28 12:30] navba-MSFT commented on #5054
@smartaquarius10 You can use `kubectl drain` to safely evict all of your pods from a node before you perform maintenance on the node (e.g. kernel upgrade, hardware maintenance, etc.). Safe evictions allow the pod's containers to [gracefully terminate](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-termination) and will respect the PodDisruptionBudgets you have specified.

To

[2022-06-28 13:03] smartaquarius10 commented on #5054
@navba-MSFT , I have one idea.. If attach a new node pool and add taint on the old nodes.. I think that will automatically evict them and transfer them to new node pool.. Will that work.. What do u say??

[2022-06-28 14:11] yonzhan commented on #5056
route to CXP team

[2022-06-28 19:19] smartaquarius10 commented on #5054
I think I have found out the issue.. The analysis is here.. So closing this question.. Thank you for the help @navba-MSFT

https://github.com/Azure/AKS/issues/3027#issuecomment-1169120029

[2022-06-29 03:16] navba-MSFT commented on #5056
@mikewarr Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-06-29 04:28] navba-MSFT commented on #5056
@mikewarr Could you please also check if the secret provider addon profile exists by running `az aks show -g {resource_group_name} -n {cluster_name} --query "addonProfiles"`?

**Action Plan:**
Could you please disable the addon first by running below command?

And then enable this addon by running below:

Awaiting your reply.

[2022-06-29 07:57] mikewarr commented on #5056
Sure, I ran the first command and got this:

mikewarr@COODASL3:~/akswth/WhatTheHack/039-AKSEnterpriseGrade$ az aks show -g akswth -n akswthclus --query "addonProfiles"
The behavior of this command has been altered by the following extension: aks-preview
{
  "azureKeyvaultSecretsProvider": {
    "config": null,
    "enabled": true,
    "identity": {
      "clientId": "c5c1fe71-2187-42b5-b0ad-dc87f3

[2022-06-29 08:28] navba-MSFT commented on #5056
@mikewarr The error is due to the secret provider class being in use on the cluster. If this won't disrupt your service, could you please remove the secret provider classes in use and then perform the above-mentioned disable and enable operations one by one?

Or alternatively, you could also try to perform the action plan to disable and enable the addon while its not in use. Perhaps in the late ev

[2022-06-29 10:01] #4984 closed, assigned to navba-MSFT

[2022-06-30 04:58] mmentella opened #5063 "Error listing workflows"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az logic workflow list
Extension Name: logic. Version: 0.1.6.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az logic workflow list`

#

[2022-06-30 05:00] yonzhan commented on #5063
logic

[2022-06-30 09:56] DarkEmilio34 opened #5066 "Flurry"

[2022-06-30 09:57] #5066 closed

[2022-06-30 11:12] snobu opened #5067 "[containerapp] az containerapp update with --max-replicas 0 returns no error"
`az containerapp update -n ContainerAppName -g ResourceGroup --min-replicas 0 --max-replicas 0` finishes without throwing any error, however scaling configuration is not updated as max replicas cannot be zero.

[code]

[2022-06-30 21:38] arpit-gagneja commented on #4908
@yonzhan @necusjz: There is an update. We have merged the first stable API version for our GA.

https://github.com/Azure/azure-rest-api-specs/blob/main/specification/dnsresolver/resource-manager/Microsoft.Network/stable/2022-07-01/dnsresolver.json

We would want the generated Azure CLI for this GA version now.

[2022-07-01 05:02] navba-MSFT commented on #5056
@mikewarr I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-07-01 06:05] navba-MSFT commented on #5067
@snobu Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-01 09:14] nvannier opened #5071 "az quantum execute ascii error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az quantum execute
Extension Name: quantum. Version: 0.16.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az quantum execute --target

[2022-07-01 09:49] yonzhan commented on #5071
route to CXP team

[2022-07-01 10:51] nvannier commented on #5071
thx,

best regards,

Nicolas

Le ven. 1 juil. 2022 à 11:50, Yong Zhang ***@***.***> a
écrit :

[2022-07-01 11:02] pchevallier opened #5072 ""account tenant list" fails with: No module named 'azure.core.rest'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account tenant list
Extension Name: account. Version: 0.2.3.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account tenant list`

[2022-07-01 11:30] yonzhan commented on #5072
account

[2022-07-01 12:26] shubham1172 opened #5073 "`az k8s-extension create` install extension in a namespace"
### Related command

`az k8s-extension`

### Extension name (the extension in question)
`k8s-extension`

https://github.com/Azure/azure-cli-extensions/tree/main/src/k8s-extension/azext_k8s_extension

### Description of issue (in as much detail as possible)
Create a k8s-extension in a particular release namespace using `az k8-extension create` like the following:

[code]
This throws the following e

[2022-07-01 12:31] shubham1172 commented on #5073
Never mind, I figured out the problem from the code, our particular extension is not using these namespaces at all. Closing this.

[2022-07-02 05:49] sanjaypatil22 opened #5074 "az aks draft setup-gh was NOT executed successfully"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks draft setup-gh
Extension Name: aks-preview. Version: 0.5.85.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks draft setup-g

[2022-07-02 23:55] yonzhan commented on #5074
route to CXP team

[2022-07-04 04:29] navba-MSFT commented on #5056
@mikewarr The above PR has been filed as a permanent fix. However, please let me know if you have tried the above workaround. Awaiting your reply.

[2022-07-04 09:23] obiii commented on #2789
Hi,

Just wanted to check if this has any update? I am facing the same issue. Unable to see the Linked SHIR alhtough it is creatde successfully via CD pipeline:

az config set extension.use_dynamic_install=yes_without_prompt

az datafactory integration-runtime linked-integration-runtime create --factory-name "proj-dev-adf" --integration-runtime-name "OnPrem-SHIR" --resource-group "proj-datalake-de

[2022-07-04 12:31] hannenijhuis opened #5076 "az ssh vm trying private ip not working unless flag explicitly added"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Trying to connect to a VM by specifying resource group and vm name. VM doesn't have a public IP. Warning is shown that private IP will be attempted.
[code]
Connection **fails**.

Attempting again with the proposed flag `--prefer-private-ip`, connection **successful**.

**Command Name**
`az ssh vm
Extension Name

[2022-07-04 12:46] hannenijhuis commented on #5076
I tried upgrading my `azure-cli` to the latest version 2.37 through homebrew. Problem still exists.

[2022-07-04 12:54] yonzhan commented on #5076
route to CXP team

[2022-07-04 19:44] xwang2713 opened #5077 "aks create gpu cluster failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials
Extension Name: aks-preview. Version: 0.5.25.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credenti

[2022-07-04 23:48] yonzhan commented on #5077
route to CXP team

[2022-07-05 02:48] navba-MSFT commented on #5077
@xwang2713 Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-05 02:53] navba-MSFT commented on #5074
@sanjaypatil22 Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-05 04:34] navba-MSFT commented on #5056
@mikewarr The PR Azure/azure-cli#23088 has been merged now. The fix should be released as per this milestone: https://github.com/Azure/azure-cli/milestone/120 . Until then you can follow my above workaround.

[2022-07-05 04:34] #5056 closed

[2022-07-05 04:48] navba-MSFT commented on #5077
@xwang2713 Apologies for the late reply. You can check under the user profile for file ~/.kube/config. There are 3 required sections which must be present: clusters, contexts and users. May be due to an incorrect entry under clusters you might be facing this issue. You can also rename or delete the config file and then [az aks get-credentials](https://docs.microsoft.com/en-us/cli/azure/aks?view=az

[2022-07-05 17:34] vthiebaut10 commented on #4915
@eehret Thanks for reporting this problem. I need a little bit more detail to address this issue. Would it be possible to share a screenshot (with sensitive information redacted) of the expected and current behaviors?

[2022-07-05 17:55] vthiebaut10 commented on #4094
@gilfreund This issue should have been fixed on more recent versions of the extension. Please run "az extension update --name ssh".

[2022-07-05 18:27] vthiebaut10 commented on #3792
@Turbots Make sure to use the most recent version of az cli and the ssh extension. ("az upgrade" and "az extension update --name ssh"). Let us know if that solves the issue.

[2022-07-05 19:43] ascott12humanacom commented on #3922
I've upgraded to 2.29.0, which is the newest available to me on Windows and it is now working properly, thank you!

[2022-07-05 19:44] #3922 closed

[2022-07-05 21:05] vthiebaut10 commented on #4200
@cforce Hi, I wasn't able to repro your issue. Can you make sure that you are using the latest version of az cli and the extension (Run "az upgrade" and "az extension update --name ssh"). If that doesn't fix your issue, we are going to need more information to address this issue (run the command with the --debug parameter and share logs with sensitive information redacted).

[2022-07-06 02:06] navba-MSFT commented on #5076
@hannenijhuis Thanks for reaching out to us and sharing this feedback. I hope you had a chance to try the action plan suggested above to update your ssh extension. Awaiting your reply.

[2022-07-06 06:23] hannenijhuis commented on #5076
Thanks for your swift reply. I confirm that updating the ssh extension works!

[2022-07-06 06:43] navba-MSFT commented on #5076
@hannenijhuis Thanks for getting back. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-07-06 06:43] #5076 closed

[2022-07-06 06:47] navba-MSFT commented on #5071
@nvannier Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-06 07:00] nvannier commented on #5071
Please,  Thank you for your answer.

Best regards,

Nicolas VANNIER

Le mer. 6 juil. 2022 à 08:47, navba-MSFT ***@***.***> a
écrit :

[2022-07-06 07:09] navba-MSFT commented on #5071
@nvannier Could you please try to update the Windows system language setting by following the below plan ?

Control panel -> Clock and Region -> Region -> Administrative -> Change system locale -> Check Beta: Use Unicode UTF-8 for worldwide language support

![image](https://user-images.githubusercontent.com/57353862/177490588-dee39b1e-d556-442b-a895-9997812a90c4.png)

The change will require rebo

[2022-07-06 18:50] xwang2713 commented on #5077
It is due to my ~/.kube/config corrupted. But the error message didn't mention it.   This can be closed

[2022-07-06 18:50] #5077 closed

[2022-07-06 21:10] maertendMSFT commented on #3565
Is this what you are looking to do?
[Change the token lifetime of an Azure AD application](https://www.nubo.eu/How-To-Change-The-Azure-AD-Token-LifeTime-Of-An-AzureAD-App/#:~:text=Change%20the%20token%20lifetime%20of%20an%20Azure%20AD,access%20tokens%20and%2090%20days%20for%20refresh%20tokens.)

[2022-07-07 04:09] navba-MSFT commented on #4514
@DuongThiNgocHoa Please track the SDK release request for the fix from this link https://github.com/Azure/sdk-release-request/projects/1230 Closing this GitHub issue for now. Please feel free to reopen this thread if you have any followup queries. We would be happy to help.

[2022-07-07 04:09] #4514 closed

[2022-07-07 08:51] #3937 closed

[2022-07-07 22:41] lejorge commented on #3565
I'm also looking for a way to set the time for the SSH certificate that is generated. Ideally, the option to set different durations for the AZ Roles of Virtual Machine Administrator Login and Virtual Machine User Login would be great.

@maertendMSFT That's kind of close, but in the script, it appears that the token life is for an application. What we're looking for is a way to change the default

[2022-07-08 01:59] RajiSubramanian opened #5090 "Unable to update Defender Profile to Custom Workspace using CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update
Extension Name: aks-preview. Version: 0.5.87.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks update --enable-defen

[2022-07-08 02:10] yonzhan commented on #5090
route to CXP team

[2022-07-08 03:47] navba-MSFT commented on #5071
@nvannier I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you  are still facing the issue after following the above suggestion. Awaiting your reply.

[2022-07-08 03:48] nvannier commented on #5071
No, I did not. I test this this morning

Best regards,

Nicolas

Le ven. 8 juil. 2022 à 05:47, navba-MSFT ***@***.***> a
écrit :

[2022-07-08 04:01] navba-MSFT commented on #5074
@sanjaypatil22 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Could you please provide an update once you test this suggestion? Awaiting your reply.

[2022-07-08 04:42] navba-MSFT commented on #5090
@RajiSubramanian Could you please confirm if you have registered for `AKS-AzureDefender `before running the command ?
Could you run the below commands in order and check if you are still facing the issue ?

Awaiting your reply.

[2022-07-08 08:31] IsmaelGSerrano opened #5091 "az ml job create --set can not override inputs on pipelines"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ml job create
Extension Name: ml. Version: 2.4.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Use any example in the azureml-examples. In the example: cli\jobs\pipelines-

[2022-07-08 10:29] yonzhan commented on #5091
route to CXP team

[2022-07-08 11:16] nvannier commented on #5071
I works ! it's fine...

Thx very much...

Best regards,

Nicolas

Le ven. 8 juil. 2022 à 05:48, Nicolas VANNIER ***@***.***> a écrit :

[2022-07-08 11:18] navba-MSFT commented on #5071
@nvannier Thanks for getting back. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-07-08 11:18] #5071 closed

[2022-07-08 11:41] nvannier commented on #5071
Thanks a lot.
Best regards,

Nicolas

Le ven. 8 juil. 2022 à 13:18, navba-MSFT ***@***.***> a
écrit :

[2022-07-08 11:49] TomGeske opened #5092 "az aks update --enable-defender doesn't work with aks-preview extension"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update
Extension Name: aks-preview. Version: 0.5.87.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks update --enable-defen

[2022-07-08 12:48] yonzhan commented on #5092
route to CXP team

[2022-07-08 13:18] RajiSubramanian commented on #5090
Yes we ran the commands az aks update --enable-defender --resource-group xxx --name xxx - but still no go - resulted following error - as mentined earlier

[2022-07-08 18:18] spowser opened #5094 "ModuleNotFoundError: No module named 'azure.cli.command_modules.acs.decorator'"
Error while trying to enable the OIDC Issuer

**Command Name**
`az aks update
Extension Name: aks-preview. Version: 0.5.70.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks update -n {} -g {} --enable-oidc-issuer`

## Expected Behavior

[2022-07-08 22:32] yonzhan commented on #5094
route to CXP team

[2022-07-11 02:26] navba-MSFT commented on #5094
@spowser Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-11 02:28] navba-MSFT commented on #5092
@TomGeske Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-11 03:52] navba-MSFT commented on #5074
@sanjaypatil22 Please let me know if you have any update on this.

[2022-07-11 04:12] navba-MSFT commented on #5094
@spowser You seem to be using an older version of the `aks_preview` extension. Could you please run the command to update the extension and then test this again ?

Awaiting your reply.

[2022-07-11 05:17] thiruma0203 opened #5098 ""az aks addon list" always returns "enabled:false" for virtual-node addon even when the addon is actually enabled."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks addon list
Extension Name: aks-preview. Version: 0.5.63.`

**Errors:**
az aks addon list command always returns "enable:false" for virtual-node addon. REST API returns "enalble:", but CLI displays result as "enable:false"
[code]

## To Reproduce:
Steps to reproduce the behavior. Note t

[2022-07-11 06:46] sanjaypatil22 commented on #5074
I was using same app name which was exist. Used new app reg name and it is working fine. Thanks for looking into the issue.

[2022-07-11 06:46] #5074 closed

[2022-07-11 06:47] sanjaypatil22 commented on #5074
Thanks issue is closed.

[2022-07-11 07:22] navba-MSFT commented on #5098
@thiruma0203 Thanks for reaching out to us and reporting this issue. Could you please update your` aks-preview` extension and check if you still the same issue ? If you do, please share the debug output after upgrading.

[2022-07-11 07:30] yonzhan commented on #5098
route to CXP team

[2022-07-11 08:20] #5067 closed

[2022-07-11 16:27] tommyJimmy87 opened #5102 "Azure ML Online Endpoints on AKS compute no longer supported"
### Related command

az ml online-endpoint create --name aks_endpoint -f endpoint_aks.yaml

endpoint_aks.yaml :

[code]

### Extension name (the extension in question)
ml

### Description of issue (in as much detail as possible)

here listed all the versions:
[code]

Error I get is:

[code]

I don't find any reference in the documentation, instead, it appears to me that it should be supported as p

[2022-07-11 16:34] nishantrajmitra opened #5103 "pod-identity command did not work"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks pod-identity delete
Extension Name: aks-preview. Version: 0.5.76.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks pod-iden

[2022-07-11 17:27] spowser commented on #5094
@navba-MSFT Yup.  That fixed it.  Thanks for the resolution.  As a note, the documentation might need to be updated to reflect that the extension version needs to be higher than it states

https://azure.github.io/azure-workload-identity/docs/installation.html

[2022-07-11 22:43] yonzhan commented on #5102
route to CXP team

[2022-07-11 22:44] yonzhan commented on #5103
route to CXP team

[2022-07-12 01:17] thiruma0203 commented on #5098
@navba-MSFT , I tried to update the extension, however no updates are available. Tried in CloudShell.

$ az extension update -n aks-preview
No updates available for 'aks-preview'. Use --debug for more information.

[2022-07-12 03:09] navba-MSFT commented on #5098
@thiruma0203 Yes that makes sense. I was able to repro this issue at my end too. So the above PR was filed as a fix. Currently it is under review. In the meantime, if you have any question, please feel free to ask.

[2022-07-12 04:21] navba-MSFT commented on #5092
@TomGeske The above PR has been created to address this issue. In the meantime, if you have any questions, please feel free to ask.

[2022-07-12 04:32] navba-MSFT commented on #5094
@spowser I am glad that the issue is resolved. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-07-12 04:32] #5094 closed

[2022-07-12 04:36] navba-MSFT commented on #5103
@nishantrajmitra Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-12 04:52] navba-MSFT commented on #5103
@nishantrajmitra You seem to be using an older version of the `aks_preview` extension. Could you please run the command to update the extension and then test this again ?

Awaiting your reply.

[2022-07-12 07:07] baelter opened #5107 "Stream blob upload OOM"
Trying to use this now, and the az process is OOMing even with a tiny "length"

### Related command
[code]
The pg_basebackup process uses 8MB, and az is growing indefinitely until OOM killed (at 2GB on the current VM)

### Extension name (the extension in question)
storage-blob-preview

Originally posted [here](https://github.com/Azure/azure-cli-extensions/pull/2799#issuecomment-1172221947), but e

[2022-07-12 07:12] baelter opened #5108 "Stream blob null error"
### Related command
[code]

### Extension name (the extension in question)
storage-blob-preview

### Description of issue (in as much detail as possible)
[code]

[2022-07-12 07:57] yonzhan commented on #5107
storage

[2022-07-12 07:59] yonzhan commented on #5108
storage

[2022-07-12 12:25] RakeshMohanMSFT commented on #5102
@tommyJimmy87 Thank you for reaching out, we are looking into it.

[2022-07-12 20:35] Aditya369nair opened #5111 "What will be the cli equivalent of creating an environment using private pip wheel"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Related command

### Extension name (the extension in question)
azure ml extension

### Description of issue (in as much detail as possible)
How can I achieve the equivalent of the following python code using the environment yaml ?

[code]

I create az

[2022-07-12 23:21] yonzhan commented on #5111
route to CXP team

[2022-07-13 05:17] navba-MSFT commented on #5090
@RajiSubramanian The above PR has been filed and it is currently under review. In the meantime, if you have any questions, please feel free to ask.

[2022-07-13 06:19] #5098 closed

[2022-07-13 13:19] TomGeske commented on #5092
@navba-MSFT: I see PR being merged. Kindly advise when the new aks-preview version becomes available for testing.

[2022-07-13 13:25] navba-MSFT commented on #5092
@TomGeske This should be released in 2022-08-02 See this: https://github.com/Azure/azure-cli-extensions/milestone/69

[2022-07-14 03:30] navba-MSFT commented on #5090
@RajiSubramanian The PR is now merged and the fix will be released in the next version on 2022-08-02 See this: https://github.com/Azure/azure-cli-extensions/milestone/69. We will now proceed with closure of this thread. Please feel free to reopen if you have any follow-up questions. We would be happy to help.

[2022-07-14 03:30] #5090 closed

[2022-07-14 03:32] navba-MSFT commented on #5092
@TomGeske We will now proceed with closure of this thread. Please feel free to reopen if you have any follow-up questions. We would be happy to help.

[2022-07-14 03:32] #5092 closed

[2022-07-14 07:01] #4682 closed

[2022-07-14 07:33] FumingZhang commented on #5090
The issue is fixed in the latest version of aks-preview (**0.5.91**).

This problem can be solved by updating to the latest version of aks-preview without waiting for the new version of azure-cli release.

[2022-07-14 07:33] FumingZhang commented on #5092
The issue is fixed in the latest version of aks-preview (**0.5.91**).

This problem can be solved by updating to the latest version of aks-preview without waiting for the new version of azure-cli release.

[2022-07-14 11:51] #4056 closed

[2022-07-14 12:59] RakeshMohanMSFT commented on #4209
@stick109 We sincerely regret the delay. can you confirm if you are still facing this issue?

[2022-07-15 02:50] FumingZhang commented on #5090
Hi @RajiSubramanian, for you question `unable to map the custom log Analytics workspace`, could you please share more details about
- what commands do you use?
- what version of cli are you using? (may check by `az version`)
- which article you are following? (I didn't find any Microsoft doc introducing how to update the defender profile with azure-cli, only this [one](https://docs.microsoft.com/e

[2022-07-15 03:43] navba-MSFT commented on #5103
@nishantrajmitra I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any update on this. Awaiting your reply.

[2022-07-15 04:24] FumingZhang commented on #5090
Some more updates, the command should work fine if you only have azure-cli installed, without aks-preview. However, if you also have aks-preview installed, please use the latest version of aks-preview.

[2022-07-15 08:49] RakeshMohanMSFT commented on #5051
@agoncal Apologies for the delay, we managed to get it to work without any issue with the latest version of az cli [2.38.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli). Can you try upgrading to see if it working for you? if not please share debug log with us for further troubleshooting.

[2022-07-15 11:39] brynn-code commented on #5091
Hi [IsmaelGSerrano](https://github.com/IsmaelGSerrano), seems the key following --set is wrong, should be `inputs` instead of `input`.

[2022-07-15 14:44] agoncal commented on #5051
Yes, it's working. Thanks

[2022-07-15 14:44] #5051 closed

[2022-07-15 15:14] diondrapeck commented on #5111
Tagging @hugoaponte for environments insight

[2022-07-15 19:15] RajiSubramanian commented on #5090
No, we have installed AKS-Preview, Azure-Cli and kubernetes version and all are upto date. But still fails to map custom log analytics workspace.

[2022-07-16 08:01] #5039 closed

[2022-07-18 02:23] FumingZhang commented on #5090
Hi @RajiSubramanian, could you please use logAnalyticsWorkspaceResource**Id** as the key in the json config (instead of logAnalyticsWorkspaceResource**ID**) and try agagin?

[2022-07-18 05:05] navba-MSFT commented on #5103
@nishantrajmitra The action is currently pending on you to update the `aks-preview` extension and then test the command again. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-07-18 05:05] #5103 closed

[2022-07-18 05:57] RakeshMohanMSFT commented on #5063
@mmentella We are unable to reproduce this issue with latest version of azure cli [2.38.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli). Can you please upgrade and try again?

[2022-07-18 06:21] RakeshMohanMSFT commented on #4761
@diberry Apologies for the delay! can you please upgrade to the latest version of azure cli [2.38.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and see if you are still facing this issue?

[2022-07-18 06:29] RakeshMohanMSFT commented on #4452
@mkheck let us know if you got the chance to verify the fix.

[2022-07-18 06:33] RakeshMohanMSFT commented on #4290
Closing the thread

[2022-07-18 06:33] #4290 closed

[2022-07-18 06:37] RakeshMohanMSFT commented on #4067
Apologies for the delay. The command expects certain parameters like this

`az ml job list --query "[].{Name:name,Jobstatus:status}" --output table --resource-group my-resource-group --workspace-name my-workspace`

[2022-07-18 06:45] RakeshMohanMSFT commented on #3894
@adamjones-lhpt We sincerely apologies for the delay, can you upgrade to the latest CLI [2.38.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)? and retry it should work now.

[2022-07-18 07:53] RakeshMohanMSFT commented on #3752
@prajwal11 We sincerely apologies for the delay. Can you try to upgrade to the latest version of Az cli [2.38.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)? it should work then.

[2022-07-18 08:08] RakeshMohanMSFT commented on #3252
@samb0803 We sincerely apologies for the delay, can you try upgrading to the latest version of az cli [2.38.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and try running the command again?

[2022-07-18 08:09] RakeshMohanMSFT commented on #3125
@martincoetzer We sincerely apologies for the delay, can you upgrade to the latest version of az cli [2.38.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and try running the command again.

[2022-07-18 08:29] RakeshMohanMSFT commented on #2485
This is fixed

[2022-07-18 08:29] #2485 closed

[2022-07-18 08:31] RakeshMohanMSFT commented on #2477
This is fixed in the latest version of azure cli [2.38.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-07-18 08:31] #2477 closed

[2022-07-18 08:44] RakeshMohanMSFT commented on #2286
This is fixed. https://docs.microsoft.com/en-us/cli/azure/ml(v1)/computetarget?view=azure-cli-latest

[2022-07-18 08:44] #2286 closed

[2022-07-18 08:47] RakeshMohanMSFT commented on #1781
@MS-Trev This is fixed.

[2022-07-18 08:47] #1781 closed

[2022-07-18 08:48] aadhikary opened #5126 "Currently 'az network bastion ssh' does not work on linux"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Related command

SSh extention for az bastian currently does not work on linux

$ az network bastion ssh
Command group 'network bastion' is in preview and under development. Reference and support levels: https://aka.ms/CLI_refstatus
**Platform is not s

[2022-07-18 08:50] RakeshMohanMSFT commented on #1102
@rsethur This is fixed now

[2022-07-18 08:50] #1102 closed

[2022-07-18 08:50] yonzhan commented on #5126
route to CXP team

[2022-07-18 10:15] #2457 closed

[2022-07-18 13:19] RajiSubramanian commented on #5090
Thanks for your support. The issue is fixed.

[2022-07-18 13:58] adamjones-lhpt commented on #3894
I can confirm that the feature is now working.

[2022-07-18 14:36] #3894 closed

[2022-07-19 00:58] #2816 closed

[2022-07-19 02:54] navba-MSFT commented on #5126
@aadhikary Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-19 06:04] RobBowman opened #5129 "azure data factory - link a shared integration runtime via az cli"
I have two data factories. The "shared" data factory has an integration runtime that I'd like to share with the "client" data factory via az cli.

I am able to do this via the portal by navigating through the "shared" data factory \ Integration Runtimes \ Edit \ Sharing tab and selecting "Grant permission to another Data Factory or user-assigned managed identity".

My problem comes when trying to

[2022-07-19 06:42] yonzhan commented on #5129
datafactory

[2022-07-19 14:23] #4067 closed

[2022-07-19 16:59] aadhikary commented on #5126
Hi @navba-MSFT, thanks for the update.

The problem is bot regarding connecting to Linux VM. The issue is that my local machine is linux not windows and ssh extension does not support linux as on the description. Hope this helps

[2022-07-20 09:21] IsmaelGSerrano commented on #5091
Yes, you are right. 😳

[2022-07-20 09:21] #5091 closed

[2022-07-20 13:48] itskumart opened #5138 "Error While Running az aks update with --enable-keda"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update
Extension Name: aks-preview. Version: 0.5.91.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks update --resource-gro

[2022-07-20 14:39] tphilley opened #5139 "az monitor app-insights web-test create"
### Related command
az monitor app-insights web-test create

### Extension name (the extension in question)
application-insights

### Description of issue (in as much detail as possible)
Running the 'az monitor app-insights web-test create' command while passing in the --headers argument results in an error. Running the command without the --headers argument works as intended.
Error Message:
[code

[2022-07-20 22:12] yonzhan commented on #5138
route to CXP team

[2022-07-20 22:13] yonzhan commented on #5139
monitor

[2022-07-21 04:17] navba-MSFT commented on #5126
@aadhikary Thanks for clarifying your ask. The “Connect – other native clients” section of [Connect to a VM using a native client and Azure Bastion - Azure Bastion | Microsoft Docs](https://docs.microsoft.com/en-us/azure/bastion/connect-native-client-windows) might be useful. It suggests using az network bastion tunnel and then running a regular ssh command.

[2022-07-21 09:10] navba-MSFT commented on #5138
@itskumart Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-21 10:01] navba-MSFT commented on #5138
@itskumart I was able to run the command to enable Keda in my AKS Cluster and that worked just fine.

Could you please confirm if you have Registered the `AKS-KedaPreview` for the namespace and subscription?

Once the feature 'AKS-KedaPreview' is registered, invoking 'az provider register -n Microsoft.ContainerService' is required to get the change propagated.

Then please run the below command:

[2022-07-22 03:45] cmdbean opened #5144 "k8s-extension authorization error"
### Related command
`az k8s-extension create`

### Extension name (the extension in question)
k8s-extension

### Description of issue (in as much detail as possible)

I was trying to install AzureML extensions to AKS using this URL.
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-attach-kubernetes-anywhere?tabs=deploy-extension-with-cli%2Ccli

I tried to run the following command an

[2022-07-22 06:44] yonzhan commented on #5144
route to CXP team

[2022-07-22 12:55] cmdbean commented on #5144
I checked the error, this problem seems to be caused by the following request.

[code]

[2022-07-22 18:29] petergaultney opened #5146 "az storage blob directory download fails with AttributeError"
## Describe the bug

**Command Name**
`az storage blob directory download
Extension Name: storage-preview. Version: None.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az login -i`
- `az storage blob directory download -c {} -s {} -d {} --account-name {} --auth-mode {}`

## Expect

[2022-07-22 22:02] yonzhan commented on #5146
storage

[2022-07-22 23:47] arkady69 opened #5147 "az monitor log-analytics query is very picky about kusto queries"
$query = 'AzureDiagnostics | where action_s == "Blocked" | count'

$w = 'valid--id'

Invoke-AzOperationalInsightsQuery -WorkspaceId $w -Query $query -ErrorAction Stop   -Timespan (New-TimeSpan -Hours 2)| Select-Object -ExpandProperty Results --> produces
Count
------
123

'az monitor log-analytics query -w $w --analytics-query $query -t PT3H ' produces -> BadArgumentError: The request had some inv

[2022-07-23 06:34] yonzhan commented on #5147
monitor

[2022-07-25 05:48] navba-MSFT commented on #5126
@aadhikary I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you  had a chance to follow the above suggestion. Awaiting your reply.

[2022-07-25 06:07] navba-MSFT commented on #5138
@itskumart I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you  have any follow-up questions on this. Awaiting your reply.

[2022-07-25 09:25] aadhikary commented on #5126
@navba-MSFT we can use the tunneling which works fine but we had to write our own scripts to use ssh via bastian for running Ansible playbooks. Considering that there is already a CLI command that is suppose to do this could we get a timeline on when can we get this bastion ssh feature working on Linux. I am sure this will be useful for the whole Azure community.

[2022-07-25 23:19] ozbillwang commented on #3702
looks fine to me now. thanks

[2022-07-25 23:19] #3702 closed

[2022-07-26 04:41] navba-MSFT commented on #5126
@aadhikary Thanks for the feedback. Expanding the native client support is on our radar, but lower on the priority list compared to other features since the tunnel command is an effective solution.

If you would like to provide more details about the your scenario and your use case, I can share this with the product owners. They can add it to our backlog and review the ask during future planning c

[2022-07-26 17:14] ecrowe-aridhia opened #5157 "az ssh vm fails in 2.38"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ssh vm
Extension Name: ssh. Version: 1.1.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.
az login
az ssh vm --ip 11.22.33.44

This command works fine with
az version
{
  "azu

[2022-07-26 19:07] marabesi opened #5158 "az monitor app-insights query with start and end time"
### Related command
[code]

### Extension name (the extension in question)

app-insights

### Description of issue (in as much detail as possible)

The documentation around the app-insights query is not that completed when referring to the field "--start-time", the command below is an attempt to make a query and filter by the start date, but when the command is executed I see the error:

[code]

W

[2022-07-27 00:20] yonzhan commented on #5157
route to CXP team

[2022-07-27 00:21] yonzhan commented on #5158
monitor

[2022-07-27 03:10] navba-MSFT commented on #5138
@itskumart The action is currently pending on you to try the above suggestion. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-07-27 03:10] #5138 closed

[2022-07-27 16:00] eehret commented on #4915
@vthiebaut10  Sure, no problem.

![ad_ssh_correct_behaviour](https://user-images.githubusercontent.com/1770106/181294115-b26ce10c-7168-4460-9397-1941691bef87.jpg)

![ad_ssh_incorrect_behaviour](https://user-images.githubusercontent.com/1770106/181294147-f9afdc11-938a-4a36-a5a2-406071bf8ecc.jpg)

As you can see, with the correct behaviour the banner is the very first thing that the user sees while

[2022-07-27 17:23] ssbandari1 opened #5161 "az aks create failing for AKS Azure CNI Dynamic allocation of IPs"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create
Extension Name: aks-preview. Version: 0.5.64.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-gro

[2022-07-27 17:41] SaurabhSharma-MSFT commented on #5157
@ecrowe-aridhia We are looking into it and get back to you for any additional information.

[2022-07-27 18:07] vthiebaut10 commented on #4915
@eehret Thank you for sharing more details on the issue. I've identified the cause of the problem, and I'll schedule time to work on a solution. I'll update this issue once we release a fix.

[2022-07-27 23:58] yonzhan commented on #5161
route to CXP team

[2022-07-28 02:08] RakeshMohanMSFT commented on #5161
@ssbandari1 Thank you for reaching out, we are looking into it.

[2022-07-28 05:53] FumingZhang commented on #5161
Hi @ssbandari1, sorry for the inconvenience, the old version of aks-preview (0.5.64) has some compatibility issues with the latest version of azure-cli (2.38.0). Please update your aks-preview, the latest version is 0.5.92.
`az extension update -n aks-preview`

[2022-07-28 08:17] tommyJimmy87 commented on #5102
Sorry I didn't have time to test this, will be back asap.

[2022-07-28 08:56] RakeshMohanMSFT commented on #5102
@tommyJimmy87 Thank you

[2022-07-28 11:47] bandhit opened #5168 "Unable to change request URL in Classic Web Test on Application Insights"
Hi friends,
I ran into some trouble with `application-insights: 0.1.16` extension recently.
Could you give me some advice?

## Describe the bug

I was attempting to change a request URL in Classic Web Test on Application Insights via `az`.
I was able to do it with Standard Web Test on last month, but it is not worked now.
I am not sure if Classic Web Test can use the same command as Standard Web T

[2022-07-28 13:20] yonzhan commented on #5168
monitor

[2022-07-28 20:02] petersladek opened #5170 "front-door extension can not find existing front door resources"
### Related command

[code]
### Extension name (the extension in question)
front-door

### Description of issue (in as much detail as possible)
I was trying to use AZ cli to execute some command against existing front-door, but found out that front-door extension is unable to locate any FD resources by name or resource id for any command I tried. I was getting (ResourceNotFound) error. Then found

[2022-07-28 23:06] yonzhan commented on #5170
route to CXP team

[2022-07-30 23:43] #4120 closed

[2022-08-01 03:24] navba-MSFT commented on #5126
@aadhikary Hope you had a chance to look at my above comment. With that we will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-08-01 03:24] #5126 closed

[2022-08-02 02:53] navba-MSFT commented on #5170
@petersladek Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-02 06:59] navba-MSFT commented on #5170
@petersladek While I ran the command `az network front-door list` it was able to list the frontdoor resource details. I am using the front-door extension version 1.0.16 with AzCLi 2.38 version.

Could you please follow the below action plan and check if that helps ?

**Plan 1:**
Run the below commands in order and check if that helps:
- az login
- az account set --subscription "XXXXXXX-XXXX-XXXX-X

[2022-08-02 09:34] RakeshMohanMSFT commented on #5139
@tphilley Thank you for reaching out, we are looking into it.

[2022-08-02 10:01] petersladek commented on #5170
That is not working for me. However I found out the root cause. `az network front-door` can only be used on front door **classic**. For standard/premium you have to use new command [`az afd`](https://docs.microsoft.com/en-us/cli/azure/afd?view=azure-cli-latest) that I found only by accident when browsing available `az` commands. The problem is that if you google "az cli front door" all links refer

[2022-08-02 10:42] navba-MSFT commented on #5170
@petersladek Thanks for the update and sharing the feedback. I have created the above PR to update our documentation. It is currently under review. In the meantime if you have any questions, please feel free to ask.

[2022-08-02 10:57] RakeshMohanMSFT commented on #4679
@pdahlgren Please reopen this issue if the issue resurfaces.

[2022-08-02 14:02] eehret commented on #4915
@vthiebaut10 That's great, thanks for letting me know!

[2022-08-02 20:47] daj-code commented on #4920
Hi, I've also been hitting this (it also seems to affect updating local users, as well as creating them).

From a quick code-read, it looks like this might be quite a simple fix to `src/storage-preview/azext_storage_preview/_validators.py` - replacing the line `key = k.split('=')[1]` with `key = k.split('=', 1)[1]` in `SshPublicKeyAddAction.__call__()` method (i.e. rather than splitting on every `

[2022-08-03 06:04] #5170 closed

[2022-08-03 06:25] #4679 closed

[2022-08-03 20:43] DaleyKD opened #5190 "'NoneType' object has no attribute 'kind'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az hcs update
Extension Name: hcs. Version: 0.4.9.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az hcs update -g {} --name {} --consu

[2022-08-03 20:46] DaleyKD commented on #5190
Derp, never mind. Wrong resource name.

[2022-08-03 20:46] #5190 closed

[2022-08-04 06:39] navba-MSFT commented on #5144
@cmdbean Apologies for the late reply. Thanks for reaching out to us and reporting this issue. I was able to run the command just fine. Could you please update your `k8s-extension `extension and then run the below command to see if that helps ?

[2022-08-04 09:11] sjovang opened #5201 "AttributeError: 'NetworkManagerCommitsOperations' object has no attribute 'post'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network manager post-commit
Extension Name: virtual-network-manager. Version: 0.5.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `

[2022-08-04 09:30] yonzhan commented on #5201
network

[2022-08-04 13:32] bandhit commented on #5168
Any clues here?

[2022-08-06 23:40] #4902 closed

[2022-08-08 01:41] kairu-ms commented on #5168
Thanks for the feedback. We will fix it. Could you use `az monitor app-insights web-test create` command as a workaround.

[2022-08-08 04:16] navba-MSFT commented on #5144
@cmdbean I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you  are still seeing the same issue. Awaiting your reply.

[2022-08-08 05:44] RakeshMohanMSFT commented on #2101
This is fixed. Please upgrade to latest version of Az CLI [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-08 05:44] #2101 closed

[2022-08-08 06:05] RakeshMohanMSFT commented on #3693
This is Fixed. Please upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-08 06:05] #3693 closed

[2022-08-08 07:07] RakeshMohanMSFT commented on #3342
This is fixed. Please upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

az aks update -n issue3693cluster -g Issue3693 --attach-acr issue3342registry
The behavior of this command has been altered by the following extension: aks-preview
AAD role propagation done[############################################]  100.0000%{
  "aadProfile": null,

[2022-08-08 07:07] #3342 closed

[2022-08-08 07:30] RakeshMohanMSFT commented on #3592
This issue is Fixed. Please upgrade to latest version of az cli [2.36.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-08 07:30] #3592 closed

[2022-08-08 08:43] zioalex commented on #2596
Hi, the above command it isn't supported anymore. Is there any other way to run a simple query, not a saved one, from the CLI?

[2022-08-08 10:25] RakeshMohanMSFT commented on #3949
This issue is fixed. Please upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-08 10:25] #3949 closed

[2022-08-08 18:03] udubnate opened #5215 "Having issue running aks get-credentials with aks-preview extensino - case_insensitve_dict error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials
Extension Name: aks-preview. Version: 0.5.92.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credenti

[2022-08-08 18:40] panchagnula commented on #5041
Currently we have no plans to add special parameters to up command, Adding @anthonychu & @sanchitmehta for JAVA specific scenarios support.

[2022-08-08 18:42] panchagnula commented on #5041
@agoncal please report regarding GitHub actions API support here https://github.com/microsoft/azure-container-apps/issues

[2022-08-08 22:10] yonzhan commented on #5215
route to CXP team

[2022-08-09 03:28] navba-MSFT commented on #5215
@udubnate Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-09 06:01] navba-MSFT commented on #5215
@udubnate I am unable to replicate this issue using the same version of `aks-preview` extension. The only difference was that I am using most recent version of Azure CLI.

I could see that you are using an older version of `azure-cli 2.37.0 * `. To isolate this issue, Could you please use the[ most recent version of AzCLI ](https://docs.microsoft.com/en-us/cli/azure/update-azure-cli)and test again

[2022-08-09 08:02] #5108 closed

[2022-08-09 08:02] #5063 closed

[2022-08-09 08:02] #5018 closed

[2022-08-09 08:02] #4761 closed

[2022-08-09 08:02] #3884 closed

[2022-08-09 08:02] #3666 closed

[2022-08-09 08:02] #3659 closed

[2022-08-09 08:02] #3445 closed

[2022-08-09 08:02] #3424 closed

[2022-08-09 08:02] #3252 closed

[2022-08-09 08:02] #3125 closed

[2022-08-09 08:02] #1158 closed

[2022-08-09 08:02] #520 closed

[2022-08-09 13:21] agoncal commented on #5041
Thanks

[2022-08-09 13:21] #5041 closed, assigned to nobody

[2022-08-09 15:33] #5215 closed

[2022-08-09 16:35] RakeshMohanMSFT commented on #1069
This is working and can deploy to west us. Please upgrade to latest version of azure cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli)
`az spring-cloud create -n issue1069springcloud -g Issue1069 -l westus`
![image](https://user-images.githubusercontent.com/49954584/183707906-298ebc2e-d9c3-4358-8a75-454316d01836.png)

[2022-08-09 16:35] #1069 closed

[2022-08-09 17:18] swells opened #5220 "azure-mgmt-monitor 4.0.1 might be causing azure ext repo PRs to fail validation in py3.6"
Perhaps commit: https://github.com/Azure/azure-cli/commit/76c224121c05f77f6cf6f17130b6c8fde824e10a  is causing build issues in the azure-cli-extensions repo during ext PRs. This worked ok last week.

Impact is that it is failing and preventing ext's from successfully merging PRs hence can not publish ATM.

<img width="1378" alt="image" src="https://user-images.githubusercontent.com/1356351/1837122

[2022-08-09 23:10] yonzhan commented on #5220
@kairu-ms for awareness

[2022-08-10 02:11] swells commented on #5220
closing since this resolved it --> https://github.com/Azure/azure-cli-extensions/pull/5218

Thanks folks for fixing in a timely manner.

[2022-08-10 02:11] #5220 closed

[2022-08-10 03:15] navba-MSFT commented on #5144
@cmdbean The action plan is pending on you to update your `k8s-extension` extension as mentioned above and test the command again. Please feel free to reopen this thread, if that doesn't resolve this issue. We would be happy to help.

[2022-08-10 03:15] #5144 closed

[2022-08-10 07:09] #441 closed

[2022-08-10 13:02] JJKW1984 commented on #1736
@smunj Has there been any work on correcting this issue?

[2022-08-10 22:36] JDoornink commented on #1717
Is this still being investigated? I still see a huge need for this

[2022-08-11 16:39] mattmshell opened #5232 "az ml 2.7.0 online-deployment update does not honour json output"
### Related command

[code]

### Extension name (the extension in question)

ml

### Description of issue (in as much detail as possible)

On Linux, under bash, `az ml online-deployment update` appears to print progress dots, despite `--output json`. These cannot be parsed as JSON causing an error in my PowerShell script:

[code]

Downgrading to 2.6.x mitigates this issue.

[2022-08-11 22:10] yonzhan commented on #5232
route to CXP team

[2022-08-12 18:47] jakeatmsft opened #5234 "AzureML CLI v2 - R api - Mlflow causing pipeline to break"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Related command
az ml job create

### Extension name (the extension in question)
ml

### Description of issue (in as much detail as possible)
When running a ml component running R api mlflow code block using "with statement" block, following documentat

[2022-08-12 22:42] yonzhan commented on #5234
route to CXP team

[2022-08-14 03:11] #4988 closed

[2022-08-14 08:02] #4209 closed

[2022-08-14 08:02] #3752 closed

[2022-08-15 15:59] charris-msft opened #5238 "ContainerApps - Update error message and help to indicate need to use --registry-server argument"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Related command

`containerapp create`

### Extension name (the extension in question)
containerapp

### Description of issue (in as much detail as possible)
I’m trying to deploy [Metabase](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2

[2022-08-15 16:50] joshk0 commented on #5018
I'd like to reopen this - it seems like this command should work with `--auth-mode login`. Is there a reason it's deprecated or would not be supported in a GA version of azcopy?

[2022-08-15 22:21] yonzhan commented on #5238
route to CXP team

[2022-08-15 22:26] panchagnula commented on #5238
@anthonychu FYI.

@haroonf I believe this is an error from the API that is surfaced on the client, can you confirm. If not lets check if there is some change on the client side that can be done. Thanks!

[2022-08-16 01:50] evelyn-ys commented on #5018
There's conflicts between azcopy's support for AAD auth with CLI's support for AAD auth. So we can't integrate azcopy's AAD auth in CLI.

If customer has strong dependence on azcopy's AAD auth, they can call `azcopy` directly. CLI has installed `azcopy` already.

[2022-08-16 07:55] sejonssonjer commented on #1618
Was looking for the same today and to my surprise it is only possible via REST API? Is there any undocumented feature for this in the cli that you can share? Or if it does not exist, do you know when it will be?

Thanks!

[2022-08-17 11:01] shubham1172 opened #5243 "k8s-extension: Custom commands for partner extensions"
### Related command

[code]

### Extension name (the extension in question)

k8s-extension

### Description of issue (in as much detail as possible)

The `k8s-extension` CLI extension supports some generic CRUD commands today, [docs](https://docs.microsoft.com/en-us/cli/azure/k8s-extension?view=azure-cli-latest). As a partner team, we would like to open custom commands for the Dapr extension. The

[2022-08-17 11:45] yonzhan commented on #5243
route to CXP team

[2022-08-17 18:37] charris-msft opened #5246 "`containerapp-compose` extension not auto installing"
### Related command
`containerapp compose`

### Extension name (the extension in question)
containerapp-compose

### Description of issue (in as much detail as possible)
In the [az containerapp compose](https://docs.microsoft.com/en-us/cli/azure/containerapp/compose?view=azure-cli-latest) doc, it says: "This reference is part of the containerapp-compose extension for the Azure CLI (version 2.15.0

[2022-08-17 19:00] panchagnula commented on #5246
@charris-msft please note that there is no compose sub group support for extension 'az containerapp'
'az containerapp-compose' is a separate extension so please use az container app-compose create as the command to run & use the extension. Thanks!

[2022-08-17 19:06] charris-msft commented on #5246
@panchagnula - It seems like the documentation should be updated then as it is referencing `az containerapp compose`:

![image](https://user-images.githubusercontent.com/74415662/185222381-d48a2c9d-13e4-46b0-af39-097e975c511b.png)

[2022-08-17 19:11] panchagnula commented on #5246
closed it by accident - the help docs should be updated accordingly.

[2022-08-17 23:01] yonzhan commented on #5246
route to CXP team

[2022-08-18 02:46] navba-MSFT commented on #5238
Adding Service team to look into this.

[2022-08-18 05:03] EllaLiMSCSS opened #5250 "Fail to list ADF pipelines using az cli extension even though updated az cli to latest cli version 2.39.0"
**Related command**

az datafactory pipeline list --factory-name XDLKMCNINFDTFACINST001 -g XDLKMCNINFRESGP026  --debug

***Errortack is as following:***
DEBUG: cli.azure.cli.core.util: Traceback (most recent call last):
  File "/root/lib/azure-cli/lib/python3.8/site-packages/msrest/serialization.py", line 1626, in deserialize_data
    return self.deserialize_type[iter_type](data, data_type[1:-1])

[2022-08-18 05:52] yonzhan commented on #5250
route to CXP team

[2022-08-18 06:34] navba-MSFT commented on #5246
@charris-msft Thanks for reaching out to us and reporting this issue. I can help in getting the docs updated.

@panchagnula Could you please confirm if the command is right ? Because I couldn't run it as the command wasn't recognized.

The installed extension 'containerapp-compose' is in preview.

**'app-compose' is misspelled or not recognized by the system.**

Awaiting your reply.

[2022-08-18 06:49] EllaLiMSCSS commented on #5250
Hi @Jingshu923 , @zhangyd2015 , @Frey-Wang , could you please help to check the issue?

[2022-08-18 07:24] boubou191911 opened #5251 "az ssh config under wsl creates empty public key"
### Related command
az ssh config

### Extension name (the extension in question)
ssh
azure-cli                         2.39.0
core                              2.39.0
telemetry                          1.0.6 *
Extensions:
ssh                                1.1.2
Dependencies:
msal                            1.18.0b1
azure-mgmt-resource             21.1.0b1
Python location 'C:\Program Files (x86)\

[2022-08-18 08:02] #4789 closed

[2022-08-18 10:59] yonzhan commented on #5251
route to CXP team

[2022-08-18 13:50] charris-msft commented on #5246
@navba-MSFT - after some additional testing yesterday, the doc just need to be updated to include the action `create`.

If you don't have the containerapp-compose extension installed, and run the following it will prompt you to install the extension:

`az containerapp compose create`

[2022-08-18 14:01] charris-msft opened #5252 "`containerapp compose create` is not respecting the --location argument"
### Related command
`az containerapp compose create`

### Extension name (the extension in question)
containerapp-compose

### Description of issue (in as much detail as possible)
When running the command and specifying a location via `-l` or `--location` it ignores the specified location and defaults to 'westus3' which "is not currently supported".

![image](https://user-images.githubusercontent.

[2022-08-18 14:41] yonzhan commented on #5252
route to CXP team

[2022-08-18 14:48] smurawski commented on #5252
@charris-msft What versions of the extensions (containerapp and containerapp-compose) do you have installed?

[2022-08-18 15:25] charris-msft commented on #5252
@smurawski
[code]

[2022-08-18 15:31] smurawski opened #5253 "ContainerApp - Unauthenticated image pulls are broken in 0.3.9"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Related command
Deploy the simple example ContainerApps demo container following https://docs.microsoft.com/en-us/azure/container-apps/get-started?tabs=bash

[code]

### Extension name (the extension in question)

containerapp version 0.3.9

### Descri

[2022-08-18 15:32] smurawski commented on #5252
@charris-msft

I'm finding another bug in the 0.3.9 that has blocked me from testing so far ( https://github.com/Azure/azure-cli-extensions/issues/5253 ) , but I was able to deploy successfully to Canada Central with the `containerapp` extension at 0.3.8 and 0.3.7.

I'll continue to check with 0.3.9 with a private image shortly.

[2022-08-18 16:15] smurawski commented on #5252
@charris-msft

I've confirmed your problem - it appears that the resource group location is overriding command line provided location arguments - which appears to be happening regardless of containerapp extension version.  I'll investigate further.

[2022-08-18 16:23] navba-MSFT commented on #5246
Thanks @charris-msft . I will create the PR for the same tomorrow and update this thread.

[2022-08-18 16:50] charris-msft commented on #5252
@smurawski I tested by moving my existing resources to a new rg in the location where I wanted to create the new containerapp, ran the command and it didn't error out this time. (still running)

[2022-08-18 21:35] ChristopherMcDonald commented on #1691
Bump @narula0781 @ashishonce @romil07 @yonzhan 😞

[2022-08-18 22:35] yonzhan commented on #5253
route to CXP team

[2022-08-19 08:02] #5161 closed

[2022-08-19 08:02] #5102 closed

[2022-08-19 18:41] harmen-msft commented on #4908
@yonzhan @necusjz @arpit-gagneja We will have a new manifest around the first week of September. Can you create this release around mid-September?

If you could specify a date, that would be appreciated.

[2022-08-21 16:17] necusjz commented on #4908
@harmen-msft, if the new manifest is deployed on time, we could deliver it on 16th Sept.

[2022-08-22 04:30] vinaykumar-rm opened #5258 "az image copy failed with error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az image copy
Extension Name: image-copy-extension. Version: 0.2.9.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az image copy --sour

[2022-08-22 08:44] yonzhan commented on #5258
@zhoxing-ms for awareness

[2022-08-22 09:01] zhoxing-ms commented on #5258
@vinaykumar-rm Could you please send me the debug log *(Add `--debug` parameter)* by email? My email address is Zhou.Xing@microsoft.com, thanks~

[2022-08-22 09:04] EllaLiMSCSS commented on #5250
Hi  @Jingshu923 ,@Frey-Wang . Good day. May I know the progress of the issue?

Thanks!

B&R
Ella

[2022-08-22 09:16] Frey-Wang commented on #5250
@EllaLiMSCSS Az package is outdated and we are working on fixing it. Please use Az Powershell or direct REST API as workaround. Thanks.

[2022-08-23 05:23] navba-MSFT commented on #5246
@charris-msft Apologies for the delay in getting back.

I did some research on this and seems like the approach to file PR is not straight forward.

![image](https://user-images.githubusercontent.com/57353862/186075959-599710c3-6d73-46fe-b56e-8f86344225e2.png)

The above message comes from [this](https://apidrop.visualstudio.com/Content%20CI/_build?definitionId=477) templated docs reference pipeli

[2022-08-23 10:52] AllyW commented on #5158
Hello Marabesi, since your second try returns no error, the date format should be right. The reason nothing return in console might need to debugged. Could you please add `--debug` in your command (like below) to see what's returning in your console and see what's going on in the backend?
[code]

[2022-08-24 07:00] #5158 closed

[2022-08-24 16:20] StrawnSC commented on #5253
A fix for this is in progress here: https://github.com/calvinsID/azure-cli-extensions/pull/144

[2022-08-24 17:01] smurawski commented on #5252
This is fixed in https://github.com/Azure/azure-cli-extensions/pull/5262 (version 0.2.1) which is available now.

[2022-08-24 18:28] harmen-msft commented on #4908
@necusjz That works, let's go with Sept 16, 2022. Thanks.

[2022-08-24 18:35] matiasveritone opened #5268 "API version 2022-03-01 does not have operation group 'virtual_machines'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ssh vm
Extension Name: ssh. Version: 1.1.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ssh vm --name {} --resource-group {}`

[2022-08-24 18:59] micai opened #5269 "Error when trying to update the max concurrency property on an ADF trigger"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az datafactory trigger update
Extension Name: datafactory. Version: 0.5.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az datafactor

[2022-08-24 20:57] rodrigobrochado opened #5270 "az ssh vm problem with Portal ssh configuration reset"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Related command

 az ssh vm -n myVM -g dev

### Extension name (the extension in question)
ssh

### Description of issue (in as much detail as possible)

-----

A coleague was having problem accessing a Linux VM with az cli plugin, although I could acc

[2022-08-24 21:01] charris-msft commented on #5252
Looks like it's working - it created the ACA Environment in the correct location.

Though because I'm still getting prompted my registry credentials (which I don't know), I can't confirm that the ACA gets created in the correct location as well.

[2022-08-24 21:21] smurawski commented on #5252
Thanks @charris-msft !  The registry credentials prompting should be fixed once v0.3.10 of the `containerapp` extension ships.

The PR for that is here - https://github.com/Azure/azure-cli-extensions/pull/5241

[2022-08-24 23:34] yonzhan commented on #5268
route to CXP team

[2022-08-24 23:34] yonzhan commented on #5269
route to CXP team

[2022-08-24 23:35] yonzhan commented on #5270
route to CXP team

[2022-08-25 11:49] marcofunstage opened #5275 "az account tenant list fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account tenant list
Extension Name: account. Version: 0.2.3.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account tenant list`

[2022-08-25 14:14] yonzhan commented on #5275
@jiasli for awareness

[2022-08-25 16:20] panchagnula commented on #5253
this fix is released with our latest version
"name": "containerapp",
    "preview": true,
    "summary": "Microsoft Azure Command-Line Tools Containerapp Extension",
    "version": "0.3.10"

[2022-08-25 16:20] #5253 closed

[2022-08-25 23:26] SaurabhSharma-MSFT commented on #5269
@micai You need to use `--set properties.maxConcurrency=30` to update the Max Concurrency property.  See below.
![image](https://user-images.githubusercontent.com/38112130/186786037-fb4dc35d-b2c1-4e39-84ce-ddd4a57f7e25.png)

Thanks
Saurabh

[2022-08-26 00:13] SaurabhSharma-MSFT commented on #5268
@matiasveritone Can you please uninstall cli and use pip to install official Azure CLI from PyPI: https://pypi.org/project/azure-cli/ on you Kali linux machine.

[2022-08-26 05:41] navba-MSFT commented on #5246
@charris-msft I hope you had a chance to look at my above comment they don't have any ETA on when this would be fixed. We will update this thread once it is addressed.

@panchagnula Are you aware of any quick process to get this docs updated? please let me know.

[2022-08-26 13:23] RakeshMohanMSFT commented on #5252
@charris-msft and @smurawski can we close this issue, i see that the PR is merged.

[2022-08-26 15:37] charris-msft commented on #5252
I did some more testing and I'm comfortable closing it.

[2022-08-26 15:37] #5252 closed

[2022-08-26 19:44] SaurabhSharma-MSFT commented on #5157
@ecrowe-aridhia  I am not able to repro this issue.  Can you please share the trace using --debug ?

[2022-08-29 08:05] yanzhudd commented on #5258
Hello @vinaykumar-rm, we fix some relevant content. You can use a private package in blow link to check if it meets your expectations.

https://zhuyan.blob.core.windows.net/zhuyan-container/image_copy_extension-0.2.10-py2.py3-none-any.whl

[2022-08-29 14:27] yebarri opened #5284 "Unable to list the ground stations"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az orbital available-ground-station list
Extension Name: orbital. Version: 0.1.0.`

**Errors:**
[code]

[2022-08-29 23:08] yonzhan commented on #5284
@jsntcy for awareness

[2022-08-30 03:18] jsntcy commented on #5284
@thisisdevanshu, could you please help look at this issue?

cc// @kairu-ms

[2022-08-30 05:33] navba-MSFT commented on #5246
@charris-msft I have looped you in an email thread with the PM team. That email has the workitem details to track the docs fix for this issue. Archiving this GitHub thread for now.

[2022-08-30 05:33] #5246 closed

[2022-08-30 08:02] #4452 closed

[2022-08-30 08:02] #4151 closed

[2022-08-30 09:27] ecrowe-aridhia commented on #5157
@SaurabhSharma-MSFT I've not been able to replicate this again recently.

[2022-08-30 10:44] teo113 commented on #5016
Also having this issue with host name not being recognised. I'm connecting from within our corporate VPN, to a PostrgeSQL flexible server (name.postgres.database.azure.com) created in an existing VNet & subnet, with a new private DNS zone (name.private.postgres.database.azure.com). Can we have an update on this issue?
Access to Azure from our network has been configured on the on-prem firewall and

[2022-08-30 10:59] elaamrani opened #5288 "Error attaching ACR to AKS"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update -n <k8s-name> -g <resource-group-name> --attach-acr <acr-name>
Extension Name: aks-preview. Version: 0.5.51.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put a

[2022-08-30 11:10] shubham1172 commented on #5243
/ping

[2022-08-30 11:15] elaamrani commented on #5288
Additional content: I previously was able to pull images from my ACR inside AKS. I woke up this morning and it does not work anymore. The connection is refused.
I then tried to reattach ACR to AKS using
`az aks update -n <k8s-name> -g <resource-group-name> --attach-acr <acr-name>`
However, I got the above error. Could you please help?

[2022-08-30 11:52] yonzhan commented on #5288
route to CXP team

[2022-08-30 14:27] jpmckearin opened #5289 "Error when using aks show command on aks-preview"
## Describe the bug

**Command Name**
`az aks show
Extension Name: aks-preview. Version: 0.5.94.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.
- `az aks show -g {} -n {} -o table`

## Expected Behavior
Expected to see a table output of the current aks cluster status

## Environment Su

[2022-08-30 14:28] yonzhan commented on #5289
route to CXP team

[2022-08-30 16:54] SaurabhSharma-MSFT commented on #5157
@ecrowe-aridhia Thanks for the confirmation.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-08-30 16:54] #5157 closed

[2022-08-30 23:03] SaurabhSharma-MSFT commented on #5268
@matiasveritone Please let me know if you still having any issues else, we will proceed with the closure of this case.

[2022-08-31 06:52] RakeshMohanMSFT commented on #5289
@jpmckearin Thank you for reaching out, we are looking into it.

[2022-08-31 06:53] RakeshMohanMSFT commented on #5288
@elaamrani Thank you for reaching out, we are looking into it.

[2022-08-31 06:59] RakeshMohanMSFT commented on #5275
@marcofunstage We are unable to reproduce this issue in our end.
![image](https://user-images.githubusercontent.com/49954584/187613672-b324eaa0-1817-4169-917a-4f90842a9aaf.png)

Can you upgrade to python and az cli version please and retry?

[2022-08-31 07:08] RakeshMohanMSFT commented on #5288
@elaamrani can you go through this and see it helps you? https://github.com/Azure/azure-cli/issues/9598#issuecomment-1064355654

[2022-08-31 07:13] RakeshMohanMSFT commented on #5289
@jpmckearin We are unable to reproduce this issue at our end.

![image](https://user-images.githubusercontent.com/49954584/187616040-58815b00-387f-456f-aea9-02a59cf709e0.png)

Can you please try upgrading to the latest version of Az CLI 2.39.0

[2022-08-31 11:20] ElwinDo opened #5294 "error when running: az account subscription rename"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account subscription rename
Extension Name: account. Version: 0.2.3.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account subsc

[2022-08-31 11:28] ElwinDo commented on #5294
I was trying to rename a subscription, but when I installed the newest az cli and running the command "az account subscription rename", it shows:

Command group 'account subscription' is experimental and under development. Reference and support levels: https://aka.ms/CLI_refstatus
(InvalidResourceType) The resource type 'rename' could not be found in the namespace 'Microsoft.Subscription' for api

[2022-08-31 11:59] yonzhan commented on #5294
@jiasli for awareness

[2022-08-31 13:55] matiasveritone commented on #5268
@SaurabhSharma-MSFT sorry for the delay.

Indeed it was solved by running in Python, which isn't ideal, but it did work!

Thx!

[2022-08-31 19:23] harmen-msft commented on #4908
@necusjz on a side note, do you support Swagger version 3.0 for CLI generation and thus would auto generation work on it?

[2022-09-01 02:12] necusjz commented on #4908
We only support Swagger 2.0 now.

[2022-09-02 09:23] marcofunstage commented on #5275
I upgraded"az" to version "2.39.0" (with Python 3.10.5) and it works

[2022-09-02 09:23] #5275 closed

[2022-09-02 10:15] howardjones opened #5303 "aks-preview fails with last release - cannot import name 'dis'"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Related command

az aks get-credentials

### Extension name (the extension in question)

aks-preview

### Description of issue (in as much detail as possible)

The most recent release of aks-preview (0.5.96, 3 hours ago) fails to run `az aks get-creden

[2022-09-02 10:16] cyrmul opened #5304 "Error using "az datafactory integration-runtime list" command"
Hi,

My Azure DevOps pipeline is failing because of this instruction : az datafactory integration-runtime list --resource-group *** --factory-name ***

It works well yesterday afternoon but not today.

## Describe the bug

**Command Name**
`az datafactory integration-runtime list
Extension Name: datafactory. Version: 0.6.0.`

**Errors:**
I use a self-hosted agent. On my Windows agent, the tracebac

[2022-09-02 10:18] howardjones commented on #5303
import in question was part of this PR:
https://github.com/Azure/azure-cli-extensions/pull/5295

[2022-09-02 11:43] yonzhan commented on #5303
route to CXP team

[2022-09-02 11:44] yonzhan commented on #5304
@evelyn-ys for awareness

[2022-09-02 15:45] mohadelrezk commented on #5304
We confirm seeing the same on both (Jenkins agent and local machines)

[2022-09-05 02:51] navba-MSFT commented on #5303
@howardjones Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-05 02:53] navba-MSFT commented on #5304
@cyrmul Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-05 05:24] navba-MSFT commented on #5303
@howardjones You are using 0.5.96 version of the extension. Could you please update your` aks-preview` extension to the most recent version (**0.5.97**) and test again ?

Awaiting your reply.

[2022-09-05 05:45] navba-MSFT commented on #5304
@cyrmul I am unable to reproduce this issue at my end using the higher version of AzCLI. So could you please update your Azure CLI version to the [most recent version](https://docs.microsoft.com/en-us/cli/azure/update-azure-cli) and then run the same command again ? Awaiting your reply.

[2022-09-05 08:55] skazure opened #5310 "Draft setup-gh not working"
## Encountered below error while setting up Draft with VS Code DevX etension

**Command Name**
`az aks draft setup-gh
Extension Name: aks-preview. Version: 0.5.97.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks draft setup-gh`

## Expe

[2022-09-05 10:05] achrefbcl commented on #5304
Hello ,
I had the same issue this morning with listing integration runtimes for ADF .
 I had to upgrade azure CLI  to the latest version with the command  "az upgrade" and now it's working

[2022-09-05 11:44] yonzhan commented on #5310
route to CXP team

[2022-09-05 14:50] johnliu55-msft opened #5313 ""az appservice kube create" throwing Internal server error"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Related command

[code]

### Extension name (the extension in question)
appservice-kube

### Description of issue (in as much detail as possible)

I was following the doc [Set up an Azure Arc-enabled Kubernetes cluster to run App Service, Functions, an

[2022-09-05 14:52] yonzhan commented on #5313
route to CXP team

[2022-09-06 04:54] RakeshMohanMSFT commented on #4297
We have verified that this is working as expected in the latest version of az cli [2.40.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli). Please upgrade and retry.

![image](https://user-images.githubusercontent.com/49954584/188549872-3380f076-5fc7-43fc-85e3-e9c668b93160.png)

[2022-09-06 04:54] #4297 closed

[2022-09-06 08:46] yebarri commented on #5284
Hi, any update on this issue?

[2022-09-06 11:29] shashankbarsin opened #5315 "Azure CLI core's new release is causing failures in fleet commands"
### Related command

**az fleet create**

### Extension name (the extension in question) - fleet

### Description of issue (in as much detail as possible)

When we try to create fleet resource using the following command, we are always getting "cannot import name 'case_insensitive_dict'" error.

az fleet create -n name -g group
[code]

[code]

[2022-09-06 11:31] shashankbarsin commented on #5315
Seems to be related to #5304. Multiple command modules were probably impacted by this issue

[2022-09-06 12:15] yonzhan commented on #5315
route to CXP team

[2022-09-06 14:53] obiii commented on #5072
Hi,

We are having similar issues when running an ADF pipeline from azure devops azure cli task:

`$runId=az datafactory pipeline create-run --factory-name test-adf  --name "pl_load_training_data" --resource-group test-rg --query "runId" --output tsv`

results in:
![image](https://user-images.githubusercontent.com/17766651/188667035-459c5c75-81b0-44ba-97d4-d8996295b51a.png)

[2022-09-06 20:20] apwestgarth commented on #5313
This looks to indicate that the Kubernetes cluster is no longer connected to Azure Arc.  What is the status of the connected cluster?  This can be found either through cli - az connectedk8s -n <name of connected cluster> -g <Resource group> or via Azure Portal.

[2022-09-07 01:11] SaurabhSharma-MSFT commented on #5268
@matiasveritone We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-09-07 01:11] #5268 closed

[2022-09-07 02:47] jsntcy commented on #5315
@shashankbarsin, please upgrade to [most recent Azure CLI version](https://docs.microsoft.com/en-us/cli/azure/update-azure-cli) to see if the issue still exists.

[2022-09-07 03:25] pdaru commented on #5315
I failed to repro the error using az cli v2.39.0 & v.2.40. Could you try upgrading the version? @shashankbarsin

[2022-09-07 04:36] RakeshMohanMSFT commented on #5201
@sjovang Thank you for reaching out, we are looking into it.

[2022-09-07 04:36] RakeshMohanMSFT commented on #5146
@petergaultney Thank you for reaching out, we are looking into it.

[2022-09-07 04:46] johnliu55-msft commented on #5313
The command `az connectedk8s show` shows that the cluster is connected:

![Screenshot 2022-09-07 124000](https://user-images.githubusercontent.com/107901166/188790860-449ca790-7746-44c1-8f1b-bddc2f47cc24.png)

[2022-09-07 06:39] DavidErben opened #5317 "az containerapp revision commands not working anymore and return "Internal server error occurred.""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Several az containerapp commands are not working anymore since yesterday. In the Azure Portal it does not work either, f.e. it is not possible to list the revisions of a container app. Creating new revisions is also not possible anymore on the CLI as well as Azure Portal. So right now we cannot update our apps

[2022-09-07 07:51] navba-MSFT commented on #5303
@howardjones I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you are still facing the same isue. Awaiting your reply.

[2022-09-07 07:52] navba-MSFT commented on #5304
@cyrmul I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-09-07 08:03] navba-MSFT commented on #5315
@shashankbarsin Please update the AzCLI version and let us know if you see the same issue. Awaiting your reply.

[2022-09-07 08:11] navba-MSFT commented on #5317
@DavidErben Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-07 08:15] cyrmul commented on #5304
Hi,

Yes the problem is solved!
I just execute the command `az upgrade` on all my servers (thanks @achrefbcl ) and now it works just fine. :)

Thanks folks for your help!

[2022-09-07 08:15] #5304 closed

[2022-09-07 09:01] navba-MSFT commented on #5317
@DavidErben I am unable to reproduce this issue at my end. I am able to access the ContainerApp and check the revisions in Azure portal. Could you please let me know if you are still facing this issue ? If Yes, could you please share the `--debug `output of the above command. Awaiting your reply.

[2022-09-07 09:20] rezarms opened #5318 "az sentinel alert-rule list resource not found"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az sentinel alert-rule list`

`Extension Name: sentinel. Version: 0.1.2.`

**Errors:**
[code]

## To Reproduce:

- `az sentinel alert-rule list --resource-group {} --workspace-name {}`

## Expected Behavior
return list of alert
## Environment Summary
[code]
## Additional Context

I ran the co

[2022-09-07 09:30] yonzhan commented on #5317
route to CXP team

[2022-09-07 09:30] yonzhan commented on #5318
route to CXP team

[2022-09-07 09:59] RakeshMohanMSFT commented on #4543
@sebastian2696 Apologies for the delay in getting back. Can you please upgrade to the latest cli [2.40.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and retry? if you still see the issue, do share the debug traces with us after sanitizing sensitive information from them.

[2022-09-07 10:08] DavidErben commented on #5317
**Thanks for the reply! Here is the error I get in the portal (session ID 5e2f5e41b4db4e369d4329754cfe3e6f):**

![grafik](https://user-images.githubusercontent.com/79685270/188850958-ddf8c508-247c-4dea-a3ef-06de352a236a.png)

**This is the CLI output with --debug enabled (only the exception part since the beginning contained sensitive information like the subscription ID):**

cli.azure.cli.core.ut

[2022-09-07 12:18] nomuramasanori commented on #2184
It seems not to fix yet, does anyone have solution?

[2022-09-07 16:41] panchagnula commented on #5317
@haroonf could you take a look at this. Looking at the stack trace this seems like a timeout from the API end. We can share the correlationId with @sanchitmehta to help investigate.
From the CLI perspective we should handle such exceptions gracefully. Thanks!

[2022-09-07 18:54] AzureMarker opened #5321 "Azure CLI 2.40.0 breaks standard input passing on PowerShell"
## Describe the bug
We're executing an Azure CLI extension in PowerShell which requires interactive input, and that input is passed through stdin using the following code:
[code]

This was working fine until the latest Azure CLI version (2.40.0).

**Command Name**
`az arcappliance createconfig vmware`
Extension Name: arcappliance.
Version: 0.2.16.

(note: we are using an older arcappliance extensi

[2022-09-07 21:46] nikolaypopov commented on #5303
I am having exact same issue
`[root@df3c3c6af7d7 spawn]# az aks create
The command failed with an unexpected error. Here is the traceback:
cannot import name 'dis'
Traceback (most recent call last):
  File "/usr/lib64/az/lib/python3.6/site-packages/knack/cli.py", line 231, in invoke
    cmd_result = self.invocation.execute(args)
  File "/usr/lib64/az/lib/python3.6/site-packages/azure/cli/core/comm

[2022-09-07 23:16] panchagnula commented on #5317
@sanchitmehta / @torosent this is not a cli specific issue but I cannot transfer this to the ACA github repo - could one of you take a look & comment please? Thanks!

[2022-09-08 00:01] yonzhan commented on #5321
route to CXP team

[2022-09-08 02:05] jsntcy commented on #5321
@jiasli to help

[2022-09-08 03:15] navba-MSFT commented on #5318
@rezarms Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-08 04:13] navba-MSFT commented on #5303
@howardjones I am unable to reproduce this issue.

[code]

$  az aks get-credentials -n MyAKS -g MyAKS

I was able to run the AzCLI AKS command with 0.5.98 version of `aks-preview `extension. May I know the Azure CLI version you are using ? Could you please update you AzCLI to the[ most recent version](https://docs.microsoft.com/en-us/cli/azure/update-azure-cli) (2.40.0) and check if that helps ?

[2022-09-08 04:27] navba-MSFT commented on #5317
@DavidErben While we wait for the reply from @sanchitmehta and @torosent, Could you please check if you are able to invoke the [ContainerAPp revision list REST API ](https://docs.microsoft.com/en-us/rest/api/containerapps/container-apps-revisions/list-revisions?tabs=HTTP#code-try-0)directly from the cloud shell and check if that returns a 200 status code ? Awaiting your reply.

[2022-09-08 05:28] DavidErben commented on #5317
I have tried the REST API with the same result, it returns a 500 error.

`api-supported-versions: 2022-01-01-preview, 2022-03-01, 2022-05-01, 2022-06-01-preview
cache-control: no-cache
content-length: 156
content-type: application/json; charset=utf-8
date: Thu, 08 Sep 2022 05:10:12 GMT
expires: -1
pragma: no-cache
server: Microsoft-IIS/10.0
x-ms-correlation-request-id: 24b54ed5-5edd-4e5a-b047-2e68

[2022-09-08 05:45] navba-MSFT commented on #5317
@DavidErben I have shared these details with the Product Owners. They will look into this further and get back to you with an update.

[2022-09-08 05:58] navba-MSFT commented on #5318
@rezarms Please select the right subscription in AzureCLi before you run the alert-rule list command as shown below:

az account set --subscription "XXXXX-XXXXX-XXXXX-XXXX"
az sentinel alert-rule list --resource-group MyRGName --workspace-name MyWorkspaceName

Hope this helps.

[2022-09-08 07:05] rezarms commented on #5318
I'm sure I already selected proper subscription because I could see the resources there and in the debug mode the url contained  the correct subscription id  and also   running `az account show `  showed the proper subscription.
I did
[code]
and it worked.
I have the same issue in powershell.
` Get-AzSentinelAlertRule -ResourceGroupName rg-xx -WorkspaceName law-xx`
I can see the correct subscripti

[2022-09-08 07:11] navba-MSFT commented on #5318
@rezarms For Powershell, you can try to run the below command to select the right subscription:

Once you run the above command, then you can run the `Get-AzSentinelAlertRule` command. If you face the same issue after running the above command you can share the debug traces obtained after running `$DebugPreference="Continue"` command. Awaiting your reply.

[2022-09-08 08:21] rezarms commented on #5318
The error still persists.It's the same error I had with cli.
I can see the resources using `get-azresource -resourcegroup  myrg `
`Get-AzContext ` shows the correct subscription.

[2022-09-08 08:22] navba-MSFT commented on #5318
@rezarms  If you face the same issue after running the above command you can share the debug traces obtained after running $DebugPreference="Continue" command. Awaiting your reply.

[2022-09-08 08:48] rezarms commented on #5318
This is the output in debug :
[code]

The absolute url is exactly what I expect. It contacis correct subscription Id, resource group and workspace .
If I hit the url it returns data.
[code]

[2022-09-08 08:51] rezarms commented on #5318
it seems stupid but I restarted my PC and it's working now.

[2022-09-08 08:53] navba-MSFT commented on #5318
@rezarms Thanks for getting back. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-09-08 08:53] #5318 closed

[2022-09-08 10:19] Remigijus-D opened #5324 "az k8s-extension extension-types command errors out with "takes 1 positional argument but 2 were given""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az k8s-extension extension-types list-by-location
Extension Name: k8s-extension. Version: 1.3.3.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az k8s-extension extension-type

[2022-09-08 10:35] Remigijus-D opened #5325 "The extension operation failed with the following error: Failed to resolve the extension version from the given values."
### Related command

az k8s-extension create --cluster-type appliances --cluster-name $resource_name --resource-group $resource_group --name hci-vmoperator --extension-type Microsoft.AZStackHCI.Operator --scope cluster --release-namespace helm-operator2 --configuration-settings Microsoft.CustomLocation.ServiceAccount=hci-vmoperator --configuration-protected-settings-file $csv_path\ResourceBridge\h

[2022-09-08 11:02] DavidErben commented on #5317
It works again now, not sure if someone has fixed it or it was an issue with our subscription. Thanks for your help!

[2022-09-08 11:02] #5317 closed

[2022-09-08 12:14] RakeshMohanMSFT commented on #5201
@sjovang Can you please upgrade your virtual-network-manager extension to 0.5.3 and retry?

[2022-09-08 12:53] Remigijus-D opened #5326 "MissingAzureKubernetesMapping: does not support resource type with api-version '2021-09-01-preview'"
### Related command

az azurestackhci virtualnetwork create --subscription $subscription --resource-group $resource_group --extended-location name="/subscriptions/$subscription/resourceGroups/$resource_group/providers/Microsoft.ExtendedLocation/customLocations/$customloc_name" type="CustomLocation" --location $Location --network-type "Transparent" --name $vnetName

Command group 'azurestackhci' is

[2022-09-08 13:10] yonzhan commented on #5324
route to CXP team

[2022-09-08 13:11] yonzhan commented on #5325
route to CXP team

[2022-09-08 13:13] yonzhan commented on #5326
route to CXP team

[2022-09-08 16:53] torosent commented on #5317
We didn't do anything but we can investigate what happened if you send me the subscription id and environment name `acasupport at microsoft dot com`

[2022-09-08 21:07] nikolaypopov commented on #5303
It looks like I am using 2.38.0
`
[root@30e581e8b2f2 /]# az version
{
  "azure-cli": "2.38.0",
  "azure-cli-core": "2.38.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "aks-preview": "0.5.98"
  }
}
`
Upgrade using `az upgrade` doesn't work for some reason
`
[root@30e581e8b2f2 /]# az upgrade
This command is in preview and under development. Reference and support levels: https://aka.ms/

[2022-09-09 00:44] dejimarquis opened #5329 "The behavior of this command has been altered by the following extension: aks-preview"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create
Extension Name: aks-preview. Version: 0.5.51.`

**Errors:**
[code]
## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2022-09-09 01:37] yonzhan commented on #5329
route to CXP team

[2022-09-09 02:52] navba-MSFT commented on #5329
@dejimarquis Thanks for reaching out to us and reporting this issue. I see that you are using an older version of `aks-preview` extension. Could you please update it using the below command and then run your AzCLI command again ?

Awaiting your reply.

[2022-09-09 03:50] navba-MSFT commented on #5317
@torosent I have shared all the required details about the environment with you internally over email.

[2022-09-09 05:40] navba-MSFT commented on #5315
@shashankbarsin Please let us know if you had any update on this.

[2022-09-09 05:55] FumingZhang commented on #5303
Hey @howardjones, @nikolaypopov, I've noticed that both of you are using Python3.6, and the `sre_compile` module in Python3.6 does not have `dis` function, which results in the error.

I've checked the code, `sre_compile.dis` is actually not used and was accidentally added in PR [#5295](https://github.com/azure/azure-cli-extensions/pull/5295). I'll remove the import and release a new version of ak

[2022-09-09 06:05] FumingZhang commented on #5303
The fix is PR [#5330](https://github.com/Azure/azure-cli-extensions/pull/5330).

[2022-09-09 06:53] howardjones commented on #5303
Technically, *Microsoft* are using Python 3.6 here - that's the private python environment that's installed by the azcli package itself :-) Thanks for the pointer! We are working to upgrade our Ansible execution environment.

[2022-09-09 11:08] RakeshMohanMSFT commented on #5146
@petergaultney You are using a pretty old version of azure cli, can you upgrade to latest version of azure cli [2.40.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt) and retry?

[2022-09-09 14:39] Zhaph opened #5333 "ssh vm command is no longer handling additional ssh arguments"
### Related command

[code]

### Extension name (the extension in question)
ssh

### Description of issue (in as much detail as possible)

I'm attempting to pass the additional SSH arguments `-N -T -R 30124:localhost:7162` to the SSH connection, which has previously worked as expected (i.e. it's routing traffic from the VM on port 30124 to my local instance on port 7162, basically poor man's ngrok

[2022-09-09 16:03] Cyclonit opened #5334 "az vm ssh does not support managed identity"
### Related command
[code]

### Extension name (the extension in question)
[code]

### Description of issue (in as much detail as possible)
I am working on a development setup for Ansible using virtual machines in Azure. Ansible is installed on a VM with a managed identity assigned to it. We use Azure IAM wherever possible and thus would like to use said managed identity to connect to other VMs. A

[2022-09-09 18:29] dejimarquis commented on #5329
That resolved the issue. Thanks!

[2022-09-10 01:24] yonzhan commented on #5333
route to CXP team

[2022-09-10 01:25] yonzhan commented on #5334
route to CXP team

[2022-09-11 22:06] skazure opened #5336 "not able to run az aks draft create on windows"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks draft create
Extension Name: aks-preview. Version: 0.5.100.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks draft create`

[2022-09-11 23:50] yonzhan commented on #5336
route to CXP team

[2022-09-12 02:43] navba-MSFT commented on #5336
@skazure Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-12 04:09] navba-MSFT commented on #5315
@shashankbarsin The action is currently pending on you to upgrade your AzCLI version and test. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-09-12 04:10] #5315 closed

[2022-09-12 04:14] navba-MSFT commented on #5303
@howardjones The above PR has been merged and this is the milestone https://github.com/Azure/azure-cli-extensions/milestone/71 for you to keep track. We will now proceed with the closure of this thread. Please feel free to reopen if you need any further assistance. We would be happy to help.

[2022-09-12 04:14] #5303 closed

[2022-09-12 04:27] navba-MSFT commented on #5329
@dejimarquis Thanks for getting back. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-09-12 04:27] #5329 closed

[2022-09-12 04:42] navba-MSFT commented on #5336
@skazure Looking at the source code [here](https://github.com/Azure/azure-cli-extensions/blob/c15670efcb175ef1daffe93a5b86616af4dda197/src/aks-preview/azext_aks_preview/aks_draft/commands.py#L136), the exception seem to have occurred while checking the download path. Could you please confirm the `--destination` path you had entered in your command ?

`--destination`: Specify the path to the projec

[2022-09-12 14:07] edeandrea opened #5340 "rdbms-connect 1.0.3 seems to be broken"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Related command
az postgres flexible-server execute -h

### Extension name (the extension in question)
rdbms-connect

### Description of issue (in as much detail as possible)
When I try to run `az postgres flexible-server execute -h` with version 1.0.3

[2022-09-12 14:37] yonzhan commented on #5340
route to CXP team

[2022-09-12 14:46] yebarri commented on #5284
Hi,
    I can list the ground stations using the portal CLI, but when I install the Azure CLI on Windows 64.  I'm not seeing any issues, but I'm getting empty outputs.

**C:\Users\yebarri>az orbital contact-profile list
[]**

Thanks, Yerrayya

[2022-09-12 15:22] eehret commented on #4915
@vthiebaut10 Hi there,
I was wondering if there is any update on this?  It has been a problem for quite a while now.

[2022-09-12 15:24] vthiebaut10 commented on #4915
Hi @eehret - sorry for the long delay. We are planning to release an update soon, and that will include a fix for this. Thank you for your patience, and sorry for the long wait.

[2022-09-12 19:29] skazure commented on #5336
Hi @navba-MSFT ,
I tried all possible combinations and nothing works. All the commands results to similar error

az aks draft create --language=java --app=beapp4
The required binary was not found. Would you like us to download the required binary for you? (y/N): y
The command failed with an unexpected error. Here is the traceback:
Binary check was NOT executed successfully
Traceback (most recent c

[2022-09-12 19:31] skazure commented on #5310
Same error for az aks draft create as well. see below reported issue.
https://github.com/Azure/azure-cli-extensions/issues/5336

[2022-09-13 02:10] RakeshMohanMSFT commented on #5326
@Remigijus-D Thank you for reaching out, we are looking into it.

[2022-09-13 09:00] RakeshMohanMSFT commented on #5324
@Remigijus-D Thank you for reaching out, we are looking into it.

[2022-09-13 09:00] RakeshMohanMSFT commented on #5325
@Remigijus-D Thank you for reaching out to us, we are looking into it.

[2022-09-13 10:19] FumingZhang commented on #5336
Should be a bug of aks-preview on windows, can be reproduced with older versions. The following screenshot is captured with an extra `--debug` option to the command.

The binary check tried to download the binary of aks-draft from `https://github.com/Azure/draft/releases/download/v0.0.22/draft-windows-amd64` and met 404. The correct url should be `https://github.com/Azure/draft/releases/download/v

[2022-09-13 10:19] FumingZhang commented on #5310
Should be a bug of aks-preview on windows, can be reproduced with older versions. The following screenshot is captured with an extra `--debug` option to the command.

The binary check tried to download the binary of aks-draft from `https://github.com/Azure/draft/releases/download/v0.0.22/draft-windows-amd64` and met 404. The correct url should be `https://github.com/Azure/draft/releases/download/v

[2022-09-13 10:23] navba-MSFT commented on #5336
Thanks @FumingZhang

@skazure Could you please try the above workaround for now and let us know if that helps.

[2022-09-13 10:33] FumingZhang commented on #5336
[Fix](https://github.com/Azure/azure-cli-extensions/pull/5345) is on the way, will release a new version of aks-preview to fix it.

[2022-09-13 10:33] FumingZhang commented on #5310
[Fix](https://github.com/Azure/azure-cli-extensions/pull/5345) is on the way, will release a new version of aks-preview to fix it.

[2022-09-13 13:30] skazure commented on #5336
Workaround works fine.

[2022-09-13 13:42] Reddy0980 opened #5346 "AZ-400 / lab 18 web app creation issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create
Extension Name: appservice-kube. Version: 0.2.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create --res

[2022-09-13 16:25] drcrook1 commented on #2701
I'm simply trying to do local development using my M1 based Mac Studio and having this same problem.  I will upvote this.

[2022-09-13 20:29] jujopalacio commented on #5251
Same issue is happening for me, using WSL.

[code]

[2022-09-14 03:03] jiasli commented on #5321
I think this issue somehow resembles https://github.com/PowerShell/PowerShell/issues/9497

`az` entry script is now `C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\wbin\az.ps1`, so when you are piping `"your_values_here"` to `az`, it is actually

[code]

However, `az.ps1` doesn't pipe `stdin` to `python.exe` automatically.

I tried to use

[code]

and it works as expected.

[2022-09-14 06:02] #1803 closed

[2022-09-14 14:19] RakeshMohanMSFT commented on #5325
@Remigijus-D We are unable to reproduce this issue, see image below. Can you share your environment details as well please? if possible debug trace.
![image](https://user-images.githubusercontent.com/49954584/190180100-f9239014-3942-4136-b052-910a719808be.png)

[2022-09-14 14:29] #5346 closed

[2022-09-14 14:30] Reddy0980 commented on #5346
done.

[2022-09-14 17:12] Zhaph commented on #5333
Sorry @yonzhan is that a direction for me to do something? Should I raise this in a different repo?

[2022-09-14 18:31] harmen-msft commented on #4908
@necusjz It appears the manifest has been rolled out so you can move ahead with the new release for the DnsResolver extension. Thanks.

[2022-09-14 23:56] yonzhan commented on #5333
ssh related commands are owned by service team

[2022-09-15 02:59] navba-MSFT commented on #5334
@Cyclonit Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-15 05:40] navba-MSFT commented on #5336
@skazure The above PR has been merged. Refer this milestone for more details about the fix: https://github.com/Azure/azure-cli-extensions/milestone/71
We will now proceed with the archival of this issue, Please feel free to reopen this thread if you have any follow-up questions on this. We would be happy to help.

[2022-09-15 05:40] #5336 closed

[2022-09-15 05:56] navba-MSFT commented on #5334
@Cyclonit AFAIK, this issue was fixed. Please refer this https://github.com/Azure/azure-cli/issues/22057 and this https://github.com/Azure/azure-cli/issues/22063. Could you please use the most recent version of Azure CLI and ssh extension ? Awaiting your reply.

[2022-09-15 10:46] Cyclonit commented on #5334
@navba-MSFT, according to the command `az upgrade` I have the most recent versions of both Azure CLI and the ssh extension installed. I am on Ubuntu 20.04-LTS.

[code]

[2022-09-15 12:51] t0rben opened #5356 "az k8s-extension extension-types list failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az k8s-extension extension-types list
Extension Name: k8s-extension. Version: 1.3.3.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az

[2022-09-15 12:54] t0rben commented on #5356
I've tried it additionally using windows and latest versions of the azure-cli as well as both extensions and got the same behaviour.

[2022-09-16 02:57] navba-MSFT commented on #5356
@t0rben Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-16 07:18] navba-MSFT commented on #5356
@t0rben The above PR has been filed to address this. It is currently under review. Please let me know if you have any questions in the meantime.

[2022-09-16 08:02] #5269 closed

[2022-09-16 09:04] jiasli commented on #5334
As the error message indicated:

This is simply because VM SSH doesn’t support managed identity. Let's mark this issue as a feature request.

[2022-09-18 12:56] yaronkaikov opened #5362 "Error during copy azure image"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az image copy
Extension Name: image-copy-extension. Version: 0.2.9.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az image copy --sour

[2022-09-19 00:00] yonzhan commented on #5362
@zhoxing-ms for awareness

[2022-09-19 06:31] jiec-msft commented on #4640
@jsntcy
With the CLI PR: https://github.com/Azure/azure-cli/pull/22676
Our extension spring 1.1.6 met the same issue again and fixed in PR: https://github.com/Azure/azure-cli-extensions/pull/5361

With the growing possibility, would you consider priority increase of this feature request?

[2022-09-19 07:17] jsntcy commented on #4640
It's in our Zn planning, and we'll discuss inside our team and prioritize accordingly.

[2022-09-19 07:21] RakeshMohanMSFT commented on #5324
Duplicate of https://github.com/Azure/azure-cli-extensions/issues/5356

[2022-09-19 07:21] #5324 closed

[2022-09-19 07:25] #5356 closed

[2022-09-19 07:45] jiec-msft commented on #4640
Great to know this, thank you!

[2022-09-19 15:26] charris-msft opened #5365 "`az containerapp create` mentiones --yaml argument, but ap spec doc says it isn't currently used for ACA"
### Related command
`containerapp`

### Extension name (the extension in question)
containerapp

### Description of issue (in as much detail as possible)
![image](https://user-images.githubusercontent.com/74415662/191053895-e766166b-b92f-4907-a5e0-115c69f88ec3.png)

The CLI help for `containerapp create` mentions using --yaml, but the [API spec doc mentioned in the argument help](https://learn.mic

[2022-09-19 23:21] panchagnula commented on #5365
Thanks for reporting @charris-msft .From CLI perspective this is supported, I am unsure who owns the other documentation. It might be a good idea to report this on the ACA Github repo directly. Tagging @anthonychu & @torosent as well for awareness / comments

[2022-09-19 23:24] yonzhan commented on #5365
route to CXP team

[2022-09-19 23:25] charris-msft commented on #5365
Great - Is there somewhere I can find an example .yaml file?

[2022-09-19 23:48] panchagnula commented on #5365
oh its already part of the help - the one you have highlighted.   https://learn.microsoft.com/en-us/cli/azure/containerapp?view=azure-cli-latest#az-containerapp-create
<img width="1037" alt="image" src="https://user-images.githubusercontent.com/13839372/191138274-bdf1564a-35f1-4225-9aa4-757951d60adc.png">
 however I am unsure how updated this example file is with a whole bunch of new properties ad

[2022-09-20 00:46] charris-msft commented on #5365
I was a example of the contents of the .yaml file, but after you said that I found an example further down in that doc here: [Exmaples](https://learn.microsoft.com/en-us/azure/container-apps/azure-resource-manager-api-spec?tabs=yaml#container-app-examples)

[2022-09-20 04:40] navba-MSFT commented on #5365
@charris-msft Thanks for reporting this issue. The above PR has been filed to address this docs issue. It its currently under review. Please let us know if you need any further assistance on this.

[2022-09-20 05:35] yanzhudd commented on #5362
Hello @yaronkaikov, could you please provide the debug information? The debug information could be obtained by add `--debug` parameter to your executed command.

[2022-09-20 09:25] sjovang commented on #5201
I have tested with version 0.5.3 and can confirm that `az network manager post-commit` now works as expected

[2022-09-20 09:25] #5201 closed

[2022-09-20 14:42] iharmaiseyeu commented on #3011
Faced the same error during deployment of template spec that creates Application Insights.

We have 2 subscriptions:

Subscription 1 contains template spec
Subscription 2 uses the template spec from the Subscription 1 for deployment.

It is not reproducible from portal or when you deploy template spec to the same subscription.

[2022-09-20 16:07] raorugan opened #5370 "Unable to create WASM/WASI node pool using az aks nodepool add"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks nodepool add
Extension Name: aks-preview. Version: 0.5.94.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks nodepool add --

[2022-09-20 16:19] #4908 closed

[2022-09-20 21:24] rbkasat commented on #5072
same issue for us.

[2022-09-20 22:39] yonzhan commented on #5370
route to CXP team

[2022-09-21 02:40] zhoxing-ms commented on #5072
This is because the official CLI version you are using is too old and incompatible with the new extension. Could you upgrade the official CLI to the latest version ([2.40.0](https://learn.microsoft.com/en-us/cli/azure/what-is-azure-cli)) and try again?

[2022-09-21 03:28] navba-MSFT commented on #5370
@raorugan Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-21 04:07] navba-MSFT commented on #5370
@raorugan I am unable to reproduce this issue at my end. I could see that you are using an older version of azure-cli 2.37.0 * . Could you please use the[ most recent version of AzCLI ](https://docs.microsoft.com/en-us/cli/azure/update-azure-cli)and test again ?

Also I would recommend you to use the most recent version of `aks-preview` extension.

[2022-09-21 07:27] obiii commented on #5072
Hi, we were able to fix this by installing the cli via python step: (Having these in our requiremtns.txtx)
# azureml
azure-cli-core==2.35.0
azureml-sdk==1.42.0

Installing the version 2.40.0 as mentioned by a comment above is not helpful as well.

[2022-09-21 07:44] yaronkaikov commented on #5362
attached
[code]

[2022-09-21 07:51] raorugan commented on #5370
this was helpful! we can close the issue

[2022-09-21 08:02] #5289 closed

[2022-09-21 08:02] #5288 closed

[2022-09-21 08:20] navba-MSFT commented on #5370
@raorugan Thanks for getting back. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-09-21 08:20] #5370 closed

[2022-09-21 09:17] robin-wayve opened #5375 "`az ssh vm` with AAD SSH Extension does not allow specifying a different username for a Linux VM"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Related command
`az ssh vm`

### Extension name (the extension in question)
`ssh`

### Description of issue (in as much detail as possible)

I want to be able to use a different username on a linux vm: having an `@` in the username from the user princi

[2022-09-21 09:32] #5375 closed

[2022-09-22 19:47] in-bharath commented on #1382
Is there a roadmap to address this?

[2022-09-22 20:32] MarsWangyang opened #5382 "Az webapp create show error."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create
Extension Name: appservice-kube. Version: 0.2.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create --nam

[2022-09-23 00:12] yonzhan commented on #5382
route to CXP team

[2022-09-23 03:31] navba-MSFT commented on #5382
@MarsWangyang Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-23 08:12] yanzhudd commented on #5362
Hello @yaronkaikov It seems that the disk named 'pkros1m3oli2ddw' is not found. Could you please check if it exists?

[2022-09-23 08:41] navba-MSFT commented on #5382
@MarsWangyang Could you please update your extension by running the below command and check if that helps ?

Awaiting your reply.

[2022-09-23 09:46] yaronkaikov commented on #5362
Thanks I will check

[2022-09-23 11:16] MarsWangyang commented on #5382
Run it, and it's good. Thanks.

[2022-09-23 11:16] #5382 closed

[2022-09-23 13:13] t0rben opened #5384 "Using preview API within k8s-extension"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az k8s-extension extension-types list
Extension Name: k8s-extension. Version: 1.3.4.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az

[2022-09-23 13:47] yonzhan commented on #5384
route to CXP team

[2022-09-23 17:49] survivant commented on #1690
Someone have a example how to create a Kubernetes service connection from Azure CLI ?

[2022-09-23 19:17] hanshasharma commented on #5102
Hi - I am also experiencing the same issue with Azure CLI v2.39.0 * and ml extension v2.8.0. I am trying to run https://github.com/Azure/azureml-examples/tree/main/cli/endpoints/online/kubernetes. I am getting the following error.

Message: The request is invalid.
Exception Details:	(NotSupported) Creation of Online Endpoints or deployments on AKS compute type is no longer supported. More details

[2022-09-23 19:25] survivant opened #5385 "Enhancement : Add kubernetes endpoint support to az CLI"
It's not possible to add easily a new kubernetes endpoint for AzureDevops using azure CLI.  And there are no documentation/sample available to help us.

here an idea of what it could be done
[code]

there is a payload example to create a kubernetes endpoints using curl (just replace everything that between < >.

[code]

[2022-09-23 19:26] survivant commented on #1690
I added a new issue with a payload example here https://github.com/Azure/azure-cli-extensions/issues/5385

[2022-09-23 23:42] yonzhan commented on #5385
route to CXP team

[2022-09-26 00:42] Bozhong68 commented on #5102
@hanshasharma Legacy AksCompute doesn't support online endpoint. For v2 online endpoint support, you can attach AKS cluster by following instruction here https://aka.ms/amlarc/doc

[2022-09-26 03:40] navba-MSFT commented on #5385
Adding Service team to help on DevOps issue.

@v-anvashist, @V-hmusukula Could you please check if Devops team can help on this ?

[2022-09-26 03:40] navba-MSFT commented on #5384
@t0rben Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-26 07:49] navba-MSFT commented on #5384
@t0rben Could you please update and run the below command and see if that helps ?

**Note:** Please update the Subsciption ID, Resource Group Name, Cluster Name and Cluster Type in the above request URL.
MyClusterType : i.e. managedClusters, connectedClusters, provisionedClusters

Hope this helps.

[2022-09-26 08:02] #4398 closed

[2022-09-27 04:52] radhakrishnan-chandarasikharan-kr opened #5390 "Listing the alerts in azure monitor fails with error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Ran the command to list the alerts in azure monitor and got the following error.

**Command Name**
`az monitor alert-processing-rule list
Extension Name: alertsmanagement. Version: 0.2.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as the

[2022-09-27 04:59] yonzhan commented on #5390
@kairu-ms for awareness

[2022-09-27 06:32] navba-MSFT commented on #5390
@radhakrishnan-chandarasikharan-kr Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-27 07:18] navba-MSFT commented on #5390
@radhakrishnan-chandarasikharan-kr I used the same version of the AzCLI and the `alertsmanagement `extension as your environment. See below:

{
  **"azure-cli": "2.40.0",**
  "azure-cli-core": "2.40.0",
  "azure-cli-telemetry": "1.0.8",
  "extensions": {
    **"alertsmanagement": "0.2.2"**
  }
}

While I tried to run the same command at my end and it worked fine. I am unable to reproduce this issu

[2022-09-27 12:53] charris-msft opened #5391 "`az containerapp update --yaml` is not setting minreplicas to 0"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Related command
`containerapp update`

### Extension name (the extension in question)
containerapp

### Description of issue (in as much detail as possible)
I originally created a containerapp with a yaml file that specified `minReplicas: 0`

Now, I wa

[2022-09-27 12:58] yonzhan commented on #5391
route to CXP team

[2022-09-27 16:47] panchagnula commented on #5391
@charris-msft thanks for reporting, we will investigate further. However, wanted to get a clarification, if this behavior is specific to yaml from CLI command. Does this work with ARM template or updating from portal directly?
Thanks. @StrawnSC , @haroonf FYI.

[2022-09-27 16:56] charris-msft commented on #5391
@panchagnula -
I saw the issue with yaml from CLI and with the --min-replicas parameter from CLI (no --yaml specified).
It behaved as expected when I updated in the portal.
I did not try with an ARM template.

[2022-09-27 17:04] panchagnula commented on #5391
Gotcha. Could you also provide the CLI version being used (run az --version).  CLI updated recently to use the latest api-version, so I am wondering if there is a change here we need to look into. Portal still uses an older api-version. Thanks!

[2022-09-28 00:06] radhakrishnan-chandarasikharan-kr commented on #5390
The command

did not work. However when I included the the subscription, it worked

But adding the subscription to the original command did not throw any error, but neither was there any response. I get back an empty array ([])

The command

returns an empty array ([])

[2022-09-28 00:24] charris-msft commented on #5391
[code]

[2022-09-28 03:58] navba-MSFT commented on #5390
@radhakrishnan-chandarasikharan-kr Thanks for getting back.

- Could you please confirm if the resource group has any alert processing rules inside it ?
- Could you try to create a new processing rule and check if that lists by running either of the above 2 commands ?

I have tried the same 2 commands at my end and it shows the output. Awaiting your reply.

[2022-09-28 06:43] #5384 closed

[2022-09-28 11:52] sauravrout opened #5396 "Recent az-cli issues coming up in azuredevops"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az datafactory trigger list
Extension Name: datafactory. Version: 0.6.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az datafactory

[2022-09-28 22:30] SaurabhSharma-MSFT commented on #5313
@johnliu55-msft Are you still having issues?
@apwestgarth  Any suggestions on this.

[2022-09-29 14:47] merijng commented on #3011
@ChrisKlug @kairu-ms Old topic, any new insights lately?

Looks like an underlying issue, within the Azure platform. I have the same problem, but with [Bicep templates](https://learn.microsoft.com/en-us/azure/azure-resource-manager/bicep/overview?tabs=bicep). It fails the first time, as far as I know a second BICEP-deployment does it's job. This might explain why it "magically" started working aga

[2022-09-30 17:29] jjdharini22 opened #5412 "Json Encoder MemoryError during job list"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Az singularity job list cli failed with MemoryError when trying to list jobs in json format.

**Command Name**
`az singularity job list
Extension Name: singularity-cli. Version: 1.0.20472898.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as

[2022-09-30 22:35] yonzhan commented on #5412
route to CXP team

[2022-10-01 08:02] #5146 closed

[2022-10-03 04:28] navba-MSFT commented on #5390
@radhakrishnan-chandarasikharan-kr I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-10-03 13:15] radhakrishnan-chandarasikharan-kr commented on #5390
@navba-MSFT The resource group has a list of alerts. These are working and firing!

Few things I want to do and hence trying to use the cli. (a) The name of the alert cannot be updated; so I have to recreate it with a new name. (b) I haven't been able to find how to create the alerts in Terraform;
I'm hoping to be able to accomplish these using the CLI

[2022-10-03 23:36] SaurabhSharma-MSFT commented on #5396
@sauravrout I am not able to reproduce this.  Can you please try upgrading your [Azure CLI version]( https://learn.microsoft.com/en-us/cli/azure/update-azure-cli).

[2022-10-03 23:56] SaurabhSharma-MSFT commented on #5340
@edeandrea I am not able to reproduce this and `az postgres` works fine with the rdbms-connect - 1.0.3 version.

[2022-10-04 00:31] edeandrea commented on #5340
I already have the latest version of the az cli

[code]

Not sure if it matters but I'm running a Mac M1. macos 12.6

[2022-10-04 04:45] navba-MSFT commented on #5390
@radhakrishnan-chandarasikharan-kr Thanks for getting back. Could you please run the same command with `--debug` switch and share the output with me over email navba [@] microsoft [dot] com? Also in the meantime try to run the command from the [Azure Cloud Shell TryIt](https://learn.microsoft.com/en-us/cli/azure/monitor/alert-processing-rule?view=azure-cli-latest#code-try-10) option and check if t

[2022-10-04 04:52] radhakrishnan-chandarasikharan-kr commented on #5390
The cloud shell tryit requires me to have a storage account; don't have one in my resource group that I can use for this purpose.
Is there an option, along with --debug, to anonymize the data? (OR) do you need the resource/subscription details?

[2022-10-04 04:54] navba-MSFT commented on #5390
@radhakrishnan-chandarasikharan-kr Thanks for your reply. The --debug output itself will contain the resource / subscription details. But the goal here is to check the rest api calls being done along with the response received from the API call. So please run the same command with --debug switch and share the output with me over email navba [@] microsoft [dot] com?

[2022-10-04 08:37] jenka13all opened #5416 "What are the allowed values for firewall application rule "web_categories"?"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Related command

### Extension name (the extension in question)

### Description of issue (in as much detail as possible)

-----

I've done a lot of searching but not found the allowed values for the azurerum firewall application rules "web_categories"

[2022-10-04 09:04] yonzhan commented on #5416
Is your question related to any CLI commands?

[2022-10-04 13:25] jenka13all commented on #5416
What would the CLI parameters be? Maybe that can help me already.

[2022-10-05 01:50] JP-Ellis-KPMG opened #5419 "Incorrect Scope for Data Factory Git Configuration"
### Related command
`az datafactory configure-factory-repo`

### Extension name (the extension in question)
`datafactory`

### Description of issue (in as much detail as possible)

We have some users who have privileges restricted to specific resource groups and do not have access to the subscription as a whole. These users are able to configure their Data Factory in their resource group perfectly

[2022-10-05 02:56] yonzhan commented on #5419
route to CXP team

[2022-10-05 08:02] #5326 closed

[2022-10-06 08:02] #5325 closed

[2022-10-06 15:57] PramodValavala-MSFT commented on #5416
@jenka13all Looks like the [Web Categories - List By Subscription REST API](https://learn.microsoft.com/en-us/rest/api/virtualnetwork/web-categories/list-by-subscription?tabs=HTTP) returns the list of web categories that are used for this field.

Here are the list of the values that the API returns for reference

[code]

We will work with the concerning team on how best to include this information

[2022-10-06 17:52] jlunder00 opened #5422 "az quota list scope input not processed properly"
## Describe the bug
When attempting to use az quota list --scope {scope}, no matter how I put in the argument for scope, it will either return a python error (if put in as a string or without anything surrounding the argument), or simply hang and never complete (if surrounded with {})
--verbose option also does not give any output at any point during hanging period to indicate what is happening.

[2022-10-06 20:41] yonzhan commented on #5422
quota

[2022-10-07 03:55] navba-MSFT commented on #5390
@radhakrishnan-chandarasikharan-kr I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-10-07 12:06] sauravrout commented on #5396
Yes, upgrading the az cli fixed the issue.

[2022-10-07 12:06] #5396 closed

[2022-10-07 18:12] SaurabhSharma-MSFT commented on #5340
@edeandrea ok. got it. It looks like issue with the initial dependencies not available on macOS machine which normally gets installed during the installation or rdms-connect version.  Can you please try upgrading `rdbms-connect` version to 1.0.3.  I am also checking internally in the meantime if there are any known issues.

[2022-10-07 18:13] edeandrea commented on #5340
The issue is when I upgrade to 1.0.3 it no longer works. It works fine on 1.0.2.

[2022-10-07 18:16] SaurabhSharma-MSFT commented on #5340
@edeandrea Thanks for the updates.  I am checking internally on this and get back to you at the earliest. Thanks

[2022-10-07 18:18] edeandrea commented on #5340
Thank you.

@agoncal have you run into this?

[2022-10-08 17:33] #4058 closed

[2022-10-09 22:01] yasseryehya opened #5435 "containerapp revision copy fails when --from-revision is used"
### **containerapp revision copy fails when `--from-revision` is used**

## Description

**Command Name**
`az containerapp revision copy
Extension Name: containerapp. Version: 0.3.11.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az containe

[2022-10-09 22:54] yonzhan commented on #5435
route to CXP team

[2022-10-10 02:12] RakeshMohanMSFT commented on #5250
@Frey-Wang Any update on this?

[2022-10-10 02:15] Frey-Wang commented on #5250
@EllaLiMSCSS, could you please follow up the issue and update the status here?

[2022-10-10 04:13] navba-MSFT commented on #5390
@radhakrishnan-chandarasikharan-kr The action is currently pending on you to share the debug details once you get a chance. Please feel free to reopen this thread, once you have the details. We would be happy to help.

[2022-10-10 04:13] #5390 closed

[2022-10-11 02:51] navba-MSFT commented on #5422
@jlunder00 Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-10-11 03:03] navba-MSFT commented on #5412
@jjdharini22 Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-10-11 05:09] navba-MSFT commented on #5412
@jjdharini22 Could you please run the same command with `--debug` argument and share the detailed debug logs here ? Awaiting your reply.

[2022-10-11 05:38] navba-MSFT commented on #5422
@jlunder00 Pasting the reply from the other thread: https://github.com/Azure/azure-sdk-for-go/issues/18567

May I know what was the --scope you had used ? I can the command for Quotas_listQuotaLimitsForCompute and I didnt get the above error. Could you please invoke the rest api deirectly from the azcli using the below command depending on the scope you are using and see if you encounter the same

[2022-10-11 06:31] maksteel commented on #5072
For me, just upgrading `azure-cli-core==2.35.0` did the trick

[2022-10-11 08:16] zoharHenMicrosoft commented on #4508
@Naveen ***@***.***> Hi, still blocked, I sent an email about the current blocker to Ethan

From: navba-MSFT ***@***.***>
Sent: Monday, March 21, 2022 7:37 AM
To: Azure/azure-cli-extensions ***@***.***>
Cc: Zohar Hen ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli-extensions] Unexpected 'az kusto cluster create' error: local variable 'deserialized' referenced before assignment (Is

[2022-10-11 10:13] chaskett commented on #5340
I am also experiencing this bug when I install version 1.0.2 or 1.0.3. It keeps attempting to install 'clang' and failing.

Also on Mac M1. macos 12.6

[2022-10-11 16:56] haranathvaranasisce opened #5440 "az ml environment archive fails with error already registered and cannot be changed."
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Related command

 az ml environment
### Extension name (ml)

### Description of issue (in as much detail as possible)
 az ml environment archive -n test_env -v 6 --resource-group testrg --workspace-name  testws

(UserError) Environment test_env with ve

[2022-10-11 16:59] jlunder00 commented on #5422
`az rest --url https://management.azure.com/subscriptions/XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX/providers/Microsoft.Compute/locations/eastus/providers/Microsoft.Quota/quotas?api-version=2021-03-15-preview`
Results in:
[code]
This is the result for any version number not included in the list shown, so I tried changing the api version:
Changing the api version to 2022-08-01 (or any version in the lis

[2022-10-11 22:13] JiriKovar opened #5442 "`az kusto script create` for a cluster scoped commands"
### Related command

`az kusto script create`

### Extension name (the extension in question)

kusto

### Description of issue (in as much detail as possible)

Hi, I'm trying to run a command:

`.alter cluster policy managed_identity ```
[
  {
    "ObjectId": "${cluster_principal_id}",
    "AllowedUsages": "ExternalTable"
  }
]`

as part of `az kusto script create` but it fails with `Reason: Not a

[2022-10-11 23:30] yonzhan commented on #5440
route to CXP team

[2022-10-11 23:58] yonzhan commented on #5442
route to CXP team

[2022-10-12 07:43] navba-MSFT commented on #5422
@jlunder00 I too get the below error and it is a known issue. We are in touch with the Product owners to fix this.

[code]

As mentioned earlier, We have received the below response from the Product owners:

So I will keep you posted on the progress and update this thread.

[2022-10-12 08:02] #5365 closed

[2022-10-12 13:21] gmuth commented on #4342
On Mac M1 running macOS 12.5.1 it looks good now:
[code]

[2022-10-12 16:42] jjdharini22 commented on #5412
No, this is Singularity which is a preview AI Infrastructure Azure service. https://singularitydocs.azurewebsites.net/

[2022-10-12 23:06] amansahni1 commented on #2657
Any updates please?

[2022-10-13 02:13] RakeshMohanMSFT commented on #5442
@JiriKovar Thank you for reaching out, we are looking into it.

[2022-10-13 02:15] RakeshMohanMSFT commented on #5440
@haranathvaranasisce Thank you for reaching out, we are looking into it.

[2022-10-13 12:04] RakeshMohanMSFT commented on #5442
@JiriKovar The command should ran on cluster, not as part of a script.
.alter cluster policy managed_identity ``` [ { "ObjectId": "${cluster_principal_id}", "AllowedUsages": "ExternalTable" } ].

[2022-10-16 13:36] jjdharini22 commented on #5412
Yes, I updated to the latest AzCli. That does not help. Still seeing the same error.

[2022-10-17 14:36] tombuildsstuff commented on #4756
@akashkeshari is there a plan for this repo to be public?

[2022-10-17 17:11] survivant opened #5460 "need more details in the name for a kusto script"
I'm trying to create a kusto script.  the name will be "dm"  which is too short.  It should had least have 3 chars, but the error message doesn't say that.

[code]

it I try with "dm2" it sill works

[code]

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az kusto script create
Extension Name: kusto. Version: 0.5.0.`

**Errors:**
[code]

#

[2022-10-17 18:14] SaurabhSharma-MSFT commented on #5460
@survivant Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-17 22:22] yonzhan commented on #5460
route to CXP team

[2022-10-18 01:14] myehya-up commented on #1717
Agreed still a huge need for this. Any updates?

[2022-10-18 08:24] gilfreund commented on #4094
Looks good

[2022-10-18 08:24] #4094 closed

[2022-10-18 10:35] Uditanshu1612 commented on #5215
Hi,
Is the issue is resolved? I'm also facing the same issue while importing a package.
Currently My azure-core is a version of 1.26.0 so while executing the module using this version of azure-core it throws me an error
![image](https://user-images.githubusercontent.com/115619000/196407530-75a5d4b6-82e2-4d75-9b31-c7dd22a61e15.png)

So here by observing the error I get to know that module requires

[2022-10-19 04:47] RakeshMohanMSFT commented on #5419
Already being investigated here https://github.com/Azure/azure-cli/issues/18402

[2022-10-19 04:51] RakeshMohanMSFT commented on #5234
@jakeatmsft Apologies for the delay, we are looking into it.

[2022-10-19 13:52] jyama4ta opened #5470 "Failed to resolve Dapr 1.9.0"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Related command
Targeting a specific Dapr version (in this case, 1.9.0)
https://learn.microsoft.com/en-us/azure/aks/dapr#targeting-a-specific-dapr-version

[code]

### Extension name (the extension in question)
k8s-extension

### Description of issue (

[2022-10-20 06:01] shubham1172 commented on #5470
@jyama4ta hello, Dapr 1.9.0 was released a few hours back, can you please try this command again?

[2022-10-20 06:13] jyama4ta commented on #5470
@shubham1172 Thank you for your help. I have checked it is successeded now. Thanks again!

[2022-10-20 06:13] #5470 closed

[2022-10-20 20:07] juranosaurustechs opened #5475 "Mycli error when attempting "az mysql flexible-server connect --interactive""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az mysql flexible-server connect --interactive
Extension Name: rdbms-connect. Version: 1.0.3.`

**Errors:**
[code]
Linux-5.4.0-1091-azure-x86_64-with-glibc2.35 (Cloud Shell), CBL-Mariner/Linux
Python 3.9.13
Installer: RPM

azure-cli 2.41.0

Extensions:
rdbms-connect 1.0.3
ai-examples 0.2.5
ml

[2022-10-20 22:52] yonzhan commented on #5475
route to CXP team

[2022-10-21 02:42] #4915 closed

[2022-10-21 05:13] navba-MSFT commented on #5422
@jlunder00  I am able to invoke the [quota usage rest api](https://learn.microsoft.com/en-us/rest/api/compute/usage/list?source=recommendations&tabs=HTTP#code-try-0) and it is working fine for me now. Could you please run the below command and test again ?

Awaiting your reply.

[2022-10-21 05:16] navba-MSFT commented on #5412
@jjdharini22 Please refer to our internal Teams group conversation and let us know if you have any follow-up questions.

[2022-10-21 11:06] RoFz opened #5477 "az k8s-extension create --extension-type Microsoft.AzureML.Kubernetes leads to ExtensionOperationFailed when attempting to deploy Inference model"
## Describe the bug

**Command Name**
`az k8s-extension create
Extension Name: k8s-extension. Version: 1.3.5.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- allowInsecureConnections=False
  `az k8s-extension create \
    --name azuremlsecure \
    --extension-type Microsoft.AzureML.

[2022-10-21 12:06] Candelit commented on #4981
Any update on this?
I just deployed a CAE with existing vnet/subnet using the --infrastructure-subnet-resource-id parameter, deplyment succeeded, but its state is 'waiting'

az containerapp env show --name ${NAME} --resource-group ${RESOURCE_GROUP}
"provisioningState": "Waiting"

Checked again, 5-10 minutes later, now it is in state: succeeded

[2022-10-21 12:37] yonzhan commented on #5477
route to CXP team

[2022-10-21 14:05] jordanbean-msft opened #5478 "Installing Dapr on a non-RBAC enabled AKS cluster results in post-install webhook failing to update dapr-webhook namespace"
### Extension name (the extension in question)

Dapr extension for AKS

### Description of issue (in as much detail as possible)

I accidentally created an AKS cluster without Kubernetes RBAC enabled (using a Bicep template). I used the AKS Dapr extension to install the Dapr services as part of deploying the AKS cluster (again, via a Bicep template).

However, when trying to create a Dapr pub/sub

[2022-10-21 21:56] jordanbean-msft commented on #5478
As I keep playing with this, I think it has more to do with me trying to install Dapr via Bicep. It seems to behave differently than using Azure CLI.

Here is a snippet of the Bicep file.

[code]

[2022-10-21 23:27] yonzhan commented on #5478
route to CXP team

[2022-10-22 00:02] victorebhojie opened #5479 "'Memory Error' When trying to Query Log Analytics Space Using az monitor log-analytics query"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor log-analytics query
Extension Name: log-analytics. Version: 0.2.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Having a Log analytics Resource with data
- `az mon

[2022-10-22 00:14] yonzhan commented on #5479
@kairu-ms for awareness

[2022-10-24 19:25] mikeassel opened #5484 "az image copy to multiple locations fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When using `az image copy` and specifying multiple locations with `--target-location eastus2 westus southeastasia australiaeast` the command fails.

**Command Name**
`az image copy
Extension Name: image-copy-extension. Version: 0.2.9.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note

[2022-10-24 23:52] yonzhan commented on #5484
@zhoxing-ms for awareness

[2022-10-25 02:31] zhoxing-ms commented on #5484
@mikeassel Could you show me the complete error message to see if it is related to #24263?

[2022-10-25 03:15] navba-MSFT commented on #5478
Adding Service team to look into this.

[2022-10-25 04:11] navba-MSFT commented on #5422
@jlunder00 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-10-25 14:34] mikeassel commented on #5484
@zhoxing-ms here you go:
[code]

[2022-10-25 22:03] alanenriqueo commented on #5475
Hi @juranosaurustechs, can we try upgrading to rdbms-connect 1.0.4 please?

[2022-10-25 23:08] SaurabhSharma-MSFT commented on #5340
@edeandrea Product team has released a new version of rdbms-connect (1.0.4) that could possibly solve this issue for macOS. Can we please check and confirm back if it works for with version 1.0.4?

[2022-10-26 01:52] zhoxing-ms commented on #5484
File "/usr/lib64/az/lib/python3.9/site-packages/azure/core/_enum_meta.py", line 59, in __getattr__
    return cls._member_map_[name.upper()]
KeyError: 'IMPORT_ENUM'

@mikeassel This is the same issue as [#24263](https://github.com/Azure/azure-cli/issues/24263#issuecomment-1290086139), so I close this issue first, please focus on https://github.com/Azure/azure-cli/issues/24263#issuecomment-12900861

[2022-10-26 01:52] #5484 closed

[2022-10-26 05:47] navba-MSFT commented on #5412
@jjdharini22 Please track this issue in our internal Teams conversation with the CLI Product team.

[2022-10-26 05:47] #5412 closed

[2022-10-26 06:57] navba-MSFT commented on #5477
@RoFz I guess you have raised a support ticket too for the same issue and working with our Support Professional.

To assist you further, I am adding Service Team to look into this.

@Azure/aks-pm Could you please look into this and provide an update ?

[2022-10-26 07:43] juranosaurustechs commented on #5475
@alanenriqueo thank you! That did the trick!!

To save the next person the trouble of looking up the command, it's:
`az extension update -n rdbms-connect`

If no one objects, I'll close the issue.

[2022-10-26 07:43] #5475 closed

[2022-10-26 08:14] Aviv-Yaniv commented on #5460
Hi @survivant and thank you so much for contacting!
I've been looking into the issue and enriched the error message:
script name should be at least 3 characters.
This is why "dm" fails altogether "dm2" succeeds :)
This shall be updated in the following deployment.
Thanks once again for letting me know, and don't hesitate to contact in any issue or concern.

[2022-10-26 09:57] edervaldonetoMS opened #5488 "Not able to enable feature "--enable-blob-driver" in AKS-Preview version 0.5.111 using Service Principal (SP)"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Related command
az aks update --enable-blob-driver -g labeddie -n testeddie

### Extension name (the extension in question)
aks-preview": "0.5.111

### Description of issue (in as much detail as possible)
Not able to enable feature "--enable-blob-drive

[2022-10-26 10:04] yonzhan commented on #5488
route to CXP team

[2022-10-26 11:11] andyzhangx commented on #5488
cc @FumingZhang

[2022-10-26 13:30] edeandrea commented on #5340
Hi @SaurabhSharma-MSFT 1.0.4 seems to work fine for me! Thanks for following up!

[2022-10-26 17:15] SaurabhSharma-MSFT commented on #5340
@edeandrea  Great to hear. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-10-26 17:15] #5340 closed

[2022-10-26 17:38] mikeassel commented on #5484
Ok, thanks!

[2022-10-26 19:31] sadatnfs opened #5489 "[Kusto] Cannot create script/function when another cluster is referred (perms issue?)"
## Problem
 I cannot deploy a script (with a function) to my ADX cluster using the CLI, where the function is referring to a different cluster/DB table compared to the one I'm pushing the script to.

### Related command
[code]

### Extension name (the extension in question)
`kusto`

### Description of issue (in as much detail as possible)

**Problem**: I cannot deploy a script (with a function) to

[2022-10-26 19:45] SaurabhSharma-MSFT commented on #5310
@skazure Did you check with the new version if this has been fixed.

[2022-10-26 22:52] jlunder00 commented on #5422
@navba-MSFT I'll give this a try tomorrow and get back to you. Thanks!

[2022-10-26 23:29] yonzhan commented on #5489
route to CXP team

[2022-10-27 02:18] FumingZhang commented on #5488
Will take a look

[2022-10-27 06:12] cheguv opened #5491 "upgrade CLI extension fails when --source is specified, but works while specifying --version"
In the following i am using azurestackhci as example cli extension, the issue is not with the extension, its with cli command "add"
### Related command
**works** : az extension add --name azurestackhci --version "0.2.5"  --verbose --yes --upgrade
**fails**: az extension add --source "c:\versions\test\azurestackhci-0.2.5-py3-none-any.whl" --verbose --yes --update
**fails**: az extension add --sourc

[2022-10-27 06:42] yonzhan commented on #5491
@kairu-ms for awareness

[2022-10-27 08:47] bebound commented on #5491
I can reproduce this.
When use `--source`, the `--upgrade` param is ignored.

I'll fix this.

[2022-10-27 12:38] joshuadmatthews opened #5493 "Dapr with outbound firewall - containers calling out to raw.githubusercontent.com and failing repeatedly if this is blocked"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Related command
Installing the extension through Bicep

[code]

### Extension name (the extension in question)
Dapr

### Description of issue (in as much detail as possible)
Seemingly during the 1.9 upgrade Dapr was attempting to reach raw.githubuserco

[2022-10-27 12:52] yonzhan commented on #5493
route to CXP team

[2022-10-27 13:52] joshuadmatthews commented on #5493
I did also have issue during the 1.9 upgrade and bicep deploys got stuck. I had to tear down and rebuild my cluster to get things unstuck.

[2022-10-28 04:12] jsntcy commented on #5493
@joshuadmatthews, could you please provide which azure cli extension you used? Actually there is no "Dapr" extension in Azure CLI.

[2022-10-28 09:52] pravinpushkar commented on #5493
Thanks @joshuadmatthews for sharing the logs.  It looks like it is trying execute initcontainer from pre upgrade hook.
One thing that is not clear is why it is executing endlessly and not timing out.

BTW, for your information the pre upgrade hook can be disabled during `az k8s-extension update ...` by passing `--configuration-settings "hooks.applyCrds=false"` this parameter.

[2022-10-28 20:14] joshuadmatthews opened #5501 "DAPR Extension gets stuck in Creating status - Extension-Agent is failing - seems to have lost the configuration it needs for MSI authentication"
### Related command
az k8s-extension create --resource-group myrg--cluster-name mycluster --cluster-type managedClusters --name dapr --extension-type Microsoft.Dapr

### Extension name (the extension in question)
Microsoft.Dapr

### Description of issue (in as much detail as possible)
When installing the extension to a private AKS cluster, it gets stuck in creating status.

If I try to uninstall i

[2022-10-28 20:31] eehret commented on #4915
@vthiebaut10 Thanks for taking care of this.   I can confirm that as of the latest version of the az ssh module (1.1.3) this is now working as expected.

[2022-10-28 21:06] vthiebaut10 commented on #5333
Hi @Zhaph - Thanks for reporting this issue. I wasn't able to repro this on my end, it works when I try this scenario. Can you try updating the extension version to the latest 1.1.3 and azure cli 2.41.0 and see if the problem continues? Also, are you running this commands on PowerShell? If yes, what version?

[2022-10-28 21:44] Zhaph commented on #5333
Will give that a go when I'm back at my machine.

I have to run this with standard Powershell not ps-core as the routing back to localhost doesn't seem to play ball otherwise.

[2022-10-29 00:42] yonzhan commented on #5501
route to CXP team

[2022-10-31 03:19] jsntcy commented on #5493
@deeksha345, @bavneetsingh16, could you please help look at this issue?

[2022-10-31 04:40] navba-MSFT commented on #5422
@jlunder00 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-10-31 06:49] shubham1172 commented on #5493
@jsntcy you can assign me to this issue.

@joshuadmatthews, the CRD hooks are there in place to automatically upgrade your CRDs when Dapr is upgraded. You can disable it without any harm and use `kubectl apply -f` to manually upgrade Dapr CRDs for now, see https://docs.dapr.io/operations/hosting/kubernetes/kubernetes-upgrade/#helm

In the Bicep snippet, you can alter the `configurationSettings` to

[2022-10-31 12:14] Zhaph commented on #5333
@vthiebaut10 thanks for looking into this.

I've upgraded the CLI and extension as suggested:
[code]

Output of $PSVersionTable:
[code]

Attempting to connect to the VM with just the `hostname` argument now results in (without the additional arguments on `--`)
[code]

This should work according to the documents without requiring the Resource Group or VM Name arguments.

However, switching to the f

[2022-10-31 12:30] #5333 closed

[2022-11-01 16:30] shubham1172 commented on #5493
Hello @joshuadmatthews, Dapr extension for AKS v1.9.2 is available in the dev train. You can test it and the CRDs will be pulled from MCR directly (without having to allow-list raw.githubusercontent.com).

[code]

[2022-11-01 16:33] joshuadmatthews commented on #5493
@shubham1172 thanks! I’m having some issues installing the dapr extension at all right now, gets stuck in creating status, and deleting the extension eventually fails with timeout calling the agent.

Once I get that worked out I can test this update. Sounds great that they come from MCR now.

[2022-11-01 17:48] ewagner14-cscc opened #5508 "commands erroring out"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update
Extension Name: aks-preview. Version: 0.5.94.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks update -g {} -n {} --

[2022-11-02 00:32] yonzhan commented on #5508
route to CXP team

[2022-11-02 03:10] navba-MSFT commented on #5508
@ewagner14-cscc Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-11-02 04:42] navba-MSFT commented on #5508
@ewagner14-cscc I see that you are using an older version of `aks-preview `extension. Could you please update it to the most recent version and test the command again ?

On a side note, also update your Azure CLI to the [most recent version.](https://learn.microsoft.com/en-us/cli/azure/update-azure-cli) Hope this helps.

[2022-11-02 09:44] malachma opened #5510 "vm-repair utilizes a Windows image for a CentOS image"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Related command
az vm repair create -g mycdhdev -n mycdh-dn1 --distro 'rhel7' --repair-username xxx --repair-password "xxxxxx" --verbose

### Extension name (the extension in question)
vm-repair

### Description of issue (in as much detail as possible)

[2022-11-02 10:05] yonzhan commented on #5510
route to CXP team

[2022-11-02 10:38] EvertonSA opened #5511 "list node pools failed"
## Describe the bug

**Command Name**
`az aks nodepool list --cluster-name abcdefg --resource-group hijklmn`

Extension Name: aks-preview. Version: 0.5.94.

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- enable https://learn.microsoft.com/en-us/azure/aks/custom-certificate-authority
-

[2022-11-02 10:41] EvertonSA commented on #5511
https://github.com/Azure/AKS/issues/2259

[2022-11-02 10:44] EvertonSA commented on #5511
cluster and nodepools are in different resource groups

[2022-11-02 11:26] yonzhan commented on #5511
route to CXP team

[2022-11-02 13:08] EvertonSA commented on #5511
I upgraded az with `az upgrade` and it works now

[2022-11-02 13:08] #5511 closed

[2022-11-02 13:37] joshuadmatthews commented on #5501
I can see in the extension agent and operator logs that it is nonstop throwing errors

`{"Message":"2022/11/02 13:31:21 Error: in the getting the bearer token : {parameter 'userAssignedID' cannot be empty}",`

Guessing this is related

[2022-11-02 14:08] sijucm commented on #1717
And most of the time these exact corporates get attracted to Microsoft software like flies to shit. And you go through the rabbit hole of Microsoft to finally end up here knowing it is not possible. These corporates also hire excellent employees that create 20 "microservices" that needs to be deployed with manual approval process and back to happy clicking in the evening to cover up for the time I

[2022-11-02 14:08] joshuadmatthews commented on #5501
Also can see that the extension-agent container has an ENV variable AKS_USER_ASSIGNED_IDENTITY_CLIENT_ID:  with no value, could this also be related?
::

[2022-11-02 14:30] joshuadmatthews commented on #5501
Seems there is a ConfigMap extension-manager-config where this env variable is sourced from, and I have verified that the value is missing from it as well.

[2022-11-02 14:40] joshuadmatthews commented on #5501
My cluster does have a user assigned managed identity.

[code]

[2022-11-02 15:55] joshuadmatthews commented on #5501
I managed to dig into the /etc/acs/azure.json file of the extension-manager container and userAssignedIdentityID there set to clientID of the kubelete identity, but based on the error message from extension-manager logs I'm thinking it's checking in the env variable AKS_USER_ASSIGNED_IDENTITY_CLIENT_ID and the value provided by azure.json userAssignedIdentityID which seems to be a different key.

[2022-11-02 16:13] #5442 closed

[2022-11-02 21:35] bbrandt commented on #2458
The docs seem to say that the extension would install automagically, but this was not my experience.  I had to run:
[code]

... as documented in my gist:
https://gist.github.com/bbrandt/2bd2d6a958fb6a8ccc3a6a18f74f8af7

[2022-11-02 21:38] haranathvaranasisce commented on #5440
will there be any update?

[2022-11-03 02:54] #5491 closed

[2022-11-03 03:17] navba-MSFT commented on #5422
@jlunder00 This issue should be fixed now. The action is currently pending on you to try the above command again. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-11-03 03:17] #5422 closed

[2022-11-03 08:33] edervaldonetoMS commented on #5488
Hello All!

Do we have any update on this?

[2022-11-03 19:29] tasb opened #5513 "Error on az artifacts download on on-empty folder"
### Related command
`az artifacts universal download --organization $org --project=$project --scope project --feed $feed --name $package --version * --path cleanFolder`

### Extension name (the extension in question)
az devops

### Description of issue (in as much detail as possible)
When above command is executed on a non-empty dir I got the following error:

`ERROR: unrecognized arguments: docs

[2022-11-03 22:46] yonzhan commented on #5513
route to CXP team

[2022-11-04 02:45] FumingZhang commented on #5488
Hi @edervaldonetoMS, could you please use the latest aks-preview release 0.5.113 to rerun the command? I think I've fixed the issue in PR #5490.

[2022-11-04 03:04] navba-MSFT commented on #5513
Adding Service team to look into this issue.

@v-anvashist, @V-hmusukula. Could you please look into this once you get a chance ?

[2022-11-04 10:13] edervaldonetoMS commented on #5488
@FumingZhang

Working perfectly. Thanks a lot.

We can close this thread.

[2022-11-04 11:25] #5488 closed

[2022-11-05 08:01] #5362 closed

[2022-11-05 12:44] beohoang98 opened #5518 "Cannot show logs of container apps from Azure CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az containerapp logs show
Extension Name: containerapp. Version: 0.3.13.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az containerapp

[2022-11-05 20:52] samavos opened #5519 "az containerapp logs show failing with KeyError: logStreamEndpoint"
## Describe the bug

No obvious additional setup - just trying to get the logs of any containerapps.

**Command Name**
`az containerapp logs show
Extension Name: containerapp. Version: 0.3.13.`

**Errors:**
[code]

## To Reproduce:

Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az containerapp logs show -n {} -g {}`

#

[2022-11-05 20:53] samavos commented on #5519
Seems to be a duplicate of #5518

[2022-11-06 01:31] yonzhan commented on #5518
route to CXP team

[2022-11-06 01:32] yonzhan commented on #5519
route to CXP team

[2022-11-07 02:47] mikeassel opened #5521 "az image copy to multiple locations command ended with an error"
### Related command
[code]

### Extension name (the extension in question)
az image copy

### Description of issue (in as much detail as possible)
When I try to run the command I get the following output:
[code]
-----
MacOS 12.5.1
"azure-cli": "2.42.0",
  "azure-cli-core": "2.42.0",
  "azure-cli-telemetry": "1.0.8",
  "image-copy-extension": "0.2.9"

[2022-11-07 03:16] yonzhan commented on #5521
@zhoxing-ms for awareness

[2022-11-07 04:01] navba-MSFT commented on #5508
@ewagner14-cscc I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-11-07 05:48] navba-MSFT commented on #5518
@beohoang98  Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-11-07 05:49] navba-MSFT commented on #5519
Duplicate of https://github.com/Azure/azure-cli-extensions/issues/5518 .

Please track the progress in the above thread.

[2022-11-07 05:49] #5519 closed

[2022-11-07 09:16] rupendra-kpmg opened #5523 "cannot import name 'case_insensitive_dict' from 'azure.core.utils' (az aks get credentials)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials
Extension Name: aks-preview. Version: 0.5.94.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credenti

[2022-11-07 09:36] Mystorius opened #5524 "Azure ML Extension Workspace Sync Keys - Broken / not functional anymore"
### Related command
az ml workspace sync-keys --name
                          --resource-group

from your documentation here: https://learn.microsoft.com/en-us/cli/azure/ml/workspace?view=azure-cli-latest#az-ml-workspace-sync-keys

### Extension name (the extension in question)
ml version 2.10.0

### Description of issue (in as much detail as possible)
the command from above is not working anymor

[2022-11-07 09:52] navba-MSFT commented on #5518
@samavos @beohoang98 I am able to reproduce this issue at my end. We are looking into this further. We will get back to you once we have more details.

[2022-11-07 11:45] yonzhan commented on #5523
route to CXP team

[2022-11-07 11:45] yonzhan commented on #5524
route to CXP team

[2022-11-07 13:18] mikeassel commented on #5521
Running the same command with `--debug` didn't seem to provide any useful info. Here's some of the output.
[code]

[2022-11-07 16:39] pravinpushkar opened #5525 "How to include 3rd party CLI dependency as part of building an extension."
### Description of issue (in as much detail as possible)

We are trying to build an az cli extension for dapr(docs.dapr.io). For this we need to install `dapr cli` binary as a dependency.
Is there any recommendation or standard we follow on how to install 3rd party cli dependency?

For example, I see some of the extensions install `kubectl` cli as a dependency. Similar to that our new extension wi

[2022-11-07 22:29] StrawnSC commented on #5518
I have a PR in review to fix this: https://github.com/Azure/azure-cli-extensions/pull/5527

[2022-11-08 04:52] YuKogasaka opened #5528 "containerapp extension fails to install and update with "Pip failed with status code 2""
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Related command
az extension add --name containerapp

### Extension name (the extension in question)
containerapp

### Description of issue (in as much detail as possible)
Attempting to install the containerapp extension using the `az extension add` co

[2022-11-08 05:07] yonzhan commented on #5528
route to CXP team

[2022-11-08 17:51] banibrata commented on #5440
Thanks for reaching out, could you please share the output of az  -v ?

[2022-11-08 17:53] haranathvaranasisce commented on #5440
azure-cli                         2.39.0 *

core                              2.39.0 *
telemetry                          1.0.6 *

Extensions:
ml                                 2.5.0

Dependencies:
msal                              1.18.0
azure-mgmt-resource               21.1.0

Python location '/anaconda/envs/azureml_py38/bin/python'
Extensions directory '/opt/az/extensions'

Python (Linux) 3.8

[2022-11-08 18:39] banibrata commented on #5440
it shows you are using ml extension version 2.5.0, this is few months old, could you try using the latest one which should be 2.10.0.

You can use this command to remove the current one and get the latest

1. az extension remove -n ml
2. az extension add -n ml

[2022-11-09 03:41] navba-MSFT commented on #5523
@rupendra-kpmg Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-11-09 06:18] navba-MSFT commented on #5518
@beohoang98 The above PR ( https://github.com/Azure/azure-cli-extensions/pull/5527 )  has been merged now. The fix will be released as part of this milestone https://github.com/Azure/azure-cli-extensions/milestone/73

[2022-11-09 06:18] #5518 closed

[2022-11-09 07:15] bebound opened #5533 "These extensions are not compatible with latest azure-cli"
In https://github.com/Azure/azure-cli/pull/24582, I found the below extensions have dependency conflict with azure-cli.
Due to the cli load policy, azure-cli's dependency loads first. These extensions have already used the **incompatible** dependency in latest azure-cli.

### attestation
Needs `pyjwt==1.7.1`, but in https://github.com/Azure/azure-cli-extensions/pull/5081, it's compatible with pyjw

[2022-11-09 07:15] navba-MSFT commented on #5523
@rupendra-kpmg I see that you are using an older version of the `aks-preview` extension. Could you please upgrade to the latest version of this extension by running the below command ?

Hope this helps.

[2022-11-09 09:17] yonzhan commented on #5533
Do we plan to engage with different service teams to resolve them?

[2022-11-09 14:43] Poil opened #5535 "az serial-console connect with log storage in other RG than VM give a not found error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az serial-console connect
Extension Name: serial-console. Version: 0.1.3.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az serial-cons

[2022-11-09 15:36] joshuadmatthews commented on #5501
Seems that Microsoft did something to resolve this. Today the extension-manager-config AKS_USER_ASSIGNED_IDENTITY_CLIENT_ID no longer has no value; it has the value of the user assigned identity that gets setup on the vm scalesets for the extensionmanager.

Strangely, I tried the exact same thing by manually updating the config map to identity that while I was troubleshooting, and was seeing 401s

[2022-11-09 22:02] #5419 closed

[2022-11-10 03:51] navba-MSFT commented on #5528
@YuKogasaka Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-11-10 04:12] YuKogasaka commented on #5528
@navba-MSFT, this issue was already remedied.
The log no longer exists, but when the phenomenon occurred, an error was recorded that the "pyexpat" module did not exist.

[2022-11-10 04:48] navba-MSFT commented on #5508
@ewagner14-cscc The action is currently pending on you to update your` aks-preview` extension and run the AzCLI command again.  If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-11-10 04:48] #5508 closed

[2022-11-10 12:09] pravinpushkar commented on #5525
For example, when we do `az extension add -n <extn-name>`, do we have any hook available to execute installing certain binaries and also during `az extension remove` to remove those installed binaries ?

@jsntcy @kairu-ms

[2022-11-10 12:38] mix86 opened #5537 "containerapp logs show raises KeyError: 'logStreamEndpoint'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az containerapp logs show
Extension Name: containerapp. Version: 0.3.7.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az containerapp