[2022-02-10 00:28] yonzhan commented on #4407
route to CXP team to help with

[2022-02-10 02:21] necusjz commented on #4406
Hi @myers-dev ,

I cannot reproduce this issue. Have you created an Azure Firewall previously? i.e.,
[code]

[2022-02-10 03:04] necusjz commented on #4405
Hi @morro-tr ,

I cannot reproduce this issue. Could you replace `$true` after --auto-mitigate with `True` and re-execute?

[2022-02-10 07:16] PramodValavala-MSFT commented on #4397
@jakeatmsft It defaults to an [`aka.ms` endpoint](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli-core/azure/cli/core/extension/_index.py#L11) which redirects to `https://azcliextensionsync.blob.core.windows.net/index1/index.json`. Could you try whitelisting both of these and give it a shot?

[2022-02-10 08:02] navba-MSFT commented on #2109
@TomGeske Apologies for the late reply. I hope you had a chance to look at the above comment. Also refer [this](https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-ingress-controller-add-on-existing) article for more info. Could you please let us know if you still need any assistance on this issue ? Awaiting your reply.

[2022-02-10 10:14] morro-tr commented on #4405
Same issue -
`PS /home/mor> az monitor scheduled-query update --name "prod-ach-ea-insights - Requests failure rate is higher then 20 percent" --resource-group prod-ach-eu --window-size 15m --auto-mitigate True
The command failed with an unexpected error. Here is the traceback:
Unable to deserialize to object: type, AttributeError: 'str' object has no attribute 'get'
Traceback (most recent call las

[2022-02-10 11:54] navba-MSFT commented on #1787
@Sam123ben Apologies for the late reply. This issue is open for quite sometime. Please let us know if you need any further assistance on this.

[2022-02-11 02:02] necusjz commented on #4405
@morro-tr It seems quotes need to be escaped, i.e.,
[code]

If it doesn't work, could you share the command you created the scheduled-query? Then I can go into details, thanks.

[2022-02-11 05:42] navba-MSFT commented on #4284
@rmnunes Apologies for the late reply. Thanks for the update. I am glad that the issue is resolved now. Please let us know if you have any questions on this issue before we proceed with the archival of this thread. Awaiting your reply.

[2022-02-11 06:06] PramodValavala-MSFT commented on #4397
@jakeatmsft It would depend on the extensions that you need. There are quite a few domains used for the `downloadUrl` in the JSON. You would just have to whitelist the ones you need.

[2022-02-11 08:36] cataggar commented on #4395
Fixed by #4396

[2022-02-11 10:04] cataggar commented on #4395
Waiting on https://github.com/Azure/azure-cli-extensions/pull/4415 to be merged.

[2022-02-11 11:49] navba-MSFT commented on #4145
@jaliyaudagedara Apologies for the late reply. Thanks for your update. I am glad that the issue is resolved. We will now proceed with the closure of this thread. If you need any further assistance on this, please feel free to reopen this thread. We would be happy to assist you.

[2022-02-11 11:49] #4145 closed

[2022-02-11 12:04] navba-MSFT commented on #3973
@davidack Apologies for the late reply. You can check under the user profile for file ~/.kube/config. There are 3 required sections which must be present: clusters, contexts and users. I feel there seems to be an issue to read this config file. You can try to rename or delete the file and run the az aks get-credentials command and check if that works.

Alternatively you can pass the --file or --ov

[2022-02-11 12:46] navba-MSFT commented on #3925
@mattthias We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-11 12:46] #3925 closed

[2022-02-11 17:11] davidack commented on #3973
I am familiar with the proper format of my `~/.kube/config` file. It has the 3 required sections, and each of the sections contains many entries with some variation in content because I manage multiple clusters from multiple cloud vendors. I am not sure what is causing `az aks get-credentials` to have trouble merging the new set of credentials into the existing ones, but I suspect one of the exist

[2022-02-11 18:18] SaurabhSharma-MSFT commented on #575
@davidahoward I believe this issue has been fixed and can be closed. Please let us know.

[2022-02-11 20:47] dbradish-microsoft commented on #4248
@jiasli , did this issue get moved to another PR, or where do I find the service team response?

[2022-02-12 06:43] navba-MSFT commented on #586
@KevinBrooke Please let me know if you had a chance to look at my above comment. Awaiting your reply.

[2022-02-12 06:47] navba-MSFT commented on #570
@poochwashere This is a follow-up to check if you had a chance to look at my above comment. This issue is open for quite sometime. Please let us know if you need any further assistance on this.

[2022-02-12 06:54] navba-MSFT commented on #4119
@llegouez This is a follow-up to check if you had a chance to look at my above comment. This issue is open for quite sometime. Please let us know if you need any further assistance on this.

[2022-02-12 07:27] navba-MSFT commented on #1147
@geNAZt This is a follow-up to check if you had a chance to look at my above comment. This issue is open for quite sometime. Please let us know if you need any further assistance on this.

[2022-02-12 07:34] navba-MSFT commented on #982
@epierotto This is a follow-up to check if you had a chance to look at my above comment. This issue is open for quite sometime. Please let us know if you need any further assistance on this.

[2022-02-12 07:35] navba-MSFT commented on #1328
@weng271190436 This is a follow-up to check if you had a chance to look at my above comment. This issue is open for quite sometime. Please let us know if you need any further assistance on this.

[2022-02-12 18:13] epierotto commented on #982
Hi, it’s been a while since I opened this issue and I used the workaround
setting a cluster property. If you consider that the problem was solved
with that commit please close this issue.

Regards
Exequiel

On Sat 12 Feb 2022 at 07:34, navba-MSFT ***@***.***> wrote:

[2022-02-13 12:41] navba-MSFT commented on #1787
@Sam123ben I wanted to do quick follow-up to check if you had a chance to look at my above comment. This github issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-14 06:15] v-shenoy commented on #4358
Yes, @StrawnSC. We were just testing out various cases a user might try. We will be expecting it to work with v4 specifically.

[2022-02-14 08:13] navba-MSFT commented on #1260
@tscully49 Apologies for the late reply. I hope you had a chance to look at the above comments. This issue is open for quite sometime. Please let us know if you have any further questions or need any further assistance on this issue. Awaiting your reply.

[2022-02-14 08:51] navba-MSFT commented on #1070
@xinity Apologies for the late reply. I was able to run the show extension command for the akspreview extension without any issues. Could you please try to use the most [recent version of Az CLI ](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt) and check if you still get the issue ? Also this issue is open for quite sometime.  Please let us know if you still need any

[2022-02-14 08:56] navba-MSFT commented on #980
@dhillksmc Apologies for the late reply. I was able to run the upgrade command for my AKS Cluster without any issues. Could you please try to use the most [recent version of Az CLI ](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt)and [AKS extension](https://github.com/Azure/azure-cli-extensions/tree/main/src/aks-preview) and check if you still get the issue ? Also th

[2022-02-14 09:08] navba-MSFT commented on #694
@ghost @accu-joeykarns Apologies for the late reply. If your ask is to enable the Virtual node in AKS cluster using Azure CLI you need to follow [this](https://docs.microsoft.com/en-us/azure/aks/virtual-nodes-cli#before-you-begin) article. If you would like to enable the LogAnalytics addon to your AKS cluster then follow [this](https://docs.microsoft.com/en-us/azure/azure-monitor/containers/contai

[2022-02-14 10:34] navba-MSFT commented on #544
@tehho Apologies for the late reply. Refer [this](https://docs.microsoft.com/en-us/azure/load-balancer/update-load-balancer-with-vm-scale-set) article and check if that helps. This issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-14 10:50] tehho commented on #544
Thank you for the response and the walk down memory lane.

This was an issue back when we used azure cli to create our aks cluster.
We have moved on to terraform as this was a better fit for us.

[2022-02-14 10:50] #544 closed

[2022-02-14 10:52] KevinBrooke commented on #586
Yep, all good. Thanks!

[2022-02-14 11:10] navba-MSFT commented on #586
@KevinBrooke Thanks for your reply. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-14 11:10] #586 closed

[2022-02-14 11:11] PramodValavala-MSFT commented on #4397
@jakeatmsft Just following up here... Hope my previous comment clears things up.

[2022-02-14 11:30] navba-MSFT commented on #1789
@akashkeshari Apologies for the late reply. Could you please let us know if you had a chance to look at the above comment ? This issue is open for quite sometime. Please let me know if you need any further assistance on this. Awaiting your reply.

[2022-02-14 15:03] jakeatmsft commented on #4397
Thanks Pramod, is there a place I can check for specific domains needed?  For example if I'm targeting "ml" extension where can I reference for urls to whitelist?

[2022-02-14 18:51] dbradish-microsoft commented on #4248
CCing @chasewilson, this issue is a roadblock for the conceptual article in PR https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/2747

[2022-02-14 21:03] deckerbd commented on #928
@navba-MSFT No worries. Looks to be working for me now, closing. :)

[2022-02-14 21:03] #928 closed

[2022-02-15 01:50] SaurabhSharma-MSFT commented on #755
@lehmus Apologies for the delayed response. This GitHub issue has been open for quite some time. Could you please let us know if you still facing this issue and need assistance? Awaiting your reply.

[2022-02-15 01:51] SaurabhSharma-MSFT commented on #763
@qwordy Do you have any updates on this issue.

[2022-02-15 01:55] SaurabhSharma-MSFT commented on #814
@brichins Apologies for the delayed response. This GitHub issue has been open for quite some time. Could you please let us know if you still facing this issue and need assistance? Awaiting your reply.

[2022-02-15 01:57] SaurabhSharma-MSFT commented on #845
@rohancragg Apologies for the delayed response. This GitHub issue has been open for quite some time. Could you please let us know if you still facing this issue and need assistance? Awaiting your reply.

[2022-02-15 02:55] jsntcy commented on #4248
@dbradish-microsoft, could you please tell why this issue is a roadblock for he conceptual article in PR https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/2747?

[2022-02-15 08:56] cataggar commented on #4395
#4415 was merged yesterday.

[2022-02-15 08:56] #4395 closed

[2022-02-15 09:05] MattHodge commented on #4342
If you do a `az extension add --name ssh` it should install the extension for you

[2022-02-15 09:22] navba-MSFT commented on #1989
@jamihuq Apologies for the late reply. This issue seems to be fixed now in the[ documentation](https://docs.microsoft.com/en-us/cli/azure/aks/nodepool?view=azure-cli-latest#az-aks-nodepool-add). Could you please let us know if you need any further assistance on this ? Awaiting your reply.

[2022-02-15 10:18] davidkarlsen commented on #4342
it is only supported on windows :( Mac support for a start would be great.

[2022-02-15 10:22] rohancragg commented on #845
I no longer use this tool

[2022-02-15 10:41] llegouez commented on #4119
Hi @navba-MSFT I got a new laptop and do not have this issue anymore with it
Thanks for your support

[2022-02-15 10:41] #4119 closed

[2022-02-15 10:45] PramodValavala-MSFT commented on #4397
@jakeatmsft You could check the domain of the `downloadUrl` in the [index file](https://azcliextensionsync.blob.core.windows.net/index1/index.json) for the extension you are using.

@yonzhan Do we have any official recommendation for using Azure CLI in an environment with restricted network?

[2022-02-15 11:07] lehmus commented on #755
It seems that Azure ML Output Datasets are superseding the DataTransferStep in AML Pipelines. Output Datasets do not require the Data Transfer compute attached, so this issue is not relevant anymore.

[2022-02-15 11:07] #755 closed

[2022-02-15 11:57] navba-MSFT commented on #982
@epierotto Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-15 11:57] #982 closed

[2022-02-15 12:40] navba-MSFT commented on #4284
@rmnunes
I wanted to do quick follow-up to check if you had a chance to look at my above comment. This github issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-15 14:36] dbradish-microsoft commented on #4248
@jsntcy , We do not wish to publish the article until `az sentinel data-connector create` runs without error.

[2022-02-15 23:41] SaurabhSharma-MSFT commented on #845
@rohancragg Thanks for the confirmation. We are proceeding with the closure of this issue.

[2022-02-15 23:41] #845 closed

[2022-02-16 00:19] SaurabhSharma-MSFT commented on #868
@DanoThom I believe you have received answers to your question, so checking in if this issue can be closed. Please let us know.

[2022-02-16 00:21] SaurabhSharma-MSFT commented on #875
@bhanush3 Apologies for the delayed response. This GitHub issue has been open for quite some time. Could you please let us know if you still facing this issue and need assistance? Awaiting your reply.

[2022-02-16 00:24] SaurabhSharma-MSFT commented on #917
@svelango Apologies for the delayed response. This GitHub issue has been open for quite some time. Could you please let us know if you still facing this issue and need assistance? Awaiting your reply.

[2022-02-16 02:42] svelango commented on #917
We can close this. 
    On Tuesday, February 15, 2022, 06:24:27 PM CST, SaurabhSharma-MSFT ***@***.***> wrote:

@svelango Apologies for the delayed response. This GitHub issue has been open for quite some time. Could you please let us know if you still facing this issue and need assistance? Awaiting your reply.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notification

[2022-02-16 03:50] #917 closed

[2022-02-16 05:53] navba-MSFT commented on #1963
@nfsbendix Apologies for the late reply. az kusto module is not supported starting January 1, 2021. Please execute "az extension add -n kusto" to install the supported Kusto extension. More Info here:
https://docs.microsoft.com/en-us/cli/azure/kusto?view=azure-cli-latest

Please let us know if you face any issues. Awaiting your reply.

[2022-02-16 06:01] navba-MSFT commented on #4218
@imihalcea Apologies for the late reply. Please let us know if you had a chance to follow the plan suggested by @orhasban . Do let us know if you are still facing this issue. Awaiting your reply.

[2022-02-16 07:02] navba-MSFT commented on #2116
@sqldataside Apologies for the late reply. We are looking into this issue and we will provide an update on this once we have more details.

@ilayrn, @orhasban, @astauben Could you please provide an update on this ?Awaiting your reply.

[2022-02-16 07:07] navba-MSFT commented on #4256
@mingqxu  Apologies for the late reply. Could you please let us know if you are still facing the issue ? Awaiting your reply.

[2022-02-16 12:19] navba-MSFT commented on #570
@poochwashere We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-16 12:19] #570 closed

[2022-02-16 20:55] wmmihaa commented on #2184
As there is a select slot drop-down but only populated with "Production" this must be categorized as a bug. There has been an open request for this fix this bug for 18 months now (https://github.com/Azure/azure-cli-extensions/issues/2184).

This should not be a feature request!

Please fix

[2022-02-16 22:40] gsimoes commented on #561
Yeap, this can be closed. Thank you!

[2022-02-16 23:20] #561 closed

[2022-02-16 23:31] jeremyhouser117 commented on #4142
I have experienced the same issue in both 2.32 and now 2.33
version information:
{
  "azure-cli": "2.33.1",
  "azure-cli-core": "2.33.1",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "appservice-kube": "0.2.2",
    "connectedk8s": "1.2.0"
  }
}

[2022-02-17 03:02] navba-MSFT commented on #569
@DaveB93 Thanks for getting back. @zhoxing-ms has mentioned in the [above](https://github.com/Azure/azure-cli-extensions/issues/569#issuecomment-1032172378) comment that this ask is in the backlog.

Also the _feature request_ label has been added to this thread.

Adding @zhoxing-ms for visibility.

[2022-02-17 06:41] #4357 closed

[2022-02-17 20:51] ahernandez411 opened #4435 "Cannot List scheduled queries being monitored via az cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor scheduled-query list
Extension Name: scheduled-query. Version: 0.5.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- run `az login` to login
- `az monitor scheduled-

[2022-02-17 20:57] ahernandez411 commented on #4435
Upgrading to 2.33.1 fixed it

[2022-02-17 20:57] ahernandez411 commented on #4435
Upgrade fixed it

[2022-02-17 20:57] #4435 closed

[2022-02-18 03:10] wangzelin007 opened #4437 "{CI} test config-as-bot"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)
az bot

### Extension name (the extension in question)

### Description of issue (in as much detail as possible)

-----

[2022-02-18 05:31] yonzhan commented on #4437
CI

[2022-02-18 09:23] navba-MSFT commented on #2490
@TT554JJbgbg  Apologies for the late reply. Could you please try the below steps and let us know if you still face the issue ?

az extension update --name connectedk8s  # This will update the existing connectedk8s extension

Then you can try to run the [az connectedk8s connect](https://docs.microsoft.com/en-us/cli/azure/connectedk8s?view=azure-cli-latest#az-connectedk8s-connect) command and let us

[2022-02-18 09:51] navba-MSFT commented on #3903
@ddanboyle Apologies for the late reply. Could you please try the below steps and let us know if you still face the issue ?

az extension update --name connectedk8s # This will update the existing connectedk8s extension

az login # Login using you Azure account

Then you can try to run the [az connectedk8s proxy](https://docs.microsoft.com/en-us/cli/azure/connectedk8s?view=azure-cli-latest#az-conn

[2022-02-18 10:25] navba-MSFT commented on #3762
@mormond Apologies for the late reply. Could you please try the below steps and let us know if you still face the issue ?

az extension update --name connectedk8s # This will update the existing connectedk8s extension

az login # Login using you Azure account

Then you can try to run the [az connectedk8s proxy](https://docs.microsoft.com/en-us/cli/azure/connectedk8s?view=azure-cli-latest#az-connec

[2022-02-21 02:06] Sam123ben commented on #1787
Hi, all good i have managed to work on it and fix it.

Thanks

[2022-02-21 04:52] navba-MSFT commented on #1787
@Sam123ben Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-21 04:52] #1787 closed

[2022-02-21 06:21] #4358 closed

[2022-02-21 09:03] morro-tr commented on #4405
Same error message -
`az monitor scheduled-query update --name \"prod-ach-ea-insights - Requests failure rate is higher then 20 percent\" --resource-group prod-ach-eu --window-size 15m --auto-mitigate True
The command failed with an unexpected error. Here is the traceback:
Unable to deserialize to object: type, AttributeError: 'str' object has no attribute 'get'
Traceback (most recent call last):

[2022-02-21 09:20] necusjz commented on #4405
@morro-tr It's weird, could you share the commands (or procedures) you created the scheduled-query?

BTW, the complicated string -- "prod-ach-ea-insights - Requests failure rate is higher then 20 percent" is used for `--name` or `--condition`?

[2022-02-21 09:34] navba-MSFT commented on #2240
@mikebranstein Apologies for the late reply. You can refer [this](https://docs.microsoft.com/en-us/azure/aks/configure-kubenet#bring-your-own-subnet-and-route-table-with-kubenet) article for the existing subnet and route table with kubenet and its limitations. This issue is open for quite sometime. Could you please let us know if you still need assistance on this issue ? Awaiting your reply.

[2022-02-21 09:50] navba-MSFT commented on #2320
@akurathimohan Apologies for the late reply. Could you please let me know if you had a chance to try the above action plan ? This issue is open for quite sometime. Please let us know if you need any assistance on this. Awaiting your reply.

[2022-02-21 10:01] navba-MSFT commented on #3760
@srini247 Apologies for the late reply. Could you please try to upgrade your [akspreview](https://github.com/Azure/azure-cli-extensions/tree/main/src/aks-preview) extension and [AzCLI version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli) and let us know if you are still facing this issue? Also this issue is open for quite sometime. Please let us know if you

[2022-02-21 10:58] morro-tr commented on #4405
It's used for name.
I'm a little concerned now that maybe the alerts are not working as they
should if they are faulting out like this?

The alerts were created using Azure Powershell

$logMetricTrigger = New-AzScheduledQueryRuleLogMetricTrigger -
ThresholdOperator "GreaterThan" -Threshold 2 -MetricTriggerType
"Consecutive" -MetricColumn "name"
    $logTriggerCondition = New-AzScheduledQueryRuleTr

[2022-02-21 12:09] navba-MSFT commented on #3967
@brbrockel Apologies for the late reply. Is there a proxy in your environment ? Could you please try to run the command on another machine which is on a different network and check if that works fine ? If this is not feasible, you can append your corporate proxy certificate(s) to the end of the certifi library's cacert.pem file. Sharing the location of this on Windows: C:\Program Files (x86)\Micro

[2022-02-21 14:02] #868 closed

[2022-02-21 21:25] hb66772-home opened #4446 "AZ pipelines build list command does not show triggerInfo field data on some builds"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
{
  "azure-cli": "2.25.0",
  "azure-cli-core": "2.25.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "application-insights": "0.1.13",
    "automation": "0.1.0",
    "azure-devops": "0.18.0",
    "

[2022-02-21 21:40] hb66772-home opened #4447 "Is there a cli to query for consumed artifacts used by a yaml (deployment job) pipeline?"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

{
  "azure-cli": "2.25.0",
  "azure-cli-core": "2.25.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "application-insights": "0.1.13",
    "automation": "0.1.0",
    "azure-devops": "0.18.0",

[2022-02-21 22:15] Tatsinnit opened #4448 "AZ AKS Kollect failed with diagnostic settings property error."
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
`aks-preview`

### Description of issue (in as much detail as possible)

Upgrade to latest `az li` and run the kollect command, fyi to @FumingZhang , thank you for looking into this, I thought I will loop you

[2022-02-21 23:34] yonzhan commented on #4446
route to CXP team

[2022-02-21 23:35] yonzhan commented on #4447
route to CXP team

[2022-02-21 23:36] yonzhan commented on #4448
route to service team

[2022-02-22 07:24] Gauravkumargupta opened #4451 "az blueprint create from JSON parameter"
### Description:

I'm trying to create a Azure Blueprint definition via CLI command with help of one of the pre-built sample available at Azure.

### Command Name:

az blueprint create --subscription <subscription-id>--name MyTestBlueprint --description "My First Blueprint" --target-scope subscription --parameters blueprint.json

### Error:

Command group 'blueprint' is experimental and under deve

[2022-02-22 07:37] necusjz commented on #4405
@morro-tr We can use `az monitor scheduled-query show` to check the alerts are working or not:
[code]
`az monitor scheduled-query update --name {} --resource-group {} --window-size {} --auto-mitigate {}` should work if the alert exists.

[2022-02-22 07:49] morro-tr commented on #4405
That returns the alert correctly, but I still cannot update it with az
monitor update.
Any update on what is going on and why it is failing?

On Tue, 22 Feb 2022, 9:38 am necusjz, ***@***.***> wrote:

[2022-02-22 09:58] yonzhan commented on #4451
route to CXP team

[2022-02-22 11:37] navba-MSFT commented on #2490
@TT554JJbgbg I wanted to do quick follow-up to check if you had a chance to look at my above comment. This github issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-22 11:38] navba-MSFT commented on #3903
@ddanboyle I wanted to do quick follow-up to check if you had a chance to look at my above comment. This github issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-22 19:28] mkheck opened #4452 "spring-cloud extension doesn't accommodate specifying --subscription, resulting in errors"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

az spring-cloud

### Description of issue (in as much detail as possible)

-----

Most az and extension commands accept a `--subscription` parameter; `az spring-cloud create` does not. Problems arise when I t

[2022-02-22 23:13] yonzhan commented on #4452
route to service team

[2022-02-23 00:18] rmnunes commented on #4284
no questions. Thanks

[2022-02-23 00:18] #4284 closed

[2022-02-23 02:40] yuwzho commented on #4452
@mkheck Can you provide the detailed error message? The second command you mentioned didn't pass the `--subscription` parameter. Is this on purpose?

[2022-02-23 02:41] necusjz commented on #4405
@morro-tr , this kind of error is usually a parameter passing error. Let me share my procedures of successfully updating `--window-size` and `--auto-mitigate`, hope it's useful for you:
[code]

[2022-02-23 05:18] mkheck commented on #4452
Hi @yuwzho, the `--subscription` parameter doesn't exist for the `az spring-cloud create` command; that's basically the problem in a nutshell. 😞

Here are the commands & outputs interspersed. First thing below, I attempted to create the Azure Spring Cloud instance (after the `az group create` statement completed successfully and created the _mh-scitc-rg_ group):

» `az spring-cloud create -n $SPRI

[2022-02-23 08:22] yuwzho commented on #4452
@mkheck The `--subscription` is a global argument for all az commands. If you type `az spring-cloud create -h`, you can see such text in the output. That means you can add the `--subscription` for the `az spring-cloud create` command and the spring cloud instance will be created under that subscription.

[code]

[2022-02-23 11:03] navba-MSFT commented on #4447
@hb66772-home Apologies for the late reply. Thanks for sharing this feedback. We will look into this ask and provide an update here once we have more details on this.

[2022-02-23 13:06] mkheck commented on #4452
Hmm…Im fairly certain I tried that “manually” (outside of a script), but it’s possible I didn’t since it wasn’t in the docs. I do remember expanding and examining the “Global Arguments” section under the az spring-cloud create section to look for it. 🤔

Let me give it (another?) try and let you know shortly.

[2022-02-23 15:14] obiii opened #4457 "Could not retrieve user token. Please run 'az login' Azure CLI 2.33.1"
Hi,

I have a CI pipeline which contains an Azure Cli Task to submit a python script. This is the inline script the task uses:

[code]

It results in the error:

`{'code': ExecutionFailed, 'message': [{"exit_code":1,"error_message":"Execution failed with error: [stderr]  File \"/azureml-envs/azureml_d8ac72e9b124a7fe0100c9a94b37cf8b/lib/python3.8/site-packages/azureml/core/authentication.py\", line

[2022-02-23 16:53] mkheck commented on #4452
Ok, some discoveries!

First, with regard to creating an Azure Spring Cloud instance: naming isn't considered unique to the resource group being used to create it, as it finds other AzSC instances in other accounts/RGs:

`az spring-cloud create -n $SPRING_CLOUD_SERVICE -g $RESOURCE_GROUP -l $REGION --disable-app-insights false`
**The service name 'mh-scitc-service' is already taken.**

Second, the

[2022-02-23 23:01] yonzhan commented on #4457
route to CXP team

[2022-02-24 02:44] yuwzho commented on #4452
1. The azure spring cloud's name is global unique, because the name will be used in the fqdn for later runtime support.
1. I will follow up the missing of `subscription` in the doc.
1. As an Azure resource, Azure Spring Cloud instance must be put into an Azure Resource Group, you can see [Manage Azure Resource Manager resource groups by using Azure CLI](https://docs.microsoft.com/en-us/azure/azure

[2022-02-24 03:02] yuwzho commented on #4452
@zhoxing-ms For the 2nd issue, the genereted doc https://docs.microsoft.com/en-us/cli/azure/spring-cloud?view=azure-cli-latest#az-spring-cloud-create doesn't show `--subscription` neither in optional parameter nor global argument. I did a quick check for other services' documentation, and found the commands in `azure-cli` repo put the `--subscription` in the optional parameter, but none of command

[2022-02-24 03:16] zhoxing-ms commented on #4452
@daxianji007 Could you please help see why there is no description for global parameter `--subscription` in the document of CLI extension?

[2022-02-24 05:46] navba-MSFT commented on #4446
@hb66772-home Apologies for the late reply. Could you please let me know if you face the same issue by using [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of the Az CLI ? Awaiting your reply.

[2022-02-24 11:19] navba-MSFT commented on #1213
@hihorika Apologies for the late reply. [Here](https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest#az-webapp-create-remote-connection) is the documentation which talks about the remote connection. Hope this helps. Also this issue is open for quite sometime, please let us know if you need any further help on this. Awaiting your reply.

[2022-02-24 11:27] #4451 closed

[2022-02-24 12:52] hb66772-home commented on #4446
Can you specify which version Of CLI that will provide this capability?

On Wed, Feb 23, 2022 at 11:46 PM navba-MSFT ***@***.***>
wrote:

[2022-02-24 12:55] navba-MSFT commented on #4446
@hb66772-home Thanks for getting back. Could you check with recent version AzCLI [2.33.1 ](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and let us know if you still see the issue? Awaiting your reply.

[2022-02-24 14:28] dvwyngaard opened #4462 "az account subscription list fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account subscription list
Extension Name: account. Version: 0.2.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account subscri

[2022-02-24 15:09] hb66772-home commented on #4446
I've downloaded/installed 2.33.1 and executed below command, but again, the trigger info is not shown

**az pipelines build show --project $project --org $org --id $id**

Note:

1. I notice that this command only show triggerInfo IF AND ONLY IF the deployment job was triggered a buildcompletion event from the pipeline resource that i included in the yaml deployment job.

2.  If the deployment job

[2022-02-24 22:42] yonzhan commented on #4462
@jiasli for awareness

[2022-02-25 02:51] daxianji007 commented on #4452
Sure, I am checking the `--subscription` in the document. It could be related to this internal work item: https://ceapex.visualstudio.com/Engineering/_workitems/edit/521723

[2022-02-25 03:58] jiasli commented on #4462
I cannot repro on the latest Azure CLI:

[code]

Azure CLI 2.15.1 is a very old version. Please update to the latest and see if it works.

[2022-02-25 09:58] PramodValavala-MSFT commented on #4457
@obiii The Azure CLI task should already be logged in using the service connection defined in the task. You don't really have to login in code like so.

Either way, is the `az login` command running without any errors? You could run `az account show` to double check.

[2022-02-25 10:37] rndazurescript commented on #4157
Environment creation also fails with the same error if you have not saved the credentials. Folks, during the deployment of the AzureML we allow users to not save credentails. CLI V2 should support default store without saved credentials...

[2022-02-25 11:41] dvwyngaard commented on #4462
let me upgrade first and test

[2022-02-26 08:00] #4176 closed

[2022-02-28 05:53] navba-MSFT commented on #4390
@thomasoliveira Thanks for sharing the requested logs over email. I am adding an update here just to avoid the thread from going idle. Since we are troubleshooting this issue offline over email, I will share an update once I hear back from the Product Owners. We appreciate your patience on this.

[2022-02-28 10:53] navba-MSFT commented on #1702
@pauloortins Apologies for the late reply. Could you please let us know if the above suggestions were helpful ? This issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-28 13:16] navba-MSFT commented on #4311
@Sahithi-Modak Apologies for the late reply. Could you please see the [above](https://github.com/Azure/azure-cli-extensions/issues/4311#issuecomment-1010591088) comment and let us know your findings ? Awaiting your reply.

[2022-02-28 15:14] mikebranstein commented on #2240
@navba-MSFT Thank you. The issue I'm reporting is that the AKS CLI isn't using my existing NSG and Route Table when using the --vnet-subnet-id CLI option. The CLI tries to create a new NSG and Route Table.

[2022-02-28 15:19] cyclops1982 opened #4472 "az monitor app-insights with --output gives no output"
## Describe the bug
`az monitor app-insights` with `--output` provides no output, while without `--output` it works fine.

Example command that works:
[code]
Example that doesn't work
[code]

**Command Name**
`az monitor app-insights query
Extension Name: application-insights. Version: 0.1.15.`

## To Reproduce:
Run `az monitor app-insights query` with `--output`

## Expected Behavior
Get output i

[2022-02-28 16:29] calvinsID commented on #3468
Please remove the webapp azure-cli-extensions, as that is deprecated, in favor of core CLI

[2022-02-28 16:29] #3468 closed

[2022-02-28 23:12] yonzhan commented on #4472
monitor

[2022-03-01 00:39] vthiebaut10 commented on #4068
@rweatherly If the --file provided is in a directory that doesn't exist, the extension won't create a new directory for the config file, and the command will fail. Is that what is causing your issue?

[2022-03-01 08:43] YuanyuanNi commented on #4472
Hi,
      'az monitor app-insights query -- --output json/yaml 'works well , notice that when the query command with --output table has no results , the result will be in the form of blank.
Best wishes.

[2022-03-01 11:20] cyclops1982 commented on #4472
Thanks @YuanyuanNi
I've noticed that --output table results in an empty result if there are no rows.
I tested this with a query that /does/ provide a result, so i expect --table to NOT be empty...

[2022-03-01 14:01] yo1-markenstein opened #4476 "Not able to access same dashboards via CLI as when using the portal"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az portal dashboard list
Extension Name: portal. Version: 0.1.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az portal dashboard lis

[2022-03-01 17:55] myers-dev opened #4477 "name 'collection' is not defined for "az network firewall network-rule create""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network firewall network-rule create
Extension Name: azure-firewall. Version: 0.13.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
-

[2022-03-01 17:59] myers-dev opened #4478 "az network firewall network-rule create command failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network firewall network-rule create
Extension Name: azure-firewall. Version: 0.13.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
-

[2022-03-01 18:08] myers-dev commented on #4406
Hello @necusjz , yes the firewall was created previously:

`    az network firewall create --name AZFWP \
                            --resource-group ${rg} \
                            --firewall-policy AZFWPP \
                            --location $location0 \
                            --sku AZFW_Hub \
                            --tier Premium \
                            --vhub $vhub0_na

[2022-03-01 23:59] yonzhan commented on #4476
route to service team

[2022-03-02 00:01] yonzhan commented on #4477
network

[2022-03-02 00:01] yonzhan commented on #4478
network

[2022-03-02 06:46] navba-MSFT commented on #4446
@hb66772-home We have involved the Service Team in the background to look into this issue and update this github thread. We appreciate your patience on this.

[2022-03-02 08:01] #797 closed

[2022-03-02 10:42] gilbertsmink opened #4482 "Error after uninstalling Anaconda environment"
## Describe the bug
After uninstalling my Anaconda environment the following error started to occur when using azure cli

**Command Name**
`az ssh config
Extension Name: ssh. Version: 1.0.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az s

[2022-03-02 12:27] yonzhan commented on #4482
route to CXP team

[2022-03-02 21:47] kostyar007 opened #4483 "Unexpected error "syntax is incorrect""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ssh config
Extension Name: ssh. Version: 1.0.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ssh config --ip {} --file {} --ove

[2022-03-02 21:53] kostyar007 commented on #4483
I used the command from PowerShell:
az ssh config --ip * --file C:\Users\krazumov\Documents\azurevm.txt --overwrite
The path 'C:\\Users\\krazumov\\Documents\\az_ssh_config\\*' exists but somehow doesn't excepted.

[2022-03-02 22:54] yonzhan commented on #4483
route to CXP team

[2022-03-03 03:19] navba-MSFT commented on #4483
@kostyar007 Thanks for reaching out to us. Could you please follow the below action plan in the order and let me know if that works ?

ssh -F ./sshconfig 23.XXX.XX.86

**Note**: You need to pass relative path to the `--file` parameter and not absolute path.

PS: Even if the error/warning appears while running the above command it should succeed in the background. The sshconfig file should be creat

[2022-03-03 08:00] #635 closed

[2022-03-03 16:27] yo1-markenstein commented on #4476
Hello team, I discovered the issue (confusion) is totally on my side. I need to explicitly set the subscription (`az account set --subscription bla`) prior to executing the command.

Sorry for bothering you.

Johan

[2022-03-03 16:27] #4476 closed

[2022-03-03 18:25] kostyar007 commented on #4483
@navba-MSFT ,
The command works when I use IP address explicitly. It doesn't work when I use asterisk.
az ssh config --ip * --file Documents\azurevm2.txt --overwrite

[2022-03-03 19:34] panchagnula commented on #1213
This is the document that talks abt this command https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest#az-webapp-create-remote-connection , this is on core-cli so make sure you are not using the extension.

[2022-03-03 19:34] #1213 closed

[2022-03-03 19:53] nusrath432 opened #4488 "Unable to create subscription using Terraform with SP that has billing delegation role nor with az-cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account alias create
Extension Name: account. Version: 0.2.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account alias create

[2022-03-03 23:15] yonzhan commented on #4488
@jiasli for awareness

[2022-03-04 03:10] YuanyuanNi commented on #4472
Hi,
     The --output table here are different with the common table we think .As the output is an object , so CLI does not support this command to output in the form of table.
Best wishes.

[2022-03-04 04:22] navba-MSFT commented on #4483
@kostyar007 Thanks for getting back. The way your run the command depends on the command shell you are using. Sending you the syntax for using asterisk.

#Bash
az ssh config --ip \* --file ./sshconfig

#PowerShell
az ssh config --ip * --file ./sshconfig

Hope this helps.

[2022-03-04 08:01] #2109 closed

[2022-03-04 08:57] kandreadou opened #4490 "Error on webapp create"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create
Extension Name: appservice-kube. Version: 0.2.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create --nam

[2022-03-04 09:12] tap1992 opened #4491 "az ssh vm failing with error message"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Upon running the command we are receiving an error message.
have also upgraded the AZ CLI to 2.34.1 and same error occurs.
Seemed to be working ok yesterday till I restarted my laptop and a windows 11 update installed (may be coincidental)

**Command Name**
`az ssh vm
Extension Name: ssh. Version: 1.0.0.`

**Er

[2022-03-04 09:54] yonzhan commented on #4490
route to CXP team

[2022-03-04 09:55] yonzhan commented on #4491
route to CXP team

[2022-03-04 10:23] navba-MSFT commented on #4491
@tap1992 Thanks for reaching out to us. Could you please try running the below commands in order ?

az login

Then you can try to run the [az ssh vm](https://docs.microsoft.com/en-us/cli/azure/ssh?view=azure-cli-latest#az-ssh-vm) command check if that works.
If the above steps doesn't fix the issue and if you still see the same error, you can try to delete the contents of the folder
 `C:\Users\<us

[2022-03-04 12:55] tap1992 commented on #4491
Hi, deleting the C:\Users\<user>\.azure folder resolved this issue, although not sure why it occurred in the first place

[2022-03-04 12:58] tap1992 opened #4492 "Improve handling of SSH fingerprints"
### Extension name (the extension in question)
SSH

### Description of issue (in as much detail as possible)
If a Azure Virtual Machine is rebuilt (after having already used Az SSH VM to connect to it and accept the fingerprint) and then try and connect to it again, the AZ CLI won't do anything, doesn't present any errors just returns to the command prompt.

Putty (using local username and passwor

[2022-03-04 13:59] yonzhan commented on #4492
route to CXP team

[2022-03-04 16:25] navba-MSFT commented on #4491
@tap1992 Thanks for getting back. I am glad that the issue is now resolved. The probable cause of this issue is explained [here](https://github.com/Azure/azure-cli/issues/20231#issuecomment-964474753) in this thread Azure/azure-cli#20231.
We will now proceed with closure of this issue. If the issue resurfaces in future, feel free to reopen this github thread. We would be happy to help.

[2022-03-04 18:22] kostyar007 commented on #4483
@navba-MSFT, thanks for quick response.
It doesn't help for PowerShell:
PS C:\Users\krazumov> az ssh config --ip * --file ./sshconfig
The command failed with an unexpected error. Here is the traceback:
[WinError 123] The filename, directory name, or volume label syntax is incorrect: '.\\az_ssh_config\\*'

[2022-03-05 08:00] #575 closed

[2022-03-06 08:00] #1328 closed

[2022-03-06 08:00] #1147 closed

[2022-03-07 05:23] navba-MSFT commented on #4490
@kandreadou Apologies for the late reply. I believe you are trying to create a webapp on linux worker. I tried to reproduce the same in my machine and it worked fine. Below are the commands that I ran in order:

Could you please install the Microsoft official Azure CLI for the Deb package from [here](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt) and then test the c

[2022-03-07 06:56] navba-MSFT commented on #4390
@thomasoliveira Action plan to use with Azure Blob Storage instead of Azure Data Lake Storage account in the workspace has been shared now.

[2022-03-07 09:03] ilkka opened #4497 "Functionapp extension not working after CLI update"
### Extension name (the extension in question)

functionapp

### Description of issue (in as much detail as possible)

After updating az CLI to 2.34.1, `az functionapp devops-pipeline create` fails with

[code]

Here's the version information:

[code]

-----

[2022-03-07 13:14] yonzhan commented on #4497
route to CXP team

[2022-03-07 16:33] panchagnula commented on #4490
@StrawnSC you mentioned that the latest SDK update on core broke some commands on kube extensions is this related to the same?

[2022-03-07 16:39] PramodValavala-MSFT commented on #4497
@ilkka Thanks for the feedback! I can confirm the same error and will work with the concerned team to get this fixed.

[2022-03-07 16:58] panchagnula commented on #4311
Logic apps team confirmed this is a runtime specific issue & not CLI, so this should be tracked as an incident on them. @Sahithi-Modak please open a support case on Logic Apps directly, unfortunately not something CLI can fix.

[2022-03-07 23:14] archidda commented on #4063
@Sahithi-Modak If you are still facing the issue with correct zip file, then this might be runtime issue and not CLI issue. Please create a support request from azure portal on logicapps team. That way we can help you better.

[2022-03-08 03:57] navba-MSFT commented on #4483
@kostyar007 Thanks for getting back. I was able to reproduce the issue at my end. Turns out that it is a bug and we will have that fixed on the next version of the extension. So I have tagged this github issue with Bug label.

For now, you can use the `--keys-destination-folder` parameter to avoid the error when creating config files with * as the IP. The error happens because the extension tries

[2022-03-08 06:55] SatishBoddu-MSFT commented on #4482
Hello @gilbertsmink thanks for reaching on this issue!
Could you please run this command on a new machine where we don't have Conda environments? wanted to check with you if this is caused consistently by the Conda environment Addition\Removal?

Also please refer to a similar [issue](https://github.com/Azure/azure-cli-extensions/issues/4181#issuecomment-996823549):

`az ssh config --ip '*.internal

[2022-03-08 08:00] #1789 closed

[2022-03-08 08:01] #1260 closed

[2022-03-08 08:01] #1070 closed

[2022-03-08 08:01] #814 closed

[2022-03-08 08:01] #694 closed

[2022-03-08 19:25] kostyar007 commented on #4483
@navba-MSFT Thank you. It works.

[2022-03-08 19:27] til10 opened #4508 "Unexpected 'az kusto cluster create' error: local variable 'deserialized' referenced before assignment"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az kusto cluster create
Extension Name: kusto. Version: 0.4.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az kusto cluster create -

[2022-03-09 01:00] til10 opened #4509 "Error running the 'az kusto database-principal-assignment create' command: The value for property 'location' in the input object cannot be empty."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Note that location is not a valid parameter for this command. The extension may need to provide this value.

**Command Name**
`az kusto database-principal-assignment create
Extension Name: kusto. Version: 0.4.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values h

[2022-03-09 01:35] yonzhan commented on #4509
route to CXP team

[2022-03-09 04:02] navba-MSFT commented on #4483
@kostyar007 Thanks for getting back. I am glad that the issue is resolved. We will update this thread once the above issue is fixed in next version of extension. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-03-09 04:03] #4483 closed

[2022-03-09 05:03] navba-MSFT commented on #4508
@til10 Thanks for reaching out to us. We are aware of this issue. The Fix for that is planned for release refer PR Azure/azure-cli-extensions#4360. More Info on the similar issue Azure/azure-cli-extensions#4086 and Azure/azure-cli-extensions#4218.
I will update this thread once I have more details on this.

[2022-03-09 05:40] srozanc-mcs opened #4510 "Unable to create new aks cluster with --enable-pod-identity"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create
Extension Name: aks-preview. Version: 0.5.44.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create -g {} -n {} --

[2022-03-09 06:07] yonzhan commented on #4510
route to CXP team

[2022-03-09 07:15] navba-MSFT commented on #4509
@til10 Thanks for reaching out to us. I was able to run the above command in my box and it worked fine. Could you please use the [most recent version ](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli)of Azure CLI and try to run the command again ? If you face the issue again, Please share the output of the command with --debug parameter. Awaiting your reply.

[2022-03-09 08:01] #4256 closed

[2022-03-09 08:01] #1963 closed

[2022-03-09 08:01] #875 closed

[2022-03-09 11:40] kitoyomi opened #4513 "az ssh config error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ssh config
Extension Name: ssh. Version: 1.0.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ssh config --ip {} --file {}`

##

[2022-03-09 11:47] DuongThiNgocHoa opened #4514 "Create automation runbooks type Python by azure-cli"
In azure portal, I can create a automation runbook with Python type. But in azure-cli, i can't. How to do it ?

[2022-03-09 11:49] navba-MSFT commented on #4513
@kitoyomi Thanks for reaching out to us. Could you please follow the below action plan in the order and let me know if that works ?

ssh -F ./sshconfig 23.XXX.XX.86

If you are trying to run the command with `--ip *`  (asterisk) then it is expected to fail due to a _known_ issue. We will have that fixed on the next version of the extension. For now, you can use the `--keys-destination-folder `para

[2022-03-09 12:25] yonzhan commented on #4513
route to CXP team

[2022-03-09 20:28] til10 commented on #4509
@navba-MSFT I've upgraded to the latest version of Azure CLI. The error remains the same with a couple different cluster locations and SKUs. Perhaps it has to do with the extension-swapping workaround related to the [cluster creation issue](https://github.com/Azure/azure-cli-extensions/issues/450), and documented in the PowerShell below.

[code]

The last command results in the error.

[2022-03-09 20:39] til10 commented on #4509
Requested trace with --debug flag:

[code]

[2022-03-10 00:34] kitoyomi commented on #4513
Sorry. I forgot to post the error message so I updated it.

I am trying to access the site via VPN, so I am checking to see if the VPN connection is working.

[2022-03-10 02:12] jiasli commented on #4514
According to https://docs.microsoft.com/en-us/cli/azure/automation/runbook?view=azure-cli-latest, this issue belongs to `automation` entension.

[2022-03-10 02:35] jsntcy commented on #2021
The ETA for the fix will be the end of March if there is no block issue from service side.

[2022-03-10 06:09] navba-MSFT commented on #4509
@til10 Thanks for sharing the commands and debug output. I was able to run the same above commands in order and it worked fine for me. I had used `--sku 'Standard_D11_v2' ` and `--location 'eastus'` in my command. Could you please test with the same and let me know if that helps ? Awaiting your reply.

On a side note, I also see that you are removing the kusto extension before creating the cluster

[2022-03-10 07:18] ZengTaoxu commented on #4301
Hi martinpeck. You can try using the command 'az network firewall ip-config delete' to remove the public IPs from the firewall, and you can try using the command 'az network firewall ip-config create' toallow them to added back in to reallocate.
For details, Please refer to the documentation:
https://docs.microsoft.com/en-us/cli/azure/network/firewall/ip-config?view=azure-cli-latest

[2022-03-10 09:09] jiasli commented on #4513
For

[code]

`profile.get_msal_token` is guarded:

https://github.com/Azure/azure-cli-extensions/blob/4e4b9c2f225ca4236667d47465b140e40eb202bc/src/ssh/azext_ssh/custom.py#L161-L169

Also, your `/Users/metroweather_macos3/.azure/cliextensions/ssh/azext_ssh/custom.py` doesn't match the content of https://github.com/Azure/azure-cli-extensions/blob/4e4b9c2f225ca4236667d47465b140e40eb202bc/src/ssh/azex

[2022-03-11 05:41] navba-MSFT commented on #4508
@til10 I am discussing this with the product owners. I will provide an update on this by next week.

[2022-03-11 05:56] navba-MSFT commented on #4510
@srozanc-mcs Apologies for the late reply. Thanks for reporting this issue. I see that you are using an older version of _AzCLI_ and _aks-preview_ extension. Please update both _azure-cli_ (via `az upgrade`) and _aks-preview_ (0.5.48, via `az extension update -n aks-preview`) to the latest version. Please let me know if you face any issues after this.

Similar issue Azure/azure-cli-extensions#4116

[2022-03-11 08:01] #4397 closed

[2022-03-11 15:54] vthiebaut10 commented on #4181
@Tea23 @legigor Both your issues have been addressed in the new version 1.0.1 of the SSH extension. Please validate that it works for you.

[2022-03-11 16:13] jakeatmsft commented on #4397
Issue was solved by whitelisting the following urls:

•             https://aka.ms/azure-cli-extension-index-v1
•             https://azcliextensionsync.blob.core.windows.net/index1/index.json
-       https://azuremlsdktestpypi.blob.core.windows.net

[2022-03-11 17:48] SatishBoddu-MSFT commented on #4482
Hello @gilbertsmink
Since we didn't receive any response, we will now close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2022-03-11 17:48] #4482 closed

[2022-03-12 08:00] #3762 closed

[2022-03-12 19:38] rafael-souoliveira-ext opened #4522 "[Error] Unable to list tentant after extension installed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account tenant list
Extension Name: account. Version: 0.2.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account tenant list`

[2022-03-13 03:22] yonzhan commented on #4522
@jiasli for awareness

[2022-03-14 00:08] kitoyomi commented on #4513
Thanks for pointing out the problem areas.

I was able to resolve the issue.

[2022-03-14 00:08] #4513 closed

[2022-03-14 04:04] navba-MSFT commented on #4510
@srozanc-mcs I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-03-14 06:59] zhoxing-ms commented on #4522
This issue is due to PR #4409 bump the new version of  `azure-mgmt-subscription`. Since `azure.core.rest` is introduced by the new Python SDK, it is incompatible with the old version of CLI.
@rafael-souoliveira-ext Could you please use the command `az upgrade --yes` to upgrade the CLI to the latest version and try again.

[2022-03-14 12:58] rafael-souoliveira-ext commented on #4522
This command is in preview and under development. Reference and support levels: https://aka.ms/CLI_refstatus
Your current Azure CLI version is 2.27.2. It will be updated to 2.29.0.
Hit:1 https://download.docker.com/linux/ubuntu bionic InRelease
Hit:2 http://br.archive.ubuntu.com/ubuntu focal InRelease
Hit:3 http://security.ubuntu.com/ubuntu focal-security InRelease
Get:4 http://br.archive.ubuntu.c

[2022-03-15 02:57] zhoxing-ms commented on #4522
...
  CLI upgrade failed or aborted.

@jiasli Could you help look at the problems related to `az upgrade`?

@rafael-souoliveira-ext At present, you can refer to the doc [install-azure-cli](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) manually upgrade the latest version (2.34.1) of CLI

[2022-03-15 08:00] #3967 closed

[2022-03-15 08:01] #3760 closed

[2022-03-15 08:01] #2320 closed

[2022-03-15 10:25] navba-MSFT commented on #1642
@dlopes7 Apologies for the late reply. This issue is open for quite sometime. Could you please let us know if you are still facing this issue ? Awaiting your reply.

[2022-03-15 11:42] munishm opened #4529 "az connectedk8s connect results in an error but kubectl works fine on local"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
 az connectedk8s connect results in Kube config parsing error but kubctl command works fine on the machine. I can connect to local running Microk8s cluster either via kubectl or k9s. I also parsed the kube config externally to see if there is any issue with the config file but didn't find any discrepancy.

**Co

[2022-03-15 12:47] navba-MSFT commented on #1811
@cladic Apologies for the late reply. Could you please let me know the command that you have executed ? Are you still facing the same issue ? Awaiting your reply.

[2022-03-15 13:34] rafael-souoliveira-ext commented on #4522
Worked on 2.34.1. Thanks.

But I was not enable to upgrade by methods on documentation. I did have to uninstall, purge caches at apt and fresh install again.

[2022-03-15 19:44] b-c-lucas opened #4530 "[Error] Cannot run `az login` after previously-linked tenant deleted"
## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

I believe something is pulling in membership from a tenant that no longer exists.

Over the past few

[2022-03-15 19:48] brad-lucas commented on #4530
Wrongly created in extensions; re-created at https://github.com/Azure/azure-cli/issues/21652

[2022-03-15 19:48] #4530 closed, assigned to jiasli

[2022-03-16 03:29] #4497 closed

[2022-03-16 07:19] ShafeerAli opened #4534 "Container app creation with component not working"
## Content of Component

- name: servicebus-pubsub
  type: pubsub.azure.servicebus
  version: v1
  metadata:
  - name: connectionString
    value: "**********"

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az containerapp create
Extension Name: containerapp. Version: 0.2.4.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the b

[2022-03-16 07:21] yonzhan commented on #4534
route to CXP team

[2022-03-16 08:00] #3903 closed

[2022-03-16 08:00] #2490 closed

[2022-03-16 08:24] jsntcy commented on #4534
@calvinsID, could you please help take a look at this issue?
BTW, where is `ContainApp` in as I didn't find it in https://github.com/Azure/azure-cli-extensions?

[2022-03-16 21:37] gidipas opened #4542 "`az image copy - The command failed with an unexpected error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az image copy
Extension Name: image-copy-extension. Version: 0.2.9.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az image copy --sour

[2022-03-16 22:39] yonzhan commented on #4542
compute

[2022-03-16 23:34] sebastian2696 opened #4543 "CSI Secret store add on flag not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update
Extension Name: aks-preview. Version: 0.5.28.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks update --resource-gro

[2022-03-17 00:56] yonzhan commented on #4543
route to CXP team

[2022-03-17 03:34] zhoxing-ms commented on #4542
@gidipas Could you please send me the debug log by email, my email address is Zhou.Xing@microsoft.com, thanks~

[2022-03-17 05:53] gidipas commented on #4542
@Xing ***@***.***> where do I get that ?

From: Xing Zhou ***@***.***>
Sent: Wednesday, March 16, 2022 11:34 PM
To: Azure/azure-cli-extensions ***@***.***>
Cc: Giancarlo DiPasquale ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli-extensions] `az image copy - The command failed with an unexpected error (Issue #4542)

@gidipas<https://nam06.safelinks.protection.outlook.com/?url=https

[2022-03-17 06:09] gidipas commented on #4542
Hi @Giancarlo ***@***.***>,

Please add the “—debug” parameter to the original command and execute it again, and then send the printed information to me

Thanks,
Xing

________________________________
From: Giancarlo DiPasquale ***@***.***>
Sent: Thursday, March 17, 2022 1:53:07 PM
To: Azure/azure-cli-extensions ***@***.***>; Azure/azure-cli-extensions ***@***.***>; Xing Zhou ***@***.***>
Cc: Ment

[2022-03-17 06:14] gidipas commented on #4542
***@***.***:~$ az image copy --source-resource-group Intel_EDA --source-object-name CC-basegen2v2 --target-location westus3 --target-name CC-basegen2v2-west3 --target-resource-group "Intel_EDA_West3" --cleanup --debug
cli.knack.cli: Command arguments: ['image', 'copy', '--source-resource-group', 'Intel_EDA', '--source-object-name', 'CC-basegen2v2', '--target-location', 'westus3', '--target-name',

[2022-03-17 06:20] navba-MSFT commented on #4510
@srozanc-mcs Please let me know if you are still seeing this issue after following the above plan. Awaiting your reply.

[2022-03-17 06:45] zhoxing-ms commented on #4542
cli.azext_imagecopy.cli_utils: command failed: ['/usr/bin/../../opt/az/bin/python3', '-m', 'azure.cli', 'snapshot', 'create', '--name', 'CC-basegen2v2_os_disk_snapshot', '--location', 'westus2', '--resource-group', 'Intel_EDA', '--source', '/subscriptions/1d81cec7-7ded-4731-884e-90c5aa59c622/resourceGroups/Intel_EDA/providers/Microsoft.Compute/disks/azint-baseimggen2v1_OsDisk_1_7756cecd82874923bcc

[2022-03-17 07:34] jsntcy commented on #2021
@mikeeq , @vighneshpp1986, @fl-max, @sshah90

The fix has been released in costmanagement 0.2.1 (latest version), please [upgrade ](https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensions-overview#how-to-update-extensions) to the latest version to have a try.

BTW, please also note there are some [breaking changes](https://github.com/Azure/azure-cli-extensions/blob/main/src/costmanagement/

[2022-03-17 07:55] gidipas commented on #4542
The image creation process deletes the vm and os drive. Does this mean we can’t use az image copy to copy an image from one region to another without that os drive?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Xing Zhou ***@***.***>
Sent: Thursday, March 17, 2022 7:45:34 AM
To: Azure/azure-cli-extensions ***@***.***>
Cc: Giancarlo DiPasquale ***@***.***>; Ment

[2022-03-17 08:43] zhoxing-ms commented on #4542
There is no such logic in `az image copy`. May I ask what do you mean by `The image creation process deletes the vm and os drive. `?

[2022-03-17 08:51] gidipas commented on #4542
Image capture from the portal has an option to delete the VM upon creation.  I believe the customer im working with did that and may not have the OS drive any longer. az image copy will not work if that OS drive no longer exists?

From: Xing Zhou ***@***.***>
Sent: Thursday, March 17, 2022 4:44 AM
To: Azure/azure-cli-extensions ***@***.***>
Cc: Giancarlo DiPasquale ***@***.***>; Mention ***@***.**

[2022-03-17 10:01] navba-MSFT commented on #4529
@munishm Apologies for the late reply. Could you please use the most [recent version of Azure CLI ](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli) and update the existing connectedk8s extension and then try to connect?

If the issue resurfaces again, could you please use the `--debug `switch and run the same command again and share the output here ? Awaiting y

[2022-03-17 10:18] navba-MSFT commented on #4509
@til10 This is a quick follow-up to check if you had a chance to look at my above comment and try my suggested action plan? Awaiting your reply.

[2022-03-18 04:06] ShafeerAli opened #4548 "Azure cli create container app not working after migration to Microsoft.App"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az containerapp env create
Extension Name: containerapp. Version: 0.2.4.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az containerapp

[2022-03-18 04:25] navba-MSFT commented on #4390
@thomasoliveira After investigation, we found that the workspace with the failed job had Azure Data Lake Storage Gen 2 enabled, which caused the snapshot service to find duplicate blob entries in blob storage. Our Product Group has released the fix for the snapshot service now. You should be able to use the Azure DataLake Storage for your workspace now. Please test the scenario and if you still fa

[2022-03-18 07:36] yonzhan commented on #4548
route to CXP team

[2022-03-18 07:42] panchagnula commented on #4548
@ShafeerAli CLI experience currently doesn't support Microsoft.App - use portal until CLI release happens in the next week or so. Sorry for the inconvenience. @anthonychu , @torosent FYI

[2022-03-18 11:11] BharathMannem commented on #1632
I am able to get it success after using like this

az pipelines release create --artifact-metadata-list “_sdb_build=600" --artifact-metadata-list "_iac_build=599" --definition-name $releasePipeline --description "$($currentSprint) Release" --organization $organization --project $project

[2022-03-18 13:57] ChaiSwaddipong opened #4550 "Missing history info on maintenance extension version 1.2.1"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

maintenance

### Description of issue (in as much detail as possible)

Version 1.2.1 not mentioned in the history.rst [https://github.com/Azure/azure-cli-extensions/blob/main/src/maintenance/HISTORY.rst]. How

[2022-03-18 14:48] yonzhan commented on #4550
route to CXP team

[2022-03-18 17:03] StrawnSC commented on #4490
Hi @kandreadou -- it looks like you're running an old version of the extension from private preview (since your version number is `0.2.2`). You should uninstall the extension with `az extension remove -n appservice-kube` and install the latest version (public preview) with `az extension add -n appservice-kube`. You may have to upgrade your CLI version as well

[2022-03-18 17:33] StrawnSC commented on #3620
Please reopen this issue if removing then reinstalling the extension doesn't fix the bug

[2022-03-18 17:33] #3620 closed

[2022-03-18 23:37] SaurabhSharma-MSFT commented on #684
@sqlshep Thanks for the confirmation. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-03-18 23:37] #684 closed

[2022-03-19 01:04] #4267 closed

[2022-03-19 02:48] jsntcy commented on #4550
Please also make the history note clear (such as breaking changes in 1.3.0) to customers, refer to https://github.com/Azure/azure-cli-extensions/blob/main/src/costmanagement/HISTORY.rst#021

![image](https://user-images.githubusercontent.com/16348853/159103876-051ebde6-908a-4cf3-af9e-54b86de26731.png)

[2022-03-20 09:10] navba-MSFT commented on #4529
@munishm I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please share the --debug output once you get a chance. Awaiting your reply.

[2022-03-21 03:07] navba-MSFT commented on #4550
Removing CXP attention label as the Service team has been involved and issue is assigned to Service Team.

[2022-03-21 03:45] navba-MSFT commented on #4548
@ShafeerAli Apologies for the late reply. Could you please check the above suggestion provided by @panchagnula and let me know if you see any issue ? Awaiting your reply.

[2022-03-21 05:32] #4390 closed

[2022-03-21 05:36] navba-MSFT commented on #4508
@zoharHenMicrosoft Could you please provide an update on the fix once you get a chance ? Awaiting your reply.

[2022-03-21 05:38] navba-MSFT commented on #4509
@til10 Please let me know if you have any update on this issue.

[2022-03-21 05:38] navba-MSFT commented on #4510
@srozanc-mcs We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-03-21 05:38] #4510 closed

[2022-03-21 05:59] navba-MSFT commented on #4534
@ShafeerAli Apologies for the late reply. I hope you had a chance to look at the above comment. Could you confirm if you are still facing this issue ?

@panchagnula The --source link in your above comment doesn't seem to be correct as it gives blob not found error? Awaiting your reply.

[2022-03-21 07:47] anthonychu commented on #4534
@ShafeerAli Can you please share the raw contents of your components.yaml file? Looks like there's a formatting problem with the second line. To post the content without formatting, type 3 backticks `` ``` ``, a newline, then paste your YAML content, followed by a newline and 3 backticks `` ``` ``.  See [this doc](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writin

[2022-03-21 08:35] naimadswdn opened #4555 "az ml computetarget create aks is always ignoring --service-cidr value and use default one"
### Extension name (the extension in question)
azure-cli-ml

### Description of issue (in as much detail as possible)
Version details:
{
  "azure-cli": "2.33.0",
  "azure-cli-core": "2.33.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "azure-cli-ml": "1.37.0",
    "azure-devops": "0.23.0"
  }
}

**Issue**: Seems like when running *az ml computetarget create aks* it always want to crea

[2022-03-21 09:18] yonzhan commented on #4555
route to CXP team

[2022-03-21 13:43] ddanboyle commented on #4142
is there any urgency here?  Bump because this is still a problem with developers, and our development staff need to use azure arc to get into clusters when the clusters are private clusters locked away in a vnet.

[2022-03-21 15:51] til10 commented on #4509
Thanks for the comments @navba-MSFT. Pretty sure I had attempted a cluster with Standard_D11_v2/D12_v2 and westus2 values. After some trial and error, I found that using the deprecated command for cluster creation was the only viable option for the SKUs I needed, and that's why I've a) resorted to extension swapping in our PowerShell-driven AZ CLI installation script and b) filed the cluster creat

[2022-03-22 06:45] navba-MSFT commented on #4509
@til10 Thanks for getting back. Sure that makes sense. We can wait for the fix to be deployed for the other issue and then test.
I am tagging @zoharHenMicrosoft here for visibility. This thread can be updated once the fix is released. We appreciate your patience on this.

[2022-03-22 08:00] #3938 closed

[2022-03-22 08:00] #1702 closed

[2022-03-22 14:53] cladic commented on #1811
The command I use  is : az monitor log-analytics query -w (my ID workspace)  --analytics-query "AzureDiagnostics | where TimeGenerated > ago(168h) | order by TimeGenerated asc | limit 1000" > resultfile.txt

Attached is the example file ....
[resultfile-example.zip](https://github.com/Azure/azure-cli-extensions/files/8325362/resultfile-example.zip)

[2022-03-23 00:56] SaurabhSharma-MSFT commented on #4543
@sebastian2696 I do not see any issues with the cmdlet.  Can you try updating the extension by using `az extension update --name aks-preview`?

[2022-03-23 03:08] sebastian2696 commented on #4543
I tried it after updating and that didn't work either

[2022-03-23 05:29] ShafeerAli commented on #4534
[code]

[2022-03-23 05:30] ShafeerAli commented on #4534
@anthonychu I hope this helps. Please let me know if you need any further details.

[2022-03-23 06:59] anthonychu commented on #4534
Looks okay to me. Might need @calvinsID and @haroonf to take a look.

[2022-03-23 09:03] GregWrightkjhiuj opened #4561 ""az webapp create" issue after installing latest extension"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create
Extension Name: appservice-kube. Version: 0.2.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create -g {}

[2022-03-23 09:39] yonzhan commented on #4561
route to CXP team

[2022-03-23 09:47] HansZimmer5000 opened #4562 "Dataprotection ModuleNotFoundError 'azure.mgmt.resourcegraph'"
I understand that of course I could just install this missing module via pip3 as a hotfix. But, I also think this is not how this extension should behave in the first place.
Is there maybe something missing during installation of the extension? Didn't experience any ModuleNotFoundErrors before.
Find below the 'az feedback --verbose' output with the list of my installed extensions, I manually noted

[2022-03-23 10:03] HansZimmer5000 commented on #4562
To my surprise hotfix via pip and pip3 `install azure-mgmt-resourcegraph` did not work.

[2022-03-23 10:11] yonzhan commented on #4562
route to CXP team

[2022-03-23 11:27] navba-MSFT commented on #4150
@JukkaUusisalo Could you please update your ssh extension using the command `az extension update --name ssh` and run the  command again? Please let me know if you have any further questions on this. Awaiting your reply.

[2022-03-23 11:37] navba-MSFT commented on #4148
@perttulaurila Apologies for the late reply. Could you please use the most recent version of AzCLI and test again ? Please let me know if you have any further questions on this. Awaiting your reply.

[2022-03-23 12:22] navba-MSFT commented on #4561
@GregWrightkjhiuj It looks like you're running an old version of the extension from private preview (since your version number is 0.2.2). You should uninstall the extension with `az extension remove -n appservice-kube` and install the latest version (public preview) with `az extension add -n appservice-kube`. After this you can test the command again. Awaiting your reply.

Similar issue https://gi

[2022-03-23 12:24] davidkarlsen commented on #4148
[code]

[code]

[2022-03-23 12:34] navba-MSFT commented on #4148
@davidkarlsen  if native client support is not enabled on your Bastion host, you'll receive the error "msrestazure.azure_exceptions.CloudError: Tunneling is disabled". More Info [here](https://techcommunity.microsoft.com/t5/itops-talk-blog/how-to-transfer-files-to-your-azure-vm-with-no-public-open-rdp/ba-p/3166230).

Similar issue is discussed here https://github.com/Azure/azure-cli/issues/20735

[2022-03-23 12:48] davidkarlsen commented on #4148
@navba-MSFT I had the wrong SKU, it works fine now from a mac box, when I have the Standard SKU for the bastion!

[2022-03-23 15:59] aavalang commented on #4148
It’s not tied to sku alone, there’s also a feature you have to enable on the bastion in the configuration page

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: David J. M. Karlsen ***@***.***>
Sent: Wednesday, March 23, 2022 5:48:42 AM
To: Azure/azure-cli-extensions ***@***.***>
Cc: Aakash Radhakrishnan ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-

[2022-03-23 16:02] davidkarlsen commented on #4148
Yes. But in order to make that available you need the right sku

[2022-03-24 04:26] navba-MSFT commented on #4534
@ShafeerAli Thanks for sharing the requested details.

@calvinsID @haroonf Could you please let us know if you had any updates on this ? Awaiting your reply.

[2022-03-24 04:28] sisirap commented on #4534
@calvinsID since this is the old RP support - can you please take a look?

[2022-03-24 04:41] navba-MSFT commented on #4529
@munishm A quick follow-up on this to check if you had a chance to look at the above comment. Awaiting your reply.

[2022-03-24 05:42] navba-MSFT commented on #4562
@HansZimmer5000 Thanks for reaching out to us and proving the current update. Please let us know if you are still facing any issues while running the `az dataprotection backup-instance` now after importing the above module using Python3. Awaiting your reply.

[2022-03-24 06:16] jiasli opened #4565 "Tests not belonging to the changed extension are run"
In PR's CIs, we have seen tests not belonging to the changed extension are run.

This is because we use

https://github.com/Azure/azure-cli-extensions/blob/b93f528a611e008228f9671cd788ab6b348940ee/azure-pipelines.yml#L118

which is then used in `git diff`:

https://github.com/Azure/azure-cli-extensions/blob/dacf087b228f49859ee538604a7bd72a57b3817e/scripts/ci/test_source.py#L39

Using `SourceCommit

[2022-03-24 06:32] jiasli commented on #4565
To verify `HEAD` is the merged commit, simply checkout `2675aeab8b20ab818765b5518d99c4200d94528e` as shown in

https://dev.azure.com/azure-sdk/public/_build/results?buildId=1457077&view=results

![image](https://user-images.githubusercontent.com/4003950/159856000-fbc6d4f5-e10e-4a94-a7e4-1a50adad8289.png)

https://dev.azure.com/azure-sdk/public/_build/results?buildId=1457077&view=logs&j=5ef8dbec-7f

[2022-03-24 07:31] navba-MSFT commented on #4565
Discussed with @jiasli offline and removing the CXP Attention label from this.

[2022-03-24 10:16] navba-MSFT commented on #4529
@munishm Thanks for getting back. The YAML file looks good to me. I am involving the _Service Team_ right away so that they can look into this issue.
On a side note, did you try creating a different (new) kubeconfig file and mention its path in the command and check if that makes any difference ? See below example. Awaiting your reply.

@akashkeshari Could you please look into this issue and provi

[2022-03-24 13:15] Hyper200 opened #4568 "az network bastion tunnel - Localhost tunnel only - Add ability to listen on IP or Any IP address."
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network bastion tunnel`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as th

[2022-03-24 14:34] gpaulissen opened #4569 "az aks get-credentials returns a Pyhton error: KeyError: 'name'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials
Extension Name: aks-preview. Version: 0.5.58.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credenti

[2022-03-24 19:46] panchagnula commented on #4548
@navba-MSFT Container APPs is not a GA feature yet, so hoping CXP can skip these issues for now.

[2022-03-24 19:47] panchagnula commented on #4548
@ShafeerAli we will update this issue when the Microsoft.App support for Container apps using CLI is ready, so you can re-try & confirm.

[2022-03-25 00:26] yonzhan commented on #4568
route to CXP team

[2022-03-25 00:27] yonzhan commented on #4569
route to CXP team

[2022-03-25 08:59] daxianji007 commented on #4452
Update.
We have fixed the AzureCLI Docs Pipeline. Now `--subscription` is generated for all commands. But it is folded in the page by default since it is in 'Global Parameters'

[2022-03-25 11:25] BobBrackeRD opened #4575 "Cannot deserialize content type out on command az redisenterprise database list-keys"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
We use this command in an automated way to get the access key from the enterprise redis cache. However. the command stopped working around 17hours ago. Resulting in the following error mentioned below. Sometime the first run works but after that the command keeps spewing out the error.

**Command Name**
`az red

[2022-03-25 12:33] Sayel-76 opened #4576 "Issue creating webapp using Azure CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create
Extension Name: appservice-kube. Version: 0.2.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create --res

[2022-03-25 12:41] BobBrackeRD commented on #4575
Also does not work when calling the REST api:
`az rest --uri https://management.azure.com/subscriptions/subID/resourceGroups/rgName/providers/Microsoft.Cache/redisEnterprise/redisname/listKeys?api-version=2021-03-01 --method post --headers $header`
The command failed with an unexpected error. Here is the traceback:
not enough values to unpack (expected 2, got 1)
Traceback (most recent call last):

[2022-03-25 13:13] yonzhan commented on #4575
route to CXP team

[2022-03-25 17:03] sreedhar2406 opened #4578 "az webapp create --resource-group $RESOURCEGROUPNAME --plan $SERVICEPLANNAME --name $WEBAPPNAME The behavior of this command has been altered by the following extension: appservice-kube"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create
Extension Name: appservice-kube. Version: 0.2.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create --res

[2022-03-25 17:47] panchagnula commented on #4576
@StrawnSC I believe this is already fixed with the latest version right?

[2022-03-25 17:50] StrawnSC commented on #4576
Yes, based on the version number (`0.2.2`) this user is on the private extension still

[2022-03-25 17:51] StrawnSC commented on #4576
@Sayel-76 it looks like you're running an old version of the `appservice-kube` extension. Please run `az extension remove -n appservice-kube` followed by `az extension add -n appservice-kube` to get the correct version

[2022-03-25 17:51] #4576 closed

[2022-03-25 17:54] StrawnSC commented on #4578
@sreedhar2406, you're using an old version of the `appservice-kube` extension. Please run `az extension remove -n appservice-kube` followed by `az extension add -n appservice-kube` to get the correct version

[2022-03-25 17:54] #4578 closed

[2022-03-25 18:00] #4490 closed

[2022-03-27 10:22] sayandaw opened #4580 "Security Issue with az desktopvirtualization using old API which is exposing the registrationtoken to users who dont have permission to view it"
### Extension name (the extension in question)
desktopvirtualization

### Description of issue (in as much detail as possible)
[az desktopvirtualization hostpool list](https://docs.microsoft.com/en-us/cli/azure/desktopvirtualization/hostpool?view=azure-cli-latest#az-desktopvirtualization-hostpool-list) is using a old API Version : **api-version=2019-12-10-preview**

So when a user who does not hav

[2022-03-27 12:15] yonzhan commented on #4580
desktopvirtualization

[2022-03-28 01:01] wangzelin007 commented on #4379
Hi [dpolivy](https://github.com/dpolivy),
We are going to release a new version of [desktopvirtualization](https://github.com/Azure/azure-cli-extensions/pull/4526) at 2022/04/06.
It will use the latest stable version (2021-07-12) of desktopvirtualization sdk.

[2022-03-28 04:53] Gurpanthport commented on #2186
Any update on this issue?

[2022-03-28 06:54] #4379 closed

[2022-03-28 06:54] #4580 closed

[2022-03-28 23:28] SaurabhSharma-MSFT commented on #4575
@jsntcy In which region your Redis Cache resource is located ?

[2022-03-29 06:02] navba-MSFT commented on #4508
Following up with @zoharHenMicrosoft  offline for the update on the fix.

[2022-03-29 06:02] navba-MSFT commented on #4509
Following up with @zoharHenMicrosoft  offline for the update on the fix.

[2022-03-29 06:30] navba-MSFT commented on #4561
@GregWrightkjhiuj I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-03-29 06:32] navba-MSFT commented on #4562
@HansZimmer5000 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let me know if you are still facing the same issue. Awaiting your reply.

[2022-03-29 06:43] BobBrackeRD commented on #4575
We are using ENTERPRISE redis cache in the West Europe with the SKU: Enterprise_E10

[2022-03-29 06:55] navba-MSFT commented on #4569
@gpaulissen Apologies for the late reply. Thanks for reaching out us and sharing this feedback. You can check under the user profile for file ~/.kube/config. There are 3 required sections which must be present: clusters, contexts and users. I feel there seems to be an issue to read this config file. You can try to rename or delete the file and run the [az aks get-credentials ](https://docs.microso

[2022-03-29 09:52] johnnyyuelee008 opened #4591 "az monitor app-insights query got error ApplicationNotFoundError: The application could not be found"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
**In azure china cloud:**
az monitor app-insights query    azure-cli   Version: 2.34.1   Extension Name: application-insights. Version: 0.1.15.

### Description of issue (in as much detail as possible)

az mon

[2022-03-29 18:08] diondrapeck commented on #4157
This feature has been implemented and will be available in the next release.

[2022-03-29 18:14] ezYakaEagle442 opened #4592 "Azure Spring Cloud app deployment create fails from pipeline as there is no prompt"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
spring-cloud extension fails from pipeline as there is no prompt
[code]
[code]

[code]
[code]

Indeed this is what is shown  running:
[code]

workaround:
[code]

[code]

### Description of issue (in as much de

[2022-03-29 21:03] anthonychu commented on #4548
The Microsoft.App-compatible version of the extension is now ready. Please see this issue for more: https://github.com/microsoft/azure-container-apps/issues/152

[2022-03-29 21:36] panchagnula commented on #4548
Please try the new version & let us know.

[2022-03-29 21:36] #4548 closed

[2022-03-29 23:13] yonzhan commented on #4592
route to spring cloud

[2022-03-30 03:49] panchagnula commented on #4534
@ShafeerAli please try our latest CLI extension for Container apps & let us know if this repros. Make sure to delete the existing extension & install the public extension using az extension add -n containerapp. Thanks

[2022-03-30 04:07] PramodValavala-MSFT commented on #4592
@ezYakaEagle442 That is the expected behavior when running in a non-interactive environment like a CI/CD pipeline. [Setting the config value](https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensions-overview#install-extensions-automatically) at the start of your pipeline once is required.

We will now proceed to close this thread. If there are further questions regarding this matter, please

[2022-03-30 04:07] #4592 closed

[2022-03-30 08:01] #4457 closed

[2022-03-30 10:15] johnnyyuelee008 commented on #4591
@kairu-ms cloud you feedback to the azure backend developer team?

thanks

[2022-03-30 10:17] yonzhan commented on #4591
monitor

[2022-03-30 12:15] yonzhan commented on #4209
route to service team

[2022-03-30 16:38] ChristopherMcDonald commented on #1691
Any updates here? Running into the exact same issue.

[2022-03-31 04:52] jiasli commented on #4562
Let me clarify 2 things:

- `python3`'s `import` won't work because Azure CLI runs in an isolated virtual env, meaning it doesn't share system's python packages.
- Each `python3`'s execution is a separate process, so even you can do `import` with `python3`, this `import` statement only affects the current `python3` process, so it doesn't affect other `python3` executions like `az dataprotection ba

[2022-03-31 05:28] jiasli commented on #4562
## Cause

Even though https://github.com/Azure/azure-cli/pull/13163 added the support to load `azure.mgmt` from extension installation folder:

https://github.com/Azure/azure-cli/blob/e2f55ec7de8ff0b19c05e082d408992ac1a1139c/src/azure-cli-core/azure/cli/core/extension/operations.py#L501-L521

[code]

it is not used in core's extension loading process (but in [other modules like network](https://gi

[2022-03-31 09:37] jiasli commented on #4562
This problem also happens in a virtual env, but not Azure CLI installed with MSI or DEB:

I tested with a sample script:

[code]

System python:

[code]

Virtual env python:

[code]

In a virtual env which installs Azure CLI from source code, under `azure` and `azure/mgmt` folders, there are `__init__.py` files containing one line:

[code]

These files make `azure` and `azure.mgmt` normal (non-nam

[2022-04-01 05:54] navba-MSFT commented on #4561
@GregWrightkjhiuj We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-04-01 05:54] #4561 closed

[2022-04-01 06:07] jiasli opened #4608 "[db-up] `db-up` fails to install on Python 3.10"
### Extension name (the extension in question)

`db-up`

### Description of issue (in as much detail as possible)

`db-up` fails to install on Python 3.10. This will become a big problem since MSI's bundled Python has been updated to 3.10 (https://github.com/Azure/azure-cli/pull/21746):

[code]

[2022-04-01 06:25] navba-MSFT commented on #4569
@gpaulissen I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-04-01 07:05] yonzhan commented on #4608
db-up

[2022-04-01 08:07] piegre opened #4609 "AZ400 - lab 18 - az webapp create"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create
Extension Name: appservice-kube. Version: 0.2.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create -n {}

[2022-04-01 08:34] t-bzhan commented on #1918
Hi @[arsnyder16](https://github.com/arsnyder16), can you try out our  new Azure Front Door tiers—[Azure Front Door Standard and Premium](https://azure.microsoft.com/en-us/blog/introducing-the-new-azure-front-door-reimagined-for-modern-apps-and-content/), it allows the purge on domain level.

[2022-04-01 08:34] #1918 closed

[2022-04-01 09:17] yonzhan commented on #4609
route to CXP team

[2022-04-01 09:56] mossywell commented on #3151
Note for anyone reading this: if you find it still failing, update the front-door extension as you are probably still running an old version:
`az extension add --name "front-door" --upgrade`
Then it will work.

[2022-04-01 10:29] navba-MSFT commented on #4609
@piegre It looks like you're running an old version of the `appservice-kube `extension from private preview (since your version number is 0.2.2). You should uninstall the extension with az extension remove -n appservice-kube and install the latest version (public preview) with az extension add -n appservice-kube. After this you can test the command again. Awaiting your reply.

Similar issue https:

[2022-04-01 10:30] marineadz opened #4611 "Token error when connecting via SSH to Ubuntu VM with Azure AD login"
## Describe the bug

Unable to connect via SSH to an Ubuntu VM using Azure AD login (AADSSHLoginForLinux extension) - token error

**Command Name**
`az ssh vm
Extension Name: ssh. Version: 0.1.6.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
-

[2022-04-01 10:44] yonzhan commented on #4611
route to CXP team

[2022-04-01 12:25] navba-MSFT commented on #4207
@thomasoliveira Could you please let us know if you have tried the action plan suggested in the above comment and check if you are still facing this issue ? Awaiting your reply.

[2022-04-01 13:11] piegre commented on #4609
I am just using the azure CLI (shell.azure.com)

Le ven. 1 avr. 2022 à 12:30, navba-MSFT ***@***.***> a écrit :

[2022-04-01 17:12] jaburi opened #4612 ""UnboundLocalError: local variable 'deserialized'" with azure-cli 2.34.1"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az kusto cluster create
Extension Name: kusto. Version: 0.4.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az kusto cluster create -

[2022-04-01 18:54] SaurabhSharma-MSFT commented on #4612
@jaburi Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-01 18:58] panchagnula commented on #4609
@piegre shell.azure.com only upgrades the core-cli version & not the individual extensions, you seem to have this installed appservice-kube 0.2.2 - which overrides some behavior on webapp core-cli, so either delete this or upgrade this extension.
See following: https://docs.microsoft.com/en-us/cli/azure/extension?view=azure-cli-latest#az-extension-update

[2022-04-01 19:14] altafhussain2020 opened #4613 "Issue while Create a web app after appservice-kube extension installation"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create
Extension Name: appservice-kube. Version: 0.2.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create --res

[2022-04-01 22:07] StrawnSC commented on #4613
Hi @altafhussain2020, it looks like you're still using the private preview extension. Please remove it with `az extension remove -n appservice-kube` and get the current public version  with `az extension add -n appservice-kube`

[2022-04-01 22:07] #4613 closed

[2022-04-01 23:40] yonzhan commented on #4612
route to CXP team

[2022-04-02 00:22] sysgazer commented on #2701
Trying multipass/k3d/azure arc on my M1 Mac but to no avail. Any idea if the support for arm64 is coming soon? :)

[2022-04-02 02:42] necusjz commented on #4591
@johnnyyuelee008, I have tried to reproduce your scenario, but it works. Here is my procedures:
1. az monitor app-insights component create -a ethan-app -l westus -g ethan-rg;
2. az monitor app-insights query -a ethan-app -g ethan-rg --analytics-query 'requests | getschema | limit 1';

Meanwhile, the corresponding line in the debug log is:
[code]

[2022-04-02 04:38] #4608 closed

[2022-04-02 05:20] chicago7 commented on #4591
@necusjz

Thanks for your reply and test. We test it in Azure China. You seem to run the command in Global Azure. You can run the below command to check the appInsightsResourceId value. The value should be https://api.applicationinsights.azure.cn

az cloud show -n AzureChinaCloud

[2022-04-02 05:40] chicago7 commented on #4591
@necusjz

I found the root cause. I need to replace the value from api.applicationinsights.io to api.applicationinsights.azure.cn in the file[application_insights_data_client.py].

So could you please fix the issue in the next release version? Thanks.

[2022-04-02 06:05] nitinmaersk opened #4618 "Azure CLI error on az quantum target list"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az quantum target list
Extension Name: quantum. Version: 0.14.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az quantum target list

[2022-04-02 06:23] nittikkin opened #4620 "az quantum job submit --target-id ionq.simulator : basic experiment fails on CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az quantum job submit
Extension Name: quantum. Version: 0.14.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az quantum job submit --

[2022-04-02 07:39] yonzhan commented on #4618
route to CXP team

[2022-04-02 08:28] yonzhan commented on #4620
quantum

[2022-04-03 01:24] #4301 closed

[2022-04-04 04:16] navba-MSFT commented on #4609
@piegre Could you please let me know if you had a chance to upgrade your `appservice-kube `extension. You can either uninstall and reinstall the extension as explained in my above comment. Or you can upgrade it using the command `az extension update --name appservice-kube`. Please let me know if you still face the same issue after following the above plan. Awaiting your reply.

[2022-04-04 04:29] navba-MSFT commented on #4569
@gpaulissen Please let me know if you have update on this. Also please do reach out to me if you have any further questions on this. Awaiting your reply.

[2022-04-04 04:47] piegre commented on #4609
Yes it worked, thanks.
It's a bummer to lose so much time during an intense training like az400,
just because the azure CLI doesn't include the latest packages.

Le lun. 4 avr. 2022 à 06:16, navba-MSFT ***@***.***> a écrit :

[2022-04-04 07:24] navba-MSFT commented on #4611
@marineadz Apologies for the late reply. The error is self explanatory. Due to inactivity the refresh AAD bearer token seems to be expired. Could you please follow the below steps in order ?

az login # Login to your Azure account. So that we get a new AAD bearer token

On a side note, you may also have to [update your AzCLI](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tab

[2022-04-04 08:47] navba-MSFT commented on #4618
@nitinmaersk Apologies for the late reply. Since you are using an older version of the Azure CLI, Could you please upgrade to the [most recent AzCLI version](https://docs.microsoft.com/en-us/cli/azure/update-azure-cli) using the below command ?

Please test again after you upgrade and let me know if you face any issues. Awaiting your reply.

[2022-04-04 08:49] navba-MSFT commented on #4620
@nittikkin Apologies for the late reply. Since you are using an older version of the Azure CLI, Could you please upgrade to the [most recent AzCLI version](https://docs.microsoft.com/en-us/cli/azure/update-azure-cli) using the below command ?

Please test again after you upgrade and let me know if you face any issues. Awaiting your reply.

[2022-04-04 09:44] navba-MSFT commented on #4609
@piegre Thanks for getting back. I am glad that the issue is resolved. As mentioned earlier in the above comment, the shell.azure.com only upgrades the core-cli version & not the individual extensions. Having CLI extensions, will override the behavior of webapp core-cli. We will now proceed with closure of this issue. Please free to reopen this thread if you have any further questions on this.

[2022-04-04 09:44] #4609 closed

[2022-04-04 15:18] Lddeiva commented on #3668
I'm closing this as this is old enough to be closed.

[2022-04-04 15:18] #3668 closed

[2022-04-04 20:54] wmsisinfo opened #4629 "Az-400 Lab 11 Not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create
Extension Name: appservice-kube. Version: 0.2.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create --res

[2022-04-04 20:55] wmsisinfo commented on #4629
Az-400 Lab 11 "Configuring Pipelines as Code with YAML Student lab manual" item 6 doesn't work.

[2022-04-05 00:59] yonzhan commented on #4629
route to CXP team

[2022-04-05 03:30] munishm commented on #4529
@akashkeshari Did you get a chance to look into it or may be you can share some pointers on how I can debug and try to resolve it?

[2022-04-05 06:36] #4448 closed

[2022-04-05 06:46] Tatsinnit commented on #4407
💡just fyi: this should be fixed as part of this pr : https://github.com/Azure/azure-cli-extensions/pull/4382

thanks

[2022-04-06 04:53] navba-MSFT commented on #4629
@wmsisinfo Thanks for reaching out to us and sharing this feedback. It looks like you're running an old version of the appservice-kube extension from private preview (since your version number is 0.2.2). You should uninstall the extension with `az extension remove -n appservice-kube` and install the latest version (public preview) with `az extension add -n appservice-kube`. After this you can test

[2022-04-06 06:57] navba-MSFT commented on #4562
@HansZimmer5000 Apologies for the late reply. Could you please refer [this ](https://github.com/Azure/azure-cli-extensions/issues/4562#issuecomment-1084092130)comment and follow the workaround suggested there? Please let me know if you face any issues. Awaiting your reply.

[2022-04-06 08:00] #1642 closed

[2022-04-06 08:45] johnnyyuelee008 commented on #4591
thanks @chicago7  it works .

[2022-04-06 08:45] #4591 closed

[2022-04-06 09:39] marineadz commented on #4611
@navba-MSFT All solved, updating AzCLI did the trick. Thanks for your help.

[2022-04-06 09:39] #4611 closed

[2022-04-06 09:57] #4565 closed

[2022-04-06 10:04] jiec-msft opened #4640 "[Feature request] Validate extension compatibility with CLI Core "azext.minCliCoreVersion""
# Feature request

## Background
For Spring-cloud extension, we released `3.1.0` including introduce new SDK for 2022-03-01-preview apiVersion. However, this sdk imports a library available in Azure CLI Core from version `2.30.0`, however, the `azext.minCliCoreVersion` for `3.1.0` is `2.25.0`. Customer who uses Azure CLI among [`2.25.0`, `2.30.0`) will failed all commands for `spring-cloud` extens

[2022-04-06 10:58] yonzhan commented on #4640
route to CXP team

[2022-04-06 12:45] tmakin commented on #4142
This is now working for me with the latest versions:
[code]

[2022-04-06 23:56] SaurabhSharma-MSFT commented on #4575
@BobBrackeRD I have checked this with the same configuration but I am not getting any errors.  I could get the results without any issues -
![image](https://user-images.githubusercontent.com/38112130/162093402-42722bdb-67ae-4be0-8257-dc1f773d809d.png)

[2022-04-07 01:57] jiec-msft commented on #4640
Looks like the route by this bot is not correct, please ignore this @ShichaoQiu @yuwzho

[2022-04-07 06:43] jiasli opened #4648 "[CI] `IndexRefDocVerify` should be run increamentally"
`IndexRefDocVerify` runs on all extensions in PR CI, making the CI slow (~15min).

It should be run incrementally instead, like tests.

[2022-04-07 10:54] BobBrackeRD commented on #4575
@SaurabhSharma-MSFT I am owner of the resources. It does however work again now. This was not the case when I initially posted this issue. Can be closed now for me, however no explanation to what caused this issue.

[2022-04-07 11:14] yonzhan commented on #4648
CI

[2022-04-07 12:20] navba-MSFT commented on #4569
@gpaulissen We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-04-07 12:20] #4569 closed

[2022-04-07 12:29] navba-MSFT commented on #4618
@nitinmaersk I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-04-07 12:50] navba-MSFT commented on #4620
@nittikkin I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-04-07 13:28] hothotsyu opened #4650 "An error occurred when I run command - az webapp create"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create
Extension Name: appservice-kube. Version: 0.2.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create -g {}

[2022-04-07 16:49] SaurabhSharma-MSFT commented on #4575
@BobBrackeRD sure, thanks for the confirmation.  We will now proceed to close this thread. Please feel free to open a new issue in case you see any other issues.
Thanks
Saurabh

[2022-04-07 16:49] #4575 closed

[2022-04-07 18:23] scottstout commented on #1646
This flag still seems to be only available in the preview module?

[2022-04-07 19:09] panchagnula commented on #4650
@hothotsyu i believe you are using an old private extension version here Extensions:
appservice-kube 0.2.2
please remove this version & install the latest using az extension add -n appservice-kube

[2022-04-07 23:22] hothotsyu commented on #4650
Hello Sisira,
Good day!

Thanks for your kind response!

Best Reagrds,
Peter

________________________________
差出人: Sisira Panchagnula ***@***.***>
送信日時: 2022年4月8日 4:09
宛先: Azure/azure-cli-extensions ***@***.***>
CC: hothotsyu ***@***.***>; Mention ***@***.***>
件名: Re: [Azure/azure-cli-extensions] An error occurred when I run command - az webapp create (Issue #4650)

@hothotsyu<https://github.com/

[2022-04-07 23:29] #4650 closed

[2022-04-08 07:46] navba-MSFT commented on #4629
@wmsisinfo Please let me know if you have any update on this.

[2022-04-08 07:58] navba-MSFT commented on #4508
@til10 Apologies for the late reply. The PR Azure/azure-cli-extensions#4625 is still under review phase. We will update this thread once we have done some progress on this. We appreciate your patience on this.

[2022-04-08 07:58] navba-MSFT commented on #4509
@til10 Apologies for the late reply. The PR Azure/azure-cli-extensions#4625 is still under review phase. We will update this thread once we have done some progress on this. We appreciate your patience on this.

[2022-04-08 10:58] wmsisinfo commented on #4629
Yes, updated and working. Thank you

Em sex., 8 de abr. de 2022 às 04:46, navba-MSFT ***@***.***>
escreveu:

--
Wagner Marques

[2022-04-08 11:21] navba-MSFT commented on #4629
@wmsisinfo  Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-04-08 11:21] #4629 closed

[2022-04-08 14:16] hothotaz400-202203 opened #4654 "How to upgrade the Extension?"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create
Extension Name: appservice-kube. Version: 0.2.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create -g {}

[2022-04-08 14:32] rfsonders opened #4655 "az arcdata dc update - failed to 1.5"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az arcdata dc update
Extension Name: arcdata. Version: 1.3.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az arcdata dc update --nam

[2022-04-08 14:53] rfsonders opened #4656 "SQL MI create failure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Unable to create a SQL MI with PowerShell.

az sql mi-arc create --name sqlmi-02 --subscription $azSubId --resource-group PowerStoreAzureArc-RG  --location "East US" --custom-location "EdenPrairieNM"  --dev --replicas 1 `
    --cores-request "4" --cores-limit "4" --memory-request "8Gi" --memory-limit "10Gi" `

[2022-04-08 17:01] rfsonders commented on #4655
The upgrade of the data controller will work via the Azure portal. Does not work with PowerShell on-premises.
This fails.
az arcdata dc update --name pstoredc01 --resource-group arc-services-ns --auto-upload-logs true --debug

[2022-04-08 17:11] rfsonders commented on #4656
I upgraded to the latest data controller. Same issue remains.

Found 7 valid versions.  The current datacontroller version is v1.5.0_2022-04-05.
v1.5.0_2022-04-05 << current version
v1.4.1_2022-03-08
v1.4.0_2022-02-25
v1.3.0_2022-01-27
v1.2.0_2021-12-15
v1.1.0_2021-11-02
v1.0.0_2021-07-30
PS C:\Users\Rob\Documents\GitHub\Azure_Arc_DBaaS>

[2022-04-08 18:21] Rhipeus opened #4658 "Unable to set attestation policy"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az attestation policy set
Extension Name: attestation. Version: 0.2.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az attestation po

[2022-04-08 23:26] yonzhan commented on #4654
route to CXP team

[2022-04-08 23:27] SaurabhSharma-MSFT commented on #4655
@rfsonders We are looking into it and get back to you for any additional information.

[2022-04-08 23:29] SaurabhSharma-MSFT commented on #4656
@rfsonders We are looking into it and get back to you for any additional information.

[2022-04-08 23:30] yonzhan commented on #4655
route to CXP team

[2022-04-08 23:32] yonzhan commented on #4656
route to CXP team

[2022-04-08 23:33] yonzhan commented on #4658
route to CXP team

[2022-04-09 08:27] hothotsyu commented on #4650
Hello Sisira,
Good day!

My adding extension command is [az extension add --yes --source "https://aka.ms/appsvc/appservice_kube-latest-py2.py3-none-any.whl"], Is it wrong?

Best Reagrds,
Peter
________________________________
差出人: Sisira Panchagnula ***@***.***>
送信日時: 2022年4月8日 4:09
宛先: Azure/azure-cli-extensions ***@***.***>
CC: hothotsyu ***@***.***>; Mention ***@***.***>
件名: Re: [Azure/azure-cl

[2022-04-11 03:55] RakeshMohanMSFT commented on #4654
@hothotaz400-202203 Thank you for reaching out to us, we are looking into it.

[2022-04-11 04:46] navba-MSFT commented on #4562
@HansZimmer5000 Could you please let me know if you have any follow-up question on this ?

[2022-04-11 05:26] navba-MSFT commented on #4618
@nitinmaersk We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-04-11 05:26] #4618 closed

[2022-04-11 06:32] navba-MSFT commented on #4620
@nittikkin We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-04-11 06:32] #4620 closed

[2022-04-11 09:01] ernstp commented on #4026
I think I'm also running into this when using az vm ssh from Ubuntu 22.04. The error message I get is:

The OpenSSH server version in the target VM 7.6 is too old. Version incompatible with OpenSSH client version 8.9. Refer to https://bugzilla.mindrot.org/show_bug.cgi?id=3351 for more information.

[2022-04-11 09:28] RakeshMohanMSFT commented on #4654
@hothotaz400-202203 You can use the following commands to upgrade the extension
1) To get  available extensions `az extension list-versions --name appservice-kube`
2) To install a specific version of the extension `az extension add --name appservice-kube --version 0.1.5`
3) To upgrade to any latest version of the extension `az extension add --upgrade --name appservice-kube`

Please let me know if

[2022-04-13 06:59] jsntcy commented on #837
@jsntcy

[2022-04-13 10:51] Lausius commented on #2034
Hi, can you be more specific in how you solved this? Did you use build numbers like (20200717.1) or the build ID? It does create a release for me, but it doesn't get the right build artifact for some reason.

[2022-04-13 17:44] YutongTie-MSFT commented on #4555
@naimadswdn Sorry for the late reply, product team is double checking on this item to make sure the right operation. Thanks.

[2022-04-13 18:00] tjprescott commented on #837
Not sure why this is just appearing in my GH notifications. But essentially, at the time (no idea if this is still the case, or if it still CLI policy), these commands would create a rule, which would silently, under the hood, create a rule collection and add the rule to that. The standard UX would be for the customer to create the rule collection and then add rules to it.

[2022-04-14 04:47] pdahlgren opened #4679 "az monitor app-insights web-test list"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor app-insights web-test list
Extension Name: application-insights. Version: 0.1.16.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- There is a manually created standard

[2022-04-14 05:44] navba-MSFT commented on #4658
@Rhipeus I am working internally with the Product Owners. I will update this thread once I have more details on this.

[2022-04-14 06:08] navba-MSFT commented on #4562
@HansZimmer5000 Please let me know if you had a chance to look at the above comments. Awaiting your reply.

[2022-04-14 08:01] #4150 closed

[2022-04-14 08:01] #4148 closed

[2022-04-14 09:11] bebound commented on #4562
@sambitratha Could you please vendor `azure.mgmt.resourcegraph` in `dataprotection` extension?

[2022-04-14 09:26] yonzhan commented on #4679
monitor

[2022-04-14 10:19] RakeshMohanMSFT commented on #4655
@rfsonders
I believe you are trying to update the version of the dc, to do that.
you can use this command to list the available versions
`az arcdata dc list-upgrades --k8s-namespace <your location>` and followed by this command to upgrade to specific versions
`az arcdata dc upgrade -v v1.5.0_2022-04-05 -n Issue4655 -g Issue4655` You may get this error "'int' object has no attribute 'get'" which yo

[2022-04-14 13:08] RakeshMohanMSFT commented on #4656
@rfsonders I managed to get it to work with the same command and environment , the only difference is I used subscription name. Can you please try and let us know?
`az sql mi-arc create --name Issue4646PS --resource-group Issue4655 --location eastus --subscription "<**subscription name**>" --custom-location eastus --dev --replicas 1 --cores-request "4" --cores-limit "4" --memory-request "8Gi" --me

[2022-04-14 13:19] #4656 closed

[2022-04-14 14:05] jchomarat opened #4681 "az stream-analytics function create for an Azure ML function"
### Extension name (the extension in question)
stream-analytics version 0.1.2 (latest at time of writing)

### Description of issue (in as much detail as possible)
I am trying to create an Azure ML function. The Endpoint is hosted in an AKS. I can create manually in the portal the function, I just want to package this in a bash file

Command executed

[code]

aml-function.json:

[code]

The endpoi

[2022-04-14 16:59] Roy7017 opened #4682 "Installation of ml extension fails on Windows 10"
- If the issue is to do with Azure CLI 2.0 in particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
The extension in particular is the new azure ml extension (v2 preview).

### Description of the issue (in as much detail as possible)
#### Describe the bug

az extension add -n ml -y fails with error:
[code]

[2022-04-14 17:29] SaurabhSharma-MSFT commented on #4682
@Roy7017 We are looking into it and get back to you for any additional information.

[2022-04-14 18:54] SaurabhSharma-MSFT commented on #4612
@jaburi I am able to reproduce this issue and checking internally with the products team on the same.  I will get back to you as soon as I have an update -
![image](https://user-images.githubusercontent.com/38112130/163457694-04578e7e-ca5f-4e0a-9814-32fe1a6909e0.png)

[2022-04-15 00:47] yonzhan commented on #4682
route to CXP team

[2022-04-15 01:42] SatishBoddu-MSFT commented on #4682
Hello @Roy7017 Thanks for reporting this issue!

Could you please try with Az CLI version 2.34.1 ?

![image](https://user-images.githubusercontent.com/62923178/163504466-e871046a-b222-490c-ab20-f2bab07be31b.png)

[2022-04-15 03:02] necusjz commented on #4477
It's a duplicated one as https://github.com/Azure/azure-cli-extensions/issues/4478.

[2022-04-15 03:02] #4477 closed

[2022-04-15 07:12] YuanyuanNi commented on #4478
Hi,
    @myers-dev It cannot be reproduced in 2.34.1, and my command is :"az network firewall network-rule create --collection-name XXX --priority 500 --action allow --destination-ports XXX --firewall-name XXX --name XXX --protocols XXX --resource-group XXX  --destination-addresses XXX --source-addresses XXX."maybe you can upgrade your cli and try again.
Best wishes.

[2022-04-15 07:21] #4437 closed

[2022-04-15 10:58] Roy7017 commented on #4682
Thank you very much. Downgrading to version azure 2.34.1 fixed the issue for me

[2022-04-15 16:56] SaurabhSharma-MSFT commented on #4681
@jchomarat We are looking into it and get back to you for any additional information.

[2022-04-15 22:26] nitish81 opened #4690 "Command fail for az monitor"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor data-collection rule association list
Extension Name: monitor-control-service. Version: 0.2.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite

[2022-04-15 23:46] yonzhan commented on #4690
monitor

[2022-04-16 02:31] #4405 closed

[2022-04-18 03:28] navba-MSFT commented on #4562
@HansZimmer5000 We will now proceed with closure of this github issue. Once you have an update and need any further assistance on this issue, please feel free to reopen this thread. We would be happy to help.

[2022-04-18 03:28] #4562 closed

[2022-04-18 11:43] SureshBettadapur commented on #2056
yes, required feature. Any update on when this can be made available?

[2022-04-18 19:51] jfair9 opened #4696 "Error attempting to use 'az monitor app-insights continues-export create' - cannot deserialize object"
## Describe the bug

Attempting to use the az cli to create a continues-export for app-insights.

**Command Name**
`az monitor app-insights component continues-export create
Extension Name: application-insights. Version: 0.1.16.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az mon

[2022-04-18 20:24] warren-jones opened #4697 "[Quantum] "--max-poll-wait-secs" parameter causes "az quantum job wait" command to fail"
### Extension name

Quantum extension V0.14.0 and earlier

### Description of issue

The az quantum job wait command fails if the --max-poll-wait-secs parameter is used.  The the error message is:
[code]

[2022-04-18 20:25] warren-jones commented on #4697
Fixed by [PR 4616](https://github.com/Azure/azure-cli-extensions/pull/4616)

[2022-04-18 22:52] jfair9 commented on #4696
Seeing a similar error when using powershell commands New-AzApplicationInsightsContinuousExport

[2022-04-18 22:54] yonzhan commented on #4696
monitor

[2022-04-18 23:00] jfair9 commented on #4696
Powershell command is showing the following error. Both commands successfully create the Continous-Export

[code]

[2022-04-19 04:24] navba-MSFT commented on #4508
@til10 Apologies for the late reply. We appreciate your patience on this. I see that the above PR has been merged now. Could you please update to the most recent version of the `kusto` CLI extension (0.5.0) and then run the command again.

Please let us know if you still face the same issue. Awaiting your reply.

[2022-04-19 04:25] navba-MSFT commented on #4509
@til10 Apologies for the late reply. We appreciate your patience on this. I see that the above PR has been merged now. Could you please update to the most recent version of the `kusto` CLI extension (0.5.0) and then run the command again.

Please let us know if you still face the same issue. Awaiting your reply.

[2022-04-19 07:42] navba-MSFT commented on #4696
@jfair9 Thanks for reaching out to us and sharing this feedback. I am looking into this issue. I will update this thread once I have more details. In the meantime, Could you please share the version of the module Az.ApplicationInsights ?

Get-Module -Name Az.ApplicationInsights

Awaiting your reply.

[2022-04-19 11:51] navba-MSFT commented on #4696
@jfair9 Though the [New-AzApplicationInsightsContinuousExport ](https://docs.microsoft.com/en-us/powershell/module/az.applicationinsights/new-azapplicationinsightscontinuousexport?view=azps-7.4.0)command failed with the` Unable to deserialize the response` error it did execute and successfully create the continuous export configuration.

You can confirm the same by running the [get-azapplicationin

[2022-04-19 15:39] jfair9 commented on #4696
New-AzApplicationInsightsContinuousExport: Unable to deserialize the response.
DEBUG: AzureQoSEvent: Module: Az.ApplicationInsights:1.2.0; CommandName: New-AzApplicationInsightsContinuousExport; PSVersion: 7.1.0; IsSuccess: False; Duration: 00:00:03.2547577; Exception: Unable to deserialize the response.;
DEBUG: Finish sending metric.
DEBUG: 8:38:55 AM - NewAzureApplicationInsightsContinuousExport

[2022-04-19 22:52] rfsonders opened #4705 "Business Critical - Direct mode - az create fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Attempting to deploy a Business Critical tier SQL MI - Direct mode DC.

**Command Name**
`az sql mi-arc create
Extension Name: arcdata. Version: 1.3.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information

[2022-04-20 00:10] yonzhan commented on #4705
route to CXP team

[2022-04-20 06:29] navba-MSFT commented on #4696
@jfair9 Thanks for getting back. While we are investigating this, Could you please try the workaround of adding the switch
`-ErrorAction SilentlyContinue ` and check if that helps to avoid the pipeline from getting aborted? Awaiting your reply.

[2022-04-20 08:55] ksheytanov opened #4708 "az network front-door frontend-endpoint enable-https operation is not idepotent"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

azure-cli                         2.35.0

core                              2.35.0
telemetry                          1.0.6

Extensions:
front-door                        1.0.16
azure-devops                      0.25.0

Dependencies:
msal

[2022-04-20 09:56] yonzhan commented on #4708
network

[2022-04-20 15:46] jfair9 commented on #4696
@navba-MSFT The -ErrorAction must be for powershell? Is there an equivalent version of ErrorAction for the AZ Cli that Im not seeing in the documentation?

[2022-04-20 19:14] rfsonders commented on #4705
This ticket can be closed.  I neglected to add the --tier BusinessCritical switch

[2022-04-20 19:14] #4705 closed

[2022-04-20 21:21] bcrosser opened #4712 "Automatic update cannot update ArtifactTool under elevated & unelevated command prompt"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Trying to download a universal package from Azure Dev Ops using the AZ command line tool.  Run command to download and it fails at the download of ArtifactTool.

**Command Name**
`az artifacts universal download
Extension Name: azure-devops. Version: 0.4.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reprod

[2022-04-20 23:21] yonzhan commented on #4712
route to CXP team

[2022-04-21 04:36] navba-MSFT commented on #4696
@jfair9 A common scenario to redirect streams is when the symbol > is used to write the output of the CLI command in a file. It redirects the standard output - STDOUT - to the file added as a parameter.
If you would like to suppress the errors, you can redirect the output of the error stream — STDERR.
To do it you simply need to add 2>nul after the CLI command, which means that the second stream (

[2022-04-21 19:10] Aru003 opened #4717 "AZ Spring cloud app logs issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az spring-cloud app logs
Extension Name: spring-cloud. Version: 3.1.3.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az spring-cloud a

[2022-04-21 23:03] yonzhan commented on #4717
route to CXP team

[2022-04-22 04:06] navba-MSFT commented on #4508
@til10 I wanted to do quick follow-up to check if you had a chance to look at my [above](https://github.com/Azure/azure-cli-extensions/issues/4508#issuecomment-1101987512) comment. Please upgrade to the most recent version of the `kusto` extension and let us know if you still see the same issue. Awaiting your reply.

[2022-04-22 04:07] navba-MSFT commented on #4509
@til10 I wanted to do quick follow-up to check if you had a chance to look at my [above](https://github.com/Azure/azure-cli-extensions/issues/4509#issuecomment-1101987926) comment. Please upgrade to the most recent version of the `kusto` extension and let us know if you still see the same issue. Awaiting your reply.

[2022-04-22 04:22] RakeshMohanMSFT commented on #4717
@Aru003 Thank you for reaching out, we are looking into it.

[2022-04-22 08:21] RakeshMohanMSFT commented on #4088
@bhushangholave Since the work around helped. Closing this thread for now.

[2022-04-22 08:21] #4088 closed

[2022-04-22 09:03] gandersson opened #4723 "Enable virtual node add-on to existing AKS cluster throws exception"
## Describe the bug
When adding ACI capabilities to an existing cluster, the command fails and thows the AttributeError: 'NoneType' object has no attribute 'rpartition' error below. The virtual-node-aci-linux does get added to the cluster nodes, however.

**Command Name**
`az aks enable-addons
Extension Name: aks-preview. Version: 0.5.45.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce t

[2022-04-22 09:13] yonzhan commented on #4723
route to CXP team

[2022-04-22 22:18] Aru003 commented on #4717
HI Rakesh
please fnd debug logs.. I've masked some sensitive information
cli.knack.cli: Command arguments: ['spring-cloud', 'app', 'logs', '--name', 'personbasic', '--debug']
cli.knack.cli: __init__ debug log:
Enable color in terminal.
cli.knack.cli: Event: Cli.PreExecute []
cli.knack.cli: Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments at 0x1105720e0>, <func

[2022-04-22 22:20] Aru003 commented on #4717
cli.knack.cli: Command arguments: ['spring-cloud', 'app', 'logs', '--name', 'personbasic', '--debug']
cli.knack.cli: __init__ debug log:
Enable color in terminal.
cli.knack.cli: Event: Cli.PreExecute []
cli.knack.cli: Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments at 0x1105720e0>, <function OutputProducer.on_global_arguments at 0x1105c0f70>, <function CLIQue

[2022-04-23 04:10] bhims791 opened #4727 "azure webapp issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create
Extension Name: appservice-kube. Version: 0.2.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create --res

[2022-04-23 05:05] yonzhan commented on #4727
route to CXP team

[2022-04-23 08:00] #4207 closed

[2022-04-23 09:51] #2021 closed

[2022-04-25 03:33] navba-MSFT commented on #4696
@jfair9 I had an internal discussion with our SME team regarding this issue. We recommend all of our customers to stop using Continuous Export and use Diagnostics Settings instead, as the former has already been deprecated. Please, refer to the following [documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/app/export-telemetry).

Note: Switching to Diagnostics Settings will require

[2022-04-25 03:40] navba-MSFT commented on #4509
@til10 We will now proceed with closure of this github issue. If you see the same issue after upgrading your kusto extension,  please feel free to reopen this thread. We would be happy to help.

[2022-04-25 03:40] #4509 closed

[2022-04-25 03:40] navba-MSFT commented on #4508
@til10 We will now proceed with closure of this github issue. If you see the same issue after upgrading your kusto extension,  please feel free to reopen this thread. We would be happy to help.

[2022-04-25 03:40] #4508 closed

[2022-04-25 04:03] navba-MSFT commented on #4727
@bhims791 Thanks for reaching out to us. We are looking into this issue. I will provide an update once I have more details on this.

[2022-04-25 05:49] navba-MSFT commented on #4727
@bhims791 It looks like you're running an old version of the extension from private preview (since your version number is 0.2.2). You should uninstall the extension with az extension remove -n appservice-kube and install the latest version (public preview) with az extension add -n appservice-kube. After this you can test the command again. Awaiting your reply.

Similar issue https://github.com/Azu

[2022-04-25 07:17] HansZimmer5000 commented on #4562
Good day!

Please excuse my late response. Thank you very much for the detailed debugging.
What are the steps to realize your solution? Tried to figure it out myself, sadly I don't have more time for tinkering.
Tried to remove azure('brew remove az' + `rm -rf ~/.azure`) and install it again (`brew install az` + 'az extension add --name dataprotection') with now change.

fyi: In `python3` your `imp

[2022-04-25 11:55] v-anvashist commented on #4712
We are working on to reproduce this issue and will share the updates.

[2022-04-25 16:47] sinePaul opened #4734 "Command az monitor data-collection endpoint list fails with an unexpected error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor data-collection endpoint list
Extension Name: monitor-control-service. Version: 0.3.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps he

[2022-04-25 20:30] mohamedsaif opened #4735 "az aks update --enable-secret-rotation fails with NoneType error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update
Extension Name: aks-preview. Version: 0.5.53.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks update -g {} -n {} --

[2022-04-25 20:40] til10 commented on #4508
I've given the command another try with the latest extension; the bug appears to have been fixed! Thanks all!

[2022-04-25 22:26] SatishBoddu-MSFT commented on #4723
Hello @gandersson
We are routing this issue to the service team's attention!

[2022-04-25 22:47] yonzhan commented on #4734
monitor

[2022-04-25 22:49] yonzhan commented on #4735
route to CXP team

[2022-04-26 03:10] RakeshMohanMSFT commented on #4735
@mohamedsaif Thank you for reaching out, we are looking into it.

[2022-04-26 03:27] RakeshMohanMSFT commented on #4655
@rfsonders "Only one of '[--auto-upload-logs]' or '[--auto-upload-metrics]' can be specified." is as designed and we are getting the documented updated ASAP. Closing this issue now.

[2022-04-26 03:27] #4655 closed

[2022-04-26 08:52] RakeshMohanMSFT commented on #4735
It seems we save the config for this addon as null. We are investigating why this happening.

As for the workaround, could you please disable the addon first by az aks disable-addons -g {resource_group_name} -n {cluster_name} -a azure-keyvault-secrets-provider and then enable this addon by az aks enable-addons -g {resource_group_name} -n {cluster_name} -a azure-keyvault-secrets-provider --enable-s

[2022-04-26 08:52] RakeshMohanMSFT commented on #4735
Duplicate of https://github.com/Azure/azure-cli/issues/20438

[2022-04-26 17:24] neoswallow commented on #2935
Following should work without needing to do `azure login`:

[2022-04-26 20:40] georgewfisher commented on #4568
@yonzhan  Any updates on this issue?

[2022-04-26 22:53] yonzhan commented on #4568
bastion service team should take a look

[2022-04-27 01:53] vladimirkrasilev opened #4743 "az ssh config crsh under wsl"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ssh config
Extension Name: ssh. Version: 0.1.5.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ssh config --ip {} --file {}`

##

[2022-04-27 01:58] yonzhan commented on #4743
route to CXP team

[2022-04-27 02:14] navba-MSFT commented on #4743
@vladimirkrasilev Thanks for reaching out to us and sharing this feedback. We are looking into this issue and provide an update shortly.

[2022-04-27 04:26] navba-MSFT commented on #4696
@jfair9 The fix for this issue has been released. I am able to run the CLI command just fine now.

Please run your AzCLI command and test the functionality again. If you face any issues, please feel free to reopen this Github thread. We would be happy to assist you further.

[2022-04-27 04:26] #4696 closed

[2022-04-27 04:53] navba-MSFT commented on #4658
@Rhipeus Apologies for the late reply. We are having an insistent repro at our end as it works for a few users and fails for others. So we are still doing some research on this. I will update this thread once I hear back from product owners. We appreciate your patience on this.

[2022-04-27 06:07] navba-MSFT commented on #4658
@Rhipeus I was able to test the Attestation Policy using Powershell. Could you please test the same and let us know if that serves your requirement until the cause in CLI is identified ?

$policy=Get-Content -path "C:\test\policy.txt" -Raw
$teeType = "OpenEnclave"
Set-AzAttestationPolicy   -Name "navbaattest9" -ResourceGroupName "navbaattest9" -Tee $teeType -Policy $policy -PolicyFormat $policyFor

[2022-04-27 06:23] navba-MSFT commented on #4743
@vladimirkrasilev I wasn't able to reproduce this issue on my box. You are using an older version of the `ssh` extension. Please update your `ssh` extension to the most recent version by running the below command:

Also on a side note, you should also use the [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli#install-or-update) of AzureCLI. Pl

[2022-04-27 10:57] jsntcy commented on #3937
@csegarragonz, could you please check the version of pyjwt on your machine? There are some [breaking changes](https://pyjwt.readthedocs.io/en/stable/changelog.html#require-explicit-algorithms-in-jwt-decode-by-default) since pyjwt 2.0.0.

[2022-04-27 13:16] v-soujanya commented on #4712
Hi @bcrosser, we found that similar issue that has logged on previously mentioned below. Please follow the steps mentioned in the below URL.
 [https://github.com/Azure/azure-devops-cli-extension/issues/891]

[2022-04-28 06:14] jsntcy commented on #4658
@Rhipeus, we'll release the fix in next sprint (around mid of June) since we are fully occupied in this sprint by Microsoft Build event.
As a workaround, the customer can run “pip install pyjwt=1.7.1” to force downgrade to pyjwt 1.7.1 to see if it works (It can work on my local machine).

[2022-04-28 06:16] jsntcy commented on #4658
Link similar issues: #4120, #3937

[2022-04-28 08:23] navba-MSFT commented on #4727
@bhims791 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-04-28 09:11] npmmirror opened #4749 "Git.io deprecation notice"
Hello, I've found that some of your files in this repo is still using https://git.io/, and this service will be discontinued in the future. (ref: [Git.io deprecation](https://github.blog/changelog/2022-04-25-git-io-deprecation/))
Theses files are: src/scvmm/setup.md

[2022-04-28 12:44] zhoxing-ms commented on #4749
＞ Theses files are: src/scvmm/setup.md

This file was introduced by PR #4631. @nascarsayan Could you please take a look at this issue?

[2022-04-28 13:40] dbradish-microsoft commented on #4250
@yonzhan  and @t-bzhan , I see new information in the `az afd` page, so I think this issue can be closed.

![image](https://user-images.githubusercontent.com/58762114/165765415-717c7fb4-f30f-40e5-a6d8-b19d978b2915.png)

[2022-04-28 22:32] #4250 closed

[2022-04-29 03:57] navba-MSFT commented on #4658
@Rhipeus Could you please let us know if you had a chance to look at the above comment and try the suggested workaround ? Awaiting your reply.

[2022-04-29 05:06] navba-MSFT commented on #4749
@npmmirror Thanks for reaching out to us and reporting this issue. We are looking into this issue and provide an update once we have more details.

[2022-04-29 12:56] stephybun opened #4756 "aks connectedk8s connect should allow connecting to existing arc kubernetes resources and use own key-pair"
### Extension name (the extension in question)
`connectedk8s`

### Description of issue (in as much detail as possible)

Hello 👋🏼
We're trying to add support for Arc Kubernetes in the AzureRM Provider for Terraform, unfortunately there is no means of connecting an Arc Kubernetes resource that was created by Terraform to a Kubernetes cluster, it will remain with status `Connecting`.

I attempted th

[2022-04-29 14:17] yonzhan commented on #4756
route to CXP team

[2022-04-29 19:02] saachigopal commented on #4231
Environment variables can be specified in the job schema
 https://docs.microsoft.com/en-us/azure/machine-learning/how-to-train-cli

[2022-04-30 18:35] AchilleAsh commented on #4026
You can now also pass options to ssh when using az ssh vm:

```az ssh vm -n myvm -g mygroup -- -o PubkeyAcceptedKeyTypes=+ssh-rsa-cert-v01@openssh.com```

[2022-05-02 03:43] navba-MSFT commented on #4658
@Rhipeus As mentioned in the above comment this issue would be fixed tentatively in the mid-June. Until then you can follow the workaround suggested [here](https://github.com/Azure/azure-cli-extensions/issues/4658#issuecomment-1110580549) and [here](https://github.com/Azure/azure-cli-extensions/issues/4658#issuecomment-1111787842). With that we will proceed with the closure of this thread. If you

[2022-05-02 03:43] #4658 closed

[2022-05-02 04:17] navba-MSFT commented on #4727
@bhims791 We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-05-02 04:17] #4727 closed

[2022-05-02 04:19] navba-MSFT commented on #4743
@vladimirkrasilev I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-05-02 04:21] navba-MSFT commented on #4749
@npmmirror We have filed this PR #4754 to address this issue and it is currently under review phase.

[2022-05-02 09:46] #4749 closed

[2022-05-02 17:53] SaurabhSharma-MSFT commented on #4612
@jaburi This has been fixed in the newer version of Az module. Please use Kusto 0.5.0 version and let me know if you have any questions.

Thanks
Saurabh

[2022-05-02 18:58] diberry opened #4761 "`az account tenant list` fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account tenant list
Extension Name: account. Version: 0.2.3.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account tenant list`

[2022-05-02 21:13] vladimirkrasilev commented on #4743
The az update failed as well.
The problem was specific for the hosts, where cygwin was installed and az started from wsl.
Fixed by removal cygwin from PATH.

[2022-05-02 21:13] #4743 closed

[2022-05-02 23:40] yonzhan commented on #4761
@jiasli for awareness

[2022-05-03 08:00] #4654 closed

[2022-05-03 13:18] tbirk-bhs opened #4763 "Unable to manage dataCollectionRules since update to monitor-control-service 0.3.0"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor data-collection rule list
Extension Name: monitor-control-service. Version: 0.3.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..

[2022-05-03 13:28] yonzhan commented on #4763
monitor

[2022-05-03 17:15] kehao-chen opened #4765 "Unable to add management IP to Azure Firewall instance"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I would like to enable forced tunneling on Azure Firewall via Azure CLI.

**Command Name**
`az network firewall management-ip-config update
Extension Name: azure-firewall. Version: 0.13.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as th

[2022-05-03 23:18] yonzhan commented on #4765
network

[2022-05-04 00:08] parthmsft opened #4766 "Update offer type in account create command"
### Extension name (the extension in question)
- **subscription**

### Description of issue (in as much detail as possible)

-----
We need to update the offer type for `az account create ...` command.

The `--offer-type` option of above mentioned command currently supports  **MS-AZR-0017P** and  **MS-AZR-0148P** offer types.

We need to support two more offer types **MS-AZR-USGOV-0017P** and  **MS

[2022-05-04 00:19] yonzhan commented on #4766
@jiasli for awareness

[2022-05-04 04:55] navba-MSFT commented on #4568
@Hyper200 Apologies for the late reply. Thanks for reaching out to us and reporting this issue. I am looking into this ask. I will get back to you once I have more Information on this.

[2022-05-04 22:42] SaurabhSharma-MSFT commented on #4681
@atpham256 Did you get a chance to look into this issue.

[2022-05-05 04:58] RakeshMohanMSFT commented on #1012
@mildsar Apologies for the delay in acknowledging and responding. This is GA. Closing this thread now.

[2022-05-05 04:58] #1012 closed

[2022-05-05 07:15] navba-MSFT commented on #4492
@tap1992 Apologies for the late reply. Thanks for reporting this issue and sharing this feedback.

Action Plan: You could try to run the command with verbosity flag as shown below to know what request / operation is being performed. So looking at the output returned you can take a guess on if the command did succeed or fail.

The ssh issue post VM rebuild has been raised before and its being worke

[2022-05-05 07:15] #4492 closed

[2022-05-05 08:17] navba-MSFT commented on #3973
@davidack Apologies for the late reply. Could you confirm if you have tried [ --overwrite-existing](https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-get-credentials) parameter and checked if that helps ? Awaiting your reply.

[2022-05-05 10:15] navba-MSFT commented on #4407
@glennr8686 Please upgrade to the most recent `aks-preview` extension and then update your Azure CLI. Please test the above command then. The below action plan should resolve the issue.

az upgrade

If that doesn't resolve the issue, please feel free to reopen this github thread. We would be happy to work with you again on this issue.

[2022-05-05 10:15] #4407 closed

[2022-05-05 10:50] navba-MSFT commented on #4723
@gandersson Apologies for the late reply. Could you please follow the below action plan ?

1. Update your python libraries
2. Update your Azure CLI and then test the command again.

Once this is done, please test your AKS CLi command again and let me know if you see the same issue. Awaiting your reply.

[2022-05-05 13:26] zioalex commented on #3936
Hi, I have the same problem.
Any follow-up on this?

[2022-05-05 22:19] SaurabhSharma-MSFT commented on #4612
@jaburi We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-05-05 22:19] #4612 closed

[2022-05-05 22:48] jtchoffo-fi commented on #4734
Similar issue. Any update?

[2022-05-06 00:21] kairu-ms commented on #4734
It seems the service team does not deploy `2021-09-01-preview` API in your region right now. Please use 0.2.0 version for a workaround. You can install that version by the following command:

[code]

[2022-05-06 00:27] kairu-ms commented on #4734
@ZengTaoxu Please feedback this issue to service team. Thanks.

[2022-05-06 01:11] kingdonb commented on #2701
With my `az` cli installed in the default location, on an aarch64 Linux (arm64) I noticed it was possible to install the connectedk8s extension, until it tried to download and install an amd64 binary for helm and resulted in an `exec format error`.

[code]

My expectations were pretty low that this would work, given the kind cluster behind this node is also arm64, and indeed the images behind Arc

[2022-05-06 14:36] v-anvashist commented on #953
@bvandre Currently in azure cli service we don't have any way to pass variables as we checked in az pipelines release create API we did not found the information related to variables.

Thanks,
Anjali

[2022-05-06 21:23] rfsonders opened #4783 "Data Controller upgrade failure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az arcdata dc update
Extension Name: arcdata. Version: 1.4.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az arcdata dc update --nam

[2022-05-06 21:24] rfsonders commented on #4783
PS C:\Users\Rob> az arcdata dc update --name pstoredc01 --resource-group arc-services-ns --auto-upload-logs true --debug
cli.knack.cli: Command arguments: ['arcdata', 'dc', 'update', '--name', 'pstoredc01', '--resource-group', 'arc-services-ns', '--auto-upload-logs', 'true', '--debug']
cli.knack.cli: __init__ debug log:
Enable color in terminal.
cli.knack.cli: Event: Cli.PreExecute []
cli.knack.cl

[2022-05-06 23:34] yonzhan commented on #4783
route to CXP team

[2022-05-07 14:33] felix-rojas opened #4789 "TypeError: login() got an unexpected keyword argument 'msi'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
The command was executed from a bash terminal with kali-linux, a similar error occurs on the powershell and cmd terminal as well. I'm new to bug reporting btw, Sorry for the inconveniences!

**Command Name**
`az login
Extension Name: azure-ml-admin-cli. Version: 0.0.1.`

**Errors:**
[code]

## To Reproduce:
Ste

[2022-05-07 14:47] yonzhan commented on #4789
@jiasli for awareness

[2022-05-07 16:12] felix-rojas commented on #4789
Oh just wanted to follow up on this, kali-linux rolling is running this.
Turns out I already have the azure client terminal installed alongside Windows Terminal. I will try with ubuntu WSL2 now and see if anything changes.

[2022-05-09 03:58] navba-MSFT commented on #4568
@Hyper200 Unfortunately, At this time we only allow the port to be a local host port which wouldn’t allow how it’s specified. Alternatively you can do this tunnel and then forward the port to the address you want to. Hope this helps.

[2022-05-09 05:59] RichardMcCormack opened #4791 "trying to run az account subscription list fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account subscription list
Extension Name: account. Version: 0.2.3.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account subscri

[2022-05-09 06:28] yonzhan commented on #4791
@zhoxing-ms for awareness

[2022-05-09 07:36] Hyper200 commented on #4568
Can we re-open this please?

You can't use a tunnel on WSL because you must listen on 0.0.0.0 for it to be accessable via Windows whilst the ubuntu instance is running the command.

[2022-05-09 08:14] mikaelmattsson commented on #4317
I get this error too and I have no idea how to debug this because the error doesn't say what is wrong. Just “The resource validation failed.”

[2022-05-09 11:06] calsim113 commented on #4199
After some digging, I found that the missing alert rules are of the type 'Anomaly'. According to [this](https://techcommunity.microsoft.com/t5/microsoft-sentinel-blog/democratize-machine-learning-with-customizable-ml-anomalies/ba-p/2346338) article, these rules are automatically added to you Sentinel configuration:

However, these alert-rules are (still) not returned with the command `az sentinel

[2022-05-09 12:21] zhoxing-ms commented on #4791
Introduced by PR #4409, @PARADISSEEKR please help remember to update the appropriate `azext.minCliCoreVersion` for this extension

[2022-05-09 16:28] paulshealy1 commented on #4789
@felix-rojas `azure-ml-admin-cli` is for Machine Learning Server. This product is [being retired](https://docs.microsoft.com/en-us/machine-learning-server/what-is-happening-to-machine-learning-server).

Are you looking for the CLI for Azure Machine Learning? Installation instructions are available [here](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-configure-cli).

[2022-05-10 04:37] navba-MSFT commented on #4783
@rfsonders Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. I looked at the error message and I see the resource URI as below:

It seems like **arc-services-ns** resource group is not present inside this **047d5a79-XXXXXXX-afe1-9139b0cbe512** subscription.

So please run the below AzCLI command to set your right subscription id and then run your CLI command. H

[2022-05-10 06:20] Maarc-D opened #4795 "Bad idea to remove : az costmanagement query"
### Related command

`az costmanagement query`

### Extension name (the extension in question)

costmanagement

### Description of issue (in as much detail as possible)

`az costmanagement query` was removed in [0.2.1](https://github.com/Azure/azure-cli-extensions/blob/main/src/costmanagement/HISTORY.rst#021) but I think it was a bad idea. It is explain in the release note that it could be replace

[2022-05-10 06:27] yonzhan commented on #4795
costmanagement

[2022-05-10 16:14] #872 closed

[2022-05-10 23:49] sbwashburne opened #4797 "AZ Copy Image - Cannot Find Target Subscription"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Related command
az image copy --source-resource-group rg-xxxxx  --source-object-name vmxxxxxx
![output](https://user-images.githubusercontent.com/41348859/167742473-2c119984-9889-4d16-917a-e28bba164314.PNG)
-image --target-location usxxxxxx--target-sub

[2022-05-10 23:53] yonzhan commented on #4797
Compute

[2022-05-11 04:08] daxianji007 opened #4798 "Fail to load extension 'alias' and 'arcdata'"
### Related command
az alias xxx
az arcdata xxx

### Extension name (the extension in question)
'alias' and 'arcdata'

### Description of issue (in as much detail as possible)
The extension can be installed but cannot be loaded. Looks like dependency package version issue. But I cannot workaround it. Check my re-pro steps and my real logs.
[code]
![image](https://user-images.githubusercontent.com/

[2022-05-11 05:26] yonzhan commented on #4798
route to CXP team

[2022-05-11 07:38] YuanyuanNi commented on #4765
Hi:
     @kehao-chen 'management-ip-config' should be created before using update command, but now it has something wrong with creating function, for more information,pls refer: https://github.com/Azure/azure-cli-extensions/issues/1270.
Best wishes.

[2022-05-11 11:35] daxianji007 opened #4800 "Fail to load all the helps by python code when 'arcdata' installed"
### Related command
not sure

### Extension name (the extension in question)
arcdata

### Description of issue (in as much detail as possible)
When I try to get all the helps by python code when 'arcdata' installed. There is exception. Check my scripts:
[code]
and python code:
[code]
exception is:
[code]

### Additional context
I am using this information to generate the Docs Page(https://docs.mic

[2022-05-11 11:58] yonzhan commented on #4800
route to CXP team

[2022-05-11 18:13] swells commented on #4800
[daxianji007](https://github.com/daxianji007)

If you run `--debug` when installing the extension do you get pip install errors?
` az extension add -n arcdata --debug`

`kubernetes` is a requirement already?
[code]

[2022-05-12 03:07] navba-MSFT commented on #4800
@daxianji007 Thanks for reaching out to us and reporting this issue. I am looking into this issue. I will update this thread once I have more details on this.

[2022-05-12 03:07] navba-MSFT commented on #4798
@daxianji007 Thanks for reaching out to us and reporting this issue. I am looking into this issue. I will update this thread once I have more details on this.

[2022-05-12 07:44] navba-MSFT commented on #4568
@Hyper200 I am adding Service Team to look into this issue.

 @aznetsuppgithub Could you please look into this as and provide an update once you get a chance ? Awaiting your reply.

[2022-05-12 07:56] navba-MSFT commented on #4783
@rfsonders I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-05-12 10:27] navba-MSFT commented on #4800
@daxianji007 Could you please run the command `pip3 install kubernetes ` and then check if the above command works ?

If it doesn't help, please remove the arcdata extension and then try adding the extension again and see if that helps:

az extension add --name arcdata

If you still see the same issue, please run the command again with `--debug` switch and share the output here for further investi

[2022-05-12 10:41] daxianji007 commented on #4800
@navba-MSFT If I install kubernetes manually, this issue is gone. I think I get the root cause now.
I have installed both `arcappliance` and `arcdata`. Then their dependency packages are added to AzureCLI.
When `arcdata` tries to load kubernetes, it finds the one in `arcappliance` folder, which is in version 11.0.0. Then the importing failes.

[2022-05-12 10:47] navba-MSFT commented on #4800
@daxianji007 Thanks for getting, Just to confirm may I know if the actual issue is addressed now ? Also let me know if you have any pending questions.

[2022-05-12 10:56] daxianji007 commented on #4800
@navba-MSFT  em... not exactly addressed. I hope the two extensions can be compatible instead of I manually install some package to work around it.

[2022-05-12 11:00] rfsonders commented on #4783
We can close. I deleted the namespace and recreated with the 1.6 DC

Regards.

Robert F. Sonders
+1.720.530.0567

LinkedIn

@RobertSonders

On Thu, May 12, 2022, 2:57 AM navba-MSFT ***@***.***> wrote:

[2022-05-12 11:01] navba-MSFT commented on #4783
@rfsonders  Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-05-12 11:01] #4783 closed

[2022-05-12 11:10] navba-MSFT commented on #4800
Thanks @daxianji007 for getting back and clarifying the ask.
I am involving the Service Team to look into this feature ask.

[2022-05-12 12:12] navba-MSFT commented on #4798
@daxianji007 I am unable to reproduce this issue. Sharing the versions I am using.

C:\>pip list
Package                     Version
pip                              22.0.4
setuptools                  58.1.0

C:\>python --version
Python 3.10.4

C:\windows\system32>az version
{
  **"azure-cli": "2.35.0",**
  "azure-cli-core": "2.35.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    **"alia

[2022-05-12 15:07] daxianji007 commented on #4798
@navba-MSFT I can provide a clean log with versions in my local machine.
![image](https://user-images.githubusercontent.com/8327019/168107338-04e60ec6-40f5-469c-9f99-6e70bd382183.png)

[2022-05-13 01:17] Aru003 commented on #4717
Hi,
Yes i've updated the python version 3.10, still issue haven't solved. same error
## Describe the bug

**Command Name**
`az spring-cloud app logs
Extension Name: spring-cloud. Version: 3.1.3.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `

[2022-05-13 01:52] cxznmhdcxz commented on #4797
Hi @sbwashburne , would it reproduce? Could you share debug log by adding `--debug` to the command?

[2022-05-13 01:52] Aru003 commented on #4717
Also today I tried the command in azure PORTAL cli , same error
![Screen Shot 2022-05-12 at 6 51 16 PM](https://user-images.githubusercontent.com/8055015/168195590-87a4f711-2b16-48ae-99df-bf83a14ecd57.png)

[2022-05-13 02:25] PARADISSEEKR commented on #4791
Hi, @RichardMcCormack Please update the CLI version and try again, the latest version is `2.36.0`.

[2022-05-13 02:29] RichardMcCormack commented on #4791
Done - thanks.

[2022-05-13 02:29] #4791 closed

[2022-05-13 03:16] navba-MSFT commented on #4798
@daxianji007 Could you please share the `--debug `output While you run the command ? I sharing sharing the command here if that helps. Awaiting your reply.

[2022-05-13 04:56] daxianji007 commented on #4798
@navba-MSFT
[code]

[2022-05-13 05:43] navba-MSFT commented on #4798
@daxianji007 Could you please run this command and then check if that helps ? Awaiting your reply.

[2022-05-13 11:26] RakeshMohanMSFT commented on #4717
@Aru003 Let me check again

[2022-05-13 15:17] tishkata86 opened #4814 "Error while trying to create webapp with command "az webapp create" using appservice-kube extension"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create
Extension Name: appservice-kube. Version: 0.2.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create --res

[2022-05-13 22:45] yonzhan commented on #4814
route to CXP team

[2022-05-14 03:51] #4766 closed

[2022-05-14 06:13] tishkata86 commented on #4814
I found the solution here [Solution](https://github.com/Azure/azure-cli-extensions/issues/4561)
I hav removed the old extention and install it again with a specific version, which should be the latest, but it seems it not and you need to install the correct version with the following command "az extension add -n appservice-kube"

Solution is in this comment - [Comment](https://github.com/Azure/azu

[2022-05-14 08:00] #4157 closed

[2022-05-15 00:24] davidack commented on #3973
I am unable to test this with the current Azure CLI version (2.36.0) on the machine where I originally reported it, because Azure CLI on MacOS only supports Homebrew as an install method, and Homebrew no longer supports MacOS 10.13.

I did try this using Azure CLI 2.36.0 on one of my newer machines, which is running MacOS 11.6. On that machine, `az aks get-credentials` is able to merge the new set

[2022-05-15 05:37] navba-MSFT commented on #3973
@davidack Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-05-15 05:37] #3973 closed

[2022-05-15 10:40] aneran01 opened #4820 "az aks create failed to create cluster with system assigned identity"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create
Extension Name: aks-preview. Version: 0.5.42.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-gro

[2022-05-15 14:53] yonzhan commented on #4820
route to CXP team

[2022-05-16 01:30] kairu-ms commented on #4763
Hi @tbirk-bhs, service team still need a month to deploy `2021-09-01-preview` api-versoin worldwide. Could you install the version 0.2.0 for a workaround?

[2022-05-16 03:01] kairu-ms commented on #4763
Same as https://github.com/Azure/azure-cli-extensions/issues/4734

[2022-05-16 03:01] #4763 closed

[2022-05-16 03:10] kairu-ms commented on #4690
It seems some parameters are missed in your command. Could you follow these [examples](https://docs.microsoft.com/en-us/cli/azure/monitor/data-collection/rule/association?view=azure-cli-latest#az-monitor-data-collection-rule-association-list-examples) in doc and try again. I will close the issue, if you have more problems you can add comments in it and I will reopen it.

[2022-05-16 03:10] #4690 closed

[2022-05-16 03:27] navba-MSFT commented on #4798
@daxianji007 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-05-16 03:35] navba-MSFT commented on #4814
@tishkata86 Apologies for the late reply. Thanks for reaching out to us and sharing this feedback.

It looks like you're running an old version of the extension from private preview (since your version number is 0.2.2). You should uninstall the extension with` az extension remove -n appservice-kube` and install the latest version (public preview) with `az extension add -n appservice-kube`. After t

[2022-05-16 03:38] navba-MSFT commented on #4814
@tishkata86 apologies for the late reply. Thanks for reporting this issue and sharing the feedback and providing the update on this issue.
Your comment is right. Updating to the newer version of the `appservice-kube `extension should resolve this issue. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this

[2022-05-16 03:38] #4814 closed

[2022-05-16 03:42] navba-MSFT commented on #4820
@aneran01 Thanks for reaching out to us and sharing this feedback. We are looking into this issue. We will provide an update on this once we have more details on this.

[2022-05-16 06:28] navba-MSFT commented on #4820
@aneran01 I was able to run the same above command to create the AKS cluster and it worked just fine.

Could you please upgrade your `aks-preview` extension and try to run the below command and check if that helps ? Awaiting your reply.

The command I used to create my AKS cluster:

Hope this helps.

[2022-05-16 09:00] shivamkm07 opened #4829 "EULA Content in k8s-extension"
### Related command
`az k8s-extension create`

### Extension name (the extension in question)

[k8s-extension](https://github.com/Azure/azure-cli-extensions/tree/main/src/k8s-extension)

### Description of issue (in as much detail as possible)

Our team is working to get [ AKS extension for Dapr](https://docs.microsoft.com/en-us/azure/aks/dapr) to GA. As a part of it, we have been told to output [

[2022-05-16 12:04] yonzhan commented on #4829
route to CXP team

[2022-05-17 05:18] morland96 commented on #4317
It spends me lots of time, and finally I have realised the --user-info is mandatory. They should really improve their documentation.

[2022-05-17 05:18] #4317 closed

[2022-05-19 10:30] navba-MSFT commented on #4829
Tagging the Service Team to look into this.

[2022-05-19 20:19] yurych opened #4856 "Cannot deserialize as [OperationsDefinition] an object of type <class 'dict'>"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az providerhub provider-registration generate-operation
Extension Name: providerhub. Version: 0.2.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps

[2022-05-19 23:50] yonzhan commented on #4856
providerhub

[2022-05-20 02:13] wcrudeli opened #4859 "error in create web apps Canary"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create
Extension Name: appservice-kube. Version: 0.2.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create -g {}

[2022-05-20 02:15] yonzhan commented on #4859
route to CXP team

[2022-05-20 02:15] wcrudeli commented on #4859
command line in BASH of Cloud Shell:
SUFFIX=$RANDOM$RANDOM
az webapp create -g $RESOURCEGROUPNAME -p $SERVICEPLANNAME -n PU$SUFFIX-Canary

[2022-05-20 02:18] wcrudeli commented on #4859
on site: https://microsoftlearning.github.io/AZ400-DesigningandImplementingMicrosoftDevOpsSolutions/Instructions/Labs/AZ400_M04_Controlling_Deployments_using_Release_Gates.html

Task 2: Create two Azure web apps, Topic: 6,
command line in BASH of Cloud Shell:
SUFFIX=$RANDOM$RANDOM
az webapp create -g $RESOURCEGROUPNAME -p $SERVICEPLANNAME -n PU$SUFFIX-Canary

[2022-05-20 04:08] navba-MSFT commented on #4798
@daxianji007 The action is currently on you to follow the above plan and let us know if that helps. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-05-20 04:08] #4798 closed

[2022-05-20 04:17] navba-MSFT commented on #4820
@aneran01 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-05-20 04:40] navba-MSFT commented on #4859
@wcrudeli Thanks dor reaching out to us and sharing this feedback. It looks like you're running an old version of the extension from private preview (since your version number is 0.2.2). You should uninstall the extension with `az extension remove -n appservice-kube` and install the latest version (public preview) with `az extension add -n appservice-kube`. After this you can test the command agai

[2022-05-20 04:45] navba-MSFT commented on #4856
@yurych Thanks for reaching out to us and sharing this feedback. We are looking into this issue and we will provide an update.

[2022-05-20 09:17] navba-MSFT commented on #4238
@ghost Apologies for the late reply. Could you please update to the most recent version of the kusto CLI extension (0.5.0) and then run the command again ?

Please let us know if you still face the same issue. Awaiting your reply.

[2022-05-20 23:33] mateialexandru commented on #4148
Please make sure the error description specifies both requirements + a help link?
Requirements are:
- Standard SKU
- checkbox for native support

[2022-05-21 08:01] #4231 closed

[2022-05-22 18:42] visingh-BRONGA opened #4869 "AZure AKS Create issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create
Extension Name: aks-preview. Version: 0.5.51.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create -n {} -g {} --

[2022-05-22 23:09] yonzhan commented on #4869
route to CXP team

[2022-05-23 02:44] navba-MSFT commented on #4869
@visingh-BRONGA Thanks for reaching out to us and sharing this feedback. I see that you are using an older version of the `aks-preview`. Could you please run the below command and update your extension ?

Hope this helps.

[2022-05-23 05:01] navba-MSFT commented on #4820
@aneran01 The action is pending on you to test the above action plan. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-05-23 05:01] #4820 closed

[2022-05-23 07:03] navba-MSFT commented on #4859
@wcrudeli I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-05-23 16:33] dbradish-microsoft opened #4878 "az connectedk8s install appears to be looping and reinstalling"
Windows 11
PowerShell 7.2.4

When prompted to install the `connectedk8s` extension, the install appears to be looping.  Please see the below screen print where the customer is prompted to continually reinstall the extension.

![MicrosoftTeams-image](https://user-images.githubusercontent.com/58762114/169865371-22b69d43-222b-49c0-9a5d-2829d6ad5063.png)

CCing @mikefrobbins who originally reported th

[2022-05-23 22:37] yonzhan commented on #4878
route to CXP team

[2022-05-24 02:43] daxianji007 commented on #4798
@navba-MSFT Sorry for late response. This can mitigate the issue.

[2022-05-24 03:04] navba-MSFT commented on #4856
@yurych A quick update on this. I have reached out to the product owners and they are investigating this in the background. I will keep you updated about this.

[2022-05-24 04:20] navba-MSFT commented on #4878
@dbradish-microsoft Thanks for reaching out to us and sharing this feedback.
As an isolation step, Could you please have the customer open the CMD prompt (not PS prompt) and then run the below command to install the extension separately ?

Once the installation is done, then try running the below command and check if that works. Awaiting your reply.

[2022-05-24 10:15] navba-MSFT commented on #4856
@yurych As a next action plan, Could you please update the right parameters in the below command and run it ? I was able to run it and get the Operation details:

Hope this helps. Awaiting your reply.

[2022-05-24 13:09] ciastooo opened #4890 "BMSUserErrorInvalidInput error when running az dataprotection backup-instance restore trigger"
### Related command
`az dataprotection backup-instance restore trigger`

### Extension name (the extension in question)
`dataprotection`

### Description of issue (in as much detail as possible)
I'd like to trigger a point-in-time restore for a specific container in BlobStorage. What I'm doing is:
[code]

And I'm getting this kind of response:
[code]

Same thing is happening when I'm running `az d

[2022-05-24 16:35] dbradish-microsoft commented on #4878
@mikefrobbins, this latest <reply> is for you.

[2022-05-25 03:21] navba-MSFT commented on #4878
@dbradish-microsoft @mikefrobbins Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-05-25 03:21] #4878 closed

[2022-05-25 03:59] navba-MSFT commented on #4568
@Hyper200 I have heard back from the Product Owners that they don’t think they have this feature scheduled yet, but they can certainly look into it. In the meantime, would you be able to use the native client’s rdp connectivity? I was able to verify that it works from a WSL session with one of my test VMs. Awaiting your reply.

[2022-05-25 20:26] John-Vance opened #4897 "az ssh config fails when run from anywhere other than the C:\ drive"
### Related command
az ssh config --ip 10.117.18.132 --file ./sshconfig

### Extension name (the extension in question)
ssh 1.1.1

### Description of issue (in as much detail as possible)
When creating an ssh config file, the command always succeeds when run from anywhere within C:\, but always fails when run from anywhere within D:\, E:\, etc. Confirmed on multiple computers and on both Windows 1

[2022-05-26 03:09] navba-MSFT commented on #4897
@John-Vance Thanks for reaching out to us and sharing this feedback. Could you please share the below details ?

- What is the error you get while running the CLI command from a different drive ?
- Could you please run the command with --debug switch ?
- What is the AzCLI version you are using ?

Awaiting your reply.

[2022-05-26 05:26] navba-MSFT commented on #4869
@visingh-BRONGA I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-05-26 05:34] navba-MSFT commented on #4859
@wcrudeli The action is pending on you to follow the above mentioned action plan. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-05-26 05:34] #4859 closed

[2022-05-26 11:15] drimondi1 opened #4902 "az monitor app-insights web-test create monitor url with query string ( & )"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I tried to create a web-test for url with query string but the "&"  not allow to complete the request.
no problem with url whitout parameters.
no problem using the portal (with query string as well).

Thanks In advance for the support

**Command Name**
`az monitor app-insights web-test create
Extension Name: ap

[2022-05-26 11:25] yonzhan commented on #4902
monitor

[2022-05-26 13:18] fargozhu opened #4903 "[containerapp] az is no longer creating appcontainer with yaml support"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

When running
[code]

to create a containerapp using the declarative yaml file, I am getting the error `Invalid YAML provided. Please see https://aka.ms/azure-container-apps-yaml for a valid containerapps YAML spec.`

By comparing my yaml with the one documented by Microsoft [here](https://docs.microsoft.com/en

[2022-05-26 14:16] yonzhan commented on #4903
route to CXP team

[2022-05-26 15:00] panchagnula commented on #4903
@anthonychu thank you for checking. can we get the help yaml doc updated? https://aka.ms/azure-container-apps-yaml

[2022-05-26 15:08] fargozhu commented on #4903
It was, in fact, the `httpGet`. Thanks @anthonychu for the support.

[2022-05-26 17:47] anthonychu commented on #4903
Docs have been updated. Sorry for the inconvenience and thanks for reporting.

@panchagnula I’ll add an item to the CLI backlog to see if we can provide more details in the error message.

[2022-05-26 18:00] John-Vance commented on #4897
@navba-MSFT Thanks for the super fast response!

The successful output of the command when running from C:\ is:

PS C:\> az ssh config --ip 10.117.18.132 --file ./sshconfig
Generated SSH certificate C:\az_ssh_config\10.117.18.132\id_rsa.pub-aadcert.pub is valid until 2022-05-26 02:51:28 PM in local time.
C:\az_ssh_config\10.117.18.132 contains sensitive information (id_rsa, id_rsa.pub, id_rsa.pub-

[2022-05-26 22:15] yurych commented on #4856
calling rest method directly works for me, thank you!

[2022-05-27 02:57] navba-MSFT commented on #4856
@yurych Thanks for getting back. I am glad that the above suggestion works. As mentioned earlier, the workitem has been filed for the actual fix. There is no ETA for the fix now. We will now proceed with closure of this github issue for now. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-05-27 02:57] #4856 closed

[2022-05-27 04:41] navba-MSFT commented on #4897
@John-Vance I was able to fetch the sshconfig file from C:\ drive as well as D:\ drive. See below:

![image](https://user-images.githubusercontent.com/57353862/170630210-a3b8cde0-f5a6-4e8b-bac2-9081baa2f290.png)

I was using AzCLI 2.35.0 version. Could you please upgrade to the [most recent version of CLI ](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) (2.37.0) and then test again

[2022-05-27 08:00] #4723 closed

[2022-05-27 14:49] panchagnula commented on #4903
Closing this since the doc has been updated.

[2022-05-27 14:49] #4903 closed

[2022-05-27 21:18] harmen-msft opened #4908 "Request for new release of DnsResolver extension"
### Related command
N/A

### Extension name (the extension in question)
DnsResolver

### Description of issue (in as much detail as possible)
The initial extension was generated a while back here: https://github.com/Azure/azure-cli-extensions/pull/4676

The Swagger file for the service has been slightly updated and requires a new CLI extension to be generated and published: https://github.com/Azur

[2022-05-28 00:08] yonzhan commented on #4908
dnsResolver

[2022-05-29 22:44] asottile opened #4910 "`az webpubsub client start` errors with `TypeError: As of 3.10, the *loop* parameter was removed from Lock() since it is no longer necessary`"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Related command

[code]

### Extension name (the extension in question)

webpubsub

### Description of issue (in as much detail as possible)

appears this just needs an upgrade

I was able to work around by running (I'm in azure cloud shell):

[code]

[2022-05-29 23:33] yonzhan commented on #4910
route to CXP team

[2022-05-30 06:23] navba-MSFT commented on #4869
@visingh-BRONGA The action is currently pending on you to update your `aks-preview `extension by running the above command. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-05-30 08:49] navba-MSFT commented on #4897
@John-Vance I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-05-31 06:36] akashkeshari commented on #4756
Hi @stephybun ,

1. The command "az connectedk8s connect" will succeed if you provide a different arc resource name or delete the already created arc resource and provide the same name again. You cannot use the same name to arc onboard a new cluster since the arc resource might be corresponding to a different k8s cluster.
2. The public-private key pair generated by connectedk8s CLI is used by arc-

[2022-05-31 06:40] stephybun commented on #4756
@akashkeshari, thanks for the response. The link provided in 3. for the onboarding container tool returns 404. Is this repo public?

[2022-05-31 08:17] akashkeshari commented on #4756
It's not public yet. But I have just provided you read access. you may take a look, thanks

[2022-05-31 09:51] WiredSharp opened #4914 "az monitor scheduled-query list execution failed: cannot import name 'CaseInsensitiveEnumMeta'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor scheduled-query list
Extension Name: scheduled-query. Version: 0.5.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az moni

[2022-05-31 10:14] kairu-ms commented on #4914
`scheduled-query` 0.5.0 relies on new version of azure-core. Please upgrade azure-cli by command `az upgrade`.

[2022-05-31 10:14] #4914 closed

[2022-05-31 13:17] eehret opened #4915 "az ssh extension no longer displaying SSH banner correctly as of v1.1.1"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Related command
az ssh

### Extension name (the extension in question)
ssh

### Description of issue (in as much detail as possible)

In previous versions of az ssh extension, the SSH login banner was correctly displayed *while* the user logs in, and i

[2022-05-31 14:27] yonzhan commented on #4915
route to CXP team

[2022-05-31 15:07] John-Vance commented on #4897
Thanks, @navba-MSFT. I did an `az upgrade` to 2.37.0 but am still observing the same behavior:

![image](https://user-images.githubusercontent.com/84252756/171206712-1f5f4aec-8b54-44a7-ba3f-a083dc913ac2.png)

PS C:\> az ssh config --ip 10.117.18.132 --file ./sshconfig
C:\az_ssh_config\10.117.18.132\id_rsa already exists.
Overwrite (y/n)? y
Generated SSH certificate C:\az_ssh_config\10.117.18.132\i

[2022-06-01 05:11] navba-MSFT commented on #4897
@John-Vance Thanks for getting back. I tried with 2.37.0 version on my WIndows 10 OS and it worked fine again. I have 2 more action plans to isolatethis issue:

Plan 1:
Try to create a new SSH Public key and then run the same above command from C:\ and D:\ drive and check if that makes any difference:

If the above plan doesn't help, Could you please try reinstalling the `ssh` extension using the

[2022-06-01 08:26] Hyper200 commented on #4568
Hi @navba-MSFT

I'm not entirly sure what the native RDP from wsl via Azure CLI is but i'll go and do some digging and see. I have a work around in that i just use the azure CLI from the windows machine and use RDP on that, but i would rather keep my configurations from WSL where possiable.

[2022-06-01 09:48] kazeshini178 opened #4920 "Creating local user with public key failed to validate key"
### Related command
[code]

### Extension name
storage-preview

### Description of issue (in as much detail as possible)
When supplying the contents of a rsa `.pub` file to the `key` property, I get the below error.
I did notice the trailing `=` seem to get dropped in the output not sure if they are maybe getting dropped on input.
Error:
[code]

I've also tried base64 encoding the contents on the

[2022-06-01 14:17] sdolgin opened #4921 "aks-preview extension breaks --enable-defender parameter for aks command module"
### Related command
az aks update --resource-group myGroup --name myCluster --enable-defender

### Extension name (the extension in question)
aks-preview

### Description of issue (in as much detail as possible)
When trying to run the following with the aks-preview extension (0.5.76):
[code]
The output returns an error: `unrecognized arguments: --enable-defender`

When I remove the aks-preview ext

[2022-06-01 18:02] John-Vance commented on #4897
Thanks, @navba-MSFT. Using the `az sshkey create` command didn't have any effect:

I also observed the same issue when uninstalling/reinstalling the ssh extension:

Thanks so much for your continued help. Let me know if you need any logs or need me to try something else.

[2022-06-02 08:15] #4910 closed

[2022-06-02 08:53] lehmus commented on #4225
I have managed to deploy the endpoint now. The error messages and the documentation have improved recently, so it is easier to debug issues.

[2022-06-02 08:53] #4225 closed

[2022-06-02 14:14] engineering87 opened #4930 "az from PyPI connectedk8s connect error kube-config file"
## Describe the bug
I am working on the creation of a Kubernetes cluster on Azure ARC using Raspberry Pi with Linux Raspbian operating system. As reported in the issue [20476](https://github.com/Azure/azure-cli/issues/20476), the mode of installation of azure-cli on this architecture is through PyPI and virtual environment. azure-cli is successfully installed but when I try to connect to the clust

[2022-06-02 14:37] yonzhan commented on #4930
route to CXP team

[2022-06-02 16:54] tehret77 opened #4932 "`az aks addon list-available` fails with an exception"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks addon list-available
Extension Name: aks-preview. Version: 0.5.76.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks addon l

[2022-06-02 17:19] mithunshanbhag commented on #3966
We can close this issue as it's no longer occuring in the latest version of AZ CLI.

[2022-06-02 17:19] #3966 closed

[2022-06-02 23:29] yonzhan commented on #4920
storage

[2022-06-03 13:24] mmckechney opened #4936 "Error running 'az aks addon list-available'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks addon list-available
Extension Name: aks-preview. Version: 0.5.77.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks addon l

[2022-06-03 13:26] mmckechney commented on #4936
Duplicate of [#4932](https://github.com/Azure/azure-cli-extensions/issues/4932)

[2022-06-06 03:12] navba-MSFT commented on #4932
@tehret77 Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. I am able to reproduce this issue. We are looking into this issue. We will provide an update once we have more details on this.

[2022-06-06 13:00] YuanyuanNi commented on #4902
Hi:
     @drimondi1 'az monitor app-insights web-test create' can create monitor url with & from myside, the command I use as below,FYI :
az monitor app-insights web-test create -n {name} -l {loc} -g {rg} --enabled true --frequency 900 --web-test-kind {kind} --locations Id={location_id1} --defined-web-test-name {name} --http-verb {http_verb} --request-body {request_body} --request-url "https://www

[2022-06-06 16:18] vthiebaut10 commented on #4897
Hi @John-Vance,
I'm looking into your issue, and I can't repro it yet. It seems that the issue is happening in the [oschmod](https://pypi.org/project/oschmod/) module that we use to set the correct permissions to the generated AAD issued certificate. I looked at the oschmod code, and it looks like it is failing to get the DACL in the security descriptor for the certificate file.
I don't know what

[2022-06-06 16:23] John-Vance commented on #4897
Here's what I see for that command when running on C:

On D:, I just get this:

[2022-06-06 16:57] SatishBoddu-MSFT commented on #4915
@eehret   Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-06 17:33] vthiebaut10 commented on #4897
@John-Vance Thank you for sending this. Are you usually able to create text files on drive D: and edit the permissions? Can you five it a try? Just create a new dummy text file, save it in the D:, and then try to get the ACL using the same command you used begore (Get-ACL).

[2022-06-06 17:42] vthiebaut10 commented on #4897
@John-Vance I'm suspecting maybe you don't have enough permission to change security configurations on drive D:, and the certificate files are inheriting that. Run (Get-Acl D:).Access and check what kind of permissions you have there.

[2022-06-06 17:45] John-Vance commented on #4897
Thanks, I believe I found the issue. I got a similar result after creating a dummy file in D:\, but noted that D:\ is a FAT32 volume, which doesn't support ACLs. I carved out a separate NTFS partition at E:\ and tried it from there, and everything works as expected. Maybe this command only works when targeting filesystems that support ACLs?

[2022-06-06 17:50] vthiebaut10 commented on #4897
@John-Vance Great! I'm glad you found the issue. We will keep this in mind and see if we can support file systems that don't support security descriptors in future releases.

[2022-06-07 03:36] navba-MSFT commented on #4932
@tehret77 @mmckechney Could you please update your `aks-preview` extension ? This should resolve the issue.

Please follow this action plan and let me know if you face any issue. Awaiting your reply.

[2022-06-07 03:44] navba-MSFT commented on #4897
@vthiebaut10 Thanks for your assistance on this.

@John-Vance Thanks for identifying the cause sharing an update. We are happy that the issue is now addressed. We will proceed with archival of this thread. Feel free to reopen this thread if you need any assistance in future.

[2022-06-07 03:44] #4897 closed

[2022-06-07 06:33] santaji1986 opened #4947 "Broken link for AzureAutomationTutorial.ps1 in README.md"
Link is broken, url returns 404 for AzureAutomationTutorial.ps1 in [README.md](https://github.com/Azure/azure-cli-extensions/tree/main/src/automation#readme)
Please use Url checker in github actions to avoid such issues in future.

[2022-06-07 06:45] yonzhan commented on #4947
route to CXP team

[2022-06-07 08:01] #4717 closed

[2022-06-07 19:47] mmckechney commented on #4932
@navba-MSFT  -- the extension update worked and I can now list the addons! Thanks.

[2022-06-07 22:08] SatishBoddu-MSFT commented on #4915
Hello @eehret thanks for reporting this issue, we are routing this to the Service team's attention for further action.

[2022-06-08 02:40] navba-MSFT commented on #4932
@mmckechney Thanks for getting back. I am glad that the action plan helped you to resolve the issue.

@tehret77 Please follow the [above](https://github.com/Azure/azure-cli-extensions/issues/4932#issuecomment-1148157738) suggested plan to update your `aks-preview` extension. If you still face the same issue, feel free to reopen this thread. We would be happy to help.

[2022-06-08 02:40] #4932 closed

[2022-06-08 02:57] singvey999 opened #4953 "aks-preview version since 0.5.69 does not support multi AZs while add nodepool in China north3"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Related command

az aks nodepool add --name apl01 \

### Extension name (the extension in question)
aks-preview

### Description of issue (in as much detail as possible)
We found the aks-preview since 0.5.69 does not support multi AZs while add nodepoo

[2022-06-08 02:59] zorfling commented on #4798
I've just run into the same issue - pinning markupsafe does fix the issue. Can we pin it directly in the alias source so others don't have to do this manually?

For future Mac/Homebrew users, I needed to activate the az python virtualenv, then pip install MarkupSafe at the safe version.

[code]

[2022-06-08 02:59] singvey999 commented on #4953
We did the test with various aks-preview version and 0.5.68 may be the last version to support mutli AZs in China north3.
Would you please check this ?

vmadmin@reh-sharedservices-jumpbox-ubuntu:~$ az extension list
[
  {
    "experimental": false,
    "extensionType": "whl",
    "name": "aks-preview",
    "path": "/home/vmadmin/.azure/cliextensions/aks-preview",
    "preview": true,
    "version"

[2022-06-08 03:03] yonzhan commented on #4953
route to CXP team

[2022-06-08 05:51] mfsidanisha1 opened #4957 "az webapp create throwing errors after installing appservice-kube"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create
Extension Name: appservice-kube. Version: 0.2.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create --res

[2022-06-08 05:56] yonzhan commented on #4957
route to CXP team

[2022-06-08 09:28] VincentVerweij commented on #2593
Same issue here with `az devops project create --organization "https://dev.azure.com/myorg/" --name "myproject" --description "A multi-line description" --process "Agile" --source-control "Git" --visibility "private"`

After trying the above, I also tried adding in `&#013;` as a break character and `<br />` but that did not help either. Both show up in the UI as typed in the CLI.

Is there a way o

[2022-06-08 12:22] tehret77 commented on #4932
@navba-MSFT After the extension update it works for me too. Thanks!

[2022-06-08 23:58] StrawnSC commented on #4957
Hi, based on the version number of the appservice-kube extension it looks like you're still using the private extension from before public preview. The current highest release number for the public preview version is `0.1.6`.

Could you install the public preview appservice-kube extension by running:
`az extension remove -n appservice-kube` followed by `az extension add -n appservice-kube`

Please

[2022-06-08 23:58] #4957 closed

[2022-06-09 13:52] rotorr opened #4965 "https://docs.microsoft.com/en-us/azure/aks/devops-pipeline?pivots=pipelines-yaml&tryIt=true&source=docs#code-try-1"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create
Extension Name: aks-preview. Version: 0.5.51.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-gro