[2020-10-30 13:20] bashscr opened #2594 "Azure Blueprint Artifact Update"
Hi,

Going through the Azure CLI for using the Blueprint module, I see that you can add a --depends-on to a specific artifact. However, the CLI doesn't seem to support removing this property or setting it to be empty: []. When you try to set the artifact's "dependsOn" property to empty or "", it gives an error when trying to publish the new blueprint. The only way to fix this, that I have found so

[2020-10-30 15:08] yonzhan commented on #2593
devops

[2020-10-31 03:39] yonzhan commented on #2588
databricks

[2020-10-31 04:02] michaelhambe commented on #2588
Sorry, yes - a databricks cluster

[2020-11-01 01:57] GitMje opened #2596 "Is it possible to query Log Analytics via the az cli with a saved query?"
I can’t tell from the documentation, is it possible to run a saved Log Analytics Query from this CLI command?

If not, a useful enhancement would be to enable the use a saved query in addition to the ability to execute queries in-line.  The queries get long and cumbersome to maintain outside of Log Analytics.

If it is, however, possible to run a saved query, would you mind updating the documentat

[2020-11-01 02:07] yonzhan commented on #2596
add to S179

[2020-11-01 14:21] samnayak1979 opened #2597 "AKS ingress-Controller Addon cluster creation issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create
Extension Name: aks-preview. Version: 0.4.64.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create -n {} -g {} --

[2020-11-01 14:35] yonzhan commented on #2597
aks

[2020-11-02 01:35] yungezz commented on #2594
hi @fengzhou-msft could you pls help to look at the issue? thanks

[2020-11-02 01:37] yungezz commented on #2588
hi @fengzhou-msft could you pls help to check: creating new cluster is supported right?

[2020-11-03 07:13] haroldrandom commented on #2506
Closed as inactive.

If what you mean is to list more properties than current when displaying as a table. Feel free to reopen and I will change the PR title.

[2020-11-03 07:13] #2506 closed

[2020-11-03 15:11] DaveRuijter opened #2613 "The parameter for --administration-members is incorrectly stated as optional"
For the function 'az powerbi embedded-capacity create', the parameter for --administration-members is incorrectly stated as optional.
If you leave this parameter out, it will give this error:
**BadRequestError: At least one capacity administrator is required**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edf4a4a9-8ff

[2020-11-03 15:24] tonswart opened #2614 "Identity is empty after creating Azure Datafactory with Azure DevOps pipeline"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
datafactory                        0.2.0

### Description of issue (in as much detail as possible)
When creating a Azure datafactory using CLI and a service connection in Azure DevOps, the identity fields is $

[2020-11-03 15:25] mickelsonm opened #2615 "az logic workflow list not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az logic workflow list
Extension Name: logic. Version: 0.1.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az logic workflow list`

#

[2020-11-03 23:08] yonzhan commented on #2613
powerbi

[2020-11-03 23:10] yonzhan commented on #2614
datafactory

[2020-11-03 23:11] yonzhan commented on #2615
logic

[2020-11-05 01:40] #2093 closed

[2020-11-05 02:23] fengzhou-msft commented on #2588
@michaelhambe Azure CLI only supports workspace management operations for now. You may use the [databricks-cli](https://docs.microsoft.com/en-us/azure/databricks/scenarios/databricks-cli-from-azure-cloud-shell) to manage clusters.

[2020-11-05 03:17] yungezz commented on #2614
hi @fengzhou-msft could you pls help here?

[2020-11-05 13:36] ctaggart opened #2630 "update to @autorest/python 5.x for vmware"
### Extension name (the extension in question)
vmware

### Description of issue (in as much detail as possible)
The autorest python version needs to be updated. It is currently using [3.0.62](https://www.npmjs.com/package/@microsoft.azure/autorest.python/v/3.0.62), but it has a problem creating empty json Azure/autorest.python#653.  Newer versions like [5.4.0](https://www.npmjs.com/package/@autore

[2020-11-05 14:15] yonzhan commented on #2630
vmware

[2020-11-05 14:26] yonzhan commented on #2630
@jsntcy for awareness.

[2020-11-05 21:11] meyetman commented on #1625
Hi @mariamedp, we recommend everyone to use file dataset upload directory https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.data.dataset_factory.filedatasetfactory?view=azure-ml-py#upload-directory-src-dir--target--pattern-none--overwrite-false--show-progress-true- to upload data, not datastore upload. File dataset does allow overwrite to be true/false. Thanks! #please-close

[2020-11-05 21:43] meyetman commented on #1855
Thanks @dbradish-microsoft ! We have committed this change and it should appear in the docs within 2 weeks.

[2020-11-05 21:46] #1855 closed

[2020-11-05 21:46] #1625 closed

[2020-11-05 22:23] lostmygithubaccount commented on #1573
@saroup are you still facing this issue?

[2020-11-05 23:27] brendalee commented on #2346
Did this issue happen on other compute targets as well?

[2020-11-06 08:00] jiasli opened #2634 "[Auth] Regenerate vendored SDKs to comply with the correct `credential_scopes` handling logic"
Derived from https://github.com/Azure/azure-cli/pull/15806

Some old Track 2 SDKs may have 2 issues when calling `get_token`:

1. Empty scopes
2. Multiple scopes

Both are incorrect logic. The correct `credential_scopes` handling logic is that Track 2 SDK should maintain **one and only one scope** as `credential_scopes`.

Please take the correct `azure-mgmt-resource` resource SDK as an example and

[2020-11-06 08:16] jbm00n opened #2635 "Given example doesn't work"
It seems that the "timestamp" is a wrong column name. Got it working with "TimeGenerated" instead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0fd6a58-ac1a-fa45-8d96-579b4af36499
* Version Independent ID: 4098ca97-1b85-eb29-18e9-e6f0495fd030
* Content: [az monitor log-analytics](https://docs.microsoft.com/en-us/cli/

[2020-11-06 09:07] haroldrandom commented on #2347
Closed as inactive

[2020-11-06 10:15] chrisfcarroll commented on #2346
Hi Brenda. Yes. I've re-titled the issue (eventually!) to reflect my previous comment. The problem arises from a mismatch between what the documentation says and what the cli tool actually does.

**Scenario A, Failure:**
- I follow the az ml cli tutorial or reference.
- I attach a folder called `myname` with `az ml folder attach`
- I create a runconfig and call it `.azureml/myname.runconfig`
- I r

[2020-11-06 11:22] yonzhan commented on #2634
Auth

[2020-11-06 16:17] yonzhan commented on #2635
Monitor

[2020-11-06 18:09] SturgeonMi commented on #2360
Hi Senja,

The arguments should be like below. And you can find [document here.](https://docs.microsoft.com/en-us/cli/azure/ext/azure-cli-ml/ml/datastore?view=azure-cli-latest#ext_azure_cli_ml_az_ml_datastore_attach_blob)
az ml datastore attach-blob --account-name
                            --container-name
                            --name
                            [--account-key]

[2020-11-06 18:11] SturgeonMi commented on #2360
Are you still getting this error?

[2020-11-09 17:08] iviark opened #2646 "Update Cli Extensions for Healthcare APIs"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

healthcareapis

healthcareapis has been updated to have private link and byok capabilities, these need to be added to cli

-----

[2020-11-09 17:12] rastala commented on #883
@eXXL Thank you for your feedback! I added this feature to our product backlog.

[2020-11-09 17:13] rastala commented on #883
#please-close

[2020-11-09 17:13] #883 closed

[2020-11-09 22:59] yonzhan commented on #2646
Healthcare

[2020-11-10 02:49] yungezz commented on #2615
hi @yonzhan `Logic` RP is transferred from Rodge's team to your team :)
Desktop Virtualization and Logic.

[2020-11-10 07:26] jiasli commented on #2461
I installed `azure-cli-ml` with

[code]

Judging by the error `'MSIAuthentication' object has no attribute '_token_retriever'`, I searched for the usage of `_token_retriever` under `~\.azure\cliextensions\azure-cli-ml`. There are 2 occurrences which may cause this issue:

- `azureml\core\authentication.py:1820`
- `azureml\core\authentication.py:1869`

[code]

This is exactly the same coding fault

[2020-11-10 07:30] arrownj opened #2649 "Support automatically download ARM template for given resource"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
cli-translator

### Description of issue (in as much detail as possible)
Currently user has to download resource template manually from portal and then use cli-translator command to translate it to executable

[2020-11-10 08:29] yonzhan commented on #2615
logic

[2020-11-10 08:36] yonzhan commented on #2649
cli translator

[2020-11-10 21:34] yiyiguo commented on #1988
@gxyjenny

[2020-11-10 21:44] yiyiguo commented on #654
@jlian @philmea

[2020-11-10 22:29] jlian commented on #654
@gxyjenny who said she could help

[2020-11-10 23:28] digimaun commented on #624
Hi @scapri , I realize this is an old issue. Are you still having problems? There have been a number of improvements to the monitor-events command since the submission date of this issue and I would first recommend uninstalling the legacy extension `azure-cli-iot-ext`  and installing the latest IoT extension which is now called `azure-iot`.

Then there are a couple common trouble shooting steps ar

[2020-11-10 23:34] scapri commented on #624
Hi, thanks for the update!

We’re not working on that project anymore, but I’m glad to hear that the problem may have been resolved.  The next time we are working on Azure, I will uninstall the old extension, and try the new one.  Is there a quick cheatsheet for doing that? (I haven’t been doing anything in the cloud lately, and Azure skills are getting a bit rusty – I’ll use this email to do the

[2020-11-10 23:57] digimaun commented on #624
Sounds good thank you. For a cheat sheet I'd recommend the IoT extension repo's [install guide](https://github.com/Azure/azure-iot-cli-extension#installation) - the uninstall legacy extension step (if it applies) is in the [news section](https://github.com/Azure/azure-iot-cli-extension#news).

But to be doubly sure here are the condensed steps
1. Install/update to the latest version of [Azure CLI]

[2020-11-10 23:57] #624 closed

[2020-11-11 05:03] scapri commented on #624
Thanks so much!  You folks at Azure have been great to work with!

Sandra
---
Sandra Capri
[signature_1102706315]
3380 W Americana Terrace #290
Boise, ID 83706
www.ambientsensors.com<http://www.ambientsensors.com/>

From: Paymaun <notifications@github.com>
Reply-To: Azure/azure-cli-extensions <reply@reply.github.com>
Date: Tuesday, November 10, 2020 at 4:57 PM
To: Azure/azure-cli-extensions <azure

[2020-11-11 12:36] aniesz opened #2656 "Service Principal fails to create subscription using az cli"
I used the description from:
https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/programmatically-create-subscription?tabs=rest-getEnrollments%2Cazure-cli-EA%2Crest-getBillingAccounts%2Crest-getBillingProfiles%2Cazure-cli-MCA%2Crest-getBillingAccount-MPA%2Crest-getCustomers%2Crest-getIndirectResellers%2Crest-MPA

to create a "Subscription under a specific enrollment account" with

[2020-11-11 12:38] yonzhan commented on #2656
add to S179

[2020-11-11 16:11] jochenvw opened #2657 "Unclear what I can achieve with 'az devops service-endpoint update'"
I'm looking for a way to update the service principal password my existing service connection to Azure RM.
I thought `az devops service-endpoint update` could perhaps help me out, but I don't see how.

Is the _only_ thing you can do with `az devops service-endpoint update` is toggle `enable-for-all` ? Is it not possible to update the `--service-endpoint-configuration` property ( in the `create` co

[2020-11-12 02:25] yungezz commented on #2657
ask on how to change Devops service connection credential. route to appropriate team.

[2020-11-12 02:26] yungezz commented on #2656
reassign to @fengzhou-msft , this is account extension.

[2020-11-12 05:31] #1640 closed

[2020-11-12 13:19] cocowalla commented on #2497
Having the same issue, and haven't found a workaround, at least not with Azure CLI

[2020-11-12 14:42] cocowalla commented on #2497
I figured out a work around until this is fixed properly:

[code]

If you have more backend pools or/and backends, you can run it multiple times, changing the `[0]` index as needed.

[2020-11-13 16:48] davidbyoung opened #2670 "az monitor scheduled-query lacks explanations of the acceptable conditions"
### Extension name (the extension in question)
az monitor scheduled-query create

### Description of issue (in as much detail as possible)

-----

[The documentation](https://docs.microsoft.com/en-us/cli/azure/ext/scheduled-query/monitor/scheduled-query?view=azure-cli-latest) shows a `--condition` parameter for the `create` and `update` commands, but the syntax appears to be unique to the az comma

[2020-11-13 17:34] yonzhan commented on #2670
monitor

[2020-11-13 21:50] MayMSFT commented on #1565
Sorry for the late reply.

Here is a good documentation that shows how to define dataset via CLI:
https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-train-deploy-model-cli#define-the-dataset

To checkout the template of the dataset yaml, you can run:
[code]

[2020-11-14 17:32] chrisfcarroll commented on #1565
That is indeed fine documentation about datasets but this Issue is not about datasets?  It is about “run configuration file and hyperdrive configuration file”.
(I bumped it when I was struggling making a runconfig work)

[2020-11-15 04:24] yonzhan commented on #2649
cli-translator

[2020-11-16 01:27] yckwan opened #2673 "az network firewall network-rule create not working"
Command stuck
![image](https://user-images.githubusercontent.com/52000447/99203551-e35a2400-27ed-11eb-88c2-a499df60c7e7.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a90f7721-6e37-012e-a118-277d5c113f65
* Version Independent ID: c89a7d07-fc9d-748c-d562-2ec9f0295e15
* Content: [az network firewall network-rule](ht

[2020-11-16 01:41] yckwan commented on #2673
az : Command arguments: ['network', 'firewall', 'network-rule', 'create', '--collection-name', 'DEV-DMS', '--destination-ports', '80, 443, 8080',
'--firewall-name', 'SEA-SHARED-FE-AF', '--name', 'web', '--protocols', 'TCP, UDP, ICMP, Any', '--resource-group', 'SEA-SHARED-NETWORK-RG', '--debug']
At C:\Portable\Github\FirewallRules\Execute.ps1:24 char:1
+ az network firewall network-rule create --co

[2020-11-16 01:47] yonzhan commented on #2673
network

[2020-11-16 01:58] yckwan commented on #2673
az extension add -n azure-firewall
Run this to resolve.

[2020-11-16 01:58] #2673 closed

[2020-11-16 05:12] yungezz commented on #2239
hi @anuragdalmia is there any update on this? thanks

[2020-11-16 07:26] qwordy commented on #2207
@swbae31 Can you have a look? Thanks

[2020-11-16 17:29] peterjohnsonme commented on #2497
Thank you so much for pointing me in the right direction here.  I used it, but prefer the syntax available to us right on the front-door resource itself instead of the general "az resource update" command (here, parameterized in PowerShell):

[code]

[2020-11-16 18:24] cocowalla commented on #2497
@peterjohnsonme agreed, that's a better way (docs for `az network front-door update` are practically non-existent, so I hadn't realised it could be used like this) 👍

[2020-11-16 18:47] rastala commented on #2378
Routing to MLOps area to look at the CLI consistency issues.

[2020-11-17 02:08] amjads1 commented on #2207
Looking into the issue.

[2020-11-17 09:01] fengzhou-msft commented on #2656
@aniesz can you update to the latest version of Azure CLI? It looks like that the `account` extension relies on a newer version of `azure-mgmt-core`.

[2020-11-17 10:17] aniesz commented on #2656
Thank you @fengzhou-msft , this solved the issue.
I should have updated to the latest az CLI version before opening the issue.

[2020-11-17 10:19] #2656 closed

[2020-11-18 06:08] amjads1 commented on #2207
Assigning to Avi to look into the issue.

[2020-11-18 12:28] Bozhong68 commented on #1647
Hi all, this should work now in the latest SDK.

[2020-11-18 12:31] Bozhong68 commented on #1647
@DebFro please close, not sure why I couldn't close it.

[2020-11-18 12:42] #1647 closed

[2020-11-18 13:41] Xaptcha opened #2692 "az spring-cloud app deploy throws error after hard stopping the last deploy with control+c"
Can be deleted, my failure I didn't navigate into the correct folder. Your feedback feature iss too convenient ;)

[2020-11-18 13:44] #2692 closed

[2020-11-18 13:44] Xaptcha commented on #2692
Can be deleted, my failure I didn't navigate into the correct folder. Your feedback feature iss too convenient ;)

[2020-11-18 20:20] ekpgh opened #2695 "Add information about values for 'nfs3-usage-model'"
There's a required usage model option, but no information about what the options are.

We need to tell users two things
1) what strings can be used
2) what the strings mean so they can choose the correct one (Descriptions are here - https://docs.microsoft.com/en-us/azure/hpc-cache/hpc-cache-add-storage?tabs=azure-cli#choose-a-usage-model - but the names in the portal are probably different from th

[2020-11-18 21:53] yonzhan commented on #2695
hpc cache

[2020-11-19 05:12] qwordy commented on #2649
https://docs.microsoft.com/en-us/rest/api/resources/resourcegroups/exporttemplate

[2020-11-19 20:18] jfred147 opened #2699 "image-copy invalid for some regions"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
image-copy

### Description of issue (in as much detail as possible)
Some locations appear to be invalid inputs as target locations. For example, running --target-location brazilsoutheast, gives

output: BadRe

[2020-11-20 02:55] bowang-666 commented on #2287
Issue fixed in https://github.com/Azure/azure-cli-extensions/pull/2681
https://github.com/Azure/azure-cli-extensions/pull/2681/files#diff-e52249226257440da9c5b786000c888c8ef692b06bc2bad03fb7807492a417c0
FYI @arrownj

[2020-11-20 03:18] #2287 closed

[2020-11-20 03:23] arrownj commented on #2313
The extension release pipeline has been updated.

[2020-11-20 03:23] #2313 closed

[2020-11-20 03:28] arrownj commented on #2239
The doc has been updated in https://github.com/MicrosoftDocs/azure-docs-cli/commit/c7d0fc1db1a7491b2b2097b55650d54242416065#diff-389258f97efd98c6085e047fe3f0cecfe2c3f9ea1a164eb15098cdaaef3bcbf0, and the typo no longer exists.

[2020-11-20 03:28] #2239 closed

[2020-11-20 04:42] mikebranstein opened #2701 "Azure Arc connectedk8s support for arm64"
### Extension name (the extension in question)
connectedk8s

### Description of issue (in as much detail as possible)
Configuration:
- Platform: Raspberry Pi 4
- OS: Ubuntu Server 20.10
- K8s: v1.19.4

I'm trying to enroll my Raspberry Pi 4 K8s cluster in Azure Arc:

`> az connectedk8s connect --name <name> --resource-group <resource group> --location eastus`

The enrollment times out and all pods

[2020-11-20 12:30] djpugh opened #2704 "Azure Devops Security Group from AAD documentation"
Unclear documentation on az devops security group create from AAD group

Duplicate of https://github.com/Azure/azure-cli-extensions/issues/1287

Suggest adding the information from https://github.com/Azure/azure-devops-cli-extension/issues/667 to the documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5348dfb5

[2020-11-20 22:49] maertendMSFT commented on #2329
Known issue, please close as a dupe.

[2020-11-21 02:34] yonzhan commented on #2701
connectedk8s

[2020-11-21 02:39] yonzhan commented on #2704
Devops

[2020-11-21 02:41] #2329 closed

[2020-11-21 21:43] #204 closed

[2020-11-22 07:34] djaus2 opened #2705 "az iot central app device-twin : Update documentation for Aug update"
CLI improvements
To expand the capabilities of the CLI, we've re-organized the commands in the azure-iot extension. New commands include az iot central user, az iot central api-token, and az iot central device compute-device-key to generate a device SAS key for provisioning.

Two commands have moved to a new area:

**az iot central app device-twin has moved to az iot central device twin.
az iot ce

[2020-11-22 11:51] yonzhan commented on #2705
iot central

[2020-11-23 02:50] yungezz commented on #2699
hi @qwordy could you pls help to have a look? thanks

[2020-11-23 03:04] qwordy commented on #2699
@jfred147 Can you add "--debug" to command and attach output here? I'll check which step fails.

[2020-11-23 08:14] shawnxzq commented on #2614
@fengzhou-msft Any ideas on this? Is there any difference between CLI command and PS command?
@tonswart Please use PS command to work around the issue for now, thanks!

[2020-11-23 14:27] adinaclaudia commented on #2320
I get same error when i do `az aks create ... --enable-addons ingress-appgw  --appgw-name {} --appgw-subnet-prefix {}`
Versions used:
[code]
Any way to work around this?

[2020-11-23 19:05] scgbear commented on #1695
<details>
<summary>Internal Tracking</summary>
devdivcsef 358504
</details>

[2020-11-23 22:32] scgbear commented on #2517
<details>
<summary>Internal Tracking</summary>
devdivcsef 396067
</details>

[2020-11-24 03:27] CharlesAbetz opened #2711 "Setting AD-Admin via AZ CLI/Powershell for Synapse"
Hi

Looking at the either powershell or az cli I can't find what I am after for setting the AD Admin for the synapse workspace/sql pool.

az synapse workspace create or New-AzSynapseWorkspace

OR

az synapse sql pool create or New-AzSynapseSqlPool

WIthout setting this I am finding I am getting inaccessible sql pools (something is not working with the Grant) when creating them through Automation (

[2020-11-24 03:40] #2465 closed

[2020-11-24 06:58] haroldrandom commented on #2465
@Mahesh-MSFT You could upgrade the extension and try `az network p2s-vpn-gateway vpn-client generate` to get the URL to download VPN client configuration

[2020-11-24 14:58] bashscr commented on #2594
Hi, I just wanted to check back in @yungezz @fengzhou-msft with both of you. I see a new issue has been created and awaiting a merge. I'm glad to see the progress here. Additionally, I would like to inquire about being able to export the blueprint and artifacts from the Azure CLI like you can with `Export-AzBlueprintWithArtifact`. Is there any plans for this? We are trying to keep consistency and

[2020-11-24 22:23] CharlesAbetz opened #2716 "GrantSqlControlToManagedIdentity parameter not available"
Please add GrantSqlControlToManagedIdentity to az synapse workspace module.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a8ce4bb-b234-dc91-cd2c-e5587caf6169
* Version Independent ID: 9f08c3b1-5ac8-81d3-02e4-f7111cfe0781
* Content: [az synapse workspace](https://docs.microsoft.com/en-us/cli/azure/ext/synapse/synapse/

[2020-11-25 01:50] yungezz commented on #2594
thanks for the feedback @bashscr . Linked PR will merged soon after reviewing finished. To export the blueprint and artifacts, do you mind to create a new issue to track the request so that we can planning it accordingly? thanks.

[2020-11-25 14:43] bashscr opened #2723 "Export Azure Blueprint with Artifacts"
Hi @yungezz,

I am creating a separate issue for easier tracking. I see a new issue has been created and awaiting a merge. I would like to inquire about being able to export the blueprint and artifacts from the Azure CLI like you can with Export-AzBlueprintWithArtifact. We are trying to keep consistency and use the Azure CLI as much as possible, and would prefer not to rely on having to install Po

[2020-11-25 14:43] bashscr commented on #2594
Sure thing, and thank you @yungezz I just made a new issue here: [Export Blueprints](https://github.com/Azure/azure-cli-extensions/issues/2723)

[2020-11-26 02:03] #2594 closed

[2020-11-26 02:28] yungezz commented on #2723
thanks for the request. will plan accordingly.

[2020-11-26 02:54] fengzhou-msft commented on #2594
@bashscr blueprint 0.2.1 is released. Now you should be able to remove the dependency with `--depends-on` appending no values in update commands.

[2020-11-26 20:12] bashscr commented on #2723
Thanks for the swift response @yungezz - have a great, safe holiday!

[2020-11-26 20:19] bashscr commented on #2594
Can confirm everything is working from my end, thanks a lot! @fengzhou-msft

[2020-11-27 02:23] fengzhou-msft commented on #2484
@JariSal the extension is not installed in standard python package location, you can check with `az --version`. By default it's `~/.azure/cliextensions`. Please install its dependency packages under `~/.azure/cliextensions/azure-devops/`

[2020-11-27 02:49] fengzhou-msft commented on #2484
`azure-devops` currently specifies 3 dependencies, only `distro` is not in `azure-cli` (the version requirement for `python-dateutil` is different, not sure if it will cause problems). @NenoLoje you'll need to install the `distro` package with `--target ~/.azure/cliextensions/azure-devops`

https://github.com/Azure/azure-cli-extensions/blob/3e711c42dbe336230ba3274fe3cf77a43b25c48b/src/index.json#L

[2020-11-27 02:53] fengzhou-msft commented on #2484
Route to service team to see if they can remove the `msrest` and `python-dateutil` dependencies which are already installed with the `azure-cli` package.

[2020-11-27 09:50] Hidjikimi opened #2727 "Cloud shell "az datamodel create" issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Creating datamodel from Cloud Shell (bash)

**Command Name**
`az datamodel create
Extension Name: aidls. Version: 0.1.20201025.572.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az datamodel cr

[2020-11-27 15:33] yonzhan commented on #2727
datamodel

[2020-11-27 18:15] arun-022 opened #2728 "AGIC brownfield deployment fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks enable-addons
Extension Name: aks-preview. Version: 0.4.67.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons

[2020-11-27 18:25] arun-022 commented on #2320
I also have the same issue when i try to enable the addons

Versions used:
{
  "azure-cli": "2.15.1",
  "azure-cli-core": "2.15.1",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "aks-preview": "0.4.67"
  }
}

[2020-11-28 00:50] yonzhan commented on #2728
aks

[2020-11-28 16:44] jloaiza opened #2729 "aks-preview always requires a SP even if you want to use managed identities"
### Extension name (the extension in question)
aks-preview

### Description of issue (in as much detail as possible)
The extension requires AAD permissions to create a service principal even when you want to use a managed identity.
AKS managed-identity creation procedure differs from the extension to the general availability command.

Here is the line that **always** checks for the service princip

[2020-11-29 01:36] yonzhan commented on #2729
aks-preview

[2020-11-30 17:57] v-strudm-msft commented on #2360
Should you still have questions regarding this issue, please comment here and reopen it. We're closing it for now.

[2020-11-30 17:57] #2360 closed

[2020-12-01 13:28] hitochan777 opened #2734 "How to send binary data with "az iot device c2d-message"?"
Can I send binary data with `az iot device c2d-message`, that is represented with HEX like `0x86 0x54 0x32`?
I converted a string to another with backslash escapes interpreted and then feed it to `az iot device c2d-message` command.
But I got UnicodeEncodeError as shown below. Will it work if I specify proper content encoding?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-12-01 23:22] yonzhan commented on #2734
iot

[2020-12-02 08:01] #1654 closed

[2020-12-02 09:01] fengzhou-msft opened #2740 "Use the min azure cli version in CI"
Currently we use the dev branch of `azure-cli` to test extensions in CI. The extension has a `azext.minCliCoreVersion` defined for compatible `azure-cli` versions and sometimes we may use the new features of the latest `azure-cli` version but forgot to bump the `azext.minCliCoreVersion` (https://github.com/Azure/azure-cli/issues/16113).

If we install the min version of `azure-cli` in CI, we can d

[2020-12-02 11:04] yonzhan commented on #2740
CI

[2020-12-02 23:46] jeffyoungstrom commented on #1602
What @luisve1427 said. Need a way to get a list of artifacts in a feed. Both to avoid collisions when uploading as per the issue description, but also to allow scripts to decide what to download based on availability.

[2020-12-03 13:20] B4Art opened #2747 "Explenations differ a bit"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
az pipelines build tags []

### Description of issue (in as much detail as possible)
https://docs.microsoft.com/en-us/cli/azure/pipelines/build/tag?view=azure-cli-latest
https://docs.microsoft.com/en-us/cli/az

[2020-12-03 13:45] yonzhan commented on #2747
pipelines

[2020-12-03 13:54] sriranganatha opened #2748 "AGIC add-on failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks enable-addons
Extension Name: aks-preview. Version: 0.4.68.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons

[2020-12-03 14:09] yonzhan commented on #2748
aks

[2020-12-04 02:22] xinyi-joffre opened #2751 "az spring-cloud app logs should support --deployment flag"
### Extension name (the extension in question)
spring-cloud

### Description of issue (in as much detail as possible)

Currently, it is difficult to get logs from the staging slot of a spring cloud app. It would be great if `az spring-cloud app logs` could support a --deployment flag, similar to other app commands.

I am happy to take a first stab at the work to enable this feature.
-----

[2020-12-04 03:55] xinyi-joffre commented on #2751
FYI, @selvasingh

[2020-12-04 08:44] fengzhou-msft commented on #2335
CMD has some [bizarre behavior](https://superuser.com/a/318041). You need to add call to each of the command to avoid termination after running the commad. So you should have the follwoing in try.bat:

[2020-12-04 08:44] qwordy commented on #2380
@diegodct

[2020-12-04 08:46] fengzhou-msft commented on #2335
Close as this issue is not caused by CLI commands.

[2020-12-04 08:46] #2335 closed

[2020-12-04 12:03] yonzhan commented on #2751
spring-cloud

[2020-12-04 13:11] adinaclaudia commented on #2320
I fixed this by adding `--enable-managed-identity`. It seems this is mandatory, although it is not clearly specified in the documentation: the documentation says it supports managed identities, not that it's required.

[2020-12-04 14:30] miwithro commented on #2320
@akshaysngupta can you comment here?

[2020-12-04 17:57] akshaysngupta commented on #2320
Can you try updating the extension using `az aks extension update -n aks-preview` and see if the problem persists ? Latest version is `.69`.

[2020-12-04 20:29] jochav commented on #2148
Thank you for looking at this, we are working on updating the documentation.

[2020-12-05 05:27] #2030 closed

[2020-12-05 13:39] hitochan777 commented on #2734
I think this issue is more of an enhancement request in `az iot` command and it is not related to documentation.
So I will close this issue and instead open new issue in [iot cli extension repository](https://github.com/Azure/azure-iot-cli-extension).

[2020-12-05 13:39] #2734 closed

[2020-12-07 02:27] yungezz commented on #2751
add @sophiaso to help check the issue

[2020-12-07 02:33] xinyi-joffre commented on #2751
Thanks, the PR is here: https://github.com/Azure/azure-cli-extensions/pull/2753

[2020-12-07 05:22] #2123 closed

[2020-12-07 07:14] #466 closed

[2020-12-07 07:15] yungezz commented on #733
close since no response. Feel free to create new issue if met any error.

[2020-12-07 07:15] #733 closed

[2020-12-07 07:16] #1643 closed

[2020-12-07 11:09] ottnorml opened #2762 "az ssh vm does not work on private VM"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I was trying to access a Bastion Host, wich has no public IP address.

**Command Name**
`az ssh vm
Extension Name: ssh. Version: 0.1.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az ssh vm -

[2020-12-08 02:18] yungezz commented on #2762
hi @fengzhou-msft could you pls have a look? thanks

[2020-12-08 16:58] abelal83 opened #2769 "how to change between production and sandbox"
Does not detail how to change APNS from production to sandbox, any params available for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c327e6d0-f90d-3fa5-611e-660b6e266849
* Version Independent ID: a415a08c-9f0d-1726-1c2f-71b3c63f39d6
* Content: [az notification-hub credential apns](https://docs.microsoft.com/en-

[2020-12-08 18:04] JFolberth commented on #2088
@wilcobmsft  @jiasli I have created a PR https://github.com/MicrosoftDocs/azure-docs-cli/pull/2334 to update this documentation.  Hope this is in the correct space

[2020-12-09 02:17] yungezz commented on #2769
hi @fengzhou-msft could you pls have a  look?

[2020-12-09 04:17] jiasli commented on #2088
Thanks, @JFolberth for the contribution. Unfortunately, [MicrosoftDocs/azure-docs-cli](https://github.com/MicrosoftDocs/azure-docs-cli) is not the correct place to fix this issue. We need to fix it from the source code. Commented at https://github.com/MicrosoftDocs/azure-docs-cli/pull/2334#discussion_r538993082.

[2020-12-09 09:02] AlexeyDP opened #2770 "Flag "enable-for-all" omitted for updating service connection"
I am trying to grant access for all pipelines to Azure Docker registry service connection in AzureDevops usin az cli.
Using command below:
[code]

Script executed without any exceptions but "--enable-for-all true" omitted. As a result, no pipelines have access to the connection.  Previously it worked fine. Also, it is possible to grant access through UI

[code]
---
#### Document Details

⚠ *Do not

[2020-12-09 09:36] yonzhan commented on #2770
devops

[2020-12-09 17:17] nameier opened #2772 "Issue updating Azure CLI extensions"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az extension update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az extension update -n {}`

## Expected Behavior

## Environment Sum

[2020-12-09 17:35] lostmygithubaccount commented on #2039
@sauryadas

[2020-12-09 17:44] sauryadas commented on #2039
@karlti this i believe is specifically for an  AKS with a BYO VNET. It is this VNET that the aml inferencing pods (scoring fe, deployment) are deployed on. They cannot be deployed on a different vnet.

Feel free to close this and send me an email internally

[2020-12-09 17:52] melmullen commented on #2021
I believe this was addressed back in October. Please close the ticket if you concur.

[2020-12-09 19:31] avirishuv commented on #2207
hi @rjmccallumbigl thanks for the recommendation, we are adding this to the feature backlog, however we do not have a timeframe to share right now for when this will be picked up.

[2020-12-09 19:38] rjmccallumbigl commented on #2207
That's awesome! Thanks team.

[2020-12-09 21:07] michaelschmit commented on #2529
I am running into this same issue.  What is likely happening is that the original OS disk that was used to create the image no longer exists.  This error is occurring for me as well because I am using packer to generate the image.  Packer creates a temporary resource group, creates a VM, takes an image, then puts the image in the specified resource group.  Finally, Packer cleans up the temporary V

[2020-12-10 00:46] jochav commented on #2148
ETA for documentation update is Jan 2021.

[2020-12-10 00:50] jochav commented on #1935
Hi @niswitze, sorry for the delay, we are in the process of validating this feature request. Will come back to you soon with a decision and possible ETA.

[2020-12-10 06:11] yungezz commented on #2772
route to appropriate team

[2020-12-10 09:00] fengzhou-msft commented on #2341
@dablon can you take a look at the [troubleshooting doc for cffi](https://github.com/Azure/azure-cli/blob/dev/doc/install_troubleshooting.md#errors-on-install-with-cffi-or-cryptography)? It may help soleve your issue.

[2020-12-10 13:58] toothache commented on #2593
I have the same problem. I use az cli in powershell to push universal packages:
`az artifacts universal publish --organization <> --feed <> --name <> --version <> --path <> --description <>`

And use the following ways to define multi line description:
| Command Line | Output (Json) |
| ----------- | ----------- |
| --description "a`nb"| { "Description": "a", ...} |
| --description "a`\nb"| { "Des

[2020-12-10 14:02] nameier commented on #2772
Hello @yungezz

This is happening on all extensions I attempt to update through Azure CLI.  Other examples are image-copy-extension and maintenance:

[code]

[2020-12-10 17:19] brendalee commented on #2346
Thanks @chrisfcarroll for sharing this, and appreciate your patience. Please go ahead and submit PRs for the relevant documentation pages, likely the original tutorial documentation did not anticipate custom config files.

[2020-12-10 19:03] Mexicoder opened #2773 "az cli get log alerts - canadacentral"
i am trying to get all log alerts from a resource group in canade central.

i have tried `az monitor scheduled-query list -g {my rg}` but this returns nothing `[]`

i have tried `az monitor scheduled-query show -g {my rg} -n {name}` but i get this error:

`NoRegisteredProviderFound - No registered resource provider found for location 'canadacentral' and API version '2020-05-01-preview' for type 's

[2020-12-11 01:39] yonzhan commented on #2773
monitor

[2020-12-11 03:51] TrevorLOlson opened #2776 "Error when attempting to deploy schema"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az datamodel deploy-schema
Extension Name: aidls. Version: 0.1.20201120.672.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az datamode

[2020-12-11 05:37] yonzhan commented on #2776
datamodel

[2020-12-11 05:44] TrevorLOlson commented on #2776
[TestRetailWithWeb.zip](https://github.com/Azure/azure-cli-extensions/files/5677229/TestRetailWithWeb.zip)

Here is the model I created using IDW

[2020-12-11 05:49] yonzhan commented on #2776
It seemed the source code is not in cli extension repo.

[2020-12-11 05:51] Juliehzl commented on #2776
Hi @TrevorLOlson, may I know how you install the extension? could you find the repo host the extension source code?

[2020-12-11 06:07] TrevorLOlson commented on #2776
I downloaded it from here https://github.com/Azure/azure-aidls-cli-extension/releases

[aidlswhl.zip](https://github.com/Azure/azure-cli-extensions/files/5677287/aidlswhl.zip)

[2020-12-11 07:36] Juliehzl commented on #2776
then you could create an issue in https://github.com/Azure/azure-aidls-cli-extension and they could help you.

[2020-12-11 07:36] #2776 closed

[2020-12-11 10:56] yucwan commented on #2751
@xinyi-joffre Thanks a lot for the contribution, this looks like a valid feature to me. @ShichaoQiu @yuwzho @sophiaso to take a look at the pr

[2020-12-13 15:22] zweim1 opened #2782 "CLI documentation "az iot dps enrollment-group" is not up to date"
[Enter feedback here]
Link: https://docs.microsoft.com/en-us/cli/azure/ext/azure-cli-iot-ext/iot/dps/enrollment-group?view=azure-cli-latest#ext_azure_cli_iot_ext_az_iot_dps_enrollment_group_create

For example:
For az iot dps enrollment-group create,
parameter allocation-policy is missing "custom" option. ,
parameter webhook-url is missing

---
#### Document Details

⚠ *Do not edit this section. I

[2020-12-13 15:28] zweim1 commented on #2782
Never mind. The latest document is in https://docs.microsoft.com/en-us/cli/azure/ext/azure-iot/iot/dps/enrollment-group?view=azure-cli-latest#ext_azure_iot_az_iot_dps_enrollment_group_create

[2020-12-13 15:28] #2782 closed

[2020-12-13 15:53] PostlMC commented on #2701
Seeing exactly the same thing there, also on K8s 1.19.4 and Ubuntu 20.04, with a cluster of Pi 4s.  The recent Cloud9 video seems to imply that ARM is supported.  Perhaps we can manually edit the chart before deployment for now?

[2020-12-14 06:09] kyoro1 opened #2785 "`Invalid bool parameter PrepareEnvironment` in submitting `az ml pipeline submit-draft` command"
### Extension name (the extension in question)
ml

### Description of issue (in as much detail as possible)
We're thinking about constructing MLOps scheme with Azure ML Designer. In re-training the existing pipeline

[code]

we encounter the following error like `Invalid bool parameter PrepareEnvironment`:
![image](https://user-images.githubusercontent.com/6315779/102046194-2bd12580-3e1e-11eb-81fa

[2020-12-14 06:38] yonzhan commented on #2785
ml

[2020-12-14 08:22] qwordy commented on #2380
Close it since no reply.

[2020-12-14 08:22] #2380 closed

[2020-12-14 08:50] axelgMS opened #2788 "KeyError: 'IngressApplicationGateway' - when installing AGIC add-on with a Service Principal AKS cluster"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

aks-preview

### Description of issue (in as much detail as possible)

Issue:
Getting error while creating AKS Cluster with AGIC enabled, when Service Principal is used.
Following https://docs.microsoft.com/e

[2020-12-14 09:21] yonzhan commented on #2788
aks-preview

[2020-12-14 12:10] miwithro commented on #2788
@akshaysngupta

[2020-12-14 14:41] mikebranstein commented on #2701
That's what I'm thinking @PostlMC. The issue appears to be an assumption that amd64 is the preferred node type.

I'm not sure if we'll be able to modify the deployment before it has been applied to the cluster, but we may be able to edit it after it's been applied. That should allow the scheduler to select an appropriate node.

[2020-12-14 17:19] jjeziorny opened #2789 "`az datafactory integration-runtime linked-integration-runtime create` doesn't work"
I have the shared IR in one subscription and the destination ADF where I want to create a link to this shared IR in another subscription.

I've tried with a few different iterations of the command and none where successful.

I believe it could be the fact there is no option in the command to enter the name of the RG where the shared IR resides, so the command keeps returning "ResourceNotFoundError

[2020-12-14 21:11] pcbl opened #2790 "az stream-analytics output create not working for 'Microsoft.AzureFunction'"
### Extension name (the extension in question)
stream-analytics

### Description of issue (in as much detail as possible)
When i try creating a output of type 'Microsoft.AzureFunction' as described here (https://docs.microsoft.com/en-us/azure/templates/microsoft.streamanalytics/streamingjobs/outputs#MicrosoftAzureFunction).

Basically I get this error:
`ValidationError: Parameter 'OutputDataSource

[2020-12-15 00:16] yonzhan commented on #2789
datafactory

[2020-12-15 00:17] yonzhan commented on #2790
stream-analytics

[2020-12-15 02:44] jonathan-innis opened #2793 "Error Info from HTTPOperator not returning without --debug flag"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

k8sconfiguration

### Description of issue (in as much detail as possible)

- Error messages that are returned from our RP endpoint are not being propagated back to the user without using the --debug flag. Er

[2020-12-15 02:44] jonathan-innis commented on #2793
Error Info:
[code]

[2020-12-15 02:49] yonzhan commented on #2793
k8sconfiguration

[2020-12-15 05:28] colordown opened #2795 "az datafactory pipeline list issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az datafactory pipeline list
Extension Name: datafactory. Version: 0.2.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az datafactory

[2020-12-15 05:57] yonzhan commented on #2795
datafactory

[2020-12-15 14:57] nameier commented on #2772
Updating my CLI version to 2.16.0 took care of this issue.

[2020-12-15 14:57] #2772 closed

[2020-12-15 18:11] akshaysngupta commented on #2788
@axelgMS can you please update the aks-preview extension using `az extension update -n aks-preview` and see if you still see the error ?

[2020-12-15 21:04] ap-bansal commented on #2024
Hello,
Please let me know if you need any details from my end.
Thanks!

[2020-12-15 23:27] jonathan-innis opened #2800 "connectedk8s Remove Hangs, Unable to Remove Files"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

connectedk8s

### Description of issue (in as much detail as possible)

We have automated scripting that runs in azure functions to remove an old version of a CLI extension and perform a clean re-install. Thi

[2020-12-16 01:22] yonzhan commented on #2800
connectedk8s

[2020-12-16 15:19] Jandev opened #2806 "Assigning a blueprint with parameters file fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az blueprint assignment create
Extension Name: blueprint. Version: 0.2.1.`

**Errors:**
[code]

## To Reproduce:
I'm using the Azure CLI on Windows in a PowerShell Core terminal.

[code]

The parameter file has the following details:
[code]

The actual deployed & published blueprint has the f

[2020-12-18 08:02] #2769 closed

[2020-12-18 17:05] yungezz commented on #2806
hi @fengzhou-msft could you pls have a look? thanks

[2020-12-18 17:06] yungezz commented on #2795
hi @houk-ms could you pls have a look? thanks

[2020-12-18 17:07] yungezz commented on #2790
hi @qwordy could you pls have a look? thanks

[2020-12-18 17:07] yungezz commented on #2789
hi @houk-ms could you pls have a look? thanks

[2020-12-21 05:58] #2479 closed

[2020-12-21 14:30] perkops opened #2816 "Spelling mistake"
The line "Note that an endpoint must first be configred before adding an event route."

should be: "Note that an endpoint must first be configured before adding an event route."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a140c57-f5be-81da-9026-000d7641f524
* Version Independent ID: 71160dff-08d2-826f-affa-674216e5

[2020-12-21 14:38] yonzhan commented on #2816
iot

[2020-12-22 14:23] anitian-mkimball commented on #2806
I had this same issue and it turned out I was using the wrong schema for the parameters file. The example that I finally followed was here (in an obvious place, but I still missed it): https://docs.microsoft.com/en-us/azure/governance/blueprints/create-blueprint-azurecli

My successfully parsed parameters file looks something like the example except I used string literals for the values instead of

[2020-12-22 15:57] BhargaviAnnadevara-MSFT opened #2824 "Cannot Install CLI; Hangs Indefinitely"
_Originally posted by @lazarillo in https://github.com/MicrosoftDocs/azure-docs/issues/67963#issue-772176250_

### Extension name (the extension in question)
azure-cli-ml

### Description of issue (in as much detail as possible)
Here are the details:

When I try to install the extension, I get the `Downloading`, then `Installing` messages, but then it freezes indefinitely.

Methods:

1. `az extens

[2020-12-22 17:18] ihsmarkit-syntagma opened #2825 "How to use "az boards query" to get more than 1000 work items from Azure-DevOps?"
When running az boards query --org=https://dev.azure.com/... --project="..." --path="QUERY_ID" > work-items.json, I can get only 1,000 items returned. Is there a possibility to get all work items by a query or using other CLI approach?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d535510f-f15c-3c79-c44d-34b7742a1544

[2020-12-22 18:34] JonathanFingold opened #2827 "Help text is confusing and contradictory after adding Kusto extension"
## Describe the bug
After installing the Kusto extension the help text still indicates that the module will be going away, and that you should install the extension.

**Command Name**
`az kusto`

**Errors:**
[code]

For comparison, here's the help text from before installing the extension:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as t

[2020-12-22 20:52] michalmar opened #2826 "COSTMANAGEMENT - parameter `dataset-configuration` doesn't work"
I am running `az costmangement quey` and trying to use `dataset-configuration` parameter but it is no applied to the query.

Query:
`az costmanagement query --type "Usage" --dataset-configuration columns="ServiceName"  --timeframe "TheLastMonth" --scope "subscriptions/xxx"`

Output:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-12-23 00:08] yonzhan commented on #2824
azure-cli-ml

[2020-12-23 00:09] yonzhan commented on #2825
devops

[2020-12-23 00:09] yonzhan commented on #2826
costmanagement

[2020-12-23 00:16] yonzhan commented on #2827
kusto

[2020-12-23 02:43] haroldrandom commented on #2826
dup as https://github.com/Azure/azure-cli-extensions/issues/2021

[2020-12-23 07:07] michalmar commented on #2826
How this is duplication? I am not running export. Also there is no
resolution or is it?

On Wed, Dec 23, 2020, 3:43 AM Jianhui Harold <notifications@github.com>
wrote:

[2020-12-23 07:27] qwordy commented on #2476
It is not supported yet. Added to plan.

[2020-12-23 22:19] ctaggart opened #2831 "prompt for az vmware private-cloud delete"
Similar to https://github.com/Azure/azure-powershell/issues/13824, per internal [work item 9019400](https://msazure.visualstudio.com/One/_workitems/edit/9019400/), please add a confirmation prompt for deleting a private cloud.  If there is room for a warning, the warning should match the Portal UI with:

[2020-12-24 01:18] yungezz commented on #2831
hi @ctaggart assigned the issue to you. Are you still owning the vmware extesnion?

[2020-12-24 03:30] ctaggart commented on #2831
@yungezz, the goal of moving it in to azure-cli-extensions was to pass over ownership as well.

[2020-12-24 08:18] shawnxzq commented on #2614
@tonswart we are still working on this, and please keep using the PS command as a workaround, thanks.

[2020-12-24 08:41] shawnxzq commented on #2789
@jjeziorny Could you please check the doc below to see whether it can resolve your issue? Thanks!
https://docs.microsoft.com/en-us/azure/data-factory/create-shared-self-hosted-integration-runtime-powershell#create-a-shared-self-hosted-ir-using-azure-powershell

[2020-12-24 08:58] jjeziorny commented on #2789
Hi Shawn,
The doc section you provided is for powershell, in my case the issue was creating the SHIR using az-cli, ultimately we can create it via the portal (and we did).
I raised this issue specifially for the error with az-cli datafactory extension, so not sure how the powershell will help here ;)

[2020-12-24 09:01] amariann commented on #2194
C:\Program Files\Microsoft SDKs\Azure\.NET SDK\v2.9>az login
CLIInternalError: The command failed with an unexpected error. Here is the traceback:
login() got an unexpected keyword argument 'msi'
Traceback (most recent call last):
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-unpacked-wheel-2huwp6jm\knack\cli.py", line 215, in invoke
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-unpacked-whe

[2020-12-24 09:02] P47K0 opened #2838 "Enabling AAD in AKS cluster results in error"
I have to mention that 'az aks update' also gave this warning:
The behavior of this command has been altered by the following extension: aks-preview

I want to make use of the AAD-V2 feature which I had to register (why I don't know, I thought this was GA already)

I was following this How To guide:
https://docs.microsoft.com/en-us/azure/aks/managed-aad#upgrading-to-aks-managed-azure-ad-integratio

[2020-12-24 09:04] amariann commented on #2194
Windows 10

C:\Program Files\Microsoft SDKs\Azure\.NET SDK\v2.9>az version
{
  "azure-cli": "2.16.0",
  "azure-cli-core": "2.16.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "azure-ml-admin-cli": "0.0.1"
  }
}

[2020-12-24 09:10] yonzhan commented on #2838
aks

[2020-12-25 03:27] haroldrandom commented on #2826
@michalmar Sorry, just the moment I thought it was dup, I found it was not. We are digging whether it's a bug of server-side or CLI-side.

[2020-12-25 20:50] adamnybergelli commented on #1717
@yonzhan What is happening here? It is quite important for us to be able to select the stages to be run in our pipelines.

[2020-12-25 23:31] mekr opened #2840 "Missing information about proper PAT scope level"
You need a PAT with **Tokens (Read & manage)** level scope to use this feature, so you don't have to use it with a full accessed PAT. In general, I couldn't find any documentation (**az** functions and the needed access level matrix or something similar) about **az** commands and PAT's scopes,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-12-26 00:06] yonzhan commented on #1717
@adamnybergelli  I mean az pipelines CLI commands are owned by devops service team. They should look into this issue.

[2020-12-26 00:07] yonzhan commented on #2840
devops

[2020-12-28 08:28] kairu-ms commented on #2596
Hi @GitMje, do you mean to read the saved query from a file?

[2020-12-28 10:27] EugenMayer commented on #1632
Same issue here, not sure how to use and what the actual usage scope is.

I assume that releases might be one of the primary goals for manual automation in a azure pipeline, since usually builds have their automated triggers.

By manual automation i mean, tools that do somethine in a custom cascade, on a specific condition or even external button press if you will - or do releases as batch on seve

[2020-12-28 10:32] EugenMayer commented on #953
Commented on this at https://github.com/Azure/azure-cli-extensions/issues/1632#issuecomment-751665071 with the urgent needs one has at this level - i guess the comment should have belonged here, depending on the usage.

Are there any plans or informations on how this is supposed to be done?

[2020-12-28 10:38] EugenMayer opened #2843 "az pipelines list with --source-branch comes out empty"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

azure-devops

[code]

### Description of issue (in as much detail as possible)

when using something like this

[code]

The result of the releases always comes empty

[2020-12-28 10:41] EugenMayer commented on #2843
After using `show` and checking the meta-data i realized, that the branch should be given in `ref` form, thus the above is working right when using

[code]

If it is just be being unsure about the syntax while it is crystal clear for all others, this issue can be closed. Otherwise we might add some example to the cli docs / --help like `refs/heads/master` or what ever suits best

[2020-12-28 10:47] EugenMayer commented on #953
Is it possible utilizing `--query` for this purpose as a workaround for the time being?

[2020-12-28 11:42] yonzhan commented on #2843
pipelines

[2020-12-28 12:42] yungezz commented on #2838
https://github.com/azure/azure-cli/issue/14287

[2020-12-28 14:08] miwithro commented on #2838
@P47K0 can you share details of the AKS cluster you are trying to upgrade?

[2020-12-28 14:55] P47K0 commented on #2838
**patrick@Azure:~$** az aks show --name aks-rpms --resource-group rg-web
[code]

[2020-12-28 16:32] lesterw1 opened #2844 "az graph query ingores underlying API error and returns incorrect results"
The CLI command **az graph query -q** *$query* (in resource-graph extension) ignores the underlying error returned by the REST API and returns the incorrect data. While the API should not return "bad" data, the Azure CLI also should catch the error and display it. Instead, it simply displays the bad data.

The Azure CLI uses the rest API endpoint:
https://management.azure.com/providers/Microsoft.R

[2020-12-28 17:16] miwithro commented on #2838
Hello,
  I have this running on my system, and was not able to reproduce the error.

  "azure-cli": "2.16.0",
  "azure-cli-core": "2.16.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "ai-examples": "0.2.5",
    "aks-preview": "0.4.70"

The biggest difference between your cluster and my test cluster is that your is running on a SP and mine is running via MSI.  Can you upgrade your clus

[2020-12-28 17:44] GitMje commented on #2596
@kairu-ms I was hoping to use a saved query like one from the `saved queries` or `solutions queries`.  This would be similar to how azure devops can run team queries via the API.  Rather than having to hard code a query into the az cli command/scripts.

Please see image below:
<img width="838" alt="001974-" src="https://user-images.githubusercontent.com/8420128/103233150-53d68380-490a-11eb-81a9-99

[2020-12-29 00:17] yonzhan commented on #2844
resource-graph

[2020-12-29 08:29] P47K0 commented on #2838
Well I tried to upgrade the cluster to MSI but then I got another error:

az feature register --namespace Microsoft.ContainerService -n MigrateToMSIClusterPreview

(waited several minutes)
az provider register -n Microsoft.ContainerService

az aks update -g rg-web -n aks-rpms --enable-managed-identity
The behavior of this command has been altered by the following extension: aks-preview
Your cluste

[2020-12-29 08:31] P47K0 commented on #2838
This is what az --version gives back in my cluster:
azure-cli                         2.16.0 *
core                              2.16.0 *
telemetry                          1.0.6

Extensions:
aks-preview                       0.4.71
ai-examples                        0.2.5

Python location '/opt/az/bin/python3'
Extensions directory '/home/patrick/.azure/cliextensions'
Extensions system directory '

[2020-12-29 09:01] kairu-ms commented on #2596
@GitMje I got it. It's a very good question. Saved query is supported by command group
[code]
You can fetch the query string like this command
[code]
However you can not use the $QUERY like this
[code]
Because --analytics-query cannot correctly parse a query with "\n" and "\t" now.

We will fix it in next release.

[2020-12-29 15:48] adamnybergelli commented on #1717
@yonzhan thanks, and how to I reach that team?

[2020-12-29 18:38] lazarillo commented on #2824
Any updates on this?  I tried to install again, still just hangs.  :(

[2020-12-30 00:23] yonzhan commented on #1717
There is msftbot commented above to route to the appropriate team.

[2020-12-30 00:24] yonzhan commented on #2824
machine learning service team should look into this issue.

[2020-12-30 07:56] qwordy commented on #2529
A similar issue https://github.com/Azure/azure-cli-extensions/issues/1756. I am still trying to find the cause.

[2020-12-30 08:03] qwordy commented on #2529
Totally agree. This extension is full of magic. It is a very long path to copy a image. I suggest Azure service support image copy operation. But unfortunately, they are all devoted to shared image gallery. It is an advanced version of image management. You can have a try. Need some learning time.

[2020-12-31 03:19] #2596 closed

[2021-01-04 10:18] lazarillo commented on #2824
@yonzhan How do I contact the ML service team?  I actually thought this was the means by which to do that.

[2021-01-04 12:18] yonzhan commented on #2824
https://github.com/Azure/azure-cli/issues?q=ML+label%3A%22Machine+Learning%22
We are routing this to the appropriate team for follow-up. cc @azureml-github.

[2021-01-04 18:11] vladris opened #2857 "az kusto database-principal-assignment create doesn't work with role UnrestrictedViewers"
### Kusto

I'm trying to use the ``az kusto database-principal-assignment`` command to grant *UnrestrictedViewers* access but I get the following error: ``(BadRequest) Database principal role is invalid. Please provide valid database principal role (Admin, Viewer, User, etc.).``.

Here is the full command for context:

[code]

Running ``az kusto database-principal-assignment create -h`` shows Unre

[2021-01-04 19:16] swatig007 commented on #1629
@marawanshalaby apologies for the delayed response. is this still an issue?

[2021-01-05 00:23] yonzhan commented on #2857
kusto

[2021-01-05 16:02] dazinator opened #2861 "what is artifact-metadata-list"
How do I know what to supply for the artifact-metadata-list argument? It's not really explained.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f912b9b3-f27c-deb7-54c1-8e3f477ed26f
* Version Independent ID: fb24966a-f6fb-1828-2e0e-4374ae1df3d9
* Content: [az pipelines release](https://docs.microsoft.com/en-us/cli/azure

[2021-01-05 18:25] adamnybergelli commented on #1717
any update on this? @narula0781, @ashishonce, @romil07

[2021-01-05 22:17] meeldurb opened #2862 "Automatically stop a compute instance?"
This page comments about stopping the compute instance through Azure CLI or python. Still you have to shut down manually, or upon action.

Can however, any compute instance shut down automatically?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3b7dfa6-3d09-6b5a-28fd-fd24545cb751
* Version Independent ID: 98fb3dcd-230

[2021-01-05 22:59] yonzhan commented on #2861
pipelines

[2021-01-05 23:01] yonzhan commented on #2862
ml

[2021-01-06 11:03] michalmar commented on #2826
@yonzhan @haroldrandom hi, what is the status of this? has this been identified as bug? any ETA? thanks a lot!

[2021-01-06 12:53] yonzhan commented on #2826
@michalmar This issue should be looked into by costmangement service team.

[2021-01-07 22:35] codepossible opened #2872 "Azure Data Factory Extension - Linked Service Creation - not reading JSON file"
## Functionality Feedback

When I am trying to run a command to create a linked service where the contents of the properties are stored in JSON file, it is not reading them. It is sending a request to the API with a request body which looks like this -

[code]

Here is the debug log for the request:
[code]
The `az-cli` command is -

[code]

## Design Feedback

The JSON payload for the `properties`

[2021-01-08 00:25] yonzhan commented on #2872
datafactory

[2021-01-08 03:29] yungezz commented on #2872
thanks for feedback. @fengzhou-msft could you pls have a look? thanks

[2021-01-08 08:07] akashkeshari commented on #2800
Hey @jonathan-innis ,

Do you see this issue always? Or is it transient?

Also, I would suggest using the command 'az extension update -n connectedk8s' instead of deleting and installing again.

Thanks,
Akash

[2021-01-08 08:39] shashankbarsin commented on #2701
Azure Arc enabled K8s doesn't have support for arm64 yet. We currently have this in our backlog and will need to work/collaborate on making the following ready for arm64 - Arc agents, flux and its dependencies. The transitive dependencies may take more time for arm64 readiness. To help us prioritise this in our backlog, it'd be great if we could discuss the scenarios (GitOps, Azure Monitor, Azure

[2021-01-08 21:29] vladris commented on #2857
FWIW I reported a similar issue here: https://github.com/Azure/azure-cli/issues/13330

In that case, I believe the set of values allowed by the client was different than the set of values accepted by the server. I wonder if something similar is happening here, maybe slight difference in naming between *UnrestrictedViewers* and whatever the server expects.

[2021-01-11 19:12] jonathan-innis commented on #2800
It appears to be transient

[2021-01-11 20:17] Soren1974 opened #2883 "CLI switch for az iot hub monitor-events -n <iothub>"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
CLI - "az iot hub monitor-events -n <iothub>"

### Description of issue (in as much detail as possible)
I would like a to set the number of events to be captured instead of the infinite loop. Perhaps a switch

[2021-01-11 22:27] yonzhan commented on #2883
iot hub

[2021-01-13 00:59] weshaggard commented on #2825
I also recently hit this limitation. It would be nice to be able to configure the limit but I for now I plan to just call the rest api directly.

[2021-01-13 14:05] jerry2102 opened #2894 "azure mesh deployment demo failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az mesh deployment create
Extension Name: mesh. Version: 0.10.6.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az mesh deployment crea

[2021-01-13 14:44] yonzhan commented on #2894
mesh

[2021-01-13 22:14] lilyjma commented on #1271
Hi, since the problem in issue will be addressed by the PR, I'm closing it now. Thanks!

[2021-01-13 22:14] #1271 closed

[2021-01-14 01:56] zhoxing-ms commented on #2894
Hi @jerry2102 This is an ARM template related issue, which needs to be investigated by the ARM service team
Could you please help to provide the correlation id? (you can add `--debug` to the original command and find `x-ms-correlation-request-id` in the response headers from the printed information)

[2021-01-14 01:56] zhoxing-ms commented on #2894
This is an ARM template related issue, which needs to be investigated by the ARM service team

[2021-01-14 02:00] jerry2102 commented on #2894
I re-executed the command and got the detailed error message:

[2021-01-14 02:01] jerry2102 commented on #2894
jiang@Azure:~$ az mesh deployment create --resource-group myResourceGroup --template-uri https://raw.githubusercontent.com/Azure-Samples/service-fabric-mesh/master/templates/helloworld/helloworld.linux.json --parameters "{'location': {'value': 'eastus'}}" --debug
Command arguments: ['mesh', 'deployment', 'create', '--resource-group', 'myResourceGroup', '--template-uri', 'https://raw.githubusercont

[2021-01-14 05:00] marywhitney opened #2898 "aks-preview 0.4.71: az aks update with --attach-acr failed if monitoring addon not installed"
## Describe the bug
In a new AKS cluster without monitoring enabled, try to attach an ACR, and the command errs.

**Command Name**
This is the command that erred.
[code]

Extension Name: aks-preview. Version: 0.4.71.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

In an environment wit

[2021-01-14 05:21] yonzhan commented on #2898
aks

[2021-01-14 08:19] shawnxzq commented on #2614
@fengzhou-msft Looks like the "identity" property is defined in swagger, but and it's included in the PS command but missed in CLI, could you please take care of this? Thanks!

[2021-01-14 08:25] shawnxzq commented on #2789
@jjeziorny Good to know the you already work around the issue (through portal).  Factory extension of azure-cli is still experimental  and it may have some of the issue, but we will look into it, thanks!

[2021-01-14 11:06] aggerritsen opened #2902 "IPGroups issues"
When using Azure Powershell [**Get-AzIpGroups**], of Azure CLI [**az network ip-group list**] and error message appears: **_Operation returned an invalid status code 'Bad Request_**'. When using REST API [**https://docs.microsoft.com/nl-nl/rest/api/virtualnetwork/ipgroups/list**] a total result of 100 IP groups in the subscription are returned. However there are currently 2 Resource Groups, having

[2021-01-14 12:41] yonzhan commented on #2902
network

[2021-01-14 22:59] hyssh commented on #2461
Hello, I have been using Azure-ml-cli since 1.18.0 and faced this issue for long time. Do we know when this will be fixed and released?

[2021-01-14 23:32] singankit commented on #2461
@hyssh Thanks for the query. We are working on the fix and should be available two weeks from now with the next azure-cli-ml release.

[2021-01-15 09:22] rickardp opened #2905 "Azure front door CLI is hard to integrate due to incremental changes"
### Extension name (the extension in question)
front-door

### Description of issue (in as much detail as possible)

We are using the Azure CLI to control our front door configuration, but there are a lot of edge cases that are hard to implement due to that each incremental step has to be perfectly valid (the UI allows adjusting the state, then clicking "Save" to commit). Since every aspect of the

[2021-01-15 09:24] yonzhan commented on #2905
front-door

[2021-01-15 19:32] elnica6 commented on #2461
Is there a particular release this fixed is slated to go out with?

[2021-01-18 05:17] #2578 closed

[2021-01-18 05:59] fengzhou-msft commented on #2578
The issue is fixed in the latest `databricks 0.7.1`, please update the extension and retry.

[2021-01-19 21:04] AhmedFouratTouzri opened #2916 "az aks kanalyze fails with python stack trace"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks kanalyze
Extension Name: aks-preview. Version: 0.4.72.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks kanalyze --resource

[2021-01-19 22:30] yonzhan commented on #2916
aks

[2021-01-20 05:32] qwordy commented on #2529
I can't reproduce it and find cause so far.

[2021-01-20 09:41] TomGeske commented on #2916
Please open an issue here: https://github.com/Azure/aks-periscope/issues

[2021-01-20 19:55] bmc-msft opened #2918 "automatic installation suggestion does not work"
The documentation claims "The extension will automatically install the first time you run an `az monitor app-insights` command."

Actual results:
[code]

This was with azure-cli version 2.18.0 installed.

From here, I manually installed the extension.
[code]

Once it was installed, it worked as expected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-01-20 22:23] yonzhan commented on #2918
automatic installation

[2021-01-20 22:31] trevonmckay opened #2919 "No matching extensions for 'databricks'"
### Extension name (the extension in question)
databricks

### Description of issue (in as much detail as possible)
I'm unable to install the Azure Databricks extension. The documentation [here](https://docs.microsoft.com/en-us/azure/databricks/security/keys/customer-managed-keys-dbfs/cmk-dbfs-azure-cli) states running the command
[code]
This returns the error "cli.azure.cli.core.util : No matchin

[2021-01-21 03:52] trevonmckay commented on #2919
Resolved via version update

[2021-01-21 03:52] #2919 closed

[2021-01-21 15:31] bradyson opened #2922 "--Destination-addresses with servicetag in lowercase is listed under IP Addresses instead of Service Tags"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
az network firewall network-rule

### Description of issue (in as much detail as possible)
if --destination-addresses includes a service tag in lower case (AzureCloud.brazilsouth) the rule ends up under IP add

[2021-01-22 00:55] yonzhan commented on #2922
network

[2021-01-22 02:01] jiasli opened #2924 "SSH extension should remove the usage of get_msal_token"
### Extension name (the extension in question)

SSH

### Description of issue (in as much detail as possible)

In the old ADAL-based Azure CLI, no interface is provided to pass `data` to ADAL and AAD to get an SSH cert. None of these methods can do this:

- [`Profile.get_raw_token`](https://github.com/Azure/azure-cli/blob/e5eefd2bab67191b591ef5c6d107061ff49bf327/src/azure-cli-core/azure/cli/core/_

[2021-01-22 06:52] yonzhan commented on #2924
SSH

[2021-01-22 07:03] jiasli commented on #2924
\+ @N6UDP who contributed https://github.com/Azure/azure-cli-extensions/pull/2921.

[2021-01-25 02:41] #2630 closed

[2021-01-25 22:03] mrlepat commented on #2148
Documentation updated

[2021-01-25 22:03] #2148 closed

[2021-01-26 00:40] brendalee commented on #2346
#pls-close

[2021-01-26 00:41] #2346 closed

[2021-01-26 00:42] mrlepat commented on #2826
Hello @michalmar
dataset-configuration is not supported by query. We will update the documentation to reflect that.

You can use dataset-grouping instead:
az costmanagement query --type "Usage" --dataset-aggregation "{\"totalCost\":{\"name\":\"PreTaxCost\",\"function\":\"Sum\"}}" --dataset-grouping name="ServiceName" type="Dimension" --timeframe "TheLastMonth"  --scope "subscriptions/****"

My apo

[2021-01-26 00:47] swatig007 commented on #2039
closing per above comment

[2021-01-26 00:47] #2039 closed

[2021-01-26 07:59] rollan2001 commented on #2657
any updates on this?

[2021-01-26 14:52] JFolberth opened #2935 "pipelines variable-group Not working with AzureCLI@2 Task"
Trying to have a MS hosted DevOps agent query a Team project to select predefined variable groups.  This works locally however; when coupled with the [Azure CLI Task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-cli?view=azure-devops) Get an error
````Before you can run Azure DevOps commands, you need to run the login command(az login if using AAD/MSA identity else az

[2021-01-26 15:23] yonzhan commented on #2935
pipelines

[2021-01-27 05:30] singankit commented on #2461
This has been fixed in azure-cli-ml extension version 1.21.0. Please update the extension using the below command:

az extension update --name azure-cli-ml

[2021-01-27 07:52] infa-sapatil opened #2939 "az image copy failed when copying the image from same resource group in different region"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

az image copy failed when copying the image from same resource group in different region

Can we copy the image to same resource group in different region?
**Command Name**
`az image copy
Extension Name: image-copy-extension. Version: 0.2.8.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavio

[2021-01-27 19:38] hyssh opened #2940 "need compute type for computetarget in ml extension"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
__azure-cli-ml__

### Description of issue (in as much detail as possible)
<code>az ml computetarget list </code> does not provide the type of compute in the result of the command.

For example, when I run the

[2021-01-27 21:46] jonathan-innis opened #2941 "Specifying Parameter Name Under 23 Characters Raises error on azdev linter"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

k8sconfiguration

### Description of issue (in as much detail as possible)

Parameter names must be under 23 characters according to the linter. When specifying a name in the `options_list` for an argument, m

[2021-01-27 23:23] yonzhan commented on #2940
ml

[2021-01-27 23:35] brendalee commented on #2940
Thanks for sharing your input. We are working on v2 of our dev platform including CLI commands, and will be incorporating this feedback.

[2021-01-27 23:36] brendalee commented on #2940
#pls-close

[2021-01-27 23:38] #2940 closed

[2021-01-28 03:06] fengzhou-msft commented on #2806
@Jandev the parameters file is not right. Please refer to this doc: https://docs.microsoft.com/en-us/azure/governance/blueprints/create-blueprint-azurecli

To make it more clear, I modified it bit from the example in the doc.
The `--parameters` in `blueprint create` should look like this:
[code]
The `--parameters` in `blueprint artifact policy create` should look like this:
[code]
The `--parameter

[2021-01-28 05:20] yungezz commented on #2939
hi @qwordy could you pls help to have a look? thanks

[2021-01-28 05:25] qwordy commented on #2939
Hi @infa-sapatil, thank you for reporting this issue. We will open an investigation into it. You can also try https://docs.microsoft.com/en-us/azure/virtual-machines/shared-image-galleries.

[2021-01-28 10:28] timvink opened #2946 "az repos pr list --include-links does not list linked work items"
### az repos

I want to see the linked work items of all pull requests. The [documentation](https://docs.microsoft.com/en-us/cli/azure/ext/azure-devops/repos/pr?view=azure-cli-latest#ext_azure_devops_az_repos_pr_list) states that I can do with with `--include-links`:

[code]

However the JSON returned contains `"workItemRefs": null`.

My current workaround is looping over all the pull requests wit

[2021-01-28 11:27] yonzhan commented on #2946
repos

[2021-01-28 14:13] ThomasBarnekow commented on #2657
I also have the same issue. For example, I need to update a service connection for a GKE Kubernetes cluster. At the moment, it seems I must delete and recreate to do that, which invalidates my release pipeline. The documentation also leaves much to be desired, unfortunately.

[2021-01-28 18:09] aucinc123 commented on #1717
The following is a workaround to deploy a single stage, using the Azure Devops CLI and the Azure Devops REST API
NOTE: This has only been tested using the new YAML pipelines.

* First, get the ID for the pipeline you want to automate:

`az pipelines list --query "[].{ID: id, Name:name}" --output tsv`

* Once you have the pipeline's ID, get the list of builds for the pipeline to get the build ID of

[2021-01-31 10:02] fengzhou-msft commented on #2614
The datafactory extension is auto-generated for breadth coverage and the behavior is a bit strange for identity. The `factory create` command will create a factory [with no identity](https://github.com/Azure/azure-cli-extensions/blob/49441906deab33f894e0020aac7258ab55812f73/src/datafactory/azext_datafactory/generated/custom.py#L57), but if you call `datafactory update` command, it's supposed to [a

[2021-02-01 05:51] qwordy opened #2956 "Issues for Azure Quantum"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
Azure Quantum

### Description of issue (in as much detail as possible)
1.
In `submit()` method, there is a line
[code]
I rarely see usage like this. Token of subscription is handled by Azure CLI framework. It

[2021-02-01 05:53] ricardo-espinoza commented on #2956
Thanks @qwordy . We will address this feedback in our next release.

[2021-02-01 05:59] qwordy commented on #2956
@ricardo-espinoza I have merged 0.1.0. This issue can be discussed and resolved in later releases.

[2021-02-01 10:27] Poil opened #2961 "[Network] Add front-door rules engine create without header"
### Extension name (the extension in question)
front-door

### Description of issue (in as much detail as possible)
Actually it's not possible to create a rule with the "Override routing configuration" as action type, we have to create a rule with an Header action (via `az network front-door rules-engine rule create`) and after we can add other action via `az network front-door rules-engine rule a

[2021-02-01 12:47] yonzhan commented on #2961
front-door

[2021-02-01 13:11] antyrama opened #2962 "Unable to list triggers from Azure Data Factory"
**Command Name**
`az datafactory trigger list`
`Extension Name: datafactory. Version: 0.2.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior.

- Prepare an ADF instance with at least one trigger
- `az datafactory trigger list --factory-name {} --resource-group {}`

## Expected Behavior

- Triggers will be listed

## Environment Summary
[code]
## Additional Context

It occurs

[2021-02-01 14:03] yonzhan commented on #2962
datafactory

[2021-02-01 14:13] antyrama commented on #2962
After further investigation of my deployment pipeline, I discovered that ADF ARM templating allows you to provide a date time (startTime property of the tumbling window trigger) like: `2/1/2021 1:00:00 AM` while az datafactory CLI extension requires it to be in ISO format.

[2021-02-01 14:38] JFolberth commented on #2935
Any update on this?

[2021-02-01 14:45] yonzhan commented on #2935
devops service team should look into this issue.

[2021-02-03 07:38] yungezz commented on #2962
hi @qwordy could you pls help? thanks

[2021-02-03 08:50] antyrama commented on #2962
There is an issue but not in the place where we suspect. Let me explain how actually this datetime was given to the ARM template during deployment (lack of validation for startTime property for deploying tumbling window trigger is a different story).

Somehow, when I call for triggered runs by:
`az datafactory trigger-run query-by-factory --factory-name {} --resource-group {} --filters operand="Tr

[2021-02-04 02:09] qwordy commented on #2962
@qiaozha I check the commit history. This extension was written by you. A user reported a problem.

[2021-02-04 02:13] qwordy commented on #2962
@antyrama If I write this extension, I will only support unix timestamp. It is an integer. It can avoid format problem.

[2021-02-04 07:55] #2699 closed

[2021-02-04 08:55] qwordy commented on #2790
I checked commit history. Xiaojian Xu wrote this extension. And he is not here now..

[2021-02-04 15:23] sdebruyn opened #2974 "How to supply parameters in az pipelines run?"
The command `az pipelines run` does not have a documented way on how to supply the parameters that the pipeline requires. Using the `--variables` option to supply parameters does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a2123ca-5408-8f93-6f5c-93fe74684523
* Version Independent ID: 7a03fe73-da7f-9b5a-38

[2021-02-04 17:08] rjmccallumbigl opened #2975 "Feature request for az vm repair: Optionally Specify OS of Rescue VM"
### Extension name (the extension in question)
Repair

### Description of issue (in as much detail as possible)
I recently helped someone use az vm repair to help create a rescue vm for their source VM, an appliance running custom Linux. Since it was detected as a Linux VM, the repair VM was an Ubuntu box, which is specified per the documentation. However, the user needed the Rescue VM to be a Win

[2021-02-04 23:13] yonzhan commented on #2974
pipelines

[2021-02-05 08:17] yungezz commented on #2975
route to appropriate team.

[2021-02-05 09:24] IndianBoy42 opened #2979 "azure-cli-ml: AttributeError("'NoneType' object has no attribute 'lower'") when trying to deploying"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

When trying to deploy a model locally with azure-ml I get this error (`"'NoneType' object has no attribute 'lower'"`) no matter what.

Some time ago it worked for a few minutes but has since gone back to not working

I have tried to reinstall azure-cli and azure-cli-ml.

**Command Name**
`az ml model deploy
Ex

[2021-02-05 10:10] yonzhan commented on #2979
ml

[2021-02-05 17:47] in4margaret opened #2980 "az ml workspace list doesn't list all AML workspaces"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
azure-cli-ml

### Description of issue (in as much detail as possible)

-----
'az ml workspace list' command doesn't list all aml workspaces

Details:
az --version
azure-cli                         2.18.0

cor

[2021-02-06 01:24] yonzhan commented on #2980
ml

[2021-02-07 16:52] ktleach opened #2982 "az network vpn-gateway connection ipsec-policy add not working"
### Extension name (the extension in question)
 az network vpn-gateway connection ipsec-policy add

### Description of issue (in as much detail as possible)
Cannot add an ipsec policy to a connection.  get error. Here is the output

[code]
-----

[2021-02-08 00:13] yonzhan commented on #2982
network

[2021-02-08 08:47] precisely4ajeet commented on #2517
Any workaround for this issue ? We are also facing same issue.

[2021-02-08 09:16] #2613 closed

[2021-02-08 14:54] prateekchawla opened #2988 "getting error "Scoring FE IP address not updated yet." when updating aks compute with interna load balancer"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
ml

### Description of issue (in as much detail as possible)
I am using the command to update the aks compute to use internal load balancer instead of externalIp load balancer.

`az ml computetarget update aks

[2021-02-08 18:32] djr1991 opened #2989 "az network firewall nat-rule create --translated-address doesnt accept IP address"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Errors out in AZ CLI 2.18 (cloud-shell bash),  Feedback and error from cloudshell.

--translated-address does not accept an IP Address as value.  Have tried wrapping '', "", and parametizing value.

**Command Name**
`az network firewall nat-rule create
Extension Name: azure-firewall. Version: 0.9.0.`

**Errors:

[2021-02-08 20:02] rbavery commented on #2517
I am also getting this problem, what's a simple workaround that doesn't require me to be an owner?

[2021-02-08 22:59] yonzhan commented on #2988
ml

[2021-02-08 23:02] yonzhan commented on #2989
network

[2021-02-09 06:52] hyssh opened #2992 "While install azure-cli-ml, pip failed with status code 1"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
azure-cli-ml

### Description of issue (in as much detail as possible)
I see an error when I install azure-cli-ml extension on mcr.microsoft.com/azure-cli docker.

[code]

Here is azure-cli version I tested. I

[2021-02-09 07:52] yonzhan commented on #2992
azure-cli-ml

[2021-02-10 06:25] kairu-ms commented on #2918
Hi @bmc-msft, I cannot reproduce it, that command can work on my machine. Can you provide environment information? Thanks.

[2021-02-10 06:30] kairu-ms commented on #2773
Hi @Mexicoder, canadacentral is already supported. That issue means you didn't have that resource in your resource group. You should create one scheduled-query first.

[2021-02-10 07:03] kairu-ms commented on #2635
Thanks.

[2021-02-10 17:00] Snorky35 opened #2997 "az aks browse error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks browse
Extension Name: aks-preview. Version: 0.5.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks browse --name {} --res

[2021-02-10 17:16] jaryder commented on #2330
Any update on this?  The concept of a view on a package feed is great but it's only meaningful if it is actionable in a programmatic way.

[2021-02-10 19:33] jaryder commented on #2330
You can add the View to the feed specified:
e.g. --feed "Contoso@TheView"

[2021-02-10 23:42] bmc-msft commented on #2918
Ubuntu 20.20 in WSL, from `az --version`

[code]

[2021-02-11 01:36] yonzhan commented on #2997
aks

[2021-02-11 12:12] Mhbuur commented on #2330
@jaryder thats great news! May I ask - where did you find that information?

[2021-02-11 16:43] jaryder commented on #2330
Trial and error :).  I found your issue when searching for how to do it and nothing else that was useful.  I hope that they add this to the documentation for universal packages az CLI, as the support is already there, it just needs to be discoverable by the end user :).

[2021-02-11 19:00] j-so commented on #2992
Related: https://github.com/Azure/azure-cli/issues/16880

[2021-02-11 21:12] Blackbaud-ChrisBlythe opened #3002 "Scheduled-query create example throws BadRequest error"
I tried playing around the scheduled-query cli commands and kept running into issues parsing the LogAnalytics query we were attempting to use in the condition. So, I simply tried using the condition provided in the examples and it had similar issues.

[code]

Any help or guidance would be greatly appreciated...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2021-02-11 22:59] j-so commented on #2992
A new patch release whl has been made that should fix this issue. It pins the cryptography package to be compatible:
`az extension add -s https://azurecliext.blob.core.windows.net/release/azure_cli_ml-1.22.0.1-py3-none-any.whl -y`

This has not yet been released to the general `az extension add -n azure-cli-ml` yet - we are working on that.

[2021-02-12 00:31] yonzhan commented on #3002
monitor

[2021-02-12 04:01] kelvin-ko opened #3003 "az cli Log Analytics example doesnt work"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
Log Analystics

### Description of issue (in as much detail as possible)
I got errors when running the query example provided in this page even I have log analytics extension installed.

 https://docs.microsof

[2021-02-12 04:01] kelvin-ko commented on #3003
The error message:

UnknownError: code: BadArgumentError - , The request had some invalid properties

[2021-02-12 07:08] xor-ranavikrant opened #3004 "azure-cli-ml extension is failing to install"
### Extension name (the extension in question)
azure-cli-ml

### Description of issue (in as much detail as possible)
Executing "az extension add -n azure-cli-ml" returns following error:

Last few lines of the debug:

  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 233, in invoke
    cmd_result = self.invocation.execute(args)
  File "/opt/az/lib/python3.6/site-packages/azure/cli/c

[2021-02-12 10:16] yonzhan commented on #3004
azure-cli-ml

[2021-02-12 10:16] yonzhan commented on #3003
monitor

[2021-02-12 11:40] riezebosch opened #3005 "az datafactory repository configuration resolves to git path when executed from bash"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
datafactory

### Description of issue (in as much detail as possible)
az datafactory factory create -n $factory -g $rg --factory-vsts-configuration account-name="***" collaboration-branch="master" last-commit-

[2021-02-12 13:56] yonzhan commented on #3005
datafactory

[2021-02-12 15:45] xor-ranavikrant commented on #3004
Seems to be resolved now

[2021-02-12 15:45] #3004 closed

[2021-02-14 04:49] yungezz commented on #3005
hi @qwordy could you pls have a look? thanks

[2021-02-14 20:12] cristian-eriomenco opened #3006 "[Managed Identities] No information or examples"
The web version from [the docs](https://docs.microsoft.com/en-us/azure/devops/pipelines/library/connect-to-azure?view=azure-devops#:~:text=for%20the%20connection.-,In%20Azure%20DevOps%2C%20open%20the%20Service%20connections%20page%20from%20the,the%20Managed%20Identity%20Authentication%20option.)

Clearly shows possibility of adding a service connection by using managed identities.

At the moment i

[2021-02-15 01:12] yonzhan commented on #3006
devops

[2021-02-15 07:35] Patrickkk commented on #467
Tried this but the command fails with
[code]
Any other ideas? (apart from recreating the entire functionapp)

[2021-02-15 12:04] RobinZergiebel opened #3007 "Automatically link work items from commits to pull requests created via az repos pr create"
Hey everyone,

I have a request to make the azure-cli behave more like the Azure DevOps GUI does when it comes to pull requests. We have a blind colleague who would really appreciate this feature since the GUI is not really useable for him.
* When I link a work item to a git commit (e.g. via `git commit -am "472 Remove test file"`) in a feature branch and then create a pull request from this featu

[2021-02-15 15:16] yonzhan commented on #3007
devops

[2021-02-16 07:59] jshaptic opened #3008 "Public-configuration list command throws error"
When command `az maintenance public-configuration list` is executed it throws a python error.

**Command Name**
`az maintenance public-configuration list
Extension Name: maintenance. Version: 1.1.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az maintenance public-configuration

[2021-02-16 11:01] yonzhan commented on #3008
maintenance

[2021-02-16 11:05] jshaptic commented on #3008
What do you mean? There is some maintenance work happening in Azure right now?

[2021-02-16 13:20] RobinZergiebel commented on #1118
Any update on this?

[2021-02-16 19:07] YurongHe opened #3009 "Failed to add k8sconfiguration"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

 az extension add --name k8sconfiguration --debug

### Description of issue (in as much detail as possible)

        =============================DEBUG ASSISTANCE=============================
        If you a

[2021-02-16 21:53] shivanissambare commented on #2979
Duplicate issue : https://github.com/Azure/azure-cli/issues/16821

You can try specify runtime or environment in inference config.

1. "runtime": "python"
2. refer to sample "environment" at
https://docs.microsoft.com/en-us/azure/machine-learning/reference-azure-machine-learning-cli#inference-configuration-schema

Please let us know if this solves your issue.

[2021-02-16 21:53] shivanissambare commented on #2979
#please-close

[2021-02-16 22:07] j-so commented on #2992
The latest version for `az extension add -n azure-cli-ml` has been updated with the patch.

[2021-02-17 01:01] yonzhan commented on #1118
devops service team should look into this.

[2021-02-17 01:03] yonzhan commented on #3009
k8sconfiguration

[2021-02-17 01:04] #2979 closed

[2021-02-17 01:17] NarayanThiru commented on #3009
@YurongHe, this is most likely related to the issue https://github.com/Azure/azure-cli/issues/16858.  Can you try the resolution from that issue?  Basically,
[code]

[2021-02-17 11:08] ChrisKlug opened #3011 ""az monitor app-insights component create" fails with HTTP Error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor app-insights component create
Extension Name: application-insights. Version: 0.1.13.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here

[2021-02-17 11:24] yonzhan commented on #3011
monitor

[2021-02-17 13:11] ChrisKlug commented on #3011
Trying to first create an Insights resource without a workspace, and then update it using `az monitor app-insights component update --app {} -g {} --workspace "/subscriptions/XXXXXXXXXXXXX/resourcegroups/my-resource-group/providers/microsoft.operationalinsights/workspaces/<my-workspace>"` causes __cli.azure.cli.core.azclierror: Operation failed with status: 'Bad Request'. Details: Could not retrie

[2021-02-17 20:15] susanbartholow opened #3012 "Traceback when updating the cluster-autoscaler-profile"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update
Extension Name: aks-preview. Version: 0.4.73.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.
I was just trying out the sample from the doc to update the cluster-auto

[2021-02-17 23:38] yonzhan commented on #3012
aks

[2021-02-18 01:29] matthchr opened #3013 "az aks pod-identity commands need better documentation"
### Extension name (the extension in question)
`az aks`

### Description of issue (in as much detail as possible)
The documentation included in `az aks pod-identity --help` and also located [here](https://docs.microsoft.com/en-us/cli/azure/ext/aks-preview/aks/pod-identity?view=azure-cli-latest) is very bare.

It doesn't refer to existing documentation such as [this](https://docs.microsoft.com/en-u

[2021-02-18 01:30] matthchr commented on #3013
@miwithro as discussed

[2021-02-18 01:42] YurongHe commented on #3009
I tried the above two command to reinstall pip.  the run az extension add --name k8sconfiguration --debug. Same error.

    error: Can not find Rust compiler
    Running setup.py install for cryptography: finished with status 'error'
Cleaning up...
  Removing source in /tmp/pip-install-fcb4jr5m/cryptography
Removed build tracker '/tmp/pip-req-tracker-z0cwqxny'
Command "/opt/az/bin/python3 -u -c "i

[2021-02-18 01:47] yungezz commented on #3013
route to appropriate team

[2021-02-18 08:18] kairu-ms commented on #3002
The bug is fixed by PR. It's in code review stage and will be released soon. Currently I made an edge build for that extension. Please install by the following commands and try again:
[code]
BTW please use following value for `--condition`
[code]

[2021-02-18 08:26] kairu-ms commented on #3003
Please try `TimeGenerated` instead of `timestamp`.

[2021-02-18 09:19] kairu-ms commented on #3011
Hi ChrisKlug. Please use the name of workspace instead of ID and try again:

[code]

BTW we've already written a [test case](https://github.com/Azure/azure-cli-extensions/blob/9da9f2e22aa1ca8dc0af1e3411808fec1e86ac0d/src/application-insights/azext_applicationinsights/tests/latest/test_applicationinsights_mgmt.py#L300-L341) similar to your case. Maybe it can help you.

[2021-02-18 09:22] ChrisKlug commented on #3011
Using just the name caused it to not be found, which makes me believe it uses the same resource group. And in my case, they are not in the same group

[2021-02-18 14:52] TheFrogPrince commented on #1524
![image](https://user-images.githubusercontent.com/24463685/108374312-724c5300-71c6-11eb-9d00-f4cda4c42072.png)

This exact same thing happens for me whenever one of the front-ends gets stuck in a situation like this, where it says it's still on step 1 of setting up the SSL certificates (at this point, certs that have expired).  Can't delete, can't update.

No choice but to create a support ticket

[2021-02-18 21:06] dylanberry commented on #2974
Any updates on this?

This command:
[code]
Throws this error:
[code]
Digging into the debug output, I see the parameter being passed:
[code]

[2021-02-19 02:37] kairu-ms commented on #3011
I see. Are them in same location?

[2021-02-19 08:01] ChrisKlug commented on #3011
They are both West Europe, in the same subscription

[2021-02-19 09:04] v-caxian opened #3018 "[storage-preview]: RemoteException while download single blob file"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

storage-preview

### Description of issue (in as much detail as possible)

az storage azcopy blob download failed.

script:
[code]

error:
[code]
-----

[2021-02-19 09:38] yonzhan commented on #3018
storage-preview

[2021-02-19 12:18] dylanberry commented on #2974
It looks like `pipelines run` is mapped to the incorrect rest endpoint (`build/Builds`) and needs to accept `templateParameters` to pass values to the yaml pipeline. This works:
[code]

[2021-02-19 22:15] janeallianz opened #3019 "Error when trying to install Azure AEM Extension for SAP"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm aem set
Extension Name: aem. Version: 0.1.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm aem set -g {} -n {}`

## Expect

[2021-02-20 02:39] ctaggart opened #3020 "support resource IDs in vmware"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
vmware

### Description of issue (in as much detail as possible)

https://github.com/Azure/azure-cli-extensions/pull/2998#discussion_r579576470
-----

[2021-02-20 02:41] ctaggart opened #3021 "add validators to vmware"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
vmware

### Description of issue (in as much detail as possible)
Add validators to vmware where it makes sense. See https://github.com/Azure/azure-cli-extensions/pull/2998#discussion_r575158720
-----

[2021-02-20 02:55] swatig007 commented on #1629
closing due to no response

[2021-02-20 02:55] #1629 closed

[2021-02-20 03:18] yungezz commented on #3019
hi @MSSedusch could you pls look at the issue? thanks

[2021-02-20 03:20] yungezz commented on #3021
follow up from PR reviewing

[2021-02-20 03:20] yungezz commented on #3020
follow up from PR reviewing

[2021-02-21 17:04] lizbaron opened #3025 "az aks update fails to attach acr"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update
Extension Name: aks-preview. Version: 0.5.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks update -n {} -g {} --a

[2021-02-22 00:03] yonzhan commented on #3025
aks

[2021-02-22 02:03] qwordy commented on #3005
@yungezz @riezebosch Will do, thanks

[2021-02-22 07:29] kairu-ms commented on #3011
I've test your scenario (same location and subscription but different resource group), it works for my.
![image](https://user-images.githubusercontent.com/69238381/108676066-9ee3d000-7522-11eb-8e21-a0204da8acba.png)

[2021-02-22 07:32] ChrisKlug commented on #3011
Yeah, it seems like it just started working for some reason on Friday. No changes to the scripts or anything. It just "magically" started working again... Doesn't inspire too much confidence though when it stops and starts working intermittently with the same code... But thanks for looking into it!

[2021-02-22 07:44] kairu-ms commented on #3011
It must be caused by an issue on service. Hi @sameergMS, @dadunl. can you help with this issue.

[2021-02-22 09:34] MSSedusch commented on #3019
@janeallianz there is a known issue when installing the old version of the VM extension for SAP on SLES 15. Can you please try to install the new version of the extension via the following command? Please make sure to use the lastest version of the aem extension for Azure CLI (0.2.0 or higher)

`az vm aem set --resource-group <resource group name> --name <vm name> --install-new-extension`

[2021-02-22 17:04] sujitdmello opened #3028 "Option for using the Pivotal build server should be clarified a bit more"
[Enter feedback here]
Under the https://docs.microsoft.com/en-us/cli/azure/ext/spring-cloud/spring-cloud/app/deployment?view=azure-cli-latest#ext_spring_cloud_az_spring_cloud_app_deployment_create-examples section, the first option (where there is no path to a JAR/ZIP package provided) can use some clarification. If you are not careful about the current folder, this command can have undesirable re

[2021-02-22 17:31] janeallianz commented on #3019
hi @MSSedusch, thanks for the information. I tried to install the new extension but I get a LinkedAuthorizationFailed error because I don't have read permissions on the image used to create the VM (different subscription). Is this really needed? I didn't need it for previous installations of the old extension. Thanks.

[2021-02-22 23:40] yonzhan commented on #3028
Spring Cloud

[2021-02-23 09:19] #2635 closed

[2021-02-23 16:33] sschwein opened #3034 "Azure Data Factory Extension - Trigger Creation - not reading JSON file"
### Extension: Datafactory

### Description of issue (in as much detail as possible)
When I am trying to run the cli tool to create a trigger, the properties flag does not read the json file and instead passes a default string to the API.

az-cli command
[code]
Debug log for request
[code]
Here, the request body is set to
[code]
instead of the contents of the json file.

[2021-02-23 23:37] yonzhan commented on #3034
datafactory

[2021-02-24 01:51] vnachimu opened #3037 "az connectedk8s cli is not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az connectedk8s`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az connectedk8s {} -n {} -g {} --auth-token`

## Expected Behavior

## E

[2021-02-24 11:50] MSSedusch commented on #3019
The new extension uses the Azure REST API to get the information required by the SAP Host Agent. So the VM needs read permission on the VM, NICs and disks attached to the VM. I will have a look why read access to the VM also required read access on linked resources.

[2021-02-24 12:50] carsv opened #3042 ""az devops security group membership add" doesn't work"
Your command doesn't work (sigh):

az devops security group membership add --org "https://dev.azure.com/<org>" --group-id <gGUID> --member-id <mGUID>
Page not found.  Operation returned a 404 status code.

{
  "azure-cli": "2.19.1",
  "azure-cli-core": "2.19.1",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "azure-devops": "0.18.0"
  }
}

---
#### Document Details

⚠ *Do not edit this se

[2021-02-24 12:52] yonzhan commented on #3042
devops

[2021-02-24 19:51] JaneYan-2016 commented on #3009
I hit the same issue, and the workaround for me is:
CRYPTOGRAPHY_DONT_BUILD_RUST=1
curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py python3 get-pip.py
python3 get-pip.py
python3 -m pip install -U pip
python3 -m pip install --upgrade pip --target /opt/az/lib/python3.6/site-packages/

[2021-02-24 21:19] cmayomsft commented on #2980
Any update here? We're still seeing this issue on your project, leading to sporadic pipeline failures.

[2021-02-24 22:00] ctaggart opened #3045 "vmware 2.0.0 does not work in azure-cli:2.7.0"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
vmware

### Description of issue (in as much detail as possible)
The  vmware 2.0.0 extension released yesterday does not work with the az cli 2.7.0 released on 2020-06-01, about 9 months ago.  I'm not sure exa

[2021-02-24 22:54] ctaggart commented on #3045
I tried out the different azure-cli docker images and determined that 2.11.0 was the minimum version. I created pull request #3046 to set that as the minimum version. For users, who do not wish to upgrade, you can install version 1.0.0 using:

[code]

[2021-02-25 03:36] yungezz commented on #3028
hi @yuwzho could you pls help to traige the issue? thanks

[2021-02-25 08:33] yuwzho commented on #3028
Thanks for your solid feedback, Sujit!
@yucwan , I feel this is a feature ask, please take a look.

[2021-02-25 13:59] aguerot opened #3055 "list index out of range on az pipelines show command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az pipelines release definition show
Extension Name: azure-devops. Version: 0.8.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az pi

[2021-02-25 14:14] aguerot commented on #3055
upgraded `azure-cli` to `2.19.1`
cant repro the issue anymore
closing

[2021-02-25 14:14] #3055 closed

[2021-02-25 16:59] ctaggart commented on #3045
Unfortunately, even with 2.0.1 released, the steps to reproduce above lead to the same error. `az extension add -n vmware` sees that 2.0.1 is not compatible and installs 2.0.0. 2.0.0 needs to be removed from the index, so that 1.0.0 is installed instead.

[2021-02-26 00:28] yungezz commented on #3045
hi @ctaggart do you mean that index file should only keeps 1.0.0 and 2.0.1? if a user installed 1.0.0 already, is it ok to upgrade to 2.0.1? cc @fengzhou-msft for index.json change

[2021-02-26 01:04] ctaggart commented on #3045
@yungezz, in #3056, I remove 2.0.0 from the index so that when `az extension add -n vmware` is run by az cli versions older than az cli 2.11.0, they will install version 1.0.0. I believe they use the latest version that is compatible by looking at the "azext.minCliCoreVersion"s in index.json.

[2021-02-26 10:13] marcindulak opened #3063 "Where the extension issues should be submitted?"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

### Description of issue (in as much detail as possible)

-----

Above is the issue template. What is meant by `If the issue is to do with Azure CLI 2.0 in-particular`?
Does it suggest that **all** issues rel

[2021-02-26 13:13] yonzhan commented on #3063
core will be to the azure-cli repo and keep the extensions issues here.

[2021-02-26 13:13] #3063 closed

[2021-02-26 14:09] marcindulak commented on #3063
Can the issue template be modified to clarify this intent?

[2021-02-26 14:10] marcindulak opened #3064 "[azure-cli-ml] az extension add --name azure-cli-ml --version does not find most older extension versions"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

azure-cli-ml

### Description of issue (in as much detail as possible)

**Describe the bug**

It seems like `az extension add --name azure-cli-ml --version` does not find most older extension versions.

**To

[2021-02-26 14:32] yonzhan commented on #3064
azure-cli-ml

[2021-02-27 07:04] 01011011 opened #3066 "Running az aks kollect on AKS cluster returns in error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks kollect
Extension Name: aks-preview. Version: 0.5.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks kollect -g {} -n {} -

[2021-02-27 14:52] Skybladev2 opened #3068 "az aks kollect fails with error: the server doesn't have a resource type "apd""
## Describe the bug

**Command Name**
`az aks kollect
Extension Name: aks-preview. Version: 0.5.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks kollect -g {} -n {} --storage-account {}`

## Expected Behavior

## Environment Summary
[

[2021-02-27 16:34] edervaldonetoMS opened #3069 "Not able to enable "az aks update --resource-group labeddie --name testingress --uptime-sla""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
After creating a new AKS clsuter version 1.20.3, I was trying to enable "--uptime-sla" and recevies the following error below.

![image](https://user-images.githubusercontent.com/56553626/109393448-97a13580-7919-11eb-9ce7-2c0165dce1db.png)

**Command Name**
`az aks update
Extension Name: aks-preview. Version: 0

[2021-03-01 02:13] fengzhou-msft commented on #2806
Let us know if you need further help.

[2021-03-01 02:13] #2806 closed

[2021-03-01 04:16] yungezz commented on #3069
route to appropriate team

[2021-03-01 04:17] yungezz commented on #3069
https://github.com/Azure/azure-cli/issues/14287

[2021-03-01 04:18] yungezz commented on #3068
route to appropriate team

[2021-03-01 04:18] yungezz commented on #3066
route to appropriate team

[2021-03-01 04:44] PCNZ opened #3072 "Example for Recurrence Type Once needed"
Please add an example were the occurrence type is set to once.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2083273-b3ba-6507-f038-b55d0b90f753
* Version Independent ID: 12395969-8d39-0889-05b2-5717adc221b8
* Content: [az monitor action-rule](https://docs.microsoft.com/en-us/cli/azure/ext/alertsmanagement/monitor/ac

[2021-03-01 05:36] yonzhan commented on #3072
monitor

[2021-03-01 05:51] Juliehzl commented on #3018
Hi @v-caxian, could you provide more debug information with `--debug` in your command?

[2021-03-01 05:53] Juliehzl commented on #3018
In addition, may I know why you want to use `azcopy download` instead of  `az storage blob download`?

[2021-03-01 08:31] #3045 closed

[2021-03-01 12:53] edervaldonetoMS commented on #3069
By disabling the **AKS-preview** it works fine...once enabled does not work. Perhaps some kind of the integration of "AKS-Preview" with "AZ-CLI".

[2021-03-01 17:20] GaTechThomas opened #3078 "Unable to set "Prohibit the most recent pusher from approving their own changes"."
I have a script that uses the ADO CLI to create a repository, as well as to add policy on branches within that repository. All works well, with one exception:

I am unable to set the value that shows up in the ADO web app as "Prohibit the most recent pusher from approving their own changes". How do I use the CLI to set this field?

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2021-03-01 19:16] ctaggart commented on #3045
I just confirmed that this is now fixed with #3056 merged as well to update the index.

[2021-03-01 22:27] yonzhan commented on #3078
devops

[2021-03-02 05:31] evelyn-ys opened #3084 "Transition to GA: costmanagement"
Command module `costmanagement` has been released for a long time and is using stable sdk version `2019-11-01`.

Please check [Extension GA guidelines](https://github.com/Azure/azure-cli/blob/dev/doc/onboarding_guide.md#preview-extension-to-ga-extension) and remove `experimental` tag if necessary.

[2021-03-02 05:34] evelyn-ys opened #3085 "Transition to GA: databox"
Command module `databox` has been released for a long time and is using stable sdk version `2019-09-01`.

Please check [Extension GA guidelines](https://github.com/Azure/azure-cli/blob/dev/doc/onboarding_guide.md#preview-extension-to-ga-extension) and remove `experimental` tag if necessary.

[2021-03-02 05:35] evelyn-ys opened #3086 "Transition to GA: hpc-cache"
Command module `hpc-cache` has been released for a long time and is using stable sdk version `2019-11-01`.

Please check [Extension GA guidelines](https://github.com/Azure/azure-cli/blob/dev/doc/onboarding_guide.md#preview-extension-to-ga-extension) and remove `experimental` tag if necessary.

[2021-03-02 05:37] evelyn-ys opened #3087 "Transition to GA: logic"
Command module `logic` has been released for a long time and is using stable sdk version `2019-05-01`.

Please check [Extension GA guidelines](https://github.com/Azure/azure-cli/blob/dev/doc/onboarding_guide.md#preview-extension-to-ga-extension) and remove `experimental` tag if necessary.

[2021-03-02 05:38] evelyn-ys opened #3088 "Transition to GA: peering"
Command module `peering` has been released for a long time and is using stable sdk version `2020-04-01`.

Please check [Extension GA guidelines](https://github.com/Azure/azure-cli/blob/dev/doc/onboarding_guide.md#preview-extension-to-ga-extension) and remove `experimental` tag if necessary.

[2021-03-02 05:39] evelyn-ys opened #3089 "Transition to GA: powerbidedicated"
Command module `powerbidedicated` has been released for a long time and is using stable sdk version `2017-10-01`.

Please check [Extension GA guidelines](https://github.com/Azure/azure-cli/blob/dev/doc/onboarding_guide.md#preview-extension-to-ga-extension) and remove `preview` tag if necessary.

[2021-03-02 05:41] evelyn-ys opened #3090 "Transition to GA: stack-hci"
Command module `stack-hci` has been released for a long time and is using stable sdk version `2020-10-01`.

Please check [Extension GA guidelines](https://github.com/Azure/azure-cli/blob/dev/doc/onboarding_guide.md#preview-extension-to-ga-extension) and remove `experimental` tag if necessary.

[2021-03-02 05:43] evelyn-ys opened #3091 "Transition to GA: storagesync"
Command module `storagesync` has been released for a long time and is using stable sdk version `2019-06-01`.

Please check [Extension GA guidelines](https://github.com/Azure/azure-cli/blob/dev/doc/onboarding_guide.md#preview-extension-to-ga-extension) and remove `experimental` tag if necessary.

[2021-03-02 05:44] evelyn-ys opened #3092 "Transition to GA: timeseriesinsights"
Command module `timeseriesinsights` has been released for a long time and is using stable sdk version `2020-05-15`.

Please check [Extension GA guidelines](https://github.com/Azure/azure-cli/blob/dev/doc/onboarding_guide.md#preview-extension-to-ga-extension) and remove `experimental` tag if necessary.

[2021-03-02 05:51] yonzhan commented on #3084
costmanagement

[2021-03-02 06:04] yonzhan commented on #3085
databox

[2021-03-02 06:05] yonzhan commented on #3086
hpc-cache

[2021-03-02 06:06] yonzhan commented on #3087
logic

[2021-03-02 06:15] yonzhan commented on #3088
peering

[2021-03-02 06:16] yonzhan commented on #3089
powerbidedicated

[2021-03-02 06:17] yonzhan commented on #3090
stack-hci

[2021-03-02 06:18] #3002 closed

[2021-03-02 06:18] yonzhan commented on #3091
storagesync

[2021-03-02 06:19] #3003 closed

[2021-03-02 06:19] yonzhan commented on #3092
timeseriesinsights

[2021-03-02 15:00] fengzhou-msft commented on #3064
@marcindulak why do you need version `1.21.0`? `azure-cli-ml` versions are manully updated and they only keep the latest version and an old version that is compatible with older versions of `azure-cli`. @j-so for awareness.

[2021-03-02 18:55] marcindulak commented on #3064
The old extension versions are still available at https://azurecliext.blob.core.windows.net/release

Version pinning, of `azure-cli` as well, is used for ci as an attempt to minimize potential breaking changes.

For pinning, an explicit installation from an url with `az extension add --source` is available https://github.com/Azure/azure-cli-extensions/issues/2992#issuecomment-777849355, but since

[2021-03-03 01:27] lidong-zhao opened #3099 "Failed to run az image copy"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az image copy
Extension Name: image-copy-extension. Version: 0.2.8.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az image copy --sour

[2021-03-03 01:37] #3099 closed

[2021-03-03 03:26] zhoxing-ms commented on #3090
Stack HCI has been already GA by this PR: #2938

[2021-03-03 03:26] #3090 closed

[2021-03-03 07:14] Arithmomaniac opened #3103 "az storage azcopy blob sync: allow setting of --delete-destination"
https://github.com/Azure/azure-cli-extensions/blob/902e9bc8b079c6d637badeb9c6bd9779952cf04d/src/storage-preview/azext_storage_preview/operations/azcopy.py#L46-L48

Having it set to `true` is what I need in my use case, but (a) some people may need `false`, and (b) `false` is the [default](https://docs.microsoft.com/en-us/azure/storage/common/storage-ref-azcopy-sync#options) in plain azcopy.

This

[2021-03-03 07:21] Arithmomaniac opened #3104 "az storage azcopy blob: allow arbitrary arguments"
### Extension name
storage-preview

### Description of issue

The `az storage azcopy blob` commands support only a limited number of the underlying `azcopy` flags for each command. Currently, to get past that you have to use `az storage azcopy run-command`, but then you lose the automatic connection string / SAS configuration.

### Proposal
Every `az storage azcopy blob` command takes an `--additi

[2021-03-03 07:56] yonzhan commented on #3103
storage

[2021-03-03 07:57] yonzhan commented on #3104
storage

[2021-03-03 18:06] ppintogbm opened #3110 "Connecting an ARC Kubernetes is not working."
Trying to connect a local cluster with **az connectedk8s connect** is throwing the following exception

**Command Name**
`az connectedk8s connect`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az connectedk8s connect --name {} --resource-group {}`

## Expected Behavior

## Environm

[2021-03-03 18:53] nickpainter opened #3106 "Documentation does not specify if this function is recursive"
Documentation for this command does not specify if the command is recursive.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c04bff2-7465-3a25-0484-efe05354b015
* Version Independent ID: ab9c14dd-c6c5-e28d-ad30-8e2caf9fc811
* Content: [az storage blob copy](https://docs.microsoft.com/en-us/cli/azure/ext/storage-blob-pr

[2021-03-03 18:53] Lauan opened #3107 "[feature-request] Azure Pipelines 'Environments' manage commands"
### Extension name (the extension in question)
azure-devops

### Description of issue (in as much detail as possible)

**Feature request**
Hi.
I'm starting a project where I will need to provision multiple Azure Pipelines 'Environments' and consequentially a few resources in each one. Is there a way to create Environments and Environment Resources using Azure CLI? I have already installed azure-de

[2021-03-03 21:26] gustavozimm opened #3109 "az spring-cloud app binding mysql add"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az spring-cloud app binding mysql add
Extension Name: spring-cloud. Version: 2.2.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az s

[2021-03-03 21:58] gustavozimm commented on #3109
I tested with extension version 2.1.0 and this one worked (didn't work with version 2.1.2 and 2.2.0).

command line:
az spring-cloud app binding mysql add \
--app todo-service \
--database-name todos \
--key $MYSQL-PWD \
--name mysql-todos \
--resource-group rg-lab-spring-cloud-001 \
--resource-id /subscriptions/xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxx/resourceGroups/rg-lab-spring-cloud-001/providers/Micr

[2021-03-04 00:47] yonzhan commented on #3106
storage

[2021-03-04 00:49] yonzhan commented on #3107
devops

[2021-03-04 02:57] yungezz commented on #3110
route to appropriate team

[2021-03-04 03:01] yungezz commented on #3109
route to appropriate team

[2021-03-04 06:22] yuwzho commented on #3109
Thanks for your reporting!
@ShichaoQiu Please take a look, it seems in the serviceBinding command, we wanna [fetch the activeDeployment](https://github.com/Azure/azure-cli-extensions/blob/ecc2c6561809fc91dfdbbd886a410024a1096fcd/src/spring-cloud/azext_spring_cloud/custom.py#L1112) using the [bindingClient specified in the command](https://github.com/Azure/azure-cli-extensions/blob/ecc2c6561809fc91

[2021-03-04 08:38] #3086 closed

[2021-03-04 09:04] #3109 closed

[2021-03-04 09:05] yuwzho commented on #3109
@gustavozimm The  fix has been applied, you can use `az extension update -n spring-cloud` to upgrade the version to `2.2.1` to have a try. Thanks again for your reporting!

[2021-03-04 16:47] ankit2809 opened #3117 "Azure AEM extension issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm aem set
Extension Name: aem. Version: 0.1.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm aem set -g {} -n {} --subscript

[2021-03-04 19:02] lgerd commented on #2021
@kolbyrax  How as Billing Support able to resolve the issue? I am also getting “Cost Management RP was not registered with the subscription under customer's tenant”, but everything is in the same tenant.

[2021-03-05 01:56] yungezz commented on #3117
hi @MSSedusch  could you pls look at the issue?

[2021-03-05 08:51] ankit2809 commented on #3117
I also tried to update aem extension using command "az extension update --name aem" but got the error :

cli.azure.cli.core.extension.operations: Executing pip with args: ['install', '--target', '/home/ankit_gupta1/.azure/cliextensions/aem', '/tmp/tmp3e6o16nw/aem-0.2.1-py2.py3-none-any.whl']
cli.azure.cli.core.extension.operations: Running: ['/opt/az/bin/python3', '-m', 'pip', 'install', '--target

[2021-03-08 03:07] fengzhou-msft commented on #2762
Please use option `--prefer-private-ip`, by default only public IPs are used.

[2021-03-08 06:09] yungezz commented on #2723
hi @08nholloway could you pls help on this? thanks

[2021-03-08 07:05] malikbilal27 commented on #1935
Any update here ?

[2021-03-08 10:34] marciobarbato opened #3125 "Failure running command - az logic"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az logic workflow list
Extension Name: logic. Version: 0.1.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az login
- `az account set --subscription XXXX
- `az logic workflo

[2021-03-08 10:40] yonzhan commented on #3125
logic

[2021-03-08 16:14] niswitze commented on #1935
@jochav bumping the thread here as well.

[2021-03-08 17:49] prateekchawla opened #3127 "Deploy models from az ml deploy using custom base images"
### Extension name (the extension in question)
ml

### Description of issue (in as much detail as possible)
We have our custom model images built already in azure container registry. We need to utilize those images with our az ml deploy command.
Currently, when we are doing` az ml model deploy -n $serviceName --ct $computename  --bi $baseimagename --ir abc.azurecr.io`
The error says to pass the mo

[2021-03-08 23:02] ekpgh commented on #2695
Is this done? I see that there's an hpc-cache usage-model list command in the AZ CLI now.

[2021-03-08 23:07] GaTechThomas opened #3129 "Does anyone at Microsoft use the CLI?"
It is EXASPERATING to try to use the CLI for Azure Devops. I simply want to add group that is defined in an Azure Devops project to the list of required reviewers. The documentation is ridiculously unhelpful. I've spent hours trying to figure out how to get an ID that will work in the calls referenced in the issue. Many github issues exist related to this that may be helpful, except that the quest

[2021-03-08 23:34] yonzhan commented on #3129
devops

[2021-03-09 02:26] yungezz commented on #3127
route to appropriate team

[2021-03-10 08:01] #3084 closed

[2021-03-10 08:02] #3092 closed

[2021-03-10 18:01] GaTechThomas commented on #3078
This appears to be the same as https://github.com/Azure/azure-devops-cli-extension/issues/1091

[2021-03-10 21:50] snpdev commented on #3127
Just a hunch... In [Deploy a model using a custom Docker base image](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-custom-docker-image#use-an-image-with-the-machine-learning-cli), we see the example `az cli` as follows:
[code]
Notice that there are no `--bi` and  `--ir` options.

The documentation states, "Before deploying a model using the Machine Learning CLI, create an e

[2021-03-10 23:48] 08nholloway commented on #2723
@yungezz yes I can

[2021-03-11 00:17] ryanhofdotgov opened #3143 "db-up does not return correct PostgreSQL host for Azure Government"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

db-up

### Description of issue (in as much detail as possible)

-----

When I run:
[code]
I expect to get:
[code]

Instead, I incorrectly get the commercial Azure (`AzureCloud`) host:
[code]

[2021-03-11 00:19] yonzhan commented on #3143
db-up

[2021-03-11 00:49] chiragg4u commented on #2844
As captured in another [thread](https://github.com/Azure/azure-powershell/issues/13845) we have more limits in the ARG CLI. Please provide feedback in our uservoice channel so that we can prioritize most important features @ https://feedback.azure.com/forums/915958-azure-governance?category_id=345061

[2021-03-11 02:11] Juliehzl commented on #3089
`preview` is a tag for CLI code readiness. As `storage-preview` is using table api version, but it is till in preview. For `powerbidedicted`, as the code is auto-generated and we received issue for command design, I will prefer keeping it here for several months.

[2021-03-11 03:31] #3085 closed

[2021-03-11 03:32] #3091 closed

[2021-03-11 03:33] #3088 closed

[2021-03-11 05:42] evelyn-ys commented on #3089
Got it!

[2021-03-11 17:32] janeallianz commented on #3019
Hi @MSSedusch is there any update? Thanks.

[2021-03-11 17:39] shivanissambare commented on #3127
Yup,
you'd need to create an environment that uses the custom image. Then create an inference configuration file that references the environment. You can also define the environment directly in the inference configuration file.

inference config example: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-and-where?tabs=python#define-an-inference-configuration

Use an image with

[2021-03-11 23:09] wasker opened #3151 "How to specify "Latest" in --secret-version argument?"
## Describe the bug

When viewed in Azure Portal, custom domain functionality of AFD recommends using latest version of certificate to avoid service interruption:

![image](https://user-images.githubusercontent.com/1999365/110867031-f4d2aa80-827a-11eb-8b64-fb35bba784e2.png)

Apparently, it's impossible to specify "Latest" version from the CLI.

**Command Name**
[code]

**Errors:**

## To Reproduce

[2021-03-12 00:18] yonzhan commented on #3151
front-door

[2021-03-12 16:57] albinojunior opened #3154 "Azure DevOps Extension: Commands outputs (JSON string)"
I found this CLI today and I have some points about the outputs of the commands.
Many of the outputs of the `az repos pr` commands result in a JSON string.

Using the GitHub CLI as reference, the output of the `gh pr list` command is an table list.

Someone like this:
[code]

I think this output (as a table) is more clear to read and understand as opposed to the JSON string result.

---
#### Docum

[2021-03-12 17:29] #3154 closed

[2021-03-14 16:36] sjoshi077 opened #3156 "when Azure devops cli will be in GA, as it still showing in preview mode"
when Azure DevOps cli will be in GA, as it still showing in preview mode

Command group 'DevOps security permission' is in preview and under development.

[2021-03-14 23:17] yonzhan commented on #3156
DevOps

[2021-03-15 01:26] jochav commented on #1935
Yes, sorry for the delay, needed to verify with a few people. But apparently there was a gap in my understanding of the problem. As far as we can tell, Query API does allow to change the granularity, but the documentation and likely SDK is not displaying this. Will work next to update these.

[2021-03-15 16:45] MSSedusch commented on #3117
Can you please try to uninstall the aem extension and reinstall? (maybe even reinstall the Azure CLI completely) I was able to install aem 0.2.1 with the latest Azure CLI version 2.20.0 that you are using and could install the extension on a SLES 15 VM.

[2021-03-15 16:48] MSSedusch commented on #3019
no, not yet. Still looking into it. Sorry for the delay

[2021-03-15 23:53] ankit2809 commented on #3117
I am executing the commands using Azure Cloud shell. Is it possible to reinstall aem here as well ?
Also, we are using RHEL 8.2 where this issue is occuring.

[2021-03-16 06:42] BrianMouncer commented on #1466
Yes, we are using the Publish Build Artifacts task, and after several attempts, I am still unable to get "az pipelines runs artifact download --run-id" to work with any files that are in a "container".

I did a quick experiment today, and if I switch our build system to use PublishPipelineArtifact@1 task, then the AZ Clie command will work and download the files, though no longer as a zip file, bu

[2021-03-16 09:31] yungezz commented on #2529
image-copy extension need to be improved systematically, add feature-request to this one.

[2021-03-16 09:42] MSSedusch commented on #3117
yes, that should be possible with
[code]

[2021-03-17 13:40] ankit2809 commented on #3117
After removing and adding the extension, now I receive a new error :

(VMExtensionHandlerNonTransientError) The handler for VM extension type 'Microsoft.OSTCExtensions.AzureEnhancedMonitorForLinux' has reported terminal failure for VM extension 'AzureEnhancedMonitorForLinux' with error message: '[ExtensionOperationError] Non-zero exit code: 1, /var/lib/waagent/Microsoft.OSTCExtensions.AzureEnhance

[2021-03-17 13:58] wtorfs opened #3161 "failure to attach acr to aks with preview enabled"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update
Extension Name: aks-preview. Version: 0.5.5.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks update -g {} --name {}

[2021-03-17 14:26] MSSedusch commented on #3117
The error looks like you are installing the default version of the AEM extension which does not work on RHEL 8.2. Can you install the new version with
[code]

[2021-03-18 14:12] yonzhan commented on #3161
aks

[2021-03-18 15:11] sjoshi077 commented on #3156
Can i get an update on this question

[2021-03-18 15:43] cgranade opened #3167 "Connection error when listing targets in CLI"
(Transferring issue reported by @giobb from https://github.com/microsoft/Quantum/issues/466.)

Hi everyone

I always get the issue below on my work machine. This machine is the standard issue that's connecting to corpnet via MS VPN from home. It doesn't happen on my personal machine though. If it's not Quantum-CLI related, I'm just wondering why it's only on this particular subcommand, (the **work

[2021-03-18 17:58] rjmccallumbigl commented on #2207
Posting idea here and closing thread: https://feedback.azure.com/forums/216843-virtual-machines/suggestions/42952551-use-az-vm-repair-extension-to-create-repair-vm-w

[2021-03-18 17:58] #2207 closed

[2021-03-18 21:17] hpsan opened #3168 "Az logic CLI doesn't work"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I'd like to list all the logic apps available in my resource group, and I just installed the `logic` extension. But it doesn't seem to work for me
**Command Name**
`az logic workflow show
Extension Name: logic. Version: 0.1.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that arg

[2021-03-18 23:22] yonzhan commented on #3167
quantum

[2021-03-19 01:34] yonzhan commented on #3168
logic

[2021-03-19 10:22] MSSedusch commented on #3019
@janeallianz I found a workaround and will provide a fix next week

[2021-03-19 16:38] nlarif commented on #1660
Faced the same issue, workaround is to use the group descriptor instead of the group name. Use `az devops security group list --project "PROJECT-NAME" --output table` to get the group descriptor. Same for listing permissions use `az devops security permission list --id "ID" --subject "GROUP-DESCRIPTION-NOT-NAME" --output table`

[2021-03-20 04:18] #3089 closed

[2021-03-20 04:29] yonzhan commented on #3018
Hi @v-caxian, any update?

[2021-03-20 20:40] timvink commented on #2946
Just tested this again, same issue is still present. Would appreciate a follow-up!

[2021-03-21 14:38] fengzhou-msft commented on #2008
The following note is added in MS doc:

[2021-03-21 14:38] #2008 closed

[2021-03-22 03:22] Juliehzl commented on #3143
You need to set your cloud env to AZURE_US_GOV_CLOUD with `az cloud set -n AZURE_US_GOV_CLOUD` and run related commands

[2021-03-22 06:29] Juliehzl commented on #3106
Hi @nickpainter, do you mean `az storage blob copy start-batch`? It is recursive one and we also print all blobs to copy in terminal.

[2021-03-22 12:56] ndpk opened #3176 "Please share examples for all commands"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3324c35b-f381-8db4-b168-6f73e20c1f3e
* Version Independent ID: 7a3e8656-7741-8365-e56c-44056f034b31
* Content: [az repos pr](https://docs.microsoft.com/en-us/cli/azure/ext/azure-devops/repos/pr?view=azure-cli-latest)
* Content Source: [latest/docs-ref

[2021-03-22 13:04] yonzhan commented on #3176
devops

[2021-03-22 14:44] Klaas- commented on #2036
Hi,
I can say that the comma seperated values do not work for me either (RHEL7, bash, azure-cli 2.19)

--subscriptions 11111111-1111-1111-1111-111111111111, 22222222-2222-2222-2222-222222222222, 33333333-3333-3333-3333-333333333333

will give an error
"message": "Subscription ids have to be valid GUIDs. Given: '11111111-1111-1111-1111-111111111111,,22222222-2222-2222-2222-222222222222,'."

when se

[2021-03-23 03:36] #3143 closed

[2021-03-24 07:59] ggirase1978 opened #3181 "Image copy to another region failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az image copy
Extension Name: image-copy-extension. Version: 0.2.8.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az image copy --sour

[2021-03-24 08:07] yungezz commented on #3181
image copy extension

[2021-03-24 13:43] Blackbaud-ChrisBlythe opened #3182 "Parsing errors for queries with '*' and '!'"
I'm trying to use the cli to create a rule with a rule that includes a '*' and/or '!' and am getting parsing errors. Would appreciate feedback on how to appropriately escape these, etc.

As an example, I've taken the condition from the documentation and added additional clauses to test these specific situations.

First, '*' with the addition of something like **summarize arg_max(TimeGenerated, \*)

[2021-03-24 13:45] Blackbaud-ChrisBlythe commented on #3182
Also, as an FYI...

[code]

[2021-03-24 16:50] Klaas- opened #3184 "[resource-graph] Queries always return resourceGroup even when just requesting id"
### Extension name (the extension in question)
azure-cli                         2.21.0
resource-graph                     1.1.0

### Description of issue (in as much detail as possible)
When doing a simple query like:
`az graph query -q "Resources | project id"`

it will always return id + resourceGroup

[code]

I would expect it to return the columns I requested.

I can work around it by doing a

[2021-03-24 20:51] saamorim commented on #1971
As a workaround, I've tried using the `az devops service-endpoint create --org [ORG] -p [PROJECT] --service-endpoint-configuration CustomServiceEndpoint.json` with the file below, without much luck. When I access the project build information got the error
`An error occurred while fetching the pipeline. TF400864: The Item specified by the key '26501285-261b-409c-b7ce-154f1da82d74' does not exist.`

[2021-03-24 23:18] yonzhan commented on #3182
monitor

[2021-03-24 23:20] yonzhan commented on #3184
route to service team.

[2021-03-25 05:41] kairu-ms commented on #3182
Thanks for you feedback. You are right scheduled-query doesn't support these characters. Its current implementation has limitation. We will redesign its command interface.

[2021-03-27 08:25] janeallianz commented on #3019
@MSSedusch thanks for the update. Could you please tell me when the fix will be available on CLI? Many thanks.

[2021-03-29 06:41] MSSedusch commented on #3019
The fix was merged. Once PR https://github.com/Azure/azure-cli-extensions/pull/3179 is merged too, aem version 0.2.2 will be published and you can use it after updating to this version with e.g.

`az upgrade`

[2021-03-29 19:05] ctaggart commented on #2831
Fixed by #2932

[2021-03-29 19:05] #2831 closed

[2021-03-29 19:31] ctaggart commented on #3020
@yungezz, are there any good examples I can follow for this? I've been looking for examples that use `resource_id` instead of the resource name. I found some code that uses `parse_resource_id`, but  I haven't come across any good examples yet that use both resource id and resource names.

[2021-03-29 20:16] dimalyshev commented on #2484
Hope it helps
command from https://docs.microsoft.com/en-us/cli/azure/extension?view=azure-cli-latest
`
az extension add --source ~/anextension-0.0.1-py2.py3-none-any.whl --pip-proxy https://user:pass@proxy.server:8080
`

as for me this works
`
#https://azcliextensionsync.blob.core.windows.net/index1/index.json
# to install devops extension
python.exe -m pip install --target "~\.azure\cliextension

[2021-03-30 02:20] #2695 closed

[2021-03-30 08:11] wahyuen opened #3198 "az network front-door create should allow user defined names"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
front-door

### Description of issue (in as much detail as possible)
Currently, the command used for creating a new front-door uses a number of default names for the given sub components (frontend/backend pool

[2021-03-30 08:28] yonzhan commented on #3198
front-door

[2021-03-30 08:47] fengzhou-msft commented on #2872
@codepossible for the functionality issue, which platform do you use and how do you install `azure-cli`? I cannot reproduce it on windows and WSL.

For the design feedback, I think you are shcomapring 2 differnet types: `AzureBlobFS` and `AzureStorage`.

[2021-03-30 17:38] pjboardman opened #3203 "Note is misleading"
The note at the top of this page states:
"Note

This reference is part of the application-insights extension for Azure CLI and requires version 2.0.79 or higher. The extension will automatically install the first time you run an az monitor app-insights component command. Learn more about extensions."

However, I am running `az monitor app-insights component create` in an Azure Devops AzureCLI@2 ta

[2021-03-30 22:52] yonzhan commented on #3203
@kairu-ms for awareness

[2021-03-31 06:09] fenwickt opened #3208 "How to update vendored_sdks with python track2 package?"
Hi,

I'm trying to update existing CLI extension (resource-graph) with the new vendored sdk, but azdev tool just doesn't work. Could you please advise a proper way to update the extension to use the newest sdk version?

There is a python package that was generated using autorest track2 configuration. But since it has different structure (_version.py instead of version.py, etc.), azdev doesn't reco

[2021-03-31 06:15] yonzhan commented on #3208
update vendored_sdks

[2021-03-31 07:11] jsntcy commented on #3208
@fenwickt, thanks for your good suggestion and we'll update the docs. As a quick guidance for you, you can copy the track 2 SDK from `https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/resources/azure-mgmt-resourcegraph/azure/mgmt` to replace SDK in `https://github.com/Azure/azure-cli-extensions/tree/master/src/resource-graph/azext_resourcegraph/vendored_sdks` (delete all files and fold

[2021-03-31 18:56] shivanissambare commented on #3127
Please let us know if you have any other questions.

[2021-03-31 18:56] shivanissambare commented on #3127
#please-close

[2021-03-31 20:18] #3127 closed

[2021-03-31 20:59] saifsre opened #3211 "Error when trying to update load-balancer-outbound-ips"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update
Extension Name: aks-preview. Version: 0.5.5.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks update --name {} --res

[2021-04-01 02:29] fengzhou-msft commented on #2614
datafactory 0.2.1 is released with the fix.

[2021-04-01 05:09] yungezz commented on #3211
route to appropriate team

[2021-04-01 05:52] fenwickt commented on #3208
Thank you! Deleting everything including the pycache before copying the SDK worked.

[2021-04-01 08:04] #3208 closed

[2021-04-01 16:08] keith-thai opened #3217 "az image copy error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az image copy
Extension Name: image-copy-extension. Version: 0.2.8.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az image copy --sour

[2021-04-02 00:26] yungezz commented on #3217
hi @qwordy could you help to have a look?

[2021-04-02 06:17] fengzhou-msft commented on #2872
For the functionality issue, I can reproduce it for a type that is not supported by the extension yet, for instance: `AzureDatabricksDeltaLake` and there should be a warning message with `--debug`:

Then the request body becomes:
`{"properties": {"type": "LinkedService"}}`

We will work on regenerating the extension to support new types.

[2021-04-02 17:13] fenwickt commented on #2036
Hi @Klaas- thank you for the feedback. We are updating our CLI module and will fix this example in the help file.

[2021-04-05 10:20] miohtsub opened #3223 "Not able to deploy AzureDatabricksDeltaLake for ADF linked service by az datafactory linked-service create"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
az datafactory linked-service create

### Description of issue (in as much detail as possible)
AzureDatabricksDeltaLake has been newly added as a liked service resource in ADF and it is currently not supported

[2021-04-06 01:44] yungezz commented on #3223
hi @fengzhou-msft could you pls have a look?

[2021-04-06 07:54] ajay-aravind opened #3228 "Correction needed in example provided to create cloud services"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
cloud-service

### Description of issue (in as much detail as possible)
PS C:\Users\ajreddy> az cloud-service create -h
..
..

Examples
    Create a cloud service with 2 roles, 2 load balancers (one has a publ

[2021-04-06 08:00] ajay348 opened #3229 "Command isn't working in powershell"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
cloud-service

### Description of issue (in as much detail as possible)
PS C:\Users\ajreddy> az cloud-service create -g test-az-cli -n MigrateCloudService  --roles MigrateCloudService_WorkerRole:Standard_D1_v2

[2021-04-06 08:09] janeallianz commented on #3019
@MSSedusch thanks.. any idea how long that will take? is it possible to apply the fix myself or do I have to wait for the update?

[2021-04-06 08:13] Marc013 commented on #3078
Is there any update on this issue?
It would be great when this vital functionality would be available!

[2021-04-06 08:26] MSSedusch commented on #3019
@janeallianz PR was merged. AEM 0.2.2 is now available. Please give it a try and let me know if this version solves your issue.

[2021-04-06 08:34] yungezz commented on #3228
cloud service testing feedback

[2021-04-06 08:35] yungezz commented on #3229
cloud service extended support testing feedback

[2021-04-06 08:46] janeallianz commented on #3019
@MSSedusch thanks for the quick response. I tried it but now get a roleAssignments error:

The client 'JANE.TOOKE@ALLIANZ.DE' with object id '3edc8f0d-e909-4613-90b6-6fdc0ede3422' does not have authorization to perform action 'Microsoft.Authorization/roleAssignments/write' over scope '/subscriptions/dd7199db-bdad-49c9-b25c-b6520490e0f2/resourceGroups/RG-PO-ALL/providers/Microsoft.Authorization/rol

[2021-04-06 08:53] MSSedusch commented on #3019
You need to have Owner privileges or User Access Administrator to be able to install the extension. You need to have these privileges either on the resource group or, if you call az vm aem set with parameter --set-access-to-individual-resources, you need to have these privileges on the VM and all relevant resources, like disks and network interfaces that are used by the VM.
The reason is that the

[2021-04-07 03:54] #3151 closed

[2021-04-08 04:08] yonzhan commented on #3106
Hi @nickpainter, any feedback or update?

[2021-04-08 04:26] t-bzhan commented on #3151
Just update the front-door extension to 1.0.13, the secret version parameter is now optional and your certificate will be auto-rotated when a new version of secret generated if secret version is not specified.

[2021-04-08 14:28] brianstringfellow commented on #2826
I tried the aggregation and grouping settings in the query above. The call gives the error `UnrecognizedArgumentError: unrecognized arguments: totalCost:{name:PreTaxCost,function:Sum}}`.

[2021-04-09 05:04] #2588 closed

[2021-04-09 05:10] fengzhou-msft commented on #1836
With Azure CLI 2.20.0+, now you can configure a private extension registry, for instance you can refer it to an `index.json` file on a git branch:
`az config set extension.index_url=https://raw.githubusercontent.com/Azure/azure-cli-extensions/master/src/index.json`

[2021-04-09 05:10] #1836 closed

[2021-04-09 06:15] gusnaughton commented on #1836
Thank you, friends!!

[2021-04-09 07:55] yungezz commented on #2790
seems the API version used is old, the extension need regenerate, put it as feature

[2021-04-09 11:19] AaliAlikoski commented on #1495
Any news on this? I am struggling with the same problem. So, an example of JSON needed for creating a service connection for ACR is what I am looking for.

[2021-04-11 05:29] aneeshbhat23 commented on #2997
Ran into the same issue for the aks browse command.

**Environment Details:**

azure-cli                          2.8.0

command-modules-nspkg              2.0.3
core                               2.8.0
nspkg                              3.0.4
telemetry                          1.0.4

Extensions:
aks-preview                        0.5.5

Python location '/opt/az/bin/python3'
Extensions directory '

[2021-04-12 01:03] ysyukr opened #3248 "Fail to aks update command(with --uptime-sla options)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update
Extension Name: aks-preview. Version: 0.5.7.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks update --name {} --res

[2021-04-12 01:43] yungezz commented on #3248
https://github.com/Azure/azure-cli/issues/14287

[2021-04-12 05:44] yungezz commented on #2723
hi @08nholloway what's status of the issue? thanks.

[2021-04-12 07:32] samb0803 opened #3252 "Az CLI Issues"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update
Extension Name: aks-preview. Version: 0.5.7.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks update --resource-grou

[2021-04-12 09:49] Snorky35 commented on #2997
I resolved this issue by executing the following command :

az aks get-credentials --resource-group $RSS_GROUP_NAME --name $AKS_CLUSTER --admin -a

Hope it will help

[2021-04-12 10:36] gbd77rc commented on #1632
Hi I have the same issue here.  How do you specify the artifact versions for the release pipeline creations.

az pipelines release create --artifact-metadata-list "$($artifactList.Trim())" --definition-name $releasePipeline --description "$($currentSprint) Release" --organization $organization --project $project

The artifactList is this string

“_sdb_build=600 _iac_build=599 _sdb_transforms_build

[2021-04-12 21:17] 08nholloway commented on #2723
@yungezz nearly finished. One last thing to finish in the scenario test, should have PR submitted by tonight

[2021-04-13 10:17] yonzhan commented on #3252
route to service team

[2021-04-13 22:35] akshaysngupta commented on #2748
This should be solved now.

[2021-04-13 22:42] robbiezhang commented on #2997
@Snorky35 @aneeshbhat23 thanks for reporting. I cannot repro the issue with azure-cli 2.22.0 + aks-preview extension, but I did repro it with azure-cli 2.8.0 + aks-preview extension.
I guess your azure-cli version is too old, which doesn't contain the "portal" property in the CloudEndpoints.

[2021-04-13 23:35] robbiezhang commented on #2997
Looks like it's added in azure-cli 2.13, and verified it's working. Please upgrade your azure-cli version
https://github.com/Azure/azure-cli/commit/bade99898a9ce6b321c53ef5be3633b1eedc508c

[2021-04-14 05:41] yungezz commented on #3252
https://github.com/Azure/azure-cli/issues/14287

[2021-04-14 09:24] realrubberduckdev opened #3265 "az monitor app-insights query returns 0 rows"
### Extension name (the extension in question)
az monitor app-insights query

### Description of issue (in as much detail as possible)

A query in the lines of:

[code]

returns 0 rows
[code]
Even though the same query on azure portal returns values.

The same happens with `browserTimings` and `exceptions`.
All of these return values on portal.

Other tables like `requests`, `dependencies`, `perfo

[2021-04-14 09:38] yonzhan commented on #3265
monitor

[2021-04-14 11:57] Tatsinnit commented on #3066
💡 Hiya and thanks for follow-up on this. I tried to reproduce this and was unable to, hence sharing my initial findings:

Can you share more details for reproducing this please: with the extension version `0.5.0` I am not able reproduce this error. I tried by uninstalling the `kubectl` as well.

From the error it looks like the az cli level - core process had a failure that the given time when the

[2021-04-15 03:26] ysyukr commented on #3248
This issue has been confirmed to be resolved through the #3251

[2021-04-15 04:43] qwordy opened #3268 "Prompt new version when there is a new version of the running extension"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

### Description of issue (in as much detail as possible)
The author of quantum extension asked is there a way to prompt users to update extension version.

This issue is a feature request.

My preliminary tho

[2021-04-15 04:47] yonzhan commented on #3268
Was this a generic feature request besides quantum?

[2021-04-15 04:49] qwordy commented on #3268
It is a generic feature.

[2021-04-15 05:11] kairu-ms commented on #3265
Hi @sameergMS @dadunl, can you have a look at this issue?

[2021-04-15 05:16] kairu-ms commented on #3265
I think that may caused by different api-version. CLI and portal are calling different api-versions.
@realrubberduckdev Can you update application-insights by the follow command and try again?
[code]

[2021-04-15 20:21] v-strudm-msft commented on #1573
Since there hasn't been a response to our last comment, we are closing this issue. Should there still be a question, please open a new issue. Thank you.

[2021-04-15 20:21] #1573 closed

[2021-04-15 20:42] v-strudm-msft commented on #2461
Per the above posts, this issue was resolved with a fix at least two months ago. We'll now close this issue.

[2021-04-15 20:42] #2461 closed

[2021-04-16 00:30] #2992 closed

[2021-04-16 11:40] Poil opened #3272 "Unable to passe multiple frontend-endpoint to az network front-door routing-rule update --frontend-endpoints"
### Extension name (the extension in question)
* Front-Door

[code]

### Description of issue (in as much detail as possible)
I'm unable to pass multiple frontend to routing-rule update/create

[code]
-----

[2021-04-16 11:44] Poil commented on #3272
OK it's totally WTF we need "no quote" around the parameter

This is really not trivial, no optArg in the world work like this :rofl:

[2021-04-16 14:41] yonzhan commented on #3272
route to service team

[2021-04-16 18:10] Poil commented on #3272
Hi,

It looks like it works from the command line but if you want to use the library in a python script it's impossible to have it

[code]

[code]

Will produce `"--frontend-endpoints" "xxxxx yyyyy zzzzzz"`
If I use a fstring I will have `"--frontend-endpoints xxxxx yyyyy zzzzzz"` with an error message ̀missing frontend-endpoints parameter`

[2021-04-16 18:18] #3272 closed

[2021-04-17 05:28] 01011011 commented on #3066
I believe it had to do with the storage account.  I was just choosing the defaults initially in the cluster, maybe look into that.

[2021-04-17 05:44] Tatsinnit commented on #3066
Hiya @01011011  (nikola) thanks for reply, I tried with default storage, using the storage account in diagnostics settings for your managed cluster. But seems to be behaving as expected.

* I will try it again, with new account.
* In the mean time if you have reproducible replication steps then please feel free to share.

thank you.

[2021-04-18 04:52] aneeshbhat23 commented on #2997
@robbiezhang After upgrading to the latest version (azure-cli: 2.22.0, aks-preview: 0.5.5), it is working fine. Thanks.

[2021-04-19 03:17] kairu-ms commented on #3182
Related ICM issues
- https://portal.microsofticm.com/imp/v3/incidents/details/236718592/home

[2021-04-19 13:42] timvink commented on #2946
Looks like this issue is more relevant tot he azure devops extension repo, re-posted here: https://github.com/Azure/azure-devops-cli-extension/issues/1120

[2021-04-19 13:42] #2946 closed

[2021-04-19 14:53] realrubberduckdev commented on #3265
Hi @kairu-ms
I am using
[code]
And update command returns:
[code]

Seems I am at the latest version.

[2021-04-20 13:15] #2723 closed

[2021-04-21 04:47] khaosdoctor opened #3283 "Az SSH error when using private key path"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ssh vm
Extension Name: ssh. Version: 0.1.4.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ssh vm -g {} --private-key-file {} -n

[2021-04-21 05:07] yungezz commented on #3283
hi @N6UDP could you look at the issue? thanks

[2021-04-21 17:30] N6UDP commented on #3283
@khaosdoctor you need to specify the public key file too -- that said we should probably produce a more reasonable error / validate the args before we get to that point so I will go fix that.

[2021-04-21 17:56] N6UDP commented on #3283
fwiw, you also don't need to specify private key (only public key is required) in the event your key is in ssh-agent.  #3286 adds a user facing error for this.

[2021-04-21 17:57] N6UDP commented on #3283
@yungezz once #3286 is in this can be resolved (I don't have perms to do so)

[2021-04-21 21:14] khaosdoctor commented on #3283
Even if I have my public key set up on the VM as well? I may be getting it wrong, but then the flow gets a bit confusing to me, since all that's needed to SSH into the VM is the private key file, isn't it?

[2021-04-21 21:20] N6UDP commented on #3283
@khaosdoctor the public key is sent to Azure AD and then signed to create an openssh certificate which is presented to a VM with AAD VM login setup.  If you've directly provisioned a public key on the VM then that's not the AAD auth flow and this extension is not what you want to be calling into.  A private key alone is not sufficient for the AAD flow.

[2021-04-21 21:21] N6UDP commented on #3283
There was a discussion I had about the fact the "ssh" name of the extension is a bit misleading as the extension is exclusively for AAD login - see https://docs.microsoft.com/en-us/azure/virtual-machines/linux/login-using-aad for more details.

[2021-04-22 19:48] khaosdoctor commented on #3283
Oh ok that clarified things to me! I'm logging in as plain SSH, I do not intend to have AAD integration. Thanks a lot for explaining!

[2021-04-23 08:28] sunilthemaster opened #3294 "Unable to run kollect command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks kollect
Extension Name: aks-preview. Version: 0.4.70.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks kollect -g {} -n {}

[2021-04-25 00:40] elasticdotventures opened #3296 "More detail on Fzf extension"
[Enter feedback here]

Trying to understand the nature of an `az cli fzf` filter group.  The documentation is ambiguous, any chance it could have an example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 320a9fcc-4475-8ed4-7404-a09d81bf6ce1
* Version Independent ID: f3385cf5-48d3-3ca2-d5d0-c3ea7000bca7
* Content: [az

[2021-04-25 00:52] yungezz commented on #3296
hi @phealy could you look at this? thanks

[2021-04-25 00:52] yungezz commented on #3294
route to appropriate team

[2021-04-25 00:56] phealy commented on #3296
Will do! I was working on a small update anyway - I'll add some more doc to this issue Monday and get it added to the extension for the next update.

[2021-04-25 02:01] phealy commented on #3296
For now - any input passed to the filter string option is just passed directly to `fzf --filter`. The syntax is the same as if you were typing into an interactive filter window, and the syntax can be found on [the fzf GitHub page](https://github.com/junegunn/fzf#search-syntax).

For example, if I need to find a subscription ID for a single az command for my subscription that has network in the nam

[2021-04-25 02:50] jiasli commented on #3296
This `fzf` extension is added by https://github.com/Azure/azure-cli-extensions/pull/2370.

I am just wondering if its doc should really appear under the official document's [Azure CLI session](https://docs.microsoft.com/en-us/cli/azure/fzf?view=azure-cli-latest), distracting customers from official commands like `account`, `config`. + @qwordy

![image](https://user-images.githubusercontent.com/400

[2021-04-25 07:53] #3106 closed

[2021-04-26 11:35] kw217 opened #3301 "az postgres up fails unpleasantly when database name contains dash"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

db-up

### Description of issue (in as much detail as possible)

Based on https://docs.microsoft.com/en-us/azure/app-service/tutorial-python-postgresql-app?tabs=bash%2Cclone I tried
[code]
and got a failure o

[2021-04-26 11:57] yonzhan commented on #3301
postgres up

[2021-04-26 14:12] phealy commented on #3296
I just the extension in the repo per the CLI extension submission instructions - as far as I'm aware, these documents were autogenerated from the help in my extension and created by the doc automation, not something I did explicitly.

[2021-04-27 04:09] jiasli commented on #2246
As `ai-examples` is now installed on Cloud Shell by default, `az vm create -h` in Cloud Shell gives much fewer examples than the original command as examples are removed/replaced by `ai-examples`. +@qwordy

![image](https://user-images.githubusercontent.com/4003950/116183883-5a0e2c80-a751-11eb-8657-f5b5bae3257b.png)

[2021-04-27 11:10] matthewboler commented on #2554
any progress on this issue?

[2021-04-27 21:47] Tatsinnit commented on #3066
💡 loop back to update that I tried few ways, but not able to re-pro this issue, even with the resource missing I get the following error as mentioned below.

Also, if we look at the issue the actual problem is not the `aks` command it is the `kubectl` invocation which failed with non-zero exit-code. If we have a repro, we could investigate this further otherwise we can close this issue for now

Th

[2021-04-28 10:22] fdebuire opened #3314 "az network front-door routing-rule update removes caching configuration"
### Extension name (the extension in question)
front-door

### Description of issue (in as much detail as possible)
I am using ```az network front-door routing-rule update``` to add a rules engine to a routing rule, using ```--rules-engine``` parameter, to an already existing routing-rule and the caching configuration is also updated to ```null```.

What I am expecting is that the routing rule wil

[2021-04-28 10:57] yonzhan commented on #3314
route to service team

[2021-04-28 11:18] RobinZergiebel commented on #1118
Any news?

[2021-04-28 11:19] RobinZergiebel commented on #3007
Any news?

[2021-04-28 15:25] ezYakaEagle442 opened #3315 "Az Monitor for Arc k8s extension deletion/reinstall fails"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
k8s-extension

### Description of issue (in as much detail as possible)
az k8s-extension delete does not delete rsources from the cluster

The extnesion is displayed as FAILEd then in the Azure portal with err

[2021-04-28 19:19] tzachie opened #3316 "Potential Bug: log-analytics-solution extension is getting Unknown error while trying to delete a solution."
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
GA Log Analytics Solution

### Description of issue (in as much detail as possible)
while trying to delete a solution operation fails with Unknown error.

-----

tzachi@Azure:~$ az monitor log-analytics soluti

[2021-04-28 22:33] 01011011 commented on #3066
Sounds good, I did not have time to look into it again, if I run into the issue again I will post it.

[2021-04-28 22:33] #3066 closed

[2021-04-29 00:03] yonzhan commented on #3316
monitor

[2021-04-29 03:40] kairu-ms commented on #3316
Hi @msyyc, this error is caused by service error response is empty. Does SDK need to support it?

[2021-04-29 05:57] yungezz commented on #2962
feature related to codegenration tool, which is used to generate datafactory command code

[2021-04-29 06:02] yungezz commented on #3315
route to appropriate team

[2021-04-29 07:54] zhoxing-ms commented on #3316
msrest.http_logger: Response status: 204

This issue is because when the return status of service is `204`, the returned response content is empty, resulting in an error in constructing `CodeMessageErrorException`. [code link](https://github.com/Azure/azure-sdk-for-python/blob/release/v3/sdk/operationsmanagement/azure-mgmt-operationsmanagement/azure/mgmt/operationsmanagement/operations/_solutions_

[2021-04-29 10:28] N6UDP commented on #3283
@yungezz / @khaosdoctor now that the PR is in we can close this :)

[2021-04-29 14:18] M0ns1gn0r commented on #2826
There are some `\` missing in the @mrlepat query. The correct one is:

`az costmanagement query --type "Usage" --dataset-aggregation "{\"totalCost\":{\"name\":\"PreTaxCost\",\"function\":\"Sum\"}}" --dataset-grouping name="ServiceName" type="Dimension" --timeframe "TheLastMonth" --scope "subscriptions/****"`

[2021-04-29 15:36] elasticdotventures opened #3321 "az fzf is not a command"
[Enter feedback here]
az fzf is documented but does not actually exist in the az cli. As suggested  by docs:
[code]
bash-5.0# az fzf
'fzf' is misspelled or not recognized by the system.

TRY THIS:
https://aka.ms/cli_ref
Read more about the command in reference docs
bash-5.0#

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2021-04-30 08:31] yungezz commented on #3321
hi @phealy could you look at this? thanks

[2021-05-02 12:26] tzachie commented on #3316
Seem customer didn't use the full solution name (that should be including the workspace name with the solution name).
thank you @dougbrad.

Correct syntax : tzachi@Azure:~$ az monitor log-analytics solution delete -g la-pl -n "AgentHealthAssessment**(tzachieworkspace-WE)**" --debug

Incorrect syntax:tzachi@Azure:~$ az monitor log-analytics solution delete -g la-pl -n AgentHealthAssessment

So now

[2021-05-03 07:17] Klaas- opened #3325 "Azure Graph Query RateLimiting"
### Extension name (the extension in question)
resource-graph                     1.1.0

### Description of issue (in as much detail as possible)
Hi,
I am having an issue where I get errors like
[code]

It seems the azure resource graph query extension is not properly dealing with rate limiting. I would expect it to wait for the amount of seconds specified in x-ms-user-quota-resets-after and try a

[2021-05-03 09:17] yonzhan commented on #3325
route to service team

[2021-05-03 11:35] Klaas- commented on #3325
Hi,
I would consider this as a bug unless you say it is by design that a query fails if it's being rate limited :) If this is by design I would need to code my own retry logic when using azure-cli.

[2021-05-03 12:37] Klaas- commented on #3325
it seems there was a similar problem with azure-cli aks https://github.com/Azure/azure-cli/issues/11891 - is this something that should be solved on the extension level or does this warrant a more general bug against azure-cli?

[2021-05-03 14:38] #3316 closed

[2021-05-03 14:39] tzachie commented on #3316
As feedback provided in
https://github.com/Azure/azure-cli-extensions/pull/3309
"Considering further - it is likely this RP will start deprecation process in next 6 months, the replacement functionality might GA in this time. So it might be best to leave this as experimental."

[2021-05-04 14:45] phealy commented on #3321
The azure storage account I had hosting the extension is in a subscription that accidentally got disabled. I've submitted a PR to merge the code (as last published) into this repo for future hosting, so once that's approved the index should be updated via the automatic process.

[2021-05-04 18:37] thetoolsmith commented on #1524
This error goes beyond just when you need to delete the front door. I have come into this on many cli front-door commands. Just now, I'm hitting it on configuring rules-engine through the cli. Run one command to create a rules-engine, then try to add action or something and I get "Conflict - The requested operation cannot be executed on the entity as another operation is in progress.".
After closi

[2021-05-04 18:43] TheFrogPrince commented on #1524
The way I believe it "works", Front Door manages tens or even hundreds of traffic entry points around the world.  Anytime we make changes, particularly when we make changes that involve SSL configuration, even though the UI (or the CLI, as the case may be) gives you the impression that the work is completed, in reality, it is actually walking around to every single one of those entry points, and u

[2021-05-05 18:24] morallito opened #3335 "Error usinf az ssg with rescource group and vm name"
**Command Name**
`az ssh vm
Extension Name: ssh. Version: 0.1.5.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az login`
- `az ssh vm --resource-group {} --vm-name {}`

## Expected Behavior
- ssh in to the machine

## Environment Summary
[code]

[2021-05-05 23:05] mmquantum opened #3337 "Azure Quantum Documentation update request"
[Enter feedback here]Azure Quantum Documentation - Please clarify when code instructions intended for quantum simulator on classical machine sent to an actual quantum machine backend. This may be known by the problem complexity, number of qubits, gate fidelity, coherence times, error correction etc...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-05-05 23:36] shbijlan commented on #2441
Is this still an issue? In order to repro the issue, we may need recent logs.

[2021-05-06 01:34] yungezz commented on #3337
route to appropriate team

[2021-05-06 01:34] yungezz commented on #3335
hi @N6UDP could you pls have a look?

[2021-05-06 02:49] #3321 closed

[2021-05-06 02:54] jiasli commented on #3296
@phealy

I understand. https://github.com/Azure/azure-cli-extensions/issues/3321 is another example showing putting `fzf` under **Azure CLI** confuses users as it is actually from an extension, not Azure CLI itself.

[2021-05-06 06:39] tianchijushi opened #3339 "Azure-ml-cli error when get toekn"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
Azure-ml-cli 1.0.0a1

### Description of issue (in as much detail as possible)
All the az ml command failed with error below, this error is not there when using public preview azure-ml-cli version

AzureCliCre

[2021-05-06 19:35] khaosdoctor commented on #3283
Closing :D

[2021-05-06 19:35] #3283 closed

[2021-05-06 21:43] garumph opened #3342 "az aks update attach-acr failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update
Extension Name: aks-preview. Version: 0.4.71.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks update -n {} -g {} --

[2021-05-07 01:51] yungezz commented on #3342
#14287

[2021-05-07 01:52] yungezz commented on #3339
route to appropriate team

[2021-05-07 21:52] jhirono commented on #2862
It is close to providing auto-shutdown config like below. I'm asking a responsible PM to share its timeline.

![image](https://user-images.githubusercontent.com/3425002/117512094-c7853e80-af43-11eb-8b13-2748091314dc.png)

[2021-05-07 22:00] jhirono commented on #2980
I will follow this. Apologies for the delayed reply because it was tagged with MLOps...

[2021-05-12 15:21] prateekchawla commented on #3127
Thanks @shivanissambare

[2021-05-14 12:36] timoharecvx opened #3379 "az ssh"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ssh vm
Extension Name: ssh. Version: 0.1.5.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ssh vm -n {} --resource-group {}`

##

[2021-05-16 11:59] zzfinancing opened #3383 "Issue with specific step in CLI Tutorial"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az postgres up
Extension Name: db-up. Version: 0.2.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az postgres up --resource-group {}

[2021-05-16 14:39] yonzhan commented on #3383
db up

[2021-05-16 23:02] alexandair opened #3384 "What happened to the command group "graph shared-group" in resource-graph 2.0.0?"
### Extension name (the extension in question)
resource-graph 2.0.0

### Description of issue (in as much detail as possible)

What happened to the command group "graph shared-group" in resource-graph 2.0.0?
That command group was present in 1.1.0. Removal is not documented in history.rst.

[2021-05-16 23:19] yonzhan commented on #3384
route to service team

[2021-05-17 01:54] yungezz commented on #3379
@N6UDP could you have a look?

[2021-05-17 14:56] kurt-mueller-osumc opened #3390 "`az postgres up` command crashes with an SSL error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

I was working through Azure's [Ruby Postgres Tutorial](https://docs.microsoft.com/en-us/azure/app-service/tutorial-ruby-postgres-app) and was on the [Create Postgres database in Azure](https://docs.microsoft.com/en-us/azure/app-service/tutorial-ruby-postgres-app#create-postgres-database-in-azure) step.

**Comm

[2021-05-17 23:18] yonzhan commented on #3390
db up

[2021-05-18 08:03] #2872 closed

[2021-05-18 08:03] #3223 closed

[2021-05-19 04:05] xfz11 opened #3396 "CI test_index fail without showing which download url can't access"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)
Fail reason:
https://github.com/Azure/azure-cli-extensions/blob/5c45cddc34a0a4a80b9c7d801d3700066cc18587/scripts/ci/util.py#L82
[code]
If the download url can't access, then error will throw as below.

**error log:**
`2021-05-19T03:31:26.6037344Z ==========

[2021-05-19 04:36] yonzhan commented on #3396
CI

[2021-05-19 22:47] sbonds opened #3402 "image-copy-extension: LinkedAuthorizationFailed when using subscription name in the target-subscription option"
### Extension name (the extension in question)

image-copy-extension

### Description of issue (in as much detail as possible)

When `az image copy` is used with `--target-subscription <name>` the following error occurs in the step "Creating snapshot in target region from the copied blob":

[code]

A bit of digging into the rest of the error message shows that the parameter passed to `az snapshot

[2021-05-20 01:31] yonzhan commented on #3402
image copy

[2021-05-20 08:26] oottka opened #3404 "[az-cli-ml] MemoryError when deploying model locally"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
azure-cli-ml 1.28.0

### Description of issue (in as much detail as possible)

When deploying a model with `az ml deploy` I get an MemoryError. Full relevant debug output can be found [here](https://gist.githu

[2021-05-20 23:01] harneetvirk commented on #3404
From the logs, it seems the container is experiencing the MemoryError while copying files/folder to a container's filesystem as part of copying the local assets. Could you try to passing --memory-gb flag with some higher configuration in the deployment configuration please?

Next week, we are shipping a preview version of v2 CLI extension for ml, if you are willing to upgrade to v2 ml extension (w

[2021-05-21 08:04] #3018 closed

[2021-05-21 08:31] #3182 closed

[2021-05-21 08:56] mimiz commented on #2974
Hi,
Is there a plan to fix this issue on `az pipelines run --variables` ? as the workaround with CURL is not acceptable in my case.
Regards

Rémi

[2021-05-21 09:00] yonzhan commented on #2974
@narula0781, @ashishonce, @romil07, any update?

[2021-05-25 08:37] Na-Sathish opened #3424 "While creating AKS"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create
Extension Name: aks-preview. Version: 0.5.13.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create -n {} -g {} --

[2021-05-25 09:11] yonzhan commented on #3424
route to service team

[2021-05-26 13:02] aelij opened #3435 "az aks check-acr uses device code authentication instead of launching a browser"
### Extension name (the extension in question)
aks

### Description of issue (in as much detail as possible)
`az aks check-acr` uses device code auth instead of launching a browser (like `az login`):

[2021-05-26 14:38] lostmygithubaccount opened #3436 "`az ml job create` fails with non-descriptive error message"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ml job create
Extension Name: ml. Version: 2.0.0a1.`

**Errors:**

![image](https://user-images.githubusercontent.com/54814569/119680259-ddc14480-bdf5-11eb-98ff-9bf704441950.png)

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may co

[2021-05-26 15:14] yonzhan commented on #3435
route to service team

[2021-05-26 18:36] josevan18 opened #3437 "az dms project task create - MongoDB DMS Migration (dms-preview)"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
dms-preview

### Description of issue (in as much detail as possible)
When running the az dms project task create for dms-preview on a MongoDB Migration Project I'm getting the following error

dms project tas

[2021-05-27 01:36] yonzhan commented on #3437
route to service team

[2021-05-29 06:15] floriankoch opened #3443 "az ssh vm : 'NoneType' object has no attribute 'id'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ssh vm
Extension Name: ssh. Version: 0.1.5.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ssh vm -n {} -g {}`

## Expected Behav

[2021-05-29 15:11] yonzhan commented on #3443
VM SSH

[2021-05-30 00:35] lostmygithubaccount opened #3444 "remove "Code" column from table view"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

![image](https://user-images.githubusercontent.com/54814569/120088316-0bcbb080-c0a4-11eb-98b8-d0e5cb435b72.png)

even on a widescreen monitor, the `az ml job list` command is not very pretty (see above). I think we should remove the `Code` column as a simple fix, and more rigorously ensure that our list/show o

[2021-05-30 01:40] yonzhan commented on #3444
route to service team

[2021-05-30 18:59] ami857 opened #3445 "Fail to create AKS cluster"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create
Extension Name: aks-preview. Version: 0.5.7.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-grou

[2021-05-30 23:47] yonzhan commented on #3445
route to service team

[2021-06-01 01:49] atan4583 opened #3448 "az webapp up fails to create a webapp & deploy code from a local workspace, does not run ORYX build in deployment anymore"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
webapp

### Description of issue (in as much detail as possible)
**Up until a few weeks ago**, I was still able to run `az webapp` up to create a webapp and deploy code from a local workspace to the app, now i

[2021-06-01 03:02] yonzhan commented on #3448
route to service team

[2021-06-02 00:50] singankit commented on #3339
@tianchijushi can you please the exact command and you are running which causes this error ? Also can you please share the output of **az extension list** command

[2021-06-02 04:09] matthewhall210 commented on #2824
I have this same issue. @lazarillo did you ever get a resolution?

[2021-06-02 11:32] xake-energinet opened #3456 "Cannot log in to Redhat 7.7 VM with az ssh vm from Cloud Shell"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ssh vm
Extension Name: ssh. Version: 0.1.5.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ssh vm --resource-group {} --vm-name {

[2021-06-02 11:38] yonzhan commented on #3456
VM SSH

[2021-06-02 11:52] xake-energinet commented on #3456
Based on the error message then it seems to be looking for a public_ip_ref.id, but the VM is on a private VNET and does not have a public ip. Getting the same error on the internal network with direct ip access.

[2021-06-02 18:15] jsturtevant commented on #3445
running `az extension update --name aks-preview` fix it for me

[2021-06-03 11:28] davesykeselateral opened #3458 "Error attempting to login to Ubuntu VM using az ssh vm & cloud shell"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ssh vm
Extension Name: ssh. Version: 0.1.5.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ssh vm -n {} -g {}`

## Expected Behav

[2021-06-03 12:26] henti opened #3460 "unexpected keyword argument 'account_key'"
## Describe the bug

I've used this command in the past to get a list of VHD images in my storage:

**Command Name**
`az storage blob list
Extension Name: storage-blob-preview. Version: 0.5.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

[code]
## Expected Behavior

list file sin st

[2021-06-03 14:15] yonzhan commented on #3460
storage

[2021-06-03 14:17] yonzhan commented on #3458
VM SSH

[2021-06-03 16:10] johnpetersjr opened #3462 "az ssh vm with service principal not working?"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Tried to assume a service principal identity using the "az login --service-principal" command.

Our service principals have access to multiple subscriptions.

I then ran this command to try and login to a VM that the SP has owner access to:

**Command Name**
`az ssh vm -n vmnamegoeshere -g rg-name-goes-here --s

[2021-06-03 22:49] yonzhan commented on #3462
ssh vm

[2021-06-03 23:38] jamesseiwert commented on #1733
We are still having this issue as of today with all of the latest updates

[2021-06-04 00:29] anuragdalmia commented on #1733
@jamesseiwert can you please share the latest issues that you are hitting.

[2021-06-04 11:32] mihma commented on #1524
Same error on a disabled subscription. Can't delete the Front Door.

[2021-06-04 13:17] jamesseiwert commented on #1733
![image](https://user-images.githubusercontent.com/31083794/120807238-59fe0b00-c50d-11eb-89e1-bfeb8516b88a.png)

[2021-06-04 16:12] anuragdalmia commented on #1733
You are still using the older APIs. With the latest release, there is a new subscription creation API called alias. https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/programmatically-create-subscription-enterprise-agreement?tabs=azure-cli. We no longer need to take offer type as a parameter and will create a subscription based on your enrollment type automatically.

[2021-06-04 16:53] giobb commented on #3167
This is already working for me

[2021-06-07 03:04] kelvinduan2020 opened #3468 "Cli command runs well on terminal but not on gitlab-ci.yml"
**Gitlab-ci.yml pipeline output**
$ az webapp deployment source sync --name "$AZURE_APP_SERVICE_NAME" --resource-group "$AZURE_RESOURCE_GROUP_NAME"
ERROR: The command failed with an unexpected error. Here is the traceback:
ERROR: Cannot deserialize content-type: text/html
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/site-packages/knack/cli.py", line 231, in invoke
    cmd_re

[2021-06-07 04:02] yonzhan commented on #3468
route to service team

[2021-06-08 15:12] maikvandergaag opened #3475 "AZ CLI k8s-extension No such file or directory: 'settings-extension.json'"
Problem while setting up the instance for event grid and following the documentation outline:

https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/custom-locations

**Command Name**
`az k8s-extension create
Extension Name: k8s-extension. Version: 0.4.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain

[2021-06-08 16:54] niksheridan opened #3476 "Failing retrieval of Credentials for terraformed AKS cluster kubeconfig"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials
Extension Name: aks-preview. Version: 0.5.14.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credenti

[2021-06-08 16:59] niksheridan commented on #3476
reinstated old ~/.kube/config file with 700 permissions and reran command, merged as expected and kubectl working. Seemed to error when using an empty or partally populated config file

[2021-06-08 16:59] #3476 closed

[2021-06-08 19:21] ChipV223 opened #3477 "Getting errors when trying to run az hcs get-config"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az hcs get-config
Extension Name: hcs. Version: 0.4.4.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az hcs get-config --name {} --res

[2021-06-09 00:26] yonzhan commented on #3475
route to service team

[2021-06-09 00:30] yonzhan commented on #3477
route to service team

[2021-06-09 00:48] dcaro opened #3478 "az next failed to connect to 'https://cli-recommendation.azurewebsites.net/api/RecommendationService' with status code '500'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

`az next` returns:
az next failed to connect  to 'https://cli-recommendation.azurewebsites.net/api/RecommendationService' with status code '500'

**Command Name**
`az next
Extension Name: next. Version: 0.1.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values hav

[2021-06-09 00:55] yonzhan commented on #3478
az next

[2021-06-09 02:34] jsntcy commented on #3477
@ChipV223, could you tell us where you installed this extension from as this extension is not hosted in our public extension repo https://github.com/Azure/azure-cli-extensions? If you installed from other places, please contact proper service team as actually we don't which team owns this extension.

[2021-06-09 14:26] kevinmatthews-kpmg commented on #1524
I feel like frontdoor is still not a "finished" product, there are a number of small issues that seem to affect it, to not saving with no error messages to more complicated such as certificates never provisioning.

I have had a few times now where we have provisioned a DNS entry correctly pointing with a CNAME to the frontdoor and it sits stuck in the domain verification stage forever, i've had to

[2021-06-09 22:49] ericmattingly opened #3482 "AKS Node Config Not Consuming Logging Settings"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
aks-preview  0.5.17

### Description of issue (in as much detail as possible)

When passing a kubeletconfig file with contents:

{
    "containerLogMaxFiles": 10,
    "containerLogMaxSizeMb": 500
}

to az aks

[2021-06-09 22:55] ericmattingly commented on #3482
I have created a PR to address, not sure why I am unable to link this issue with the PR - https://github.com/Azure/azure-cli-extensions/pull/3483

[2021-06-09 23:29] xuto2 commented on #3482
https://github.com/Azure/azure-cli-extensions/pull/3483

[2021-06-10 00:11] yonzhan commented on #3482
route to service team

[2021-06-10 00:21] palma21 commented on #3482
PR linked

[2021-06-10 02:26] zhoxing-ms commented on #3424
@Na-Sathish Hi, this issue should be due to the migration of Track 2 in CLI, and the compatibility code has been added in the latest version of extension. However, you haven't upgraded the CLI to the latest version. So please use `az upgrade --yes` to upgrade your CLI version.

[2021-06-10 02:40] #3482 closed

[2021-06-11 04:22] kogesaka opened #3494 "[Feature Request] Set authentication to output (Azure Blob) using Azure CLI StreamAnalytics Extension and Managed ID"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
stream-analytics

### Description of issue (in as much detail as possible)
Hi,

I plan to use the Azure CLI StreamAnalytics extension to Blob storage ad Stream Analytics jobs output distination.
I want to use

[2021-06-11 04:46] yonzhan commented on #3494
stream analytics

[2021-06-11 08:20] BhargaviAnnadevara-MSFT opened #3496 "az postgres up does not create the resource group"
## Describe the bug
**Tutorial link:** [Deploy a Django web app with PostgreSQL in Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/tutorial-python-postgresql-app?tabs=cmd%2Cclone)

It is expected that the `az postgres up` command creates the resource group if it does not already exist, as mentioned in the [doc](https://docs.microsoft.com/en-us/azure/app-service/tutorial-pytho

[2021-06-11 08:27] dogenstein opened #3498 "`az postgres up --resource-group [...]` does not create a resource group when it doesn't exist"
Hello!

Firstly, for context, I was going through the steps in this tutorial: https://docs.microsoft.com/en-us/azure/app-service/tutorial-python-postgresql-app

## Describe the bug
**Command Name**
`az postgres up
Extension Name: db-up. Version: 0.2.3.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. ~~Note that argument values have been redacted, as they may contain sensiti

[2021-06-11 08:55] #3498 closed

[2021-06-11 08:55] dogenstein commented on #3498
duplicate of #3496

[2021-06-11 21:10] rafagsiqueira opened #3501 "Can't ssh using RBAC when VM doesn't have a public IP"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
az ssh

### Description of issue (in as much detail as possible)
From the error it seems the az ssh command requires a public IP. Is that a requirement when using az ssh with RBAC?

[code]

[2021-06-12 00:45] yonzhan commented on #3496
postgres up

[2021-06-12 00:49] yonzhan commented on #3501
vm ssh