[2019-06-18 16:05] tjprescott opened #792 "Older extensions won't load in CLI 2.0.67 due to missing kwarg `min_profile`"
The 2.0.67 release of Azure CLI removed a kwarg `min_profile` that several older extensions used. If you run into this error, please first update your extension with:

`az extension update  -n <NAME>`

[2019-06-18 17:22] AdminTurnedDevOps commented on #776
@geverghe

That sounds great to me! Thank you.

[2019-06-18 17:38] c-ryan-k commented on #533
@SteveDevOps - this should be enabled as of 0.7.0:
![image](https://user-images.githubusercontent.com/13545962/59706333-1e999300-91b5-11e9-9405-9b0ea8af7e4b.png)

[2019-06-18 17:42] c-ryan-k commented on #750
Can you try the same command without spaces between `{property}={value}`?

We patched some other twin update code in 0.7.1 and this doesn't seem to repro anymore.

[2019-06-18 20:21] filmgirl opened #793 "Instruct Users to Enable Front Door Extension"
User needs to add 'az extension add --name front-door' before these commands work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e1b5ddd-0054-0175-b689-d20a1349bedb
* Version Independent ID: 72ccc1b6-814f-b780-99cd-ab48dfdecb66
* Content: [az network front-door](https://docs.microsoft.com/en-us/cli/azure/ext/front-do

[2019-06-18 20:44] tjprescott commented on #793
This is true, but there's nothing actionable that can be done in the extension to facilitate this. It's a chicken and egg problem.

[2019-06-18 20:44] #793 closed

[2019-06-19 08:46] atbagga commented on #702
@stlbucket If you are still facing this issue, please help us with the debug logs so we can debug the issue.
Lets us know if what Gaurav suggested above was really the issue in your case (unexpected detect project and organization from git repository).

[2019-06-19 08:50] atbagga commented on #625
@tightightight Closing the issue as per comment from George. Please feel free to open a follow up in our [repo ](https://github.com/azure/azure-devops-cli-extension) if your issue is not resolved by the new commands.

[2019-06-19 08:50] #625 closed

[2019-06-19 15:23] anasamer opened #796 "not clear what options we can use with event types"
[It is not clear what options we can use with type,
there is no support for wild card or option to collect all log types ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: feb112cc-e33b-49cb-ed4b-748e8e6c6cd4
* Version Independent ID: 2deb1699-2d85-b083-c493-69731de2443d
* Content: [az monitor app-insights events](https:

[2019-06-19 15:23] anasamer opened #797 "not clear what options we can use with event types"
[It is not clear what options we can use with type,
there is no support for wild card or option to collect all log types ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: feb112cc-e33b-49cb-ed4b-748e8e6c6cd4
* Version Independent ID: 2deb1699-2d85-b083-c493-69731de2443d
* Content: [az monitor app-insights events](https:

[2019-06-19 15:24] anasamer commented on #797
az monitor app-insights events show --app XXXXXXXXXXX --type <what_options_can_I_have_here>

what value can i use to pull all types

[2019-06-19 15:43] davoodharun opened #798 "Cannot override variables in az pipelines release create"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

az pipelines release create

### Description of issue (in as much detail as possible)
I don't believe there is a way to override variables of a release that are pre-configured to be overridden. I can do at qu

[2019-06-19 20:35] #747 closed

[2019-06-24 06:18] atbagga commented on #702
I am closing the issue as a case of mis-configuration.
If you feel the need of changing something to help improve the experience please share with us by filing a new issue.
Preferably in  our [extension repo](https://github.com/Azure/azure-devops-cli-extension)

[2019-06-24 06:18] #702 closed

[2019-06-24 13:24] geverghe commented on #798
Hey @davoodharun  - Thank you for providing feedback on the Azure DevOps extension. We are at present building the requested functionality - (https://github.com/Azure/azure-devops-cli-extension/issues/639, https://github.com/Azure/azure-devops-cli-extension/issues/479) for Multi stage YAML pipelines. Multi stage YAML pipelines should be able to take care of your release scenarios as well.

[2019-06-24 17:08] Tmx10-50 commented on #772
I am seeing the same thing and am unable to publish to a feed from RH 7.6

Extension Name: azure-devops. Version: 0.11.0.`

**Errors:**
[code]

[2019-06-24 23:55] panchagnula commented on #584
this is fixed & the command is moved to core as well so please use that

[2019-06-24 23:55] #584 closed

[2019-06-25 00:00] panchagnula commented on #550
this issue should now be fixed & is also moved to core as preview please use that https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest#az-webapp-ssh

[2019-06-25 00:00] #550 closed

[2019-06-25 00:01] panchagnula commented on #549
closing this since this command has been moved to core . If this is still an issue please re-open in the azure-cli repo. Thanks!

[2019-06-25 00:01] #549 closed

[2019-06-25 00:02] panchagnula commented on #524
this is complete & is available in core see https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest#az-webapp-up

[2019-06-25 00:02] #524 closed

[2019-06-25 00:05] panchagnula commented on #429
this is fixed

[2019-06-25 00:05] #429 closed

[2019-06-25 00:06] panchagnula commented on #416
closing this since we are not going to support at this time

[2019-06-25 00:06] #416 closed

[2019-06-25 00:07] panchagnula commented on #303
we are working on az webapp container up & will be in core. So transferring

[2019-06-25 00:09] #264 closed

[2019-06-25 00:10] panchagnula commented on #260
we made a few changes in this space & moved the command to core - please file new issue on azure-cli if there is more feedback. Thank you.

[2019-06-25 00:10] #260 closed

[2019-06-25 00:11] panchagnula commented on #257
we added a validation API in general & moved the command to core as well. if there is more specific feedback please file a new issue on azure-cli

[2019-06-25 00:11] #257 closed

[2019-06-25 00:12] panchagnula commented on #236
this is fixed & command is available on core as well.

[2019-06-25 00:12] #236 closed

[2019-06-25 14:24] smaley07 opened #810 "[Artifacts] Az artifacts universal publish failed - 'module' object has no attribute 'uuid4'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az artifacts universal publish
Extension Name: azure-devops. Version: 0.11.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az artifac

[2019-06-25 14:28] smaley07 commented on #810
Duplicate of : https://github.com/Azure/azure-cli-extensions/issues/772

[2019-06-25 14:35] #776 closed

[2019-06-25 16:13] ChristopheChirat opened #811 "Unable to load extension 'aks-preview'"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
aks-preview

### Description of issue (in as much detail as possible)
After updating the Azure client I have the following message:

`az extension list
Unable to load extension 'aks-preview'. Use --debug for m

[2019-06-25 17:01] tjprescott commented on #811
https://github.com/Azure/azure-cli-extensions/issues/792

[2019-06-25 17:02] tjprescott commented on #811
You need to update the extension.

[2019-06-25 17:02] #811 closed

[2019-06-25 17:03] #810 closed

[2019-06-25 23:09] fadnavistanmay commented on #554
@owenhuynmsft

[2019-06-26 06:23] atbagga commented on #776
Fix in master. Release 0.12.0 ETA next week will have the change.

[2019-06-26 16:02] brichins opened #814 "az devops login fails to access OSX keychain"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

When trying to login with `az devops login`, the command fails trying to access the OSX keyvault.

**Command Name**
`az devops login
Extension Name: azure-devops. Version: 0.11.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may c

[2019-06-26 16:44] johncrim opened #815 "Equivalent functionality in Powershell?"
It's great to be able to manage Azure devops boards and pipelines from the CLI, but is there any thought to providing similar access via powershell (PS Core of course)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66873a24-f15b-c3b0-009d-96f9c6160d0c
* Version Independent ID: 915c9312-32c3-c23e-63c1-db33c6b578ce
* Co

[2019-06-27 10:02] geverghe commented on #815
Hey @johncrim - At present there are no immediate plans to invest in a core PS module for Azure DevOps. Are you facing any challenges using the Azure CLI along with the DevOps extension on PowerShell? Or is it personal preference?

[2019-06-27 13:37] cheoalfredo opened #819 "az aks browse out of the sudden "lost connection to pod" and closes"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks browse
Extension Name: aks-preview. Version: 0.4.4.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks browse --resource-grou

[2019-06-27 15:15] stgraves opened #820 "Cannot Add Windows Node Pool for AKS Public Preview"
az aks nodepool add \

The command failed with an unexpected error. Here is the traceback:

400 Client Error: Bad Request for url: http://localhost:50342/oauth2/token
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 206, in invoke
    cmd_result = self.invocation.execute(args)
  File "/opt/az/lib/python3.6/site-packages/azure/cli/core/commands/__in

[2019-06-27 16:13] stgraves commented on #820
I ran the command again and it states the node pool exists.

az aks nodepool add \

Node pool npwin already exists, please try a different name, use 'aks nodepool list' to get current list of node pool

[2019-06-27 17:40] ormikopo1988 opened #821 "Create service connection with az devops service-endpoint create in an Azure DevOps release pipeline"
Hello,

I have the following use case. I am creating a service principal with an azure cli script as part of an Azure DevOps Services release pipeline. I would like after the creation of the service principal to call the "az devops service-endpoint create" command and pass the service principal id and key in order to create the service endpoint in an automated way. I do not see a parameter that I

[2019-06-28 06:38] atbagga commented on #821
You can set the environment variable AZURE_DEVOPS_EXT_AZURE_RM_SERVICE_PRINCIPAL_KEY with the service principal key and you will not be prompted for it.

Please let us know if that solves your need.

This is shown in the error text when you try to run the command in a non interactive console. Given you had trouble finding it out we will take a look if we can put it out somewhere easier to discover

[2019-06-28 07:34] geverghe commented on #821
Noted. @ormikopo1988 - Couple of clarification questions:
1. Did you try searching for this information?
2. Do you have any recommendations on the common information destinations that you look up to find this information?
3. Would command help with the link to documentation help?

[2019-06-28 08:20] ormikopo1988 commented on #821
Hello everyone! Thank you very much for your suggestions. I went to the service_endpoint.py in Github and saw the source code for creating the service connection and saw the condition that checked about the AZURE_DEVOPS_EXT_AZURE_RM_SERVICE_PRINCIPAL_KEY os environment variable. So I suppose based on your suggestion @atbagga my assumption was correct!

@geverghe
1. Like I stated above I had to go

[2019-06-28 10:46] geverghe commented on #821
@ormikopo1988  - Awesome - glad @atbagga's clarification helped. Created a new issue to track the documentation request - https://github.com/Azure/azure-devops-cli-extension/issues/698. Closing this and you can track the documentation request progress on the issue thread provided.

[2019-06-28 10:46] #821 closed

[2019-06-28 12:12] pjirsa opened #824 "Error executing `az artifacts universal publish`"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az artifacts universal publish
Extension Name: azure-devops. Version: 0.4.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az artifact

[2019-06-28 12:28] pjirsa commented on #824
I was able to resolve this issue by first running `az devops login`

The documentation page (https://docs.microsoft.com/en-us/azure/devops/artifacts/quickstarts/universal-packages?view=azure-devops&tabs=azuredevops) does not specify running that step.

[2019-06-28 13:01] joaomoreno opened #830 "`az artifacts universal download` throws error"
**Describe the bug**

[code]

**To Reproduce**
Just follow the steps above.

**Expected behavior**
Command should not throw.

**Environment summary**

[code]

[2019-06-28 15:45] vsaroopchand opened #825 "Error with SAS URI for az iot hub device-identity export"
We are facing an issue with `az iot hub device-identity export --bcu
                                  --hub-name
                                  [--ik {false, true}]
                                  [--resource-group]`, particularly with --bcu

When we execute the above command with SAS URI w/ all resources and all permissions, we get "Unable to access blob"

When we execute the above command

[2019-06-28 15:50] vsaroopchand commented on #825
Closing, issue logged on IoT Extension [](https://github.com/Azure/azure-iot-cli-extension/issues/79)

[2019-06-28 15:50] #825 closed

[2019-06-28 23:49] tjprescott opened #826 "Azure ML extension not compatible with CLI core 2.0.69."
With the merge of https://github.com/Azure/azure-cli/pull/9718, the existing `azure-cli-ml` extension will no longer load.  This change will be in the azure-cli 2.0.69 release in mid July.

The error is only thrown when the entire command table is loaded, such as when running `az self-test`, `az interactive` or running doc generation scripts.

Simplest repro:
[code]

[2019-07-02 04:54] atbagga commented on #824
@pjirsa I tried to run the publish command without login and I see this error -
```Before you can run Azure DevOps commands, you need to run the login command(az login if using AAD/MSA identity else az devops login if using PAT token) to setup credentials.  Please see https://aka.ms/azure-devops-cli-auth for more information.```

I see you are on an older version of the extension, you can update i

[2019-07-02 05:27] geverghe commented on #824
@pjirsa - Sorry to hear about the trouble you faced. A few clarification questions
1. To confirm, you were looking for instruction indicating that the user should be logged in prior to running publish command?
2. Can you help us understand where the current documentation (https://docs.microsoft.com/en-us/azure/devops/artifacts/quickstarts/universal-packages?view=azure-devops&tabs=azuredevops) is f

[2019-07-02 10:20] gesada opened #831 "dependencies cannot be displayed via cli in Azure AppInsight"
**Describe the bug**
While using az cli version 2.0.67, we have found that using the command
az monitor app-insights events show --app "xxxx-xxxxx-xxxxx-xxxx" --type dependencies --start-time <date>
showing no information with relation to dependencies

**To Reproduce**
Using the command above to reproduce

**Expected behavior**
dependencies type should be displayed via Azure CLI

**Environment sum

[2019-07-02 17:51] adewaleo commented on #830
@joaomoreno @atbagga, i think this issue should be in the [devops cli extension repo](https://github.com/Azure/azure-devops-cli-extension).

[2019-07-02 22:37] tjprescott commented on #792
This has been socialized. Closing.

[2019-07-02 22:37] #792 closed

[2019-07-03 06:19] atbagga commented on #830
@joaomoreno Thank you for reporting the issue. This is not a generic issue so we will need some more details from your environment. Can you help me with the below, which will help us debug this further..

1. Are you able to run other Azure Cli commands? Try `az account list`.
1. Are you able to run other extensions command? I see you have webapp extension installed so you can try `az webapp list`

[2019-07-03 12:53] epierotto opened #834 "`az monitor log-analitics` does not longer exist in `az` cli"
[code]

Can you please update the docs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0fd6a58-ac1a-fa45-8d96-579b4af36499
* Version Independent ID: 4098ca97-1b85-eb29-18e9-e6f0495fd030
* Content: [az monitor log-analytics](https://docs.microsoft.com/en-us/cli/azure/ext/log-analytics/monitor/log-analytics?view=azure-c

[2019-07-03 14:49] tjprescott commented on #834
You need to install the extension with `az extension add -n log-analytics`. This is true for any extension.

[2019-07-03 14:49] #834 closed

[2019-07-03 15:06] epierotto commented on #834
Would be better if that is added to the top of each extension example docs, so it'd be explicit.

[2019-07-04 15:02] joaomoreno commented on #830
I couldn't repro this on my home box, so I reinstalled it on my work box. Now it works as well there. Closing this.

[code]

[2019-07-04 15:02] #830 closed

[2019-07-04 23:36] ahmad2x4 opened #836 "Incorrect description for component delete command"
In the table of content and also in the main section following command is incorrectly described
[code]

it is described as
[code]

It should be
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 333d37d2-61e2-0184-d253-157ee236439c
* Version Independent ID: 9b0e976f-3cb5-e813-9f33-e9cea7a8df8c
* Content: [az monitor

[2019-07-05 17:43] yairt1974 opened #837 "Azure Firewall CLI - "the extension is in preview message” need to be removed"
**Describe the bug**
Azure Firewall CLI - "the extension is in preview message” need to be removed. The product has been GA since 9/24/2018.

**To Reproduce**
az extension add -n azure-firewall

**Expected behavior**
no preview warning message.

[2019-07-05 17:44] tjprescott commented on #837
The service being GA doesn't mean the commands are GA. That they still use the non-standard UX to silently create rulesets behind the scenes would keep the commands from being declared GA.

[2019-07-05 17:45] tjprescott commented on #837
So the scope of this issue would need to be to update the extension to use the standard CLI UX, at which point it could be declared GA.

[2019-07-08 17:39] IvanJosipovic opened #839 "az pipelines should support setting pipeline.Path"
"az pipelines create" and "az pipelines update" should support setting the "Path" property. This is useful as we would like to have builds show up in a specific folder structure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a2123ca-5408-8f93-6f5c-93fe74684523
* Version Independent ID: 7a03fe73-da7f-9b5a-38e7-ef51d85

[2019-07-09 12:55] michael-ryan opened #842 "az artifacts universal download - fetch latest version"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
azure devops

### Description of issue (in as much detail as possible)
Feature request! It would be nice to have a way of fetching the latest build of an artifact and using that (perhaps with the --version arg

[2019-07-09 17:57] Kroof commented on #815
@johncrim

[2019-07-10 05:30] johncrim commented on #815
@geverghe - it's personal preference + productivity, along with being able to leverage the power of powershell and its ecosystem.

IMO not having it is a glaring omission given the usefulness of powershell in everything else Azure. Though if I really need something I can write my own Cmdlets, I'm a big fan of the pretty well documented REST APIs and client libraries.

@Kroof  - thank you! I wasn't

[2019-07-10 06:02] geverghe commented on #815
@johncrim - you can still use Azure CLI along with the Azure DevOps extension on PowerShell. Can you provide a bit more context on where this fails for you? Is it the lack of PowerShell native commanding? We have been using the Azure DevOps CLI from PowerShell to create scripts. This allows you to work with the PowerShell ecosystem as well.

[2019-07-11 08:35] Stip13 commented on #773
## Different environment, same issue

**Command Name**
`az aks browse
Extension Name: aks-preview. Version: 0.4.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az aks browse --name {} --resource-group {} --listen-port {}`
- wait for a moment without activity

## Expected Behavior

[2019-07-11 11:50] rohancragg opened #845 "Parmeters listed as optional are actually required"
e.g. in my testing (after running `az account set -s ...`) --model is clearly not an optional parameter, and neither are --resource-group and --workspace-name

[code]

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8825dded-3381-d6ed-3473-6cc67086b1b1
* Version Independent ID: 78430b7b-24a7-a0bf-c429-dc97a2c4f55

[2019-07-11 14:47] lastcoolnameleft opened #846 "az aks use-dev-spaces is failing in Azure Shell"
* Describe the bug*

When I run `az aks use-dev-spaces` in shell.azure.com, I get the following error:

[code]

**To Reproduce**
Run `az aks use-dev-spaces -g $RG -n $CLUSTER` in a new cluster in shell.azure.com

**Expected behavior**
I expect it to successfully install.

**Environment summary**
Azure Shell
[code]

[2019-07-11 19:32] san7hos commented on #815
@geverghe It is a bit cumbersome though to use the cli in powershell. Basically every call has to be followed by json deserialization and check for $LASTEXITCODE. Additionally, you have to build to parameters with a custom way and can't use powershell splatting.

[2019-07-11 19:39] san7hos opened #847 "Multiline description"
I am trying to create a powershell function that takes child items of an item and clones them under a different item. The function works except when I put multiline html to --description parameter, the description is empty. In history of the created item, I can see description being set as empty or empty line.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-07-12 05:20] geverghe commented on #815
Got it - makes sense. Thank you providing context. As of now, there are no plans to invest in a PowerShell module. We will re-evaluate once we have bandwidth. I have raised a feature request on our repo so that we keep track of the request - https://github.com/Azure/azure-devops-cli-extension/issues/710

[2019-07-12 05:20] #815 closed

[2019-07-12 11:04] snankani commented on #687
Closing this issue as we did not hear from the user.

@pniederlag If you are still facing login issue with Azure DevOps CLI then please do share the debug logs by running the below command and open a new GitHub issue @ https://github.com/Azure/azure-devops-cli-extension/issues

command to get debug logs
**az devops login --debug**

[2019-07-12 11:04] #687 closed

[2019-07-12 11:04] snankani commented on #687
Closing this issue as we did not hear from the user.

@pniederlag If you are still facing login issue with Azure DevOps CLI then please do share the debug logs by running the below command and open a new GitHub issue @ https://github.com/Azure/azure-devops-cli-extension/issues

command to get debug logs
**az devops login --debug**

[2019-07-13 03:37] seanmck commented on #820
Closing in the absence of a consistent repro. If you have one, please reopen.

[2019-07-13 03:37] #820 closed

[2019-07-13 03:43] #530 closed

[2019-07-13 03:44] seanmck commented on #513
Closing for lack of a consistent repro. Let us know if you have one.

[2019-07-13 03:44] #513 closed

[2019-07-15 07:00] ishitam8 commented on #748
Hi @wangglei ,

I am unable to reproduce your issue locally. Can you share the debug logs ?
Run the same command with --debug switch.
`az devops login --organization <ORG_URL> --debug`

Also, share the version of keyring and keyrings.alt (if any) package available on your system
`pip list`

[2019-07-15 10:44] ishitam8 commented on #847
Hi @san7hos ,

I was not able to reproduce your issue.
Can you share the debug logs of the command you are trying to run [you would need to run the same command with --debug switch] ?
Also share the multi line html you are trying to set as description.

[2019-07-16 00:58] tjprescott commented on #420
I believe this has been fixed. Please reopen if this is not the case.

[2019-07-16 00:58] #420 closed

[2019-07-18 05:52] atbagga commented on #839
@IvanJosipovic Thank you for reporting this.

Closing this in favor of https://github.com/Azure/azure-devops-cli-extension/issues/715 which is filed in the extension repo for the same.

You can track the progress in the above linked issue.

[2019-07-18 05:52] #839 closed

[2019-07-18 06:22] jurjenoskam opened #854 "Front-door: enabling https on frontend endpoint silently fails"
When trying to enable HTTPS with a Front Door managed certificate, the CLI command silently fails. It doesn't output anything and nothing is changed:

[code]

Version used:
[code]

Debug output is surprisingly small:

[code]

[2019-07-18 17:52] skjensen opened #855 "devops-pipeline create command breaks if the project name contains a space"
The devops-pipeline create command breaks if the project name contains a space. E.g. "Project Name" when renaming the project to "ProjectName" the same works smoothly.

The problem appear to be related to the creation of the Git Repo.

Command:  az functionapp devops-pipeline create

## Environment Summary

Linux-4.15.0-54-generic-x86_64-with-debian-buster-sid
Python 3.6.5
Shell: bash

azure-cli 2

[2019-07-18 18:47] pichandwork commented on #854
@jurjenoskam Thanks for the feedback. We are aware of the issue and fixing it in the next release of frontdoor extension(ETA: 7/22).
As a workaround for now, please pass the --certificate-source parameter as 'FrontDoor' for frontdoor managed certificate.

[2019-07-19 07:07] jurjenoskam commented on #854
@pichandwork Thank you for the workaround, that saves me doing some REST calls. I did notice that the command is not idempotent though: the first time I execute it, it successfully enables HTTPS on the custom domain (customHttpsProvisioningState changed to "Enabling", customHttpsProvisioningSubstate changed to "SubmittingDomainControlValidationRequest", and customHttpsConfiguration was filled).

W

[2019-07-19 07:46] atbagga commented on #855
This is not a azure devops command.  Code is in Azure-CLI - https://github.com/Azure/azure-cli/search?q=functionapp&unscoped_q=functionapp

@tjprescott Unassigning extension/devops label from the issue. Can you please label it accordingly.

[2019-07-19 08:19] bplasmeijer opened #857 "lost connection to pod using aks browse"
The connection with Kubernetes dashboard will be lost unexpected.

Proxy running on http://127.0.0.1:8001/
Press CTRL+C to close the tunnel...
Forwarding from 127.0.0.1:8001 -> 9090
Forwarding from [::1]:8001 -> 9090
Handling connection for 8001
Handling connection for 8001
Handling connection for 8001
Handling connection for 8001
E0719 09:30:09.603631   24760 portforward.go:178] lost connection t

[2019-07-19 17:18] kaushik-hemant opened #858 "Front-door extension missing in publicly available list"
Hi,

We were using **az extension add --name front-door** command for front-door extension to run the front-door related scripts in AZ CLI task for DevOps.
![AZ-CLI](https://user-images.githubusercontent.com/15911296/61553041-187a2900-aa77-11e9-8983-cc204fa2076e.PNG)

As of now its not there in the available extensions. Let us know if something has been changed as related document doesn't have any

[2019-07-19 20:30] pichandwork commented on #854
@jurjenoskam We have fixed the default certificate source issue and is deployed. Please update to the new version 1.0.0.
Regarding idempotency - feedback taken and will try to incorporate in the next iteration.

[2019-07-22 07:05] jurjenoskam commented on #854
Thank you, it now indeed works in extension version 1.0.0!

[2019-07-22 07:05] #854 closed

[2019-07-23 17:20] TeeMakk opened #861 "Add a sas-definition for a file sas-token"
I have been searching all Microsoft documentation on az keyvault storage sas-definition. But I am yet to come across an example for file sas-token. Please assist, I did like to use this service.

Please add an example on sas-definition for a file sas-token.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffb4f675-e758-0

[2019-07-24 21:03] tjprescott commented on #858
What appears if you run `az extension list-available -otable`? What version of the CLI are you running?

[2019-07-29 14:34] DanoThom opened #868 "[Front-Door] Routing rule creation needs improved error messages"
I lost a fair bit of time trying and failing to create a simple Redirect routing rule because I kept receiving this generic catchall message :

I had to dig into the code to find the below line with those specific rules which were preventing me from creating my rule (I had copy pasted a --backend-pool parameter and it couldn't communicate that that wasn't compatible with a redirect rule).

https:/

[2019-07-30 21:27] diegoalb opened #872 "Add more references to the doc"
The document does not mention how to install the vm repair scripts: "az extension add -n vm-repair"

It would be also interesting to add a more detailed description on what the script automates:
 - Stops the problem VM.
 - Takes a snapshot of the problem VM's OS disk.
 - Creates a new temporary VM ("rescue VM") on a new Resource Group.
 - Attaches the problem VM's OS disk as a data disk on the res

[2019-07-31 07:41] bhanush3 opened #875 "Azure Devops Release Pipeline task named 'Azure App Service Deploy' is skipping some .dll files"
Describe the bug
Azure Devops Release Pipeline task named 'Azure App Service Deploy' is skipping some .dll files

To Reproduce
create new release in release pipeline

Expected behavior
should deploy all .dll in bin folder or subfolder

Environment summary
I am deploying a .net API App using task version 4.. Package or Folder option: "$(System.DefaultWorkingDirectory)/**/.zip"
All other option in t

[2019-07-31 14:06] wi5nia opened #876 "devops wiki delete not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az devops wiki delete
Extension Name: azure-devops. Version: 0.10.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az devops wiki dele

[2019-07-31 20:36] josiah14 commented on #580
This also happens for the `storage file upload` command within interactive mode (but not from outside of interactive).

[code]

[2019-08-01 05:57] atbagga commented on #876
@wi5nia This looks same as issue https://github.com/Azure/azure-cli-extensions/issues/751
It was fixed in version 0.11.0 (error handling was added for users to be able to figure out the issue.)

**Issue:** You are probably giving organization name instead of url.

Hopefully that will resolve the issue for you. In case it does not please let me know on this thread.

[2019-08-01 09:51] RajGogri commented on #836
Need a fix. Just a typo !

[2019-08-01 20:07] AndyWu7623 commented on #508
it would be nice if we provide this information in this page as it didn't provide in there. To increase the visibility and avoid confusion

[2019-08-02 17:07] ehuggz opened #879 "az monitor app-insights api-key show does not return applications insights key"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
az monitor app-insights api-key show returns a blank line instead of the application insights key

**Command Name**
**az monitor app-insights api-key show**
Extension Name: application-insights. Version: 0.1.1.`

**Errors:**
No errors are displayed

## To Reproduce:
Steps to reproduce the behavior. Note that ar

[2019-08-03 11:42] johndowns opened #880 "'Get Work Items Between Builds' support?"
Is there a way to invoke the [*Get Work Items Between Builds* API](https://docs.microsoft.com/en-us/rest/api/azure/devops/build/builds/get%20work%20items%20between%20builds?view=azure-devops-server-rest-5.0) using the `az devops` commands?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7077ac1-bb22-976f-77f3-9a40cfcbc

[2019-08-03 20:05] deecoaccela opened #881 "Cannot Use Existing Service Connection"
[--service-connection SERVICE_CONNECTION] does not pick up existing service connections, --service-connection myserviceconnect keeps returning

"Could not create service hooks subscription. The repository does not reference a service connection."

If I remove --service-connection I can select the existing Service Connection in the list and build is created

---
#### Document Details

⚠ *Do not edi

[2019-08-05 06:13] atbagga commented on #881
@deecoaccela Can you try using the service connection Id instead of name. The help text does mention this though.

[code]

To get the id of the service connection you can use list command ```az devops service-endpoint list```.

[2019-08-05 06:19] atbagga commented on #880
@johndowns Currently this is not supported. I have filed a tracking request in our extensions repository here - https://github.com/Azure/azure-devops-cli-extension/issues/744

Closing this issue. Please follow the above ticket for updates.

[2019-08-05 06:19] #880 closed

[2019-08-05 12:19] eXXL opened #883 "Support tags for resources created by az ml commands"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
az ml

### Description of issue (in as much detail as possible)
The current az ml commands to not support tags. Therefore I have to figure out the resources created by the ML Workspace (storage account, comput

[2019-08-06 11:41] deecoaccela commented on #881
@atbagga I have tried with the --service-connection , I get returned

[2019-08-06 11:50] deecoaccela commented on #881
@atbagga thanks, how to switch between projects ? as service connections appearing for default or first project created. cannot list for other projects tried az devops project -h

[2019-08-06 11:53] atbagga commented on #881
Each command takes --project as an input parameter and this has preference over auto select (from local git repo) or auto configured (az devops configure project=XYZ).

If you want to list service connections of some project use ```az devops service-endpoint list --project XYZ```.

You can also check/change your default configured project using -
- ```az devops configure -l```
- ```az devops confi

[2019-08-06 12:01] deecoaccela commented on #881
ok, now I get
"The user doesn't have access to the service connection(s) added to this pipeline or they are not found. Names/IDs: 12345-d558-66e7-a669-4229c137d692"

--service-connection '12345-d558-66e7-a669-4229c137d692'

tried with and without quotes, what should the syntax look like ?

[2019-08-06 12:10] atbagga commented on #881
Quotes should not matter.
Please run the commands with --debug flag to confirm from the logs that you are creating the pipeline in the same project where the service connection exists.

[2019-08-06 12:18] deecoaccela commented on #881
TF400813: The user '61f6d37b-59b3-46a3-8227-7a469ac62b95\username@domain.com' is not authorized to access this resource.

[2019-08-06 22:38] deecoaccela commented on #881
turns out I was using the wrong ID , there are 2 defined one for the user who created the service connection , the second id is the actual id of the service connection

[2019-08-07 04:41] atbagga commented on #881
Closing the issue since it looks like it worked for you as per your comment.
Incase you still have any issue please tag me to reopen this or feel free to open a new issue.

[2019-08-07 04:41] #881 closed

[2019-08-07 04:42] atbagga commented on #876
@wi5nia Can you please confirm the issue is a duplicate and if your issue is resolved.

[2019-08-07 04:46] atbagga commented on #824
@pjirsa Resolving as per above comments. Please raise another if you still have concerns or feedback to share.

[2019-08-07 04:46] #824 closed

[2019-08-07 04:47] atbagga commented on #798
@davoodharun Can you share your thoughts on above comment. We will close/edit/track the issue appropriately.

[2019-08-07 04:50] atbagga commented on #749
@RickKra Resolving the issue since it is a learning curve for using some of the commands and new terminology with the pipelines revamp. For any concerns/feedback please reach out to George as per his comment above and we will be happy to help.

[2019-08-07 04:50] #749 closed

[2019-08-07 11:28] #876 closed

[2019-08-08 05:22] lasantha78 opened #890 "Image Copy Error in between resource groups"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az image copy
Extension Name: image-copy-extension. Version: 0.2.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az image copy --sour

[2019-08-08 22:31] juank1400 opened #892 "Error in copy image"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az image copy
Extension Name: image-copy-extension. Version: 0.2.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az image copy --sour

[2019-08-09 07:18] Jeremy-Busuttil opened #893 "Remove 1000 output cap"
When I use this command only 1000 results are returned...is there a way to remove this 1000 object cap so that it returns everything at once?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d535510f-f15c-3c79-c44d-34b7742a1544
* Version Independent ID: 334f9fc5-2811-f125-4faa-3fb90ec19559
* Content: [az boards](https://

[2019-08-11 16:05] jessehouwing opened #894 "`--repository-id` required?"
The underlying API supports `null` to apply the policy for the whole project. Is this supported here as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbca5089-8114-54d1-a2e8-4c9c6bcf70db
* Version Independent ID: 534b73ff-aa41-2f53-75a7-dbc46e421325
* Content: [az repos policy work-item-linking](https://docs.mic

[2019-08-12 05:08] gauravsaralMs commented on #894
@jessehouwing .. not currently
you can explore https://docs.microsoft.com/en-us/cli/azure/ext/azure-devops/repos/policy?view=azure-cli-latest#ext-azure-devops-az-repos-policy-create
This allows every kind of policy creation which are not supported by specific commands
more details:
https://docs.microsoft.com/en-us/azure/devops/cli/policy-configuration-file?view=azure-devops

Let me know if you run

[2019-08-12 07:51] jessehouwing commented on #894
I figured that. Cause that's what I've been using previously.

[2019-08-12 15:32] philliproux opened #895 "Front Door frontend-endpoint session-affinity-enabled param not working, and inconsistent accepted values compared to other params"
Extension: Front Door
Setting **--session-affinity-enabled** param with "az network front-door frontend-endpoint" gives the following error:

BadRequest - Property FrontdoorEntity.FrontendEndpoints[0].Properties.SessionAffinityEnabledState' cannot be set to 'False'. Acceptable values are: Enabled, Disabled

Repo Example:
az network front-door frontend-endpoint create --front-door-name "pr-active-f

[2019-08-13 21:30] stewartadam opened #900 "Azure Firewall extension docs do not match CLI - subnet vs vnet-name"
### Extension name (the extension in question)
azure-firewall

### Description of issue (in as much detail as possible)
Similar issue to #479 has resurfaced, the docs and usage messages do not appear to line up anymore with regards to the usage of `--subnet`.

The `az network firewall ip-config create` [here](https://docs.microsoft.com/en-us/cli/azure/ext/azure-firewall/network/firewall/ip-config?

[2019-08-14 09:38] jessehouwing opened #903 "Additional team features"
In the past the ALLM Rangers have built the Tfs Team Tools. These have some additional features that would be great for this set of commands:

https://github.com/jessehouwing/TfsTeamTools

* ListTeams
* GetDefaultTeam
* SetDefaultTeam
* CreateTeam
* DeleteTeam
* RenameTeam
* ListTeamMembers
* AddUser
* RemoveUser
* Set/Clear User/Team profile image
* Convert Group to Team
* ListTeamAdministrators

[2019-08-19 09:53] crgarcia12 opened #908 "az aks browse does not work for me today (was working before)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks browse
Extension Name: aks-preview. Version: 0.4.5.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks browse --resource-grou

[2019-08-19 18:19] thatguylong opened #909 "Unable to load extension 'storage-preview' for azure-cli 2.0.71"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
storage-preview

### Description of issue (in as much detail as possible)
After upgrading to azure-cli 2.0.71, commands that I run gives me a

[code]

The only one that does not seem to produce that error is:

[2019-08-20 04:11] will-beta commented on #834
Got the following error
[code]
The url of loganalytics in china should be `api.loganalytics.azure.cn`.
How can I provide the right url?
Thanks!

[2019-08-21 18:06] asc-adean opened #912 "Criteria for scaling down"
What is the criteria for specifying a node to be removed from a nodepool?

In my instance, I had a node that was no longer responding to `port-forward`, so I scaled up to a second node in that nodepool, migrated the resources over to the new node, cordoned the old node and drained it.

When I scaled back down to 1 node, it removed the new node rather than the old one.  This is not expected behavio

[2019-08-22 08:45] ChendrayanV opened #915 "--Include parameter is not available in az graph query."
az graph query --help - Returns no include parameter. Docs needs to be corrected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75d1021b-9184-56de-3a65-4680868c9143
* Version Independent ID: f2fb2ab8-c0c6-5350-a99a-5a5b90e2b14b
* Content: [az graph](https://docs.microsoft.com/en-us/cli/azure/ext/resource-graph/graph?v

[2019-08-23 20:47] svelango opened #917 "Build List Not showing all Builds"
I trying to pull list of builds filtering by definition from the start of project but the number is very less. The analytics dashboard for 30 days is 150 and for 1 year project I get 183. Can you please with this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7077ac1-bb22-976f-77f3-9a40cfcbce81
* Version Independent

[2019-08-26 19:02] dapolloxp opened #919 "az extension add --name aks-preview fails to install"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
aks-preview

### Description of issue (in as much detail as possible)

Cannot update or install the aks-preview extension

Debug error shows issue for checksum

Downloaded to /var/folders/4y/p5llxl6d2x5gwhdnfb

[2019-08-27 04:33] ameetkonnur opened #921 "closing az aks browse session shows error (running through WSL 1 bash)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks browse
Extension Name: aks-preview. Version: 0.4.4.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks browse --resource-grou

[2019-08-27 09:44] atbagga commented on #798
We have the same issue in our repo so closing this one as duplicate since it will be easier to track the other one in our backlog.

@davoodharun Please follow the other issue for updates.

[2019-08-27 09:44] #798 closed

[2019-08-27 13:53] Zuulde opened #922 "Issue with az boards"
I try to run an Azure CLI command as an inline powershell script for a Build in a pipeline. It throws an error on the following line: ##[error]ERROR: az: 'boards' is not in the 'az' command group. See 'az --help'.
Command to run : az boards iteration team show-default-iteration --team "MyTeamName" | ConvertFrom-Json;
I've ran locally this command several times, it works well on my local computer.

[2019-08-27 14:04] Zuulde commented on #922
https://marketplace.visualstudio.com/items?itemName=ms-vsts.cli Azure DevOps CLI must be installed in addition to the Azure CLI module.

[2019-08-27 14:04] #922 closed

[2019-08-27 22:30] wmpauli opened #923 "change --target-path to --target_path"
The target path argument should be with an underscore (at least in version: 0.1.68)

Also, I would find it useful to say a bit more about common/expected arguments for "--name". It's not clear what this could should be.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60c99b13-9888-31ac-9e22-4bac0cb3956a
* Version Indepe

[2019-08-28 05:51] geverghe commented on #903
Thank you for the feedback @jessehouwing

[2019-08-28 05:55] #903 closed

[2019-08-28 12:45] hallgeirl opened #924 "az aks get-versions --location northeurope fails with unavailable API version (2019-08-01) when aks-preview is installed"
### **az aks get-versions --location northeurope fails with unavailable API version (2019-08-01) when aks-preview is installed**

## Describe the bug
Using the latest azure cli (2.0.72) on Windows 10, I installed the aks-preview extension through: az extension add --name aks-preview
Afterwards, I tried:
az aks get-versions --location northeurope
This crashes with the error below: APIVersion 2019-0

[2019-08-29 00:06] achandmsft commented on #923
Thanks for your feedback @wmpauli . @gogowings is this something you can respond to?

[2019-08-29 13:21] stumueller opened #927 "az aks create unrecognized argument: --enable-vmss"
When creating an AKS cluster, I connot specify --enable-vmss

To reproduce:
register features
az feature register --name MultiAgentpoolPreview --namespace Microsoft.ContainerService
az feature register --name VMSSPreview --namespace Microsoft.ContainerService
I have also registered
az feature register --name WindowsPreview --namespace Microsoft.ContainerService

when registered
az provider registe

[2019-08-29 15:28] stsaid commented on #927
Have "they" changed the arguments? `az aks create --help` shows....

[2019-08-30 16:42] jkucan-nlight commented on #919
This appears to have been resolved. I was able to install the extension.
[code]

[2019-08-30 19:58] deckerbd opened #928 "Listing Application Insights components throws an error"
## Describe the bug

After installing the Application Insights extension, I'm unable to get a list of components in my current subscription.

**Command Name**
`az monitor app-insights component show`
`Extension Name: application-insights. Version: 0.1.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensiti

[2019-08-30 20:27] panchagnula commented on #929
Closing this since its available on extensions

[2019-08-30 20:27] #929 closed

[2019-09-01 10:29] PhilipSkinner opened #930 "az artifacts download ignores --path argument"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
az artifacts

### Description of issue (in as much detail as possible)

When downloading an artifact, the tool completely ignores the path I provide and is now downloading all artifacts into a specific directo

[2019-09-01 10:35] PhilipSkinner commented on #930
Actually, having tried to correct this by publishing my binary as an archive instead, it still doesn't work.

Its always putting the binary in the path that I published it from. I can't understand how this bug can even exist, are you pushing the published directory up to the artifact repo as part of the publish?

[2019-09-01 10:43] PhilipSkinner commented on #930
Ok, if I create a new directory, put a text file in there, then publish the file.

If I delete the directory, go into another directory on my machine and run the download command - the deleted directory is recreated along with the file. It doesn't put the file in the current directory.

I then zipped up the file, same steps as above, downloading it recreates the directory it was published from - w

[2019-09-01 13:37] PhilipSkinner commented on #930
Apologies, I pressed close on my phone accidentally.

[2019-09-02 11:33] PhilipSkinner commented on #930
We have replicated this on another users machine, using different credentials. When they download the artifact it is placed in a new directory structure that matches that on the matching that published the artifact - rather than the directory in which the user has requested it be placed.

This is worrying, you do know that this leaves people open to enumerating usernames in folders? Why on earth a

[2019-09-02 14:34] pihoucha opened #934 "az artifacts universal download throws System.TypeInitializationException during docker image build"
**Describe the bug**
I'm trying to use the az artifacts universal download command in a Dockerfile to build a container that will incorporate some data files published in a universal package.
The following Dockerfile content:
[code]
Leads to the following error during docker build:
[code]

**Important note**: the same Dockerfile built fine two weeks ago, unless I missed some change on my environme

[2019-09-03 07:41] jiasli commented on #934
You may get the contact information of the team from https://github.com/Azure/azure-cli-extensions/blob/a5e1d20c15031ef11c0e388993ea4e86603b33bb/src/index.json#L602

[2019-09-03 11:18] PhilipSkinner commented on #930
Still happening today, published a new artifact, downloading it puts it into the same directory structure from which it was published. Still no response on this, can we get a response please?

[2019-09-04 17:58] paratz opened #936 "tsv and table outputs won't work with az monitor log-analytics query"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

az monitor log-analytics query
### Description of issue (in as much detail as possible)

-----
While querying a workspace, the json and yaml output work fine.

But if I changed to tsv, I obtain a number "1" a

[2019-09-05 04:49] seanmck commented on #924
Fixed in 0.4.12.

[2019-09-05 04:49] #924 closed

[2019-09-05 05:27] seanmck commented on #921
Duplicate of azure/azure-cli#7686

[2019-09-05 05:27] #921 closed

[2019-09-05 20:45] bradhannah opened #940 "Unable to enable session affinity in Front Door with AZ CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
The Create routine for FrontDoor frontend-endpoints is unable to set the session-affinity-enabled flag. When I enter "true" it wants "disabled", when I enter "disabled" it wants "true"... see errors below

**Command Name**
` az network front-door frontend-endpoint create --resource-group myrg --front-door-name

[2019-09-06 19:17] alexeldeib commented on #936
Taking a look

[2019-09-06 19:25] alexeldeib commented on #936
@jiasli I see you added service attention, but typically output processing is done centrally by CLI or SDK. I'm able to reproduce this and confirmed via debug that the SDK and API output is correct, and contains quite a bit more JSON than is shown here.

Could you please take a look at this from CLI side, or assign the appropriate person from CLI to look at the output logic? cc @lmazuel in case yo

[2019-09-06 19:27] alexeldeib commented on #936
@paratz thanks for reporting, is there a scenario you'd like to use this for that is blocked, or you just prefer the more human-readable output?

I tend to use TSV when doing automation because it strips quotes unlike JSON. If this is your use, might be nice to pair `az` output with `jq -r` as a workaround.

[2019-09-08 03:46] yonzhan commented on #919
It seemed that this issue was resolved. I will close it right now.

[2019-09-08 03:46] #919 closed

[2019-09-08 03:47] yonzhan commented on #919
Please let us know if any further question, thanks.

[2019-09-09 12:40] duncanjw opened #941 "Fatal error running az postgres up overriding default location"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az postgres up
Extension Name: db-up. Version: 0.1.13.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Trying out the Quickstart but overriding defaults
- `az postgres up -g myP

[2019-09-09 12:54] duncanjw opened #942 "Unable to override defaults with az postgres down"
Used `az postgres up` overriding default group and location but `az postgres down` doesn't accept these arguments and uses default group

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5fd0414-755e-459e-85bc-ef3fcd31432b
* Version Independent ID: ad239037-3b15-1acf-d08d-fe20d31110c6
* Content: [az postgres](https://doc

[2019-09-09 17:04] PhilipSkinner commented on #930
We got the the bottom of this a few days ago, it turns out that you package up the whole directory instead of a single file! Completely not expected behavior. Please go away and look at how other people do this (artifactory, nexus etc) and just copy that - don't try to overthink things, an artefact repo is just a load of files and its up to the user to determine how to package and upload files int

[2019-09-09 17:04] #930 closed

[2019-09-09 17:36] joelbourbon commented on #842
This is actually supported. See [this](https://docs.microsoft.com/en-us/azure/devops/artifacts/quickstarts/universal-packages?view=azure-devops&tabs=azuredevops#downloading-the-latest-version).

[2019-09-10 04:41] tndinh200292 opened #943 "Error when trying to enable ingress"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks enable-addons
Extension Name: aks-preview. Version: 0.4.14.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons

[2019-09-10 19:28] neilhuiz opened #944 "`az aks browse` succeeds but later fails with connection error"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

aks-preview

### Description of issue (in as much detail as possible)

`az aks browse`  fails after some time with a connection error. The initial startup of the command works fine and I'm able to use the das

[2019-09-11 02:35] maggiepint commented on #944
@Azure/aks-pm

[2019-09-11 03:05] seanmck commented on #944
This specific error is a dupe of azure/azure-cli#7686 which is fixed. The occasional connection drops are tied to the Azure LB idle timeout.

[2019-09-11 03:05] #944 closed

[2019-09-13 13:29] michael-ryan commented on #842
@joelbourbon yeah thanks, I'll close this.

Bear in mind this feature didn't exist when I made the issue!

For future people who arrive here, proper documentation on the "grabbing latest version" feature is [here](https://docs.microsoft.com/en-us/azure/devops/artifacts/quickstarts/universal-packages?view=azure-devops&tabs=azuredevops#downloading-the-latest-version)!

[2019-09-13 13:29] #842 closed

[2019-09-13 22:59] number213 opened #950 "Azure Firewall: add threat intel mode"
**Extension name (the extension in question)**
azure-firewall

**Resource Provider**
`Microsoft.Network`

**Description of Feature or Work Requested**
Add parameter to set mode of Threat Intelligence (three modes: `Alert`, `Deny`, `Off`)

**Minimum API Version Required**
2018-12-01

**Swagger Link**
https://github.com/Azure/azure-rest-api-specs/pull/5143

**Target Date**
No specific target date

[2019-09-15 04:32] standas opened #952 "Machine Learning Server 9.4 - Ubuntu - Onebox Configuration - Hadoop Dependency / Python Errors"
Following steps to deploy Machine Learning Server 9.4 to Ubuntu 16.04 LTS from [here](https://docs.microsoft.com/en-us/machine-learning-server/install/machine-learning-server-linux-install), I first encountered the following error during the install from this command `apt-get install microsoft-mlserver-all-9.4.7`:

[code]

I am however able to access Python as the above directions advise a bit lat

[2019-09-16 13:01] bvandre opened #953 "Create Release variables"
Is there a way to pass variables to `az pipelines release create`? I expected something similar to how you can pass variables to `az pipelines run --variables Variable1=Value1`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f912b9b3-f27c-deb7-54c1-8e3f477ed26f
* Version Independent ID: fb24966a-f6fb-1828-2e0e-4374ae1df

[2019-09-19 11:36] jeremysingh opened #957 "Add support to deactivate Subscription via CLI"
**Is your feature request related to a problem? Please describe.**
Since it is possible to create a subscription via the Azure CLI:
https://docs.microsoft.com/en-us/cli/azure/ext/subscription/account?view=azure-cli-latest

I would like to see the same to deactivate a subscription.

**Describe the solution you'd like**
Similar to az account create:
az account deactivate --name
                  [--

[2019-09-19 11:37] jiasli commented on #957
Thank you for the feedback. We will consider this as a feature request.

[2019-09-19 22:30] mjannapureddy07 opened #959 "Support on GovCloud"
Hello,

We know this feature is in preview and is not yet generally available. I see the Log Analytics API URL is used in the extension module is https://api.loganalytics.io. But as we use Gov Cloud (Azure US Government) we hit a different URL https://api.loganalytics.us . Does this command support for Log Analytics in Gov Cloud, if yes how? If No is there any roadmap for implemetation? and where

[2019-09-19 22:36] rloutlaw commented on #959
Extension install documentation is on the Docs feature roadmap and in planning for Azure CLI reference.

I can't answer the question about the Log Analytics API but did want to thank you for taking the time to report the problem you had with the docs.

[2019-09-20 02:43] MyronFanQiu commented on #959
@mjannapureddy07 Hello. I will take a look at this issue.  I'm the new person maintain monitor related commands and may need some time. Thanks.

[2019-09-20 02:49] hemsh commented on #959
@MyronFanQiu Two changes are required for Azure Government Cloud. I guess you need to make cloud name as an optional parameter and based on that End Point needs to be changed in those two places. I have tested in my govcloud and is working as expected.

[code]

[2019-09-23 16:38] paratz commented on #936
One of our customer is looking to automate a script using Az Script that generates a report from a Log Analytics query. This query produces more than 10k results, and they need this report in csv/tsv to be processed by some other system....

[2019-09-23 17:05] palma21 commented on #927
Yes there are 2 new arguments that will be used moving forward and from GA on the main CLI, but the latest version of the extension should support both.

Could you try with the latest and confirm if you can repro?

[2019-09-23 17:26] lgodmer commented on #936
@paratz Has the customer tried the workaround that @alexeldeib mentioned?

@jiasli @lmazuel can you investigate this from the CLI side?

[2019-09-24 15:15] Miles-Davies-HORIBA opened #964 "I get an error downloading universal packages from the command line"
I get an error when downloading the packages using the command line provided by Azure DevOps web UI. The package seems to be in the appropriate universal artifact store.
I uploaded some new packages without any obvious error but there seems to be an issue downloading any package, including ones I had previously been able to download.

The
**Command Name**
`az artifacts universal download
Extension

[2019-09-24 21:22] paratz commented on #936
@alexeldeib I'm using Windows, I've just tried the windows version of jq with -r and I don't get a "human" readable format like tsv or table.... attaching an example
![Anotación 2019-09-24 182158](https://user-images.githubusercontent.com/22793342/65551401-4442e080-def8-11e9-8090-1a4432b4ec80.png)

[2019-09-24 22:20] maggiepint commented on #964
Hi! Thanks for the feedback. I have routed to the appropriate team for feedback.

[2019-09-25 12:18] mreid-contrast commented on #733
I'll add to the mix though I'll need to find a quicker workaround than is probably available via this thread. I want to echo the original sentiment though in a constructive manner: "This command doesn't work at all". Or, at least, I don't see what the happy path is.

1. I have an image.
2. I have the original, generalized VM.
3. I have the OS disk.
4. This command does not work for me.

If there i

[2019-09-25 12:47] tamirkamara commented on #733
@mreid-contrast can you please the command with the --debug flag and report back with the output? Make sure to remove secrets

[2019-09-25 14:37] mreid-contrast commented on #733
Thanks for your response. Here you go:

az image copy --source-resource-group sales-engineering-demo --source-object-name azdevdemo-image-20190924             --target-location eastus --target-resource-group "sales-engineering-demo" --cleanup --debug > output.txt 2>&1

DEBUG: Command arguments: ['image', 'copy', '--source-resource-group', 'sales-engineering-demo', '--source-object-name', 'azdevdem

[2019-09-25 16:26] jkewley opened #965 ""az devops extension install" failing with 500 errors"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
azure-devops 0.12.0

### Description of issue (in as much detail as possible)
Installation of extensions using the `azure-devops` extension is failing on the back end with 500 errors.

[code]
-----

[2019-09-26 05:55] MyronFanQiu commented on #950
Sorry. I just saw this issue. I will take a look at it recently.

[2019-09-26 07:24] Miles-Davies-HORIBA commented on #964
This seems to be this issue #724 as I added the --file-filter '*' and it worked. I am clean installing the latest release.

[2019-09-26 14:01] JoseSBarrientos commented on #554
I had the same problem and it turned out to be a network issue. In my case, at least one artifact had to exist inside the folder C:\Users\x\.azure\azuredevops\cli\tools\artifacttool\name_of_artifact\ to be able to download the files. Not sure if this is your case but you it is worth trying in case you have not resolved it yet.

[2019-09-27 09:03] enihcam opened #967 "this is to test the support workflow of Azure Spring Cloud, but please treat it as a real issue."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az spring-cloud config-server show
Extension Name: spring-cloud. Version: 0.1.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az spri

[2019-09-27 10:06] chinmaychhajed opened #968 "how to `monitor-events` on azure portal?"
Hello,

I want to know how do I monitor events of my device on Azure Portal([IoT Hub](https://portal.azure.com)) which can be done in command line through `az iot hub monitor-events -n <name> --login <connection string>`.

Thanks in advance.

[2019-09-27 18:58] ngregistrations opened #969 "JMESPath query not working..!!"
Hi,

Trying to understand why this is not working..!!

az devops security group list --query "[?displayName=='PROPS'].descriptor" --org $org --project $prj

Using MS VSCode, with the JMESPath for VSCode EXTENSION.  I create a json with the information of 2 groups, then run the same query [?displayName=='PROPS'].descriptor and I get the data I need.

![image](https://user-images.githubusercontent.c

[2019-09-27 23:39] jlian commented on #968
Hi, we don't have the equivalent of `az iot hub monitor-events` on the Azure portal AFAIK. @iluican correct me if something changed.

[2019-09-29 04:44] yuwzho commented on #967
@Azure/azure-spring-cloud

[2019-09-29 06:14] #967 closed

[2019-09-29 19:14] tamirkamara commented on #733
@mreid-contrast please confirm your cli version and extension version.

[2019-09-29 23:38] mreid-contrast commented on #733
My installations of azure-cli and Image Copy are refreshed via a script every time that I run them, so the versions that I used are whatever were available on Wednesday, 9/25. An `az –version` shows:

azure-cli                         2.0.74

command-modules-nspkg              2.0.3

core                              2.0.74

nspkg                              3.0.4

telemetry

[2019-09-30 04:40] jiasli commented on #969
This is because the security group array is in propery `graphGroups`:

[code]

Thus the query needs to be

[code]

[2019-09-30 09:42] prabhakarreddy1234 opened #971 "Sample configuration file to create service-endpoint from CLI"
`az devops service-endpoint create`  creates a service-endpoint from configuration file. If a sample configuration file is provided then it's helpful.

I am referring to documentation here - https://docs.microsoft.com/en-us/cli/azure/ext/azure-devops/devops/service-endpoint?view=azure-cli-latest#ext-azure-devops-az-devops-service-endpoint-create

[2019-09-30 15:13] ngregistrations commented on #969
Hi Jiasli,

Thank you very much, it worked.  I know this is pretty basic, but I am having so much difficulty trying to wrap my head around this JSEMPath, have not been able to find real examples on the web.

Either way, thank you very much.

[2019-09-30 17:56] marc-gmail-towersap opened #973 "az pipeline list only shows build pipelines"
when I run  az pipelines list --org &lt;my org url&gt; --project &lt;myproject&gt;  i only see the build pipelines associated with that project.  I do NOT see any release pipelines at all.
While I can run az pipelines release list and and can mine it's releaseDefinition, that only works if there is a release created in that release pipeline. If you created a release pipeline but never fired a buil

[2019-10-01 06:05] chinmaychhajed commented on #968
Feel free to close the issue if you are sure we cannot monitor events online on Azure portal and it can only be done through CLI.

[2019-10-01 16:04] #968 closed

[2019-10-01 17:38] maggiepint commented on #971
Hi! Thanks for the feedback. I have routed to the appropriate team for follow up.

[2019-10-02 02:57] alexeldeib commented on #936
jq won't be able to help you with readable output, only stripping quotes/indexing fields to clean and extract what you want. For the readability issue, we need the CLI team to fix this properly. Discussed with them offline but TBD on fix 🙁

[2019-10-02 04:23] maggiepint opened #976 "Unclear how to start using (this) preview feature"
@michaelw85 commented on [Mon Sep 30 2019](https://github.com/Azure/azure-cli/issues/10708)

It took me quite some time to find a blog where it shown to use `az extension add --name azure-devops` to be able to start using the az pipelines command. It would be nice if there would be some explanation that this is part of the azure-devops extension and should be installed.

---
#### Document Details

[2019-10-02 14:16] yonzhan commented on #936
@MyronFanQiu  please take a look and comment.

[2019-10-02 17:39] ngregistrations commented on #969
Hi,
Sorry to keep bugging with this... but tried to follow your example... but in another list, and still keep getting nothing..  this time is with devops users.

![image](https://user-images.githubusercontent.com/53952877/66067567-b4f18a80-e500-11e9-9b08-ec704f1d4cac.png)

I captured the object, to see what is the property name is... in this case show "items"  so I tried and keep getting nothing.

[2019-10-02 17:43] ngregistrations commented on #969
ran the same exersice, in MS Code, and the query worked, so just needed to add the property name "items"

![image](https://user-images.githubusercontent.com/53952877/66067897-6c869c80-e501-11e9-864b-4c40b5a9a309.png)

[2019-10-03 05:06] atbagga commented on #976
@geverghe Simple way to fix it could be adding a long summary in help of the root level groups - "Part of azure-devops extension." That way it will show up at the top of all these command references at the top of the page.

[2019-10-03 05:09] atbagga commented on #969
This http://jmespath.org/ has tutorials and examples on pretty much all different things. There might be some things you will be able to figure out just playing with it as you did above.

Closing this issue because it seems like you were able to get it working.
Please file a new issue if you face any issues.

[2019-10-03 05:09] #969 closed

[2019-10-03 05:28] atbagga commented on #965
The command succeeds with the extension ID but not with name.
Reproducible with -
[code]

Works fine with -
[code]

[2019-10-03 16:23] elbatk commented on #964
Closing this as it looks like it's already been fixed, please let us know if you have the same issue after installing latest @Miles-Davies-HORIBA

[2019-10-03 16:23] #964 closed

[2019-10-03 16:37] atbagga commented on #973
@marc-gmail-towersap

az pipeline list only shows build pipelines <-- This is expected since az pipelines commands work with Yaml pipelines. They will list builds and yaml multistage pipelines.

az pipelines release group commands work on the releases.
1. If you are looking to list the release runs command is ```az pipelines release list```
2. If you are looking to list all the release definitions

[2019-10-03 23:58] RickKra opened #979 "az image copy fails with 'command ended with an error'"
**Command Name**
`az image copy
Extension Name: image-copy-extension. Version: 0.2.1.`

**Errors:**
[code]

## To Reproduce:
[code]

## Expected Behavior

Copies the image to the target sub/rg.

## Environment Summary
[code]
## Additional Context

I was getting this failure in an Azure DevOps release pipeline using the Azure CLI task.

I thought at first it might be related to using an Azure servi

[2019-10-04 06:48] Miles-Davies-HORIBA commented on #964
Hi @elbatk, installing the latest released version did not fix this issue. I haven't tried getting an un-released one from github. If I copy/paste the instructions to download from Azure DevOps it doesn't work because of this issue.
Not sure of the release cycle or when #724 should ship or even if this is the same issue.

[2019-10-05 15:16] dhillksmc opened #980 "Upgrading AKS Message"
%23%23%23 **This is autogenerated. Please review and update as needed.**

%23%23 Describe the bug

**Command Name**
`az aks upgrade
Extension Name: aks-preview. Version: 0.4.16.`

**Errors:**
[code]

%23%23 To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks upgrad

[2019-10-06 11:32] yonzhan commented on #979
@qwordy  please take a look and comment.

[2019-10-06 12:37] qwordy commented on #979
Received. National day holiday: 1st Oct ~ 7th Oct.

[2019-10-06 12:41] nemrism opened #981 "Error trying to move an image from eastus2 to westeurope"
## Describe the bug

**Command Name**
`az image copy
Extension Name: image-copy-extension. Version: 0.2.1.`

**Errors:**
[code]

## To Reproduce:

- `az login`
- `az account set -s {}`
- `az image copy --source-object-name {} --source-resource-group {} --target-resource-group {} --target-location {} --debug`

## Expected Behavior

Expected result is a successful move of the VM image to the new loc

[2019-10-07 10:08] epierotto opened #982 "The command `az aks upgrade` prompts for user input when you provide `--yes`"
## Describe the bug

**Command Name**
`az aks upgrade`

**Errors:**
The command is prompting for user input when `--yes` is provided.
[code]

## To Reproduce:
- `az aks upgrade --resource-group {} --name {} --kubernetes-version {} --no-wait --yes`

## Expected Behavior
Provided the flag `--yes` I expect no user input needed to execute the command.
[code]

## Environment Summary
[code]
## Additiona

[2019-10-07 10:15] yonzhan commented on #965
@zikalino  please take a look.

[2019-10-08 02:18] MyronFanQiu commented on #936
@paratz Hello. I'm working on it.

[2019-10-09 13:30] geverghe commented on #976
@maggiepint - to ensure we meet your expectation, could you tell me which information source you were referring to for this comment (the places you looked at didn't find this information)?

@atbagga - That makes sense. Today the summary for azure-devops in `az extension list-available`  says " Tools for managing Azure DevOps."; We can change this to "Tools for managing Azure DevOps - includes az p

[2019-10-09 13:33] deploymentking opened #985 "Invalid Colon Separator"
The cli command says the following are allowed values
```Allowed values: ,, -, ., /, ;, _, __.```
Yet the documentation above says
```Supported values: '.', ',', ';', '-', '_', '__', '/', ':', ''.```
When I try to use the CLI with a colon : separator I get errors. Is this documentation incorrect?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2019-10-09 13:38] michaelw85 commented on #976
@geverghe I placed my comment in the azure cli pages, I don't see my original question anymore but I thought I placed it here: https://docs.microsoft.com/en-us/cli/azure/ext/azure-devops/pipelines?view=azure-cli-latest (or on one of the child pages)

[2019-10-09 13:38] deploymentking opened #986 "Importing Key Values from YAML"
If I import via JSON with
```az appconfig kv import --name mystore --label mylabel --source file --format json --separator . --path ./import.json --verbose```
I get no errors.
If I convert the JSON to YAML and run the same import with
```az appconfig kv import --name mystore --label mylabel --source file --format yaml --separator . --path ./import.yml --verbose```
I get the following warning...
[c

[2019-10-09 14:41] geverghe commented on #976
@michaelw85 - Thank you for the clarification - provides more context on the issue. Including a reference of the page
![image](https://user-images.githubusercontent.com/16950956/66491259-0c2ec680-ead0-11e9-9dae-bd381e9b24e2.png)

Proposed Update:
# az pipelines
Manage Azure Pipelines. This command group is a part of the azure-devops extension.

Let me know if that works.

Two quick clarification q

[2019-10-09 15:24] atbagga commented on #971
@prabhakarreddy1234 Documentation is already there - https://docs.microsoft.com/en-us/azure/devops/cli/service_endpoint?view=azure-devops#create-service-endpoint-using-configuration-file

We will work on putting out a link to this in the doc in the command help.

Let us know if this helps.

[2019-10-09 15:33] prabhakarreddy1234 commented on #971
@atbagga  Thanks. Do we have to pass only file path or can we also pass raw json object to `az devops service-endpoint create` ?

If we can't pass raw json object then it's not useful in automating this process.

[2019-10-09 15:38] atbagga commented on #971
It only accepts file path.. You can still automate file creation.. e.g. how i am doing here - https://github.com/atbagga/PsSamples/blob/master/DevopsVarGroup/VarGroupUpdate.ps1

Regarding the stdin input there is recent issue filed here which you can vote on OR follow for updates - https://github.com/Azure/azure-devops-cli-extension/issues/816

[2019-10-09 23:22] sroddy5 opened #987 "az image copy - Creating target storage account - command ended with an error"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
az image copy

### Description of issue (in as much detail as possible)
I am attempting to use az image copy however it is failing at the 'Creating target storage account' with the error message:
[code]
Runnin

[2019-10-10 05:48] michaelw85 commented on #976
1) I always use google to get to the correct az cli documentation. In this case I was specifically searching if it was possible to create a variable group using the cli.
2) I noticed yesterday when looking up the page that the hierarchy shows the module name. This did not stand out to me before. I think I now made the connection since I used the install command for the first time. Now that I know

[2019-10-10 06:02] maggiepint commented on #985
@jamesc can someone from your team help out here?

[2019-10-10 06:45] maggiepint commented on #986
@jamesc this as well

[2019-10-10 07:43] MyronFanQiu commented on #936
@alexeldeib Looks like the server just changed the structure of the response recently. Am I right? I just want to confirm so that I can change my codes.

[2019-10-10 18:26] abhiramani-iptiq opened #989 "az pipelines variable create not workign for Release Definition"
Hi
i am running this command  for my release definition
az pipelines variable create --name "Hello" --value "world" --pipeline-name "Helm 02 All Release"
i am getting error "There were no build definitions matching name Helm 02 All Release"
does this mean variable can be created just for build definitions? how do i create variable on my release definition?

---
#### Document Details

⚠ *Do not edi

[2019-10-10 19:38] acegrc commented on #952
you should
`sudo apt install python`
before installing mlserver

[2019-10-10 21:37] ericmitt opened #990 "az iot central app does not exists"
I want to monitor event for central as I do for IotHub. the doc say use az iot central app monitor-events. But the central commands looks to be missing? Bug  or I miss something here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96f985d3-889f-49f4-fa63-5e33a795fa57
* Version Independent ID: 72ba72da-cd0c-fe11-264a-6d

[2019-10-11 02:45] yonzhan commented on #986
@maggiepint appconfig command has been moved to azure cli core. Please tryout the core azure cli command. If you still have question, please open an issue on azure cli repo.

[2019-10-11 02:45] #986 closed

[2019-10-11 04:16] ericmitt commented on #990
I ran:
az iotcentral app monitor-events --app-id "4683e79d-1cef-446f-bec3-b17f8ab56c3f"
az iotcentral app: 'monitor-events' is not in the 'az iotcentral app' command group. See 'az iotcentral app --help'.

[2019-10-11 12:32] Apholisha opened #991 "--List would return only 100 objects"
List would return only 100 objects unless explicitly forced to return more using the --top parameter.  That should be mentioned in the documentation. Expectation would be that will return all and --top is to limit the number.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28af5781-4e9b-df81-6074-3de40adbe141
* Version

[2019-10-11 12:55] Apholisha opened #992 "az devops team list-member --team fails with --project must be specified."
--project is listed as optional while in reality it is not.
Either the documentation is incorrect or the cli is not behaving as expected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aab5af2c-7c87-d5a7-e52a-d56b902eb44a
* Version Independent ID: c58f9b5a-db21-61e3-7512-e346c678ac56
* Content: [az devops team](https:/

[2019-10-11 14:58] phyoungmsft opened #993 "Please add section to install the extension."
It was not immediately obvious that you needed to install the image-copy-extension to have this command at the ready in the CLI. Is it possible to add a section that addresses this and gives you "az extension add -n image-copy-extension"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1806a2fb-e007-03d5-ac2d-277da130d2

[2019-10-11 15:13] phyoungmsft commented on #993
In addition, after more testing, I see from here: https://github.com/Azure/azure-cli-extensions/blob/master/src/image-copy/readme.md > that you need to have the original machine's OS disk to create a new Managed Image. Can we have this included somewhere on this doc? Or is the thought process to not push this command and instead encourage users to use Shared Image Galleries?

[2019-10-11 15:42] Zaniar0 opened #994 "example"
Can you give one example of how to update permissions please. The documentation does not explain it very well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a283a450-7f6b-ceef-6fbd-f4e1d5129383
* Version Independent ID: 7361dfa6-28ed-1074-783e-baa233c3a308
* Content: [az devops security permission](https://docs.micros

[2019-10-12 05:31] maggiepint commented on #989
I have routed this to the appropriate team for follow-up.

[2019-10-12 09:23] yonzhan commented on #985
@haroldrandom  please take a look.

[2019-10-12 12:04] haroldrandom commented on #985
please paste your original command without confidential and what it returns.

BTW, which SHELL are you using?

[2019-10-14 09:38] #976 closed

[2019-10-14 12:38] atbagga commented on #989
Yes, The API will look for yaml pipelines which includes old (non yaml) build definitions but not release definitions.

If you want to manage variables in release definitions you will have to use ```az devops invoke``` command and refer this [API](https://docs.microsoft.com/en-us/rest/api/azure/devops/release/definitions/update?view=azure-devops-rest-5.0).

[2019-10-14 12:43] atbagga commented on #992
@Apholisha The help text points out that it is required if default project is not set or you need to run the command from the context of a Azure Repos repo in which case the command will auto detect the repo from the git remote url.

You can learn more about using default settings and git repo auto detect in the docs [here](https://docs.microsoft.com/en-us/azure/devops/cli/?toc=%2Fazure%2Fdevops%2

[2019-10-14 12:43] #992 closed

[2019-10-14 12:53] noxx5489 opened #997 "Trying to copy an image across to another subscription"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az image copy
Extension Name: image-copy-extension. Version: 0.2.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az image copy --sour

[2019-10-15 01:19] zikalino commented on #991
this issues shuld be probably reported to Azure CLI repo, as it's not only related to extensions.

[2019-10-15 07:07] SebRosander opened #999 "az repos policy merge-strategy create"
Lots of the parameters is set as optional, but is required for atleast "az repos policy merge-strategy create". Please update documentation.

Recreation of issue:

Step 1:
az repos policy merge-strategy create --blocking true --branch master --enabled true --repository-id XXXXXXXX-XXXX-XXXX-XXXXX-XXXXXXXXXXXX

Generates ---&gt; az repos policy merge-strategy create: error: the following arguments

[2019-10-15 11:18] geverghe commented on #989
@abhiramani-iptiq - I hope the above clarification solves your issue and I am closing this. Feel free to re-open the issue in case it is not clear. Further, next time, would be great if you could open an issue directly on Azure/azure-devops-cli-extension if you run into any problems with pipelines commands.

[2019-10-15 11:18] #989 closed

[2019-10-15 11:31] geverghe commented on #971
@prabhakarreddy1234 - I am closing this issue. Feel free to re-open in case the guidance is not clear. Would be super useful for us next time if you could directly open an issue on our repo - Azure/azure-devops-cli-extension in case there are any issues in the pipelines command group.

[2019-10-15 11:31] #971 closed

[2019-10-15 11:33] geverghe commented on #973
@marc-gmail-towersap - I am closing this issue. Feel free to re-open the issue in case the clarification is not clear. Would be awesome if you could open the issue in our repo - Azure/azure-devops-cli-extension directly in case you run into any issue with Pipelines commands.

[2019-10-15 11:33] #973 closed

[2019-10-15 12:32] geverghe commented on #894
@jessehouwing - Hope the above clarification answers your query. I am closing this issue. Feel free to reopen the issue in case it does not answer your query. Would be super helpful for us if you could open any issue related to `az devops` | `az pipelines` | `az artifacts` | `az repos` | `az boards` on https://github.com/Azure/azure-devops-cli-extension/issues .

[2019-10-15 12:32] #894 closed

[2019-10-15 12:35] geverghe commented on #893
Hey @Jeremy-Busuttil - thank you for raising this feature request. I have opened a corresponding ticket on our repo so that we can track this on our project board and prioritize accordingly.

Link to issue on our repo - https://github.com/Azure/azure-devops-cli-extension/issues/827

[2019-10-15 12:37] geverghe commented on #847
Hi @san7hos - I am closing this issue. Feel free to reopen this issue in case this is still a problem. Further, it would be super helpful for us if you could open any issue related to az devops | az pipelines | az artifacts | az repos | az boards on https://github.com/Azure/azure-devops-cli-extension/issues .

[2019-10-15 12:37] #847 closed

[2019-10-15 12:41] geverghe commented on #748
@wangglei -  I am closing this issue. Feel free to reopen the issue in case it does not answer your query. Would be super helpful for us if you could open any issue related to az devops | az pipelines | az artifacts | az repos | az boards on https://github.com/Azure/azure-devops-cli-extension/issues .

[2019-10-15 12:41] #748 closed

[2019-10-16 15:49] LTA-Thinking opened #1003 "[Feature Request] Fill in user's Azure object id by default"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
Healthcareapis

### Description of issue (in as much detail as possible)
Currently a user needs to find and manually enter their Azure object id as their Access Policies Object Id when creating a service. It w

[2019-10-17 20:16] maggiepint commented on #999
@geverghe

[2019-10-18 06:04] geverghe commented on #999
@SebRosander  I will look into Step 1. However, the rationale for 2 and 3 is that the values can be provided via any of the following and therefore are not "required" for the command.

Users can configure org and project values in
1. Defaults using az devops configure -d organization=https://dev.azure.com/<org> project=<project name>
2. The values can be picked up from git context -> if you run th

[2019-10-18 15:39] jmhardison commented on #979
Ran into this, stumbled on this issue with a colleague.

This is failing due to the az cli command now outputting:
"WARNING: The default kind for created storage account will change to 'StorageV2' from 'Storage' in future"

This is noted over here: https://github.com/Azure/azure-cli/issues/10687

As a very ugly workaround, the cli_utils.py can be modified to clean it up.

[code]

I'll submit a pr

[2019-10-19 13:15] yonzhan commented on #1003
@zikalino which label should we put for this issue?

[2019-10-19 14:00] tamirkamara commented on #997
@noxx5489 please provide more information like debug information from running the command with the --debug flag.

[2019-10-19 14:20] tamirkamara commented on #993
@phyoungmsft Thank you for you feedback.

1. Every extension has to be installed, and it's documented once here: https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensions-overview?view=azure-cli-latest
1. This command was created before Shared Image Galleries existed and still used today for scenarios not exactly right for SIG (not sure what those are exactly). To my understanding, extension

[2019-10-19 14:23] tamirkamara commented on #981
@nemrism please provide the debug output by running the command again with the --debug flag

[2019-10-19 14:25] tamirkamara commented on #987
A recent change in the azure cli core returns a response in an invalid json format which breaks the extension. This is documented in this github issue: #azure-cli/10687
It will take some time until we have a good approach and do the necessary changes. In the meantime, I can suggest downgrading the cli to version 2.0.72 or below which should function as before.

[2019-10-19 15:46] phyoungmsft commented on #993
1. Agreed that its well documented. There are plenty of indicators that it is (such as in table of contents that the command lies in) - but I tunnel visioned on just the az image copy doc and it wasn't immediately clear to me.

2. I understand having the --help command specify that an osdisk is required - I suppose the ask here is to also state the same thing we are seeing in --help as part of the

[2019-10-19 16:18] ramakrishnagith opened #1007 "Getting some errors while executing policies, Please help"
Can you please check below error

The command failed with an unexpected error. Here is the traceback:

Expecting ',' delimiter: line 13 column 9 (char 251)
Traceback (most recent call last):
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-p8t_6awn\knack\knack\cli.py", line 206, in invoke
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-p8t_6awn\azure-cli-core\azure\cli\core\comman

[2019-10-19 18:31] nemrism commented on #981
Here we go, with a fresh new image:
https://1drv.ms/u/s!Attz0_FK8eIXhss1LGmY8xK-zAOhZw?e=Q8dFSf

[2019-10-19 20:22] tamirkamara commented on #981
Thank you.
The error indicates that the OS disk of the VM used to create the image is missing. Are you aware that this is a requirement for the extension to be able to copy the image? If you are aware, please confirm that you see the disk in your subscription.

[2019-10-19 20:25] nemrism commented on #981
Indeed, I've checked the resource URI / ID and can access it without any problem in my subscription

[2019-10-20 02:27] kprpg opened #1008 "az devops CLI - where to download"
Where should one go to get the devops cli. When I type "az devops", I get az: 'devops' is not in the 'az' command group. See 'az --help'. And so searching for the devops cli download turns empty. This is frustrating that one cannot find any where in the Microsoft portal where to get the devops cli. I have installed Azure DevOps server 2019 on my laptop.

---
#### Document Details

⚠ *Do not edit t

[2019-10-20 04:15] jmhardison commented on #993
@tamirkamara Not that I've dug around much, but on item 2 it seems it's generated at some point by the ref-docs and pipeline steps, like you refer to. Everything including azure-docs-cli says it builds from the _help files.

However, I've not seen any resulting docs that show what's put in the `long-summary` element on the actual docs site, only the `short-summary` winds up there.

Maybe a quick f

[2019-10-20 04:33] jmhardison commented on #1008
You can view available extensions using:
`az extension list-available`

And install an extension with:
`az extension add --name <extname>`

So in your case, you would use:
`az extension add --name azure-devops`

Also, here is the documentation on it: [Azure CLI Extensions Docs](https://docs.microsoft.com/en-us/cli/azure/extension?view=azure-cli-latest)

[2019-10-20 06:39] nemrism commented on #981
/subscriptions/6f335c6c-6850-40da-a64c-37021daaa4c6/resourceGroups/AzureDevOps-rg/providers/Microsoft.Compute/disks/devopsVS2017_OsDisk_1_bf58f98dc70144cab32b31b4630d8a61![image](https://user-images.githubusercontent.com/10318213/67155731-db8f2e00-f314-11e9-8b4b-a84c0db54738.png)

[2019-10-20 07:42] tamirkamara commented on #981
Can you try and run the failing step "by hand":
`az snapshot create --name devopsVS2017-image-20191019202000_os_disk_snapshot --resource-group AzureDevOps-rg --source /subscriptions/6f335c6c-6850-40da-a64c-37021daaa4c6/resourceGroups/AZUREDEVOPS-RG/providers/Microsoft.Compute/disks/devopsVS2017_OsDisk_1_bf58f98dc70144cab32b31b4630d8a61 --output json --tags created_by=image-copy-extension`

[2019-10-20 07:58] tamirkamara commented on #466
@zikalino Can you please close this issue?

[2019-10-20 09:59] nemrism commented on #981
Of course, and if it succeeds, how do I continue the move please?
I'll post the result in a few

[2019-10-20 11:41] nemrism commented on #981
@tamirkamara, got the exact same problem, which is quite coherent ^^
https://1drv.ms/u/s!Attz0_FK8eIXhss27eacjNCycJ-tcA?e=99wmSB

[2019-10-20 13:16] tamirkamara commented on #981
Yes... so it looks like not something specific to the extension since the native command also fails.
I would do the following:
1. try to snapshot the disk on the azure portal to see if it works or not
1. with the result, open a support ticket to have their help get to the root of the problem

[2019-10-20 13:44] nemrism commented on #981
Ok, thanks for your help @tamirkamara

I already have an open ticket for the overall operation but have no solution yet...

[2019-10-20 14:34] nemrism commented on #981
Actually just tested, and it works using Azure Portal

https://photos.app.goo.gl/NDDS8TAzpivEPXJi7

[2019-10-20 15:53] tamirkamara commented on #981
I would add the information above to help the support engineer focus on the actual issue...

[2019-10-20 18:28] nemrism commented on #981
@tamirkamara
Could you tell me what are the other steps the extension is wrapping under the image copy command?

[2019-10-21 05:13] atbagga commented on #965
Closing this issue since we are working on the issue we have created in our repo for tracking.

[2019-10-21 05:13] #965 closed

[2019-10-21 05:15] atbagga commented on #994
@Zaniar0 Please check the updates on the linked issue where we are tracking this - https://github.com/Azure/azure-devops-cli-extension/issues/824

Closing this one since it is now being tracked in our extension repo.

[2019-10-21 05:15] #994 closed

[2019-10-21 05:19] atbagga commented on #893
I am closing this issue since this is now getting tracked in the corresponding extension repo as linked in above comment.

[2019-10-21 05:19] #893 closed

[2019-10-21 06:14] tamirkamara commented on #981
Hi,
Have a look in the code [here](https://github.com/Azure/azure-cli-extensions/blob/master/src/image-copy/azext_imagecopy/custom.py#L77). This is the step which fails for you to create the snapshot.
If you follow along you'll find a bunch of commands getting issues from that custom.py file as well as create_target.py.
I hope that helps.

[2019-10-21 14:04] rodrgeve commented on #997
@tamirkamara - Here is a snippet of the error I get when running the command (--debug enabled):
[code]

[2019-10-21 23:27] tkrick commented on #623
@harshg0910 et al, have you tried running these steps? https://github.com/dotnet/core/blob/master/Documentation/build-and-install-rhel6-prerequisites.md

universal packages cli extension depends on a .net core app and apparently some of the distros runtime library mismatches with what .net core needs. I'm just guessing because I notice uuid is the issue and these instructions mention a mismatch wi

[2019-10-22 02:54] nemrism commented on #981
@tamirkamara
I've been told by the support that azure cli does not support moving image between those regions for the moment.
They are guiding me to make it through Powershell which is the only way to do it right now.
It should be interesting to document that limitation in the extension wiki/help if it is not already the case!

[2019-10-22 04:45] tamirkamara commented on #981
Hi,
While support is right, this isn't exactly what I wanted their help with. Granted that the cli doesn't have builtin support for copying images, which is exactly why the extension exists. The 2 regions aren't related. The extension worked great for the last 2 years between those two regions (and many others).
You have a somewhat special case for a reason we don't yet which causes a problem to c

[2019-10-22 04:56] zikalino commented on #1007
I think this issue should be tracked here:

https://github.com/Microsoft/azure-devops-cli-extension

[2019-10-22 04:59] zikalino commented on #1007
@ramakrishnagith I have copied your issue to different repo, is it ok to close here?

[2019-10-22 05:16] nemrism commented on #981
Hi Tamir,

I would answer to you like this:

While I'm quite aligned with you and would like to understand the root cause of the problem, I was wondering if there is a way for me to copy you directly in my mail thread with those guys.

Moreover, I'll stay in touch with them until I got a full solution. As it will probably also fail using the Powershell commands, which also rely on the Azure API, I

[2019-10-22 05:16] tamirkamara commented on #997
Hi,
Looks like a duplicate of https://github.com/Azure/azure-cli-extensions/issues/987.
Can you check the issue+solution there and close this one if the same? Or report otherwise...

[2019-10-22 05:23] tamirkamara commented on #993
@phyoungmsft your quoted issues are old and not related to yours - see in the log that the command fails when trying to create a storage account. Please review https://github.com/Azure/azure-cli-extensions/issues/987 as it is the same as the issue you're having with a workaround until a fix will be available.

[2019-10-22 05:46] tamirkamara commented on #981
Sure. My email - firstname.lastname at microsoft.com

[2019-10-22 06:24] atbagga commented on #1007
@ramakrishnagith this looks like a error in your json file which you are creating.
**json.decoder.JSONDecodeError: Expecting ',' delimiter: line 13 column 9 (char 251)**
Please verify that your json file is correctly formatted.

For further discussion please respond on the issue here - https://github.com/Azure/azure-devops-cli-extension/issues/841.

[2019-10-22 06:24] #1007 closed

[2019-10-22 08:20] atbagga commented on #999
@geverghe

![image](https://user-images.githubusercontent.com/11888714/67268763-ec859e00-f4d2-11e9-8e1c-88fc48b5aa31.png)

It was marked as required in previous versions.

[2019-10-22 08:28] atbagga commented on #999
@SebRosander As explained in the above comments there is a rationale behind marking the org and project param as not required. This is true for all commands in the extension.  And the help text is updated to reflect the same.
![image](https://user-images.githubusercontent.com/11888714/67268960-6027ab00-f4d3-11e9-87e5-853c951bf143.png)

Step 1 seems to be wrong. Can you check which version of the e

[2019-10-22 08:28] #999 closed

[2019-10-22 08:39] atbagga commented on #991
@Apholisha This is API behavior - https://docs.microsoft.com/en-us/rest/api/azure/devops/core/projects/list?view=azure-devops-rest-5.0

Any listing API generally returns a fixed set of results (upto a MAX limit) appended by the continuation token to query more results in the next call if available. That is how the project list API also works.

The above linked PR fixes the continuation token issue

[2019-10-22 10:26] epierotto commented on #982
If the `upgrade` command by default prompts a [confirmation message](https://github.com/Azure/azure-cli-extensions/blob/master/src/aks-preview/azext_aks_preview/commands.py#L49), why are you guys prompting a second confirmation [message](https://github.com/Azure/azure-cli-extensions/blob/master/src/aks-preview/azext_aks_preview/custom.py#L1250)?

If further explanation needs to be provided to the

[2019-10-22 13:42] phyoungmsft commented on #993
@tamirkamara Thanks for the heads ups. Besides what @jmhardison has said regarding short-summary, I think we are in a good place regarding this command and its related docs.

[2019-10-22 15:57] elbatk commented on #730
@corppeon hey there, are you still having an issue here? Taking a look from the linked bug above.

[2019-10-22 23:25] zikalino commented on #1008
I think this issue can be closed?

[2019-10-23 12:43] mildsar opened #1012 "Any ETA for release of this feature?"
These cmdlts is still labeled as PREVIEW. When it is going into release?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba39ac35-94ff-5cda-dede-4834d174ee4c
* Version Independent ID: 93f1ab7d-610b-0fc4-c247-c31dd7752f60
* Content: [az pipelines variable-group](https://docs.microsoft.com/en-us/cli/azure/ext/azure-devops

[2019-10-24 21:03] tiruhub opened #1015 "artifact download failed"
Below command failed (which used to be success a few weeks ago).

az artifacts universal download --organization "https://dev.azure.com/windowspartners/" --feed "mcdm_intel_drops" --name "pix" --version "19.10.22" --path .

Attached the screenshot of the failure
![Azure_failure](https://user-images.githubusercontent.com/35935618/67525115-e7f1ee80-f666-11e9-930f-7e2c910d4736.PNG)

[2019-10-25 05:58] fengzhou-msft opened #1016 "Migrate personal docker sttramer/az-ext-list-publisher to MCR"
We need to migrate https://hub.docker.com/r/sttramer/az-ext-list-publisher to MCR. This docker image is used in the publish pipeline for automatically creating PR to update the document listing the available CLI extensions in https://github.com/azure/azure-docs-cli.

[2019-10-25 06:01] fengzhou-msft commented on #1016
Will use azurecli ACR for this image. MCR onboard PR:https://github.com/microsoft/mcr/pull/770, readme PR: https://github.com/microsoft/mcrdocs/pull/280

[2019-10-25 14:10] udossOpenValue opened #1018 "Az artifacts universal download failed"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name "artifacts universal download"

### Description of issue `An error occurred on the service. A potentially dangerous Request.Path value was detected from the client (:)``

I have a colon in my package name and when I run the command , I g

[2019-10-25 20:45] ms-vincent commented on #990
Hi ericmitt, It's likely that the az CLI IoT extension is not up to date. You'll need to make sure that you have the latest extension.
Run "az extension list-available --output table" to get a list of extensions and see what version you have. You can determine what the latest version is from here (at the time of writing, it was 0.8.4): https://docs.microsoft.com/en-us/cli/azure/azure-cli-extension

[2019-10-26 10:22] nemrism commented on #981
Hi @tamirkamara

As expected (or not), I had the session with L2 support engineer which was unsuccessful using Powershell too...
I don't know exactly why but you weren't cced in the emails we exchanged during this unsuccessful session. I'll forward you the latest summary and asked them to get in touch with you or at least look at the work with done together using this Github thread.

[2019-10-26 12:45] yonzhan commented on #1012
Need to triage.

[2019-10-26 13:00] yonzhan commented on #1015
@zikalino, need to triage.

[2019-10-26 14:44] haroldrandom commented on #985
Closed as long time no response. Feel free to reopen.

[2019-10-26 14:44] #985 closed

[2019-10-28 08:55] leonheess opened #1022 "No matching extensions for 'signalr'"
### Extension name (the extension in question)
'signalr'

### Description of issue (in as much detail as possible)
Following this tutorial: https://docs.microsoft.com/en-us/azure/azure-signalr/scripts/signalr-cli-create-service and using https://shell.azure.com/

[code]
-----

[2019-10-28 10:57] Apholisha commented on #991
Ok, this might be a question of semantics, but when the documentation states "Get **all** projects in the organization that the authenticated user has access to."  one would expect "all projects"

Also .. I'm using the CLI not the API so.. would you tell me where to see that token value?

[2019-10-29 00:57] waltlp opened #1027 ""az aks get-versions" is failing with no reason"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-versions
Extension Name: aks-preview. Version: 0.4.11.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-versions --

[2019-10-29 02:09] nemrism commented on #981
@tamirkamara things are still ongoing. I'm about to start the 3rd debugging session with support engineers tomorrow. We are currently trying to perform this move using a shared image library, after it failed to perform it with Powershell! (2x)

I've tried to ask them if we could investigate the failing `az cli` command, but it seems they are bigger fans of Powershell. Anyway, I'll keep you posted

[2019-10-29 03:17] zikalino opened #1028 "We need release pipeline for extensions"
We should have something similar to Python SDK release:

(1) make sure prerelease ci tests are complete, so we know everything is ready, no more issues

(2) Release pipeline that:
- takes build wheel and pushes it to extension artifacts storage
- creates / updates index.json --- this process should end with PR containing changes in index.json, or even just merging update to index.json automaticall

[2019-10-29 03:21] zikalino opened #1029 "Installing extensions with interactive azdev setup doesn't work correctly"
I notice following issue:

When i run azdev setup interactively to install extension i am working on, my extension is not accessible.

Only when running non-interactive version:

azdev setup -r /azure-cli-extensions -e managed-network -c /azure-cli

it works.

[2019-10-29 03:21] haroldrandom commented on #1028
Will make a plan after Ignite. 😃

[2019-10-29 03:22] zikalino commented on #1029
closing as wrong repo

[2019-10-29 03:22] #1029 closed

[2019-10-30 18:34] alexkoepke opened #1041 "az monitor app-insights query Execute a simple query over past 3.5 days."
## Describe the bug
Trying to query Application Insights via the example provided via the [az monitor app-insights query](https://docs.microsoft.com/en-us/cli/azure/ext/application-insights/monitor/app-insights?view=azure-cli-latest#ext-application-insights-az-monitor-app-insights-query) docs.

**Command Name**
`az monitor app-insights query
Extension Name: application-insights. Version: 0.1.1.`

[2019-10-31 10:54] yonzhan commented on #1018
Was this issue related to Azure CLI or Azure CLI extensions ?

[2019-10-31 11:14] zikalino opened #1051 "investigate whitespace in spring cloud extension"
i merged this pr

https://github.com/Azure/azure-cli-extensions/pull/1050

however, i am not sure what's going on with whitespace, in that extension,
this needs to be checked and resolved.

[2019-10-31 12:04] zikalino opened #1052 "improve ci to catch problem with metadata import"
Because of misspelling in setup.py, metadata was not imported and was not propagated to index, just like here:

https://github.com/Azure/azure-cli-extensions/pull/1048

[2019-10-31 12:18] zikalino commented on #1052
ip-group extension has wrong metadata because of the same reason, and this needs to be fixed

[2019-10-31 17:57] softwarecraft opened #1053 "Clear expiration with update cmd doesn't work as documentated"
Under Update cmd for expiration argument it says "To unset the expiration for the banner, supply an empty value to this argument.".

I tried
* --expiration
* --expiration ''
* --expiration ""

as in
* az devops admin banner update --id '<guid>' --org https://dev.azure.com/MyOrgUrl/ --expiration ''

None of these worked, got an error msg:
* az : ERROR: az devops admin banner update: error: argument

[2019-10-31 21:55] softwarecraft commented on #1053
I raised two related issues that went under a different page path for some reason, perhaps this one should move under the same path:
* https://docs.microsoft.com/en-us/cli/azure/devops/admin/banner

[2019-11-01 06:04] fengzhou-msft commented on #1016
The image can be downloaded with `docker pull mcr.microsoft.com/azure-cli-ext/ext-list-publisher:0.3.0` now.

[2019-11-01 06:07] fengzhou-msft commented on #1016
travis task working with the new image: https://travis-ci.org/Azure/azure-cli-extensions/jobs/605711654?utm_medium=notification&utm_source=github_status

[2019-11-01 06:07] #1016 closed

[2019-11-01 12:35] softwarecraft opened #1056 "What does "show" mean?"
Under Add cmd it says "Add a new banner and immediately show it." which indicates that "show" means "make this banner definition the active one".

Under Show cmd it says "Show details for a banner." which could mean
* "display the properties for one specific banner definition, whether or not it is active"

or it could mean

* "make this specific banner definition the active one"

I tried to use Sh

[2019-11-01 12:37] softwarecraft opened #1057 "What HTML markup is allowed in message?"
The anchor tag is supported in the message text and a hyperlink is display in AzDevOps web pages but various formatting tags (bold, strong, font, span, div) are ignored and not rendered, although they are preserved in the message text when you list the messages.

Please update the docs to indicate which HTML markup is supported.

It would be very useful to allow formatting tags to be rendered.

Th

[2019-11-01 15:47] Juliehzl opened #1058 "Travis CI should test against dev of azure-cli"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

### Description of issue (in as much detail as possible)
Why does Travis CI use `git clone azure-cli` to install azure cli as shown https://github.com/Azure/azure-cli-extensions/blob/master/scripts/ci/verify_

[2019-11-02 10:33] rsethur opened #1061 "Specification file for dataset is missing"
"az ml dataset register" mentions an input --file -f: Specification file for dataset.

Can you please share what is the format of this file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fcb8c9fd-e2a3-6c50-628d-4f0a49c4ee1b
* Version Independent ID: a40172d3-61eb-b17e-c6cc-0df35d091411
* Content: [az ml dataset](https

[2019-11-03 09:12] arkiaconsulting opened #1063 "Add a sas-definition for a container sas-token"
Please add an example for creating a Sas definition based on a container Sas token template.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffb4f675-e758-034e-eb29-7feb1d26ba40
* Version Independent ID: 29bc7e09-ef46-df68-7fbe-3d2c641134e0
* Content: [az keyvault storage sas-definition](https://docs.microsoft.com/en-us

[2019-11-04 01:22] Juliehzl commented on #1028
Both are good. If for (2) we can make sure the tests for build are complete, I will vote for (2). For my previous PR without updating index.json, it can pass CI but actually it shouldn't because there are something wrong and it looks it doesn't run all my test scenarios. But for the PR with index.json, it test many things although there are some other annoying things...

[2019-11-04 02:30] Juliehzl commented on #1063
@jiasli Can you have a look at this issue?

[2019-11-04 02:50] MyronFanQiu commented on #1041
@alexkoepke Thanks. I'm looking at this issue.

[2019-11-04 06:11] #936 closed

[2019-11-04 06:26] peizhou298 commented on #1028
This pipeline is good, but I wonder if it is possible to swap step (1) and (2).1, because PR with index.json seems have more CI tests than PR without,  which in my understanding is if I passed the first CI test but failed in second, I need to reproduce the whole process.  Even if everything works well, I also need to run CI test twice rather once...

[2019-11-04 06:33] atbagga commented on #991
@Apholisha There was a generic issue in the CLI for handling of continuation tokens which is being handled in the PR link I added above (Not yet released. Expected ETA - End of this week)

In the new release later this week you will be able to get the continuation token in the json output and input it to the command in params. Help text for the command will look like this -

![image](https://user-

[2019-11-04 08:37] fengzhou-msft commented on #1027
@waltlp can you describe how you installed azure-cli? The error message seems to be some issue related to packaging.

[2019-11-04 08:43] fengzhou-msft commented on #1052
@haroldrandom please take a look.

[2019-11-04 09:48] fengzhou-msft commented on #1058
@haroldrandom please take a look.

[2019-11-04 14:59] softwarecraft commented on #1053
As this may be a bug, I opened an issue in the code repo, https://github.com/Azure/azure-devops-cli-extension/issues/867.

[2019-11-05 07:18] harshg0910 commented on #623
I think the libuuid is there as I was able to run it properly with using python virtualenv. I feel the problem maybe python version. Python 2.7 is not supported by azure CLI and it recommends upgrading system wide python to make it work (which may not be feasible everywhere for legacy dependencies).

I installed python 3.6 as python3 and used it's pip to install the CLI, but apparently the interna

[2019-11-05 08:45] haroldrandom opened #1067 "build failed actually but Travis CI still green"
![image](https://user-images.githubusercontent.com/14357159/68191960-8d07b200-ffeb-11e9-8adf-b67b9fb717d8.png)

This [build ](https://travis-ci.org/Azure/azure-cli-extensions/builds/604795947?utm_medium=notification&utm_source=github_status) failed actually, but Travis CI gave me green still.

[2019-11-05 09:39] ishitam8 commented on #1057
@softwarecraft  , Please check the updates on the linked issue where we are tracking this - Azure/azure-devops-cli-extension#869

[2019-11-05 09:49] ishitam8 commented on #1056
@softwarecraft , Please check the updates on the linked issue where we are tracking this - Azure/azure-devops-cli-extension#870

[2019-11-05 09:59] ishitam8 commented on #1018
Hi @udossOpenValue  ,

What type of package are you trying to download ? Is it a universal package?
Since, they can't contain colon in their names.
Refer Azure/azure-devops-cli-extension#806.

If you are still facing the issue, kindly raise a bug in this repo : https://github.com/Azure/azure-devops-cli-extension/

[2019-11-05 10:04] ishitam8 commented on #1015
Please check the updates on the linked issue where we are tracking this - Azure/azure-devops-cli-extension#871

[2019-11-05 10:07] algattik opened #1069 "Create sample command invalid"
The sample command `az spring-cloud create -n MyService -g MyResourceGroup -l westus` is invalid:
- The resource name is invalid. It can contain only lowercase letters, numbers and hyphens.
- The service is not yet available in westus.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a04094f3-af8c-1d4e-ef46-c1053ef283b3

[2019-11-05 10:13] geverghe commented on #1057
Closing this issue as it is being tracked in https://github.com/Azure/azure-devops-cli-extension/issues/869 - Please follow this issue for all updates.

[2019-11-05 10:13] #1057 closed

[2019-11-05 10:15] geverghe commented on #1056
Closing this issue as it is being tracked in https://github.com/Azure/azure-devops-cli-extension/issues/870 - Please follow the issue for all updates.

[2019-11-05 10:15] #1056 closed

[2019-11-05 10:17] geverghe commented on #1053
Closing this issue as you have created an issue in our repo - https://github.com/Azure/azure-devops-cli-extension/issues/867. Please track that issue for all future updates.

[2019-11-05 10:17] #1053 closed

[2019-11-05 10:18] geverghe commented on #1015
Closing this issue as we are tracking it our repo, under https://github.com/Azure/azure-devops-cli-extension/issues/871 . Please follow the issue for all future updates.

[2019-11-05 10:18] #1015 closed

[2019-11-05 10:23] haroldrandom commented on #1069
Thanks for feedback!

[2019-11-05 10:27] geverghe commented on #1008
I think the broader issue is the experience of locating an extension and how to download. May be the azure cli team can have a look into this on whether to tackle this problem. On receiving az devops and understanding the extension is not installed, instead of az --help, may be there can be better error handling to point to learning how to add extensions or finding an extension by a particular nam

[2019-11-05 14:31] xinity opened #1070 "az aks show --resource-group {} --name {} crashed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks show
Extension Name: aks-preview. Version: 0.4.14.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks show --resource-group {

[2019-11-05 21:33] gaburn opened #1071 "'app-insights' is not in the 'az monitor' command group"
When running any 'az monitor app-insights' commands on this page I get the following error:

az monitor: 'app-insights' is not in the 'az monitor' command group. See 'az monitor --help'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 333d37d2-61e2-0184-d253-157ee236439c
* Version Independent ID: 9b0e976f-3cb5-e813-9f33

[2019-11-05 21:38] gaburn commented on #1071
It looks like you need to install the 'application-insights' extension first:
az extension add --name application-insights

Maybe these instructions could be added to the error message?

[2019-11-05 22:38] ericmitt commented on #990
az extension update --name azure-cli-iot-ext does not install anything. I'm at version 0.7.1 it is the latest.
Still have the same issue.
C:\Program Files\Microsoft SDKs\Azure\.NET SDK\v2.9>az iotcentral app monitor-events --app-id "4683e79d-1cef-446f-bec3-b17f8ab56c3f"
az iotcentral app: 'monitor-events' is not in the 'az iotcentral app' command group. See 'az iotcentral app --help'.

![image](ht

[2019-11-06 06:09] fengzhou-msft commented on #1071
@MyronFanQiu please take a look.

[2019-11-06 07:09] MyronFanQiu commented on #1071
@gaburn Thanks! We will discuss about this issue later. It's not easy to add the potential extension into the error message. But we should figure out a better error message.

[2019-11-06 07:20] Juliehzl commented on #1058
Add more infomation  https://travis-ci.org/Azure/azure-cli-extensions/jobs/606089636?utm_medium=notification&utm_source=github_status

[2019-11-06 07:31] haroldrandom commented on #1028
referenced #1067

[2019-11-06 15:00] Apholisha commented on #991
Thanks for the pointer.  Will check it out once the update is released.

and.. sorry to say so but.. I get that it makes sense form technical perspective, but not from users. Might be just me but this logic really doesn't come intuitive. Not to mention that the documentation it really misleading.
Please look at it from users logic. You ask the system a question.. and you expect an answer. Not a ha

[2019-11-06 16:08] ms-vincent commented on #990
Actually if you look at the list of latest extensions, the IoT extension is at v0.8.5.
https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensions-list?view=azure-cli-latest

If you are trying to run the extension update and nothing is happening, then you need to force the update to the latest version. I'm at the latest version myself right now so I can't test to see how to do that.

The other

[2019-11-06 16:10] ms-vincent commented on #990
The current version of the Azure CLI is **2.0.76**. Instructions for installing/updating the CLI is here:
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2019-11-06 19:05] naikajah opened #1074 "az network firewall ip-config create: cannot have more than one subnet reference"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Extension Name: azure-firewall. Version: 0.1.4.

**Command Name**
`az network firewall ip-config create --firewall-name test-fw --name poc2 --public-ip-address fw-poc2-pip --resource-group lz-uksouth-rg --vnet-name hub-vnet
`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argum

[2019-11-07 03:12] fengzhou-msft commented on #1074
@MyronFanQiu please take a look.

[2019-11-07 06:14] atbagga commented on #991
Adding @geverghe to see if we can do something about this.

The top limits are generally set for each API independently depending on factors like resource consumption, data size etc. Since limits can be altered at the backend we cannot document them in the CLI command documentation.

[2019-11-07 08:45] haroldrandom commented on #1067
Fix at https://github.com/Azure/azure-cli-extensions/pull/1075

[2019-11-07 08:45] #1067 closed

[2019-11-07 09:25] MyronFanQiu opened #1077 "az network firewall application-rule fix for potential risk"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

### Description of issue (in as much detail as possible)
Remove commands' validator
-----

[2019-11-07 09:26] MyronFanQiu commented on #1077
planned in the next sprint

[2019-11-07 10:25] haroldrandom opened #1078 "[azdev] Migrate 'verify load-all' and 'cli-linter' from azure-cli to the public azdev in Travis CI"
Currently because of [Hotfix az rewrite and storage_preview](https://github.com/Azure/azure-cli-extensions/pull/1075), Travis CI disable two azdev checks in Travis CI:

`azdev verify load-all` and `azdev cli-lint`, which installed with azure-cli/tools.

It's out of date. Need to migrate those two functionalities to [azure-cli-dev-tools](https://github.com/Azure/azure-cli-dev-tools) .

Maybe somewh

[2019-11-07 11:01] geverghe commented on #991
@Apholisha - could you point me to the documentation that is setting up the **all** project listing in list command expectation; specifically the line _"Get **all** projects in the organization that the authenticated user has access to"_

If we are setting that expectation, then yes, we need to update the text to ensure **all* is knocked off.

Further, could you tell me about your scenario? If the

[2019-11-07 15:10] Apholisha commented on #991
Hello  geverghe,
That particular line is from the API documentation: https://docs.microsoft.com/en-us/rest/api/azure/devops/core/projects/list?view=azure-devops-rest-5.0

The document that I first commented on is : https://docs.microsoft.com/en-gb/cli/azure/ext/azure-devops/devops/project?view=azure-cli-latest#ext-azure-devops-az-devops-project-list

This one doesn't say "all" explicitly, but it d

[2019-11-07 15:31] JeffBor commented on #815
@johncrim  In the new-ish Az module, there are a handful of *-AzDo* commandlets available, but it's very rudimentary.  IMHO, I'm not counting on anything significant there (yet).  For now, it's az devops as @geverghe says.  ConvertFrom-Json is your friend 😜

[2019-11-11 05:06] hisasima opened #1084 ""private-ip-address" option dose not work well."
I could use this parameter with "az network firewall ip-config create". I can not find this parameter by powershell or ARM templete. Is this parameter correct ?

https://docs.microsoft.com/en-us/powershell/module/az.network/new-azfirewall?view=azps-3.0.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a309da7-b5b4-3aa1

[2019-11-11 06:36] geverghe commented on #991
Ah I see. Looks like you can't open an issue for the API document. Let me follow up on this one internally.

Our expectation is that continuation token would help set up an understanding that a user needs to watch out for the token to evaluate if there are more results. Since this is a recent release, I will wait for some more feedback before we act on this.

As it looks like we have clarified you

[2019-11-11 06:36] #991 closed

[2019-11-11 12:30] raj550 opened #1086 "Fail to login using az devops login and a PAT"
### Extension name (the extension in question)
- az devops

### Description of issue (in as much detail as possible)
- Logging in using `az devops login` and a PAT is unsuccessful.
As a result, it fails in further steps (for example, a failure during `az artifacts universal download`)

Attempted installation via the following installation modes:
  - `az extension add devops`
  - `az extension add

[2019-11-12 02:36] fengzhou-msft commented on #1084
@MyronFanQiu please take a look.

[2019-11-12 03:17] Faheemitian commented on #1074
I am getting this error as well. Any ideas what might be going on? Our build agents are Linux based can't try the Powershell commands.

[2019-11-12 06:05] nemrism commented on #981
hi @tamirkamara
I'm closing this issue as MS support won't investigate further and finally gave me a workaround as it was impossible to perform the move via AzCLI or PS... We finally used a distributed shared image accross regions!

[2019-11-12 06:05] #981 closed

[2019-11-12 07:28] MyronFanQiu commented on #1084
@hisasima I'm not sure about powershell. If you cannot find this parameter, you can file an issue in powershell's repo. For ARM template, it should work to use privateIpAddress in the part of AzureFirewallIPConfiguration

[2019-11-12 07:54] MyronFanQiu commented on #1074
@naikajah Thanks for reporting this issue. Are you trying to create the second firewall ip-config for a firewall? I want to know the user scenario to see what I can do for you. I tested to create a ip-config for a firewall and it succeed.

[2019-11-12 08:24] timja commented on #1074
(I work with @naikajah) Yes that's what we were trying to do,

It's failing because you can only set a subnet ID on the first ip configuration

it's probably because of this line:
https://github.com/Azure/azure-cli-extensions/blob/master/src/azure-firewall/azext_firewall/custom.py#L85

the subnet is defaulted to existing, and I can't see a way to unset it through the CLI, although I can't quite se

[2019-11-12 13:58] Faheemitian commented on #1074
Same here. The first ip-config gets created without any errors. The second config throws the error. The Powershell module seems to work correctly as documented here - https://docs.microsoft.com/en-us/azure/firewall/deploy-multi-public-ip-powershell#add-a-public-ip-address-to-an-existing-firewall

[2019-11-12 17:01] hisuwh opened #1089 "front-door apis fundamentally broken"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name
front-door

### Description of issue (in as much detail as possible)
The front-door API design seems fundamentally broken in that the patterns are very inconsistent - some things have to created and passed to the methods in order to crea

[2019-11-13 01:36] MyronFanQiu commented on #1074
@Faheemitian @timja Thanks! I see. Let me check how to fix it and update the status later.

[2019-11-13 02:24] fengzhou-msft commented on #1089
@MyronFanQiu please take a look.

[2019-11-13 02:26] evanlwj opened #1092 "app-insights az cli extension seems not working properly in AzureChinaCloud (China East 2)"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
application-insights

### Description of issue (in as much detail as possible)
I have properly logged in with a certain subscription in AzureChinaCloud (China East2)
[code]
However run any az monitor app-insig

[2019-11-13 02:36] evanlwj commented on #1092
Is that possible reason with hard code "**https://api.applicationinsights.io**" in [azext_applicationinsights._client_factory](https://github.com/Azure/azure-cli-extensions/blob/f1f8f52dfe3700845212441912989e9c0d58183c/src/application-insights/azext_applicationinsights/_client_factory.py#L13).

In AzureChinaCloud, application insights endpoint suffix is **applicationinsights.azure.cn**

[2019-11-13 02:56] MyronFanQiu commented on #1089
@wurp Hello. Could you take a look at this issue?

[2019-11-13 05:18] atbagga commented on #1086
@raj550

The debug log suggests that the terminal is non-interactive.

   Getting PAT token in non-interactive mode.

You will either need to pipe in the PAT in the az devops login command or you can use environment variable to login by setting the environment variable (AZURE_DEVOPS_EXT_PAT) with PAT token.

In an interactive environment when you run az devops login you will be prompted for PAT to

[2019-11-13 05:23] atbagga commented on #1086
Looks like you might be running into the same issue as this - https://github.com/Azure/azure-devops-cli-extension/issues/878

Please add the --org param to your login command to see if that helps.

[2019-11-13 06:32] raj550 commented on #1086
@atbagga

Adding `--org` to the login command did the trick.
Thanks.

[2019-11-13 08:48] atbagga commented on #1086
This is fixed in version 0.15.0 and will be released within this week.

[2019-11-13 08:48] #1086 closed

[2019-11-13 11:30] Dagon- opened #1093 "AKS deployments failing with aks-preview 0.4.22"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
aks-preview 0.4.22
aks: 0.14.8

### Description of issue (in as much detail as possible)

We have an automated deployment for testing which pulls the latest version of aks-preview every night.

`az aks create`

[2019-11-13 14:24] hisasima commented on #1084
Could you check wheter this parameter is right or not ? I tried to use this parameter but it dose not work well. Could you check it ?

--- notifications@github.com wrote:

[2019-11-13 18:36] wurp commented on #1089
I pinged @pichandwork who is more knowledgeable about non-waf front-door CLI code.

[2019-11-13 20:43] nayanshah opened #1095 "az artifacts universal publish fails to download ArtifactTool_win10-x64_0.2.128"
### az artifacts universal publish fails to download ArtifactTool_win10-x64_0.2.128

Re-running the command attempts to download the tool again and fails midway.

## Describe the bug

**Command Name**
`az artifacts universal publish
Extension Name: azure-devops. Version: 0.10.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as

[2019-11-14 02:57] MyronFanQiu commented on #1084
@hisasima Hello. I'm not familiar with ARM template. Based on my knowledge, it should work. In the python SDK,
https://github.com/Azure/azure-sdk-for-python/blob/3e878ffbaea57bae4537fd362aacf35cc43a934b/sdk/network/azure-mgmt-network/azure/mgmt/network/v2019_09_01/models/_models.py#L2971
You can try this `privateIPAddress` again. If you still encounter problem, I can invite service team to take a

[2019-11-14 08:43] vikramaditya234 opened #1097 "Unable to copy image to another resource group"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az image copy
Extension Name: image-copy-extension. Version: 0.2.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az image copy --sour

[2019-11-15 03:30] fengzhou-msft commented on #1092
@MyronFanQiu please take a look.

[2019-11-15 05:31] MyronFanQiu commented on #1092
@alexeldeib Hello. I'm not sure. Does app-insights support AzureChinaCloud?

[2019-11-15 05:41] MyronFanQiu commented on #1092
@evanlwj Thanks for reporting this. That's maybe the root cause. Currently, for some commands like app-insights or log-analytics, the endpoint is hard coded. I have asked @alexeldeib to confirm this issue and tried to figure out a solution.

[2019-11-15 06:36] atbagga commented on #1086
New version is released with the fix.

[2019-11-18 01:56] #1078 closed

[2019-11-18 07:34] #1077 closed

[2019-11-18 07:34] MyronFanQiu commented on #1077
Need a general solution.

[2019-11-18 07:36] MyronFanQiu commented on #858
@kaushik-hemant Is this issue solved?

[2019-11-18 09:05] convergine opened #1100 "Getting error submitting commands for front-end endpoint with dots."
Good day,
We have a front-end front door endpoint which is a subdomain like  something.abc.com. There were no issues adding such front-end host through azure portal, however, when we tried executing few commands through azure cli - we get validation error stating that endpoint cannot have dots in the name:

validation error: Parameter 'frontend_endpoint_name' must conform to the following pattern:

[2019-11-18 17:48] rsethur opened #1101 "Mandatory parameter in "create amlcompute""
"remote-login-port-public-access" seems to be a mandatory parameter. Got an error executing the command (from Devops) without this - but runs when i passed "disabled"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e203eb0b-1c78-a76e-62e7-eddeeffdf0e3
* Version Independent ID: 38721d5a-59f3-24d0-3a76-fdcda10bd9c7
* Cont

[2019-11-19 02:22] fengzhou-msft commented on #1100
@MyronFanQiu please take a look.

[2019-11-19 05:02] MyronFanQiu commented on #1100
@convergine I need check the reason behind the validation process.

[2019-11-19 08:11] atbagga commented on #686
Closing this issue in favor of tracking it in the azure-devops extension repo.
Please see https://github.com/Azure/azure-devops-cli-extension/issues/830 for updates.

[2019-11-19 08:11] #686 closed

[2019-11-19 08:12] atbagga commented on #679
Closing this issue in favor of tracking it in the azure-devops extension repo.
Please see https://github.com/Azure/azure-devops-cli-extension/issues/831 for updates.

[2019-11-19 08:12] #679 closed

[2019-11-19 08:13] atbagga commented on #623
Closing this issue in favor of tracking it in the azure-devops extension repo.
Please see https://github.com/Azure/azure-devops-cli-extension/issues/832 for further updates and discussion.

[2019-11-19 08:13] #623 closed

[2019-11-19 08:13] atbagga commented on #554
Closing this issue in favor of tracking it in the azure-devops extension repo.
Please see https://github.com/Azure/azure-devops-cli-extension/issues/833 for further updates and discussions.

[2019-11-19 08:13] #554 closed

[2019-11-19 08:14] atbagga commented on #730
Closing this issue in favor of tracking it in the azure-devops extension repo.
Please see https://github.com/Azure/azure-devops-cli-extension/issues/829 for updates and discussion.

[2019-11-19 08:14] #730 closed

[2019-11-19 08:14] atbagga commented on #772
Closing this issue in favor of tracking it in the azure-devops extension repo.
Please see https://github.com/Azure/azure-devops-cli-extension/issues/828 for updates.

[2019-11-19 08:14] #772 closed

[2019-11-19 08:15] atbagga commented on #934
Closing this issue in favor of tracking it in the azure-devops extension repo.
Please see https://github.com/Azure/azure-devops-cli-extension/issues/826 for updates.

[2019-11-19 08:15] #934 closed

[2019-11-19 08:17] atbagga commented on #1018
Closing this issue as per above comment.
Please feel free to file an issue in the extension repo -  https://github.com/Azure/azure-devops-cli-extension if required.

[2019-11-19 08:17] #1018 closed

[2019-11-19 11:37] rsethur opened #1102 "Broken link"
This link is broken: https://aka.ms/azureml-create-new-aks-cluster

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e203eb0b-1c78-a76e-62e7-eddeeffdf0e3
* Version Independent ID: 38721d5a-59f3-24d0-3a76-fdcda10bd9c7
* Content: [az ml computetarget create](https://docs.microsoft.com/en-us/cli/azure/ext/azure-cli-ml/ml/com

[2019-11-21 01:37] evanlwj commented on #1092
I can confirm application insights is GA'ed in Mooncake, where is able to allow to create application insights instance.

[2019-11-21 16:27] #1093 closed

[2019-11-21 16:28] Dagon- commented on #1093
This is being dealt with here:

https://github.com/Azure/azure-cli/issues/10838#issuecomment-555925775

[2019-11-22 09:30] hisasima commented on #1084
I can not use the option. Please see bellow.

az network firewall ip-config create \

{
  "etag": "W/\"d75ba453-4799-4cc0-86ad-05c2f1b47864\"",
  "id": "/subscriptions/66bef1e6-a2cb-xxx-xxx-eaacf5ae1be3/resourceGroups/Test-FW-RG/providers/Microsoft.Network/azureFirewalls/Test-FW01/azureFirewallIpConfigurations/FW-config",
  "name": "FW-config",
  "privateIpAddress": "10.0.1.4",
  "provisioningStat

[2019-11-22 09:31] hisasima commented on #1084
$ az network firewall update \

{
  "applicationRuleCollections": [],
  "etag": "W/\"d75ba453-4799-4cc0-86ad-05c2f1b47864\"",
  "id": "/subscriptions/66bef1e6-a2cb-4f94-a009-eaacf5ae1be3/resourceGroups/Test-FW-RG/providers/Microsoft.Network/azureFirewalls/Test-FW01",
  "ipConfigurations": [
    {
      "etag": "W/\"d75ba453-4799-4cc0-86ad-05c2f1b47864\"",
      "id": "/subscriptions/66bef1e6-a2cb-

[2019-11-24 07:54] tamirkamara commented on #1097
Hi @vikramaditya234,
Can you try the latest version of the extension 0.2.2 again? If it still fails, please run it with the --debug flag and post the information here.

[2019-11-24 07:56] tamirkamara commented on #997
@rodrgeve I believe this issue is resolved with version 0.2.2 of the extension.
@zikalino please close it.

[2019-11-24 07:57] tamirkamara commented on #987
I believe this issue is resolved with version 0.2.2 of the extension.
@zikalino please close it.

[2019-11-24 07:57] tamirkamara commented on #979
I believe this issue is resolved with version 0.2.2 of the extension.
@zikalino please close it.

[2019-11-25 02:33] MyronFanQiu commented on #1084
@hisasima Sorry for my misunderstanding. I used to think the PS or ARM could not work but CLI can. I just checked the code. In the latest python sdk version, this property cannot be updated anymore.
https://github.com/Azure/azure-sdk-for-python/blob/3d7a5d92812c3393a180882a343bfecf1a9a55d2/sdk/network/azure-mgmt-network/azure/mgmt/network/v2019_09_01/models/_models_py3.py#L2964
I will invite the s

[2019-11-25 02:36] MyronFanQiu commented on #1084
@hisasima Sorry for my misunderstanding. I used to think the PS or ARM could not work but CLI can. I just checked the code. In the latest python sdk version, this property cannot be updated anymore.
https://github.com/Azure/azure-sdk-for-python/blob/3d7a5d92812c3393a180882a343bfecf1a9a55d2/sdk/network/azure-mgmt-network/azure/mgmt/network/v2019_09_01/models/_models_py3.py#L2964
I will invite the s

[2019-11-25 02:40] MyronFanQiu commented on #1084
@tejasshah7 Hello. Could you help us about this issue? We just found that `private-ip-address` has become readonly in the lastest api version. Is there any reason? Should I deprecate this argument?

[2019-11-25 14:39] alexeldeib commented on #1092
Sorry for the slow reply, I've been traveling. The URL for App Insights in AzureChinaCloud is `api.applicationinsights.azure.cn`. We also have `api.loganalytics.azure.cn` for log analytics.

@MyronFanQiu for PowerShell we added the endpoints to the equivalent of this file: https://github.com/Azure/azure-cli/blob/dev/src/azure-cli-core/azure/cli/core/cloud.py#L211-L233 should we do the same here?

[2019-11-25 14:47] alexeldeib commented on #1092
I think it would be something like this? https://github.com/Azure/azure-cli/pull/11385

[2019-11-26 02:23] MyronFanQiu commented on #1092
@alexeldeib Thanks. I will take a look in this sprint.

[2019-11-26 10:08] atbagga commented on #1095
@nayanshah  Copied the issue to azure-devops extension repo. Please follow the above linked issue for updates.

I will be closing this one since it is easier to track it in the extension repo.

[2019-11-26 10:08] #1095 closed

[2019-11-26 19:14] Rakatashii commented on #606
az: 'az' is not in the 'az' command group. See 'az --help'.

[2019-11-27 08:43] RobCoPKC opened #1118 "Approve/disapprove release via Azure CLI?"
Hey,

we're using a release pipeline in which we manually approve/disapprove a release to production after checking that integration deployment was successful/unsuccessful.
We also have a blind backend developer who needs to be able to do that without using the GUI. Is there any way to perform this via Azure CLI?

Cheers,
Robin

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-11-27 12:46] JakubW88 opened #1119 "Export IoT Device with Authorization Keys"
Hi,
I want to use this script "az iot hub device-identity export --bcu --hub-name  --ik {false, true}] [--resource-group] "
but I don't know what it is exactly mean.
It's mean that when will be exporting all iot device with device authorization keys to file then these keys will be remove in iot hub and moved to Storage ? Or they will be just only do cloned ?

---
#### Document Details

⚠ *Do not e

[2019-11-27 19:56] ashamrai opened #1120 "'az boards query' supports only flat queries"
'az boards query' supports only flat queries. The tree and direct links are not supported. However, there is no any information on docs or command output. The command returns an empty answer for wiql with links.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d535510f-f15c-3c79-c44d-34b7742a1544
* Version Independent ID

[2019-11-28 17:05] ggorman commented on #979
I'm still having this problem. Running on the azure portal bash shell. Just installed image-copy-externsion.
[code]
I cannot find any documentation on how specify a specific version of an extension.

[2019-11-28 17:28] ggorman opened #1123 "No documentation on how to install specific version of an extension."
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
Any (specifically experienced for image-copy-extension)

### Description of issue (in as much detail as possible)

Some issue responses advise using a specific version number of an extension (eg #979). However

[2019-11-29 08:27] haroldrandom commented on #1123
As far as I know, currently, extensions don't have the ability to install by specific version.

[2019-11-29 08:36] ggorman commented on #979
@tamirkamara @zikalino - it seems premature to close this. I notice that image-copy-extension 0.2.2 has not yet been merged due to failing travis errors

https://github.com/Azure/azure-cli-extensions/pull/1108

[2019-11-29 16:29] ggorman commented on #1123
The following command at least allows one to use the pre-release version of an extension. Good when a patch is required.
`pip install --upgrade --target ~/.azure/cliextensions/image-copy-extension "git+https://github.com/Azure/azure-cli-extensions.git#subdirectory=src/image-copy&egg=image-copy-extension"`

[2019-11-29 16:31] ggorman commented on #979
Upgraded to prelease of extension using
`pip install --upgrade --target ~/.azure/cliextensions/image-copy-extension "git+https://github.com/Azure/azure-cli-extensions.git#subdirectory=src/image-copy&egg=image-copy-extension"`
Now getting the error:
`output: ERROR: Required parameter 'storageAccountId' is missing (null).`

[2019-11-29 17:14] unicrus opened #1126 "No module named 'azure.mgmt.containerservice.v2019_08_01'"
### **az aks nodepool list fails**

## The command `az aks nodepool list` fails with the error

**Command Name**
`az aks nodepool list`

**Errors:**
[code]

## To Reproduce:
- `az aks nodepool list --resource-group {} --cluster-name {}`

## Expected Behavior
The command must list node pools in the cluster

## Environment Summary
[code]
## Additional Context

[2019-11-29 17:25] unicrus commented on #1126
Fixed by updating Azure CLI to the latest version 2.0.77.

[2019-11-29 17:25] #1126 closed

[2019-11-29 18:29] palma21 commented on #943
???

[2019-12-01 07:02] algattik opened #1127 "az ml computetarget create aks --load-balancer-subnet"
### Extension name (the extension in question)

ml

### Description of issue (in as much detail as possible)

When using `az ml computetarget create aks --load-balancer-type InternalLoadBalancer`, the subnet is hardcoded to `aks-subnet`.
The REST API now supports a `loadBalancerSubnet` property to use a different name. We should add a command line parameter to set this value.

[2019-12-01 19:44] SuperKogito commented on #1102
I think you can avoid broken links using an action I recently wrote [URLs-checker](https://github.com/marketplace/actions/urls-checker) .This action will check and report broken links. Alternatively, you can use [URL Cheker](https://github.com/marketplace/actions/url-checker).

[2019-12-02 03:37] haroldrandom commented on #1058
release branch has more stable features but dev has more advantages and easily fix and quickly move on.

Remain dev as discussion offline.

Feel free to reopn if any further question.  :)

[2019-12-02 03:37] #1058 closed

[2019-12-02 05:24] atbagga commented on #1120
@ashamrai I am opening a new issue in the azure-devops extension repo for better  tracking. Please follow the linked issue for further updates.

Closing this issue in favor of tracking it in the specific extension repo.

[2019-12-02 05:24] #1120 closed

[2019-12-02 17:25] jlian commented on #1119
https://docs.microsoft.com/azure/iot-hub/iot-hub-bulk-identity-mgmt#export-devices

The keys will not be removed from your IoT Hub, they will be copied to a .txt file

[2019-12-02 22:52] jluk commented on #943
@tndinh200292 it looks like you're trying to register the preview extension, which is not the same as an AKS add-on.

Follow instructions here to install the CLI extension for aks-preview.
https://github.com/Azure/azure-cli-extensions/tree/master/src/aks-preview

[2019-12-02 22:52] #943 closed

[2019-12-03 12:41] vivekdhami opened #1128 "How to create a release folder?"
The above documentation does not specify how to create a release folder i.e. a folder for release definitions. The above command creates a folder under pipelines in preview mode and under builds in the non-preview mode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f9eb636-76a6-f5c1-d75c-a995611711f1
* Version Indepe

[2019-12-06 01:01] kingalech opened #1132 "az aks commands failing with the version aks extension 0.4.23"
### aks-preview version 0.4.23

### az aks commands failing with the version aks extension 0.4.23

## To Reproduce:
- Download latest version of aks-preview extension. In my case it was 0.4.23
- Run any az aks command and notice that the command fails with the following error:

No module named 'azure.mgmt.containerservice.v2019_08_01'
Traceback (most recent call last):
python3.7/site-packages/knac

[2019-12-06 06:36] kingalech commented on #1132
Got it resolved. Please refer to https://github.com/Azure/azure-cli/issues/11484

[2019-12-06 06:36] #1132 closed

[2019-12-06 08:29] MyronFanQiu commented on #1100
@convergine Hello. I checked the usage again. `--name` should be the name of endpoint instead of the `host-name`. You should use `az network front-door frontend-endpoint create` to create a endpoint and then enable the https for it.

[2019-12-08 19:15] greendx opened #1135 "attempting to copy image from east us to west india"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az image copy
Extension Name: image-copy-extension. Version: 0.2.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az image copy --sour

[2019-12-08 20:18] tamirkamara commented on #1135
@greendx can you run the command with the --debug flag and post the output so I could see where the detailed error?

[2019-12-09 01:28] haroldrandom commented on #1135
@qwordy Please take a look

[2019-12-09 01:40] #1071 closed

[2019-12-09 06:41] basyar02 opened #1136 "What are the License values for Basic & Basic + Test Plans (Azure DevOps)"
Based on the documentation for adding user here : https://docs.microsoft.com/en-us/cli/azure/ext/azure-devops/devops/user?view=azure-cli-latest#ext-azure-devops-az-devops-user-add

The only accepted values being mentioned there are :
--license-type
accepted values: advanced, earlyAdopter, express, professional, stakeholder

My Question is, what value should I put for 1) Basic and 2) Basic + Test P

[2019-12-10 13:43] GeeWee opened #1139 "AKS Create error when trying to attach acr and using aks-preview"
## Describe the bug
When running the command below, an error is simply returned. Turning the `aks-preview` extension off makes the command work as expected.

**Command Name**
`az aks create
Extension Name: aks-preview. Version: 0.4.24.`

**Errors:**
`az aks create: error: 'Namespace' object has no attribute 'detach_acr'`

## To Reproduce:
Steps to reproduce the behavior. Note that argument values

[2019-12-10 16:34] haroldrandom opened #1140 "[CI] Move jobs in Travis to Azure DevOps"
Moves:
1.  SourceStatic
    - [x] run pylint on extension source code ( https://github.com/Azure/azure-cli-extensions/pull/1133 )
    - [x] run flake8 on extension source code ( https://github.com/Azure/azure-cli-extensions/pull/1156 )
    - [x] run pylint on CI scripts  ( https://github.com/Azure/azure-cli-extensions/pull/1156 )
    - [x] run flake8 on CI scripts  ( https://github.com/Azure/azure

[2019-12-10 17:14] haroldrandom opened #1141 "[CI] pylint upgrade to 2.3.0 and flake8 to latest along with azdev"
1. Currently, the pylint azure-cli-extensions is using is 1.9.0, which is behind azdev's pylint==2.3.0. Many features can not enable.
2. Currently, the flake8 azure-cli-extensions is using is 3.5.0. flake8~=3.7.0 starts to recognize feature on Python>=3.5: [Support for type hints ](https://docs.python.org/zh-cn/3/library/typing.html). Which currently used in **_src/resource-graph/azext_resourcegra

[2019-12-10 17:23] jluk commented on #1139
@sauryadas can you take a look at this?

[2019-12-10 18:06] sauryadas commented on #1139
Correct. This command is not available in the CLI extension. It is only a part of the core CLI

[2019-12-10 19:50] jluk commented on #1139
Closing this ticket in favor of the AKS driven one opened here given they are the same issue. https://github.com/Azure/AKS/issues/1349

[2019-12-10 19:50] #1139 closed

[2019-12-11 00:30] jlian commented on #1119
I assume this answers your question? Please open again if not

[2019-12-11 00:30] #1119 closed

[2019-12-11 02:50] MyronFanQiu commented on #1100
@convergine Hello. I think it's a usage question. If you don't have more question, I will close this issue in this week. 😄

[2019-12-11 02:58] xieofxie opened #1144 "Feature request: could use file for variables when `az pipelines variable-group create`"
Or add batch mode/use file for `az pipelines variable-group variable create`
Sometimes there are too many variables(generated by script) which makes the command line longer than limit (https://support.microsoft.com/en-us/help/830473/command-prompt-cmd-exe-command-line-string-limitation)
Thanks~

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-12-11 04:05] xieofxie opened #1145 "Feature request: return old value for `az pipelines variable-group variable update`?"
Thanks~

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b3c226e-dc10-db12-601c-e1502f5768ab
* Version Independent ID: 111beb11-a3ab-b288-7fcf-52b3944ad449
* Content: [az pipelines variable-group variable](https://docs.microsoft.com/en-us/cli/azure/ext/azure-devops/pipelines/variable-group/variable?view=azure-cli-latest

[2019-12-11 06:34] #1074 closed

[2019-12-11 12:49] porrascarlos802018 opened #1146 "End user friendly clarification required for az aks get credentials command."
About --admin parameter it does work but a complex configuration has to be followed step by step to have it working. Basically if AD /RBAC has been configured properly the --admin will give you administrator access only if the integration with AD was done and configured correctly.
see:
https://docs.microsoft.com/en-us/azure/aks/azure-ad-rbac

---
#### Document Details

⚠ *Do not edit this section.

[2019-12-11 13:26] convergine commented on #1100
@MyronFanQiu I don't. Please close it.
Thank you

[2019-12-11 13:26] #1100 closed

[2019-12-11 18:37] geNAZt opened #1147 "aks create fails with 'Namespace' object has no attribute 'detach_acr'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I updated my azure CLI from .68 to .77 to enable managed identities on AKS. After that i tried to vcreate a new AKS and it failed with the error below

**Command Name**
`az aks create
Extension Name: aks-preview. Version: 0.4.24.`

**Errors:**
az aks create: error: 'Namespace' object has no attribute 'detach_ac

[2019-12-12 04:40] MyronFanQiu commented on #1092
@evanlwj Hi. We have merged the corresponding PR to add endpoint in ChinaCloud. It will be released in the next week. Could you please install new azure-cli version and have a try?

[2019-12-12 07:18] fengzhou-msft commented on #1027
Close due to inactivity. Feel free to reopen the issue if it still exists.

[2019-12-12 07:18] #1027 closed

[2019-12-12 08:20] yonzhan opened #1150 "Triage label test"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

### Description of issue (in as much detail as possible)

-----

[2019-12-12 08:20] #1150 closed

[2019-12-12 13:38] stan-sz commented on #1092
I have verified this with the latest Edge builds and the issue still reproes. Evan suggested that this might be because of the hardcoded endpoint in https://github.com/Azure/azure-cli-extensions/blob/f1f8f52dfe3700845212441912989e9c0d58183c/src/application-insights/azext_applicationinsights/_client_factory.py#L13

 that is not leveraging the changes in https://github.com/Azure/azure-cli/pull/11385

[2019-12-12 20:04] imabedalghafer commented on #1097
Hi @tamirkamara
I have been able to reproduce the issue with the latest version of the extension 0.2.2
I am using the cloud shell on the portal
below is the versions
![image](https://user-images.githubusercontent.com/52040217/70743188-ee781a80-1d27-11ea-902e-81d24991533e.png)

I am not able to attach the debug logs as it is too much , would you please specify which section of the debug logs is nee

[2019-12-13 08:53] haroldrandom commented on #915
Have you try the latest azure-cli/ auzre-cli-extension? This could be changed.

Looking forward to your reply.

[2019-12-13 08:55] haroldrandom commented on #890
@fengzhou-msft Please take a look

[2019-12-13 09:04] haroldrandom commented on #900
@MyronFanQiu Please take a look

[2019-12-13 09:06] haroldrandom commented on #909
@Juliehzl Please take a look

[2019-12-13 09:12] arrownj commented on #979
@ggorman I think the original copy image issue is already fixed in 0.2.2. And the new image-copy-extension version has already been released. You can use `az extension update` to upgrade it.

[2019-12-13 13:20] tamirkamara commented on #1097
I've confirmed that it is something with the changes in version 2.0.77 of the cli, and not the extension directly. Are you able to downgrade to version 76 until I could provide a fix?
@imabedalghafer @vikramaditya234

[2019-12-13 13:30] imabedalghafer commented on #1097
Hi @tamirkamara

Thank you for your confirmation.
I have been looking at the code and on the file "azext_imagecopy/create_target.py"
I think (please let me know if I am getting it incorrectly)  a new variable to get the storage account id that is created and then pass it to create the snapshot. as in below example :

 json_output = run_cli_command(cli_cmd, return_as_json=True)
 target_blob_endpoin

[2019-12-13 18:01] rachel-msft commented on #942
Thank you for your feedback @duncanjw.

Adding @yugangw-msft @achandmsft to review.

[2019-12-13 18:01] rachel-msft commented on #941
Thank you for your feedback @duncanjw.

Adding @yugangw-msft @achandmsft to review.

[2019-12-13 18:16] jluk commented on #927
Closing this issue for user feedback requested on 9/23. As Jorge mentioned we have support for the vm-set-type now in both core and extension which supports choosing vmss/vmas.

[2019-12-13 18:16] #927 closed

[2019-12-13 19:50] jluk commented on #908
@crgarcia12 I'm confused by your version of aks-preview given our latest is 0.4.24. https://github.com/Azure/azure-cli-extensions/blob/master/src/aks-preview/HISTORY.md

Are you using a local client or cloud shell?

Could you try updating your core cli version while we're here to 2.0.77?

[2019-12-14 07:44] yonzhan commented on #1141
add to S164.

[2019-12-15 04:18] yonzhan commented on #1084
@tejasshah7 any update?

[2019-12-16 01:49] MyronFanQiu commented on #900
@stewartadam Hello. This issue should be fixed now. Please uninstall the extension by `az extension remote -n azure-firewall` and install it again `az extension add -n azure-firewall`.

[2019-12-16 10:00] evertonmc opened #1154 "How to set daily cap?"
is there a cli command or param for this? https://github.com/Azure/azure-rest-api-specs/blob/master/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/componentFeaturesAndPricing_API.json#L37

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 333d37d2-61e2-0184-d253-157ee236439c
* Versi

[2019-12-16 12:55] ivd-git opened #1155 "Missing information on policy file format"
Missing information on what the policy file format should be when using the following command with --config or --policy-configuration:

https://docs.microsoft.com/en-us/cli/azure/ext/azure-devops/repos/policy?view=azure-cli-latest#ext-azure-devops-az-repos-policy-create

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82

[2019-12-17 00:29] jluk commented on #912
@asc-adean assuming you are using VMSS, the manual scaling will abide by the below best efforts. We will be updating our AKS documentation to discuss this a bit and include some of this info for help, thanks for the report.

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-faq#if-i-reduce-my-scale-set-capacity-from-20-to-15-which-vms-are-removed

[2019-12-17 00:29] #912 closed

[2019-12-17 02:27] haroldrandom commented on #1154
@MyronFanQiu Please take a look

[2019-12-17 02:32] haroldrandom commented on #356
Hi, I am currently working on it.

I encounter the same situation as you. I can repro those on my machine. And this is not relative to Pytrhon version.

Currently we are migrating from Travis to ADO. ADO's behavior alongs with my local machine.
I think this can be close once migration is done.

[2019-12-17 08:49] MyronFanQiu commented on #1154
@evertonmc Looks like we don't have these commands right now. We can put it into our planning.

[2019-12-18 17:28] JonShelley opened #1158 "It looks like the documentation may be out of date for volume creation"
This is the error that I receive when trying to create a volume. It is asking for --file-path but I don't see that as an option in the documentation above. After further review it looks like --creation-token was replaced with --file-path

az netappfiles volume create: error: the following arguments are required: --file-path
usage: az netappfiles volume create [-h] [--verbose] [--debug]

[2019-12-18 18:47] bradcavanagh-ffs opened #1159 "Add ability to edit Front Door routing rules"
It is currently possible to create and delete Front Door routing rules via the az cli. I would like to be able to disable caching on a routing rule after it has been created, but to do that would require deleting the routing rule and then re-creating it with caching turned off.

The rationalization for this is that I am creating the Front Door routing rules using Terraform, which does not currentl

[2019-12-19 01:45] MyronFanQiu commented on #1159
@bradcavanagh-ffs Hello. There is a argument `--caching` in the `az network front-door routing-rule create` command which you can set to `Disabled`. But we cannot update an existed command. You should delete the old one and create a new one.

[2019-12-19 01:46] MyronFanQiu commented on #1159
@bradcavanagh-ffs There might be a tricky solution. 😄  You can try to create an existing routing rule. It should be able to update it.

[2019-12-19 02:08] MyronFanQiu commented on #1158
@JonShelley Hello. I'm not sure whether this issue could be noticed by correct person. Since the label is not shown automatically. Could you please open a same issue in https://github.com/Azure/azure-cli/issues ?

[2019-12-19 03:40] haroldrandom commented on #356
This job has been migrated from Travis to ADO.
https://github.com/Azure/azure-cli-extensions/pull/1133
https://github.com/Azure/azure-cli-extensions/pull/1156

Closed as no need.

[2019-12-19 03:40] #356 closed

[2019-12-19 23:05] wasker commented on #940
Same problem. Session affinity can't be set up with `az network front-door create` command.

[2019-12-20 05:32] jonathanclarke commented on #979
This is still an ongoing issue:
azure-cli                         2.0.78

Extensions:
image-copy-extension               0.2.2
 output: ERROR: Required parameter 'storageAccountId' is missing (null).

[2019-12-20 07:23] tamirkamara commented on #979
@jonathanclarke your issue isn't like the original one opened in this issue.
please see https://github.com/Azure/azure-cli-extensions/issues/1097 (hint, use cli version 76)

@zikalino can we close this issue please?

[2019-12-20 14:02] stan-sz commented on #1092
Apart from the above comment about hardcoded app insights, there's also one hard coded: https://github.com/Azure/azure-cli-extensions/blob/cf7cebdbf68cedca9b6bb5c7625d87bc8da819f5/src/application-insights/azext_applicationinsights/vendored_sdks/mgmt_applicationinsights/application_insights_management_client.py#L48

The latter one is the one we are hitting in the repro steps.

[2019-12-21 00:37] palma21 commented on #1146
Please open tickets on our official CLI
https://github.com/Azure/azure-cli

Is this a CLI ask or a Documentation ask?
I'll schedule something to be added to the doc below to clarify that point
https://docs.microsoft.com/en-us/azure/aks/control-kubeconfig-access

[2019-12-21 00:37] #1146 closed

[2019-12-23 01:40] MyronFanQiu commented on #1092
@stan-sz Hello. This one should be overwritten if you set the base_url by `az cloud update`. I will get a test sub and test it again. 😄

[2019-12-25 10:36] yonzhan commented on #366
image triaged.

[2019-12-25 10:40] yonzhan commented on #350
add to S165.

[2019-12-25 10:42] yonzhan commented on #393
add feature request.

[2019-12-25 10:43] yonzhan commented on #267
issue triaged.

[2019-12-25 10:44] #242 closed

[2019-12-25 10:45] jiasli commented on #359
Hi @abhinav12, if you are a Microsoft employee, please reach me on Teams to furtherly discuss this issue.

I noticed https://apps.dev.microsoft.com/ is deprecated. Meanwhile, could you use Service Principal and see if that solves the issue? https://docs.microsoft.com/en-us/cli/azure/create-an-azure-service-principal-azure-cli?view=azure-cli-latest

[2019-12-25 10:45] #241 closed

[2019-12-25 10:48] yonzhan commented on #396
add feature request.

[2019-12-25 10:49] yonzhan commented on #397
add feature request.

[2019-12-25 10:49] yonzhan commented on #398
add feature request.

[2019-12-25 10:50] yonzhan commented on #149
issue triaged.

[2019-12-25 10:51] yonzhan commented on #399
add feature request.

[2019-12-25 10:51] yonzhan commented on #140
add to S165.

[2019-12-25 10:53] yonzhan commented on #136
add to S165.

[2019-12-25 10:54] yonzhan commented on #400
add feature request.

[2019-12-25 10:54] yonzhan commented on #401
add feature request.

[2019-12-25 10:55] yonzhan commented on #402
add feature request.

[2019-12-25 10:55] yonzhan commented on #403
add feature request.

[2019-12-25 10:55] yonzhan commented on #64
add to S165.

[2019-12-25 10:57] yonzhan commented on #404
add feature request.

[2019-12-25 10:57] yonzhan commented on #405
add feature request.

[2019-12-25 10:58] yonzhan commented on #406
add feature request.

[2019-12-25 10:58] yonzhan commented on #407
add feature request.

[2019-12-25 10:58] yonzhan commented on #408
add feature request.

[2019-12-25 10:58] yonzhan commented on #409
add feature request.

[2019-12-25 10:59] yonzhan commented on #411
add feature request.

[2019-12-25 10:59] yonzhan commented on #412
add feature request.

[2019-12-25 10:59] yonzhan commented on #413
add feature request.

[2019-12-25 10:59] yonzhan commented on #414
add feature request.

[2019-12-25 11:00] yonzhan commented on #415
add feature request.

[2019-12-25 11:00] yonzhan commented on #410
add feature request.

[2019-12-25 11:02] #350 closed

[2019-12-25 11:02] #24 closed

[2019-12-27 09:33] ishitam8 commented on #1136
Hi @basyar02 ,

You can use following license types:
Basic- > express
Basic + Test Plans -> advanced

Let me know if you face any issues.

[2019-12-28 20:36] stan-sz commented on #1092
Not necessarily. In these two places below the `ApplicationInsightsManagementClient` is initiated without the `base_url` so the default (public cloud base url) is used in the `__init__`:

https://github.com/Azure/azure-cli-extensions/blob/1148304a67206e71d1ebc37f24cac5a0700356b2/src/application-insights/azext_applicationinsights/_client_factory.py#L27-L35

[2019-12-30 05:43] MyronFanQiu commented on #1084
@tejasshah7 Hello. Could you share some information with us?

[2019-12-30 19:27] tejasshah7 commented on #1084
@yonzhan and @MyronFanQiu I apologize for the delay. I was on vacation and just returned back.
- What API version s being used here?
- Also what is the use case to even set this field?

[2019-12-30 21:37] adrianwyatt commented on #1147
Repros even without --enable-managed-identity

### Command
`az aks create --resource-group myrg --name myaks--generate-ssh-keys --attach-acr myacr`

### Environment Summary
[code]

[2019-12-30 21:41] palma21 commented on #1147
@sauryadas for ACR property on the extension.

[2019-12-30 22:09] sauryadas commented on #1147
@norshtein is working on this

[2019-12-31 02:01] MyronFanQiu commented on #1084
@tejasshah7 Thanks. Waiting for your confirmation.

[2019-12-31 17:10] annerajb opened #1168 "The add command throws an error when used on an existing created virtual hub."
Sample command:
az network vhub route add -g rg-Hub --vhub-name east-us-hub --address-prefixes "32.0.0.0/3" "64.0.0.0/2" "128.0.0.0/3" "160.0.0.0/5" "160.0.0.0/7" "170.0.0.0/8" "171.0.0.0/12" "172.32.0.0/11" "172.64.0.0/10" "172.128.0.0/9" "173.0.0.0/8" "174.0.0.0/7" "176.0.0.0/4" "192.0.0.0/9" "192.128.0.0/11" "192.160.0.0/13" "193.0.0.0/8" "194.0.0.0/7" "196.0.0.0/6" "200.0.0.0/5" "224.0.0.0/3"

[2019-12-31 17:17] annerajb opened #1169 "Commands seem to be modifying a different Routing table than the AZ Portal."
When you go into a virtual hub routing information the routes and tables shown there are different from the ones shown and returned by this command.
az network vhub route-table list

This tables don't seem to affect the branches or the Vnets they are attached too.
Is this a preview command for future functionality that is not yet implemented in the portal?

---
#### Document Details

⚠ *Do not edi

[2020-01-02 02:07] bim-msft commented on #1168
@MyronFanQiu Please take a look.

[2020-01-02 02:08] bim-msft commented on #1169
@MyronFanQiu Please take a look.

[2020-01-02 02:18] MyronFanQiu commented on #1168
@annerajb Hello. Can you run this command with `--debug` and paste the log? Can you describe your scenario?

[2020-01-02 02:22] MyronFanQiu commented on #1169
@annerajb Hello. currently, routes and route-table are different commands right now. Based on my knowledge, it should call route-v2. I'm not sure about the portal. @dedhar Could you please take a look at this issue and answer the question?

[2020-01-02 08:24] qwordy commented on #1135
Did you delete the disk? You need to keep it. A image stores the reference of disk(s).

[2020-01-02 10:38] tamirkamara commented on #1135
This is likely the same as https://github.com/Azure/azure-cli-extensions/issues/1097
Please try version 76 of azure cli until a proper fix will be available for the extension.

[2020-01-02 16:53] annerajb commented on #1168
Sure here is the debug version.
it seems that if the point to site gateway is already provisioned it cannot modify the routes for it.

[code]

[2020-01-03 02:04] MyronFanQiu commented on #1159
@bradcavanagh-ffs Hello. Do you have more questions?

[2020-01-03 02:05] MyronFanQiu commented on #1168
@dedhar Hello. Looks like it's a server limitation. Could you take a look at this issue?

[2020-01-03 21:57] adiun opened #1175 "New error with 'az ml model deploy' in 1.0.81"
### Extension name (the extension in question)

    "extensionType": "whl",
    "name": "azure-cli-ml",
    "version": "1.0.81"

### Description of issue (in as much detail as possible)

When running the following model deployment command, with `azure-cli-ml` 1.0.81 this is now throwing an error. This did not throw an error in `azure-cli-ml` 1.0.79.

`az ml model deploy -n quote-clf --inference-co

[2020-01-04 21:29] dariuszSki opened #1176 "az network vhub connection create with --no-wait generates unexpected error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network vhub connection create
Extension Name: virtual-wan. Version: 0.1.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az networ

[2020-01-05 18:39] greendx commented on #1135
Hi - The error message posted here was auto generated prompting me to post it here. I was trying to make a copy of the image via the cloud shell in azure portal. At this point I don't remember exactly what instructions I was following to attempt to make a copy and ended up copying my image via shared image gallery.

[2020-01-06 01:30] bim-msft commented on #1176
@MyronFanQiu Please take a look.

[2020-01-06 02:03] yonzhan commented on #1176
add to S165.

[2020-01-06 03:09] qwordy commented on #890
I've opened a PR to fix this issue. It will fixed soon.
https://github.com/Azure/azure-cli-extensions/pull/1172

[2020-01-06 14:35] qwordy commented on #1097
I opened a PR to fix it.  https://github.com/Azure/azure-cli-extensions/pull/1172
I find that your implementation is more elegant.

[2020-01-06 18:24] bradcavanagh-ffs commented on #1159
Only an ETA for when I might be able to have an explicit 'edit' or 'modify' command. 'create' should really only be used to create a routing rule, in my opinion.

[2020-01-06 21:45] imabedalghafer commented on #1097
Hi @qwordy ,

Thank you so much for the update, would you please let me know if there is an ETA when this fix will be released ?

Thank you
Ibrahim Abedalghafer

[2020-01-07 02:12] nofunatall opened #1179 "List Virtual Directories in a Given Container"
### Extension name (the extension in question)
storage-preview

### Description of issue (in as much detail as possible)
Is it possible to list all the directories in a given blob container?

I can see alot of commands around 'az storage blob directory' but none of those commands would provide the ability to list all the folders within a container.

[2020-01-07 08:39] bim-msft commented on #1179
@Juliehzl Please take a look.

[2020-01-08 03:25] qwordy commented on #1097
The patch is in review now. Within one week by my estimation.

[2020-01-08 09:52] elangelo commented on #1147
any updates on this? I don't even know how to work around the issue?

[2020-01-08 10:52] palma21 commented on #1147
the attach command (GA) is not on the extension CLI where the msi command is (PREVIEW), we will pull it to the extension CLI.

If you want you can create the cluster with MSI with the extension and them manually give permissions to ACR.

When the rollout finishes we will publish it here.

[2020-01-08 10:57] palma21 commented on #1147
In the meantime you can create the cluster normally with MSI and give permissions to ACR for the Managed Identity manually afterwards. What the attach-acr is doing is just creating an acr-pull role assignment to that identity.

We will publish when this is rolled out on the extension as well.

[2020-01-08 16:30] VaclavK opened #1182 "tried and failed, escaping quot. marks"
Installed application-insights               0.1.1

tried to run basic queries e.g.
C:\Windows\System32&gt;az monitor app-insights query --app tooling  --analytics-query 'exceptions'

but getting an error that does not provide much direction

PathNotFoundError - The requested path does not exist

the actual query I wanted to run was something like

"exceptions
| where problemId == "Newtonsoft.Json

[2020-01-09 02:27] yonzhan commented on #1182
add to S165.

[2020-01-09 02:43] jsntcy commented on #1182
@MyronFanQiu , please help take a look.

[2020-01-09 03:28] MyronFanQiu commented on #1182
@VaclavK Hello. Which terminal are you using? Could you try this one? It should work in Powershell.
[code]

[2020-01-09 05:36] haroldrandom opened #1184 "[CI] Remove files that related to .travis.yaml"
As follow-up of https://github.com/Azure/azure-cli-extensions/issues/1140

[2020-01-09 09:37] VaclavK commented on #1182
@MyronFanQiu thanks for this.. I tried powershell initially but due to the runtime failure would not see the result so could not verify

eentually ran it with --debug (why did I not do that in the first place..) and decyphered the message.. I was passing pure name of the AI instance - not fully qualified - so the message (PathNotFoundError - The requested path does not exist) turned out to be from

[2020-01-09 12:52] hplatou opened #1187 "aks create fails when not specifying --node-osdisk-diskencryptionset-id"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### aks-preview 0.4.26

### aks create fails when not specifying `--node-osdisk-diskencryptionset-id`

`az aks create -g $RG -n $XXX --node-count 1 --generate-ssh-keys`

fails with error:

[2020-01-09 15:23] venture27 commented on #1187
I am also experiencing this problem. Updated az cli to latest 2.0.79 but it had no effect.

My scripts have not changed since December, at which time all commands worked fine to create my cluster.

[2020-01-09 20:15] sinelshchikov commented on #1187
As a workaround I rolled back to the previous version:
[code]

[2020-01-10 00:48] rodrigc commented on #1187
@sinelshchikov I ran into this too, but I'm using this:

[code]

and this:

[code]

Do you know what version of the azure-cli-extension has this problem?

[2020-01-10 15:01] sinelshchikov commented on #1187
@rodrigc , can you check it with 0.4.25 version?

[2020-01-10 18:16] jluk commented on #1187
FYI @sauryadas / @feiskyer

[2020-01-10 18:46] sauryadas commented on #1187
@andyzhangx can you please take a look?

[2020-01-10 21:35] rodrigc commented on #1187
@sinelshchikov I just confirmed, `0.4.25` works for me, `0.4.26` fails for me.

[2020-01-11 03:25] andyzhangx commented on #1187
looks like this error msg came from azure-cli-extension(since if I use armclient it works well):
[code]

To workaround this issue, just remove `aks-preview` or use `0.4.25` directly.
[code]

Still figuring out where this error came from, @zikalino @zqingqing1 @qwordy @arrownj do you have any idea? how can I skip 'properties.diskEncryptionSetID' check in  azure-cli-extension?

[2020-01-11 03:35] andyzhangx commented on #1187
Just found the root cause, just one line of code change, will fix it ASAP.

[2020-01-11 04:04] andyzhangx commented on #1187
fixed by https://github.com/Azure/azure-cli-extensions/pull/1192

[2020-01-13 08:08] hplatou commented on #1187
I can confirm that this fixes the problem for me. Thanks!

[2020-01-13 16:46] jluk commented on #1187
Thank you @andyzhangx - closing.

[2020-01-13 16:46] #1187 closed

[2020-01-13 16:50] rsethur commented on #1175
@adiun: I ran into the same error. As a intermediate fix use the yml format for inference config - it worked for me. Attaching template.

[2020-01-14 10:41] dhilgarth commented on #1147
Can you please communicate the workaround as a series of commands instead of prose?

So, what commands do we have to execute instead of `az aks create --resource-group myrg --name myaks--generate-ssh-keys --attach-acr myacr`?

[2020-01-14 19:30] gfilicetti commented on #1147
@dhilgarth You basically can't use --attach-acr when creating the cluster.

So run your az aks create command without that option, and then run:

`az aks update -n myCluster -g myRG --attach-acr myregistryname`

[2020-01-14 21:09] sauryadas commented on #1147
@feiskyer Can you please help prioritize this?

@dhilgarth  if you can remove the extension it should work

[2020-01-15 01:13] feiskyer commented on #1147
The option is broken by some new changes, @norshtein is working on a fix.

/assign @norshtein

[2020-01-15 02:23] #1063 closed

[2020-01-15 13:45] alecor191 commented on #1147
I followed instructions from @gfilicetti (create cluster, then `az aks update`), but unfortunately I still get the following error when trying to deploy containers:

[code]

I created the cluster with `--enable-managed-identity`. The `az aks update` command also completed successfully.

Anything I'm missing?

[2020-01-17 01:42] hannesne opened #1207 "How do I link a variable group programmatically to keyvault?"
I can do it through the Azure Portal, but I can't figure out how to do it using the cli. I would expect the create and update commands here to enable me to do it by specifying a keyvault name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba39ac35-94ff-5cda-dede-4834d174ee4c
* Version Independent ID: 93f1ab7d-610b-0fc

[2020-01-17 02:17] #1092 closed

[2020-01-17 11:31] AlexChongMicrosoft opened #1210 "Hi, I find an issue in this page."
With a lot of testing in both Windows/Linux, I find an issue in the update command.
It's necessary using ' replace " to envelop the token. Please have a check.

az devops security permission update  --allow-bit 7 --namespace-id            52d39943-cb85-4d7f-8fa8-c6baac873819 --subject user@fabrikam.com            --token '$PROJECT:vstfs:///Classification/TeamProject/e479xxxx-2be8-xxxx-bb0b-3a0209c

[2020-01-19 22:51] hihorika opened #1213 "There is no such a command in Azure CLI"
It should be `az webapp create-remote-connection`

I checked about v2.0.78 (cloud shell) and v2.0.80 (local PC).

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 04a67a6a-b2b8-ed24-bb78-e9773fef6d86
* Version Independent ID: beeae428-5c77-4501-0ab5-a7301971f058
* Content: [az webapp remote-connection](https://docs.microsoft.com/ja-jp/cli/azure/ext/weba

[2020-01-19 22:54] hihorika commented on #1213
According to this discussion, it was renamed to `create-remote-connection`, but it isn't reflected to the document.

[2020-01-20 03:16] qwordy commented on #1135
image-copy 0.2.3 is released. It should fix this issue.
Azure/azure-cli-extensions#1211

[2020-01-20 09:40] FrancescElies opened #1216 "[feature request] [az artifacts universal publish] exlude files"
### Issue
When I publish a package via `az artifacts universal publish` I would like to have the option of filtering out certain files.

Maybe something like `--exclude <regex>`, e.g.:

    az artifacts universal publish --organization "https://myorg.com/" --feed "myfeed" --name "mypackage" --version 0.0.1  --path . --exclude "*.trash"

Would you find this useful?

[2020-01-20 09:54] FrancescElies commented on #1216
Closing in favor of https://github.com/Azure/azure-devops-cli-extension/issues/940

[2020-01-20 09:54] #1216 closed

[2020-01-21 08:49] ishitam8 commented on #1210
Hi @AlexChongMicrosoft ,

I am not sure what is the issue that you are facing.
Could you please give some more details,

Double quotes (") would be required if user is running commands in Powershell.
So, the single quotes vs double quotes is not specific to this command or Azure DevOps CLI, it's a general inconsistency observed across CLIs.

[2020-01-21 08:56] AlexChongMicrosoft commented on #1210
@ishitam8 Thank you for your attention. Actually, I worked with a customer for a long time on this issue. When using double quotes "", the string "$PROJECT:vstfs:///Classification/TeamProject/e479xxxx-2be8-xxxx-bb0b-3a0209cxxxx" would not be detected correctly. But when using single quotes, '$PROJECT:vstfs:///Classification/TeamProject/e479xxxx-2be8-xxxx-bb0b-3a0209cxxxx', it will be considered as

[2020-01-21 09:07] ishitam8 commented on #1210
Sorry for the typo. I meant, **Single quotes** (') would be required if user is running commands in Powershell.

So, this is specific to powershell, since the command contains a dollar sign and we want to pass the dollar sign as a string, the required string needs to be wrapped around in single quotes.

Usually dollar signs are associated with variables and Powershell would try to resolve these, b

[2020-01-21 09:39] AlexChongMicrosoft commented on #1210
@ishitam8 really appreciate your explanation. It makes sense.

Actually, with you explanation, I can understand its meaning. But for some of our users, when they follow this doc and use double quotes " in Linux, there is no notification of $ variable. It's what exactly makes them confused. And after a lot of testing, we found it should be a single quote here in both Linux bash and windows powershe

[2020-01-21 09:49] ishitam8 commented on #1210
Thanks @AlexChongMicrosoft  , for the detailed explanation of why it would be common for linux users to get confused here.

@geverghe  , Do we need to change the doc to include single quotes.?
Which in -turn will create issues for the users who are working on Windows command prompt.
Can we have any guidelines related to this in our docs or help texts?

[2020-01-21 10:10] Isarien commented on #1207
Hi all,
Same problème here. I am able to create secret in azure vaul with az CLI . But I am unable to find the option to link azure vault and the variables group.

[2020-01-22 22:32] mcopik opened #1221 "Missing customDimensions output for requests query in app-insights"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor app-insights events show
Extension Name: application-insights. Version: 0.1.2.`

**Errors:**

When running with event type `requests` and application ID corresponding to my function app, I get correct requests but `customDimensions` field always contains only `additionalProperties`

[2020-01-22 22:51] isaacrlevin opened #1222 "[X-Post from azure-cli] az commands can trigger 429 / "too many requests" failures and provides no recourse for recovery."
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
az aks preview

### Description of issue (in as much detail as possible)
https://github.com/Azure/azure-cli/issues/11891
-----

[2020-01-23 08:17] dduleep opened #1223 "Duleep"
`az pipelines variable-group variable create --group-id` in not clear what is --group-id and how its usecase in group variable.

---
#### Detalji dokumenta

⚠ *Ne uređujte ovu sekciju. Ona je neophodna za povezivanje problema slijedom docs.microsoft.com ➟ GitHub.*

* ID: fc3b2e1e-81e2-75fa-12f2-dc742bac7301
* Version Independent ID: 5ea78738-cbcb-139c-1ce0-7cfbb42c3a08
* Content: [az pipelines var

[2020-01-23 14:26] danebou opened #1224 "What does `--squash` do?"
`--squash` doesn't appear to do anything. I would expect it to automatically update the merge type to squash commit just before completing the PR (when the complete PR button is pressed in the DevOps PR view)., but this doesn't appear to be the case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3324c35b-f381-8db4-b16

[2020-01-24 13:35] djsowa opened #1225 "Missing example of referencing secret from KeyVault"
Hi.

Do You have any example of adding reference to KeyVault using CLI ?

M.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb3ec9f2-e5cd-d79e-ebd7-8d726f3d90df
* Version Independent ID: 287f4d1d-00c5-1686-8aa4-e198ff196a05
* Content: [az appconfig kv](https://docs.microsoft.com/en-us/cli/azure/ext/appconfig/appconfig/

[2020-01-25 02:38] MyronFanQiu commented on #1225
https://github.com/Azure/azure-cli/issues/new/choose @djsowa Hello. Could you open an issue in our main repo? `az appconfig` is not an extension.

[2020-01-25 02:39] MyronFanQiu commented on #1225
@bim-msft Hello. Sorry I cannot find the label for appconfig in this repo. Add you as assignee for short.

[2020-01-25 02:39] MyronFanQiu commented on #1225
@djsowa I cannot add correct label and assign the corresponding people in this repo.

[2020-01-25 20:16] jluk commented on #1222
This is not specific to the cli extension, please avoid duplicating issues on purpose it will not help resolution faster. The AKS team is aware of the service throttles and the CLI team has already been pinged on the other issue. Closing this as duplicate.

[2020-01-25 20:16] #1222 closed

[2020-01-26 13:40] frehnejc opened #1226 "Unable to create multiple rules under a single collection."
There doesn't seem to be functionality to create multiple rules under a single collection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a90f7721-6e37-012e-a118-277d5c113f65
* Version Independent ID: c89a7d07-fc9d-748c-d562-2ec9f0295e15
* Content: [az network firewall network-rule](https://docs.microsoft.com/en-us/cli

[2020-01-26 22:38] NoNameProvided opened #1227 "suggestion: add hint on pages about extension command to install extension"
When coming from Google search result there is no indication on the pages describing extension commands about the installation requirement. So when a user tries to run the commands the CLI will throw a command not found error.

[code]

The CLI error itself advises to check if the command is part of an extension or not, but since I was browsing the same site I browse for the regular commands I  tho

[2020-01-27 02:58] fengzhou-msft commented on #1226
@MyronFanQiu please take a look.

[2020-01-27 09:03] eleasysoft opened #1228 "Great, it worked also for me:"
Great, it worked also for me:
[code]

_Originally posted by @24mu13 in https://github.com/Azure/azure-cli-extensions/issues/554#issuecomment-500433135_

[2020-01-27 09:03] #1228 closed

[2020-01-27 09:04] eleasysoft commented on #1228
Created by mistake, to be deleted

[2020-01-27 22:32] rachel-msft commented on #1227
Hi @NoNameProvided. Thank you. We'll review your feedback and get back.

[2020-01-29 08:08] Jyoti492 opened #1230 "Error: Before you can run Azure DevOps commands, you need to run the login command"
## Extension name (the extension in question)
azure-devops

### Description of issue (in as much detail as possible)
Even If I am setting the PAT token as env variable as below. I am facing an error that the pipeline asks to login.

Pipeline :
- bash:
  displayName: 'Set PAT token as env variable'
  env:
    AZURE_DEVOPS_EXT_PAT: $(pat_token)

- task: AzureCLI@1
  displayName: 'Create Docker Regis

[2020-01-29 18:19] gogowings commented on #1175
We have located the root cause and are working on releasing a fix.

[2020-01-29 18:23] gogowings commented on #1175
A related comment: the bug is only applicable in the deployment which doesn't use Azure Machine Learning Environment. We encourage the usage of Environment based deployment which is faster and more reliable.

[2020-01-29 18:24] gogowings commented on #1175
@adiun, in your case, using extraDockerfileSteps in InferenceConfig file makes the deployment goes to the non-Environment route. You can consider switch to Environment base deployment documented at: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-use-environments#enable-docker

[2020-01-30 11:01] ChrisGibson1982 opened #1232 "Broken Link"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
Azure DevOps Extension

### Description of issue (in as much detail as possible)
There is a broken link on the page (https://docs.microsoft.com/en-us/cli/azure/ext/azure-devops/devops?view=azure-cli-latest )

[2020-01-30 11:02] ChrisGibson1982 commented on #1232
the link has rendered fine here, but not the original page

![image](https://user-images.githubusercontent.com/13312806/73444181-f9c2ec00-434f-11ea-96de-48efc8b6270d.png)

[2020-01-30 11:26] ashamrai commented on #1224
That`s not in the merge logic of PRs ([Review code with pull requests](https://docs.microsoft.com/en-us/azure/devops/repos/git/pull-requests?view=azure-devops)). If you want use the squash merge type, you can [Enforce a merge strategy](https://docs.microsoft.com/en-us/azure/devops/repos/git/branch-policies?view=azure-devops#enforce-a-merge-strategy) in the branch policies. Additionally, we can use

[2020-01-30 12:47] ashamrai opened #1233 "There is no option to create a pull request from a forked repository"
It is general situation when we have to create a new pull request from a forked repo. However, no any keys (like `--source-repo` or `--forked-repo`) are present in the `pr create` command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3324c35b-f381-8db4-b168-6f73e20c1f3e
* Version Independent ID: 7a3e8656-7741-8365-e5

[2020-01-30 14:01] djsowa commented on #1225
This is how to add KeyVault reference in App Config:
`az appconfig kv set -n APP_CONFIG_NAME --key KEY_NAME --label LABEL_VALUE --value '{ uri = "https://KEY_VAULT_URL/SecretName\SECRET_VERSION" }' --yes --content-type "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8"`

[2020-01-30 14:14] despian opened #1234 "`front-door backend-pool backend remove` negative indexes allowed/mishandled"
### Extension name (the extension in question)

front-door

### Description of issue (in as much detail as possible)

Negative integers passed to the `--index` parameter of the `front-door backend-pool backend remove` command are permitted and remove the element `length - index - 1`

This could be quite bad since I guess a common use case would be to use `indexOf` to get an index and that returns

[2020-01-30 14:16] yonzhan commented on #1234
add to S165.

[2020-01-31 20:17] lzredes opened #1236 "Error: az aks get-credentials"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials
Extension Name: aks-preview. Version: 0.4.27.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credenti

[2020-02-01 10:17] yonzhan commented on #1084
@tejasshah7  any update for this issue? Can we close it?

[2020-02-01 18:37] jluk commented on #1236
@lzredes I'm not able to reproduce this with the same preview ext and latest CLI build. Could you please try upgrading the CLI version and re-running the get-creds cmd?

[2020-02-03 13:14] lzredes commented on #1236
Hi, jluk

## Describe the bug

**Command Name**
`az aks get-credentials
Extension Name: aks-preview. Version: 0.4.27.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {}`

## Expected Behavior

[2020-02-04 17:44] tejasshah7 commented on #1084
@yonzhan  I apologize for the delay. I will get to you on this by EOD.

[2020-02-04 17:47] tejasshah7 commented on #1084
@yonzhan I confirmed that this field is not needed and can be removed from Az CLI as well.

[2020-02-04 18:25] gtracer opened #1244 "Azdev publish extension error"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
Aks-preview

### Description of issue (in as much detail as possible)

##Attempting to use azdev to publish a new extension via the command:

`azdev extension publish aks-preview --storage-account mysa --stora

[2020-02-04 20:25] dnj55 opened #1245 "az hack failure creating App Service plan"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Running az hack as details below resulting in the following successful output:
`Creating resource group...`
`Starting creation of Cognitive Services keys...`
`Starting website creation job...`

Hack then fail on the next step:
`Creating free App Service plan named free_app_service_plan...`

**Command Name**
`az

[2020-02-04 21:20] trclancy commented on #468
Same issue here, can't figure out how to set IoT Edge Device to True/False programmatically or through the az cli.

[2020-02-04 23:23] adiun commented on #1175
@rsethur Thanks!
@gogowings Thanks for the updates and the tip about using extraDockerFileSteps. I received this guidance separately as well re. deployment performance so will definitely look into switching to that.

[2020-02-04 23:37] yonzhan commented on #1244
@haroldrandom please take a look at this.

[2020-02-05 00:38] gtracer commented on #1244
@haroldrandom I will be online for another 1.5 hours - do you have a moment to look at this together?

[2020-02-05 02:09] MyronFanQiu commented on #1084
@tejasshah7 good to know. @hisasima Hello. The service team has confirmed that this field is not needed. I will deprecate this argument later.

[2020-02-05 02:10] hisasima commented on #1084
Thank you for your support. I understand.

[2020-02-05 02:39] haroldrandom commented on #1244
@gtracer My alias is jianhui. Feel free to ping me at Teams.

[2020-02-05 03:47] haroldrandom commented on #1244
@gtracer You may encounter a problem that don't have priviledge to upload. We could help you to do it if you have made sure you command's style, linter and PR is merge.
I will help you upload and update index.json

[2020-02-05 03:53] haroldrandom commented on #1244
Another guess is based on what you gave above,
[code]

Basically, I guess is there already a wheel file with same name in you conntainer?

[2020-02-05 08:41] qwordy opened #1247 "Support new RP Alertsmanagement"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
Alertsmanagement

### Description of issue (in as much detail as possible)
Please support new RP Alertsmanagement in Azure CLI

-----

[2020-02-05 08:51] yungezz commented on #1247
moved to main repo, close this one.

[2020-02-05 08:51] #1247 closed

[2020-02-05 11:42] atbagga commented on #1136
Closing the issue since it has been inactive for long. Please feel free to raise a new on [here ](https://github.com/Azure/azure-devops-cli-extension/issues)if you have any issues.

[2020-02-05 11:42] #1136 closed

[2020-02-05 11:46] atbagga commented on #1155
Documentation is auto updated from the code. Seems like the documentation is not updated according to the latest code.

If you run ```az repos policy create -h```  you will get the link to documentation on the file structure.
Pasting the link here for your quick reference - https://aka.ms/azure-devops-cli-docs-policy-file

I will take care of following up on the documentation update.
If you have a