[2020-02-05 11:46] #1155 closed

[2020-02-05 11:53] atbagga commented on #1223
--group-id --> Id of the variable group.
If you list variable groups ```az pipelines variable-group list``` you will get all the variable groups with the ids. The command ```az pipelines variable-group variable create --group-id``` will then require the group id as input to add a variable in that variable group.

@dduleep  Can you elaborate on the issue or share any suggestions to the help text yo

[2020-02-05 11:57] atbagga commented on #1224
@ashamrai  Thanks for chipping in.
@danebou  Hope that helps.. Also do keep in mind the known [issue](https://github.com/Azure/azure-devops-cli-extension/issues/546) in the command.

[2020-02-05 12:03] atbagga commented on #1232
@yonzhan That doesn't look like a extension related issue. It is an issue with the help text generation I think.

Can you edit the labels appropriately to get the required teams attention.

[2020-02-05 12:06] atbagga commented on #1233
@ashamrai This is already in the backlog - https://github.com/Azure/azure-devops-cli-extension/issues/743. Do vote for the issue there to get it prioritized sooner.

You can also checkout the invoke command and write a small utility script to use the rest api in the meanwhile to achieve this from CLI.

[2020-02-05 12:06] #1233 closed

[2020-02-05 12:22] atbagga commented on #1230
Your bash task is not setting up the env variable persistently. It is an independent task and when you set the env variable in yaml like that it only gives access to the env variable to that individual task.

You can add the env variable declaration to the AzureCLI task and that should work.
[code]

For alternate way to do it.. checkout [this ](https://docs.microsoft.com/en-us/azure/devops/cli/azu

[2020-02-05 12:25] atbagga commented on #1224
If you still have some concern, please raise an issue [here](https://github.com/Azure/azure-devops-cli-extension/issues).

[2020-02-05 12:25] #1224 closed

[2020-02-05 17:10] gtracer commented on #1244
@haroldrandom I have owner privilege on the sub and container and have previously had no problem pushing so although it is a good hypothesis, unfortunately I don't think it is the case here

Re: an existing whl. Looking at the code in that file it does seem to be that way but it doesn't seem to line up with these signals:
a) In the past whenever I push a whl with the same version # it just overrid

[2020-02-05 18:21] kylecweeks commented on #585
Please remove this page, or reference to the correct cli https://docs.microsoft.com/en-us/cli/azure/account/management-group?view=azure-cli-latest  -- this caused much confusion.

[2020-02-05 18:29] KarenHammons commented on #1084
This option will be removed from the Azure CLI.  Thank you for bringing this to our attention!

[2020-02-05 18:29] #1084 closed

[2020-02-05 19:47] grizzljt opened #1248 "How do you specify that an Enrollment Group is for IoT Edge devices?"
In the GUI, there is a toggle to specify that the group is for IoT Edge devices.  How can that be toggled through the Az CLI ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44a3283c-e190-c2a7-fc50-41d9ba6a8d2e
* Version Independent ID: 473e67d0-b090-c5c2-285c-7c194b3af844
* Content: [az iot dps enrollment-group](https

[2020-02-05 20:19] terry-citrix opened #1249 "Error "Unable to load extension 'dev-spaces-preview'" with version 2.0.81"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
dev-spaces-preview

### Description of issue (in as much detail as possible)

When I run just about any command other than "--version" I get the following error message:

`Unable to load extension 'dev-spaces-

[2020-02-05 21:51] lopezbertoni opened #1250 "Typo in Documentation"
### Description of issue (in as much detail as possible)

The delete command's description says Create instead of delete.

az monitor app-insights component delete | Create a new Application Insights resource.

-----

[2020-02-06 02:10] arrownj commented on #1249
Hi @fengzhou-msft , could you please help with this ?

[2020-02-06 02:11] arrownj commented on #1250
Hi @MyronFanQiu , could you please take a took at this ?

[2020-02-06 02:13] arrownj commented on #1248
@grizzljt , Thanks for reporting, we are looking at it.

[2020-02-06 02:30] arrownj commented on #1245
@dnj55 , thanks for reporting, we are looking at it.

[2020-02-06 03:12] yonzhan commented on #1232
@atbagga thanks. We will contact doc team to take a look at this issue.

[2020-02-06 03:56] yonzhan commented on #1250
add to S166.

[2020-02-06 04:04] jiasli commented on #585
Thank all for the findings. I will remove this extension from this repo.

[2020-02-06 04:07] haroldrandom commented on #1244
Thanks for the feedback.

For a),

We didn't make changes on this part.

For c), `azdev extension publish` is bugy, it has many unreasonable checks which is hard to reproduce.

As a workaround and you have owner priviledge on this container,
  1. I suggest you upload wheel file manually via `azdev extension build` to build wheel file locally, and upload to your container.
  2. Update index.json vi

[2020-02-06 05:47] atbagga commented on #1230
@Jyoti492 The above comment should help resolve the issue. If you still face an issue feel free to file new one [here](https://github.com/Azure/azure-devops-cli-extension/issues) for quicker turn around.

[2020-02-06 05:47] #1230 closed

[2020-02-06 12:51] djsowa commented on #1225
Can be closed. Documentation updated with latest command for KeyVault secret referencing.

[2020-02-06 12:51] #1225 closed

[2020-02-06 15:59] ConnorDickson commented on #982
Any update on this?

[2020-02-06 20:53] gtracer commented on #1244
@haroldrandom thanks - building, uploading and updating the index separately worked. Appreciate the guidance.

[2020-02-06 20:53] #1244 closed

[2020-02-06 21:04] mitch-b opened #1253 "Documentation Clarity Request"
It seems the documentation of the `--path` attribute has an Example. However, the Example is simply a value that isn't clear: `ProjectNameAreaAreaName`. If I try a similar request on my own Project, I get a failure that it isn't an absolute path. However, comparing my project to the documentation is nearly impossible to do.

Can additional clarity be added such that it's called out:

Or is that al

[2020-02-06 21:52] johngraumann commented on #940
Are there any updates on getting this one fixed? Having the same issue.

[2020-02-07 01:29] arrownj commented on #1253
Hi @haroldrandom , could you please help take a look at this ?

[2020-02-07 02:27] KanikaGMS opened #1254 "Issues of image-copy: can't find command; update help"
I had faced 2 issues in running this on my cli
1. The copy parameter is not available even after upgrade. I checked command "az image --help":
Group
    az image : Manage custom virtual machine images.

Commands:
    create : Create a custom Virtual Machine Image from managed disks or snapshots.
    delete : Deletes an Image.
    list   : List custom VM images.
    show   : Gets an image.

2. Plea

[2020-02-07 02:47] yonzhan commented on #1253
add to S166.

[2020-02-07 07:09] yungezz commented on #1254
thanks for reporting the issue. we'll investigate it.

[2020-02-07 09:07] #585 closed

[2020-02-07 16:29] mitch-b commented on #1253
FWIW, my latest understanding is just updating the example to say:

Maybe the issue was from escaped characters when building the documentation?

[2020-02-07 19:43] aeghbal1 opened #1256 "Description is not exportable currently"
Seems like the description is currently not exportable.  Can you please include the description as well?
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb3ec9f2-e5cd-d79e-ebd7-8d726f3d90df
* Version Independent ID: 287f4d1d-00c5-1686-8aa4-e198ff196a05
* Content: [az appconfig kv](https://docs.microsoft.com/en-u

[2020-02-07 20:36] mitch-b commented on #1253
This also impacts Iteration path documentation.

[2020-02-07 20:54] ShawnMcGough opened #1257 "storage blob directory list fails when using --num-results"
**Command Name**
`az storage blob directory list
Extension Name: storage-preview. Version: 0.2.10.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob directory list -c {} -d {} --account-name {} --num-results {}`

## Expected Beha

[2020-02-07 21:33] ShawnMcGough commented on #1257
After investigation, this is a result of the following line:
https://github.com/Azure/azure-cli-extensions/blob/3e79944b0de8e8677f626065a0e203ba8a1ebdc8/src/storage-preview/azext_storage_preview/vendored_sdks/azure_adls_storage_preview/v2019_02_02_preview/common/models.py#L87

should be cast to an int:
`            max_results = int(self._list_kwargs.get('max_results'))`

[2020-02-08 03:20] yungezz commented on #1256
HI @shenmuxiaosen could you pls help to look? Thanks.

[2020-02-09 05:46] shenmuxiaosen commented on #1256
Are we trying to generate doc for App Configuration CLI? If so, I am wondering should be based on the official CLI repo https://github.com/Azure/azure-cli instead of the CLI extension? As we don't ship extension any more and we have already merged to main CLI.

[2020-02-09 08:10] yonzhan commented on #1256
Maybe we can close this one and create a new issue in azure-cli main repo?

[2020-02-09 18:42] prfinnie opened #1653 "'az hack create' Issue encountered running lab @ https://github.com/microsoft/Reactors/tree/master/AI_1"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az hack create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az hack create --name {} --runtime {} --location {} -a{} --output {}`

##

[2020-02-10 01:53] yungezz commented on #1256
@shenmuxiaosen @yonzhan  it's ok for me to move the issue to CLI main repo, as long as context there.

[2020-02-10 01:58] yonzhan commented on #1256
@aeghbal1 could you please help close this issue and create a similar on in CLI main repo?

[2020-02-10 16:22] grizzljt commented on #1248
When I trace the API via Fiddler, I see the following:
POST: https://main.iothub.ext.azure.com/api/dataPlane/put
[code]

But I have not found a way to replicate that via az cli.  Is this possible?

[2020-02-11 20:36] tscully49 opened #1260 "aks-preview future plans"
### Extension name (the extension in question)

aks-preview

### Description of the issue (in as much detail as possible)

Moreso a question of if there are plans for this extension to be out of preview.  We had to install this extension to create aks clusters with a custom nodeResourceGroup name.  We are a little hesitant to be using a CLI extension that is in preview and wanted to know if there

[2020-02-12 01:31] arrownj commented on #1260
@tscully49 , thanks for reporting, we are looking at this.

[2020-02-12 05:14] TopperKain opened #1266 "--query not working with azure devops work item fields"
## Describe the bug
I am attempting to use a JMESPATH filter to bring back just the work item ids and work item titles related to a given Azure DevOps PR. I am able to get the work item ids, but not the title.

The query I am trying to run is `[*].[id, fields."System.Title"]` which, with the appropiate powershell escapes is:
[code]

Note- if I just return "fields" in the query, System.Title is def

[2020-02-12 07:07] #1135 closed

[2020-02-12 13:08] phmzum opened #1268 "Error on update azurefunction subscription on eventgrid"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
eventgrid

### Description of issue (in as much detail as possible)

when executed the command bellow to update an azurefunction subscription

`az eventgrid event-subscription update --name $name --source-reso

[2020-02-12 14:28] arrownj commented on #1268
@phmzum , thanks for reporting, we are looking at it.

[2020-02-12 16:09] Tyriar opened #1269 "az monitor app-insights component show --subscription is choosing a different subscription"
### Extension name (the extension in question)

application-insights

### Description of issue (in as much detail as possible)

When I run this:

[code]

It returns results for a completely different subscription. I can give more details about the subscriptions in question if you reach out on Teams.

This is blocking me from using the extension to pull the instrumentation key via the CLI.

[2020-02-12 17:27] iatodoro opened #1270 "Firewall management IP configuration should only be created while creating a new firewall"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
Network (firewall)

### Description of issue (in as much detail as possible)
Currently the only way to attach a Management IP Configuration appears to be with this workflow:
az network firewall create
az netwo

[2020-02-13 02:07] arrownj commented on #1269
Hi @MyronFanQiu , could you please help take a look at it ?

[2020-02-13 02:08] arrownj commented on #1270
Hi @MyronFanQiu , could you please help take a look at it?

[2020-02-13 02:43] yonzhan commented on #1269
add to S166.

[2020-02-13 02:46] yonzhan commented on #1270
add to S165.

[2020-02-13 03:18] arrownj commented on #1266
Hi @gauravsaralMs , could you please help with this devops issue ?

[2020-02-13 15:26] bsletten opened #1271 "The hack is not completing the key creation process"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az hack create
Extension Name: hack. Version: 0.4.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az hack create --name {} --runtime

[2020-02-14 00:02] ahamad-MS commented on #1268
Thanks @phmzum for reporting this issue. We would need additional information to understand this issue:

1. What is the extension version you are using?

Please provide the output of this command:
Azure:~$ az extension list

If version is not 0.4.4, please make sure to delete any installed extension and install new one.

The output should look like this.
[
  {
    "extensionType": "whl",
    "name

[2020-02-14 07:50] MyronFanQiu commented on #276
close it since it has been removed.

[2020-02-14 07:50] #276 closed

[2020-02-14 08:10] timmkrause opened #1273 "More agent and pool verbs (?)"
What do you think about adding the following commands?
Is it worth the effort?

`az pipelines agent delete --pool-id --agent-id`
`az pipelines agent enable --pool-id --agent-id`
`az pipelines agent disable --pool-id --agent-id`
`az pipelines pool delete --pool-id`
`az pipelines pool create --name`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-02-14 09:24] arrownj commented on #1271
Hi @GeekTrainer , could you please help take a look at this ?

[2020-02-14 09:25] arrownj commented on #1245
Hi @GeekTrainer , could you please hele take a look at this ?

[2020-02-14 09:32] arrownj commented on #1273
Hi @gauravsaralMs , could you please help take a look at this ?

[2020-02-14 10:18] aodj opened #1274 "Logging in with service principal?"
I'm attempting to use the azure-devops extension to download universal artifacts. This works with my personal account, but when I attempt to use a service principal I've created for scripting purposes, it fails to log in.

When attempting to download after logging in (with az login) I get the error message:

[code]

However, if I attempt to subsequently log in with (with az devops login) I get pro

[2020-02-14 15:24] aodj commented on #1274
Ah, after some further research I see that service principals simply don't work with Azure DevOps at all ([link to GitHub issue](https://github.com/Azure/azure-devops-cli-extension/issues/905)).

[2020-02-14 16:10] phmzum commented on #1268
1. the output was exatly this look. (version 0.4.4)

2. the previous type is azure function (when the original event subscription is webhook works ok)
i trying change the param --included-event-types

this is the only command that i'm running, previous code is only to set variables values.
bellow sample of the variables contents (subscriptions guid replaced by empty guid and specific names replace

[2020-02-14 17:53] wasker opened #1275 "az network front-door routing-rule create --caching is not supported"
Parameter --caching is documented, but not supported: `az: error: unrecognized arguments: --caching Enabled`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc41d7b5-ab21-fe9b-2f2e-93ac02e5af86
* Version Independent ID: 67398425-8b96-f515-72af-22255ea1ae49
* Content: [az network front-door routing-rule](https://docs.mic

[2020-02-14 17:54] wasker opened #1276 "az network front-door routing-rule create --backend-pool is mandatory"
Parameter --backend-pool is documented as optional, but it is mandatory: `BadRequest - Property 'FrontdoorEntity.RoutingRules[1].Properties.RouteConfiguration.BackendPool' is required but it was not set` is the error, if argument was not supplied.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc41d7b5-ab21-fe9b-2f2e-9

[2020-02-14 19:37] gitsathish opened #1277 "spaces in foldername, storage-preview extension issue"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
storage-preview

### Description of issue (in as much detail as possible)
az storage blob directory move
is not able to handle foldernames with spaces in them. enclosing with single or double quotes does not h

[2020-02-15 04:05] yungezz commented on #1274
thanks for reporting the issue, we'll have a look

[2020-02-15 04:05] yungezz commented on #1275
HI @MyronFanQiu  could you pls have a look? thanks.

[2020-02-15 04:05] yungezz commented on #1276
HI @MyronFanQiu  could you pls have a look? thanks.

[2020-02-15 04:06] yungezz commented on #1277
HI @Juliehzl  could you pls have a look? thanks.

[2020-02-15 04:10] yonzhan commented on #1276
add to S167.

[2020-02-15 04:11] yonzhan commented on #1275
add to S167.

[2020-02-15 04:11] yonzhan commented on #1277
add to S167.

[2020-02-15 09:35] #1270 closed

[2020-02-15 20:57] GeekTrainer commented on #1245
@dnj55 - Thanks for reporting this! Please upgrade to the current version and it'll resolve your problem

[2020-02-15 20:58] GeekTrainer commented on #1245
@arrownj Please feel free to close

[2020-02-15 21:02] GeekTrainer commented on #1271
Examining this now. Thanks for reporting @bsletten

[2020-02-16 07:43] mydiemho opened #1279 "Workitem description field format is not consistent between `show` & `create`"
I ran the `show` command to retrieve some existing work items from one organization that I wanted to clone to a different organization.

The `show` command give me a json response with the `description` field with data that contains html style.  When I set those same value as the description in the `create` command, nothing is display in the UI, but I can see the description field has those value

[2020-02-17 01:50] arrownj commented on #1274
Hi @gauravsaralMs , could you please help with this ?

[2020-02-17 01:51] arrownj commented on #1279
Hi @gauravsaralMs , could you please help with this ?

[2020-02-17 04:28] gauravsaralMs commented on #1279
@ishitam8 : can you please help with this?
@arrownj : I am not actively working on devops CLI part.

[2020-02-17 09:43] aeghbal1 commented on #1256
Can you please send me the link where I need to

[2020-02-17 09:43] #1256 closed

[2020-02-17 09:43] aeghbal1 commented on #1256
another issue is created for this:
https://github.com/Azure/azure-cli/issues/12238

[2020-02-17 10:51] wi5nia opened #1282 "Add iteration - what is --id"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
az boards

### Description of issue (in as much detail as possible)
I try to add an iteration with this command https://docs.microsoft.com/en-us/cli/azure/ext/azure-devops/boards/iteration/team?view=azure-cli-

[2020-02-18 01:21] arrownj commented on #1282
Hi @ishitam8 , could you please help with this ?

[2020-02-18 01:24] feiskyer commented on #1147
@alecor191 the issue is being fixed by https://github.com/Azure/azure-cli-extensions/pull/1217

[2020-02-18 06:13] ishitam8 commented on #1282
Hi,

You need to pass **identifier** [and not the ID] of the iteration as id in "boards iteration team add" command.

You can fetch the identifier of iteration you need from project iteration commands
`az boards iteration project list -p <YOUR_PROJECT_NAME> --org <ORG_URL> `

[2020-02-18 09:19] MyronFanQiu commented on #858
closed this issue since no update. Feel free to open a new one  if you still encounter such issue.

[2020-02-18 09:19] #858 closed

[2020-02-18 09:29] MyronFanQiu commented on #1176
@dariuszSki Hello. This is a bug. We will fix this later.

[2020-02-18 15:56] algattik opened #1284 "run configuration file must be in the .azureml/ or /aml_config/ dir"
[code]
"In a sub-folder" is not specific. Actually the file must be in the .azureml/ or /aml_config/ subdirectory (see https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.runconfiguration?view=azure-ml-py#load-path--name-none-). Also "without extension" should be deleted.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-02-18 16:14] algattik opened #1285 "az ml run submit-script does not load run config from source directory"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

ml

### Description of issue (in as much detail as possible)

When running this command line:
[code]

the config is not loaded from mydir/aml_config/myconf

The cause is obvious in the extension source code:

[2020-02-18 17:47] mydiemho opened #1286 "No "basic" license type"
I wanted to add users with "basic" license type but there's no such option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c84e9b38-b9da-f69f-c9d7-b0c1a1e8683a
* Version Independent ID: bfd383ce-2ee6-64ec-8ff6-a4e8c88fd516
* Content: [az devops user](https://docs.microsoft.com/en-us/cli/azure/ext/azure-devops/devops/us

[2020-02-18 20:32] ahamad-MS commented on #1268
Thanks @phmzum for the additional info. I am able to repro the issue and identify the root cause. We will working on a fix now and will be available soon.

If you are blocked, you can either delete the event subscription and re-create it again or try to call create again with same values..

please let me know if you have any other issues.

[2020-02-18 20:41] downtown527 opened #1287 "Adding AAD Group to Azure DevOps group"
I have an AAD security group that I am trying to add to a built-in project group 'Build Administrators' using cli commands:
az devops security group create --origin-id '{Object ID}' --groups 'vssgp.DescriptorForBuildAdmins'

I am properly getting the AAD object id in the form (xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx) and the descriptor in the form (vssgp.ReallyLongID), but am receiving the error:
VS8

[2020-02-18 20:55] downtown527 commented on #1287
I found my answer in the devops cli repo issues: https://github.com/Azure/azure-devops-cli-extension/issues/667

[2020-02-18 20:55] #1287 closed

[2020-02-18 22:48] algattik opened #1289 "`az ml folder attach` uses the AML SDK from the environment"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

ml

### Description of issue (in as much detail as possible)
`az ml folder attach` uses the AML SDK from the environment rather than the one bundled in the extension.

This can be demonstrating by blocking th

[2020-02-19 12:53] fengzhou-msft commented on #1123
@ggorman Currently we don't have production support for installing previous extension version. But you can install through `--source` option. image-copy-extension is a good example since it's published on [pypi](https://pypi.org/project/image-copy-extension/#history). You can get the download link for any previous versions on pypi. Then run `az extension add --source https://download/link/to/speci

[2020-02-19 14:51] oulasvirta opened #1294 "az boards iteration project create path parameter example"
Currently parameter has exmple of: ProjectNameIterationIterationName. Please give more detailed example what is the syntax here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1193c19c-ea84-5cd9-9efd-3d4baebb20cf
* Version Independent ID: 359fe52c-2d60-b6ba-492e-5eea79b0a74a
* Content: [az boards iteration project](htt

[2020-02-19 15:01] oulasvirta commented on #1294
Here is example of working syntax:

az boards iteration project create --name "S01" `
--start-date "2020-01-01" `
--finish-date "2020-01-14" `
--path "\MyProject\Iteration\ParentIterarionPath" `
--org $org `
--project $project`

There needs to be always hardcoded path part ...\Iteration\... between your Azure DevOps project name and the parent iteration.

[2020-02-19 16:14] jdickson289 commented on #872
+1 on updating the document according to Diego
The document does not mention how to install the vm repair scripts: "az extension add -n vm-repair"

It would be also interesting to add a more detailed description on what the script automates:

Stops the problem VM.
Takes a snapshot of the problem VM's OS disk.
Creates a new temporary VM ("rescue VM") on a new Resource Group.
Attaches the problem VM

[2020-02-19 19:46] phmzum commented on #1268
thanks @ahamad-MS, i'm already using this workaround for now, but please let me know when the fix is published.

no other issues detected!

[2020-02-19 21:22] mydiemho commented on #1279
I figured it out, the `repro steps` is set in the `fields` flag and not the description flag

[2020-02-19 21:22] #1279 closed

[2020-02-19 23:04] stanneumann opened #1296 "Image-copy-extension is asking for a storage ID but I don't have one"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
Image-copy-extension

### Description of issue (in as much detail as possible)
Executing the command I get the following; part of the problem is that the image I'm trying to copy is in a resource group, but no

[2020-02-20 06:07] titanix opened #1298 "az: 'artifacts' is not in the 'az' command group"
### Description of issue (in as much detail as possible)
-----
I tried to run the command line given on Azure DevOps Artifacts. I does not work. Version is up-to-date (2.1.0).

`az: 'artifacts' is not in the 'az' command group. See 'az --help'. If the command is from an extension, please make sure the corresponding extension is installed. To learn more about extensions, please visit https://docs.m

[2020-02-20 06:11] titanix commented on #1298
For those wondering, an extension must be installed.

` az extension add --name azure-devops`

[2020-02-20 06:11] #1298 closed

[2020-02-20 08:12] tamirkamara commented on #1296
@stanneumann can you confirm the version on the cli you're using as well as the extension version?

[2020-02-20 08:25] yonzhan commented on #1286
devops.

[2020-02-20 15:32] aleksandrshvets opened #1300 "aks-preview v 0.4.30. Command 'az aks nodepool add' fails with --spot_max_price can only be set when --priority is Spot error"
az --version
azure-cli                          2.1.0
command-modules-nspkg              2.0.3
core                               2.1.0
nspkg                              3.0.4
telemetry                          1.0.4
Extensions:
aks-preview                       0.4.30

Steps to reproduce:
`az aks nodepool add --resource-group rg --name wpool1 --cluster-name cl --kubernetes-version 1.15.5 --os-ty

[2020-02-20 16:42] dariuszbz commented on #1300
Hi,

I have the same issue (!) so:
aks-preview v 0.4.29 works fine but it is not easy to get it

how did you get it?

[2020-02-20 17:09] jagdeepgithub commented on #1300
I encountered same issue, while its getting Triaged/Fixed, it will help if you can tell how to get aks-preview v0.4.29.

[2020-02-20 17:16] dariuszbz commented on #1300
I found:
az extension remove -n aks-preview
az extension add --source https://azurecliaks.blob.core.windows.net/azure-cli-extension/aks_preview-0.4.29-py2.py3-none-any.whl

[2020-02-20 20:31] keithfree opened #1301 "Can "az pipelines build queue" be used to queue a build pointed to a specific git tag rather than a branch?"
I believe the answer is no, however if would be lovely if this cmd would accept any git ref. If I am wrong, updating the help text for the "--branch" arg to indicate how one can provide a tag as a value would be much appreciated. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7077ac1-bb22-976f-77f3-9a40cfcbce8

[2020-02-21 08:22] chbe8475 opened #1303 "app-insights' is not in the 'az monitor' command group"
I got the error 'app-insights' is not in the 'az monitor' command group' when running az monitor app-insights component show

Also the az monitor --help does not display app-insights.

Do you need to update documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d7f5f91-5e89-9082-8c70-6431f0025f37
* Version Inde

[2020-02-21 10:16] gtxistxgao opened #1305 "azdev style aks-preview failed"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

aks-preview

### Description of issue (in as much detail as possible)

-----

When running "azdev style aks-preview", the check failed with following error. The check is required but skipped in this PR: https

[2020-02-21 11:26] chbe8475 opened #1306 "Resource group 'myRG' could not be found"
az monitor app-insights component show
does not recognize my resource-group. I have double checked and the resource group exists.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 333d37d2-61e2-0184-d253-157ee236439c
* Version Independent ID: 9b0e976f-3cb5-e813-9f33-e9cea7a8df8c
* Content: [az monitor app-insights compone

[2020-02-21 12:07] #1123 closed

[2020-02-21 13:06] timmkrause commented on #1273
Wrong repo.

[2020-02-21 13:06] #1273 closed

[2020-02-21 16:32] oliverholliday opened #1307 "az repos policy build create - how to set 'Build Expiration: immediately on change'"
When creating a build policy via the web UI there is the option to make the build validation expire immediately when the source branch changes.

When creating one using the az cli devops extension it's not clear how to do this, or if it's possible at all.

The `--valid-duration` parameter is required and the following message is given when trying `-1` or `null` etc:

[code]

---
#### Document Deta

[2020-02-21 21:50] wasker opened #1308 "aks nodepool update --update-cluster-autoscaler doesn't seem to make any changes"
I've created a cluster with Linux and Windows node pools.

Check current autoscaler settings:

`az aks show --resource-group rg-test --name aks-test-eastus2 --query "agentPoolProfiles"`

{
    "count":  2,
    "maxCount":  5,
    "minCount":  2,
    "name":  "nodepool1",
}
{
    "count":  2,
    "maxCount":  10,
    "minCount":  2,
    "name":  "win1",
}

Change autoscaler settings for both pools:

[2020-02-21 21:52] wasker commented on #1308
Argh! User error: updating one cluster, but checking another one.

[2020-02-21 21:52] #1308 closed

[2020-02-22 01:44] GeekTrainer commented on #1271
PR #1309 will resolve this once merged

[2020-02-22 03:43] yonzhan commented on #1289
ml

[2020-02-22 03:50] yonzhan commented on #1301
devops.

[2020-02-22 03:51] yonzhan commented on #1303
add to S167.

[2020-02-22 03:53] yonzhan commented on #1305
aks-preview.

[2020-02-22 03:53] yonzhan commented on #1306
add to S167.

[2020-02-22 03:54] yonzhan commented on #1307
devops.

[2020-02-22 03:58] yonzhan commented on #569
image copy

[2020-02-22 03:58] yonzhan commented on #570
image copy

[2020-02-22 03:58] yonzhan commented on #763
image copy.

[2020-02-22 10:11] fengzhou-msft commented on #1249
@terry-citrix `dev-spaces-preview` is deprecated and replaced by `dev-spaces`. You can manually delete the `dev-spaces-preview` extension under C:\Users\terrydu\.azure\cliextensions

[2020-02-22 10:11] #1249 closed

[2020-02-23 18:38] haroldrandom commented on #1141
I guess it's not likely solved in short time because lots of extensions still support Python 2.7 still.
And new rules described above of pylint and flake8 will break if upgrade.

[2020-02-23 21:28] podedra92 opened #1311 "az cli front-door delete - fails"
I dont believe this is linked to my resources as Ive deleted against different FrontDoors in different subscriptions - Deleting endpoints via cli seems to take a long time due to waiting for getting the results which seems to fail, despite endpoints having been deleted

"extensionType": "whl"
"name": "front-door"
"version": "1.0.2"

Example Running:
 az network front-door routing-rule delete --fro

[2020-02-24 02:32] MyronFanQiu commented on #1303
hi. You should use `az extension add application-insights`. This is an cli extension and you should add it before using it.

[2020-02-24 10:05] dariuszbz commented on #1300
Hi developer team. Do you have any update on this?

[2020-02-24 18:08] terry-citrix commented on #1249
Thanks, that fixed it!

[2020-02-24 20:15] greggbjensen commented on #1300
We just ran into this same issue still with v0.4.32, and had to go back to v0.4.29.

[2020-02-25 05:29] yungezz commented on #1311
HI @MyronFanQiu could you pls help to look at the issue? thanks.

[2020-02-25 06:36] yonzhan commented on #1311
add to S166.

[2020-02-25 07:05] MyronFanQiu commented on #1269
ref https://github.com/Azure/azure-rest-api-specs/issues/8501

[2020-02-25 07:21] MyronFanQiu commented on #1311
@podedra92 Looks like it's a service issue. I tried to invite the service's help.

[2020-02-25 07:33] haroldrandom commented on #1140
Closed as all job migrated.

[2020-02-25 07:33] #1140 closed

[2020-02-25 11:02] dariuszbz commented on #1300
it works only with 0.4.29. They made some changes to introduce scoping (like AWK K8s) on vmss - and here we have problems :). I hope the dev team will update this issue to let us know 'it's fixed'.

[2020-02-25 12:14] algattik opened #1317 "`az ml pipeline list` does not return pipeline attributes"
### Extension name (the extension in question)

ml

### Description of issue (in as much detail as possible)

Output of `az ml pipeline list` is messed up as it mixes fixed strings "Pipeline:" and objects into a single array. Also most of the pipeline attributes (Version, Tags etc.) are missing, although they are returned by the underlying call to 'https://westus2.aether.ms/api/v1.0/subscriptions/

[2020-02-25 13:14] yonzhan commented on #1317
ml

[2020-02-26 00:07] rachel-msft commented on #1227
This falls under the db-up extension's commands . The page is under the Extension Refernces section of the documentation. The command itself uses the 'az postgres' naming scheme because it is an extension for PostgreSQL.

![image](https://user-images.githubusercontent.com/32173602/75299001-c8233080-57e8-11ea-9790-3b3430d2f0b5.png)

Our apologies for any confusion.

[2020-02-26 01:26] yonzhan commented on #1227
@rachel-msft your team owns this command, right?

[2020-02-26 10:57] mmisztal1980 commented on #821
--service-endpoint-configuration is missing information on the structure/format/contents of the configuration file.

Examples would be nice, on how to add a k8s connection using kubeconfig for instance.

[2020-02-26 15:48] gison93 opened #1323 "az ml model deploy fails with azure-cli-ml 1.0.85"
### Extension name (the extension in question)
azure-cli-ml==1.0.85

### Description of issue (in as much detail as possible)
running `az ml model deploy -n servicename --ic inference_config.json --dc deploy_config.json -f model_registration.json -w myworkspace -g MY_RESOURCE_GROUP --ct mycompute` fails with code KubernetesDeploymentFailed. It says there could be a problem in the init function in

[2020-02-26 17:51] cdunford opened #1324 "az image copy fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az image copy
Extension Name: image-copy-extension. Version: 0.2.3.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior.

- An image with the name `cis-cloud-init-image-209` should exist in the `azure-image-store-rg` in the southecentralus region; the `azure-image-store-rg-

[2020-02-26 17:52] cdunford commented on #1324
I realize I missed this statement for this to be successful:

[code]

I am closing.

[2020-02-26 17:52] #1324 closed

[2020-02-27 01:53] arrownj commented on #468
Hi @digimaun , could you please help with this ?

[2020-02-27 01:55] arrownj commented on #1248
Hi @digimaun , could you please help with this ?

[2020-02-27 02:10] yonzhan commented on #1323
ml

[2020-02-27 03:13] digimaun commented on #1248
This issue is on our radar. We will release a new version of the extension to resolve this problem as soon as we can.

[2020-02-27 03:14] digimaun commented on #468
This issue is on our radar. We will release a new version of the extension to resolve this problem as soon as we can.

[2020-02-27 05:20] #1154 closed

[2020-02-27 05:20] #1269 closed

[2020-02-27 09:23] jakaruna-MSFT commented on #1300
@jluk Please add your comments

[2020-02-27 19:13] jluk commented on #1300
This should be resolved in v0.4.31, please update to the latest preview extension and try again.

The fix made is here: https://github.com/Azure/azure-cli-extensions/pull/1304

We are not able to reproduce with a version greater than that. Closing as resolved, but if you are producing this error on v0.4.33 please comment and we can revisit.

[2020-02-27 19:13] #1300 closed

[2020-02-27 20:50] michimune commented on #1245
Hi, I am having the exact same issue on Azure Cloud Shell. The extension's version is 0.4.1, which is the latest. The stack trace seems a bit different, though:

[code]

[2020-02-27 23:15] GeekTrainer commented on #1245
#1309 resolves this issue. Just waiting for it to be merged.

[2020-02-28 01:36] digimaun commented on #468
We've released a new version of the IoT extension that covers this capability. Please [go here](https://github.com/Azure/azure-iot-cli-extension/issues/131#issuecomment-592266064) for more info. One missing element is waiting on the [extension index PR](https://github.com/Azure/azure-cli-extensions/pull/1315).

[2020-02-28 01:37] digimaun commented on #1248
We've released a new version of the IoT extension that covers this capability. Please [go here](https://github.com/Azure/azure-iot-cli-extension/issues/131#issuecomment-592266064) for more info. One missing element is waiting on the [extension index PR](https://github.com/Azure/azure-cli-extensions/pull/1315).

[2020-02-28 19:04] jhpelaez opened #1327 "az pipelines variable create not workign for Release Definition"
Hi
i am running this command for my release definition:
az pipelines variable create `
  --organization ORGANIZATION `
  --project PROJECT `
  --name VARIABLE_NAME `
  --value VALUE`
  --secret true `
  --allow-override false `
  --pipeline-name PIPELINE_NAME

i am getting error "ERROR: There were no build definitions matching name "NAME_RELEASE_PIPELINE" in project "NAME_PROJECT"
does this mean v

[2020-02-28 19:30] weng271190436 opened #1328 "az aks upgrade still prompts for yes/no when --yes flag was specified"
I made a request:

[code]

I got prompted with the message:
[code]

Expected behavior is that the `az aks upgrade` command should run without prompting if I specify the --yes flag.

A screenshot:
![image](https://user-images.githubusercontent.com/6925089/75581164-d7d78a80-5a1d-11ea-96df-7cba987fe3fb.png)

Update:
I didn't post the az cli version originally:
![image](https://user-images.githubuserc

[2020-02-28 23:32] digimaun commented on #1248
#close

[2020-02-29 00:51] michimune opened #1329 "az hack fails to create an app if any free app service plan in a different location already exists"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
`hack`

### Description of issue (in as much detail as possible)
When executing the following command:
[code]
I got the following exception:
[code]

I investigated and found that if there is any free app servi

[2020-02-29 02:03] yungezz commented on #1328
thanks for reporting, we'll have a look

[2020-02-29 02:32] yonzhan commented on #1327
pipelines

[2020-02-29 02:33] yonzhan commented on #1329
hack

[2020-02-29 02:48] tdihp commented on #1328
Duplicate of https://github.com/Azure/azure-cli/issues/11099

[2020-02-29 13:04] #1311 closed

[2020-03-01 01:22] djaus2 opened #1331 "az iot hub device-identity list the hub is NOT an optional parameter"
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62c92565-2490-7306-fa08-b16aa2a402a6
* Version Independent ID: 73f40753-0f05-7e45-ca7d-f0a9d2a276ce
* Content: [az iot hub device-identity](https://docs.microsoft.com/en-us/cli/azure/ext/azure-cli-iot-ext/iot/hub/device-identity?view=azure-cli-latest#ext-azure-cli-i

[2020-03-01 01:28] yonzhan commented on #1331
iot hub

[2020-03-01 15:12] #997 closed

[2020-03-02 09:52] tdihp commented on #982
Duplicate of https://github.com/Azure/azure-cli/issues/11099,

For a workaround @epierotto : `az resource update --ids <aks_resource_id> --set 'properties.kubernetesVersion=<k8s_version>'--set 'properties.agentPoolProfiles[0].orchestratorVersion=<k8s_version>'
`

[2020-03-02 14:14] glautrou opened #1340 "Authenticate SDK control channel"
This documentation specify how to add read/write properties, but not how to add "Authenticate SDK control channel".
The only workaround is to not set both read/write properties. Now on my Azure portal the SDK is correctly checked but read/write as well and I don't want the latter.
How to do that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-03-02 14:33] yonzhan commented on #1340
add to S167.

[2020-03-02 19:18] jlian commented on #1248
Thanks!

[2020-03-02 19:18] #1248 closed

[2020-03-02 19:18] jlian commented on #1248
FYI @digimaun I think the magic word is `#please-close`

[2020-03-02 19:21] jlian commented on #1331
@digimaun would know know about this?

[2020-03-02 19:44] digimaun commented on #1248
@jlian  thanks for clarifying that.

[2020-03-02 19:57] digimaun commented on #1331
This behavior is by design for most of the IoT Hub based commands in the IoT extension. The reason is these type of commands support either AAD **OR** connection string based login.

So you need to provide **either** your target IoT Hub name via `--hub-name`/`-n` (if you have already run "az login")  OR a iothub connection string via `--login` that has the permission to execute the desired operati

[2020-03-02 19:59] digimaun commented on #468
#please-close

[2020-03-02 20:13] digimaun commented on #468
@jlian

[2020-03-02 20:52] jlian commented on #1331
Thanks for the explanation! @djaus2 feel free to reopen the issue if you still have questions.

[2020-03-02 20:52] #1331 closed

[2020-03-02 20:55] jlian commented on #468
I think you have to do the please close without the code blocks

[2020-03-02 20:55] #468 closed

[2020-03-03 06:54] MyronFanQiu commented on #1306
@chbe8475 Hi. Sorry for the delay. Can you paste the error message? It's a quite simple command and it should work without such error.

[2020-03-03 06:55] MyronFanQiu commented on #1303
close this one since it's a question and should be answered. Feel free to reopen it or open a new issue if you still have any question.

[2020-03-03 06:55] #1303 closed

[2020-03-03 06:57] MyronFanQiu commented on #1276
@wasker Thanks. We will fix it later.

[2020-03-03 07:00] MyronFanQiu commented on #1275
@wasker It's quite a strange error. I check the code and this argument is indeed supported. Did you still meet such issue? Do you have some strings containing `"` or `'`?

[2020-03-03 07:03] MyronFanQiu commented on #1340
@glautrou Hi. Could you share the context about your issue? What's the meaning of "Authenticate SDK control channel"?

[2020-03-03 07:31] MyronFanQiu commented on #1169
@annerajb Hi. Do you still have question about these commands? I'm not sure about portal, you can try original command `az network vhub route` to see whether it modify the same route table with Azure Portal or not. But from my perspective view, it should be different.

[2020-03-03 14:18] annerajb commented on #1169
I ended up opening a support request and finding out a different command
yes.

On Tue, Mar 3, 2020, 2:31 AM MyronFanQiu <notifications@github.com> wrote:

[2020-03-03 23:09] wasker commented on #1275
The argument might be supported, but it doesn't accept documented values. I.e., `--caching Enabled` fails with the error from the initial report.

[2020-03-04 02:29] MyronFanQiu commented on #1169
@annerajb Good to know. 😄

[2020-03-04 02:29] #1169 closed

[2020-03-04 07:40] MyronFanQiu commented on #1275
@wasker I just tried the command with `--caching` and it works. Could you please check it again?
[code]

[2020-03-04 17:46] wasker commented on #1275
[code]

I've manually created a frontdoor instance, then:

`az network front-door frontend-endpoint create --resource-group qwe --front-door-name test03042020 --name MsdxDomainName --host-name <my.cname.that.points.to.fd>`

and a routing rule:

`az network front-door routing-rule create --resource-group qwe --front-door-name test03042020 --name MsdxDomainRouting --frontend-endpoints MsdxDomainName

[2020-03-04 21:28] mathieu-benoit opened #1354 "`az network firewall ip-config create` is taking too much time"
### Extension name (the extension in question)

`azure-firewall - 0.3.0`

### Description of issue (in as much detail as possible)

When running `az network firewall ip-config create` is taking too long time. In my case it took 1h09min... is there any way to optimize this?

[2020-03-04 21:35] mathieu-benoit opened #1355 "`az network firewall network-rule create` is taking too much time"
### Extension name (the extension in question)

`azure-firewall - 0.3.0`

### Description of issue (in as much detail as possible)

When running `az network firewall network-rule create` is taking too long time. In my case it took 1h27min and I interrupted the console with CTRL+C... but the rule was correctly/already applied. Is there any way to optimize this?

[2020-03-04 22:49] wickste opened #1356 "Doc should point out that 'az iotcentral' is deprecated"
Please add a note that 'az iotcentral' is deprecated and instead 'az iot central' should be used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1bb68fd-f7ec-b129-9617-3ca02fc99340
* Version Independent ID: 9fb673ac-1cfe-f9ee-9da4-86fbcbe39dd7
* Content: [azure-cli-iot-ext](https://docs.microsoft.com/en-us/cli/azure/e

[2020-03-05 00:08] yungezz commented on #1356
thanks for reporting, we're looking at it.

[2020-03-05 01:25] yonzhan commented on #1354
add to S167.

[2020-03-05 01:26] yonzhan commented on #1355
add to S167.

[2020-03-05 02:39] MyronFanQiu commented on #1355
@mathieu-benoit Hello. Could you run it with --debug? Dose it call a GET method in a loop? There is another issue #1354 and I think the reason should be same. We can just keep one and close the other.

[2020-03-05 02:42] MyronFanQiu commented on #1354
can we close this one and we can discuss in #1355. It's should be the same problem.

[2020-03-05 04:34] mathieu-benoit commented on #1354
Makes sense if you think it's related, continuing the discussion there #1355, thanks.

[2020-03-05 04:34] #1354 closed

[2020-03-05 04:38] mathieu-benoit commented on #1355
@MyronFanQiu, with the `--debug` there is indeed a loop on this:
[code]

[2020-03-05 07:09] MyronFanQiu commented on #1355
@mathieu-benoit It should be a service issue. As far as I know, recently a large amount of new features are enabled and it might be unstable for some time. Usually it won't take too much time to create a network-rule, less then 2 min. I added service attention label, meanwhile, could you please try again to see how much time it would take?

[2020-03-05 14:29] mathieu-benoit commented on #1355
@MyronFanQiu, the last test I did ran in 11 min, way too long... I will do more test today and will add my results as a new comment below.

[2020-03-06 05:38] mathieu-benoit commented on #1355
@MyronFanQiu, I just ran this command again and it took 1min15s now. Has anything changed since my last test?

[2020-03-06 05:44] MyronFanQiu commented on #1355
@mathieu-benoit Well. I don't know either. It might depend on different region and the time to run the command.

[2020-03-06 08:05] MyronFanQiu commented on #1226
@frehnejc Sorry for the delay. The rules must be the same types(nat rule/network rule/app rule). I just had a test and it worked.

[2020-03-06 09:19] MyronFanQiu commented on #1275
@wasker emmm... I still can create the routing-rule with `--caching Enabled`. I just copied your command and changed the `--frontend-endpoints`. which version of front-door are you using? Which OS and terminal?

[2020-03-06 09:20] MyronFanQiu commented on #1275
meanwhile, the latest version of front-door should be 1.0.2. Could you please re-install the extension? `az extension remove -n front-door` and `az extension add -n front-door`.

[2020-03-06 17:05] tbarry-acs opened #1362 "az image copy taking forever to copy 256 Gb"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
image copy

### Description of issue (in as much detail as possible)

have a Windows image with a 256 Gb SSD disk that lives in West US, and trying to copy to west us 2, its taken 40 minutes and is at 4 %.

Th

[2020-03-06 19:25] wasker commented on #1275
Using ext version 1.0.2 fixes the issue, thanks.

[2020-03-06 19:25] #1275 closed

[2020-03-07 01:40] yonzhan commented on #1362
@qwordy  please take a look

[2020-03-07 22:39] joaocc opened #1365 "az aks nodepool add doesn't accept --name and also fails if --name not specified"
### Extension name (the extension in question)
aks-preview

### Description of issue (in as much detail as possible)
az aks nodepool add doesn't accept --node-name
[code]

apparently this is also reported here:
* https://github.com/SUSE/doc-cap/issues/324
* https://github.com/SUSE/doc-cap/issues/324

az version used
[code]

[2020-03-07 22:51] joaocc commented on #1365
Well, just tested this after removing the extension, and the behaviour seems to be the same...

[2020-03-08 00:47] yonzhan commented on #1365
aks

[2020-03-08 01:25] yonzhan commented on #1179
add to S167

[2020-03-08 01:37] yonzhan commented on #1184
add to S168

[2020-03-08 02:22] yonzhan commented on #1221
add to S168

[2020-03-08 02:29] yonzhan commented on #1223
devops

[2020-03-08 02:34] yonzhan commented on #1226
add to S168

[2020-03-08 03:03] yonzhan commented on #1234
add to S168

[2020-03-09 06:25] MyronFanQiu commented on #1221
@mcopik Hi. It is caused by wrong swagger spec.
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/applicationinsights/data-plane/Microsoft.Insights/preview/v1/AppInsights.json#L1135
I open an issue for you. https://github.com/Azure/azure-rest-api-specs/issues/8633

[2020-03-09 07:21] konosuke115 opened #1366 "Error on create Azure Red Hat Openshift with azure-cli-extensions"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aro create
Extension Name: aro. Version: 0.1.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aro create -g {} -n {} --vnet {} -

[2020-03-09 07:38] MyronFanQiu commented on #1340
@glautrou kindly ping.

[2020-03-09 08:22] glautrou commented on #1340
Hi @MyronFanQiu
This is the option checked in the screenshot below taken from the Azure portal.
![image](https://user-images.githubusercontent.com/3740780/76194679-ede80680-61e6-11ea-9173-d7daa707a404.png)

[Link to the documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/app/live-stream#secure-the-control-channel).

[2020-03-09 09:11] MyronFanQiu commented on #1340
@glautrou Let me check. I'm not sure whether we can do it in Azure CLI or not. Sometimes, there are some "magic" operations for Portal only. I will keep you posted.

[2020-03-09 12:45] jiasli commented on #1366
`az openshift` is now included in the main Azure CLI: https://docs.microsoft.com/en-us/cli/azure/openshift?view=azure-cli-latest

Could you try the new commands?

[2020-03-09 15:57] jluk commented on #1365
This is by design, the nodepool command set has always used the following syntax.

Command
    az aks nodepool add : Add a node pool to the managed Kubernetes cluster.

Arguments
    --cluster-name      [Required] : The cluster name.
    --name -n           [Required] : The node pool name.
    --resource-group -g [Required] : Name of resource group. You can configure the default group

[2020-03-09 15:57] #1365 closed

[2020-03-10 01:57] konosuke115 commented on #1366
Thank you @jiasli

I tried `az openshift create`. But the following error statement was output.

I think I don't have the required permissions
What permissions do you need?

Also, is it possible to create an Azure Red Hat Openshfit by preparing a new AAD (no subscription) separately from the current AAD / subscription?

[2020-03-10 02:50] jiasli commented on #1366
This seems to be credential issue. Could you re-login with
[code]

If you login with a service principal, make sure `--tenant` is correct. Also make sure you are targeting the correct subscription using
[code]

For this question,

Usually all Azure resources need to be in some subscription for billing purpose. But I'd rather leave it to AKS service team to answer. @jluk

[2020-03-10 03:27] MyronFanQiu commented on #1226
@frehnejc I added more tests. If you still encounter such problem, could you give us more details about it?

[2020-03-10 05:20] #1184 closed

[2020-03-10 21:42] #908 closed

[2020-03-11 01:04] mathieu-benoit commented on #1355
FYI @MyronFanQiu `az network firewall application-rule create` took me 30min to run...

[2020-03-11 11:26] ishitam8 commented on #1294
hi @oulasvirta ,

I am opening the same [issue](https://github.com/Azure/azure-devops-cli-extension/issues/965) in extension repo, so that it can be tracked in the repo itself.

[2020-03-11 14:26] jabrena opened #1374 "az monitor: 'app-insights' is not in the 'az monitor'"
Hi, I am using the following `az` version:

[code]

But executing the following command:

https://docs.microsoft.com/en-us/cli/azure/ext/application-insights/monitor/app-insights/component?view=azure-cli-latest#ext-application-insights-az-monitor-app-insights-component-create

[code]
I receive the following error message:

[code]
Can you help me?

Many thanks in advance

Juan Antonio

[2020-03-11 14:29] jabrena commented on #1374
Fixed:

[code]

Juan Antonio

[2020-03-11 14:29] #1374 closed

[2020-03-11 20:02] berndverst opened #1375 "hack is not compatible with CLI Core > 2.1.0, current version is 2.2.0"
### Extension name (the extension in question)

Hack

### Description of issue (in as much detail as possible)

az hack is not compatible with CLI Core > 2.1.0, current version is 2.2.0 #15

[2020-03-11 20:02] berndverst commented on #1375
This issue will be addressed by merging #1309

[2020-03-11 20:05] berndverst commented on #1375
Manual install instructions for the new version waiting to be merged:

[code]

[2020-03-11 20:37] ReddyTunga opened #1376 "`az aks create Extension Name: aks-preview. Version: 0.4.35.`"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create
Extension Name: aks-preview. Version: 0.4.35.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-gro

[2020-03-11 20:40] GeekTrainer commented on #1375
#1309 will address this

[2020-03-11 21:09] #1376 closed

[2020-03-11 21:09] ReddyTunga commented on #1376
NA

[2020-03-12 02:09] fengzhou-msft commented on #1375
PR merged and now you can run `az extension update -n hack` to upgrade to the latest version if you have an existing incompatible one. Sorry for the delay.

[2020-03-12 02:09] #1375 closed

[2020-03-12 03:22] Juliehzl commented on #1179
Hi @nofunatall, to utilize directory list command, you need to make sure your storage account with hierarchical namespace enabled. For more information, please refer to https://github.com/Azure/azure-cli-extensions/tree/master/src/storage-preview#adls-gen2-support.

[2020-03-12 07:24] jayaakshayan opened #1381 "Unable to load extension 'azure-devops' from Devops pipeline"
###Extension Name :  Az Devops

Error:-
### WARNING: Unable to load extension 'azure-devops'. Use --debug for more information.

Issue Description : AZ devops extension is added in the agent and i can find it through Az --version locally. When i run the devops pipline with CLI Task, it throws me error Az devops command not found. Also i am getting warning, unable to load extension Ázure-Devops

PS

[2020-03-12 08:30] kashishk-2001 opened #1382 "az boards query doesnt return results for query with tree of work items"
**Describe the bug**
az boards query --id <ID> returns no items if the query is a tree of work items.

**To Reproduce**
Create a query on ADO; save it as tree of work items; run the command and it should return nothing.
Change the query to flat list of work items and rerun the same command; it will return the results.

**Expected behavior**
AZ cli should return a flat list of work items regardless

[2020-03-12 11:42] yonzhan commented on #1382
devops

[2020-03-12 12:14] yungezz commented on #1381
hi @jayaakshayan how did you add az devops extension? could you pls try below?
[code]

[2020-03-12 13:55] jayaakshayan commented on #1381
I have added like ” az extension add --name azure-devops”.

Do i want to try your method “ az extension add azure-devops”, does it make any difference.

[2020-03-12 17:08] #1028 closed

[2020-03-13 03:24] MyronFanQiu commented on #1306
@chbe8475 Hi. Are you still meeting this error?

[2020-03-13 12:02] #1159 closed

[2020-03-13 17:59] carmando62 commented on #1286
basic used to work from cli but no longer.  When I try "express" or "advanced"  I receive an error.
az : ERROR: You are trying to invite a user from outside your directory, but the security setting of this organization
doesn’t allow it.  The users I am trying to add are NOT outside our directory.

[2020-03-15 05:38] haroldrandom commented on #136
It is implmented already. Please veriy if it's what you want. https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensions-list?view=azure-cli-latest.

Feel free to reopen if I was mistaken anything. :)

[2020-03-15 06:10] #136 closed

[2020-03-16 03:36] haroldrandom commented on #140
it's a convention naming in Azure CLI. Closed as low-priority.

[2020-03-16 03:36] #140 closed

[2020-03-17 00:24] harleypig opened #1395 "error: error in setup.cfg: command 'bdist_wheel' has no such option 'azure_namespace_package'"
Describe the bug

I am trying to build the wheel for azure-cli and the build fails with the message
"error: error in setup.cfg: command 'bdist_wheel' has no such option 'azure_namespace_package'" in several dependant packages which I am trying to list here:

azure-mgmt-billing
azure-mgmt-applicationinsights
azure-mgmt-consumption
azure-mgmt-datalake-analytics
azure-mgmt-relay

To Reproduce

$ pip

[2020-03-17 01:25] yungezz commented on #1395
thansk for reporting, we'll look at it.

[2020-03-17 04:37] #1182 closed

[2020-03-17 06:35] yonzhan commented on #1168
@dedhar any update for this?

[2020-03-17 07:21] #1179 closed

[2020-03-17 08:39] qwordy commented on #1097
The patch is released several months ago. Hope it solves your issue. Close it now. If any problem, you can open a new issue or comment in this issue.

[2020-03-17 08:39] #1097 closed

[2020-03-19 16:01] r-dilip opened #1420 "az aks nodepool add for windows node pools is failing with ARM template error"
_**PS C:\WINDOWS\system32> az aks nodepool add --resource-group dilipr-win --cluster-name dilipr-win --os-type Windows --name winnp --node-count 1 --kubernetes-version 1.15.7**_

Operation failed with status: 'Bad Request'. Details: Provisioning of resource(s) for Agent Pool winnp failed. Error: {
  "code": "InvalidTemplate",
  "message": "Deployment template validation failed: 'The provided value

[2020-03-19 22:36] yonzhan commented on #1420
aks

[2020-03-20 07:37] MyronFanQiu commented on #1226
Close this one due to no response. Feel free to open new issue if you have any more question.

[2020-03-20 07:37] #1226 closed

[2020-03-20 09:10] ahamad-MS commented on #1268
This issue is resolved now with latest event grid extension. Please uninstall any existing extension and install latest one (Version: version 0.4.6).

[2020-03-20 09:10] #1268 closed

[2020-03-22 22:09] madiguzel opened #1429 "Cli command runs well on terminal but not on Jenkins"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az repos pr create
Extension Name: azure-devops. Version: 0.17.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az repos pr create --t

[2020-03-23 01:18] yungezz commented on #1429
thanks for reporting, routing to appropriate team.

[2020-03-23 14:11] Styxxy opened #1436 "toc az devops invoke format issue"
The description in the table for `az devops invoke` command has invalid formatting, eg the html is shown as plain text:

![screenshot](https://user-images.githubusercontent.com/1635825/77325454-a00bec00-6d18-11ea-9f2e-2623a1ec6d98.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a9e855a-abc5-14d9-ba73-4ab527ffee16

[2020-03-23 23:49] yonzhan commented on #1436
devops

[2020-03-24 07:06] #1234 closed

[2020-03-24 07:19] MyronFanQiu commented on #1306
close this issue since no response. Feel free to open a new issue if you encounter any problem.

[2020-03-24 07:19] #1306 closed

[2020-03-24 07:36] #1250 closed

[2020-03-24 08:09] aelij opened #1446 "[aks-preview] Getting JSON instead of dashboard UI"
### Extension name (the extension in question)
aks-preview

### Description of issue (in as much detail as possible)
I just updated the extension to version **0.4.37** because I was having problems accessing the dashboard using `az aks browse`, and after the upgrade I get a JSON document when browsing to http://127.0.0.1:8001/ (instead of the dashboard):

[code]
etc.

Edit: Looks like this URL all

[2020-03-24 08:15] MyronFanQiu commented on #1340
@glautrou Hi. I just check the code. You should be able to set
[code]
to achieve same goal with the portal. Please have a try and let me know whether it work or not.

[2020-03-24 09:40] tamirkamara commented on #987
@qwordy this is fixed I think. can you close it?

[2020-03-24 09:41] tamirkamara commented on #979
@qwordy can you close this issue?

[2020-03-24 09:46] tamirkamara commented on #892
@qwordy this issue lacks details and fairly old. On the face of it, this issue is similar to ones already resolved. can you close this?

[2020-03-24 10:55] glautrou commented on #1340
Hi MyronFanQiu,

Thanks for your help. The SDK checkbox is now checked.

However that also check "Write annotations" by default. This is the command I ran:
`az monitor app-insights api-key create --api-key MyName -g MyRg --app MyApp --read-properties AuthenticateSDKControlChannel`

Result:
![image](https://user-images.githubusercontent.com/3740780/77417147-46adc680-6dc5-11ea-9753-419ef08617e2.png)

[2020-03-25 00:06] yungezz commented on #1446
routing to appropriate team

[2020-03-25 02:29] MyronFanQiu commented on #1340
it should work by this command.
[code]

[2020-03-25 06:30] algattik commented on #1127
`az ml computetarget create aks --load-balancer-subnet` option is now available. Thanks a lot!

[2020-03-25 06:30] #1127 closed

[2020-03-25 08:25] JRodDynamite commented on #733
@mreid-contrast - I am facing a similar issue as you were. Did you get any resolution on this? Is there a workaround?

[2020-03-25 12:31] bakedonion opened #1449 "BadRequest/InvalidQuery when using the --include parameter in az graph query and simultaneously specifying a table."
### Extension name (the extension in question)
resource-graph (1.0.0)

Additional information:
[code]

### Description of issue (in as much detail as possible)
Using the `--include displayNames` parameter in an `az graph query` while also specifying a resource graph table results in an error.

Working:
[code]

Failing:
[code]

Error:
[code]
-----

[2020-03-25 12:50] yonzhan commented on #1449
resource-graph

[2020-03-25 17:43] bakedonion commented on #1449
I had the opportunity, to investigate the problem a bit further just now. I think line 52 in [/src/resource-graph/azext_resourcegraph/custom.py](https://github.com/Azure/azure-cli-extensions/blob/93f3ab87a01952798904a952fb777b526504c46a/src/resource-graph/azext_resourcegraph/custom.py#L52) is the perpetrator here.

When using `--include displayName` then if we take the following query as an exampl

[2020-03-26 08:06] #1176 closed

[2020-03-26 11:01] bakedonion commented on #1449
On another note [_get_cached_detailed_tenant()](https://github.com/Azure/azure-cli-extensions/blob/93f3ab87a01952798904a952fb777b526504c46a/src/resource-graph/azext_resourcegraph/custom.py#L104) or the request response seems to be broken as well.

At least during my testing the JSON object in the response does not contain a `displayName` key (or any other key with the tenant name).

This will resu

[2020-03-26 14:43] bakedonion commented on #1449
Please have a look at #1452 which should fix the initial BadRequest/InvalidQuery error. The missing `displayName` key for service principals remains.

[2020-03-27 02:03] #979 closed

[2020-03-27 15:40] glautrou commented on #1340
No, this throw the error:

[2020-03-27 21:59] bruce31 opened #1454 "No link to the Azure Devops main documentation"
Given the way names of things keep changing there should be a link from here to the main Azure Devops documentation. I don't remember the word Universal in relation to feeds. It probably makes less sense to link to here from the main docs as it will be a small subset of users that are interested in the CLI. However everyone using this CLI command are interested in Azure Devops.

---
#### Document

[2020-03-27 23:16] alssau commented on #580
Folks,

Same here. While using az interactive and trying to upload a file to a blob container using the command below
`az storage blob upload -f "/Users/Alonso_Seravalli/Documents/Files/MCK/Training/Azure/azure_upload.txt" -c m
`
I get the error:
`usage: az storage blob upload [-h] [--verbose] [--debug]
                              [--output {json,jsonc,table,tsv,yaml,yamlc,none}] [--query JMESPA

[2020-03-28 01:36] ryanceni opened #1455 "{'Azure-cli-ml Version': '1.2.0', 'Error': KeyError('provisioningState',)}"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
 az extension add -n azure-cli-ml

### Description of issue (in as much detail as possible)
Using Windows Powershell, i login ( az login).
Then use the following code (az extension add -n azure-cli-ml).
Then (

[2020-03-28 01:49] yonzhan commented on #1454
Devops

[2020-03-28 01:51] yonzhan commented on #580
add to S169

[2020-03-28 01:52] yonzhan commented on #1455
ml

[2020-03-28 02:28] yonzhan commented on #1355
service issue

[2020-03-28 04:46] rajakesar opened #1456 "Feature Request: Add --create argument to az pipelines variable-group variable update"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
azure-devops
az pipelines variable-group variable update

### Description of issue (in as much detail as possible)
Add a flag --create to the command az pipelines variable-group variable update

If the variabl

[2020-03-28 05:16] yonzhan commented on #1456
devops

[2020-03-28 08:22] yonzhan commented on #1257
add to S169

[2020-03-30 03:42] #892 closed

[2020-03-30 03:42] #987 closed

[2020-03-30 04:15] zackliu commented on #1022
@leonheess The `extension` has been revoked. The latest `azure-cli` has already contained `az signalr`. The tutorial has updated and please follow the latest tutorial.

[2020-03-30 07:00] #1022 closed

[2020-03-31 02:19] BrianMouncer opened #1466 ""az pipelines runs artifact download" fail for containers that need to be downloaded as a zip file."
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
az pipelines runs artifact download

### Description of issue (in as much detail as possible)
I need to be able to download the "containers" from the build run artifacts as a zip file (the same as I can from t

[2020-03-31 02:59] yonzhan commented on #1466
pipelines

[2020-03-31 06:24] MyronFanQiu commented on #1276
@wasker I just checked the code. `--backend-pool` is required when you try to create a Forward routing rule. But it's not required for a Redirect rule. So it's by design to mark it as optional. I updated the help message.

[2020-03-31 09:17] #1276 closed

[2020-03-31 13:11] draptik opened #1480 "`az interactive` crashes with "cannot import name 'ENV_ADDITIONAL_USER_AGENT'""
## `az interactive` crashes

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:

- `az interactive --debug`

## Expected Behavior

`az interactive` should not crash.

## Environment Summary
[code]
## Additional Context

Installation source: https://aur.archlinux.org/packages/azure-cli/

[2020-03-31 17:20] jerryc3 opened #1469 "Add new SIG API Version 2019-12-01"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
az sig image-version

### Description of issue (in as much detail as possible)
-----
SIG recently published a new API version (2019-12-01) to add an encryption field to targetRegions. This is the completed swa

[2020-03-31 20:02] jdubois opened #1472 "[db-up] installation issues on Mac OS X"
- I'm running Mac OS X 10.15.4
- I'm using az cli 2.2.0, installed using Homebrew

When installing db-up (`az extension add --name db-up`) I have installation errors.

## First error: `Error: pg_config executable not found.`

First error is `Error: pg_config executable not found.`. This is fixed by installing PostgreSQL:

[code]

## Second error: `ERROR: Failed building wheel for psycopg2-binary`

[2020-03-31 22:05] yonzhan commented on #1472
@fengzhou-msft please take a look.

[2020-03-31 22:08] yonzhan commented on #1469
@qwordy please take a look

[2020-04-01 07:49] jiasli commented on #1480
This issue is introduced by https://github.com/Azure/azure-cli/pull/12734 which removed the redundant logic of `ENV_ADDITIONAL_USER_AGENT`, because it is already taken care of by msrest.

I have submitted PR https://github.com/Azure/azure-cli-extensions/pull/1479 to fix it.

[2020-04-01 11:11] yonzhan commented on #1480
add to S168

[2020-04-01 21:08] dollarpo7 commented on #1480
Is there a workaround for this issue?

[2020-04-01 23:09] yonzhan commented on #1480
please see the comment by @jiasli  mentioned above

[2020-04-02 03:15] #1480 closed

[2020-04-02 04:07] jiasli commented on #1480
This issue has been fixed by https://github.com/Azure/azure-cli-extensions/pull/1479, please run `az extension update -n interactive` to get the latest version 0.4.4.

[2020-04-02 04:47] schiavarino8 commented on #1472
I'm having the same problem.  I recently upgrade my version from 2.2.0 to 2.3.1 and the issue persist.

[2020-04-02 05:33] MyronFanQiu commented on #1340
@glautrou Are you using powershell? Please change it to `--write-preperties "''"`

[2020-04-02 14:42] glautrou commented on #1340
@MyronFanQiu Yes with Powershell, but still doesn't work: `az: error: unrecognized arguments: --write-preperties ''`

![image](https://user-images.githubusercontent.com/3740780/78261828-05719100-7500-11ea-973e-3a1e81ca9683.png)

If I re-run my previous attempt above we now get our new error `az: error: unrecognized arguments: --write-preperties`

[2020-04-02 15:58] geverghe commented on #1466
@BrianMouncer - I have raised the same issue on our repo azure/azure-devops-cli-extension. I am closing this issue and you can track the issue - https://github.com/Azure/azure-devops-cli-extension/issues/982 on our repo for further updates.

[2020-04-02 15:58] #1466 closed

[2020-04-02 16:22] geverghe commented on #1456
Would running create and then update suffice in this use case? Create fails if there is existing entity with the same name. In this case when update runs, the actual update happens. You could even use conditional side on your end to orchestrate between create and update.

The clear delineation of create/update intent lets us ensure predictability for the commands.

[2020-04-02 17:21] ngnmhieu opened #1495 "Please provide the JSON examples for --service-endpoint-configuration"
I've had hard time figuring out how to create a service connection to ACR Container Registry with Azure Devops CLI. Please provide an example for that. The JSON that that I've used for `--service-endpoint-configuration`  is:
[code]
Note: the `"role": "8311e382-0749-4cb8-b61a-304f252e45ec"` is the roleId for "AcrPush" role.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-04-02 17:27] JamesEarle opened #1496 "More detail around non-required arguments for create"
In creating an Azure pipeline certain arguments if not specified explicitly will make an attempt to auto detect based on the repository given. It would be better if in the documentation this was more explicit in saying that this attempt will be made but if the attempt fails for any reason this becomes a required argument. This would make required arguments for creation much clearer.

---
#### Docu

[2020-04-02 17:29] ngnmhieu opened #1497 "Please provide more information about the behavior of the creation and removal service-endpoint"
In the effort to automate the deletion and creation of ACR service endpoint, I've had hard time figuring out the following behaviors of the creation and removal of a service endpoint:
- An app registration and service principal (as well as a role assignment) is created automatically upon creation of the service endpoint for ACR Container Registry
- When the service endpoint is deleted, the app reg

[2020-04-02 17:30] JamesEarle opened #1498 "Error in file detection, message shown for overwriting file just created"
In creation of a pipeline you receive a message that says

"A yaml file azure-pipelines.yml already exist in the repository root"

This is the azure-pipelines file we just created. This message shouldn't be shown when we are using a file we just created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a2123ca-5408-8f93

[2020-04-02 23:07] yonzhan commented on #1495
devops

[2020-04-02 23:07] yonzhan commented on #1496
pipelines

[2020-04-02 23:08] yonzhan commented on #1497
devops

[2020-04-02 23:09] yonzhan commented on #1498
pipelines

[2020-04-03 01:56] MyronFanQiu commented on #1340
@glautrou Hi. there is a typo error. But I found another error. Let me update it first.

[2020-04-03 07:26] MyronFanQiu commented on #1340
@glautrou Hi. `--write-properties '""'` should work after I merge the PR.

[2020-04-03 14:51] geverghe commented on #1498
@JamesEarle - could you provide some more information on your scenario and expectation? Did you create an Azure Pipelines yaml file and then run az pipelines create command? Or are you running az pipelines create a second time? If you are running az pipelines create for the first time in a repo where a pipeline yaml does not exist, you will not get this message.

In az pipelines create command, du

[2020-04-03 15:11] geverghe commented on #1454
@bruce31 - Thank you for your feedback. az artifact universal has been a command since the inception of the extension. However, I do hear your feedback on "help me figure out all the possibilities from this command doc".

For this, I would assume the user flow we are talking about is someone who finds `az artifacts universal` command and does not know the extension it is part of. In this case, wou

[2020-04-03 15:39] geverghe commented on #1382
@ishitam8 - It looks like as part of the pr - https://github.com/Azure/azure-devops-cli-extension/pull/954 , we fixed this and I see the same in code as well. However, it is not being reflected in the docs. It looks to be doc generation problem. Could you kindly verify and follow up on this?

[2020-04-03 15:40] geverghe commented on #1382
@kashishk-2001 - `az boards query` supports only flat queries and not the tree view. We had made the documentation update to reflect the same but it doesn't seem the changes have been picked up.

[2020-04-03 15:43] geverghe commented on #1381
This is duplicate of the issue https://github.com/Azure/azure-devops-cli-extension/issues/966 I am closing this from here. You can track progress in the issue mentioned.

[2020-04-03 15:43] #1381 closed

[2020-04-03 16:07] geverghe commented on #1286
@ishitam8 - could you follow up on this?

[2020-04-03 16:09] geverghe commented on #1282
@wi5nia - I am closing this issue. I hope the guidance provided by @ishitam8  worked for you. Feel free to raise an issue in https://github.com/azure/azure-devops-cli-extension for any issue/feedback.

[2020-04-03 16:09] #1282 closed

[2020-04-03 16:12] geverghe commented on #1274
As @aodj  pointed out, this is a duplicate of https://github.com/Azure/azure-devops-cli-extension/issues/905 . As @aodj has mentioned, az login via service principal is not supported for devops commands. You would need to use a PAT token in this case. I have also raised a PR to fix the issue in our documentation.

I am closing this issue as we will be recording any future updates with respect to s

[2020-04-03 16:12] #1274 closed

[2020-04-03 17:14] geverghe commented on #1210
@AlexChongMicrosoft, @ishitam8  - I believe this is an issue across azure cli and there is a page in azure cli docs that tackles this precise problem -https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#quoting-issues . I am dropping the devops extension tag. Call out to the Azure CLI team to include this page as part of official doc.

[2020-04-03 17:26] geverghe commented on #1497
@ngnmhieu - I have created an issue in azure devops cli extension repo - https://github.com/Azure/azure-devops-cli-extension/issues/986 to follow up on this. I am closing this issue. Kindly follow progress on the mentioned issue.

[2020-04-03 17:26] #1497 closed

[2020-04-03 17:52] geverghe commented on #1223
@dduleep - Closing this for now. Feel free to open an issue in https://github.com/Azure/azure-devops-cli-extension/issues in case the explanation does not suffice.

[2020-04-03 17:52] #1223 closed

[2020-04-03 20:47] JamesEarle commented on #1498
@geverghe I followed the instructions in the document and saw that when I'm creating a pipeline in an empty folder, I still receive an error that the `azure-pipelines.yml` file still exists, which indicated to me that this must be the file we are creating or just created.

This is not the first time I am running this command, but I have experienced this message each time I have run it.

The comman

[2020-04-04 09:21] benc-uk opened #1503 "How to set accepted protocols to both HTTP and HTTPS"
The docs state that `--accepted-protocols` takes a "space separated list", I've tried every combination and it doesn't work. I just get BadRequest - `"Value blah is not allowed for property 'Frontdoor.RoutingRules.AcceptedProtocols'"`

I've also tried a comma separated list, I don't get any error but the setting is never changed

Please advise how to set Accepted Protocols to both HTTP *and* HTTPS

[2020-04-04 09:33] klagan opened #1504 "results refuse to show 'id' property"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
az pipelines

### Description of issue (in as much detail as possible)
I have noticed this with a few different AZ Cli commands but have not figured out why when I run a command like:

az pipelines release def

[2020-04-04 09:34] klagan opened #1505 "az pipelines refuses to show me release for id it says exists"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
az pipelines

### Description of issue (in as much detail as possible)

I get VS402936: Release pipeline with ID 6 does not exist. Specify a valid ID and try again.

It states - to me - that the release id 6 d

[2020-04-04 11:57] yonzhan commented on #1503
add to S169

[2020-04-04 12:00] yonzhan commented on #1504
pipelines

[2020-04-04 12:01] yonzhan commented on #1505
pipelines

[2020-04-06 06:35] ishitam8 commented on #1286
@carmando62 ,

Sorry for the delay.
Could you try the same command with --debug switch and share those logs?

[2020-04-06 11:04] Xtema opened #1506 "Missing --creator-vote-counts when automatically including reviewers"
When using the ´az repos policy required-reviewer´ CLI command, we cant set the ´--creator-vote-counts´ property to ´false´.
The default value is ´true´.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e67dccbb-b00c-b3e5-bf48-73d9ed2958f8
* Version Independent ID: 7c09b598-7f2e-df53-b9a5-e29ffc4157a5
* Content: [az repo

[2020-04-06 11:44] yonzhan commented on #1506
devops

[2020-04-06 15:52] carmando62 commented on #1286
Thanks.  Will do.

On Sun, Apr 5, 2020 at 11:36 PM Ishita Mehta <notifications@github.com>
wrote:

[2020-04-06 16:55] MattMencel opened #1507 "Update to FrontDoor Unintentionally Modifies Routing Rule"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

front-door

### Description of issue (in as much detail as possible)

I updated the `--send-recv-timeout` on some frontdoors today, updating them to 60 seconds (from the default of 30).

[code]

I noticed dur

[2020-04-06 23:25] yonzhan commented on #1507
front-door

[2020-04-07 21:37] mydiemho commented on #1286
SOLVE: `basic` has been replaced with `express`

[2020-04-07 21:37] #1286 closed

[2020-04-09 07:23] munishm opened #1524 "Error- "The requested operation cannot be executed on the entity in the current state" while deleting the front-door using CLI"
It doesn't let you delete front door, when trying to delete it in subscription while other resources are allowed to be deleted.
**Note:** This subscription is in disabled state, even though I was able to delete the other resources in subscription other than front-door.

### Version Information:
azure-cli                          2.2.0 *

command-modules-nspkg              2.0.3
core

[2020-04-09 08:26] yonzhan commented on #1524
add to S169

[2020-04-09 12:27] vbrinza commented on #1226
I can confirm the behaviour.
"az network firewall network-rule create --resource-group test-fw-rg --firewall-name test-fw --collection-name AKS_Global_Required --action allow --priority 104 --name aks-global-required-22-9000 --source-addresses '*' --protocols TCP --destination-ports 22 9000 --destination-fqdns test-k8s1-westeurope-blalbla.hcp.westeurope.azmk8s.io test-k8s2-westeurope-blalbla.hcp.w

[2020-04-09 15:47] fengzhou-msft commented on #1008
Error message is enhanced with https://github.com/Azure/azure-cli/pull/11492.
Now the message is like this:

Ideally, we should tell users which extension to install with the extension add command. But only when we load all extensions do we know that which extension the command is coming from, which may not be worth the effort.

[2020-04-10 01:37] MyronFanQiu commented on #1226
Hi. Based on the usage error, the second time, you should not input `--action` and `--priority` again if `--collection-name` has already existed.

[2020-04-10 14:02] lumaxis opened #1525 "[aks-preview] Check for kube config doesn't properly handle symlinks"
### Extension name (the extension in question)
`aks-preview`

### Description of issue (in as much detail as possible)

The check for the file permissions on `.kube/config` don't properly account for the file being a symlink. Symlinks themselves don't have permissions so it would be important to follow the symlink if it exists and check for the actual file, otherwise this check fails erroneously:

[2020-04-10 16:55] omzevall opened #1526 "usage-threshold example does not seem correct"
The usage-threshold example usage on this page says: --usage-threshold 107374182400

According to the documentation, valid values are: Min 100 GiB, max 100TiB".

The example implies that usage-threshold is the number of bytes, not the number of GiB or TiB.

See #12958 for other editorial issues with usage-threshold.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-04-10 16:56] omzevall commented on #1526
Related: https://github.com/Azure/azure-cli/issues/12958

[2020-04-10 23:56] yonzhan commented on #1526
netappfiles

[2020-04-11 00:21] yonzhan commented on #1525
aks-preview

[2020-04-12 07:22] Fokko commented on #1455
Having the same:
[code]

[2020-04-12 16:03] wasabii opened #1529 "az blueprint import fails with long resource group name expression"
### Extension name (the extension in question)
blueprint

### Description of issue (in as much detail as possible)
[code]

This message is received when attempting to execute a blueprint with a `resourceGroup.name` property that is longer than 90 characters, despite that resource group name being a function expression containing `[]` which would ultimately not expand to 90 characters. For instance

[2020-04-12 22:37] yonzhan commented on #1529
blueprint

[2020-04-13 06:13] qwordy commented on #1254
1. Have you installed image-copy extension? It's not installed by default. Users need to install it manually. `az extension add -n image-copy`
2. Yes. I'll add it. I also met this problem once a time.

[2020-04-13 11:12] sapinderpalsingh commented on #1524
Just to add, this issue with is with azure portal as well, but this happened to me only when the subscription was disabled due to insufficient credit.

[2020-04-13 14:43] wasabii commented on #1529
Azure/azure-sdk-for-net#11257 is a related issue in the .NET SDK which also effects the `Az.Blueprint` PowerShell module. For separate tracking.

I assume the validation logic is all generated off of the same source, and so this flows into everything.

[2020-04-13 22:56] yungezz commented on #1529
hi @fengzhou-msft could you pls have a look? thanks.

[2020-04-13 22:58] alex-frankel commented on #1529
This is a swagger issue with the blueprints service, so it's not an issue specific to any of our clients, CLI or otherwise.

@wasabii - we are looking into it

[2020-04-14 12:29] jaapcrezee opened #1540 "Artifacts universal download always downloads the artifact, even if already present."
### Extension name (the extension in question)

artifacts universal download

### Description of the issue (in as much detail as possible)

The `cli` `az artifacts universal download` command keeps downloading the artifacts even if they are already present with the correct hash. This is slow and "eats away" valuable bandwidth. Can this be optimized?

[2020-04-14 13:01] robfrut135 opened #1541 "az blueprint assignment create - fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az blueprint assignment create
Extension Name: blueprint. Version: 0.1.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az blueprint a

[2020-04-14 13:09] yonzhan commented on #1541
blueprint

[2020-04-14 15:18] yonzhan commented on #1540
artifacts

[2020-04-14 15:31] tanmayeekamath commented on #1540
@yonzhan, this is not related to DevTest Labs, this is Azure DevOps.
Here is a link to the cli doc: https://docs.microsoft.com/en-us/cli/azure/ext/azure-devops/artifacts/universal?view=azure-cli-latest

Can you help route this to the Azure DevOps team?

Tanmayee

[2020-04-14 19:53] arcs002 opened #1543 "Error firewall network-rule create when trying to create a rule in a Firewall Manager"
### Describe the bug

This happens when trying to add rule to a firewall manager resource:
https://docs.microsoft.com/en-us/azure/firewall-manager/overview

**Command Name**
`az network firewall network-rule create
Extension Name: azure-firewall. Version: 0.3.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain

[2020-04-14 23:08] qianwens commented on #1543
@MyronFanQiu please help take a look.

[2020-04-14 23:12] yonzhan commented on #1541
@fengzhou-msft  please take a look

[2020-04-15 01:34] yonzhan commented on #1540
relabeled to devops

[2020-04-15 01:37] yonzhan commented on #1543
add to S169

[2020-04-15 16:05] fengzhou-msft commented on #1541
@robfrut135 did you specify the `artifact_name` value in `--resource-group-value`? It is the key of your resource group under `resourceGroups` of your blueprint definition. An example is [here](https://github.com/Azure/azure-cli-extensions/blame/master/src/blueprint/README.md#L133).

[2020-04-16 11:39] norsardou opened #1549 "`az.cmd pipelines variable-group create` fails on windows if description contains spaces"
# Describe the bug

Trying to create variable group fails because description argument contains spaces.
Works well on `ubuntu-latest` image.

### Command
`az.cmd pipelines variable-group create`

### Error

[code]

# To reproduce

- configure organization `az.cmd devops configure -d organization=$(System.CollectionUri)`
- configure project `az.cmd devops configure -d project=$(System.TeamProjectId

[2020-04-16 11:52] yonzhan commented on #1549
devops

[2020-04-16 15:32] abarger-bss opened #1551 "az artifacts universal download very slow - 'No such host is known' / 'Task was requested to be canceled' errors"
### Extension name (the extension in question)
azure-devops

Output of `az --version`

[code]

### Description of issue (in as much detail as possible)

Downloads for universal packages run extremely slowly on my home wifi network (testing with ethernet is not practical for me). Internet speed test shows I get 105 megabits / 13.5 megabytes downloaded / sec, but a 26.8 MB universal package took 80.

[2020-04-16 16:23] KarenHammons commented on #1355
Depending on the scenario, Firewall PUT response time can take several minutes to complete. However, 90 minutes delay is not typical.
In rare cases, failures in dependent services may impact the rule update time. These issues are best investigated via support.

[2020-04-16 16:23] #1355 closed

[2020-04-16 16:45] ashishonce opened #1552 "--organization is optional param but devops-cli-extension doesn't work"
--organization is optional parameter here, but using devops-cli extension I am getting below error:

&gt;az pipelines release definition list
--organization must be specified. The value should be the URI of your Azure DevOps organization, for example: https://dev.azure.com/MyOrganization/ or your Azure DevOps Server organization. You can set a default value by running: az devops configure --defaul

[2020-04-16 16:51] ashishonce commented on #1552
this works. now. it was not able to detect the repository as per debug law...
can we mention this in documentation that user must execute all commands from within a repository

[2020-04-16 16:51] #1552 closed

[2020-04-16 23:03] yonzhan commented on #1551
devops

[2020-04-16 23:40] yonzhan commented on #928
app-insights

[2020-04-17 07:27] JayReally opened #1554 "Cannot set SQL Server AD Admin"
**Command Name**
`az sql server ad-admin create`

**Errors:**
[code]

## To Reproduce:

I was able to set the ad admin using the portal using the same information, and double checked the display name and object-id values using "export template" funcationality.

Command executed from azure cloud shell (bash)

Command issued:
- `az sql server ad-admin create --display-name {"my.name@company.com"} --

[2020-04-17 08:15] lunarfs opened #1557 "image copy throws No module named 'azure.mgmt.compute.v2019_07_01'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az image copy
Extension Name: image-copy-extension. Version: 0.2.3.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az image copy --sour

[2020-04-17 11:38] yonzhan commented on #1554
sql

[2020-04-17 11:42] yonzhan commented on #1557
@qwordy please take a look

[2020-04-18 01:27] yonzhan commented on #1221
@mcopik any feedback or update?

[2020-04-18 11:54] yonzhan commented on #917
devops

[2020-04-20 00:58] mcopik commented on #1221
@yonzhan Not really sure what kind of feedback I can provide. This seems to be an issue on the Microsoft side. As soon as the bug is fixed, I'll be happy to test it.

[2020-04-20 01:44] MyronFanQiu commented on #1221
@alongafni is working on it.

[2020-04-20 06:02] qwordy commented on #1254
Quote from doc team,

[2020-04-20 06:37] zhoxing-ms commented on #1257
@ShawnMcGough Do you have `--marker` in your parameters? I found that after adding `--marker`, the command will go through this logic and report the same error. Please kindly show your specific parameters if it is convenient~

[2020-04-20 07:04] smolesen opened #1561 "Authentication"
I your example you write:

az eventgrid event-subscription create --name es1 \
    --source-resource-id /subscriptions/{SubID}/resourceGroups/{RG}/providers/Microsoft.EventGrid/topics/topic1 \
    --endpoint https://contoso.azurewebsites.net/api/f1?code=code
    --azure_active_directory_tenant_id azureactivedirectorytenantid
    --azure_active_directory_application_id_or_uri azureactivedirectoryap

[2020-04-20 08:53] yonzhan commented on #1561
eventgrid

[2020-04-20 13:24] rmaziarka commented on #1495
@ngnmhieu you put this JSON in a separate file?

[2020-04-20 14:31] ngnmhieu commented on #1495
@rmaziarka yes, and reference it in the command
[code]

[2020-04-20 18:31] ezwiefel opened #1565 "Provide links to examples for the run configuration file and hyperdrive configuration file"
The schema for these files is nearly impossible to find.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56cb2354-d192-0a20-6278-d889aa01bd6c
* Version Independent ID: 2e7a3b9b-6a63-6e51-7a53-f997ef51ddab
* Content: [az ml run](https://docs.microsoft.com/en-us/cli/azure/ext/azure-cli-ml/ml/run?view=azure-cli-latest#ext-

[2020-04-20 23:44] rupaks opened #1566 "Azure CLI dont have option to deploy a particular stage of a release."
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

### Description of issue (in as much detail as possible)

-----

[2020-04-21 02:48] zhoxing-ms commented on #1277
`PUT https://{account_name}.dfs.core.windows.net/{container_name}/{destination_path}?mode=posix`
When calling the above Service to update the directory in a Container, the following error occurs:

The operation to update the directory name on the portal is successful, and the requested Service is consistent with the CLI, but the encoding of `x-ms-rename-source` in the Header is inconsistent
In CLI

[2020-04-21 06:34] ahamad-MS commented on #1561
Thanks for reporting the issue . We are investigation now!

[2020-04-21 06:38] ahamad-MS commented on #1561
The correct values are the ones listed in the parameters, namely

    --azure-active-directory-application-id-or-uri : The Azure Active Directory Application Id or
                                                     Uri to get the access token that will be
                                                     included as the bearer token in delivery

[2020-04-21 06:38] #1561 closed

[2020-04-21 06:43] yonzhan commented on #1565
ml

[2020-04-21 06:44] yonzhan commented on #1566
pipelines

[2020-04-21 07:14] smolesen commented on #1561
How about the second part:
Warning: 'azure-active-directory-tenant-id' is not in the list of known options, but still passed to Electron/Chromium.
Warning: 'azure-active-directory-application-id-or-uri' is not in the list of known options, but still passed to Electron/Chromium.

why do I get these warnings?

[2020-04-21 09:27] alsastre opened #1571 "Manage Service endpoint/ service connection security settings from az cli"
Is it possible to manage the security of the service-endpoint from the command line? I want to grant access to specific pipelines to the service connection created with these commands.

I don't see in the json returned by `az devops service-endpoint show` any field that relates to it neither I have seen information on the [DevOps permission page](https://docs.microsoft.com/en-us/cli/azure/ext/azur

[2020-04-21 09:33] yonzhan commented on #1571
devops

[2020-04-21 11:08] smolesen opened #1572 "EventGrid subscription with authentication"
Hi
I'm trying to create an EventGrid subscription with authentication, I'm issuing the below command, but I'm getting these warnings, and I don't see any token in the validation request header.

[code]

`az --version`

gives me:

[code]

Command:
`az eventgrid event-subscription create --name es1
--source-resource-id /subscriptions/{SubID}/resourceGroups/{RG}/providers/Microsoft.EventGrid/topics/t

[2020-04-21 12:02] yonzhan commented on #1572
eventgrid

[2020-04-21 12:35] saroup opened #1573 "az ml model deploy is failing occasionally with 'Error': MlCliError({'Error': 'Error parsing --deploy-config-file."
### Extension name (the extension in question)
Azure-cli-ml Version': '1.3.0'

### Description of issue (in as much detail as possible)
In my pipeline I am deploying a model to ACI:
- stage: 'Deploy_ACI'
  displayName: 'Deploy to ACI'
  dependsOn: Trigger_AML_Pipeline
  condition: and(or(succeeded(), variables['MODEL_BUILD_ID']),variables['ACI_DEPLOYMENT_NAME'])
  jobs:
  - job: "Deploy_ACI"
    d

[2020-04-21 15:24] #1008 closed

[2020-04-21 20:30] ahamad-MS commented on #1561
Not sure what I means honestly and whether it is CLI specific warning given that you are not using -- .. Maybe someone in CLI team can help.

However, please let us know if using the correct parameters format is having any issue. Also, please use latest eventgrid extension version 0.4.8  in your repro.

[2020-04-21 20:32] ahamad-MS commented on #1572
Investigating...

[2020-04-21 20:48] ahamad-MS commented on #1572
Hello @smolesen  .. I am not sure how different is this issue from this other reported issue https://github.com/Azure/azure-cli-extensions/issues/1561

Anyhow, I am using latest eventgrid extension and command works fine for me. here is the command I am using and output I am getting:

ashraf@Azure:~$ az extension list
[
  {
    "extensionType": "whl",
    "name": "eventgrid",
    "version": "0.4.8

[2020-04-21 20:48] #1572 closed

[2020-04-21 22:55] yonzhan commented on #1573
ml

[2020-04-22 03:54] #1340 closed

[2020-04-22 05:14] zhoxing-ms commented on #1277
I have submitted a PR that adding the encoding logic of `x-ms-rename-source` in CLI at first

[2020-04-22 05:52] kimlundjohansen opened #1577 "Creating a Stream Analytics job results in name undefined"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

stream-analytics

When invoking "job create" the job is indeed created but when you click the resource the get the following error: "Cannot read property 'name' of undefined".

![image](https://user-images.githubusercontent.com/21263210/79945442-0e55e280-8

[2020-04-22 05:57] smolesen commented on #1572
Hi
Yes, 1571 is more or less the same as 1561. 1561 was just being closed, so I thought I'd create a new one instead of continuing 1561

Think I figured out what is wrong, the endpoint I need to use for the webhook, contains an '&'

`--endpoint https://8432ac02.ngrok.io/runtime/webhooks/EventGrid?functionName=AlertRaisedHandler&code=11111112C2GGXQ2RIAJ9a6BxsnUZ0UaWBFnSfUji8aP7cpQ9wVbtSg==`

but ho

[2020-04-22 06:07] smolesen commented on #1572
Figured it out, you'd have to use both single- and double quotes, but single quotes first:

`--endpoint '"https://8432ac02.ngrok.io/runtime/webhooks/EventGrid?functionName=AlertRaisedHandler\&code=11111112C2GGXQ2RIAJ9a6BxsnUZ0UaWBFnSfUji8aP7cpQ9wVbtSg=="'`

[2020-04-22 06:23] ahamad-MS commented on #1572
Glad this issue is resolved for you. thx

[2020-04-22 06:41] yonzhan commented on #1577
stream-analytics

[2020-04-22 08:01] qwordy commented on #1557
It's a rare problem. I try it in a CentOS VM and don't reproduce the error.

[2020-04-22 12:58] yungezz commented on #1577
hi @arrownj could you pls have a look? thanks

[2020-04-22 19:40] dkmiller opened #1578 "Command 'component show' for the extension application-insights is broken"
### Extension name (the extension in question)

`application-insights`

### Description of issue (in as much detail as possible)

-----

The most recent update (0.1.6 &mapsto; 0.1.7) to the `application-insights` Azure CLI extension broke the command `az monitor app-insights component show`. Before that update, calling

[code]
would result in JSON containing the instrumentation key and other infor

[2020-04-22 21:07] devaradhanm commented on #1578
How do we unblock ourselves in release pipeline, till this issue is fixed. We cannot specify version when installing application-insights using the az command "az extension add -n application-insights"

[2020-04-22 23:34] gusnaughton commented on #1578
It would be fantastic if Microsoft began to tag Azure CLI Extension releases and support version pinning. It seems like currently the only way to achieve this is to store the desired commit SHA alongside your code's version, and at build time pulling down this extensions repository against that SHA and using the [--source parameter on az extension](https://docs.microsoft.com/en-us/cli/azure/extens

[2020-04-22 23:52] yonzhan commented on #1578
add to S169

[2020-04-23 01:45] MyronFanQiu commented on #1578
@dkmiller Sorry for this issue. There are new features in the new version of extension. However, the service has whitelist and is not public right now. Let me confirm with service team. If the service cannot be public soon, I would revert the version back to 0.1.6 first.

[2020-04-23 04:21] manishsat commented on #1578
@MyronFanQiu Thx for the confirmation, please revert it as soon as possible our release pipelines are blocked.

[2020-04-23 06:48] liuy-tnz commented on #1578
@MyronFanQiu Thank you. We get this issue too. It blocks our deployment.

[2020-04-23 07:18] yonzhan commented on #895
add to S170

[2020-04-23 07:40] MyronFanQiu commented on #1578
We have reverted the version back. I will sync with service team and find out a solution for this issue later.

[2020-04-23 07:40] #1578 closed

[2020-04-23 08:16] suppix opened #1584 "az image copy dangerous cleanup with temporary_resource_group_name"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
az image copy

### Description of issue (in as much detail as possible)

With the option cleanup you simply delete the whole temporary resource group, but with the option
--temporary_resource_group_name it can

[2020-04-23 08:23] yonzhan commented on #1584
@qwordy  please take a look

[2020-04-23 15:54] vbrinza commented on #1226
I run:
az network firewall nat-rule create --resource-group rg --firewall-name fw --collection-name OPEN_TR_MGR_HEALTH_CHK --priority 200 --action dnat --name dnat-to-srvc-sftp --protocol TCP --source-addresses 40.68.30.66/32 --destination-addresses PIP --destination-port 22 --translated-address 192.168.0.10 --translated-port 22

I get:
Rule collection 'OPEN_TR_MGR_HEALTH_CHK' already exists.
usag

[2020-04-23 18:59] devaradhanm opened #1587 "Add support to install a specific version of extension"
### Description of issue (in as much detail as possible)
This could be a duplicate of https://github.com/Azure/azure-cli-extensions/issues/1123
When extension gets updated & have blocking issues, there is no way for the customers to use the older version & hence blocks the deployments.

For eg, we were blocked due to this issue https://github.com/Azure/azure-cli-extensions/issues/1578 till a fix w

[2020-04-23 19:00] devaradhanm commented on #1578
Since this issue was closed without addressing this question, I have created a bug for this - https://github.com/Azure/azure-cli-extensions/issues/1587

[2020-04-23 19:14] gusnaughton commented on #1587
From other thread:
It seems like currently the only way to achieve this is to store the desired commit SHA alongside your code's version, and at build time pulling down this extensions repository against that SHA by using the [--source parameter on az extension add](https://docs.microsoft.com/en-us/cli/azure/extension?view=azure-cli-latest#az-extension-add) to add the versioned extension.

This ad

[2020-04-23 22:48] chaosmail opened #1591 "az ml workspace create throws InvalidRequestContent error"
### Extension name (the extension in question)

azure-cli-ml

- Using Azure CLI version 2.4.0...
- Using Azure CLI ML extension version 1.3.0...

### Description of issue (in as much detail as possible)

When running [`az ml workspace create --workspace-name anyname -g anyresourcegroup`](https://docs.microsoft.com/en-us/cli/azure/ext/azure-cli-ml/ml/workspace?view=azure-cli-latest#ext-azure-cli-ml

[2020-04-23 22:52] chaosmail commented on #1591
The same command works fine with an older Azure CLI version, just tested and working fine in `2.1.0`.

[2020-04-24 00:18] wasker opened #1592 "az network front-door routing-rule create fails for redirect rule"
Command

`az network front-door routing-rule create --front-door-name myfd --name Hello --resource-group myrg --backend-pool DefaultBackendPool --frontend-endpoints myfd.azurefd.net --route-type Redirect --redirect-type Moved --redirect-protocol HttpsOnly`

results in

"_usage error: [--redirect-type {Moved,Found,TemporaryRedirect,PermanentRedirect}][--redirect-protocol {HttpOnly,HttpsOnly,MatchRe

[2020-04-24 00:56] lilyjma opened #1593 "test"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

### Description of issue (in as much detail as possible)

-----

[2020-04-24 00:56] #1593 closed

[2020-04-24 02:06] yonzhan commented on #1587
add to S170

[2020-04-24 02:08] yonzhan commented on #1591
ml

[2020-04-24 02:09] yonzhan commented on #1592
add to S170

[2020-04-24 03:17] MyronFanQiu commented on #1226
Your second try is correct. The error message has changed. It told you there is already a rule called `dnat-to-srvc-sftp` in the `OPEN_TR_MGR_HEALTH_CHK`. So for the second command, you should choose another name. For example
[code]

[2020-04-24 08:02] vbrinza commented on #1226
I am trying to update the existing rule with different source addresses.
I do not want to create a new rule just for that.
I thought that I can use the same non-obvious approach as you suggested for
the 'regular' network rules.
Why is the 'update' via the same approach working in case of 'az network
firewall network-rule create' rules and doesn't in case of 'az network
firewall network-rule create

[2020-04-24 09:00] MyronFanQiu commented on #1226
@vbrinza Is it ok to raise a new issue for your feature request? Currently, the solution is to remove the old rule and add new one.

[2020-04-24 09:10] vbrinza commented on #1226
To me it sounds for of a problem then a feature request, but yes you can
raise it as required by your internal process.

On Fri, Apr 24, 2020 at 11:00 AM MyronFanQiu <notifications@github.com>
wrote:

[2020-04-24 09:25] MyronFanQiu commented on #1592
@wasker these arguments `--custom-host "" --custom-path "" --custom-fragment "" --custom-query-string ""` should have valid values.

[2020-04-24 10:44] auramirea opened #1597 "AZ Storage-preview download directory doesn't work"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob directory download
Extension Name: storage-preview. Version: 0.2.10.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az

[2020-04-24 10:45] yonzhan commented on #1597
add to S170

[2020-04-24 17:52] wasker commented on #1592
I want to achieve the config as shown below.

According to the [documentation](https://docs.microsoft.com/en-us/cli/azure/ext/front-door/network/front-door/routing-rule?view=azure-cli-latest#ext-front-door-az-network-front-door-routing-rule-create), I should either not include --custom-xxx args (my first attempt in my original message), or use empty string values to use incoming request info (my s

[2020-04-24 19:01] brennaman opened #1598 "publish is failing without change notes"
az blueprint publish is failing when --change-notes are not supplied even though parameter is optional.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82aa0874-eb79-9bed-f3fc-3a0e6d923c50
* Version Independent ID: 1971ba1e-c071-587c-2673-70d0a659cc32
* Content: [az blueprint](https://docs.microsoft.com/en-us/cli/azure/

[2020-04-25 01:02] yonzhan commented on #1598
@fengzhou-msft please take a look

[2020-04-25 12:41] brennaman commented on #1541
@fengzhou-msft i get the same key error and I am specifying the `artifact_name` value in `--resource-group-value`. The command I run looks something like this:

[code]
Error:
[code]

[2020-04-25 22:43] bucmic opened #1600 "How can I update the queue id in a release definition?"
Using "az pipelines update" you can update build definitions only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a2123ca-5408-8f93-6f5c-93fe74684523
* Version Independent ID: 7a03fe73-da7f-9b5a-38e7-ef51d85d49fd
* Content: [az pipelines](https://docs.microsoft.com/en-us/cli/azure/ext/azure-devops/pipelines?view=azure

[2020-04-25 23:21] yonzhan commented on #1600
pipelines

[2020-04-25 23:57] bucmic commented on #1600
What do you mean by pipelines?

[2020-04-26 01:42] JvDrunen opened #1602 "Request for latest version"
The publish command gives an error if the version is already in place in the artifacts, is there a way to test the latest version with azure cli (prior trying to upload)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ae588e5-6e79-0a3e-56fb-78976019b011
* Version Independent ID: 70e209c8-948c-8baf-3472-e1920c498a2c
*

[2020-04-26 01:43] yungezz commented on #1602
hi @luisve1427 we're routing to correct team to look at it.

[2020-04-26 02:54] yonzhan commented on #1600
I mean this issue is owned by pipelines service team.

[2020-04-27 06:29] haroldrandom opened #1608 "CI should capture bug that a folder don't have __init__.py but want to include it as a Python package"
### Extension name (the extension in question)
portal

### Description of issue (in as much detail as possible)
If a folder don't have a \_\_init\_\_.py and use `find_packages()` in setup.py, then the build tool won't regard it as a valid Python Package, the the built wheel won't pack it into the wheel file.

For example this warning from Azure/azure-cli PR stage:
![image](https://user-images.gith

[2020-04-27 07:00] yonzhan commented on #1608
add to S170

[2020-04-27 14:49] GeethaK18 commented on #1128
I am also trying to create folder structure in release pipeline.  direct me if there any workaround even rest api is not supported.

[2020-04-27 18:55] mikemowgli opened #1613 "How can a query be saved using the Azure CLI?"
How can a query be saved using the Azure CLI so that it appears in the Query explorer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0fd6a58-ac1a-fa45-8d96-579b4af36499
* Version Independent ID: 4098ca97-1b85-eb29-18e9-e6f0495fd030
* Content: [az monitor log-analytics](https://docs.microsoft.com/en-us/cli/azure/ext/l

[2020-04-27 21:33] kfprugger opened #1614 "blueprints extension listed in .whl but not available in CLI"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
blueprint

### Description of issue (in as much detail as possible)
Candidates ['blueprint-0.1.0-py3-none-any.whl']
Skipping 'blueprint-0.1.0-py3-none-any.whl' as not universal wheel.We do not currently suppor

[2020-04-27 22:11] yonzhan commented on #1613
add to S170

[2020-04-27 22:13] yonzhan commented on #1614
@fengzhou-msft please take a look

[2020-04-28 01:53] fengzhou-msft commented on #1614
@kfprugger can you upgrade to the latest Azure CLI? The extension is not compatible with 2.2.0.

[2020-04-28 12:59] kfprugger commented on #1614
Thanks, Feng!

I had to "reboot" the shell in Azure and the new Az CLI was installed when it came back online.

Could we consider auto-rebooting the shells weekly to ensure that all customers don't have this same experience by having an out-of-date CLI instance on their Azure Cloud Shells?

The documentation for updating the shell on MS Docs include 'sudo' and sudo is denied on the Cloud Shell as

[2020-04-28 12:59] #1614 closed

[2020-04-28 14:09] fengzhou-msft commented on #1614
@kfprugger Azure Cloud Shell has a release cadence of every three weeks. That seems to be the only way to update Azure CLI on it now. Azure CLI usually keeps pace with Cloud Shell except when there's code freeze in Cloud Shell (freezed for 2.3.0, so you upgraded from 2.2.0 to 2.4.0, I guess) or Azure CLI has some urgent release such as the latest 2.5.0.

As for the auto reboot of Cloud Shell, @mae

[2020-04-28 20:20] devluizserpa opened #1618 "Cannot Get Commit Message"
Using Azure DevOps API I can easylly get commit message: https://docs.microsoft.com/en-us/rest/api/azure/devops/git/commits?view=azure-devops-rest-5.1

Using az cli devops extension there is no way to get this information.

How can I procced, if in my solution I can only use azure cli?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-04-28 22:51] WillLennon opened #1619 "az image copy from image gallery in a different region fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

I'm trying to copy an image from a private image gallery to a different region. The gallery is in Central US and my resource group is in East US 2.

**Command Name**
`az image copy
Extension Name: image-copy-extension. Version: 0.2.4.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note

[2020-04-29 00:54] yungezz commented on #1619
hi @qwordy could  you pls have a look? thanks

[2020-04-29 03:39] qwordy commented on #1254
I have updated help of image-copy.

[2020-04-29 03:39] #1254 closed

[2020-04-29 04:21] jamesbannan commented on #1591
I saw precisely the same error using the same Az CLI and `azure-cli-ml` extension. Updating `azure-cl-ml` from `1.3.0` to `1.4.0` fixed the problem and the workspace deployed correctly.

[2020-04-29 07:49] qwordy commented on #1584
If you omit `--temporary-resource-group-name`, a temporary resource group image-copy-rg will be used. I suggest omit it or use a different temporary resource group from source resource group.

[2020-04-29 07:54] yonzhan commented on #1618
devops

[2020-04-29 08:27] suppix commented on #1584
az image copy --help

[2020-04-29 16:28] mariamedp opened #1625 "Details on --overwrite param of upload command"
It would be nice to have more details on the --overwrite param. My first reaction was trying to use it as a flag (just --overwrite, with no value), but then I found out it had to be set to "true". I think that should be explicitly mentioned in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60c99b13-9888-31ac-

[2020-04-29 23:12] yungezz commented on #1625
machine learning commands, routing to appropriate team

[2020-04-30 15:00] marawanshalaby opened #1629 "Running az ml run submit-pipeline -y ml_pipeline.yml in an Azure Devops pipeline leads to an error: "ValueError: I/O operation on closed file""
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
Azure CLI ML

### Description of issue (in as much detail as possible)
When running the `az ml run submit-pipeline -y ml_pipeline.yml` command  in an Azure Devops pipeline, the ML pipeline is submitted correct

[2020-05-01 01:17] yungezz commented on #1629
routing to appropriate team

[2020-05-01 14:32] pettys commented on #953
I'm having trouble discovering what to use for --artifact-metadata-list. The descriptions on this page seem vague. It would be really helpful to have some examples, or some way to learn how to use this parameter to specify which pipeline run output I want to create a release for.

[2020-05-01 14:33] pettys opened #1632 "Unclear how to use --artifact-metadata-list"
I'm having trouble discovering what to use for --artifact-metadata-list. The descriptions on this page seem vague. It would be really helpful to have some examples, or some way to learn how to use this parameter to specify which pipeline run output I want to create a release for.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-05-01 14:36] pettys commented on #1632
I found this, which defines ArtifactMetadata, but how to use this is still unclear. https://docs.microsoft.com/en-us/rest/api/azure/devops/release/releases/create?view=azure-devops-rest-5.0#artifactmetadata

[2020-05-02 13:15] yonzhan commented on #1632
pipelines

[2020-05-02 13:16] yonzhan commented on #953
pipelines

[2020-05-02 14:19] yonzhan commented on #1503
add to S171

[2020-05-03 00:41] yonzhan commented on #1543
add to S171

[2020-05-03 10:58] omustafaclassera opened #1636 "Trying to copy the image to different subscription tg"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az image copy
Extension Name: image-copy-extension. Version: 0.2.4.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az image copy --sour

[2020-05-03 13:55] yonzhan commented on #1636
@qwordy please take a look

[2020-05-04 14:33] seriema opened #1638 "Set retention time in application-insights"
### Extension name (the extension in question)
application-insights

### Description of issue (in as much detail as possible)
There does not seem to be a flag or command to change the default 90 days retention period to something else. Currently we have to fallback to the PowerShell Azure module to set the retention period on the Application Insight resource created with the AZ CLI. It would be pr

[2020-05-04 14:34] pietergheysens opened #1639 ""az devops security permission update" doesn't update the permission in the web UI?"
### Extension name (the extension in question)
az devops

### Description of issue (in as much detail as possible)
Goal: set Team Project permission "View project-level information" to Allow for a newly created security group in an existing Team Project.

1. running the update command and passing id, subject and token

`az devops security permission update --id "52d39943-cb85-4d7f-8fa8-c6baac87381

[2020-05-04 14:43] seriema opened #1640 "Configure continuous export with application-insights"
### Extension name (the extension in question)
application-insights

### Description of issue (in as much detail as possible)
There does not seem to be a flag or command to set up a continuous export from an AI resource. Currently we have to fallback to the PowerShell Azure module to set up continuous export from the Application Insight to the Blob Storage, both resources created with the AZ CLI.

[2020-05-04 14:58] yonzhan commented on #1638
add to S170

[2020-05-04 14:59] yonzhan commented on #1639
devops

[2020-05-04 15:46] sfilipi opened #1641 "Need example for schedule-yaml (there are other yaml files that need to be documented.)"
We need an example for the `schedule-yaml`  for:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90bc921c-f7f2-0c82-9540-b3ee2dd471ba
* Version Independent ID: 00d7a81a-5be2-345d-200f-f89e9e8a7754
* Content: [az ml pipeline](https://docs.microsoft.com/en-us/cli/azure/ext/azure-cli-ml/ml/pipeline?view=azure-cli-la

[2020-05-04 18:43] dlopes7 opened #1642 "App Insights - Error listing components"
Cannot list app insight components with python 3.8.2

**Command Name**
`az monitor app-insights component show
Extension Name: application-insights. Version: 0.1.7.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az monitor app-insights component show`

## Expected Behavior

## Envi

[2020-05-04 23:08] yonzhan commented on #1640
add to S170

[2020-05-04 23:10] yonzhan commented on #1641
ml pipeline

[2020-05-04 23:10] yonzhan commented on #1642
add to S170

[2020-05-05 02:57] yungezz opened #1643 "az notification hub error"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
az notification hub

### Description of issue (in as much detail as possible)
During UX study of notication hub, one feedback is error message not helpful. below is [screencut](https://microsoft.sharepoint.com

[2020-05-05 02:58] yungezz commented on #1643
hi @fengzhou-msft pls help to look at this with high priority, this is from UX study. thanks

[2020-05-05 08:42] mkrdip opened #1645 "Local Deployment Doesn't work since May 1"
The local deployment of a model via CMD line or Azure Pipeline in Azure DevOps used to just work fine till April 30th.
Now running `az ml model deploy -n myservice -m sentiment:1 --ic inferenceConfig.json --dc deploymentConfig.json` this would return following error message after
[code]
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-05-05 09:35] yonzhan commented on #1645
ml

[2020-05-05 13:17] yene opened #1646 "When will the option node-resource-group be available in azure cli?"
hi,

I used the `--node-resource-group` parameter for a few times now and it seems really useful to provide your own naming scheme. Will this feature be ported to the normal az cli?

thanks

[2020-05-05 22:17] yonzhan commented on #1646
@yene  what is the scope of this parameter?

[2020-05-05 22:19] yonzhan commented on #1646
@arrownj please take a look

[2020-05-06 01:41] yixwang opened #1647 "Set primary key and second key doesn't work"
Trying to deploy the model with primary key and second key set. The following command doesn't work. (PRIMARY_KEY and SECONDARY_KEY along with others are string values.)
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8825dded-3381-d6ed-3473-6cc67086b1b1
* Version Independent ID: 78430b7b-24a7-a0bf-c429-dc97a2c4f55

[2020-05-06 01:59] yungezz commented on #1647
routing to appropriate team

[2020-05-06 02:00] yungezz commented on #1646
hi @yene could you pls share which az commands you're using?AKS? thanks.

[2020-05-06 02:06] yixwang commented on #1647
Let's clarify a bit. The model is deployed successfully. However, the primary and secondary are still the generated values instead of the values I set in the command

[2020-05-06 02:10] azureml-github commented on #1647
@Inference Area<mailto:inferencetrack@microsoft.com>

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: yixwang <notifications@github.com>
Sent: Tuesday, May 5, 2020 7:06:33 PM
To: Azure/azure-cli-extensions <azure-cli-extensions@noreply.github.com>
Cc: azureml-github <azureml-github@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-cli-

[2020-05-06 02:49] haroldrandom commented on #1052
Added one case the consequence without this check https://github.com/Azure/azure-cli-extensions/pull/1631 -- no, azext_metadata.json content in index.json.

[2020-05-06 03:26] narookak opened #1650 "Unable to install AEM on SUSE 15 SP1"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm aem set
Extension Name: aem. Version: 0.1.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm aem set -g {} -n {}`

## Expect

[2020-05-06 06:39] Fokko commented on #1455
Seems to be fixed:
[code]

[2020-05-06 07:15] victorrodilla commented on #1650
I receive same error for SLES VM. I tried to install with PowerShell

Set-AzureRMVMAEMExtension -ResourceGroupName $resourceGroupName -VMName $vmName

[2020-05-06 08:27] yene commented on #1646
Thanks for the responses.
The parameter `--node-resource-group` allows us to provide a more readable RG name (like `rg-company-prod-aksmanaged`), and follow the companies naming convention.

Without it will generate a name like: `MC_rg-company-prod_aks-company-prod_eastus`

[code]

[2020-05-06 09:17] ankur198 opened #1654 "az iot device c2d-message send message count is not available"
Running
`az iot device c2d-message send --hub-name $hubName --device-id $deviceId --msg-count 5`

gives an error az: error: unrecognized arguments: --msg-count 5

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf700574-7619-93a3-5da4-d7274160ad80
* Version Independent ID: fecb6e3e-5b4d-07b1-df6c-01ec7cc87ba6
* Content:

[2020-05-06 09:20] ankur198 commented on #1654
![image](https://user-images.githubusercontent.com/19951777/81161233-e22b7d00-8fa8-11ea-95a2-a7cb5e959fe6.png)

message count does not show up as an option in vs code as well

[2020-05-06 09:22] ankur198 commented on #1654
![image](https://user-images.githubusercontent.com/19951777/81161379-1e5edd80-8fa9-11ea-826b-bbf1ff0c2bc4.png)

Message count option does not show up in vs code as well

[2020-05-06 09:45] TobiTh opened #1655 ""az storage blob directory access show" throws error for missing permissions"
## "az storage blob directory access show" throws error for missing permissions even though they are set on the SP that executes this command. Test for real user results in same error message

**Command Name**
`az storage blob directory access show
Extension Name: storage-preview. Version: 0.2.10.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values hav

[2020-05-06 11:20] yonzhan commented on #1052
add to S170

[2020-05-06 11:23] yonzhan commented on #1650
@qwordy please take a look

[2020-05-06 11:26] yonzhan commented on #1655
add to S170

[2020-05-06 18:35] GeekTrainer commented on #1653
The challenge is the version of Python. This extension (as does the CLI as a whole) requires Python 3.

@jsntcy

[2020-05-07 01:43] yungezz commented on #1654
routing to appropriate team

[2020-05-07 01:51] jsntcy commented on #1653
@prfinnie, could you upgrade to python3+ to see if this issue is solved as this extension is using python3?

@GeekTrainer, thanks for your help.

[2020-05-07 02:25] MyronFanQiu commented on #1638
@jsntcy  Could you take a look?

[2020-05-07 02:34] riserrad opened #1657 "timeseriesinsights - timeSeriesIdPropertyName is not parsed properly"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
timeseriesinsights

### Description of issue (in as much detail as possible)
When creating a new longterm Environment, the `timeSeriesIdPropertyName` is not parsed properly.

For example, if we use the followi

[2020-05-07 02:37] riserrad opened #1658 "timeseriesinsights - When creating a new Standard Environment, data-retention-time is not properly documented"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
timeseriesinsights

### Description of issue (in as much detail as possible)
When creating a new Standard Environment, data-retention-time is not properly documented. The command sample is:

[code]

When it sh

[2020-05-07 04:55] yonzhan commented on #1657
add to S170

[2020-05-07 04:56] yonzhan commented on #1658
add to S170

[2020-05-07 06:05] mkrdip commented on #1645
Same issue with local deployment using a Python file, the full error message below. Which same for CLI and a Python script. Kindly notice, correct model id is being used and it used to work until May 1.

[code]

[2020-05-07 12:42] tsaibabu4u opened #1660 "az devops security permission update issues"
Hi There, using CLI , with below command we are unable to grant permission to teams created in project collection where as we are able to grant permission to multiple  individual emails

**Not working**
az devops security permission update --namespace-id '2e9eb7ed-3c0a-47d4-87c1-0ffdd275fd87' --subject '[xxx]\team1' --token "repoV2/<projectid>/<repoid>" --allow-bit 16502  --org "https://dev.azure.

[2020-05-07 17:31] bquantump opened #1663 "README.md for resource-graph is incorrect"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
Resource-graph

### Description of issue (in as much detail as possible)
The README.md says it is a readme for Blueprint when it should say it is for resource graph:

![image](https://user-images.githubusercon

[2020-05-07 19:06] riserrad opened #1664 "timeseriesinsights - Have an exponential backoff when the request sent fails"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
timeseriesinsights

### Description of issue (in as much detail as possible)
When the deployment hits an issue (i.e., no resources available to provision the given Sku in the region), the CLI keeps resending t

[2020-05-07 23:47] yungezz commented on #1664
hi @jiasli could you have a look?

[2020-05-08 04:09] jiasli commented on #1664
When **no resources available to provision the given Sku in the region** happens, what is the HTTP status code? Is it 429? Does the response have `Retry-After` header?

I believe the retry logic is controlled by Python SDK and [msrest](https://github.com/Azure/msrest-for-python), thus out of CLI's control. msrest does honor `Retry-After` header.

The default retry policy of msrest is

https://gith

[2020-05-08 06:43] mandargujrathi opened #1668 "az batch pool create"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az batch pool create
Extension Name: azure-batch-cli-extensions. Version: 3.0.3.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az batc

[2020-05-08 07:51] qwordy commented on #1650
I run the following commands and no error.
[code]
How do you create the VM? Can you share your command?

[2020-05-08 08:53] MyronFanQiu commented on #1642
@dlopes7 Hello. Are you showing the components in your sub? How many components in your sub?

[2020-05-08 08:54] MyronFanQiu commented on #1642
I just tried this command locally and it works well. Based on your error message, it should be related with `paged` and `nextlink`.

[2020-05-08 09:04] yungezz commented on #1668
routing to appropriate team

[2020-05-08 09:23] MyronFanQiu commented on #1613
@mikemowgli Hi. Currently we don't support this one. It should be CRUD for SavedSearches. I would mark it as feature request and put this one into our working list.

[2020-05-08 10:37] aggerritsen opened #1670 "Unable to delete IP group asscoiated to non-existing resource"
Hi,

When using

&gt; az network ip-group delete -n azure-all -g management-rg (az version 2.5.1 and earlier)

it seems impossible to delete an IP Group that used to be associates to a Azure Firewall Rule set that no longer exist.

Error: IpGroupsHasResourceReferences - IpGroups '/subscriptions/***/resourcegroups/Management-rg/providers/Microsoft.Network/ipGroups/AZURE-ALL' cannot be deleted since

[2020-05-08 10:39] jsntcy commented on #1653
@prfinnie, did you have a chance to try python3?

[2020-05-08 11:40] yonzhan commented on #1663
resource-graph

[2020-05-08 11:42] yonzhan commented on #1664
add to S170

[2020-05-08 11:49] yonzhan commented on #1670
add to S170

[2020-05-08 14:05] brandonwatts commented on #1645
I'm seeing the same thing. I have tried downgrading the client libraries and the issue is still there.

[code]

[2020-05-08 15:27] bgklein commented on #1668
Do you have a sample of your template? The template functions has an explicit syntax which isn't simply the --json-file argument.

You can find a sample at https://github.com/Azure/azure-batch-cli-extensions/blob/master/samples/hello-world/create-pool-and-job/pool.json

[2020-05-08 16:09] sunnyjit opened #1673 "az resource-graph extension 1.1.0 doesn't support --include displayNames"
2.5.0

**Describe the bug**
az graph query --first 1 -q "Resources | where type =~ 'microsoft.compute/disks' | where properties.diskState =~ 'Unattached' "  --include displayNames
It gives the result but without including subscription names

"Failed to include displayNames to result. Error: 'displayName' " .

**To Reproduce**

**Expected behavior**
It should display subscription name along with Su

[2020-05-08 16:51] riserrad commented on #1664
No, it returns 503 (Internal Server Error) with the `InsufficientInternalResources` error code. No `Retry-After` header is added to the response.

`no resources available to provision the given Sku in the region` is not a throttling error. It means that we don't have resources to provision the Environment.

The requests are throttled automatically by ARM. What I meant is that we shouldn't retry fa

[2020-05-08 18:12] rachel-msft commented on #1227
No, @achandmsft's team owns this

[2020-05-08 18:12] #1227 closed

[2020-05-08 23:41] yungezz commented on #1673
hi @MyronFanQiu  @bquantump could you have a look?

[2020-05-08 23:44] yungezz commented on #1663
fixed

[2020-05-08 23:44] #1663 closed

[2020-05-08 23:58] yonzhan commented on #1673
add to S170

[2020-05-09 02:03] mkrdip commented on #1645
A hot fix was provided and fixed that issue in both CLI and Python SDK. Closing this. Thanks!

[2020-05-09 02:03] #1645 closed

[2020-05-09 09:57] #1657 closed

[2020-05-09 09:57] #1658 closed

[2020-05-09 15:25] dougbrad opened #1677 "az monitor log-analytics solution create - remove Remove --plan-publisher and --plan-product"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

az monitor log-analytics solution create

### Description of issue (in as much detail as possible)

Remove --plan-publisher and --plan-product
Remove any mention to Microsoft or 3rd party solutions - this is

[2020-05-09 23:43] yonzhan commented on #1677
add to S170

[2020-05-10 00:44] zhoxing-ms commented on #1677
@dougbrad Thanks for your feedback, I will annotate `--plan-publisher`, `--name` and `--plan-product` with `deprecate_info`, add a new parameter `--solution-type` and remove any mention to Microsoft or 3rd party solutions.
Since the solution does not modify the logic of any old parameters, they are only declared to be deleted temporarily and will be deleted when the customers no longer uses them,

[2020-05-10 06:04] qwordy commented on #1619
Can you check whether the source resource group exist? The output said "ERROR: Resource group 'sourceRG' could not be found."
I test image copy command. I can run successfully.
[code]

[2020-05-10 06:10] qwordy commented on #1619
We have talked with more details in Teams.

[2020-05-10 22:01] mpchen opened #1678 "Execute a saved/shared query by providing its name?"
Is it possible to execute a saved/shared query by providing its name as the parameter? This would be very helpful when I have a complex query.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75d1021b-9184-56de-3a65-4680868c9143
* Version Independent ID: f2fb2ab8-c0c6-5350-a99a-5a5b90e2b14b
* Content: [az graph](https://

[2020-05-11 01:35] yonzhan commented on #1678
resource graph

[2020-05-11 02:40] Tatsinnit opened #1679 "AKS Private-Cluster fails with Nonetype stackTrace via Jumpbox"
### Extension name (the extension in question)

* `aks-preview`

### Description of issue (in as much detail as possible)

_Before I detail_: This is placeholder issue for transparency, plus to log and correctly identify the `aks private-cluster` behavior to rectify the code. If this is Network \ Storage issue then its worth to identify that as well and involve right folks to identify correct fix

[2020-05-11 03:37] yonzhan commented on #1679
AKS

[2020-05-11 04:37] jiasli commented on #580
`az interactive` is not under active development. Please just use the normal command instead.

[2020-05-11 09:14] yungezz commented on #1679
routing to appropriate team

[2020-05-11 17:19] mleziva commented on #1303
use `az extension add --name application-insights` on linux. See here: https://docs.microsoft.com/en-us/cli/azure/extension?view=azure-cli-latest#az-extension-add

[2020-05-11 17:35] jluk commented on #1679
@yunjchoi looks like you might be aware of this, but could your team take a look?

[2020-05-11 18:01] bquantump commented on #1673
I cannot seem to reproduce the problem so far. @sunnyjit is there any information you can provide in the reproduce section that may help?

[2020-05-12 09:21] jsntcy commented on #1653
I closed this issue now as it's not an issue in CLI.
@prfinnie, please try python 3, if the issue still exists, please reopen this issue.

[2020-05-12 09:21] #1653 closed

[2020-05-12 10:25] feiskyer commented on #1679
Filed PR https://github.com/Azure/azure-cli-extensions/pull/1685.

[2020-05-13 06:11] qwordy commented on #1636
The error message shows the resource group does not exist. Do you have the correct permission of this resource group and subscription?

[2020-05-13 06:41] qwordy commented on #1362
What is the final result of the command? Does it finish? I haven't copied image of such size.

[2020-05-13 06:43] qwordy commented on #1296
It should be already fixed in the latest version. Could you try the latest version of image copy?

[2020-05-13 09:56] haroldrandom commented on #1253
Hi, the `boards` command belongs to extension `azure-devops-cli-extensions`, you could fire an issue there. Here is the repo https://github.com/Azure/azure-devops-cli-extension.

[2020-05-13 10:13] omustafaclassera commented on #1636
I mentioned , it's two different account, two different tenant

[2020-05-13 10:14] omustafaclassera commented on #1636
it's two different account

[2020-05-13 13:26] Tyriar commented on #1638
It also doesn't seem to be anywhere in an exported ARM template which would be the easier way for me.

[2020-05-13 14:40] mitch-b commented on #1253
Ha! Okay - I can do that, I suppose.

It's very helpful to have this particular issue open until they resolve it, so that others browsing the documentation can see this Issue at the bottom of the page and help anyone work through the proper Path syntax.

Or, linking the GitHub integration to the proper repo on the page would be better to prevent misplaced issues going forward?

[2020-05-13 15:41] pposkrobko commented on #1678
Good news, it is possible! The feature is still in preview though, so keep in mind that usage might change. The current way to use it is as follows - just run below as your query (against regular **resources** endpoint)
`{{/subscriptions/<SUB_ID>/resourceGroups/<RG_NAME>/providers/microsoft.resourcegraph/queries/<QUERY_NAME>}}`

You can use Resource Graph Explorer in Azure Portal for it, REST API,

[2020-05-13 16:05] pietergheysens commented on #1639
I fixed my issue using single quotes instead of double quotes for the token argument: --token '$PROJECT:vstfs:///Classification/TeamProject/<teamprojectid>'. Still not sure why the command seemed to succeed with double quotes and showing the correct result in the command window? Happy to have finally found a solution, but this has been a very frustrating experience!

[2020-05-13 16:05] #1639 closed

[2020-05-13 16:13] pietergheysens commented on #1210
The double quotes for passing the token have also blocked me for quite some time. Due to the fact that the command returns a successful result, I didn't think about this possibility of a quoting issue. It would be nice if the documentation clearly mentions the quoting issue for the token argument and maybe even better: the command should return a failure when passing an invalid token argument with

[2020-05-13 16:48] leylakazemi commented on #1449
Thanks for the feedback. We put this in our backlog to fix. We will update our documentation once this is fixed.  Here is the link to the documenation:
https://docs.microsoft.com/en-us/azure/governance/resource-graph/samples/advanced?tabs=azure-cli#include-the-tenant-and-subscription-names-with-displaynames

[2020-05-13 16:48] #1449 closed

[2020-05-13 19:30] ezequielramos opened #1690 "Please provide a JSON example for --service-endpoint-configuration using an aks (azure kubernetes service)"
I dont know which information is needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ecb62a2-f74c-a539-d3a8-c8fde7c2de06
* Version Independent ID: 5760936e-90a1-4129-6f6f-6dd4194bb73c
* Content: [az devops service-endpoint](https://docs.microsoft.com/en-us/cli/azure/ext/azure-devops/devops/service-endpoint?view=azu

[2020-05-13 19:34] ablomber opened #1691 "--artifact-metadata-list, how to set version-id for "git" artifact alias?"
I have managed to figure out that the --artifact-metadata-list uses the alias configured in the release definition, and the buildId of the origin of the artifact set.  However, I cannot figure out how to set the version-id for an artifact alias that refers to a git repository.  I've tried _theAlias="fullsha" _theAlias=fullsha _theAlias="firstEight" and _theAlias=firstEight.   What is the correct m

[2020-05-13 19:36] ezequielramos commented on #1690
BTW, I just figured out that the `--service-endpoint-configuration` has the same content that the value send throw POST request on the DevOps Portal/Platform application when you are adding a service-connection from there.

[2020-05-14 00:18] alex-frankel commented on #1529
Going to close as this is not an issue with the az cli command

[2020-05-14 00:18] #1529 closed

[2020-05-14 00:42] yonzhan commented on #1691
pipelines

[2020-05-14 00:43] yonzhan commented on #1690
devops

[2020-05-14 01:56] plooploops opened #1695 "Azure CLI - Extension for Application-insights fails to install"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az extension add -n application-insights`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az extension add -n application-insights`

## E

[2020-05-14 02:01] yungezz opened #1694 "[Databricks] support vNET peering"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
databricks.

### Description of issue (in as much detail as possible)
Support VNET peering as PSH has.
-----

[2020-05-14 02:01] yungezz commented on #1694
databricks new feature request.

[2020-05-14 02:38] yungezz commented on #1695
hi @MyronFanQiu could you pls have a look

[2020-05-14 02:40] haroldrandom commented on #1253
@mitch-b Yeah. you have linked. Sure service team can receive.
It would be better to update PR body as well for alerting ahead.

[2020-05-14 02:44] MyronFanQiu commented on #1695
Could you run it with debug? Do you have python in your machine? There is a similar issue. https://github.com/Azure/azure-devops-cli-extension/issues/596. I just tried to install it and works.

[2020-05-14 06:11] rguthriemsft opened #1698 "This command needs examples"
An example would be really helpful for this command.  Multiple examples would be better.  I assume I need to provide an http url for the public repo but its not clear how the service connection is used.  Is that used to import a private repository?  Do I also set requires-authorization in that case to true?  What is the username format if the repo is private?

---
#### Document Details

⚠ *Do not

[2020-05-14 08:21] yonzhan commented on #1695
add to S170

[2020-05-14 11:07] yonzhan commented on #1698
devops

[2020-05-14 15:32] mkrdip opened #1701 "AKS Deployment Failing but ACI and Local Deployment are not"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
azure-cli-ml

### Description of the issue (in as much detail as possible)
With the same `score.py` file local and ACI deployment works just fine but AKS deployment throws an error. The error message is below:

[2020-05-14 19:02] greghenderson opened #1703 ""az create pipeline ..." does not create a valid pipeline... attempt to edit resulting pipeline within dev.azure.com portal fails."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az pipelines create
Extension Name: azure-devops. Version: 0.18.0.`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- In dev.azure.com UI create a sample organization / project (private).

[2020-05-14 21:00] pauloortins opened #1702 "Notification-Hub not working for APNS update"
azure-cli - 2.3.1 *
notification-hub - 0.2.0

When I try to run the following command:
az notification-hub credential apns update `
--resource-group xxxx `
--namespace-name xxxx `
--notification-hub-name xxxx `
--app-id 'xxxx' `
--app-name 'xxxxx' `
--key-id 'xxxxxx' `
--token 'xxxxxx' `
--endpoint "gateway.sandbox.push.apple.com"

I'm seeing the following error:

SubCode=40000. Failed to validate

[2020-05-14 23:26] yonzhan commented on #1701
ml

[2020-05-14 23:28] yonzhan commented on #1702
@fengzhou-msft please take a look

[2020-05-15 05:01] mpchen commented on #1678
Thanks for the reply. Will this work for private query as well? Shared queries are stored in a RG. It is not clear to me where private query are stored.

[2020-05-15 07:07] MyronFanQiu commented on #1592
@wasker Sorry for the delay. I just check detailed logic. For a redirect rule, you should not include --backend-pool DefaultBackendPool.

[2020-05-15 07:12] MyronFanQiu commented on #1592
@aramesh-msft Please take a look as well.

[2020-05-15 07:31] aramesh-msft commented on #1592
```az network front-door routing-rule create --help``` shows exactly the accepted arguments for redirect rule under "Redirect Routing Rule Arguments".

[code]
So as @MyronFanQiu  mentioned ```--backend-pool``` is not an argument that is acceptable for route-type redirect.

We can close this issue.

[2020-05-15 13:48] WillLennon commented on #1619
I asked for read access to the image gallery resource group and tried again.  It's still failing for me.

ERROR: The Resource 'Microsoft.Compute/images/WindowsServer2016' under resource group '<resourcegroup>' was not found.

[2020-05-15 16:34] wasker commented on #1592
@aramesh-msft  @MyronFanQiu

Sorry, but this is not an acceptable resolution of this issue. The documentation (below) is confusing: there's nothing that indicates that `--backend-pool` is not needed for "redirect routing rule". The argument just hangs in there, not making any pointers as to when it is needed, and the error message doesn't tell the user that `--backend-pool` is the issue.

If it's

[2020-05-15 16:47] wasker commented on #1592
...and removing `--backend-pool` still doesn't work.

`$ az network front-door routing-rule create --front-door-name myfd --name Hello --resource-group myrg --frontend-endpoints myfd.azurefd.net --route-type Redirect --redirect-type Moved --redirect-protocol HttpsOnly`

[code]

[2020-05-15 16:49] aramesh-msft commented on #1592
Please update your installation of Azure CLI (at least 2.4x) and front-door extension (1.0.6)

I see correct arguments

[code]

[2020-05-15 16:56] mkrdip commented on #1701
I have inspected the logs, it seems like it can't find model files. I have multiple model files and it can't find the first one, which means I can't find any model files. Note: Local and ACI Deployment works just fine with the same score.py file. Note: The model registered and files are there.

My init function is the following:

[code]

Logs from AKS deployment:
[code]
after adding the print line

[2020-05-15 16:57] StephenDKing opened #1711 "az pipelines create - causes an error on the web ui after creation."
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
Pipelines Create
https://docs.microsoft.com/en-us/cli/azure/ext/azure-devops/pipelines?view=azure-cli-latest#ext-azure-devops-az-pipelines-create

### Description of issue (in as much detail as possible)
When

[2020-05-15 17:02] riserrad opened #1712 "timeseriesinsights - --timestamp-property-name should be made optional"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

timeseriesinsights

### Description of issue (in as much detail as possible)

When creating an Event Source, the `--timestamp-property-name` should be an _optional_ parameter.

Please let us know if there's s

[2020-05-15 17:03] wasker commented on #1592
@aramesh-msft

Success!

My front-door ext was 1.0.4 and the last attempt to create a rule didn't use frontend *name*.

Upgraded to 1.0.6 and used correct *name* - worked out.

Thank you!

[2020-05-15 17:03] #1592 closed

[2020-05-15 17:28] mpchen commented on #1678
Also, could you provide more details? If I want to run it via REST API, is it a "GET", "POST" or "PUT"? I tried "GET" and it returns the details of the query. And "POST" and "PUT" are not supported. Which API version should I use? thnx.

[2020-05-15 21:30] plooploops commented on #1695
@MyronFanQiu - I do have python on my machine (including 3.7.5).  Looks like az cli includes 3.6.6 as well, but not sure if there's conflicts in which pip it's using to pull down the whl for the extension.

[2020-05-16 00:47] yonzhan commented on #1711
pipelines

[2020-05-16 00:48] yonzhan commented on #1712
add to S170

[2020-05-16 02:07] ebrucucen opened #1713 "Event-Subscription for Azure Functions does not accept azurefunction as an option"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
`az eventgrid event-subscription create`

### Description of issue (in as much detail as possible)
The example and the parameter for `azurefunction` as a parameter to `endpoint-type` fails with :
[code]

I hav

[2020-05-16 02:16] mkrdip commented on #1701
I'd share more with you. That AKS deployment sometimes works fine. treats `outputs` as a directory and has all model files inside it and most of time fails, means `outputs` isn't a directory. It's critical for now planning to role out my app to the production server. It needs an urgent investigation.

[2020-05-16 03:10] yonzhan commented on #1713
eventgrid

[2020-05-16 05:28] yonzhan commented on #1041
add to S171

[2020-05-16 05:29] yonzhan commented on #950
add to S171

[2020-05-16 05:31] yonzhan commented on #900
add to S171

[2020-05-16 08:03] yonzhan commented on #1052
add to S171

[2020-05-16 08:07] yonzhan commented on #959
add to S171

[2020-05-16 08:17] yonzhan commented on #837
add to S171

[2020-05-16 16:01] ahamad-MS commented on #1713
Hello @ebrucucen  Can you please let me know if you are using CLI Extension or mainstream CLI?

The azurefunction as destination is currently available in CLI extension and we are in process of adding it to mainstream cli.

To get this functionality, please do the following.

1. Remove any eventgrid extension.

2. Install latest eventgrid extension.

3. Make sure the eventgrid extension's version

[2020-05-16 16:02] ahamad-MS commented on #1713
Please try the latest extension per comment above and let us know if you are having any issues.

[2020-05-16 19:00] chiragg4u commented on #1678
@mpchen please find the Swagger information @ https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resourcegraph/resource-manager/Microsoft.ResourceGraph/preview/2018-09-01-preview/graphquery.json
Would appreciate if you can vote @ https://feedback.azure.com/forums/915958-azure-governance?category_id=345061 for any feedback and features.

[2020-05-16 20:12] chiragg4u commented on #1678
Private query is a portal only construct, and kept in Portal User metadata.

[2020-05-16 20:19] ebrucucen commented on #1713
Yes, this is perfect! Can we update the pages as it does not mention the requirement/installation of the extension.
https://docs.microsoft.com/en-us/cli/azure/ext/eventgrid/eventgrid/event-subscription?view=azure-cli-latest
Thank you!

[2020-05-16 23:15] awentzel opened #1715 "`front-door` is not in the `az network` command group"
When running `az network front-door` ... and any of the commands listed in this article, Azure returns:
"az network: 'front-door' is not in the 'az network' command group. See 'az network --help'. If the command is from an extension, please make sure the corresponding extension is installed. To learn more about extensions, please visit https://docs.microsoft.com/en-us/cli/azure/azure-cli-extension

[2020-05-16 23:23] awentzel commented on #1715
Please refer to https://github.com/Azure/azure-cli/issues/7535#issuecomment-440090849 noticing extensions are required, I'd recommend updating the top of this page to call out the pre-requisite.  https://github.com/Azure/azure-cli-extensions/tree/master/src/front-door  Thanks

[2020-05-16 23:37] yonzhan commented on #1715
front-door

[2020-05-17 07:13] mkrdip commented on #1701
I have 8 model files in my model folder and size is around 75 MB. Not sure if AKS deployment is failing because of too many files or the total size. As I said it's not downloading model files into `outputs` directory, instead of creating a file of 53.9 MB. Looking for a solution. Where Local and ACI deployment is just fine.

[2020-05-17 17:20] prasad-sunkara opened #1717 "How do I run a specific stage in my Release pipeline using CLI?"
[Enter feedback here]
It seems az pipelines run doesn't work with any of the Release Pipelines.  We use specific stages in our Release Pipeline to run automated tests and deploy code to various test environments.  This functionality is needed to invoke specific stages from CLI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-05-17 23:08] yonzhan commented on #1717
pipelines

[2020-05-18 01:59] MyronFanQiu commented on #1695
add @fengzhou-msft who is expert on packing. Based on my knowledge, it should be ok since we use the full path of python. According to your log, looks like you're using local python 3.7. I'm not sure whether we can fix it or not. @plooploops Is it ok to remove the local python? or re-install azure-cli through pip instead of msi.
![image](https://user-images.githubusercontent.com/49134743/82167364-

[2020-05-18 03:02] #1679 closed

[2020-05-18 07:40] Kadungon commented on #1703
i am also facing this same issue tried with both azure cli and azure api to create pipeline.

[2020-05-18 07:57] sojwil commented on #1703
Same issue on https://dev.azure.com/ GUI

[2020-05-18 08:07] Neoff224 commented on #1703
It is happening at least since last Thursday, it is an issue, because I have edited these pipelines before.Therefore, it seems that some change has been made.

[2020-05-18 08:22] eedrah opened #1721 "Merge strategy option for pull request create"
`az repos pr create` does not have an option for merge strategy, and by default is created with:

[code]

This leads to an error that when `--auto-complete` is specified, the PR will never be completed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3324c35b-f381-8db4-b168-6f73e20c1f3e
* Version Independent ID: 7a3e865

[2020-05-18 09:22] jayasimhamadhira commented on #1703
We are also facing the same issue since Thursday , can you please suggest me the fix..

[2020-05-18 09:32] parag1231 commented on #1703
Getting same error! unable to edit the pipeline from last weekend. Let us know the fix. Cleared cache of browser as well and changed the browser as well. Still same issue persists.
Attached screenshot of error.
![Annotation 2020-05-18 150117](https://user-images.githubusercontent.com/46993628/82197363-8c47c500-9918-11ea-81a3-3d19ad42eaf4.png)

[2020-05-18 09:32] yonzhan commented on #1721
devops

[2020-05-18 10:08] santosh3702 commented on #1703
i am also getting the same issue.

[2020-05-18 13:09] BlueBasher commented on #1703
I am also encountering this issue.
Receiving this error with multiple pipelines that previously could be edited without error.
The Project has multiple pipelines, some pipelines give this error and others can be edited just fine.

[2020-05-18 15:28] pposkrobko commented on #1678
@mpchen, by REST API I meant */resources* endpoint, you run it like you would run a regular 'text literal' query: https://docs.microsoft.com/en-us/rest/api/azureresourcegraph/resourcegraph(2019-04-01)/resources/resources

[2020-05-18 17:56] jkewley commented on #1703
Us as well. Reported it here
https://developercommunity.visualstudio.com/content/problem/1034787/devops-pipelines-created-through-cli-cant-be-edite.html?childToView=1036474

[2020-05-18 18:14] jkewley commented on #1711
Dupe of #1703

[2020-05-19 02:53] Bhanu88 commented on #1703
we are also facing the same issue

[2020-05-19 02:55] qwordy commented on #1619
Can you run `az image show --name WindowsServer2016 --resource-group mmsimagebuild --output json` successfully?

[2020-05-19 04:34] MattDimichTR opened #1727 "CRUD operations for Azure Devops Boards - Queries"
This is a feature request to add crud operations for managing queries within Azure Devops boards.  When working with multiple teams it's incredibly helpful to be able to generate these types of views dynamically.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d535510f-f15c-3c79-c44d-34b7742a1544
* Version Independent I

[2020-05-19 05:59] yonzhan commented on #1727
devops

[2020-05-19 13:53] kanwaldeepBhangu commented on #1703
I created build defination using azure devops rest api but not able to edit from Browser..Trigger of pipeline is working but edit is showing the exact same error as mentioned above

[2020-05-19 14:08] kanwaldeepBhangu commented on #1711
In our case we used azure devops rest api to create build defination by specifying yaml file but its displaying same error message when I try to edit the pipeline with browser.

[2020-05-20 01:20] JustinBacaAIS opened #1733 "Azure CLI Extension Subscription Doesn't Support Azure Government Offer Types"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

subscription

### Description of issue (in as much detail as possible)

Doesn't support the Azure Government Offer Type MS-AZR-USGOV-0017P

[code]
-----

[2020-05-20 03:18] yonzhan commented on #1733
subscription

[2020-05-20 06:00] #1712 closed

[2020-05-20 06:05] Cadacious opened #1735 "--required-reviewer-ids for az repos policy required-reviewer create command requires UPN not e-mail address"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
Azure DevOps

### Description of issue (in as much detail as possible)
When specifying required reviewers for the `az repos policy required-reviewer create` using the `--required-reviewer-ids` parameter the do

[2020-05-20 07:44] qwordy commented on #1557
Could you install the latest Azure CLI and image copy extension and try again?

[2020-05-20 07:58] richardzaat opened #1736 "az devops security group membership list --relationship memberof returns invalid json"
Hi,

Using the membership list --relationship memberof option, but I believe the 'members' option does the same, I come across the issue that powershell cannot convert the output from json.

Code: $MemberOf = (az devops security group membership list --id $GroupId --relationship memberof) | ConvertFrom-Json

In our case I see three groups returned, but the $MemberOf only holds one object, not thre

[2020-05-20 09:35] yonzhan commented on #1735
devops

[2020-05-20 09:37] yonzhan commented on #1736
devops

[2020-05-20 11:26] joe-plumb opened #1744 "Submitting AML pipeline from CLI yields error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ml run submit-pipeline
Extension Name: azure-cli-ml. Version: 1.3.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ml run submit

[2020-05-20 12:03] yonzhan commented on #1744
ml

[2020-05-20 15:08] Juliehzl commented on #1257
Hi @ShawnMcGough, for blob directory list, are you using ADL Gen2 account? If yes, you can use `az storage fs directory list`to list all directories and `az storage fs file list` to list all files and directories.

[2020-05-20 17:06] plooploops commented on #1695
I'm using python 3.7.x for other development so would prefer keeping that around if possible.

For the pip re-install I'm assuming it would be pip install azure-cli?

[2020-05-20 17:22] riserrad commented on #1664
Hi @jiasli ,

According to the e-mail thread we've been through, I've updated the description of the issue.

The expected behavior is to have an exponential backoff and that it should not fail this fast when getting errors 500, like it happens when we try the same action in Azure Portal.

As you mentioned, while we don't migrated to track 2 SDK and Azure Core, we can't have more control over the r

[2020-05-20 17:25] riserrad commented on #1664
And here's the log we've been looking into, with redacted information:

[code]

[2020-05-21 01:39] MyronFanQiu commented on #1695
yes. You can use `pip install azure-cli` to install azure-cli. Please uninstall msi-based azure-cli first. https://pypi.org/project/azure-cli/

[2020-05-21 14:33] rohancragg opened #1751 "Please clarify how to pass the SSH public key"
Please clarify or provide an example of how to pass the SSH public key in parameter --admin-user-ssh-key

I have tried providing the path to a .pub file in my ~/.ssh folder but this is not working - I get the error "The specified value for property Cluster.Properties.UserAccountSettings.AdminUserSshPublicKey is not a valid SSH Public Key. A valid SSH Public Key must be a base64 encoded valid RSA k

[2020-05-21 18:01] flyingUnderTheRadar commented on #670
Leaving this as an FYI - I was not able to get the cli to work with space-separated values. Through powershell I needed to provide  `--accepted-protocols "Http,Https"` for it to work. Notice the casing as well. All other attempts to make it work failed.

[2020-05-22 00:27] yonzhan commented on #1751
ml

[2020-05-22 04:12] cosmos0703 opened #1753 "az arc issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az connectedk8s connect
Extension Name: connectedk8s. Version: 0.2.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az connectedk8s co

[2020-05-22 04:13] cosmos0703 commented on #1753
my helm version is like this
cosmos@cosmos-new-vm:~$ helm version
version.BuildInfo{Version:"v3.2.1", GitCommit:"fe51cd1e31e6a202cba7dead9552a6d418ded79a", GitTreeState:"clean", GoVersion:"go1.13.10"}

[2020-05-22 04:44] yonzhan commented on #1753
connectedk8s

[2020-05-22 07:12] palma21 commented on #1753
Removing AKS as this is connected clusters

[2020-05-22 07:14] palma21 commented on #1753
Cc @slack

[2020-05-22 09:45] KosukeHosoda opened #1755 "It seems like that "--remove" option doesn't work"
I tried to remove a FQDN from the Threat Intelligence Whitelist by "--remove" option.
But, it didn't work and error was output as below.
![image](https://user-images.githubusercontent.com/46177050/82655058-95a89880-9c5c-11ea-9f67-d205e18872c1.png)

Here is the series of commands that I used for test.
\---------------------------------------------------------------------------------
1. extend the f

[2020-05-22 10:25] KosukeHosoda commented on #1755
I tried "--set" option, too and the same error was outputted.
![image](https://user-images.githubusercontent.com/46177050/82658430-ebcc0a80-9c61-11ea-9f10-f50d77c88edb.png)

the commands
\------------------------------------------------------
1. extend the feature
az extension add -n azure-firewall

2. create the list
az network firewall threat-intel-whitelist create -g FWGroup -n AzFW --ip-addres

[2020-05-22 10:50] yonzhan commented on #1755
add to S171

[2020-05-22 18:37] rispoli opened #1756 "az image copy : FAILURE."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az image copy
Extension Name: image-copy-extension. Version: 0.2.4.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az image copy --sour

[2020-05-22 23:18] yonzhan commented on #1756
@qwordy please take a look

[2020-05-23 08:07] ahamad-MS commented on #1713
Hello @ebrucucen ..Happy that your issue is resolved. We are closing the issue but if you still need anything, please feel free to reopen it.

As for your suggestion for adding the extension installation info to the event-subscription page, it will not be appropriate to add this info in the command help page. however, we have a new feature work that is coming soon where there will be no need to in

[2020-05-23 08:07] #1713 closed

[2020-05-24 11:28] Mikhail2k15 opened #1758 "az connectedk8s connect doesn't work"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az connectedk8s connect
Extension Name: connectedk8s. Version: 0.2.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az connectedk8s co

[2020-05-24 23:02] yonzhan commented on #1758
connectedk8s

[2020-05-25 02:06] yungezz commented on #1758
hi @akashkeshari could you pls look at this issue?

[2020-05-25 02:08] yungezz commented on #1753
HI hi @akashkeshari could you pls look at this issue?

[2020-05-25 02:37] akashkeshari commented on #1758
Hi @Mikhail2k15 ,

Can you please share the --debug logs for the connectedk8s command. Simply run 'az connectedk8s connect --resource-group {} --name {} --location {} --debug' and share the output

[2020-05-25 02:56] MyronFanQiu commented on #1755
Hi. Please try
`az network firewall threat-intel-whitelist update -g FWGroup -n AzFW --ip-addresses 10.0.0.0 --fqdns *google.com`

[2020-05-25 03:42] KosukeHosoda commented on #1755
Thank you so much for the comment. I succeeded in removing a FQDN by your commands.

Could you confirm whether **"--remove"** option is available is not?

[2020-05-25 04:42] qwordy commented on #1756
Hi, thanks for reporting this issue. Do you keep the source disk in the resource group? Image copy extension requires the source disk of image.

[2020-05-25 05:08] MyronFanQiu commented on #1755
`--remove` and `--set` is a general support across azure cli commands to remove or set request payload directly. Along with service's development, if you cannot find native arguments, you could try `--remove` or `--set` until azure cli supports them in a native way. However, these two properties are quite special. The key name contains `.`. Currently, `--remove` and `--set` cannot deal with such s

[2020-05-25 05:48] rispoli commented on #1756
Hi, the original disk is in the resource group I'm trying to copy the image from:
![image](https://user-images.githubusercontent.com/2699595/82782075-c145a180-9e5b-11ea-868a-880985a5a8cd.png)
I can even manually create the snapshot, with the same name or a different one:
![image](https://user-images.githubusercontent.com/2699595/82782154-f05c1300-9e5b-11ea-9fca-58fe07358d7e.png)
but the automated

[2020-05-25 06:57] birchb1024 commented on #1703
Me Too. It _used_ to work before the outage we had in the Australia region. That might just be a coincidence. Workaround is to edit elsewhere.

[2020-05-25 07:46] tiagoh commented on #1744
any updates on this bug ? I have come across it also recently with SDK 1.5.0

[2020-05-25 08:31] Juliehzl commented on #1597
Hi @auramirea, I cannot reproduce your issue now. Could you share log file with me to help figure out the issue in your scenario?

[2020-05-25 10:56] ignaciofls commented on #1744
Hi @joe-plumb and @yonzhan ,

I found a workaround, the issue is definitely with the azure-cli version. I went to my history of executed pipelines and found that the last environment that worked well was azure-cli 2.2.0 and ml extension 1.2 so I tried to downgrade the azure-cli with no luck (i believe there is no such option). Using bash tasks is fairly straightforward to install anything in your

[2020-05-25 12:26] ivanthelad opened #1764 "whitelisting private onpremise ips not possible with aks-preview extension"
-
### Extension name (the extension in question)

aks-preview
### Description of issue (in as much detail as possible)

I'm  facing an issue that i cannot whitelist the onpremise ips using the --api-server-authorized-ip-ranges  feature.  Anything in the reserved  range 10.x.x.x/8 it would seem.

Looking into this. The docs state onpremise private  ips should be possible, taken from our docs

- “Th

[2020-05-25 13:28] yonzhan commented on #1764
aks-preview

[2020-05-25 14:25] ivanthelad commented on #1764
Reading the aks official documentation i have to wonder if it is simply poorly written documentation.

- "These IP address ranges are usually address ranges used by your on-premises networks or public IPs. ”

where "on-premise networks" means public ips owned by a company and are not internal onpremise network. its a bit unclear what the documentation means here

[2020-05-25 20:21] palma21 commented on #1764
That's the case please do open a doc improvement.
API allow IP ranges need to be public to be recognized as they arrive at the public control plane

[2020-05-25 20:21] #1764 closed

[2020-05-26 02:09] qwordy commented on #1756
That's quite interesting.
Could you try this command?
[code]

[2020-05-26 05:42] rispoli commented on #1756
Unfortunately I get an error from that command:
`Resource fragmdgpu_OsDisk_1_121312e46bb84621a717948394d6caac is not found.`
But the disk does exist:
![image](https://user-images.githubusercontent.com/2699595/82864274-7e9bcc00-9f24-11ea-9c6e-b23cf811c3d0.png)

[2020-05-26 09:54] shehanWeer commented on #1703
Exact same issue. Pipelines deployed in South India region

[2020-05-26 17:42] Mikhail2k15 commented on #1758
Command arguments: ['connectedk8s', 'connect', '--name', 'AzureArcTest1', '--resource-group', 'AzureArcTest', '--debug']
Event: Cli.PreExecute []
Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments at 0x7f146b85a378>, <function OutputProducer.on_global_arguments at 0x7f146b5ba378>, <function CLIQuery.on_global_arguments at 0x7f146b5e3598>]
Event: CommandInvoker.O

[2020-05-26 18:05] akashkeshari commented on #1758
Hi @Mikhail2k15

Can you run the following command on your terminal (where you are receiving above error) and share the output? This is the task during which the CLI is failing.

az rest -m post -u https://eastus.dp.kubernetesconfiguration.azure.com/azure-arc-k8sagents/GetLatestHelmPackagePath?api-version=2019-11-01-preview --debug --resource https://management.core.windows.net/

Thanks,
Akash

[2020-05-27 00:59] Mikhail2k15 commented on #1758
az rest -m post -u https://eastus.dp.kubernetesconfiguration.azure.com/azure-arc-k8sagents/GetLatestHelmPackagePath?api-version=2019-11-01-preview --debug --resource https://management.core.windows.net/
Command arguments: ['rest', '-m', 'post', '-u', 'https://eastus.dp.kubernetesconfiguration.azure.com/azure-arc-k8sagents/GetLatestHelmPackagePath?api-version=2019-11-01-preview', '--debug', '--reso

[2020-05-27 01:15] Mikhail2k15 commented on #1753
Looks like I have the same issue https://github.com/Azure/azure-cli-extensions/issues/1758

[2020-05-27 01:29] narookak commented on #1650
we use terraform to launch the instance.
Still having the issue, tried using PowerShell and cloudshell. without any luck. Let me know if need anything else to resolve this.

[2020-05-27 02:08] qwordy commented on #1756
Really?
What's result of this command?
[code]

[2020-05-27 02:29] qwordy commented on #1362
@Juliehzl Does `storage blob copy` support large object such as 256G?

[2020-05-27 02:30] Juliehzl commented on #1362
`az storage blob copy` will take long time, too. You can have a try with `az storage copy`.

[2020-05-27 05:50] rispoli commented on #1756
`$ az resource show --ids /subscriptions/2a71c52b-0900-4357-ba64-0366b1c6e969/resourceGroups/MOCKUP/providers/Microsoft.Compute/disks/fragmdgpu_OsDisk_1_121312e46bb84621a717948394d6caac
{
  "id": "/subscriptions/2a71c52b-0900-4357-ba64-0366b1c6e969/resourceGroups/MOCKUP/providers/Microsoft.Compute/disks/fragmdgpu_OsDisk_1_121312e46bb84621a717948394d6caac",
  "identity": null,
  "kind": null,
  "lo

[2020-05-27 10:09] joe-plumb commented on #1744
Thanks @ignaciofls , this workaround worked for me.

[2020-05-27 14:59] smunj commented on #1736
Hi, can you share screenshots of your issue for a detailed explanation.
you can try az devops security group membership list --id $GroupId --relationship memberof -o table to see how many groups is this group a member of.
What we get is a single json object containing information for all the 3 groups, which I guess is what you are seeing. If there is something else you wanted to tell, please reply

[2020-05-27 17:19] akashkeshari commented on #1758
@Mikhail2k15 ,

This is a known issue. Adding @NarayanThiru for this.

Meanwhile you can use the following workaround:

set the environment variable 'HELMREGISTRY' to the value azurearcfork8s.azurecr.io/batch1/stable/azure-arc-k8sagents:0.2.4

and then run the connectedk8s connect command again. It should work.

Let me know if you face any issues.

Thanks,
Akash

[2020-05-28 01:04] gtxistxgao commented on #1305
passed now. we can close this one.

[2020-05-28 01:04] #1305 closed

[2020-05-28 02:32] qwordy commented on #1362
Would you please share what's the difference between them?

[2020-05-28 05:33] rosekv opened #1778 "Expection occured when run "az aks get-versions --location eastasia" command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-versions
Extension Name: aks-preview. Version: 0.4.47.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-versions --

[2020-05-28 06:23] Mikhail2k15 commented on #1758
Error while fetching helm chart registry path: Errorcode: 401, Message Unauthorized client credentials., Target /azure-arc-k8sagents/GetLatestHelmPackagePath

[2020-05-28 07:47] yonzhan commented on #1778
aks

[2020-05-28 08:04] akashkeshari commented on #1758
Please confirm that you ran the following command:
'export HELMREGISTRY=azurearcfork8s.azurecr.io/batch1/stable/azure-arc-k8sagents:0.2.4'
before running the 'az connectedk8s connect --resource-group {} --name {} --location {}'

[2020-05-28 09:59] Mikhail2k15 commented on #1758
Now it works. Thanks!

[2020-05-28 09:59] #1758 closed

[2020-05-28 10:17] richardzaat commented on #1736
Hi, see attached files. I have added the powershell statements I executed and replaced the most important GUIDs with text to avoid exposing too much details.
[JSONFormat.zip](https://github.com/Azure/azure-cli-extensions/files/4694847/JSONFormat.zip)

[2020-05-28 15:17] paulgmiller commented on #1778
We believe we fixed this in this PR https://github.com/Azure/azure-cli-extensions/pull/1765

[2020-05-28 15:17] MS-Trev opened #1781 "HTML issue in the description of "az devops invoke"?"
This looks like a type-o or HTML issue:

![image](https://user-images.githubusercontent.com/17113604/83160138-d11bea80-a0d4-11ea-8272-e5d670514e72.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a9e855a-abc5-14d9-ba73-4ab527ffee16
* Version Independent ID: 85a46540-4b25-94f4-2c0e-29e1f8fefe35
* Content: [az devops

[2020-05-28 18:16] j-so commented on #1744
We have identified the issue and are working on a fix.

In the meantime:

Switching to an older version as @ignaciofls suggested is a workaround.

If you're using this as part of a AzureDevOps Pipeline:
1. If you are able to ignore stderr (i.e. [ADO bash task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/utility/bash?view=azure-devops) - failOnStderr: false), you can still use thi

[2020-05-28 21:07] kbute95 commented on #1756
I'm experiencing this same issue when doing an image copy.  Any update on this?

[2020-05-28 22:15] jullianoacqio opened #1783 "Error az aks get-versions -l "West US 2""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-versions
Extension Name: aks-preview. Version: 0.4.47.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-versions -l

[2020-05-29 01:34] yungezz commented on #1783
routing to appropriate team

[2020-05-29 01:36] yungezz commented on #1781
routing to appropriate team

[2020-05-29 05:27] Sam123ben opened #1787 "AZ CLI THROWING AN EXCEPTION WHILE TRYING TO ACCESS THE AKS"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials
Extension Name: aks-preview. Version: 0.4.35.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credenti

[2020-05-29 06:29] palma21 commented on #1783
That was a bug in 0.4.47, it's fixed in the following versions: 0.4.49 is now available

[2020-05-29 06:37] vtomsa83 opened #1789 "Error running az connectedk8s connect"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az connectedk8s connect
Extension Name: connectedk8s. Version: 0.2.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az connectedk8s co

[2020-05-29 06:58] jullianoacqio commented on #1783
Thanks @palma21.

[2020-05-29 08:53] haroldrandom opened #1790 "[hardware security] outdated Network API block CI"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

hardware security

### Description of issue (in as much detail as possible)

-----

Since this PR is outdated, https://github.com/Azure/azure-cli-extensions/pull/1626 and Fan has bumped Network SDK version, a

[2020-05-29 09:08] MyronFanQiu commented on #1755
close this issue since it's by design.

[2020-05-29 09:08] #1755 closed

[2020-05-29 09:12] MyronFanQiu commented on #1642
@dlopes7 Do you still encounter such issue?

[2020-05-29 09:14] MyronFanQiu commented on #1673
@sunnyjit Kindly ping.

[2020-05-29 09:15] MyronFanQiu commented on #1695
@plooploops Did you solve your issue?

[2020-05-29 09:30] fengzhou-msft commented on #1790
@bquantump can you take a look at this issue?

[2020-05-29 10:34] yonzhan commented on #1787
aks

[2020-05-29 10:36] yonzhan commented on #1789
connectedk8s

[2020-05-29 11:14] dlopes7 commented on #1642
Yes, I believe the account did not have application insights after all. But I expected an empty response instead of an exception

[2020-05-29 13:56] Sam123ben commented on #1787
Not sure i tried by reinstalling the python3, pip3 and then az cli still getting the issue with the az aks command.

Please do help us to resolve this as we are blocked to proceed with our automation further.

`az aks get-credentials --resource-group civ-authority-cloud-rg-v1 --name civ-cloud-nonprod-v1 --overwrite-existing
The behavior of this command has been altered by the following extension:

[2020-05-29 16:29] Jen7714 commented on #1783
Closing since the issue has been fixed.

[2020-05-29 16:29] #1783 closed

[2020-05-29 16:43] Jen7714 commented on #1236
Hello! Please try again with the latest Azure CLI version. Feel free to reopen an issue if it still doesn't work.

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-05-29 16:43] #1236 closed

[2020-05-29 16:56] Jen7714 commented on #1420
Hello! Please try again with the latest Azure CLI version. Feel free to reopen an issue if it still doesn't work.
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-05-29 16:56] #1420 closed

[2020-05-29 18:19] bquantump commented on #1790
@haroldrandom can you give some more information on this? I assume this is in regards to the test scenario VNET creation. I though I had fixed this in the PR:

I updated the test scenario based on your comment above, and seemed to have fixed the CI issue. Has the network SDK bumped again?

[2020-05-29 19:08] akashkeshari commented on #1789
Hi @vtomsa83 ,

Could you share the debug logs for this. Please run 'az connectedk8s connect --name {} --resource-group () --debug' and share the output.

[2020-05-29 19:35] TomGeske commented on #1260
are you asking about [thise one](https://docs.microsoft.com/en-us/azure/aks/faq#can-i-provide-my-own-name-for-the-aks-node-resource-group)?

In general aks-preview extension is used to ship preview features of our CLI experience. Once a feature graduates we move functionality from aks-preview into cli core.

@jluk may comment on "custom naming of AKS node resource group"

[2020-05-29 19:58] darthwillis commented on #1703
@greghenderson This appears to have been hotfixed. Are you still seeing the issue?

[2020-05-29 20:30] jluk commented on #1260
Yes, we will move the custom rg name commands into the core CLI build in the coming month. That's been delayed a bit but we will get it closed.

If this is strictly about that command, we can rename this issue to that scope and use this as the tracker.

[2020-05-29 22:06] bpdohall commented on #1446
I can reproduce this behavior, but it doesn't appear to be related to the `aks-preview` extension. The bare URL http://127.0.0.1:8001 returns JSON in either case.

The documentation is a bit ambiguous, it seems to suggest that navigating to the bare URL which is output by the `az aks browse` command will get you to the dashboard. https://docs.microsoft.com/en-us/azure/aks/kubernetes-dashboard#star

[2020-05-30 00:09] bpdohall commented on #1787
@Sam123ben - You should remove the extension `aks-preview` if you are blocked as the command has different logic in the GA version. `az extension remove --name aks-preview`

@yonzhan - There is a missing test for dictionary key presence in the [aks-preview _handle_merge()](https://github.com/Azure/azure-cli-extensions/blob/master/src/aks-preview/azext_aks_preview/custom.py#L2514). In the [acs modu

[2020-05-30 00:44] DevenWalia opened #1791 "Cli conditional params support"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
NA

### Description of issue (in as much detail as possible)

-----
My team has an usecase which allows us to have a cli extension & I have a quick question regarding conditional params support in clis.

Consi

[2020-05-30 00:52] Sam123ben commented on #1787
@bpdohall Thanks for that, I have removed the aks-preview as suggested but now I am getting the below error exception:

The command failed with an unexpected error. Here is the traceback:

'users'
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/knack/cli.py", line 215, in invoke
    cmd_result = self.invocation.execute(args)
  File "/usr/local/lib/python3.7/site-p

[2020-05-30 01:52] yonzhan commented on #1791
add to S171

[2020-05-30 02:41] haroldrandom commented on #1790
@bquantump
Did you record the test YAML file against the latest azure-mgmt-network?
If that so, could you fire a PR to fix it?

[2020-05-30 03:07] djsly commented on #1525
Correct, I was able to reproduce, this is a simple warning though and the `az aks get-credentials` command will still properly merge the configuration in you `~/.kube/config`

`az aks get-credentials`
[code]

[code]

[2020-05-30 03:11] djsly commented on #1525
a quick PR could look like this
[code]

[2020-05-30 03:16] bquantump commented on #1790
Is azure-mgmt-network 10.1.0 the correct version ? That’s the one I ran the test on that allowed the CI to pass in the PR.

[2020-05-30 03:25] haroldrandom commented on #1790
It's azure-mgmt-network. The virtual network API is 2020-04-01

[2020-05-30 03:31] bquantump commented on #1790
Uh ic ok, so the yaml is out of date with the network API. I’ll rerun with 10.2.0 then. It will take a bit since HSMs need a lot of pre-setup  to provision. Then the HSM provision itself  is about 20 mins.

[2020-05-30 03:41] bpdohall commented on #1787
@Sam123ben - seems like your kubeconfig is not playing along nicely at all with the `get-credentials` command.

There are 3 top level keys that should appear in your file `clusters`, `contexts` and `users`. The latest error can likely be resolved by adding a line that contains `users: []` to the end of the file `~/.kube/config`.

I would be tempted to rename the local file `~/.kube/config` and get

[2020-05-30 03:43] Sam123ben commented on #1787
@bpdohall yeah you are rte, i removed it and then it worked but still confused why its like that.

[2020-05-30 06:19] #1790 closed

[2020-05-30 13:56] yonzhan commented on #1613
add to backlog

[2020-05-30 15:35] kazimsomji opened #1794 "Intellisense not working for azure cli"
### Extension name

Azure cli extension version 0.5.0
azure cli version 2.6.0

### Description of issue

In VS code, Intellisense is not working and I have no code completion.  I also have powershell on this machine and intellisense works with no problems.  I can run code via the terminal but I just don't get code completion.

Environment summary

windows 10 Version 10.0.18363.8361909
VS Code Vers

[2020-05-30 23:50] yonzhan commented on #1794
@arrownj please take a look

[2020-05-31 08:39] prasannapad commented on #733
I am also running into the same issue as @mreid-contrast.  @tamirkamara do we have a resolution on this please?

[2020-05-31 09:45] tamirkamara commented on #733
@prasannapad Can you post the output of the command with the --debug flag?

[2020-05-31 13:47] greghenderson commented on #1703
Just ran a quick simple test, looks good.  Have several pipeline configurations to create, will report back results.

[2020-05-31 14:29] greghenderson commented on #1703
Created several pipelines, able to edit as expected in Azure Devops portal.  All good. :-)

[2020-05-31 14:29] #1703 closed

[2020-06-01 02:21] MyronFanQiu commented on #1642
I see. Empty scenario is also an edge case. Let me check it. Thanks.

[2020-06-01 02:48] yonzhan commented on #895
add to S172

[2020-06-01 03:29] yonzhan commented on #872
@qwordy please take a look

[2020-06-01 03:29] yonzhan commented on #879
add to S172

[2020-06-01 05:54] yonzhan commented on #814
devops

[2020-06-01 05:55] yonzhan commented on #819
aks

[2020-06-01 05:59] yonzhan commented on #773
aks

[2020-06-01 05:59] yonzhan commented on #752
AKS

[2020-06-01 06:00] yonzhan commented on #563
add to S172

[2020-06-01 06:01] yonzhan commented on #467
functionapp

[2020-06-01 06:02] yonzhan commented on #464
add to backlog

[2020-06-01 06:04] yonzhan commented on #504
iot edge

[2020-06-01 06:05] yonzhan commented on #482
resource graph

[2020-06-01 06:05] yonzhan commented on #516
ml

[2020-06-01 06:05] yonzhan commented on #515
ml

[2020-06-01 06:05] yonzhan commented on #514
ml

[2020-06-01 06:06] yonzhan commented on #511
iot

[2020-06-01 06:06] yonzhan commented on #518
ml

[2020-06-01 06:06] yonzhan commented on #509
ml

[2020-06-01 06:07] yonzhan commented on #512
ml

[2020-06-01 06:07] yonzhan commented on #498
resource graph

[2020-06-01 06:07] yonzhan commented on #495
bot service

[2020-06-01 06:08] yonzhan commented on #488
add to backlog

[2020-06-01 06:10] yonzhan commented on #473
add to backlog

[2020-06-01 06:12] yonzhan commented on #466
@qwordy please take a look

[2020-06-01 06:13] yonzhan commented on #952
Machine Learning

[2020-06-01 06:13] jiasli commented on #464
This is a very old version of Azure CLI. Please follow https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest to install the latest version and update `interactive` to 0.4.4 with `az extension update -n interactive`.

[2020-06-01 06:14] yonzhan commented on #915
resource graph

[2020-06-01 06:14] yonzhan commented on #883
ml

[2020-06-01 06:15] yonzhan commented on #875
Devops

[2020-06-01 06:15] yonzhan commented on #868
Front-Door

[2020-06-01 06:16] yonzhan commented on #861
@bim-msft please take a look

[2020-06-01 06:16] yonzhan commented on #857
aks

[2020-06-01 06:17] yonzhan commented on #845
ml

[2020-06-01 06:17] yonzhan commented on #836
add to S172

[2020-06-01 06:19] jiasli commented on #488
This is a very old version of Azure CLI. Please follow https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest to install the latest version and update `interactive` to 0.4.4 with `az extension update -n interactive`.

[2020-06-01 06:19] yonzhan commented on #831
add to S172

[2020-06-01 06:20] yonzhan commented on #826
ml

[2020-06-01 06:21] yonzhan commented on #797
add to S172

[2020-06-01 06:22] yonzhan commented on #796
add to S172

[2020-06-01 06:24] yonzhan commented on #777
add to S172

[2020-06-01 06:25] yonzhan commented on #684
ml

[2020-06-01 06:25] yonzhan commented on #673
aks

[2020-06-01 06:26] yonzhan commented on #694
aks

[2020-06-01 06:26] yonzhan commented on #699
add to S172

[2020-06-01 06:28] yonzhan commented on #750
iot hub

[2020-06-01 06:28] yonzhan commented on #650
aks-preview

[2020-06-01 06:28] yonzhan commented on #647
managementpartner

[2020-06-01 06:29] yonzhan commented on #635
aks

[2020-06-01 06:29] yonzhan commented on #628
add to Backlog

[2020-06-01 08:21] MyronFanQiu commented on #900
This should be already fixed.

[2020-06-01 08:21] #900 closed

[2020-06-01 09:53] yonzhan commented on #1640
add to S172

[2020-06-01 09:55] yonzhan commented on #1642
add to S172

[2020-06-01 10:25] yonzhan commented on #1655
add to S172

[2020-06-01 10:41] yonzhan commented on #1670
add to S172

[2020-06-01 10:43] yonzhan commented on #1673
@sunnyjit any update?

[2020-06-01 12:19] sunnyjit commented on #1673
Hi,
Sorry for replying late but I came to know that this is a known issue .
Generally when we run a graph query we get subscription id which is an alphanumeric type of string.
When we use --include displayname parameter the actual subscription name is also displayed as subscriptiondisplayname : <name of subsccription> .

This reply from support team says it will take time

[code]

however what sur

[2020-06-01 12:50] yonzhan commented on #1695
@plooploops any update for above?

[2020-06-01 15:10] mprince-capax opened #1797 "--license-type parameter needs an explanation"
The "--license-type" Shows the list of accepted values (advanced, earlyAdopter, express, professional, stakeholder).  But, there's no explanation of what these values are.
These names don't match up with the Azure DevOps doc:
https://docs.microsoft.com/en-us/azure/devops/organizations/security/access-levels?view=azure-devops

express = Basic
advanced = Basic + Test
stakeholder = Stakeholder
profes

[2020-06-01 15:43] jluk commented on #635
@david618 could you validate this is still reproducing for you on the latest CLI preview extension (0.4.50) and a supported k8s version today? Apologies for the delay in response.

[2020-06-01 15:44] jluk commented on #650
@tedescomicchidev could you confirm what client you are using this command from, was it cloud shell? The MSI endpoint seems to be a cloud shell based one I think.