[2020-06-01 15:45] jluk commented on #694
@accu-joeykarns can you post the exact command you ran with the full error output?

[2020-06-01 15:46] jluk commented on #673
I believe this is patched in now, closing as a result

[2020-06-01 15:46] #673 closed

[2020-06-01 15:47] jluk commented on #857
Closing as this is almost a year old, if the tunnel connection still fails for you please open a new ticket and we can take a look.

[2020-06-01 15:47] #857 closed

[2020-06-01 15:48] jluk commented on #752
This should be supported now, if it continues to fail please open a new issue and we will take a look.

[2020-06-01 15:48] #752 closed

[2020-06-01 15:49] jluk commented on #773
This dashboard issue should be improved since original opening, please retry and if issue persists open a new issue and we will take another look. Thanks!

[2020-06-01 15:49] #773 closed

[2020-06-01 15:49] jluk commented on #819
This dashboard issue should be improved since original opening, please retry and if issue persists open a new issue and we will take another look. Thanks!

[2020-06-01 15:49] #819 closed

[2020-06-01 20:18] cladic opened #1799 "Error log-analytics query...."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor log-analytics query
Extension Name: log-analytics. Version: 0.1.4.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az monitor

[2020-06-01 22:51] Haishi2016 opened #1803 "Unable to register a newly created k8s cluster with Arc"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az connectedk8s connect
Extension Name: connectedk8s. Version: 0.1.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az connectedk8s co

[2020-06-01 23:17] johnterickson commented on #1551
Hmm sounds familiar to https://github.com/dotnet/runtime/issues/31247

[2020-06-02 01:09] yonzhan commented on #1797
devops

[2020-06-02 01:10] yonzhan commented on #1803
connectedk8s

[2020-06-02 01:12] yonzhan commented on #1799
add to S172

[2020-06-02 02:35] MyronFanQiu commented on #1799
@jiasli Please take a look. It's a known issue for Knack/Azure CLI Core.

[2020-06-02 07:50] haroldrandom commented on #1587
@gusnaughton I think it's a feature to request to support Azure CLI resolve/install extension from a private registry.
Could you create another issue to track it? I will fix the original one here.

[2020-06-02 11:36] cladic opened #1811 "Result from log-analytics query have new data fields...but no data"
Since last May, 26th 2020 I noticed 85 new data fields when I execute a log-analytics query but **neither one have a data**.

The original data group have 61 data fields. Now we have a total of 146 data fields.

My questions:
* Where we can find any documentation about these **NEW** data fields ?
* And why they were created ? What is the goal of these new set of data fields ?

These are the new da

[2020-06-02 11:38] yonzhan commented on #1811
add to S172

[2020-06-03 00:07] j-so commented on #1744
We have released an [SDK patch](https://pypi.org/project/azureml-core/) to fix this issue. i.e. `pip install --upgrade azureml-core`

The `az ml submit-pipeline` command should now output correctly.

[2020-06-03 02:45] MyronFanQiu commented on #1811
@cladic I cannot find doc too. Let me invite service team.

[2020-06-04 05:01] #1613 closed

[2020-06-04 06:38] gaz91au opened #1823 "Disable AFD Backend Pool's Backend Host with Azure Cli"
Im trying to update an existing backend host of a AFD backend pool to have its status from Enabled to Disabled.

Is there a way to update existing backend host using the Azure cli?

Currently, i can only see `add`, `list` and `remove` in the docs:
- `az network front-door backend-pool backend add`
- `az network front-door backend-pool backend list`
- `az network front-door backend-pool backend rem

[2020-06-04 06:44] haroldrandom commented on #959
@mjannapureddy07 Could you have a test the patched PR I submit? Can it work?

[2020-06-04 06:56] yonzhan commented on #1823
add to S172

[2020-06-04 07:35] tsapnasi opened #1824 "Not able to connect AKS to Azure Arc using connectedk8s"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az connectedk8s connect
Extension Name: connectedk8s. Version: 0.2.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az connectedk8s co

[2020-06-04 09:07] MyronFanQiu commented on #1823
@gaz91au Hi. Sorry that currently we can just add a rule and remove a rule. I checked this toggle. We haven't support it right now. I would mark this issue as feature request and plan for it. @aramesh-msft FYI as well.

[2020-06-04 11:45] yonzhan commented on #1824
connectedk8s

[2020-06-05 01:27] gaz91au commented on #1823
thanks @yonzhan and @MyronFanQiu

i found that i can update the backend status by using the azure rest api.

[code]

[2020-06-05 01:27] #1823 closed

[2020-06-05 01:45] yungezz opened #1826 "CMK Az CLI Property id is invalid error"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
databricks

### Description of issue (in as much detail as possible)
https://msdata.visualstudio.com/Azure%20Databricks/_workitems/edit/771294
-----
All update operations are blocked in Az CLI
An error occurs

[2020-06-05 01:46] yungezz commented on #1826
HI @fengzhou-msft could you pls look at it? It seems user error, anyway let's make intuitive doc.

[2020-06-05 02:12] #959 closed

[2020-06-05 02:17] fengzhou-msft commented on #1826
It seems service has made the chage to add this check. In update command, we need to first get then call create_or_update. It's caused by service returning
[code]
in get response when we pass None for customVirtualNetworkId in request.
Please either fix the get response or support update `prepare-encryption` and other key properties in a patch request.

[2020-06-05 02:27] haroldrandom commented on #959
@mjannapureddy07 The fix has been merged. You could try to upgrade to 0.2.0 to have a try.

[2020-06-05 03:23] MyronFanQiu commented on #1503
@benc-uk Hi. I just tried to create a routing rule and it works. Could you please try `--accepted-protocols Http Https`?
[code]

[2020-06-05 03:54] #1362 closed

[2020-06-05 07:34] MyronFanQiu commented on #1543
@arcs002 Hi. The name of your collection should be wrong. I will fix the error message. Thanks for opening this issue.

[2020-06-05 07:43] MyronFanQiu commented on #1543
@arcs002 I believe this one is a rare edge case. Maybe you use other tools to manage same firewall manager before. I would fix this potential issue and refine error message. Thanks for opening this issue.

[2020-06-05 08:02] #1543 closed

[2020-06-05 08:45] #1041 closed

[2020-06-05 14:21] yonzhan commented on #1791
add to S172

[2020-06-05 18:03] anuragdalmia commented on #1733
investigating.

[2020-06-05 19:24] gusnaughton opened #1836 "Allow Azure Extensions to be installed from a private registry"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
Affects all extensions

### Description of issue (in as much detail as possible)
In the past, new releases of Azure-CLI-Extensions have included breaking changes in unrelated places without test coverage. Toda

[2020-06-05 19:24] gusnaughton commented on #1587
Sure thing, Harold. https://github.com/Azure/azure-cli-extensions/issues/1836

[2020-06-05 23:53] yonzhan commented on #1836
@fengzhou-msft please take a look

[2020-06-08 05:03] romiih opened #1841 "Unable to create read only api key for app-insights"
### Extension name (the extension in question)
application-insights

### Description of issue (in as much detail as possible)
I want to create a read only API key for Application Insight.
I tried below command but the created key had two permissions "Read telemetry, Write annotations".
[code]
without `--read--properties`, api key had three permissions "Read telemetry, Write annotations, Authentica

[2020-06-08 05:43] yonzhan commented on #1841
add to S172

[2020-06-08 06:32] MyronFanQiu commented on #1841
Please add `--write-properties '""'` and have a try.

[2020-06-08 07:05] romiih commented on #1841
Yes, I'm using PowerShell, and already tried `--write-properties ""` but didn't work.
`--write-properties '""'` solved my problem! Thank you for your quick reply.

[2020-06-08 07:05] #1841 closed

[2020-06-08 13:01] abarger-bss commented on #1551
I opened a support ticket with MS about this issue. They collected a few netsh traces from me and identified packet loss during my artifact download attempts, and requested I have my ISP check my equipment. My ISP (Spectrum, a division of Charter, if that helps anyone in the future) noted my modem was manufactured in 2014 and requested I replace it. Since replacing my modem, I still receive errors

[2020-06-08 13:01] #1551 closed

[2020-06-08 19:26] anuragdalmia commented on #1733
We are in the process of updating our latest version of CLI SDK to fix this. The current target for this is end of July. We will keep this thread updated.

[2020-06-08 21:24] dbradish-microsoft opened #1855 "Broken /cli/azure/ext/azure-cli-ml/ml/datastore links"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

**The following extension reference has two broken links:**
https://docs.microsoft.com/en-us/cli/azure/ext/azure-cli-ml/ml/datastore

### Description of issue (in as much detail as possible)

**The following

[2020-06-08 22:19] yonzhan commented on #1855
add to S172

[2020-06-08 23:55] kazimsomji commented on #1794
Thank you @yonzhan @XiaoningLiu

[2020-06-09 07:26] #1638 closed

[2020-06-09 07:53] #1052 closed

[2020-06-09 23:12] marwanad opened #1866 "[AKS] az aks get-upgrades --output table fails on extensions"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
aks-preview

### Description of issue (in as much detail as possible)
Running
[code]
fails with

[code]

The fix is to not use the agentPoolProfile when formatting the table since the field is nil. We need to

[2020-06-10 00:18] yonzhan commented on #1866
AKS

[2020-06-10 08:13] lolzyloz opened #1868 "Example for sharing a blob folder."
[Enter feedback here]
Could we include an example on how to share a blob folder? Suppose within a container i have a file c under the path a/b/c and also a folder c under the path a/b/c, how do i share folder c instead of file c?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 443539f0-7b45-4e8d-6ea9-1d62a74e9839
* Vers

[2020-06-10 08:54] yonzhan commented on #1868
@fengzhou-msft please take a look

[2020-06-10 09:07] jsntcy commented on #837
@tjprescott, Could you please help explain `That they still use the non-standard UX to silently create rulesets behind the scenes`? and how can we `update the extension to use the standard CLI UX`?

[2020-06-10 23:57] saurabhakumbhare commented on #415
Absolutely. Need this feature.

[2020-06-11 06:58] #950 closed

[2020-06-11 07:02] MyronFanQiu commented on #1695
removed myself since it's an installation issue.

[2020-06-11 09:39] #1587 closed

[2020-06-11 09:42] haroldrandom commented on #1587
@devaradhanm CLI now support install extension with specific version. This feature is going to ship in Azure CLI 2.8.0 and expected at 6/23/2020.

If it's urgent, you could try it against dev branch or edge build

[2020-06-11 15:53] trevors20 opened #1877 "Python Dependencies for an Azure CLI extension do not work"
Hi.  I am creating an extension where I need to grab some certificates from an Azure KeyVault that I own.  As well, be able to use EventHub to send some telemetry of my extension.

For this, I am trying to leverage the Python modules "azure-keyvault-certificates" and "azure-eventhub".  But, even though I have installed these modules on my system I am unable to use them in my extension.  I get the

[2020-06-12 03:17] yonzhan commented on #1877
@fengzhou-msft please take a look

[2020-06-12 05:38] #1296 closed

[2020-06-12 05:40] qwordy commented on #1619
@WillLennon Could you try this command?

[2020-06-12 19:41] michaelstaszewski commented on #1632
Add me to the list. I'm using the REST API to create a release and also have an artifact set to specify the version at time of creation. In my case the artifact is sourced from a universal feed and it's populated from another pipeline in another organization. Using latest version works as does setting my Release pipeline to trigger automatically when a new artifact version is published to the feed

[2020-06-13 07:35] plooploops commented on #1695
@yonzhan @MyronFanQiu

Looks like this will work now.

[code]

[2020-06-13 08:16] yonzhan commented on #624
iot

[2020-06-13 12:15] yonzhan commented on #619
add to backlog

[2020-06-13 12:17] yonzhan commented on #605
batch

[2020-06-13 12:18] yonzhan commented on #586
management-group

[2020-06-13 12:18] yonzhan commented on #575
iot

[2020-06-13 12:19] yonzhan commented on #561
front-door

[2020-06-13 12:19] yonzhan commented on #544
aks-preview

[2020-06-13 12:21] #890 closed

[2020-06-13 12:24] yonzhan commented on #909
add to S173

[2020-06-13 12:26] yonzhan commented on #533
iot

[2020-06-13 12:28] yonzhan commented on #743
add to S173

[2020-06-13 12:29] yonzhan commented on #654
iot

[2020-06-13 12:31] yonzhan commented on #617
add to S173

[2020-06-13 12:33] yonzhan commented on #528
add to Backlog

[2020-06-14 11:07] MyronFanQiu commented on #1695
@plooploops Hi. Could you please uninstall ml extension and install it again? We don't have this file in the latest azure cli. It should be a compatible issue.

[2020-06-14 12:05] yonzhan commented on #517
ml

[2020-06-14 15:29] vikramdillikar opened #1882 "Unable to create the RedHat OpenShift cluster on Azure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aro create
Extension Name: aro. Version: 1.0.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aro create --resource-group {} --n

[2020-06-14 22:34] yonzhan commented on #1882
aro

[2020-06-15 02:41] fengzhou-msft commented on #1541
Reproduced this issue with Python 3.6 and 3.7, but not with Python 3.8.

In Python 3.6 and 3.7, `_del_artifact_name(rg)` happens before `rg['artifact_name']` in:
`body['resource_groups'] = {rg['artifact_name']: _del_artifact_name(rg) for rg in resource_groups}`

I will submit a fix to process a copy of `rg` in `_del_artifact_name`.

[2020-06-15 08:48] mjudeikis commented on #1882
@vikramdillikar can you please try remove az aro extension and try using native az.
You are using the extension, which might be old already.

[2020-06-15 17:32] bgklein commented on #1668
Closing due to no response

[2020-06-15 17:32] #1668 closed

[2020-06-15 17:58] bgklein commented on #605
@grandparoach Are you still experiencing this? Sorry for only getting to this after 1+ years. Previously this repo was unmonitored by Batch.

If you still want this looked into (and you still have a template that is broken) could you share that? Otherwise I will resolve this issue at EOW.

[2020-06-16 00:15] Jen7714 commented on #1778
Closing this since Paul's comment answers it.

[2020-06-16 00:15] #1778 closed

[2020-06-16 07:00] lilyjma commented on #1207
@rloutlaw please take a look.

[2020-06-16 07:04] lilyjma commented on #1744
Closing this issue as it appears to be resolved. Please feel free to open a new issue if needed.

[2020-06-16 07:04] #1744 closed

[2020-06-16 07:05] lilyjma commented on #1069
hi @algattik is this still a problem that you're experiencing?

[2020-06-16 07:08] lilyjma commented on #1128
@rloutlaw please take a look.

[2020-06-16 08:56] MyronFanQiu commented on #1503
closed this issue since cannot reproduce. Feel free to open new issue if you still encounter this one.

[2020-06-16 08:56] #1503 closed

[2020-06-17 08:03] qwordy commented on #1756
I am not sure why it fails. Sometimes a HTTP request may fails and can succeed by retrying. Image copy does not have a retry mechanism. But according to the description in this PR, I don't think it's the cause.

[2020-06-17 08:07] qwordy commented on #1756
Could you add `--debug` to the command and run it again? I need logs to see where this error message come from.

[2020-06-17 12:17] rispoli commented on #1756
Apologies @qwordy, I do not have access to that user Subscription anymore, hence it's not possible for me to retry with `--debug`. It was repeatable, though. The customer and I both tried several times and it never succeeded.
Hopefully @kbute95 or @cwiederspan can still replicate the issue and run with a higher verbosity level?

[2020-06-17 12:46] puzits opened #1899 "Not able to update azure dev spaces client"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks use-dev-spaces
Extension Name: dev-spaces. Version: 1.0.4.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks use-dev-spaces

[2020-06-17 12:53] yonzhan commented on #1899
aks

[2020-06-17 13:12] yungezz commented on #1899
hi @rakeshvanga could you pls have a look? pls help to redirect if you're not right owner now, thanks.

[2020-06-17 22:29] vbliznikov opened #1900 "Can't list datashare accounts"
## Describe the bug
I just installed datashare extension and trying to play a little to get familiar with it. The first command throws and exception.

**Command Name**
`az datashare account list
Extension Name: datashare. Version: 0.1.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

[2020-06-18 03:21] a30001616 opened #1902 "Output documentation"
It would be helpful if the output was also documented. That way it would be easier to identify which command would be most useful. The one liner descriptions are often not helpful at all.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56cb2354-d192-0a20-6278-d889aa01bd6c
* Version Independent ID: 2e7a3b9b-6a63-6e51-7a53

[2020-06-18 05:44] yonzhan commented on #1902
ml

[2020-06-18 07:51] MyronFanQiu opened #1905 "test_azure_firewall_management_ip_config failed."
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

test_azure_firewall_management_ip_config failed. I think released package should fail.
### Description of issue (in as much detail as possible)

    E           Message: AzureFirewall af1 management IP config

[2020-06-18 07:55] yonzhan commented on #1905
add to S172

[2020-06-18 08:22] haroldrandom commented on #1608
Closed as plan to onboard pytest to azure-cli-extension CI.

[2020-06-18 08:22] #1608 closed

[2020-06-18 09:05] werton13 opened #1907 "az storage blob: 'directory' is not in the 'az storage blob'"
[Enter feedback here]

Hi there,
I find this article regarding  creating a directory in a storage blob container,
but it seems this doc: (https://docs.microsoft.com/en-us/cli/azure/ext/storage-preview/storage/blob/directory?view=azure-cli-latest) is not actual, cause when I trying to run it, I receiving the following error:

az storage blob: 'directory' is not in the 'az storage blob' command grou

[2020-06-18 10:11] yonzhan commented on #1907
add to S172

[2020-06-18 10:40] werton13 commented on #1907
I'm sorry, cause i skipped this:
To use the directory commands, please make sure your storage account type is StorageV2.
Azure Stack support only v1 Storage accounts, so the article is correct.

[2020-06-18 12:39] lunarfs commented on #1557
Thanks for your support, I think this boils down to an old installation. We have now upgraded to the latest and greatest. and the issue is gone. It for sure looks like azure develop on the API and that getting to fare behind is a bad idea.

[2020-06-18 12:39] #1557 closed

[2020-06-18 13:17] nanohest opened #1909 "az image copy to multiple regions exits prematurely"
### Extension name
image-copy-extension

### Description of issue
When specifying multiple target locations, the command silently exits, and images are not copied.
Example:
[code]
And it just exits, right there. Images never show up.

However, if I add a `--parallel-degree 1` to the command, it will copy just fine:
[code]
So it would seem like things go wrong somewhere around here: https://github.

[2020-06-18 16:13] ComradeCow opened #1910 "Application Insights daily data cap cannot be set to fractional number via CLI"
## Describe the bug

The daily data cap in Application Insights can be set to a non-integer number (eg. 0.1).   The `az monitor app-insights component billing update` command only allows integer numbers.

When using `az monitor app-insights component billing show`, the data volume cap is returned as a non-integer number.

The `billing update` command should be updated to accept fractional numbers

[2020-06-19 00:58] yonzhan commented on #1910
add to S172

[2020-06-19 01:42] qwordy commented on #1557
Glad to see your problem is solved.

[2020-06-19 01:54] yungezz commented on #1909
hi  @qwordy could you pls have a look? thanks

[2020-06-19 02:35] #1277 closed

[2020-06-19 03:19] #1597 closed

[2020-06-19 03:31] MyronFanQiu commented on #1640
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/componentContinuousExport_API.json

[2020-06-19 04:18] #1257 closed

[2020-06-19 05:07] MyronFanQiu commented on #699
Closed this issue since it's a question and has been answered. Feel free to reopen it if you still encounter this issue.

[2020-06-19 05:07] #699 closed

[2020-06-19 05:22] MyronFanQiu commented on #1910
@ComradeCow Thanks for raising this issue. Let me reproduce and fix it.

[2020-06-19 06:59] Juliehzl commented on #1655
Hi @TobiTh, `az storage blob directory access show` is for ADLS Gen2 command. Currently we already support it in azure-cli not extension. You can use `az storage fs access` to set/show permissions  of files/directories in your ADLS Gen2 account.

By the way, for the issue you reported, can you share more information with `--debug` in your command?

[2020-06-19 07:49] TobiTh commented on #1655
Hi @Juliehzl the `az storage fs access show` does work, but only when I add the account-key param.

[code]
[code]

[2020-06-19 08:04] TobiTh commented on #1655
@Juliehzl Here is the output of the storage extension command with --debug:
[code]

[2020-06-19 10:01] #1598 closed

[2020-06-19 10:01] #1541 closed

[2020-06-19 13:32] yonzhan commented on #837
add to backlog

[2020-06-20 05:02] fengzhou-msft commented on #1877
This is a known issue that CLI cannot import namespace packages starting with `azure` installed in extension directories.

With this [PR](https://github.com/Azure/azure-cli/pull/13163), you can now call `add_extension_to_path` to extend the `azure` namespace with extension directories and use packages installed there. You can add the call in the `load_command_table` method of your extension.

[2020-06-21 02:06] #1826 closed

[2020-06-22 06:07] qiaozha opened #1917 "Generic Update has problem"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
datafactory see https://github.com/Azure/azure-cli-extensions/pull/1321

### Description of issue (in as much detail as possible)
1. if the generic_update_setter name is properties . it will become properties.

[2020-06-22 06:13] yonzhan commented on #1917
Generic Update

[2020-06-22 19:53] arsnyder16 opened #1918 "purge a specific front end domain"
Is it possible to purge content from a front end

Based on the front door example if i have  `images.contoso.com` and `videos.contoso.com` and i want to purge just `images.contoso.com`

Is that possible?
Based on the docs it all seems to be relative paths.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e1b5ddd-0054-01

[2020-06-22 21:03] matt1405 commented on #580
I've had this with a simple .txt file
 "azure-cli": "2.7.0",
  "azure-cli-command-modules-nspkg": "2.0.3",
  "azure-cli-core": "2.7.0",
  "azure-cli-nspkg": "3.0.4",
  "azure-cli-telemetry": "1.0.4",
  "extensions": {
    "interactive": "0.4.4"

Again worked fine without interactive

[2020-06-22 22:13] yonzhan commented on #1918
add to S173

[2020-06-22 23:27] aamorale opened #1920 "az image copy doesn't allow copy images across regions with snapshots attached"
Please include a note that mention about a possible failure if the VM Image has Snapshots attached since it will not possible changing the property "sourceuri" for the snapshot of a managed disk. Please refer the following example:

command failed: ['/usr/local/xxxx/azure-cli/2.2.0_1/libexec/bin/python', '-m', 'azure.cli', 'snapshot', 'create', '--resource-group', 'image-copy-rg', '--name', 'image

[2020-06-23 01:49] plooploops commented on #1695
@MyronFanQiu

We're still seeing the message.  Here's the steps taken so far:

[code]
For now I have moved the C:\users\myuser\.azure\cliextenisons\azure-cli-ml folder and re-installed.  We're still seeing the error message for 'Error Loading command module ml'.

![image](https://user-images.githubusercontent.com/2498998/85351606-0d1a5380-b4b9-11ea-826f-65fd3693b681.png)

[2020-06-23 01:52] yungezz commented on #1920
hi @qwordy could you pls have a look?

[2020-06-23 02:20] arrownj commented on #1794
Hi @kazimsomji , please kindly be noted that CLI do not support code completion on Windows. You can try code completion on Linux.

[2020-06-23 02:37] MyronFanQiu commented on #1695
@j-so Hi. Could you please take a look since we cannot check the source code for ml extension. In azure cli core, I cannot find `help_files`.

[2020-06-23 03:45] kazimsomji commented on #1794
Hi,

I have another Windows 10 machine and code completion works on that one.

[2020-06-23 06:20] qiaozha commented on #1917
I have hidden the not working update now so that DF onboard will not be blocked by this. Please ping me when you start to work on this。 @jsntcy

[2020-06-23 07:27] haroldrandom commented on #563
Closed as release procedure of extension has updated. https://github.com/Azure/azure-cli-extensions#about-extension-publishing

User don't have to build, upload WHL file and update index.json manually if code is hosted inside.

[2020-06-23 07:27] #563 closed

[2020-06-23 07:40] MyronFanQiu commented on #1642
@dlopes7 Hi. I cannot reproduce this issue. Usually the root cause should be service issue and I think they have fixed them. Could you install the latest extension and try again?

[2020-06-23 19:05] dlopes7 commented on #1642
Latest version 0.1.8 still presents the same issue, but since the account did not have app insights I am ok with it

[code]

[2020-06-23 20:47] j-so commented on #1695
@MyronFanQiu ml extension has no reference in our code to `azure.cli.core.help_files`. Closest we have to is an import from knack: `from knack.help_files import helps`

[2020-06-24 00:24] MyronFanQiu commented on #1642
@dlopes7  Hi. Can you run the command with --debug and paste the part of https response? I think this issue should be a service issue? We can help you route this issue to service team with your help.

[2020-06-24 00:49] dlopes7 commented on #1642
I can't seem to be able to run with `--debug`

[code]

[2020-06-24 01:02] MyronFanQiu commented on #1695
@jiasli Do you know any potential reason? I cannot file this `help_files` at all, even in the history of two years ago.

[2020-06-24 01:13] MyronFanQiu commented on #1642
Hi @dlopes7  Could you run `az monitor app-insights component show --debug`?

[2020-06-24 01:18] dlopes7 commented on #1642
My bad, it looks like the response is an empty array `[]`

[code]

[2020-06-24 02:21] MyronFanQiu commented on #1642
https://github.com/Azure/azure-rest-api-specs/blob/847317c96b37d744f4b837fe1a66ece98a2828cb/specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2018-05-01-preview/components_API.json#L574-L578

@sameergMS Hi. Service's response is not consistent with swagger spec. Please fix the server's issue.

[2020-06-24 10:00] jsntcy commented on #879
@ehuggz, I guess you want to get instrumentation key for application insights, is it true?
- If yes, then you should use the command `az monitor app-insights component show -g {} -a {}` which will return the result containing that instrumentation key.
`{
  "appId": "",
  "applicationId": "",
  "applicationType": "web",
  "connectionString": "InstrumentationKey=xxxxxxxx",
  "id": "",
  "instrumenta

[2020-06-24 10:04] jsntcy commented on #836
@ahmad2x4, @RajGogri, this issue has already been fixed. Please upgrade to latest Azure CLI version to verify.

[2020-06-24 10:04] #836 closed

[2020-06-24 14:23] Blankf opened #1929 "Addition to authorization with environment variable"
is it possible that --requires-authorization looks at the $env:AZURE_DEVOPS_EXT_PAT variable like other cmdlets do?
this way we can automate the import from a template through an azure devops pipeline.

for example like:
https://docs.microsoft.com/en-us/azure/devops/cli/log-in-via-pat?view=azure-devops&tabs=windows

thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-06-24 14:26] yonzhan commented on #1929
devops

[2020-06-25 17:43] tarockey opened #1931 "az ml pipeline list-drafts return value is difficult to parse"
Unlike other modules (such as az ml model list), the list-drafts call returns data with an additional line "PipelineDraft:" for every draft returned this way. This makes it much more difficult to parse the json programmatically because every other line must be skipped when looking for properties (such as id, name, etc.).

For example, when calling az ml model list, the returning data is:
[code]

w

[2020-06-25 17:44] tarockey commented on #1931
This is also an issue for the command `az ml pipeline list`

[2020-06-25 19:11] tarockey commented on #1931
Suggested fix - either remove the "PipelineDraft:" values entirely, or format as such:
[code]

[2020-06-25 23:27] yonzhan commented on #1931
ml

[2020-06-26 07:35] athanell commented on #1751
Hi @rohancragg , try using the public key itself inside quotes instead of the path to the public key.
i.e
`` az ml computetarget create computeinstance --name my-ci --vm-size STANDARD_DS2_V2 --admin-user-ssh-public-key "ssh-rsa AA bla bla bla" --ssh-public-access True``

[2020-06-26 10:50] mjudeikis commented on #1882
@yonzhan how can we close those?

[2020-06-26 10:56] #1882 closed

[2020-06-26 14:24] tspi opened #1934 "azcopy does not exists in storage?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca6c18f2-5519-f5c1-a384-fd9a5f80fd66
* Version Independent ID: 95ddbc9e-85fa-1554-d2c0-db38393e9e3b
* Content: [az storage azcopy blob](https://docs.microsoft.com/en-us/cli/azure/ext/storage-preview/storage/azcopy/blob?view=azure-cli-latest)
* Content

[2020-06-26 14:54] yonzhan commented on #1934
add to S173

[2020-06-26 14:59] niswitze opened #1935 "az costmanagement query does not provide a way to overwrite property Granularity"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
costmanagement

### Description of issue (in as much detail as possible)
az costmanagement query does not provide a way to overwrite property Granularity. It is set to 'Daily' by default and the extension shou

[2020-06-26 15:09] yonzhan commented on #1935
add to S173

[2020-06-26 18:26] adithya203 opened #1936 "az login in PowerShell fails with "Please ensure you have network connection""
when I'm trying login Azure portal in Power Shell through az login command I'm unable to login

I'm attaching the error message!!
<img width="601" alt="Capture" src="https://user-images.githubusercontent.com/67480678/85889247-12c5b100-b7b9-11ea-8bbd-41b3a3de93c8.PNG">

I tried with different proxy settings but didn't worked..

[2020-06-27 00:34] yonzhan commented on #1936
add to S173

[2020-06-28 02:48] jsntcy commented on #879
@ehuggz, any update on this issue?

[2020-06-28 02:59] jsntcy commented on #831
@gesada, I just ran the command you mentioned `az monitor app-insights events show --app "xxxx-xxxxx-xxxxx-xxxx" --type dependencies --start-time` and got the following result, could you tell me what is your expected result?
`{
  "aimessages": [
    {
      "additionalProperties": null,
      "code": "AddedLimitToQuery",
      "details": null,
      "innererror": null,
      "message": "The query

[2020-06-28 05:41] jiasli commented on #1936
It looks like the connection to https://login.microsoft.com/ has been blocked by your network. Could you try visiting it in a browser and try command:

[code]

[2020-06-28 13:47] chhtw opened #1943 "Fail to run "az connectedk8s connect""
I tried to follow https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/connect-cluster to connect k8s, but got an error after I ran the command "az connectedk8s connect",  not quite sure how to fix it.

`The command failed with an unexpected error. Here is the traceback:
Expecting value: line 1 column 1 (char 0)
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/

[2020-06-28 13:50] yonzhan commented on #1943
connectedk8s

[2020-06-29 06:36] akashkeshari commented on #1943
@chhtw ,

Can you run the following command and share the output so that we can look into the issue:
'az rest -m post -u https://eastus.dp.kubernetesconfiguration.azure.com/azure-arc-k8sagents/GetLatestHelmPackagePath?api-version=2019-11-01-preview --resource https://management.core.windows.net/ --debug'

To unblock you, run the following commands:
1. export HELMREGISTRY=azurearcfork8s.azurecr.io/

[2020-06-29 06:39] akashkeshari commented on #1753
@cosmos0703 ,

I think you have the similar issue: https://github.com/Azure/azure-cli-extensions/issues/1758

[2020-06-29 07:27] fengzhou-msft commented on #1900
@jiasli can you take a look at the AccessToken error message? Is it related to https://github.com/Azure/azure-cli/issues/9427?

[2020-06-29 08:27] chhtw commented on #1943
@akashkeshari , Here is the log for 'az rest -m post -u https://eastus.dp.kubernetesconfiguration.azure.com/azure-arc-k8sagents/GetLatestHelmPackagePath?api-version=2019-11-01-preview --resource https://management.core.windows.net/ --debug'

Command arguments: ['rest', '-m', 'post', '-u', 'https://eastus.dp.kubernetesconfiguration.azure.com/azure-arc-k8sagents/GetLatestHelmPackagePath?api-version=

[2020-06-29 14:33] adithya203 commented on #1936
Hi,

I got some Traceback and timeout error: winerror 10060.

On Sun, Jun 28, 2020 at 01:42 Jiashuo Li <notifications@github.com> wrote:

[2020-06-29 16:14] adithya203 commented on #1936
This is the error I'm getting with that command

![image](https://user-images.githubusercontent.com/67480678/86030172-2021ac00-ba02-11ea-9308-759ff2d60230.png)

[2020-06-29 20:24] klawrawkz commented on #1480
This still happens with the latest version as of 6/29/2020.
[code]

![image](https://user-images.githubusercontent.com/48074223/86052046-5e2fc780-ba24-11ea-8584-186640d1ad36.png)

I see above that there is a work-around. I navigated to the link and didn't see any work-around guidance. All I saw was that there was a PR in April that supposedly fixes this.

Since it's still happening, I'll plead _co

[2020-06-29 20:32] lgmorand commented on #1646
same need here. It's been in preview for six months

[2020-06-29 21:42] melborp opened #1945 "az cli application-insights api-key creates with wrong permissions"
### Extension name: **application-insights**

### Description of issue

The default behavior of creating an api-key with the az cli application-insights extension is that it will add full permissions if  None is supplied.
If i would like to create a read only or write only api-key, then i cant seem to do it with the az cli.

1) `az monitor app-insights api-key create --read-properties ReadTelemetr

[2020-06-29 22:16] ekpgh opened #1946 "Copied example has extra spaces"
When I copy the az hpc-cache create example, the result has line breaks which turn into spaces when I paste it into another text document. There are spaces/line breaks in "re source_group" and "sub nets"

az hpc-cache create --resource-group "scgroup" --name "sc1" --location "eastus" \
--cache-size-gb "3072" --subnet "/subscriptions/{{ subscription_id }}/resourceGroups/{{ re
source_group }}/provid

[2020-06-29 23:34] yonzhan commented on #1945
add to S173

[2020-06-29 23:36] yonzhan commented on #1946
add to S173

[2020-06-30 01:04] MyronFanQiu commented on #1945
@melborp Hi. You could use `--read-properties '""' --write-properties '""'` to remove all permissions.  I would add one more example at least.

[2020-06-30 01:39] jiasli commented on #1480
Hi @klawrawkz, you are using

[code]

Please run `az extension update -n interactive` to get the latest version 0.4.4.

[2020-06-30 01:49] jiasli commented on #1936
Does https://login.microsoftonline.com/ work in the browser?

The error from `python` indicates you don't have access to https://login.microsoftonline.com/, you may contact your organization administrator or ISP to make sure you can open https://login.microsoftonline.com/ correctly.

[2020-06-30 01:49] yungezz commented on #1943
interesting it loading all cli command modules

[2020-06-30 02:09] jiasli commented on #1943
@yungezz, this is exactly why we need command index (https://github.com/Azure/azure-cli/pull/13294). 😉

[2020-06-30 03:14] jiasli commented on #1791
Unfortunately, this complicated relationship between parameters is not supported by [argparse](https://docs.python.org/3/library/argparse.html) on which Azure CLI is built. It is also impossible to show such conditional "mandatory" in `--help` message in the built-in way of argparse.

As a workaround, you may make all of them optional and use `_validators.py` (such as [vm/_validators.py](https://g

[2020-06-30 03:14] #1791 closed

[2020-06-30 14:47] KantarBruceAdams opened #1950 "azure artifacts --scope & --project options are unrecognised"
[Enter feedback here]

The text describes the publishing options with an exapmple:

However when you run the command you discover that the `--project` and `--scope` options are not recognised.

cli.azure.cli.core.parser : az: error: unrecognized arguments: --scope project
az: error: unrecognized arguments: --scope project

They are not described under az artifacts --help.
I suspect they have been

[2020-06-30 14:56] yonzhan commented on #1950
devops

[2020-06-30 15:15] KantarBruceAdams commented on #1950
It looks like I had and old version of the devops extension and fixed this by running:

     az extension update --name azure-devops

I ran az update but it did not update the extension or report that the extension was out of date. Hence my confusion.

[2020-06-30 15:51] klawrawkz commented on #1480
Hi @jiasli,

Thanks for the info. I didn't realize we needed to update extensions.  Makes sense tho, and now it's working.

[2020-06-30 17:39] rachel-msft commented on #941
@achandmsft and Lomis for follow up

[2020-06-30 17:39] rachel-msft commented on #942
@achandmsft and Lomis for follow up

[2020-06-30 20:37] lgmorand commented on #1646
@yene if I'm not wrong, I got this well-placed info that it should be **included this month**. We still keep the limitation of providing a non-existing RG, because AKS need a dedicated RG to stores its resources

[2020-06-30 22:57] melborp commented on #1945
@MyronFanQiu I tested with the '""' value and it does work with it. Thank you.

I still believe its wrong to set default permissions for writing, when i am supplying permissions for reading and nothing for writing.

Further, In the az powershell module they dont separate read and write permissions and the appinsights api key creation in portal doesnt separate it either. Its just a list of permissi

[2020-06-30 23:59] yonzhan commented on #941
add to S173

[2020-07-01 00:01] yonzhan commented on #942
add to S173

[2020-07-01 01:24] MyronFanQiu commented on #1945
Agree that we should not set default permission for writing. But they have been there for a long time. Removing permission would be a breaking change. I would add example first and add warning about the incoming breaking change. Then open another issue to track this one. Thanks for your suggestion.

[2020-07-01 02:01] changlong-liu opened #1953 "--help parameter description: handle comma in enum value"
We found this strange "Allowed values" description in containerregistry.
![image](https://user-images.githubusercontent.com/59815250/86194469-225e4480-bb81-11ea-9a44-a3d126f31385.png)

It's generated with below code:
[code]

And the swagger definition for that parameter is:
[code]

[2020-07-01 02:16] yonzhan commented on #1953
handle comma in enum value

[2020-07-01 07:42] melborp commented on #1945
@MyronFanQiu makes sense to take it in steps to handle the breaking change and the workaround is working.

[2020-07-01 07:45] halradaideh opened #1956 "copying failed due timeout of the token"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

image-copy-extension

### Description of issue (in as much detail as possible)
the plugin failed to copy the image and due token invalidity,

code :

[code]
To open an issue, please run: 'az feedback'

-----

[2020-07-01 12:44] rathishrms commented on #1573
i face a similar issue as well.
{'Azure-cli-ml Version': '1.8.0', 'Error': MlCliError({'Error': 'Error parsing --inference-config-file. Must be valid JSON or YAML file.', 'Response Content': MlCliError({'Error': 'Error while parsing file. Must be valid JSON or YAML file.', 'Response Content': JSONDecodeError('Expecting value: line 1 column 1 (char 0)',)},)},)}

[2020-07-01 20:34] mhpaf opened #1958 "az costmanagement query not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az costmanagement query
Extension Name: costmanagement. Version: 0.1.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az costmanagemen

[2020-07-01 20:46] dwrusse opened #1959 "az network vpn-site not in 2.8.0"
PS C:\Users> az network vpn-site
az network: 'vpn-site' is not in the 'az network' command group. See 'az network --help'. If the command is from an extension, please make sure the corresponding extension is installed. To learn more about extensions, please visit https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensions-overview
PS C:\Users> az --version
azure-cli                          2.

[2020-07-01 22:23] yonzhan commented on #1959
add to S173

[2020-07-01 22:24] yonzhan commented on #1958
add to S173

[2020-07-02 04:10] yungezz commented on #1956
hi @halradaideh are you trying to run the command in Cloudshell? If yes, it's a known issue in Cloudshell https://github.com/Azure/azure-cli/issues/11749. As a workaround, pls run `az login` explicity.

[2020-07-02 04:49] #64 closed

[2020-07-02 06:22] halradaideh commented on #1956
yes from cloud shell

thank you will try that out.

[2020-07-02 06:49] Juliehzl commented on #1900
It is caused by track2 support issue in azure cli core and I am fixing it now.

[2020-07-02 11:13] nfsbendix opened #1963 "az kusto cluster create failing"
# Describe the bug

**Command Name**
`az kusto cluster create
Extension Name: kusto. Version: 0.1.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create a resource group in an azure subscription
- Open an azure shell
- Run the command:  `az kusto cluster create --cluster-name myku

[2020-07-02 14:23] winterscar opened #1964 "az devops security permission update for build service"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
devops

### Description of issue (in as much detail as possible)
The devops security permission update command requires a `--subject` value. However, I can't find seem to find the details for the auto-generate

[2020-07-02 14:59] yungezz commented on #1964
routing to appropriate team

[2020-07-02 14:59] yungezz commented on #1963
routing to appropriatea team

[2020-07-02 15:26] radennis commented on #1963
Adding @ilayrn
@yungezz  How do we change who is cced on Kusto changes? It is being routed to the incorrect person currently.

[2020-07-02 15:44] yungezz commented on #1963
hi @radennis could you share the right contact point?

[2020-07-02 15:57] radennis commented on #1963
Please add @ilayrn for now and remove me. @ilayrn is there anyone else you want to be on the contacts?

[2020-07-02 19:43] ilayrn commented on #1963
@nfsbendix, there's a new version for Azure CLI with up-to-date support for all the functionality provided by Kusto. To install it, run the command: "az extension add -n kusto". After it's installed, the command should work - docs can be found here: https://docs.microsoft.com/en-us/cli/azure/ext/kusto/kusto?view=azure-cli-latest

@yungezz, please add @orhasban as well

[2020-07-02 20:48] alexsorokoletov opened #1966 "Can't upload directory from Azure CLI (latest)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob directory upload
Extension Name: storage-preview. Version: 0.2.10.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az st

[2020-07-03 05:09] #1694 closed

[2020-07-03 09:00] jsntcy commented on #831
@gesada, any update on this issue?

[2020-07-03 12:46] yonzhan commented on #1966
add to S173

[2020-07-03 16:28] vbalaut opened #1970 "Issue while creating az fusion azure-zone create"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az fusion azure-zone create
Extension Name: fusion. Version: 0.4.2.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az fusion azure-zone

[2020-07-03 22:36] admin-simeon opened #1971 "Azure DevOps CLI Create Service Connection with Installation Token"
### Extension name: Azure DevOps

### Description
How do I create a GitHub service connection using an InstallationToken (the installed GitHub app) instead of an OAuth flow/PAT?

I can see the following service connection in one of my existing orgs, by running:
```az devops service-endpoint list```
[code]

But how do I create such a connection using the DevOps CLI? It only seems to support OAuth o

[2020-07-03 23:43] yonzhan commented on #1970
az fusion

[2020-07-03 23:44] yonzhan commented on #1971
devops

[2020-07-05 01:10] #1907 closed

[2020-07-05 03:48] #1936 closed

[2020-07-05 03:49] yonzhan commented on #1936
Solution provided.

[2020-07-05 21:30] tomaszms opened #1972 "Not able to run aks get-versions command"
## Describe the bug

**Command Name**
`az aks get-versions
Extension Name: aks-preview. Version: 0.4.47.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-versions --location {} --output {}`

## Expected Behavior

## Environment Summa

[2020-07-05 23:00] yonzhan commented on #1972
aks

[2020-07-06 03:19] jsntcy commented on #879
Close this now as no response from customer for a long time.
@ehuggz, if you think the issue still exists, please reopen this issue.

[2020-07-06 03:19] #879 closed

[2020-07-06 03:20] jsntcy commented on #831
Close this now as no response from customer for a long time.
@gesada, if you think the issue still exists, please reopen this issue.

[2020-07-06 03:20] #831 closed

[2020-07-06 13:09] yene commented on #1646
Thank you to everyone involved. Good work!

[2020-07-06 13:09] #1646 closed

[2020-07-06 14:17] vbalaut commented on #1970
I checked in and found when my role is a contributor and I am using  storage-managed-identity value in command, it's giving me this issue

  return op(**command_args)
  File "/Users/vbalaut/.azure/cliextensions/fusion/azext_fusion/custom.py", line 57, in create_azure_zone
    storage_managed_identity_object = VirtualMachineIdentity.deserialize(**storage_managed_identity,**
  File "/usr/local/Cella

[2020-07-06 17:29] atulaggarwal commented on #1972
As stated in [github issue](https://github.com/Azure/azure-cli-extensions/issues/1783#issuecomment-635786889), That was a bug in 0.4.47, it's fixed in the following versions.

[2020-07-06 17:53] Jen7714 commented on #1972
Closing since this issue has been fixed.

[2020-07-06 17:53] #1972 closed

[2020-07-06 18:51] marwanad commented on #1866
fyi: the issue is opened by AKS team and tracked internally

[2020-07-07 01:27] yungezz commented on #1970
hi @vbalaut which extension you're using ? cannot find `azext_fusion` in our released extensions.

[2020-07-08 13:23] efrederickmb commented on #1702
Please advise. We are working on an automation solution as we create custom apps per customer with a notification-hub per customer. We have 100's of these to configure and really could leverage the automation.

I'm seeing the same error:

az notification-hub credential apns update --debug \
--resource-group "myresourcegroupname" \
--namespace-name "myhubnamespace" \
--notification-hub-name "myhubn

[2020-07-08 15:02] FMauroy opened #1988 "How can we replace a deployment?"
Hi, we use layered deployments and are wondering how to best handle the replacement of a deployment.

Context:
- we build images from Azure DevOps, and set a tag with the build number. We have to do that because when using 'latest', the edge agent doesn't detect the update unless we do a manual 'docker pull' on the device;
- we put the build number in the layered deployment manifest;
- we then dep

[2020-07-08 15:36] viclin-msft commented on #1632
Related: maikvandergaag/msft-extensions#119

[2020-07-08 17:22] gillbuchanan commented on #1455
I am facing the same issue. Using the steps outlined above I get

[code]

[2020-07-08 18:58] jamihuq opened #1989 "--zones should be used instead of --node-zones"
[Enter feedback here]

![image](https://user-images.githubusercontent.com/34562407/86959221-0deeee80-c123-11ea-837d-10e8dd56a42a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92444562-0540-adf6-3c3e-33b181bd10d4
* Version Independent ID: 3267c97e-819b-d945-fc28-2b75e35f2647
* Content: [az aks nodepool](https://do

[2020-07-08 22:46] yonzhan commented on #1989
aks

[2020-07-08 22:47] yonzhan commented on #1988
iot

[2020-07-09 05:14] jiasli commented on #1664
Azure CLI internally relies on `urllib3`'s retry logic. As `500` is returned by ARM, we need further ARM log to investigate.

[2020-07-09 05:14] #1664 closed

[2020-07-09 18:11] neilamoran commented on #1207
Is there any update on this? From the current docs it seems as though this isn't currently possible with the devops cli extension - any plans? I would really like to use this functionality to create consistent variable groups across multiple projects with a keyvault backend.

[2020-07-09 20:57] ekpgh opened #1997 ""Unexpected keyword argument 'junction'" when I didn't pass argument 'junction'"
### **This is autogenerated. Please review and update as needed.**

## Complaint about junction when it was not passed?

I had trouble getting a storage target update command to work - it timed out - possibly errors in the junction syntax when I was trying to change a junction. So I stopped trying to change a junction and tried to change the usage model.

Command I issued to get this response was

[2020-07-09 22:38] yonzhan commented on #1997
add to S173

[2020-07-10 14:28] MatchingRadar opened #2003 "Azure TSI Create issue - 'NoneType' object is not iterable"
## Create TSI issue - https://docs.microsoft.com/en-us/cli/azure/ext/timeseriesinsights/timeseriesinsights/environment/standard?view=azure-cli-latest#ext-timeseriesinsights-az-timeseriesinsights-environment-standard-create

**Command Name**
`az timeseriesinsights environment standard create
Extension Name: timeseriesinsights. Version: 0.1.2.`

**Errors:**
[code]

## To Reproduce:
- `az timeseriesi

[2020-07-10 14:33] yonzhan commented on #2003
add to S173

[2020-07-11 13:29] #1677 closed

[2020-07-12 17:02] jmostella commented on #1966
I believe I ran into the same issue when running on __Linux__. I have submitted a PR https://github.com/Azure/azure-cli-extensions/pull/2005

(technical explanation of the root cause is in my PR comment)

[2020-07-12 19:40] admin-simeon commented on #1971
Bump. Not supported?

[2020-07-13 02:38] haroldrandom commented on #1958
Do you might give it a try on the latest Azure CLI? 2.8.0?

[2020-07-13 03:21] haroldrandom commented on #617
Close as extension has been able to been published automatically and able to detect complete bug in developing stage.
Besides, the breakdown for unavailable extension is not common and the fix is easy to be done, so unnecessary to have a live test for extension for now unless @qwordy could help migrate the live test pipeline in Azure CLI to Azure CLI extensions.

[2020-07-13 03:21] #617 closed

[2020-07-13 04:27] MyronFanQiu commented on #1959
it's in azure cli extension. Please run `az extension add -n virtual-wan` first.

[2020-07-13 15:55] y9988 opened #2007 "Unable to create blueprint template from datalake gen2 template file"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az blueprint artifact template create
Extension Name: blueprint. Version: 0.1.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Export Storage Account Datalake Gen2 template fi

[2020-07-13 17:35] phenggeler commented on #1799
I also encountered this issue:

`The command failed with an unexpected error. Here is the traceback:
cli.azure.cli.core.util :
Traceback (most recent call last):
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-363drsgw\knack\knack\cli.py", line 221, in invoke
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-363drsgw\knack\knack\output.py", line 151, in out
  File "C:\Users\VSSADM~

[2020-07-13 19:09] JamesEarle opened #2008 "No Databricks extension installation instructions."
I was able to find the extension installation instructions in the `README.md` [here](https://github.com/Azure/azure-cli-extensions/blob/e6df9392bf1a03b0213293a51865cbb64e46e301/src/databricks/README.md) but this is not documented using Microsoft Docs, even though many tutorials and other information is. The existence of the reference for `az workspace` [here](https://docs.microsoft.com/en-us/cli/a

[2020-07-13 19:37] pskelley55 opened #2009 "Example needed showing how to update property value containing a space ' ' character"
Platform: Windows 10  PowerShell CLI
Assume Device Twin holds:
"time_settings": {
"timezone_id_name": "Mountain Standard Time",
"utc_offset": "-07:00",
"dst_observed": true,
"dst_active": true
}
Show how to update property "timezone_id_name" using value "Pacific Standard Time"

Expecting answer to be of this form (please correct as needed):
PS C:\> az iot hub device-twin update --hub-name sznacaio

[2020-07-13 19:40] pskelley55 commented on #2009
Sorry, forgot to add the above question centers around Azure CLI device-twin property modification using PowerShell.
Hopefully, this question will get to the correct expert. :-)

[2020-07-13 19:59] #2007 closed

[2020-07-13 20:04] y9988 commented on #2007
I understand how to specify parameters...

Template :
[code]

Parameters :
[code]

But must have specified parameters on blueprint creation :
[code]

[2020-07-13 20:47] pskelley55 commented on #2009
Never mind. Found my answer:
az iot hub device-twin update --hub-name sznacaiottest --device-id 000680082b53 --set properties.desired='{\"time_settings\":{\"timezone_id_name\": \"Pacific Standard Time\", \"dst_observed\":true, \"utc_offset\":\"-07:00\", \"dst_active\":true}}'

With the help of this web-page:
https://github.com/Azure/azure-iot-cli-extension/wiki/Tips

Resolved.  Thanks anyway.

[2020-07-13 23:56] yonzhan commented on #2009
iot hub

[2020-07-14 01:54] qwordy commented on #617
Good advice. I can extend the pipeline to support extension.

[2020-07-14 07:13] aelij commented on #1446
The documentation has been updated to address this issue. Closing.
https://docs.microsoft.com/en-us/azure/aks/kubernetes-dashboard

[2020-07-14 07:13] #1446 closed

[2020-07-14 07:16] Juliehzl commented on #909
Hi @thatguylong, sorry for late response because it is missed during transition. There is breaking change in `storage-preview` extension. please use `az extension update -n storage-preview` to upgrade your extension. otherwise you have to downgrade your azure-cli because the breaking change in azure cli 2.0.67 see here https://github.com/Azure/azure-cli/pull/9635.

[2020-07-14 07:16] #909 closed

[2020-07-14 07:21] Juliehzl commented on #743
@fengzhou-msft  could you help take a look?

[2020-07-14 07:23] Juliehzl commented on #743
dupe of https://github.com/Azure/azure-cli-extensions/issues/743

[2020-07-14 07:23] #743 closed

[2020-07-14 07:23] Juliehzl commented on #743
please try to install again

[2020-07-14 16:31] juliakm opened #2019 "Creating a data factory with Azure CLI triggers error"
This was my initial command:

[code]
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az datafactory factory create
Extension Name: datafactory. Version: 0.1.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requ

[2020-07-14 20:27] sshah90 opened #2021 "costmanagement : Invalid definition type 'AmortizedCost'; valid values: 'Usage'."
### Extension name

costmanagement

[code]

### Description of issue (in as much detail as possible)

I am running following command to create export job for `AmortizedCost`.

[code]

But I am getting following error

[code]

Can someone help here, please?

[2020-07-14 22:21] yonzhan commented on #2021
add to S174

[2020-07-14 22:25] yonzhan commented on #2019
datafactory

[2020-07-14 23:07] fl-max commented on #2021
Does not appear to work with the REST API either:

**export_sub.json**
[code]

**Command:**
[code]

**Result:**
[code]

All documentation seem to suggest this works for both the [azure-cli](https://docs.microsoft.com/en-us/cli/azure/ext/costmanagement/costmanagement/export?view=azure-cli-latest#ext-costmanagement-az-costmanagement-export-create-optional-parameters) and [REST API](https://docs.micr

[2020-07-14 23:10] yonzhan commented on #2021
@fl-max service team should look into this.

[2020-07-15 05:10] #777 closed

[2020-07-15 07:44] MyronFanQiu commented on #1918
@arsnyder16 Hi. Sorry for the delay. I think you can just delete one front end.

[2020-07-15 07:55] yungezz commented on #2008
hi @JamesBirdsall is this helpful https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensions-overview?view=azure-cli-latest#install-extensions?

[2020-07-15 07:56] #2009 closed

[2020-07-15 15:14] ap-bansal opened #2024 "Adding a Variable to through AZ Pipelines"
[Enter feedback here]
Hello,

I want to add a variable each time I make or update a pipeline using AZ CLI.
How can I do that? I just need to add a placeholder variable to each pipeline (name only, its value can be empty string).
Will this feature be added, or is it already there?

Regards,
Apar

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-07-15 15:33] yonzhan commented on #2024
pipelines

[2020-07-15 20:19] vamsivellanki opened #2025 "az vm: 'repair' is not in the 'az vm' command group"
When executing this az vm repair command getting error as below
Executed command: az vm repair create -g TestAz -n TestVM
Error: **az vm: 'repair' is not in the 'az vm' command group**. See 'az vm --help'. If the command is from an extension, please make sure the corresponding extension is installed. To learn more about extensions, please visit https://docs.microsoft.com/en-us/cli/azure/azure-cli-

[2020-07-16 08:21] MyronFanQiu opened #2030 "az cli application-insights api-key creates with wrong permissions"
Remove default write permission. Should be done at least after 2020.10.01

[2020-07-16 08:21] MyronFanQiu commented on #2030
follow up for #1945

[2020-07-16 10:13] yonzhan commented on #2030
add to S174

[2020-07-16 12:11] Juliehzl commented on #1934
it exists. you can use `az storage copy/remove` and `az storage blob sync` in latest azure cli.
`az storage azcopy blob` exists in `storage-preview` extension. you need to install the extension with `az extension add -n storage-preview` first.
But the first one in azure cli should be the same and recomended.

[2020-07-16 12:11] #1934 closed

[2020-07-17 00:01] yungezz commented on #2025
hi @qwordy could you pls help to have a look?

[2020-07-17 01:53] qwordy commented on #2025
Run this command.
[code]
Adding it to azure cli main repo depends on multiple factors including the usage data.
@fengzhou-msft Could you share your plan about this issue? A more helpful message? Install it automatically when invoking?

[2020-07-17 02:50] Juliehzl commented on #1900
The fix https://github.com/Azure/azure-cli/pull/14187 is done. please try with azure cli 2.9.1.

[2020-07-17 08:00] vhe1 opened #2034 "az pipelines release create does not read --artifact-metadata-list"
So I can run the build pipelines nicely, get the id's from it (it is the id field in the rood of the returned json, right), I know the aliases, but when I run

az pipelines release create --definition-name "ReleasePipelineName" \`
    --artifact-metadata-list $metaDataList \`
    --organization $org \`
    --project $project \`
    --open

where $metaDataList is something like
`AliasA=261156 Alias

[2020-07-17 09:16] vhe1 commented on #2034
Was a quoting issue. The solution is

- use the integer build numbers
- build a command line like `$commandLine = "az pipelines release create --definition-name `"MyPipe`" --artifact-metadata-list $idList --organization $org --project $project --open"`
- use `Invoke-Expression $commandLine` to split everyting properly into parameters.

[2020-07-17 09:16] #2034 closed

[2020-07-17 23:09] JamesEarle commented on #2008
@yungezz I believe you meant to @ me, not James Birdsall?

This does provide extension installation instructions, but nowhere in the documentation for DataBricks as it specifically mentioned that an extension installation is required because it is not under `az` by default. It would be nice to add this detail somewhere so it's clear that if using `az` CLI you're required to perform this step

[2020-07-18 06:05] vamsivellanki commented on #2025
Yes, only after adding this extension we are able to run the az vm repair command.
This is most useful command while troubleshooting issues on VMs when there is need to create VMs and attaching disks
Installing command when invoked will be helpful if this is not added in module by default or adding the command "az extension add -n vm-repair" to the document https://docs.microsoft.com/en-us/cli/azu

[2020-07-19 20:39] amitkumarcn opened #2036 "Wrong query example"
[Enter feedback here]

az graph query -q "where type =~ "Microsoft.Compute" | project name, tags" --subscriptions 11111111-1111-1111-1111-111111111111, 22222222-2222-2222-2222-222222222222

Above mention query does not execute, for multiple subscriptions, subscriptions should be space seperated, rather then comma seperated.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-07-19 22:57] yonzhan commented on #2036
resource graph

[2020-07-20 11:17] karlti opened #2039 "request: "az ml computetarget create aks" why hardcoded "load-balancer-subnet" name?"
[Enter feedback here]

Hello,
when creating an AKS cluster via **"az ml"** CLI extension, apparently the subnet name  in **"--load-balancer-subnet"** has to be **"aks-subnet"**. This seems to be mandatory.

This conflicts with naming-conventions in big corporations!

Can this not be changed to choose a custom subnet name?

Thank you  in advance.

Karl Tietze

EMEA CSS Azure Machine Learning Servic

[2020-07-20 12:26] yungezz commented on #2039
routing to appropriate team

[2020-07-20 18:13] pierregarcia commented on #1702
It seems the Endpoint Urls have changed
`gateway.push.apple.com` is now `https://api.development.push.apple.com:443/3/device`
`gateway.sandbox.push.apple.com` is now `https://api.sandbox.push.apple.com:443/3/device`

This will work:
[code]

[2020-07-21 01:34] #1910 closed

[2020-07-21 02:43] MyronFanQiu commented on #1959
close this issue since it's usage issue and should be solved.

[2020-07-21 02:43] #1959 closed

[2020-07-21 03:06] fengzhou-msft commented on #1702
@tjsomasundaram can you confirm @pierregarcia's comment about the change of APNS endpoint URLs?

[2020-07-21 03:13] #1945 closed

[2020-07-21 05:05] #1584 closed

[2020-07-21 06:34] tjsomasundaram commented on #1702
Hi, the sandbox url is right and the format provided by @pierregarcia is accurate. Thanks for providing the info!

For production, this is the endpoint url: "api.push.apple.com", not the development endpoint noted above (https://api.development.push.apple.com:443/3/device). So you would need to use: `https://api.push.apple.com:443/3/device`

According to Apple, you can also use port 2197 (instead

[2020-07-22 17:41] pranaysahith opened #2056 "'az ml computetarget attach aks' should support "internal" LoadBalancer"
### Extension name (the extension in question)
azure-cli-ml

### Description of issue (in as much detail as possible)
Currently `az ml computetarget update aks` command supports to update LoadBalancer to Internal type but this commands needs the AKS cluster to be already attached to the AML.
It will be useful to support the `[--load-balancer-type]` argument to `az ml computetarget attach aks` comm

[2020-07-22 22:38] yonzhan commented on #2056
ml

[2020-07-23 02:47] #1900 closed

[2020-07-24 00:58] johsun-msft commented on #868
A redirect routing rule means that frontdoor would return a 300 level status code directly to client, without forwarding the request to your backend. Thus, it is not possible to specify a backend pool for a redirect routing rule.

[2020-07-24 01:35] aramesh-msft commented on #561
@wurp for any follow-up.

This the latest doc - https://docs.microsoft.com/en-us/cli/azure/ext/front-door/network/front-door/waf-policy/rule/match-condition?view=azure-cli-latest
And here are various example test cases - https://github.com/Azure/azure-cli-extensions/blob/master/src/front-door/azext_front_door/tests/latest/test_waf_scenarios.py

[2020-07-24 03:25] Juliehzl commented on #1655
Hi @TobiTh, to use `--auth-mode login`, you will need to grant RBAC role according to https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-rbac-portal?toc=/azure/storage/blobs/toc.json#rbac-roles-for-blobs-and-queues.

For more information about ACLs, you can refer to https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-access-control#role-based-access-control.

[2020-07-24 05:51] Juliehzl commented on #1655
I just added such support in `az storage fs access`  in next release with PR https://github.com/Azure/azure-cli/pull/14506. you could try to use with edge build now or stable version after 08/04/2020.

So I will close the issue now and if you still have problem, feel free to create a new one or reopen it.

[2020-07-24 05:51] #1655 closed

[2020-07-24 14:33] sarah026 opened #2066 ""az network firewall network-rule delete" note"
Hi,
If there is only one rule in the collection then this command won't let you delete the rule... because then the collection will have no rules, which seems to be a requirement.
**az network firewall network-rule delete**

`az : AzureFirewallRuleCollection /subscriptions/[removed] must contain at least one rule
At line:1 char:1
+ az network firewall network-rule delete --verbose --firewall-name

[2020-07-24 16:23] vamsivellanki commented on #2025
@fengzhou-msft , could you provide update?

[2020-07-24 23:06] yonzhan commented on #2066
add to S174

[2020-07-24 23:12] anuragdalmia commented on #1733
This has delayed because of some design changes that we had to undertake. New target for this is Aug 31.

[2020-07-27 05:50] Juliehzl commented on #1966
fix in new release. please upgrade the extension version with `az extension update -n storage-preview`

[2020-07-27 05:50] #1966 closed

[2020-07-27 06:05] qwordy commented on #1636
This feature is not officially supported and tested. Theoretically, it can be done if "blob copy" supports cross-tenant copy.

[2020-07-27 06:21] Juliehzl commented on #1636
`az storage copy` supports copy cross tenant if you provide SAS url for source and destination.

[2020-07-27 06:49] qwordy commented on #1650
`disk['account_name']` should be `storage_account_name` according the source code.
"Still having the issue, tried using PowerShell and cloudshell. without any luck". It indicates that it is not only a problem in Azure CLI. Could you try using Azure CLI instead of Terraform to see if it still happens?

[2020-07-27 07:10] qwordy commented on #1619
I cannot reproduce this issue and have not found cause based on the description. Close it now. Please open a new one if there is any issue.

[2020-07-27 07:30] jiasli commented on #1799
[`MemoryError`](https://stackoverflow.com/questions/40399933/memoryerror-when-loading-a-json-file) indicates the operating system is running out of memory.

https://github.com/microsoft/knack/blob/4cb4c2e0516f760b08defa8b9afacc004f7e4fac/knack/output.py#L36-L41
Azure CLI uses the built-in [`json` module](https://docs.python.org/3/library/json.html) to parse the result of `az monitor log-analytics

[2020-07-27 07:33] jiasli commented on #1799
[`MemoryError`](https://stackoverflow.com/questions/40399933/memoryerror-when-loading-a-json-file) indicates the operating system is running out of memory.

https://github.com/microsoft/knack/blob/4cb4c2e0516f760b08defa8b9afacc004f7e4fac/knack/output.py#L36-L41

[code]

Knack uses the built-in [`json` module](https://docs.python.org/3/library/json.html) to dump the result of `az monitor log-analyt

[2020-07-27 07:40] #1619 closed

[2020-07-27 10:17] mguster opened #2072 "Support an already existing node resource group on 'az aks create' with custom resource group names for infrastructure resources"
Assuming there is an already existing resource group 'MyAks-Nodes' created by IT department with some policies and role assignments and this resource group is foreseen as target for the aks node resources.

When creating the cluster with $NodeResourceGroupName = 'MyAks-Nodes' ...

[code]
The following error is reported:
[code]

Is there a reason why the k8s node resources should not be applied to

[2020-07-27 10:33] yonzhan commented on #2072
aks

[2020-07-27 12:36] TomGeske commented on #2072
Not all cluster resources we create in nodes resource have unique names.

@jluk for visibility

[2020-07-27 16:12] mguster commented on #2072
I see. But it would be nice to leave this to the users responsibility and just return a warning instead of error and abort.

[2020-07-27 17:01] jluk commented on #2072
A major risk in supporting existing resource groups to pass in as a custom infrastructure RG is that AKS cannot easily detect if there are existing resources and upon deletion of AKS, which resources should be deleted / impacted. Today AKS assumes we own the entire RG, as result we limit new RGs only to be passed as a custom RG to host IaaS for a cluster.

Hopefully this gives some insight into th

[2020-07-27 17:03] #2072 closed

[2020-07-27 22:26] ggg333 commented on #1966
I ran in to the same issue, and did the update of the extension and now running in to Permission Denied

[Errno 13] Permission denied

[2020-07-27 22:29] ggg333 commented on #1966
`{
  "extensionType": "whl",
  "metadata": {
    "author": "Microsoft Corporation",
    "author_email": "azpycli@microsoft.com",
    "azext.isPreview": true,
    "azext.minCliCoreVersion": "2.0.67",
    "classifiers": [
      "Development Status :: 4 - Beta",
      "Intended Audience :: Developers",
      "Intended Audience :: System Administrators",
      "Programming Language :: Python",
      "

[2020-07-27 22:44] carlosonunez commented on #965
I'm actually seeing this behavior today.

This is the extension I want to install:

[code]

But I get 500s upon trying to install it:

[code]

This works just fine through the UI, however.

[2020-07-27 23:18] jmostella commented on #1966
@ggg333 Yes I also saw this one as well. It looks like the Darwin binary was originally checked in without the execute flag set.

It is incidentally fixed in another PR https://github.com/Azure/azure-cli-extensions/pull/2020/files

Would you mind opening a separate issue?

[2020-07-28 02:28] Dongbumlee opened #2077 "az connectedk8s connect has been failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az connectedk8s connect
Extension Name: connectedk8s. Version: 0.2.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az connectedk8s co

[2020-07-28 02:40] Dongbumlee commented on #2077
After setting HELM registry URL by manually, it works.

SET HELMREGISTRY=azurearcfork8s.azurecr.io/batch1/stable/azure-arc-k8sagents:0.2.4

[2020-07-28 03:17] arrownj commented on #2077
Hi @akashkeshari , could you please help with this issue ? Thanks

[2020-07-28 03:33] akashkeshari commented on #2077
Hi @Dongbumlee

Can you run the following command and share the output so that we can look into the issue:
'az rest -m post -u https://eastus.dp.kubernetesconfiguration.azure.com/azure-arc-k8sagents/GetLatestHelmPackagePath?api-version=2019-11-01-preview --resource https://management.core.windows.net/ --debug'

To unblock you, run the following commands:

1. set HELMREGISTRY=azurearcfork8s.azurecr

[2020-07-28 10:46] fengzhou-msft commented on #2025
@vamsivellanki we are developing a feature to dynamically install extensions for the command you run: https://github.com/Azure/azure-cli/pull/14478 ETA is to release on August 4th.

[2020-07-28 11:39] henti opened #2079 "az image copy fails with `No module named azure.cli.__main__"
## Extension name (the extension in question)
image-copy-extension (version 0.2.6)

### Description of issue (in as much detail as possible)
[code]
-----

[2020-07-28 12:03] GossiTheDog opened #2080 "Should have bias free warning"
Important

Bias-free communication
Microsoft supports a diverse and inclusionary environment. This article contains references to the words allowlist and blacklist. The Microsoft style guide for bias-free communication recognizes this as an exclusionary word. The word is used in this article for consistency because it’s currently the word that appears in the software. When the software is updated

[2020-07-28 12:23] yonzhan commented on #2079
image copy

[2020-07-28 12:24] yonzhan commented on #2080
add to S174

[2020-07-28 15:13] Dongbumlee commented on #2077
Thanks team,
After setting HELMREGISTRY, it has been sorted out.

Cheers,
-DB

From: akashkeshari <notifications@github.com>
Sent: Tuesday, July 28, 2020 12:34 PM
To: Azure/azure-cli-extensions <azure-cli-extensions@noreply.github.com>
Cc: DB Lee <DB.Lee@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-cli-extensions] az connectedk8s connect has been failed (#2077)

H

[2020-07-28 20:15] rachel-msft commented on #942
I believe this is still on-track for yonzhan's team's s173

[2020-07-28 20:15] rachel-msft commented on #941
I believe this is still on-track for yonzhan's team's s173

[2020-07-28 21:34] vladris opened #2082 "az datafactory pipeline create fails"
I've been trying to use az datafactory pipeline create passing it a .json file with ```@json```.

I tried to eliminate issues with the JSON so I picked a very simple one from the unit tests here: https://github.com/Azure/azure-cli-extensions-pr/blob/305e20c86670c03eedac152cf7aa3ca85752ebe9/src/datafactory/azext_datafactory/manual/tests/latest/test_datafactory_scenario.py

Json file is:
[code]

Com

[2020-07-28 21:44] golaat opened #2083 "image-copy-extension seems to ignore --subscription paramater"
Issuing an `az image copy`  without any parameters shows an optional `--subscription` parameter. Setting the --subscription parameter seems to be ignored in favor to what the default subscription is set to.

So, if I set my default subscription to via `az account set --subscription foo` and then try to run the following command, it fails to find my source resource group of fhi-lab-shared-hub-rg

`

[2020-07-28 22:18] yonzhan commented on #2083
@qwordy please take a look

[2020-07-28 22:19] yonzhan commented on #2082
@fengzhou-msft please take a look

[2020-07-28 23:29] mpchen opened #2084 "Add support for allowBlobPublicAccess flag for Storage accounts creation"
[Enter feedback here]

Can we add cli support for the "allowBlobPublicAccess" flag? this is a new setting (https://docs.microsoft.com/en-us/azure/storage/blobs/anonymous-read-access-prevent).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df8607c4-c478-8fba-09d5-91bf30939bfc
* Version Independent ID: 0ab8cdfd-867c-4205

[2020-07-29 01:30] arrownj commented on #2084
Hi @Juliehzl , could you please help with this issue ? Thanks

[2020-07-29 01:52] Juliehzl commented on #941
Hi @duncanjw , it should be fixed in latest version. could you upgrade version with `az extension update -n db-up` and try again?

[2020-07-29 02:43] yonzhan commented on #2084
add to S174

[2020-07-29 02:49] #1866 closed

[2020-07-29 03:34] jmostella commented on #1966
@ggg333 Could you try it again? The other PR I mentioned above has been merged this morning.

[2020-07-29 06:07] #1946 closed

[2020-07-29 06:08] jiasli commented on #1946
Thanks for the feedback. We have removed the extra line breaks from the examples. The document will be updated in the next CLI release.

[2020-07-29 07:01] dbradish-microsoft opened #2088 "az account reference content is stating that --display-name is optional; also needs clarification of an enrollment account"
# Primary feedback
Link to reference --> https://docs.microsoft.com/en-us/cli/azure/ext/subscription/account?view=azure-cli-latest

### description of command
Create a subscription.

### now create a subscription
az account create --enrollment-account-name  mySub --offer-type MS-AZR-0148P

#### see error
MissingParameter - Required parameter DisplayName not provided.

### check reference content
h

[2020-07-29 07:07] jiasli commented on #2088
@wilcobmsft, could you help with this issue?

[2020-07-29 07:53] kaletkamk opened #2089 ""project" not an optional parameter"
`Project` is specified in documentation as optional parameter, but it's required.

`az pipelines queue show --id 4529`
`--project must be specified. The value should be the ID or name of a team project. You can set a default value by running: az devops configure --defaults project=<ProjectName>.`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-07-29 07:55] yonzhan commented on #2089
pipelines

[2020-07-29 08:25] jsntcy commented on #1917
Offline synced with @qiaozha,

The root cause of the issue is because the type of response from Get() is different from the type of "properities" for Create_Or_Update(). One solution for this issue is that we should return instance.Properities instead of instance from method datafactory_linked_service_update(). Another solution is making the type of "properities" for Create_Or_Update() the same as

[2020-07-29 08:25] #1917 closed

[2020-07-29 09:28] Juliehzl commented on #942
Hi @duncanjw, we are fixing the issue you raised.
@rachel-msft Here is our new design for `az postgres down`.
![image](https://user-images.githubusercontent.com/49508232/88782683-74b27580-d1c0-11ea-9dda-7cbe86a9a905.png)

If customers specify `--resource-group` or `--server-name`, we will crash the specified server.
If none of them, we will try to find server name in cache , clear cache and delete

[2020-07-29 14:03] ggg333 commented on #1966
@jmostella Still running in to the same issue

`The command failed with an unexpected error. Here is the traceback:

[Errno 13] Permission denied: '/Users/ganesh.palanisamy/.azure/cliextensions/storage-preview/azext_storage_preview/azcopy/azcopy_darwin_amd64_10.3.1/azcopy'
Traceback (most recent call last):
  File "/usr/local/Cellar/azure-cli/2.6.0/libexec/lib/python3.8/site-packages/knack/cli.py"

[2020-07-29 14:52] jmostella commented on #1966
@ggg333 So the last line shows its still pointing to azcopy `v10.3.1`, the last update should be pointing to `v10.5.0`

Theres a few things you can try, given that you have already run `az extension update -n storage-preview` again (after the last merge)

1. check that `/Users/ganesh.palanisamy/.azure/cliextensions/storage-preview/azext_storage_preview/azcopy/azcopy_darwin_amd64_10.5.0/` exists if

[2020-07-29 16:00] ggg333 commented on #1966
@jmostella i removed the folder like you shared and then did "az extension add -n storage-preview" and tried "az extension update -n storage-preview". When listed the folder /Users/ganesh.palanisamy/.azure/cliextensions/storage-preview/azext_storage_preview/ i see only the following and not the 10.5.0

2154IADGANP:solutioninsight ganesh.palanisamy$ cd /Users/ganesh.palanisamy/.azure/cliextensions/

[2020-07-29 16:07] ggg333 commented on #1966
@jmostella : the way i fixed it is by downloading the azcopy_darwin_amd64_10.5.1 and extract it under "/Users/ganesh.palanisamy/.azure/cliextensions/storage-preview/azext_storage_preview/azcopy/" and deleted the azcopy_darwin_amd64_10.3.1 and created a symlink to azcopy_darwin_amd64_10.5.1 as azcopy_darwin_amd64_10.3.1. Now it works. But this isn't the right way to fix though. Not sure why update

[2020-07-29 16:35] jmostella commented on #1966
@ggg333 Yeah definitely not the way we want to solve it. I tested on my Mac and see the same thing happening. Definitely looks like an issue with `az extension add\update`.

Will open an issue about this later, and add you.

[2020-07-30 00:04] flyingUnderTheRadar opened #2093 "Az Front door - Load balancing - How can I set the latency to force round robin from az cli"
Info or functionality missing
- Page needs info on how I can tweak the default load balancer (Didn't see an update) latency settings.
- Additionally since I can't update I created another one. What is the behavior when there are more than one load balancers set up?
- Can I choose which load balancer is active at any point of time?

When I try to delete the default loadbalancer that is created I ge

[2020-07-30 01:26] arrownj commented on #2093
Hi @MyronFanQiu , could you please help with this issue ? Thanks

[2020-07-30 01:53] yonzhan commented on #2093
add to S174

[2020-07-30 14:25] samueljamkhandi-MSFT commented on #569
@yonzhan @qwordy - is this issue being tracked and any further updates on when we can have a fix for this....

[2020-07-30 16:45] flyingUnderTheRadar commented on #2093
As an update I was able to get around it by creating a new load balancer, creating a new backend pool with this load balancer and the default health probe and then deleting the default backend pool. That's a pretty round about way to update latency. It would be really helpful if either
- No default pools are created
- Update functionality for backend pool includes load balancer OR load balancer ha

[2020-07-30 19:41] seethehippo opened #2101 "az aro create fails on Windows with 'NoneType' object has no attribute 'object_id'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aro create
Extension Name: aro. Version: 1.0.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aro create --resource-group {} --n

[2020-07-30 22:28] yonzhan commented on #569
@qwordy please help with this.

[2020-07-30 22:33] yonzhan commented on #2101
aro

[2020-07-31 01:43] MyronFanQiu commented on #2093
@flyingUnderTheRadar Hi. Thanks for the suggestion. I would investigate this issue and improve the user experience based on your suggestion later.

[2020-07-31 02:03] vladris opened #2103 "Import to Git using az datafactory factory configure-factory-repo"
### DevOps Extension

### Description of issue
-----
I'm using ```az datafactory factory configure-factory-repo``` to add VSTS to a Data Factory. If I use the UI, there is an option to automatically import all existing Data Factory objects (pipelines etc.) to Git. As far as I can tell, the command line version doesn't have that option.

That means that if I add a repo with Azure CLI, the repo will

[2020-07-31 02:04] arrownj commented on #2103
Hi @fengzhou-msft , could you please help with this issue ?

[2020-07-31 03:20] qwordy commented on #569
It is a known issue. Currently I don't have a concrete plan. You could try shared image gallery before this feature is supported.
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/shared-image-galleries

[2020-07-31 07:34] #895 closed

[2020-07-31 08:54] MyronFanQiu commented on #1918
@arsnyder16 Hi, Are you still meeting this issue?

[2020-07-31 09:19] MyronFanQiu commented on #1905
close this issue since it's been solved

[2020-07-31 09:19] #1905 closed

[2020-07-31 11:53] arsnyder16 commented on #1918
@MyronFanQiu Yes i don't see a way to do this can you be more specific on how to purge the cache of a specific domain. I heard from other another issues that this wasn't possible so i am curious on how you suggest we can do this

[2020-07-31 14:21] FilBot3 opened #2107 "az boards iteration team list, where to get the Team ID?"
Looking at the documentation for `az boards iteration team list` it requires a team id for it to list. However, there doesn't seem to be a way to list the teams without knowing first the id. Where can we get that ID?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 876612e4-7fe4-0078-24e9-110ad121f526
* Version Independe

[2020-07-31 15:23] yonzhan commented on #2107
devops

[2020-07-31 17:07] samueljamkhandi-MSFT commented on #569
@qwordy - I tried with SIG and it works pretty much fine even with image having data disks. But, was looking for an update on the az image copy as well

[2020-07-31 20:30] abarrionuevodevops opened #2108 "Error creating an application rule from az firewall"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network firewall application-rule create
Extension Name: azure-firewall. Version: 0.5.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._

[2020-07-31 22:42] FilBot3 commented on #2107
I'm not sure I follow. Can you elaborate as to what you're saying?

[2020-08-01 00:09] yonzhan commented on #2107
devops service team should look into this.

[2020-08-01 00:10] yonzhan commented on #2108
add to S174

[2020-08-01 03:10] #941 closed

[2020-08-01 03:47] yonzhan commented on #1958
@mhpaf  any update?

[2020-08-01 14:24] jmostella commented on #1966
Tested out today on `OSX`, and verified the latest version is available and working

[code]

[code]

Apologies for the confusion. Looks like the [site](https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensions-list?view=azure-cli-latest) doesn't get updated with the latest versions automatically. But the latest versions are visible via the cli

[2020-08-02 22:49] rajkrishnamurthy opened #2109 "Unable to addon IngressGateway"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks enable-addons
Extension Name: aks-virtual-node. Version: 0.2.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-add

[2020-08-02 23:51] hansolo2218 opened #2110 "need to find out if az datafactory pipeline create-run command finishes - need a show of run_id"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa8bd249-9305-3c25-8bca-d911c5b86880
* Version Independent ID: f50fd6b7-c141-982c-5362-f123b9e5bf04
* Content: [az datafactory pipeline](https://docs.microsoft.com/en-us/cli/azure/ext/datafactory/datafactory/pipeline?view=azure-cli-latest)
* Content S

[2020-08-02 23:52] hansolo2218 commented on #2110
data factory create-run command doesn't tell you if it ran successfully.  get command or show command doesn't filter for run_id success - there is  no monitor command

[2020-08-03 00:45] yonzhan commented on #2109
aks

[2020-08-03 00:46] yonzhan commented on #2110
@fengzhou-msft please take a look

[2020-08-03 01:57] MyronFanQiu commented on #1918
@arsnyder16 Let me dig into it and confirm with service team to see whether we can do it or not. I might misunderstand your requirement. Sorry about that.

[2020-08-03 02:05] MyronFanQiu commented on #2108
Based on your error message, there is a quote together with 80. Could you confirm your script to remove the `'`?

[2020-08-03 03:16] Juliehzl commented on #2084
Done in https://github.com/Azure/azure-cli/pull/14422.

Please use main azure cli with latest version and make sure storage-preview extension not installed.

[2020-08-03 03:16] #2084 closed

[2020-08-03 05:54] TomGeske commented on #2109
aks-virtual-node extension shouldn't be needed anymore. Can you remove it and try again?

`az extension remove -n aks-virtual-node`

[2020-08-03 06:19] MyronFanQiu commented on #2093
@flyingUnderTheRadar Hi, Here are the answers from my perspective. If you have any more question, I can invite service team to answer since they have more knowledge.
- It's a good suggestion. We will support `update` command later. Currently, we can only set the latency at the creation step.
- Regarding to this question, If I understand it correctly, I think you want to add LB Settings into a back

[2020-08-03 11:53] ronikurnia1 opened #2114 "az monitor app-insights api-key show --> is this still valid?"
[Enter feedback here]

Hi,
Just tried to show the API-Key with the following command on Azure Cloud CLI, but got the following message:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8baafade-06ad-e452-af14-7798fb17209f
* Version Independent ID: 45201db1-8a1c-f2f9-9771-32a179db6b73
* Content: [az monitor app-in

[2020-08-03 12:07] yonzhan commented on #2114
add to S174

[2020-08-03 13:32] yungezz commented on #1650
hi @narookak is there any update?

[2020-08-03 14:20] lindhe opened #2115 "Parameter 'ManagedClusterWindowsProfile.admin_password' regex missing numbers"
https://github.com/Azure/azure-cli-extensions/blob/1f559cd4089d4220c509181ff7f933c6a7aa5110/src/aks-preview/azext_aks_preview/vendored_sdks/azure_mgmt_preview_aks/v2019_04_01/models/managed_cluster_windows_profile.py#L29

I found that the regex that governs the `ManagedClusterWindowsProfile.admin_password` is incorrect. It says [here](https://docs.microsoft.com/en-us/windows/security/threat-protec

[2020-08-03 14:52] SQLDataSide opened #2116 "Hi"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0565525-2293-b262-845d-4817331be5d6
* Version Independent ID: 41bff8c3-e3bc-e5a4-8c56-00e415ce710b
* Content: [az kusto database](https://docs.microsoft.com/en-us/cli/azure/ext/kusto/kusto/database?view=azure-cli-latest)
* Content Source: [latest/doc

[2020-08-03 15:00] SQLDataSide commented on #2116
Hi
I am trying to use "az kusto database add-principal" having the fqn="msauser=myEmail@Email.com" and same for "az kusto database remove-principal"
they are not working with any msauser

I am using KUSTO Explorer and i need access also i need to have a msauser defined in the permission in the Database, other users/accounts dont work even the admin (funny)......
please check [this link ](https://s

[2020-08-03 15:40] ggg333 commented on #1966
@jmostella : Appreciate all your help. Looks like its working as it should. I removed and re-added the extension.

az extension show -n storage-preview -o table
ExtensionType    Name             Path                                                           Version
---------------  ---------------  -------------------------------------------------------------  ---------
whl              storage-pr

[2020-08-03 21:11] yonzhan commented on #2115
aks

[2020-08-03 22:38] yonzhan commented on #2116
kusto

[2020-08-03 23:44] narookak commented on #1650
We manage to resolve this using the latest extension for SLES 15.
Anyone still having the issue, Please follow the updated [SAP deployment guide](http://docs.microsoft.com/azure/virtual-machines/workloads/sap/deployment-guide)

### Install using Powershell or Azure CLI
#The following links describe how you can install the new extension using PowerShell or Azure CLI
[code]

[2020-08-04 01:58] qwordy commented on #1650
Glad to know that. Close this issue.

[2020-08-04 06:27] TomGeske commented on #2115
@lindhe: Can you make sure to update to latest CLI (2.9.1) and retry?

[2020-08-04 08:40] #1650 closed

[2020-08-04 10:24] lindhe commented on #2115
No, that's too much of a bother.

[2020-08-04 10:41] simonvane opened #2123 "Cannot change Logic App state without providing definition"
### Extension name (the extension in question)
logic

### Description of issue (in as much detail as possible)
I would like to change the state of my Logic App (disable it in this case) without changing the definition. I want to do this in an ADO release pipeline so that nothing can call it while the functions etc. it calls are updated.

I thought I would be able to do that with the following:
`az

[2020-08-04 10:46] yonzhan commented on #2123
Logic App

[2020-08-04 13:29] TomGeske commented on #2115
This functionality moved from cli-extension to CLI core. I just run the command below with az cli 2.9.1 and it worked:

`az aks create -g <rg-name> -n <cluster-name> --windows-admin-password 'passW)RD1234' --windows-admin-username master --generate-ssh-keys -c 1 --network-plugin azure`

[2020-08-04 17:30] #2115 closed

[2020-08-05 03:46] yungezz commented on #1650
cc @fengzhou-msft for awareness

[2020-08-05 06:40] yungezz commented on #1702
hi @pauloortins does above information helpful to you?

[2020-08-05 06:45] yungezz commented on #1794
hi @kazimsomji did you met code completion issue in VSCode? If yes, it's azure cli VSCode extension issue. This repo is azure cli extension of different commands. Could you pls track the issue in VSCode Azure CLI extension repo? thanks. cc @arrownj

[2020-08-05 06:47] yungezz commented on #733
hi @scarolan @prasannapad could you pls help to paste output of command with --debug to help investigating? thanks

[2020-08-05 06:53] yungezz commented on #872
hi @diegoalb could you pls share link of the doc you're talking about? it seems a conceptual doc,  not azure cli reference doc.

[2020-08-05 06:56] yungezz commented on #466
hi @jayaakshayan could you pls check if the fixing work for you? it's merged a while back.

[2020-08-05 06:56] yungezz commented on #466
cc @qwordy

[2020-08-05 09:16] yungezz commented on #1643
hi @fengzhou-msft any update on this?

[2020-08-05 09:27] yungezz commented on #1877
hi @trevors20 does above solution work for you? Is it ok to close the issue now since it's supported? thanks.

[2020-08-05 09:28] yungezz commented on #1636
hi @omustafaclassera did you try `az storage copy` as @Juliehzl suggested? Does it work for you?

[2020-08-05 14:03] orhasban commented on #2116
We don't support managing msauser(s) at the moment through Kusto management API.
Currently it could be done only against the cluster itself (KQL command against the cluster as you mentioned -_.add database IoTAnalyticsApplicationDB users ('msauser=myEmail@email.com')_).
We'll add it to our backlog but don't expect it to be supported soon.

[2020-08-06 07:33] kshke opened #2133 "when running az aks create with aks-preview extension get error:The request content was invalid and could not be deserialized: 'Could not find member 'template' on object of type 'DeploymentDefinition'. Path 'template', line 1, position 12.'."
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
aks-preview
### Description of issue (in as much detail as possible)
-----
when running az extension add --name aks-preview --version 0.4.37, get following error:

The request content was invalid and could not

[2020-08-06 07:42] yonzhan commented on #2133
aks

[2020-08-06 07:45] kshke commented on #2133
Azure CLI version 2.9.1

[2020-08-06 08:01] kshke commented on #2133
az aks create   --node-resource-group xxx  --resource-group xxx     --kubernetes-version 1.18.6     --name xxx    --load-balancer-sku basic     --enable-addons monitoring     --generate-ssh-keys

[2020-08-06 08:01] TomGeske commented on #2133
Why are you trying version 0.4.37 and not latest? does it work if you remove --version 0.4.37?

[2020-08-06 08:18] yungezz commented on #1794
hi @kazimsomji could you pls help to clarify is this issue about autocomplete in VSCode?

[2020-08-06 09:37] kshke commented on #2133
@TomGeske Because the latest version seems has a bug that when I create basic sku load balancer, it will be set to standard.

below is the output:
    },
    "loadBalancerSku": "Standard",
    "networkMode": null,
    "networkPlugin": "kubenet",
    "networkPolicy": null,
    "outboundType": "loadBalancer",
    "podCidr": "10.244.0.0/16",
    "serviceCidr": "10.0.0.0/16"
  },

I need to use old ve

[2020-08-06 09:45] TomGeske commented on #2133
Why do you require Basic LB?

If you want to use Basic LB you need to use  --vm-set-type AvailabilitySet. By default we use VMSS  --vm-set-type which requires Standard LB.

[2020-08-06 09:51] sollozzo2 opened #2135 "Does any documentation exist for the json file used in az ml dataset register?"
I've been trying to register a dataset with the register command in the ml extension.
However I couldn't find much information on how to specify the type of each column in a schema for a tabular dataset through the json file.

"az ml dataset register --show-template" provides a template but isn't very clear.

In the AML portal there is a user interface for assigning each column a type (e.g. intege

[2020-08-06 10:14] yonzhan commented on #2135
ml

[2020-08-06 18:31] JunSun17 opened #2138 "aks-preview extension create standard load balancer when specify "--load-balancer-sku basic" option"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
aks-preview

### Description of issue (in as much detail as possible)
aks-preview extension create standard load balancer when specify "--load-balancer-sku basic" option
-----

[2020-08-06 22:26] yonzhan commented on #2138
aks-preview

[2020-08-07 01:10] kazimsomji commented on #1794
Yes this is autocomplete in VS Code.

[2020-08-07 01:41] MyronFanQiu commented on #1918
@MoustafaEid Hey. Could you please help take a look? I'm not sure whether this is a service limitation or CLI should do something.

[2020-08-07 03:00] yungezz commented on #1794
thanks for confirmation. will close the issue now. Feel free to create new issue if any error when using azure cli.

[2020-08-07 03:01] #1794 closed

[2020-08-07 03:02] yungezz commented on #2138
https://github.com/Azure/azure-cli-extensions/issues/2138

[2020-08-07 05:27] MyronFanQiu commented on #2114
@ronikurnia1 Hi. I think you didn't install the extension. Please run `az extension add -n application-insights` first. Recently we're solving such issue to auto install extension.

[2020-08-07 07:14] asagarw commented on #2116
I am facing the same error with data factory. When i use the below query in PowerShell it works fine but it fails when used in a @[AzureCLIV2](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/AzureCLIV2/Readme.md) task

az datafactory factory show --name xyz --resource-group rg --subscription sub --query identity.principalId --output tsv
![image](https://user-images.githubuserc

[2020-08-07 16:41] JunSun17 commented on #2138
the issue can also be mitigated by explicitly specifying the "--network-plugin kubenet" when create a cluster.

[2020-08-10 07:24] hieumoscow opened #2143 "az network firewall network-rule create --destination-service-tags"
Add feature to define destination service tags for network rule

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a90f7721-6e37-012e-a118-277d5c113f65
* Version Independent ID: c89a7d07-fc9d-748c-d562-2ec9f0295e15
* Content: [az network firewall network-rule](https://docs.microsoft.com/en-us/cli/azure/ext/azure-firewall/n

[2020-08-10 07:35] #2143 closed

[2020-08-10 07:36] hieumoscow commented on #2143
service_tags can be defined in destination-addresses field

[2020-08-10 09:39] fengzhou-msft commented on #2082
The issue is caused by the generated SDK flattening a three-layer property `properties.folder.name`, it caused trouble when being serialized.

I'm checking with codegen team to disable the flattening through configuration and regenerate the SDK.

[2020-08-10 14:55] ttjackott commented on #1207
I think the main github issue for this is here:
https://github.com/Azure/azure-devops-cli-extension/issues/723

[2020-08-11 02:35] MyronFanQiu commented on #2108
@abarrionuevodevops Did you solve this issue? If so, I would close this issue later.

[2020-08-11 05:08] #2133 closed

[2020-08-11 05:47] andrebriggs opened #2146 "Does `az monitor log-analytics query` still exist?"
My version of `az`:
[code]

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0fd6a58-ac1a-fa45-8d96-579b4af36499
* Version Independent ID: 4098ca97-1b85-eb29-18e9-e6f0495fd030
* Content: [az monitor log-analytics](https://docs.microsoft.com/en-us/cli/azure/ext/log-analytics/monitor/log-analytics?view=azure-cli-la

[2020-08-11 05:49] yonzhan commented on #2146
add to S175

[2020-08-11 05:51] andrebriggs commented on #2146
Never mind. This issue seems to be I didn't have the extension installed `az extension add --name log-analytics`. The reference doesn't seem to mention that

[2020-08-11 06:17] #2146 closed

[2020-08-11 06:42] MyronFanQiu commented on #2146
@andrebriggs We're trying to solve such issue by auto-installing the extension and should be available later.

[2020-08-12 01:37] GarrettGeorge opened #2148 "Microsoft.CostManagement/query service is expecting "dataSet.filter.dimensions" not "dataSet.filter.dimension""
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

costmanagement

### Description of issue (in as much detail as possible)

The extension currently creates an HTTP POST body similar to

[code]
however after looking at the requests that the Azure portal itsel

[2020-08-12 01:50] yonzhan commented on #2148
add to S175

[2020-08-12 05:29] kshke commented on #2138
Hello @JunSun17

Did this bug fix now？

[2020-08-12 16:17] ASChatmon commented on #1717
Hello. Is there an update on this functionality?

[2020-08-12 19:36] fl-max commented on #2021
This seems to be fixed in API Version `2020-06-01`

Changing the `api_version` [here](https://github.com/Azure/azure-cli-extensions/blob/master/src/costmanagement/azext_costmanagement/vendored_sdks/costmanagement/operations/_export_operations.py#L266) worked for me with the exception of having to add the `--recurrence-period` flag to OP's command.

I see the `api_version` is statically set in a bu

[2020-08-12 21:37] brandonh-msft opened #2150 "I do not have az kusto data-connection in my azure CLI"
Using Az CLI v 2.10.1, `data-connection` is not an option for `az kusto`

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4a519e7-8538-33ea-ef2a-9ef908076a78
* Version Independent ID: 5116ad82-155f-e281-fe0c-7a99b0d442e8
* Content: [az kusto data-connection](https://docs.microsoft.com/en-us/cli/azure/ext/kusto/k

[2020-08-12 22:32] yonzhan commented on #2150
kusto

[2020-08-12 22:34] yonzhan commented on #1717
devops service team should take a look

[2020-08-12 23:07] brandonh-msft opened #2151 "Required parameters aren't accurate"
for `az kusto data-connection event-grid create` we show only `cluster-name`,`data-connection-name`,`database-name`,`resource-group` are required. However running the command w/ only those 4 gives you:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 607c986e-02c6-93b9-57cc-9c6c10af7f48
* Version Independent ID:

[2020-08-13 00:08] yonzhan commented on #2151
kusto

[2020-08-13 05:57] MyronFanQiu commented on #2114
close this issue since it's known issue and we're solving it.

[2020-08-13 05:57] #2114 closed

[2020-08-13 07:06] orhasban commented on #2151
+@astauben to answer.

[2020-08-13 07:16] orhasban commented on #2150
+@astauben to answer

[2020-08-13 10:41] astauben commented on #2150
Hi @brandonh-msft can you run 'az extension add -n kusto' and try again please?

[2020-08-13 16:40] brandonh-msft commented on #2150
that worked perfectly; There should be a `note` tag at the top of the commands which require this external, unsupported extension, IMO directing users they need to do this first.

[2020-08-13 20:01] aggerritsen commented on #1670
I ended up with creating some a dummy firewall with identical names, added network rules and deleting them. Atfter this I w2as able to delete the IP group And deleted the dummy firewall.

Kind regards, Arjen

[2020-08-13 20:01] #1670 closed

[2020-08-14 10:29] RoweJHR opened #2183 "ip-group command does not exist in 'az network'"
Hi,

Despite the listing in the article 'ip-group' is not available via the cli.  Any ideas when it will be available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cacec59-2882-a074-136b-a4a1896e97c1
* Version Independent ID: 1c0fbb79-e36c-2e18-0293-67ebff1a53e7
* Content: [az network ip-group](https://docs.microsof

[2020-08-14 10:39] yonzhan commented on #2183
add to S175

[2020-08-14 11:43] miqm opened #2184 "eventgrid to azure function does not work with deployment slots"
### Extension name (the extension in question)
eventgrid v0.4.9

### Description of issue (in as much detail as possible)
I tried to create a subscription between eventgrid and azure function running on a slot. I put correct ARM Ids but It gave me the Invalid ARM Id error.
Also, on the portal I was able to select Production slot only.
Using webhook worked.

The command I was trying to use:
[code]

[2020-08-14 11:51] yonzhan commented on #2184
eventgrid

[2020-08-14 13:34] plzm opened #2185 "Adding -v flag to az ml endpoint realtime list causes error"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
az ml

### Description of issue (in as much detail as possible)
Running az ml endpoint realtime list works. Adding the -v flag emits an error. See the identical outputs (obfuscated for privacy) below.

I have

[2020-08-14 16:21] yonzhan commented on #2185
ml

[2020-08-15 00:32] jfggdl commented on #2184
@miqm, thank you for creating this issue. The documentation on Event Grid does not mention anything about support for functions running in another slot besides production. We will get back to you with an answer. Would you please share with us the exact error message (" Invalid ARM Id error")? Thanks.

[2020-08-15 03:57] jfggdl commented on #2184
Event Grid does not have full support for functions deployment slots, unfortunately. I invite you to file this as a feature request in https://feedback.azure.com/forums/909934-azure-event-grid. The votes for each requested feature will inform our feature roadmap. Please let me know if you have any other questions.

[2020-08-15 05:27] RoweJHR opened #2186 "Adding multiple rules in a network-rule collection not supported"
Creating a network-rule collection with multiple rules does not work.  The command reports the collection already exists but there appears no way to add more than one rule via Az CLI:

usage error: --collection-name EXISTING_NAME | --collection-name NEW_NAME
|
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a90f7721-6e37

[2020-08-15 08:04] yonzhan commented on #2186
add to S175

[2020-08-17 01:53] #2066 closed

[2020-08-17 02:02] MyronFanQiu commented on #2186
@RoweJHR Hi. We can do that. If you want to add the second rule into one collection, you just need to give the name of existing collection without priority.
https://github.com/Azure/azure-cli-extensions/blob/59507b6db9d295417527f873ec9e2f847583d5e8/src/azure-firewall/azext_firewall/tests/latest/test_azure_firewall_scenario.py#L211-L217

[2020-08-17 10:09] eshxd41 opened #2194 "TypeError: login() got an unexpected keyword argument 'msi'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login
Extension Name: azure-ml-admin-cli. Version: 0.0.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Beha

[2020-08-17 11:21] yonzhan commented on #2194
add to S175

[2020-08-17 12:13] angusmack-altius commented on #1640
Hi. Does this mean it's on the backlog for Sprint 172? Just checking when we can expect this to be released?

The above tagging is a bit confusing to me!  :-)

Thanks!

[2020-08-17 14:48] vladris commented on #2082
Thanks a lot @fengzhou-msft, any idea when the extension will be updated to address the issue?

[2020-08-17 14:49] vladris commented on #2103
Any updates on this?

[2020-08-18 01:59] MyronFanQiu commented on #1640
Hi @angusmack-altius We don't have enough resource to do it right now and we move it to backlog. I don't know the ETA as well.

[2020-08-18 02:01] MyronFanQiu commented on #1640
@angusmack-altius There is an incoming Ignite Event and we focus on that. I think we should be able to do it after that but I cannot guarantee. I will keep you posted once we make a plan for this feature request.

[2020-08-18 02:06] jiasli commented on #2194
Could you share the full command for us to diagnose the issue?

[2020-08-18 02:32] kshke commented on #2138
aks-preview extension still create standard load balancer now, we must add "--network-plugin kubenet" in the further?

[2020-08-18 06:07] TomGeske commented on #2138
Please, post the full cli command.

[2020-08-18 06:10] kshke commented on #2138
@TomGeske  Command: az aks create   --node-resource-group xxx  --resource-group xxx     --kubernetes-version 1.18.6     --name xxx     --node-vm-size Standard_DS3_v2     --node-count 1     --load-balancer-sku basic     --enable-addons monitoring     --generate-ssh-keys

version:
sarah@Azure:~$ az version
{
  "azure-cli": "2.10.1",
  "azure-cli-command-modules-nspkg": "2.0.3",
  "azure-cli-core": "

[2020-08-18 06:55] TomGeske commented on #2138
By default we use --vm-set-type VirtualMachineScaleSets which requires Standard load balancer. Try to use add --vm-set-type AvailabilitySet.

Why do you require Basic LB? Basic LB has many [restrictions](https://docs.microsoft.com/en-us/azure/load-balancer/skus).

[2020-08-18 08:09] kshke commented on #2138
@TomGeske
Thanks for your reply.
but If I don't use aks extension, I can create the cluster with basic loadlancer and VMSS.
I need to use basic LB.

[2020-08-18 08:55] TomGeske commented on #2138
Did you try adding `--vm-set-type AvailabilitySet` ?

[2020-08-18 09:33] kshke commented on #2138
I need use VMSS not VMAS.

[2020-08-19 07:28] yungezz opened #2206 "[Attestation] remove hardcode endpoint in extension cloud"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
Today there's hardcode endpoint `https://attest.azure.net` in extension code, pls remove it from extension, but add it in cli core repo _cloud.py. Then extension read endpoint from context.

### Description of

[2020-08-19 07:29] yungezz commented on #2206
cc @fengzhou-msft for awareness

[2020-08-19 07:48] #2082 closed

[2020-08-19 16:17] jfggdl commented on #2184
@miqm, I am going to close this issue, but please request to be reopen if you have any other questions.

[2020-08-19 16:17] #2184 closed

[2020-08-19 20:08] rjmccallumbigl opened #2207 ""az vm repair create" fails if subscription has policy to block IP addresses"
### Extension name (the extension in question)
Repair

### Description of issue (in as much detail as possible)
A few months ago, I recommended az vm repair to help create a rescue vm. When running az vm repair create from the subscription, the operation fails because they had a policy to block Public IP addresses. I propose an optional switch that gives the option to not give the repair VM a Publ

[2020-08-19 21:19] ooeygui commented on #2077
I am hitting the same issue. The workaround does not work for me.

## Environment Summary
[code]

The output:
[code]

Then set the environment based on that path:

[code]

[code]

Debugging the script, it looks like:
[code]

it looks like it is attempting to enumerate the helm repo which returns an empty array, which the json parser fails on.
[code]

[2020-08-20 05:57] qiaozha commented on #2103
Since there's a github authorization when choosing the Github Type and it will sync the Azure DevOps account to get the info of Azure DevOps projects when choosing the VSTS type. I am not sure how cli can handle this.
But I think we also need some knowledge from service team about how to use pure api interaction to achieve this.

[2020-08-20 08:16] MyronFanQiu commented on #2108
close this one since it should be usage error. Feel free to reopen it if you still encounter any problem.

[2020-08-20 08:16] #2108 closed

[2020-08-20 08:18] madiguzel commented on #1429
I was about corporate proxy. Closing the issue. Thank you.

[2020-08-20 08:18] #1429 closed

[2020-08-20 12:07] Mahesh-MSFT commented on #1089
I agree with @hisuwh.

Its not possible to assign a WAF policy to DefaultFrontendEndpoint with Azure CLI at the moment. This is a major blocker to automate operations with AFD.

Is there any update on CLI commands refresh?

[2020-08-20 13:15] keyz182 opened #2212 "`--spot_max_price can only include up to 5 decimal places`"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
aks-preview

### Description of issue (in as much detail as possible)
Running this command:
[code]
-----

1) I've tried setting `--spot-max-price` to 0.07, 0.0680, 0.06800, to no avail, same error. Am I misund

[2020-08-20 13:19] yonzhan commented on #2212
aks-preview

[2020-08-20 15:14] raghus5040 commented on #1756
even im facing the same issue
I have tried with time out value too
"az image copy --source-resource-group My-resourcegroup  --source-object-name ABCNEW-image-20200820160045 --target-location southindia --target-resource-group "My-resourcegroup" --target-name ABCNEWdummy --timeout 3600000"

[2020-08-20 16:29] Mahesh-MSFT commented on #1089
In the meantime, use following workaround

[code]

[2020-08-21 00:56] yungezz commented on #2207
hi @qwordy, could you pls help to have a look?

[2020-08-21 01:08] digimaun commented on #533
As @c-ryan-k mentioned, wildcards in the device id/ `-d` argument are supported as of `0.7.0`.

Then regarding monitor-events, there is a limitation where only the default eventhub endpoint can be monitored. This limitation is well known and on our radar. As a workaround, you could still keep a route to the default endpoint as each message is routed to all endpoints whose routing queries it matche

[2020-08-21 01:08] #533 closed

[2020-08-21 01:27] digimaun commented on #451
Hey @lukasztomalczyk thanks for submitting the issue. The root cause is because the `-l`/`--login` argument is expecting an IoT Hub connection string  (which is typically used when you want to skip `az login`).

From your debug log input `['iot', 'device', 'simulate', '-n', 'mytesting', '-l', 'device', '-d', '001', '--debug']` the `-l` argument has the value of "device".

Just this should work `az

[2020-08-21 01:27] #451 closed

[2020-08-21 03:26] #1997 closed

[2020-08-21 06:32] yungezz commented on #2103
hi @fengzhou-msft could you pls help to have a look? Is this azure cli issue/service ask? and webapp has similiar scenario of input git credential.

[2020-08-21 06:53] #2212 closed

[2020-08-23 19:23] akashkeshari commented on #2077
@ooeygui ,

Can you please share the version of helm installed on your machine?

[2020-08-23 22:00] ooeygui commented on #2077
@akashkeshari Thanks for the reply - I'm using helm3 installed using `microk8s enable helm3` with Ubuntu 18.04 on amd64. Furthermore, I set an alias for helm3 & kubectl
[code]

[code]

[2020-08-24 01:40] qwordy commented on #1756
Can't reproduce yet. Close it for now. An IcM incident is opened to track it.

[2020-08-24 01:40] #1756 closed

[2020-08-25 05:11] fengzhou-msft commented on #1868
Here is an example:
[code]

[2020-08-25 14:12] rebecca-makar opened #2231 "az hpc-cache create / debug flag turned on / sometimes 201 on initial call sometimes 200."
This is some what a strange bug(?) unsure if we even want to call it this. **I am also unsure of the azcli is doing something in the background such as retrying commands quickly.**

I am testing az hpc-cache create and the storage target command as well.

I am seeing http output because I have the -debug flag on.
I brought it up to my team (hpc cache team) and we always return 201 on inital put, a

[2020-08-25 14:56] yonzhan commented on #2231
add to S175

[2020-08-25 23:15] rachel-msft commented on #942
Thanks @Juliehzl. And by "we will crash the specified server", I'm guessing you mean delete.

[2020-08-26 05:44] haroldrandom commented on #2183
@RoweJHR Do you install ? ip-group is an extension of Azure CLI, have to install it first `az extension add -n ip-group`, then it will actually be working.

[2020-08-26 07:25] MyronFanQiu commented on #1918
After some learning I think I understand your feature request. Let me clarify it in my way and please correct me if I misunderstand something.
- Front Door can have several frontend endpoint.
- Front Door can purge cache for a front door.
- Is there a way to purge cache for a frontend endpoint instead of the whole front door?

It seems like we cannot do that right now. We cannot do it through Port

[2020-08-26 07:31] MyronFanQiu commented on #2186
@RoweJHR Hi. Is this issue solved?

[2020-08-26 09:43] yonzhan commented on #942
@rachel-msft yes, you are correct.

[2020-08-26 15:45] fegonfe commented on #1187
this bug is back and I'm not using preview.

az extension list
  {
    "experimental": false,
    "extensionType": "whl",
    "preview": false,
    "version": "0.8.0"
  }

[2020-08-26 17:07] eversonamancio commented on #1187
Same issue here.

[2020-08-26 19:44] FHPIENAAR commented on #1187
I ran into the same issue, added the aks-preview extension and I was able to proceed with the deployment.

[2020-08-26 20:39] fegonfe commented on #1187
as a workaround, I got back to version 2.10.1 and it worked

[2020-08-26 22:15] briglx commented on #1187
Getting this issue running the workshop tasks https://docs.microsoft.com/en-us/learn/modules/aks-workshop/02-deploy-aks
I'm using docker image of mcr.microsoft.com/azure-cli tools

[2020-08-27 05:34] mainred opened #2236 "doc: Failed to only upgrade node images of AKS"
[Enter feedback here]

`--node-image-only` under `az aks update` supports only vmss, which is not documented
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bea52f6a-7414-7aa2-3708-7b802f243a16
* Version Independent ID: cf003f17-b9f7-04d4-89c2-770273b40533
* Content: [az aks](https://docs.microsoft.com/en-us/cli/

[2020-08-27 06:35] akashkeshari commented on #1753
@cosmos0703 ,

This issue has been fixed. Please update the connectedk8s extension to version 0.2.4 and try again:
Update using this cmd: 'az extension update -n connectedk8s'

[2020-08-27 06:36] akashkeshari commented on #1789
@vtomsa83 ,

This issue has been fixed. Please update the connectedk8s extension to version 0.2.4 and try again:
Update using this cmd: 'az extension update -n connectedk8s'

Let us know if you still face this issue

[2020-08-27 06:47] akashkeshari commented on #1803
@Haishi2016 ,

Seems to me that the kubernetes cluster is not reachable. Is your kubernetes cluster present on some private network?

[2020-08-27 06:48] akashkeshari commented on #1824
@tsapnasi

This issue has been fixed. Please update the connectedk8s extension to version 0.2.4 and try again:
Update using this cmd: 'az extension update -n connectedk8s'

Let us know if you still face this issue

[2020-08-27 06:49] akashkeshari commented on #1943
@chhtw

This issue has been fixed. Please update the connectedk8s extension to version 0.2.4 and try again:
Update using this cmd: 'az extension update -n connectedk8s'

Let us know if you still face this issue

[2020-08-27 06:52] akashkeshari commented on #2077
@Dongbumlee ,

This issue has been fixed. Please update the connectedk8s extension to version 0.2.4 and try again:
Update using this cmd: 'az extension update -n connectedk8s'

Let us know if you still face this issue.

@ooeygui ,

I think we already had a discussion over email. You may also switch to the new version of connectedk8s (0.2.4).

[2020-08-27 07:24] yonzhan commented on #2236
AKS

[2020-08-27 11:08] sbugalski commented on #1187
I confirm issue. Ran from Azure Cloud Shell.
[code]

[2020-08-27 11:29] InterStelios commented on #1187
I can also confirm the issue:

[code]

[2020-08-27 16:28] ooeygui commented on #2077
@akashkeshari Thank you - this specific issue no longer manifests for me with your fixes.

[2020-08-27 19:29] michael-baraboo-datastax opened #2239 "Incorrect text for sku-id on az account subscription commands doc page"
The --sku-id argument in the doc has a small typo.
[code]
001 and 002 should be 0001 and 0002.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 813c4506-a534-296b-cf67-5b91d51d33ae
* Version Independent ID: 19ed3baf-e3fd-42f6-1d6f-57fddc6fc284
* Content: [az account subscription](https://docs.microsoft.com/en-us/cli/azur

[2020-08-27 19:43] lilyjma commented on #516
Hi @azureml-github, is this something that you could help with?

[2020-08-27 19:54] lilyjma commented on #482
@martgras are you still experiencing the issue?

[2020-08-27 20:08] digimaun commented on #511
This was resolved in IoT extension v0.9.7. Please update and you will see the option available. Note `azure-cli-iot-ext` is now deprecated please install `azure-iot` instead.

[2020-08-27 20:08] #511 closed

[2020-08-27 20:38] digimaun commented on #750
We've had a number of updates for this command since the issue was first submitted. The first recommendation is to update to the latest - the IoT extension is now called `azure-iot`.

Also usage of `--set` for `device-twin update` is deprecated ...you will want to use the `--desired` or `--tags` argument options.

Examples (bash json syntax) -

- `az iot hub device-twin update -n {iothub_name} -d

[2020-08-27 20:38] #750 closed

[2020-08-27 21:13] mikebranstein opened #2240 "AKS advanced networking private cluster kubenet will not use existing NSG and route tables"
### Extension name (the extension in question)
aks-preview

### Description of issue (in as much detail as possible)
We're attempting to deploy an AKS cluster as an advanced networking private cluster with the kubenet network plugin. This is deployed to an existing virtual network. The docs state it will detect the presence of an existing NSG and route table, then use the existing resources (inste

[2020-08-27 22:30] digimaun commented on #504
Edge deployment properties that can be updated have been reflected on the [reference docs](https://docs.microsoft.com/en-us/cli/azure/ext/azure-iot/iot/edge/deployment?view=azure-cli-latest#ext-azure-iot-az-iot-edge-deployment-update).

Copying here:

Here is an example usage:

`az iot edge deployment update -d {deployment_name} -n {iothub_name} --set labels='{"purpose":"dev", "owners":"IoTEnginee

[2020-08-27 22:30] #504 closed

[2020-08-27 22:54] yonzhan commented on #2239
add to S175

[2020-08-27 22:57] yonzhan commented on #2240
aks-preview

[2020-08-28 07:10] #2080 closed

[2020-08-28 08:26] jayendranarumugam opened #2244 "Running "az synapse workspace delete " with contributor SPN access giving Error "Can not perform requested operation on nested resource. Parent resource '<workspacename>' not found.""
I ran `az synapses workspace delete` command with SPN , the SPN having contributor access to the sub, getting the error like

Even though i get the above error the workspace getting deleted successfully.

running this with `--debug` I get the below

*Note: This error is not coming if I run it with owner access*

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-08-28 09:54] yonzhan commented on #2244
synapse

[2020-08-28 13:44] mikebranstein commented on #2240
I've begun to dig deeper. When I disable my resource type policy enforcement, AKS deploys successfully, and does not deploy the noted NSG and route table to the az-aks-rg. Instead, the NSG is deployed to the new RG that is created to house the node pool VMSS. The existing route table was also used.

Based on this new information, I believe this issue is a validation issue - the template being subm

[2020-08-28 14:42] mlearned commented on #2236
doc update is pushed and will be live today
#please-close

[2020-08-28 16:17] alexandair opened #2246 "ai-examples extension should not remove any existing examples in help"
### Extension name (the extension in question)

ai-examples

### Description of issue (in as much detail as possible)

`ai-examples` extension removes some of the existing examples in help.
For example, compare the examples in `az vm create -h` and `az extension add -h`before and after installation of the `ai-examples` extension.

[2020-08-28 16:33] yonzhan commented on #2246
ai-examples

[2020-08-29 05:31] Linaa opened #2248 "az blueprint assignment create from json parameter file"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az blueprint assignment create
Extension Name: blueprint. Version: 0.1.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az blueprint a

[2020-08-29 09:30] yonzhan commented on #2248
blueprint

[2020-08-29 14:40] vnextcoder commented on #1187
Same issue faced with Azure CLI 2.11.  But once Workaround Extension installed, it worked fine.

AZ CLI 2.10 was working fine earlier.

[2020-08-29 14:42] andyzhangx commented on #1187
latest Azure CLI 2.11.1 works now

[2020-08-31 02:15] yungezz commented on #2248
cc @houk-ms for awareness since this is typical code error.

[2020-08-31 02:17] yungezz commented on #2246
hi @mirdaki, could you pls look at this issue?

[2020-08-31 02:57] yungezz commented on #2239
hi @arrownj could you pls fix the extension? thanks

[2020-08-31 03:41] #1868 closed

[2020-08-31 12:20] PrakashLakhara commented on #550
Hi,
I have a different error. I can't connect to webapp ssh via azure cli.
Error is: **Verifying if the app is running....
App is running. Trying to establish tunnel connection...**

It does not connect after that.
Website is running fine and webapp ssh was working. But when I installed new ubuntu 20 LTS II am facing this problem.
**Operating system details:**
Distributor ID:	Ubuntu
Description:	U

[2020-08-31 20:09] mirdaki commented on #2246
Hi @alexandair, this was a deliberate design decision. The reasoning was we believe the examples provided by `ai-examples` are more relevant to the majority of users. The examples we show are based off of Azure telemetry, among other things, that should reflect real world usage.

That being said, things aren't always perfect. Do you feel the examples that were removed were more useful than the one

[2020-08-31 20:21] alexandair commented on #2246
@mirdaki I'm not saying that new examples are not useful. I want new examples to be added, not to remove the old ones. If 10 examples are replaced with 3 examples that's not a great user experience. I don't want my extensions to mess up with the state I had before installing them.

I don't understand your design decision.

[2020-09-01 13:55] SP-SuperPoney opened #2281 "Please specify extension prerequisite"
Please specify that theses commands needs the following extention:
az extension add -n azure-firewall

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc2adff3-2bac-3c0a-e31a-5c5c40716a47
* Version Independent ID: b6a4a504-0f37-eca9-3987-1fcf7162a696
* Content: [az network firewall](https://docs.microsoft.com/en-us/cli/a

[2020-09-01 14:06] yonzhan commented on #2281
add to S175

[2020-09-03 01:22] eltociear opened #2286 "Typo exist"
I found 2 typo in this document.
enviroment→environment

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2301603-c858-06c0-21fc-f89b82c4645d
* Version Independent ID: ba29613d-2ac0-8744-6d56-c70decb9ea15
* Content: [az ml computetarget](https://docs.microsoft.com/en-us/cli/azure/ext/azure-cli-ml/ml/computetarget?view=az

[2020-09-03 01:23] yonzhan commented on #2286
ml

[2020-09-03 01:35] arrownj opened #2287 "AKS tests failed in CI environment"
In PR [Add acc sgx addon cli support ](https://github.com/Azure/azure-cli-extensions/pull/2253), 2 tests are marked as `live_only`.

Let's use this issue to trace it and make it go through in CI environment.

- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

[2020-09-03 01:36] arrownj commented on #2287
Hi @bowang-666 , could you please help with this issue ? Thanks

[2020-09-03 11:55] TomGeske opened #2302 "aks-preview 0.4.62 - The checksum of the extension does not match the expected value"
### Extension name (the extension in question)
aks-preview

### Description of issue (in as much detail as possible)
I'm trying to run:

`az extension add --name aks-preview`

and I get:

[code]

CLI version

[code]

-----

cc:  @bowang-666

[2020-09-03 12:53] yonzhan commented on #2302
aks-preview

[2020-09-03 16:12] bergerx commented on #2302
previous similar issues:
* https://github.com/MicrosoftDocs/azure-docs/issues/37818
* https://github.com/MicrosoftDocs/azure-docs/issues/37826
* https://github.com/MicrosoftDocs/azure-docs/issues/46000

this seems to be regular transient issue.

[2020-09-03 16:42] rajarshi-singh commented on #2302
Thanks @bergerx . @jakaruna-MSFT Can you please look into why this error keeps happening every now so often? We might need to investigate permanent resolution.

[2020-09-03 17:03] bowang-666 commented on #2302
I can reproduce locally. This seems widely impacted. Could you look into this?

[2020-09-03 17:24] marwanad commented on #2302
Does the following workaround work:

[code]
?

[2020-09-03 17:29] bowang-666 commented on #2302
Thanks Marwan. This looks working as workaround.

[2020-09-03 18:59] marlowp commented on #2302
If you're attempting this workaround using a Ubuntu 18 Azure-hosted agent then I've found you need to manually [update the azure-cli version](https://docs.microsoft.com/en-gb/cli/azure/install-azure-cli-apt?view=azure-cli-latest#update) to the latest version (currently the latest is 2.11.1, but the [hosted agent version](https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu

[2020-09-04 00:34] LostinCloud commented on #2302
I am getting the same error when attempted workaround.

+ az extension add --source https://azurecliprod.blob.core.windows.net/cli-extensions/aks_preview-0.4.61-py2.py3-none-any.whl
The command failed with an unexpected error. Here is the traceback:
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 215, in invoke
    cmd_result = self.invocation.exe

[2020-09-04 01:53] arrownj commented on #2302
Hi @TomGeske @LostinCloud @bergerx @marlowp @bowang-666 , please try to install the extension again. It should be OK now. Thanks

[2020-09-04 02:56] bowang-666 commented on #2302
Thanks @arrownj this is now working for me.

[2020-09-04 06:13] TomGeske commented on #2302
LGTM

`az extension add -n aks-preview`
`The installed extension 'aks-preview' is in preview.`
[code]
Thanks for fixing it quickly!

[2020-09-04 06:13] #2302 closed

[2020-09-04 12:45] tiny-dancer commented on #1918
@MyronFanQiu one motivation that conceptually applies to a myriad of caching use-cases:

Single Front Door Front Ends:

- app1.domain.com
- app2.domain.com
- app3.domain.com
- appN.domain.com

These are N applications managed by N different teams and deployed by N distinct pipelines.  When a deployment occurs for a single app, there is a need to purge the app specific `index.html` for the updated

[2020-09-04 17:08] rajarshi-singh commented on #2302
I'm hoping we don't see this issue pop up again, it seems like a recurring one. Thanks for fixing.

[2020-09-05 10:20] chrisfcarroll opened #2310 "az ml has no glossary and no link to one either"
Dear people!

I know it's a big area but … I just want to do training runs on the cloud so I websearch `az ml get started` and I'm working down https://docs.microsoft.com/en-us/azure/machine-learning/reference-azure-machine-learning-cli where it looks like I need a `workspace` and `computetarget` and an `environment` which needs to be `scaffolded` or possible `registered` and maybe a `pipeline` wh

[2020-09-05 13:31] yonzhan commented on #2310
ml

[2020-09-07 03:23] haroldrandom commented on #2183
Closed as long time inactive

[2020-09-07 03:23] #2183 closed

[2020-09-07 05:27] haroldrandom commented on #2281
In which way you would like?

[2020-09-07 07:35] #2236 closed

[2020-09-07 07:51] SP-SuperPoney commented on #2281
Sorry my remark was not clear enought.
Can you add a remark in the following documenation at:
https://docs.microsoft.com/en-us/cli/azure/ext/azure-firewall/network/firewall?view=azure-cli-latest

And precise that those cli commands requires the azure firewall extension:
az extension add -n azure-firewall

[2020-09-07 07:53] yungezz opened #2313 "aks-preview 0.4.62 - The checksum of the extension does not match the expected value"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
aks-preview

### Description of issue (in as much detail as possible)
User failed to install aks-preview extension due to checksum failed.

IcM : https://portal.microsofticm.com/imp/v3/incidents/details/203612

[2020-09-07 13:46] manoj-devops opened #2315 "az command error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials
Extension Name: aks-preview. Version: 0.4.55.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credenti

[2020-09-07 14:20] yonzhan commented on #2315
aks

[2020-09-07 14:26] TomGeske commented on #2315
That looks broken. Can you try to update aks-preview extension?

`az extension update -n aks-preview`

cc: @bingosummer

[2020-09-07 14:42] manoj-devops commented on #2315
still failed

**Command Name**
`az aks get-credentials
Extension Name: aks-preview. Version: 0.4.62.`

**Errors:**
[code]

##

[2020-09-07 14:54] manoj-devops commented on #2315
LON-MAC-2870:Scripts manoj$ ls -ltr !$
ls -ltr ~/.kube/config
-rw-------  1 manoj  staff  10  4 Sep 17:46 /Users/manoj/.kube/config
LON-MAC-2870:Scripts manoj$ rm !$
rm ~/.kube/config
LON-MAC-2870:Scripts manoj$ az aks get-credentials -n ci-aks -g ci-aks
The behavior of this command has been altered by the following extension: aks-preview
Merged "ci-aks" as current context in /Users/manoj/.kube/co

[2020-09-07 14:55] manoj-devops commented on #2315
my config file might be corrupted, hence deleted and retry and it worked.
Thanks for looking into it.

[2020-09-07 15:03] bingosummer commented on #2315
Glad that the issue is resolved.

[2020-09-07 15:09] #2315 closed

[2020-09-07 15:54] mohamed-elbeltagy opened #2316 "Show command does not show the scoped resource group name"
Hello,

I have service principals created using automatic method and scoped to specific resource groups.

When trying to use 'show' or 'list' commands to get service connection details, it always shows "resourceGroupName" empty.

Output example:

"data": {
    "appObjectId": "6a5c17f0-9954-4fbc-a4ff-7fd63a63c368",
    "azureSpnPermissions": "[{\"roleAssignmentId\":\"d632670e-33ce-4ef3-a118-998f608

[2020-09-07 16:18] amkuipers opened #2317 "az monitor app-insights (bug while using the preview in the cloud-shell)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor app-insights events show
Extension Name: application-insights. Version: 0.1.10.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._

[2020-09-07 16:46] tehho opened #2318 "List all branches of a repo"
Would like a command to list all active branches of a repo.

az repos show-branches or something

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82177ae5-9144-27f7-47c0-5fa076636a69
* Version Independent ID: f89f4b34-692e-1b3f-0314-33ef141243c2
* Content: [az repos](https://docs.microsoft.com/en-us/cli/azure/ext/azure-d

[2020-09-07 18:58] tehho commented on #2318
Found it az repos ref list

[2020-09-07 18:58] #2318 closed

[2020-09-07 23:01] yonzhan commented on #2316
devops

[2020-09-07 23:03] yonzhan commented on #2317
add to S176

[2020-09-08 06:17] akurathimohan opened #2320 "Error while adding Ingress Add-on"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks enable-addons
Extension Name: aks-preview. Version: 0.4.62.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons

[2020-09-08 09:19] pachecolp opened #2322 "'app-insights' is not in the 'az monitor' command group"
Before using `az monitor app-insights` commands it is necessary to add the Application Insights extension to AZ CLI.
This should be mentioned somewhere for those that reach the page from a search engine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d7f5f91-5e89-9082-8c70-6431f0025f37
* Version Independent ID: 298daf

[2020-09-08 11:39] yonzhan commented on #2320
aks

[2020-09-08 11:44] yonzhan commented on #2322
add to S176

[2020-09-09 02:40] GaTechThomas commented on #1736
Same problem here.

[2020-09-09 05:27] JerryYangKai opened #2326 "Import the latest version of azure_storage_blob and can not find it"
Describe the bug

**Command Name**
I installed my own extension 'teamsdev' and it import the latest version(12.4.0) of azure_storage_blob

`az teamsdev -h`

**Errors:**
[code]

## To Reproduce:
'az extension add --source https://envmgrtest.blob.core.windows.net/kaidevtoolhost/teamsdev-0.0.1-py2.py3-none-any.whl'
`az teamsdev -h`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2020-09-09 06:19] yonzhan commented on #2326
add to S176

[2020-09-09 06:40] JerryYangKai commented on #2326
I update the package in cli for an work around

[2020-09-09 08:09] DONGZHUPENG opened #2329 "error when running: az datamodel create -n retailidm --model-directives ./retailidm.json"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az datamodel create
Extension Name: aidls. Version: 0.1.20200902.385.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az datamodel creat

[2020-09-09 09:24] #2186 closed

[2020-09-09 11:22] Mhbuur opened #2330 "az artifacts universal download - specify release view"
I'm trying to download the latest package that has been promoted to a specific release view (e.g. "@Release").
Getting the latest package is no problem with the "*" wildcard, however I can't specify view.

Is this supported?
If not, consider this a feature request ;-)

az artifacts universal download \
  --organization "https://contoso.visualstudio.com/" \
  --project "12345678-1234-1234-1234-1234

[2020-09-09 11:47] yonzhan commented on #2330
devops

[2020-09-09 14:47] yungezz commented on #2329
hi @DONGZHUPENG could you pls try run `az login` to workaround? this is a known issue in Cloudshell https://github.com/Azure/azure-cli/issues/11749

[2020-09-09 18:56] ScoGroMSFT opened #2331 "az spring-cloud app deployment create always fails with "validation error: Parameter 'deployment_name' can not be None." on new infra"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
spring-cloud

### Description of issue (in as much detail as possible)

When running the command az spring-cloud app deployment create, I always get "validation error: Parameter 'deployment_name' can not be No

[2020-09-09 21:41] digimaun commented on #1356
We've added deprecation/removal messages for the legacy iot extension "azure-cli-iot-ext" which had the deprecated `az iotcentral` root command group that this issue references. There are also warnings shown when running commands from the deprecated extension.

https://docs.microsoft.com/en-us/cli/azure/ext/azure-cli-iot-ext/?view=azure-cli-latest

https://docs.microsoft.com/en-us/cli/azure/azure-

[2020-09-09 21:41] #1356 closed

[2020-09-09 23:21] yonzhan commented on #2331
spring-cloud

[2020-09-09 23:23] selvasingh commented on #2331
@ScoGroMSFT - if you are deploying Azure Spring Cloud using Terraform and deploying code using Azure CLI, then this is a known issue. See https://github.com/Azure-Samples/spring-petclinic-microservices/tree/azure/terraform-vnet

@njuCZ

[2020-09-09 23:31] ScoGroMSFT commented on #2331
Thank you, @selvasingh! One thing to fix on https://github.com/Azure-Samples/spring-petclinic-microservices/tree/azure/terraform-vnet is that the link to provision-resources-vnet-terraform.yml is incorrect and results in 404. The address it tries to fetch is https://github.com/Azure-Samples/spring-petclinic-microservices/blob/azure/terraform-vnet/provision-resources.yml -- missing the "-vnet-terra

[2020-09-09 23:32] ScoGroMSFT commented on #2331
Also, I'm not sure what your plans are for fleshing out the terraform providers for the app + service but it would be great to get them to parity with the CLI so that we can remove as much scripting from the infra deployment as possible.

[2020-09-10 00:04] selvasingh commented on #2331
Agree and we are actively working with Hashicorp on this

[2020-09-10 07:29] zhoxing-ms commented on #2231
Since the operation of creating HPC cache is a long running operation, by default, after request the asynchronous API and get the 201 status code, CLI will keep retrying until status 200 is obtained
If you want CLI to return the result without retrying after getting the 201 status code, you can add the parameter `--no-wait`.
Do you have any other questions?

[2020-09-10 09:13] qiaodalei opened #2335 "commands after az extension add -n xxx are not run in batch script on windows"
### Description of issue (in as much detail as possible)

I tried to run a batch script on windows with ```az extension add --name alias``` in. However I found the script stopped at this command and other commands didn't run. Like this:

script in try.bat:
python test.py
az extension add --name alias
python test.py

When I run try.bat, the output is like this:
![image](https://user-images.githubus

[2020-09-11 01:18] IanNorris opened #2340 "azure-devops commands corrupt the powershell console and prevent further output"
### azure-devops

### Description of issue

Running the following command in a powershell window corrupts the console so the output generated is black on black, including the prompt when the command finishes.

    $Result = (az pipelines show --organization $ADOUri --project $ADOProjectName --name $PipelineName)

You can work around this issue by creating the following function then calling it aft

[2020-09-11 01:21] yonzhan commented on #2340
azure-devops

[2020-09-11 01:27] dablon opened #2341 "extension hack not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az hack`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az hack -h`

## Expected Behavior

## Environment Summary
[code]
## Additional C

[2020-09-11 01:28] yungezz commented on #2341
hi @GeekTrainer  could you pls  have a look?

[2020-09-11 05:28] fengzhou-msft commented on #2335
Thanks for reporting the issue. We'll take a look.

[2020-09-11 09:42] arrownj commented on #2313
We had an internal discussion and have a conclusion now.

The root cause of this problem is that there are 2 index PRs for one extension at the same time. And there is no need to support 2 index PRs in our extension release process. So we will add a validation for this before uploading whl to storage. In this validation, we will check if there is already an open index PR, if yes, this pipeline wil

[2020-09-11 18:04] deetoo opened #2343 "issue exporting config"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
My initial attempt to export my cluster config, I simply ran: az kube export --
**Command Name**
`az kube export
Extension Name: azure-kube-cli. Version: 0.0.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive inf

[2020-09-11 23:57] yungezz commented on #2343
hi @deetoo could you pls share how you install the extension `azure-kube-cli` ? I couldn't find in our released extension list.

[2020-09-12 09:20] fengzhou-msft commented on #2343
This extension is not maintained by Azure CLI team. You could submit an issue here: https://github.com/yaron2/azure-kube-cli

[2020-09-12 21:40] chrisfcarroll commented on #1565
Bump?

[2020-09-12 22:13] chrisfcarroll opened #2346 "az ml run submit is inconsistent in using or ignoring the suffix '.runconfig' on a runconfig file."
### Extension name (the extension in question)
ml

## az ml run submit won't create a computetarget using TensorFlow

Consider the below runconfig file, which is mostly based on the one auto-generated by `az ml folder attach`.
It specifies
- `framework: TensorFlow`
- `environment.name : AzureML-TensorFlow-2.2-GPU` <Taken from the AzureML curated environment list>

but the run finishes with the err

[2020-09-12 23:30] yonzhan commented on #2346
ml

[2020-09-12 23:31] yonzhan commented on #1565
machine learning service team should look into this issue.

[2020-09-13 02:36] andywangqt opened #2347 "some parameter explaination still are ambiguous"
[Enter feedback here]
as to this command :
az network vpn-site update
one parameter : --address-prefixes

this is the explanation from microsoft:
--address-prefixes
Space-separated list of CIDR address prefixes.

this is the address of remote VPN site prefixes or local prefixes?

I suggest that you can draw a topology , every explaination is based on the topology IP. So it will be clear to reader

[2020-09-13 05:35] yonzhan commented on #2347
add to S176

[2020-09-14 02:33] yungezz commented on #2343
hi @deetoo could you pls create the issue at repo @fengzhou-msft mentioned, so that it could be picked up? thanks.

[2020-09-14 04:47] yungezz commented on #1956
hi @halradaideh does it work for you? Are you still seeing the error?

[2020-09-14 04:51] yungezz commented on #2025
hi @vamsivellanki the dynamic extension installation feature is released already. here's the guideline of how to enable it: https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensions-overview?view=azure-cli-latest#install-extensions-automatically. will close the issue for now. Feel free to create new issue if any other ask. thanks.

[2020-09-14 04:51] #2025 closed

[2020-09-14 04:56] qwordy commented on #1909
Please use shared image gallery if you want to distribute images over multiple regions.

[2020-09-14 04:56] #1909 closed

[2020-09-14 05:02] qwordy commented on #1920
Known issue. And it doesn't support image with data disks.

[2020-09-14 06:49] yungezz commented on #2313
thanks @arrownj, will you make the change?

[2020-09-14 07:59] halradaideh commented on #1956
yes i did, thank you

[2020-09-14 07:59] #1956 closed

[2020-09-14 08:42] jiasli commented on #2003
Thanks for the finding. Fixed in #2353.

[2020-09-14 12:56] chrisfcarroll commented on #2346
I guess this is largely about undocumented behaviours? For instance, if I create a runconfig and call it `.azureml/myname.runconfig` then `az ml run submit-script -c myname` will find it ; but if `.azureml/myname` _also_ exists — for instance because `az ml folder attach` autocreated it — then my created runconfig is silently ignored

[2020-09-14 19:42] sfilipi opened #2360 "z ml datastore attach-blob``` command is throwing unrecognized arguments"
The  ```az ml datastore attach-blob```  command is throwing unrecognized arguments for:
 --storage-account-subscription-id
--storage-account-resource-group

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60c99b13-9888-31ac-9e22-4bac0cb3956a
* Version Independent ID: 7aef098d-0f55-e080-cce4-91ad6265d974
* Content

[2020-09-14 19:43] deetoo opened #2361 "unable to export cluster config"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az kube export
Extension Name: azure-kube-cli. Version: 0.0.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az kube export --kubeconf

[2020-09-14 19:44] #2361 closed

[2020-09-14 23:13] amitsethitx commented on #1573
I am seeing similar error . Is there any  solution ?

[2020-09-14 23:52] yonzhan commented on #2360
ml

[2020-09-15 00:11] azureml-github commented on #1573
@AML on Azure DevOps Support<mailto:aml_ado_support@microsoft.com> / @MLOps Core<mailto:mlopscore@microsoft.com> / @Mrudula Narkhede<mailto:mnark@microsoft.com>

Anyone seen this before? I suspect it relates to ACI VNET support.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: msftbot[bot] <notifications@github.com>
Sent: Monday, September 14, 2020 4:55:10 PM
To:

[2020-09-15 07:55] #2003 closed

[2020-09-15 15:19] edwinvdb opened #2371 "az pipelines is missing commands for managing task groups"
`az pipelines` can e.g. be used to export the definition of a build.

If that build definition (or a release definition) references a Task Group, you'll have a reference to the Task Group in the export, which is good of course.

But I would also like to export the definition of the Task group and there is no (sub)command to handle taskgroups.

Suggestion: just like the `build` and `release` subcom

[2020-09-15 15:28] edwinvdb opened #2372 ""az pipelines build definition list" not working from DevOps"
When running `az pipelines build definition list` from the Cloud Shell, it seems to return the same information as `az pipelines list`. I assume it should be like this, but if there's a difference between the two commands, it should be elaborated in the documentation.

However, when running the two command from a DevOps pipeline powershell script on ubuntu-latest, `az pipelines build definition li

[2020-09-15 15:35] yonzhan commented on #2371
pipelines

[2020-09-15 15:35] yonzhan commented on #2372
pipelines

[2020-09-15 20:35] chiragg4u commented on #498
Thanks @MaxMelcher for the question the service only returns 1000 records at once; CLI has the logic to get 5 pages. Please connect directly with the product team through email @ resourcegraphsupport@microsoft.com.

[2020-09-15 21:40] GeekTrainer commented on #2341
@dablon Can you please provide repro steps? When I run `az hack -h` locally I receive the correct output.

[code]

[2020-09-15 22:00] yiyiguo commented on #1988
@Azure/azure-iot-cli-triage

[2020-09-15 22:28] yiyiguo commented on #1654
@Azure/azure-iot-cli-triage

[2020-09-15 22:30] yiyiguo commented on #654
@Azure/azure-iot-cli-triage

[2020-09-15 22:31] yiyiguo commented on #624
@Azure/azure-iot-cli-triage

[2020-09-15 22:31] yiyiguo commented on #575
@Azure/azure-iot-cli-triage

[2020-09-15 22:39] prbans commented on #1654
@ankur198 what version of CLI are you using?

[2020-09-16 07:23] Bozhong68 commented on #1573
@saroup @yonzhan did you attempt to deploy model to ACI with VNET support? Note ACI deployment doesn't support VNET yet. Please try AKS deployment if you want VNET support.

[2020-09-16 07:55] yonzhan commented on #1573
machine learning service team should look into this.

[2020-09-16 14:15] deetoo commented on #2343
Greetings @yungezz and @fengzhou-msft  I have opened this issue at the requested repo.

[2020-09-16 21:02] sfilipi opened #2378 "```az ml workspace create ```does not throw if unsupported argument ```-subscription-id``` is supplied"
Most az ml workspace, and the az ml commands in general have a -subscription or a -subscription-id argument, which is defines the subscription to operate on.

The ```az ml workspace create``` does not have such argument and operates on the default subscription.
1- This is inconsistent with the other commands, and needs to be stated in the docs.
2 - It also does not throw if such an argument is sup

[2020-09-16 23:05] yonzhan commented on #2378
ml

[2020-09-17 07:49] diegodct opened #2380 "The list script for windows or the lists script with certain description does not work."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0c5cd11-36e0-b233-4f0c-3d432a9925a1
* Version Independent ID: 99b6e064-4f75-9cce-b6e0-0ad1943552b9
* Content: [az vm repair](https://docs.microsoft.com/en-us/cli/azure/ext/vm-repair/vm/repair?view=azure-cli-latest)
* Content Source: [latest/docs-ref-

[2020-09-17 09:50] robfrut135 opened #2381 "assignment with user-identity"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az blueprint assignment update
Extension Name: blueprint. Version: 0.1.1.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az blueprint a

[2020-09-17 10:26] yonzhan commented on #2381
blueprint

[2020-09-18 03:37] yungezz commented on #2380
hello @swbae31  could you pls look at this issue about vm-repair? thanks

[2020-09-18 03:38] yungezz commented on #2381
hi @fengzhou-msft could you pls help to have a look?

[2020-09-18 07:13] Nilambari commented on #1168
@annerajb  what is the subscription id?

[2020-09-18 17:20] samsmithnz commented on #1715
I just ran into this with a customer today. Another vote to include extra documentation at the top of the page to describe the extensions required.

[2020-09-19 01:00] yonzhan commented on #1715
@dbradish-microsoft may help you with this.

[2020-09-19 01:10] samsmithnz commented on #1715
All you need is - Prereq:

`az extension add --name front-door`

[2020-09-19 03:41] anuragdalmia commented on #1733
Apologies for further delay here. We are shipping this as part of the GA version of the APIs ny 9/31.

[2020-09-19 04:14] #2231 closed

[2020-09-19 04:42] yonzhan commented on #2281
@dbradish-microsoft could you please help with this?

[2020-09-19 14:57] dbradish-microsoft commented on #2281
Hello, @SP-SuperPoney ,

We agree that this is much-needed information, and we have been working to add this information to all of our extension reference documents.

Kindly,

Delora

[2020-09-19 14:57] #2281 closed

[2020-09-19 15:00] dbradish-microsoft commented on #1715
@samsmithnz / @awentzel , We have been working to auto-gen more extension reference information in our reference docs.  This is one of our top priorities for reference doc improvement.

Kindly,

Delora

[2020-09-19 15:00] #1715 closed

[2020-09-21 02:55] yungezz opened #2398 "[Databricks] public CMK"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
databricks

### Description of issue (in as much detail as possible)
1.	Make key version parameter as optional, when customer doesn’t specify this option send version as empty string to RP.
Az CLI:
az databric

[2020-09-21 02:55] yungezz commented on #2398
databricks CMK public preview ask.

[2020-09-21 20:44] kolbyrax commented on #2021
Also running into this attempting to create an export through the portal (as well as az cli) in government cloud.  Works fine through the portal and az cli in commercial.

[2020-09-22 00:50] thiruma0203 opened #2408 "az support tickets documentation better to have prerequisites"
az support tickets series of commands appears to be depending upon Azure Support REST API.
As REST API has some prerequisites including eligible support plans, CLI documentation also better to have such description.

https://docs.microsoft.com/en-us/rest/api/support/
Prerequisites depend on the API operations you want to call:

To create and update support tickets, and add communication operations

[2020-09-22 02:09] yonzhan commented on #2408
support

[2020-09-22 03:19] Juliehzl commented on #2326
Hi @JerryYangKai , it is by design. Please refer to https://github.com/Azure/azure-cli/blob/f67024b48bd0efea4084f028897d7b7a7abf35c9/src/azure-cli/azure/cli/command_modules/acr/_archive_utils.py#L57

[2020-09-22 05:13] ganganarayanan commented on #2408
tagging @mit2nil to look into this

[2020-09-22 07:24] haroldrandom commented on #2021
Last time we generate CostManagement SDK based on API 2019-11-01. Any change since then?
Could you post swagger here? We might need to upgrade SDK from CostManagement and generate newer SDK for it.

[2020-09-22 07:49] haroldrandom commented on #1935
It's a constant defined in QueryDefinition. If need change, have to inform awear of service team to get support.

[2020-09-22 14:41] kolbyrax commented on #2021
I don't have swagger, will look into it...but from firefox's web tools you can see the Government portal is trying to hit the 2019-11-01 api

https://management.usgovcloudapi.net/providers/Microsoft.Billing/billingAccounts/XXXXXX/providers/Microsoft.CostManagement/query?api-version=2019-11-01&$top=2500

while the Commercial portal is going to api 2020-06-01

https://management.azure.com/providers/

[2020-09-23 12:26] urasandesu opened #2441 "`az ml pipeline get` occurs the error `No module named 'azureml.dataprep'`"
### Extension name (the extension in question)

azure-cli-ml v1.14.0

### Description of issue (in as much detail as possible)

`az ml pipeline get` occurs the error `No module named 'azureml.dataprep'`. The debug stdout and stderr are the following (I masked the access token id and the pipeline id):
<details>
  <summary>click to expand</summary>

[code]
</details>

I investigated the issue a litt

[2020-09-23 13:05] yonzhan commented on #2441
ml

[2020-09-23 16:13] bacmodung opened #2442 "VBXCBXC"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56fc532d-8c75-3681-3c26-c6276df401a2
* Version Independent ID: 1e51db86-6ad9-d6ea-cdb5-ced1b86fc65d
* Content: [az webapp scan](https://docs.microsoft.com/en-us/cli/azure/ext/webapp/webapp/scan?view=azure-cli-latest#ext_webapp_az_webapp_scan_start)
*

[2020-09-23 23:27] yonzhan commented on #2442
webapp

[2020-09-24 02:35] jsntcy commented on #2281
@SP-SuperPoney, thanks for your suggestions.
Beside the improvements on docs, now we have a new feature "auto-install" for extension, if you run a command that is in an extension which is not installed, CLI will prompt the following hint message and if you input 'y', that extension will be installed automatically, and the command will be executed successfully then. You can try this feature in late

[2020-09-24 03:53] yungezz commented on #2442
hi @bacmodung could you pls be specific what's error met and reproduce step? thanks

[2020-09-24 07:11] swbae31 commented on #2380
For what script does the 'az vm repair list-script' not work? @diegodct ? I will be glad to look into it if you can explain the issue more in detail.

[2020-09-24 14:02] fengzhou-msft commented on #1877
Latest azure-cli uses PEP420 now and this issue is resolved. Please update azure-cli and try again.

[2020-09-24 14:02] #1877 closed

[2020-09-25 05:56] haroldrandom commented on #2148
Is this blocking getting correct response from server or missing data?

[2020-09-25 19:04] porrascarlos802018 opened #2457 "add clarification."
[Enter feedback here]
--vnet-subnet-id

The ID of a subnet in an existing VNet into which to deploy the cluster.

can you clarify is the full URI for the subnet , not just the name of the subnet or the vnet alone, is the full path.

thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92444562-0540-adf6-3c3e-33b18

[2020-09-26 00:27] yonzhan commented on #2457
aks

[2020-09-27 22:33] tomstyles opened #2458 "The page should include instructions on how to install this extension"
Out of the box, az does not support this extension, yet there is no mention of how to install it in this documentation.

**Suggested text**
These commands are only available in the app-insights extension. To install the extension run this command

`az extension add --name ...`

Thanks for all the hard work producing the tools.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-09-28 00:17] yonzhan commented on #2458
@dbradish-microsoft could you please help with this?

[2020-09-28 03:40] superstandy opened #2459 "Try to enable AGIC addon with an existing AKS cluster failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks enable-addons
Extension Name: aks-preview. Version: 0.4.63.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons

[2020-09-28 03:47] yonzhan commented on #2459
aks

[2020-09-28 05:09] #2459 closed

[2020-09-28 07:29] tommivikkula opened #2461 "AZ ML CLI login issue with MSI"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
azure-cli-ml

### Description of issue (in as much detail as possible)

I'm trying to run a azure ml cli command using **MSI identity** the following way in a Azure VM (during a CICD pipeline run):
[code]
And

[2020-09-28 08:32] GSYankov opened #2462 "Unable to deserialize to object: type, KeyError: 'FlowAccessControlConfiguration'"
### Extension name (the extension in question)
logic

### Description of issue (in as much detail as possible)
If to Settings => Workflow settings => Access control configuration of an Azure Logic App had been added an IP,
`az logic workflow show --resource-group "rgName" --name "laName"`, returns the following error:

[code]
The deletion of this IP doesn't solve the error, a possible way to recov

[2020-09-28 08:47] yonzhan commented on #2461
ml

[2020-09-28 08:49] yonzhan commented on #2462
logic

[2020-09-28 11:59] Mhbuur commented on #2330
On same issue:
https://stackoverflow.com/questions/64004817/azure-cli-get-newest-package-from-a-view-az-artifacts-universal-download

https://developercommunity.visualstudio.com/idea/1195670/azure-cli-extensions-support-for-specifying-releas.html

[2020-09-28 16:22] Mahesh-MSFT opened #2465 "How to download VPN client using az network p2s-vpn-gateway?"
I did not see an option to download VPN client for a P2S VPN connection with virtual WAN.

Is there any CLI/PS command to download it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a6c1383-f4e8-ef8d-321f-d82a27a404a3
* Version Independent ID: 3969750e-97aa-78c0-575f-8966d624ed29
* Content: [az network](https://docs.m

[2020-09-29 01:22] yonzhan commented on #2465
add to S177

[2020-09-29 05:51] ooeygui opened #2469 "connectedk8s should validate the helm version"
(This bug was created in conjunction with a debug session with the connectedk8s team).

*Repro*
Create a link from helm to microk8s.helm (instead of to microk8s.helm3).

*What*
The connectedk8s cli collects the version of helm, but only uses it for telemetry. The output generated is:
[code]
When it should look like:
`v3.0.2+g19e47ee`

Fix:
Parse the output to validate the `v3`, before sending to t

[2020-09-29 06:21] yonzhan commented on #2469
connectedk8s

[2020-09-29 06:24] qwordy commented on #2079
How do you install Azure CLI?
Can you try reinstall Azure CLI and extensions?
What's the result of `python3 -m azure.cli group exists -n image-copy-rg --output tsv`

[2020-09-29 07:18] henti commented on #2079
apt-get install azure-cli

[code]

I've added https://packages.microsoft.com/repos/azure-cli/ repo and updated to latest

[code]

and updated the `image-copy-extension` extension

[code]

I've since worked around this so not really needed anymore. Close if required.

[2020-09-29 07:28] #2079 closed

[2020-09-29 12:14] tsarpaul opened #2472 "Can't use az logic"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az logic workflow list
Extension Name: logic. Version: 0.1.0.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az logic workflow list`

#

[2020-09-29 12:16] tsarpaul commented on #2472
Duplicate woops
https://github.com/Azure/azure-cli-extensions/issues/2462

[2020-09-29 12:16] #2472 closed

[2020-09-29 23:00] iuooip commented on #1382
@geverghe is non flat queries functionality planned?

[2020-09-30 09:12] geverghe commented on #1382
Looping in @narula0781, @ashishonce, @romil07 to provide feedback on the plan for flat quries.

[2020-09-30 12:19] a11smiles opened #2475 "App Insights subgroup not available"
Using HomeBrew to install the CLI. The `app-insights` subgroup is not part of the `az monitor` subgroup.
I'm currently using:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8baafade-06ad-e452-af14-7798fb17209f
* Version Independent ID: 45201db1-8a1c-f2f9-9771-32a179db6b73
* Content: [az monitor app-insights api-

[2020-09-30 12:50] larispl opened #2476 "image-copy-extension (v 0.2.7) issue hyper-v-generation"
### Extension name:
image-copy-extension (0.2.7)

### Description of issue:
There is an issue where virtual machines that are run with the copied Windows image do not work.
The image was successfully generalized before copying.
I tried both using `source-type image` as well as `source-type vm`

I am almost convinced that the reason is that the source machine is a second generation machine, while t

[2020-09-30 16:19] ecfan commented on #2462
@Azure/azure-logicapps-team

[2020-09-30 16:24] yonzhan commented on #2475
add to S177

[2020-09-30 18:44] snaheth commented on #482
@martgras This has been updated on the [documentation page you shared above](https://docs.microsoft.com/en-us/cli/azure/ext/resource-graph/graph?view=azure-cli-latest#ext_resource_graph_az_graph_query-optional-parameters).

[2020-09-30 18:44] #482 closed

[2020-09-30 19:08] snaheth commented on #915
+1 to what @haroldrandom said above. The ``--include`` parameter shows up now:

![image](https://user-images.githubusercontent.com/8368618/94728765-92fa3600-0315-11eb-92a0-b57cf81d86e3.png)

[2020-09-30 19:08] #915 closed

[2020-09-30 19:23] snaheth commented on #2036
Hi @amitkumarcn -- I'm a bit confused. Are you requesting that the subscriptions parameter should be space separated OR are you running into issues with comma separated subscriptions? If it's the latter, please retry it. I was able to run this successfully just now. If you still hit an error, please share the output here and include a correlationId so we can take a look.

[2020-10-01 00:03] #1678 closed

[2020-10-01 05:24] snaheth commented on #1673
Hi @sunnyjit -- I'm on the Azure Resource Graph team. Thanks for opening this issue. We've known about  `--include displayNames` being broken and we're planning to deprecate it or rewrite it to correctly assemble the query (currently preferring the former).

This approach checks a local cache (which can be problematic on its own as we see in the Exception you shared). We recommend that you utilize

[2020-10-01 05:24] #1673 closed

[2020-10-01 10:30] #2194 closed

[2020-10-01 11:07] ranand12 opened #2477 "Error running az aks get version"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-versions
Extension Name: aks-preview. Version: 0.4.47.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-versions -l

[2020-10-01 14:07] yungezz commented on #2477
routing to appropriate team

[2020-10-01 14:08] yungezz commented on #2476
HI @qwordy could you pls look at the ask? thanks

[2020-10-01 14:10] #2326 closed

[2020-10-01 23:27] plzm opened #2479 "az monitor log-analytics query fails with PathNotFoundError"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

az monitor log-analytics query fails with PathNotFoundError. The workspace exists; the query was working in Azure portal, Log Analytics, and was copy-pasted from there to bash.

cli.azure.cli.core.azclierror : ServiceError: code: PathNotFoundError - , The requested path does not exist
ServiceError: code: PathN

[2020-10-01 23:49] yonzhan commented on #2479
add to S177

[2020-10-05 09:09] NenoLoje opened #2484 "Question: Installing extensions in offline environments"
(Note: This is a cross-post from https://github.com/Azure/azure-devops-cli-extension/issues/1055)

How to set up an Azure CLI extension in an **offline environment**?

I see that the Azure CLI supports installing from a local source like this:
`az extension add –source …`

… but this doesn't seem to be enough. (I'm trying to install the Azure DevOps extension and it fails when it runs "pip", which

[2020-10-05 13:52] yungezz commented on #2484
hi @fengzhou-msft could you pls help on this?

[2020-10-05 14:48] eltociear opened #2485 "Typo exist in document."
2 line
enviroment -> environment

[Escreva aqui os seus comentários]

---
#### Detalhes do Documento

⚠ *Não edite esta secção. É necessário para a ligação de problemas docs.microsoft.com ➟ GitHub.*

* ID: e2301603-c858-06c0-21fc-f89b82c4645d
* Version Independent ID: ba29613d-2ac0-8744-6d56-c70decb9ea15
* Content: [az ml computetarget](https://docs.microsoft.com/pt-pt/cli/azure/ext/azure-cli-ml/m

[2020-10-05 14:50] mtaylorfsmb opened #2486 "Az DevOps Security Page needs examples"
Trying to test some of these commands and the syntax is unclear and the errors are not useful.

Tried to list permissions for a user account. `az devops security permission list --subject user` and got an error.

ArgumentParseError: the following arguments are required: --namespace-id/--id
Try this: 'az account list'
Still stuck? Run 'az devops security permission list --help' to view all commands

[2020-10-05 19:21] bq1756 opened #2487 "Unable to create vhub connection when remote vnet is in different subscription"
I have a Virtual WAN and associated Virtual Hub that span 2 subscriptions, e.g. Production and Non-Production subscriptions.  The Virtual Hub is hosted in the Production subscription.  I want to create VNET Connections to VNETs that are hosted in the Non-Production subscription.

I am following the current implementation of ```az network vhub connection create``` , documented at https://docs.micro

[2020-10-06 12:15] yungezz commented on #2485
routing to appropriate team

[2020-10-06 12:16] yungezz commented on #2486
routing to appropriate team. cc @houk-ms for awareness

[2020-10-06 12:30] yonzhan commented on #2487
add to S177

[2020-10-06 17:07] wpx7 commented on #2320
+1

It then works after removing and then re-adding the add-on...

[2020-10-06 19:29] TT554JJbgbg opened #2490 "upgrade helm procedure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az connectedk8s connect
Extension Name: connectedk8s. Version: 0.2.6.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az connectedk8s co

[2020-10-06 19:31] TT554JJbgbg commented on #2490
az cloud shell using unstable version of helm.  update procedure?

[2020-10-07 01:50] yonzhan commented on #2490
connectedk8s

[2020-10-07 11:48] gabrielmccoll commented on #2484
I'm having same problem due to trying to go through corporate proxy and I just keep hitting more and more stuff that wants whitelisted.   I'd really love to be able to just download the extensions and required packages offline and distribute them internally as I won't get this past security in current state.  Azure Devops cli extension seems to be only way for universal package uploads for instanc

[2020-10-09 07:14] haroldrandom commented on #2347
@andywangqt Could you explain more plain about what you wish us to improve?

[2020-10-09 18:33] janabimustafa opened #2497 "frontdoor backend-host-header cannot be set to empty"
### Extension name (the extension in question)
front-door

### Description of issue (in as much detail as possible)
the parameter --backend-host-header on the commands front-door, front-door backend-pool, front-door backend-pool backend cannot be set to an empty string.

When setting to empty string, the following error is returned: az network front-door backend-pool create: error: argument --back

[2020-10-09 22:30] yonzhan commented on #2497
front-door

[2020-10-09 23:32] anuragdalmia commented on #1733
@JustinBacaAIS We have released the latest version of our GA CLI SDK. You can find them at https://docs.microsoft.com/cli/azure/ext/account/account?view=azure-cli-latest&preserve-view=true. Resolving this issue. Please re-open if you run into issues.

[2020-10-09 23:32] #1733 closed

[2020-10-10 06:59] haroldrandom commented on #2465
It's a feature request.  We'll make a plan for it soon.

[2020-10-10 08:58] yungezz commented on #1395
hi @harleypig could you pls share more context? Are you developing azure-cli locally https://github.com/Azure/azure-cli/blob/dev/doc/configuring_your_machine.md? If yes, pls use `azdev` tool to setup environment. Or are you trying to use Azure CLI as end user? then pls follow official instruction guideline https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-10-10 15:30] harleypig commented on #1395
I was trying to install it. At that point in time I was unable to get permission to add the necessary repositories and install that way.

That has since changed. You can close this bug, unless someone else is also having issues.

[2020-10-11 03:58] kingces95 opened #2506 "`az network firewall nat-rule list --output table` fails to list rules"
I expect
[code]
to return a list of rules, but I actually get a "list" of collection names, eg
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1232025d-31e4-0789-1dfb-78f59e7ae093
* Version Independent ID: e2f69d85-cd20-c868-e647-6b4316a2ef08
* Content: [az network firewall nat-rule](https://docs.microsoft.com/en

[2020-10-11 08:02] yonzhan commented on #2506
add to S177

[2020-10-12 02:01] yungezz commented on #1395
hi @harleypig thanks for the info. To install Azure CLI, you don't need to build from scratch by yourself, you can follow the instruction at https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest to choose proper install way per your OS type and package manager,  or pip.

Will close the issue for now, feel free to create new one if any other issue met. thanks.

[2020-10-12 02:01] #1395 closed

[2020-10-12 04:58] LianwMS commented on #1395
@harleypig Another issues are the same as current: https://github.com/Azure/azure-sdk-for-python/issues/12612 . May i know if it is opened by you, too?

[2020-10-12 05:16] qwordy commented on #2083
`--subscription` is not used in code. Don't use this parameter. It has no effect. I am trying to remove this global parameter in this command.

[2020-10-12 06:50] haroldrandom commented on #2487
Does --remote-vnet work for your purpose?

[2020-10-12 07:04] haroldrandom commented on #2506
@kingces95 Are you convinced that you didn't provide the `--output table` argument?

Because I am a bit confused that in the PR title you mentioned `--output table` but in the PR body didn't.

[2020-10-12 23:20] n3rd253 opened #2511 "--max-surge does not exist."
Hello Friends

Your documentation specifies a fancy flag --max-surge.  We would like to make use of this flag, however it doesn't seem to exist in the actual public offering

https://docs.microsoft.com/en-us/cli/azure/ext/aks-preview/aks/nodepool?view=azure-cli-latest#ext_aks_preview_az_aks_nodepool_update

<img width="1247" alt="Screen Shot 2020-10-12 at 4 12 50 PM" src="https://user-images.githu

[2020-10-13 01:40] yonzhan commented on #2511
aks

[2020-10-13 04:44] ManasaDevadas opened #2513 "There are no examples for Linux customScript."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 277bceda-f654-bb36-a443-b32d6216ea03
* Version Independent ID: 3a1cbaf3-efd8-2bc8-6cf6-5450213fe21a
* Content: [az connectedmachine machine-extension](https://docs.microsoft.com/en-us/cli/azure/ext/connectedmachine/connectedmachine/machine-extension?v

[2020-10-13 04:46] ManasaDevadas commented on #2513
az connectedmachine machine-extension create --machine-name "<machinename>" --extension-name "customScript" --location "eastus" --resource-group "myRG"  --settings '{"fileUris": ["<fileuri>"],"commandToExecute": "sh install.sh"}'
this command is failing with ValidationError: (HCRP400) ExtensionInsufficientBody.

[2020-10-13 04:57] yonzhan commented on #2513
connectedmachine

[2020-10-13 12:41] NenoLoje commented on #2484
@gabrielmccoll Specifically for the case you mentioned regarding **uploading/downloading universal package**s, the workaround I used is to:
* install an 🚀 Azure Pipelines agent on that machine (the corporate firewall in my case had the neccessary execptions it already configured)
* and use the [Universal Package task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/universal-

[2020-10-13 18:02] plooploops opened #2517 "az aks update - to attach acr"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

AKS w/User Assigned Managed Identity unable to attach ACR with az aks update -g $RG -n $CLUSTER_NAME --attach-acr {} command.

**Command Name**
`az aks update
Extension Name: aks-preview. Version: 0.4.62.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have bee

[2020-10-13 18:17] plooploops commented on #2517
Related: https://github.com/Azure/AKS/issues/1517

[2020-10-13 22:43] melmullen commented on #2021
This should be fixed now. Please retry.

[2020-10-13 22:58] kolbyrax commented on #2021
I can create the export now (through the Gov portal), but when it runs it fails immediately:

“Cost Management RP was not registered with the subscription under customer's tenant.”

However the Cost Management resource provider is registered in all the subscriptions for this tenant.  Also the Cost Management Export resource provider is registered for the subscription that has the storage account I

[2020-10-13 23:16] yonzhan commented on #2517
aks

[2020-10-14 12:26] wtkwsk opened #2522 "az aks get-credentials fails if ~/.kube/config exists but is empty"
### Extension name (the extension in question)
aks-preview

### Description of issue (in as much detail as possible)
az aks get-credentials [...] fails if the file ~/.kube/config exists but is empty. If the file doesn't exist, or isn't empty it's fine.

Error Message:
[code]

[2020-10-14 14:33] yungezz commented on #2522
routing to appropriate team

[2020-10-15 03:34] VijayRod commented on #2320
Issue does not occur in my environment with below versions. Does not occur in Cloud Shell too for me.
please update azure-cli and aks-preview, and retry.

azure-cli                         2.12.1
aks-preview                       0.4.63

[2020-10-15 13:57] squasta opened #2528 "Azure Arc - az connectedk8s connect issue with microk8S"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
connectedk8s

### Description of issue (in as much detail as possible)

try to connect to Azure Arc for K8S my microk8s cluster. Got an error message about connectivity. Was able to do it in September on anoth

[2020-10-15 18:01] ahmedsza commented on #2528
I had virtually the same error today with kind. I am on mobile now so don't have all the details

Unable to verify connectivity to the Kubernetes cluster.

If you are using AAD Enabled cluster, verify that you are able to access the cluster. Learn more at https://aka.ms/arc/k8s/onboarding-aad-enabled-clusters

Error: HTTPConnectionPool(host='localhost', port=80): Max retries exceeded with url: /ap

[2020-10-15 20:53] dadams0641 opened #2529 "subprocess.CalledProcessError returned non-zero exit status 3."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az image copy
Extension Name: image-copy-extension. Version: 0.2.7.`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az image copy --sour

[2020-10-16 00:59] yungezz commented on #2529
hi @qwordy could you pls help to have a look? thanks

[2020-10-16 01:25] melmullen commented on #2021
Have you already reported this through another channel?

Note that the tenant under which you are logged into the portal must be the same as the storage subscription's tenant. You can check this by clicking "?" on the top right of the portal page and selecting "Show Diagnostics". This option provides a JSON file with a "security/user" section and a "subscriptions" section. You can check that the a

[2020-10-16 07:44] gabrielmccoll commented on #2484
That is a nice wee work around thank you

[2020-10-16 12:44] kastromatos commented on #2462
The same with parameterless
az logic workflow list

[2020-10-16 19:12] kolbyrax commented on #2021
I opened a case with Billing Support, lmk if you want the case number.

[2020-10-17 09:10] yonzhan commented on #2487
@bq1756 any feedback?

[2020-10-17 10:06] yonzhan commented on #2506
@kingces95  any update?

[2020-10-18 03:58] urasandesu commented on #2441
Do we have any update on the investigation?

For your information, I found the dependent module issue that may become the cause of this issue like the following:
[code]

It indicates `azureml-dataprep-rslex` has no matching distribution for my environment. I reviewed the PyPI repository(https://pypi.org/project/azureml-dataprep-rslex/#files), it seems that there are no .whl files for the environme

[2020-10-18 04:26] yonzhan commented on #2441
machine learning service team should look into this.

[2020-10-19 02:11] qwordy commented on #2529
@dadams0641 Can you show the traceback? Thanks.

[2020-10-19 10:12] fengzhou-msft commented on #2110
@hansolo2218 There is the [az datafactory pipeline-run show](https://docs.microsoft.com/en-us/cli/azure/ext/datafactory/datafactory/pipeline-run?view=azure-cli-latest#ext_datafactory_az_datafactory_pipeline_run_show) command. Can you try it and see if it meets your needs?

[2020-10-19 15:23] dadams0641 commented on #2529
Sure!

`Getting OS disk ID of the source VM/image
Creating source snapshot
command failed: ['/usr/bin/python3', '-m', 'azure.cli', 'snapshot', 'create', '--name', 'Windows-2019-Crowe-Template-NCUS-PRD1_os_disk_snapshot', '--location', 'northcentralus', '--resource-group', 'IS-CoreSystem-PRD1', '--source', '/subscriptions/<<removed>>/resourceGroups/TEMP-image-transfer/providers/Microsoft.Compute/sn

[2020-10-19 16:14] anuragdalmia commented on #2239
Taking a look.

[2020-10-20 01:42] ajklotz commented on #1524
I'm in the same boat here. Can't remove resource group because I can't delete a front door app

[2020-10-20 01:53] qwordy commented on #2529
It says "Resource Windows-2019-Crowe-Template_os_disk_snapshot-northcentralus is not found". Can you check if it exists?

[2020-10-20 02:07] ramaganesan-rg commented on #1935
Thank you for your feedback. Team is investigating this.

[2020-10-20 08:04] ahmedsza commented on #2528
this was fixed by moving the latest version of the connectedk8s extension

[2020-10-20 12:24] dadams0641 commented on #2529
So, that's what I was thinking at first, maybe I got the name, subscription, or RG incorrect, but so far as I can tell, I got them right.

Here's the command I ran:

`az image copy --source-object-name "Windows-2019-Crowe-Template-NCUS-PRD1" --source-resource-group "IS-CoreSystem-PRD1" --target-location "North Central US" --target-resource-group "IS-CoreSystem-QA1" --target-subscription "Crowe QA

[2020-10-20 19:11] ivog opened #2554 "Trouble with JMES Query because of dots in fieldnames"
az boards query --id 02187725-f42d-4a44-b787-afc2e52629f8 --query "[0:1].fields" retrieves:

[code]

I'm trying to retrieve only a list of workitem titles but I'm having a hard time constructing a working jmespath  because of the dots used in the fieldnames.

I've tried

az boards query --id 02187725-f42d-4a44-b787-afc2e52629f8 --query "[0:1].fields.'System.Title'"
az boards query --id 02187725-f4

[2020-10-21 00:08] yonzhan commented on #2554
boards

[2020-10-21 12:19] crmitchelmore commented on #1971
This would be really useful. At the moment using terraform for devops isn't really possible without this

[2020-10-21 14:12] donantoniosantos commented on #2462
Got this issue too. https://github.com/Azure/azure-cli/issues/15417

[2020-10-21 20:23] lyrana opened #2556 "new name for timestamp property name"
DeviceId isn't an appropriate value for the timestamp property name, please update to ts or timeStamp or remove for it to default to the HEDT.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51cb4be3-24e9-3da5-9989-12adb8a88750
* Version Independent ID: b9667252-ba25-b629-c409-e1aa1da51bdc
* Content: [az timeseriesinsig

[2020-10-21 23:45] yonzhan commented on #2556
add to S178

[2020-10-22 18:21] brandonh-msft opened #2560 "[Kusto] Allow *cluster* permissions to be set via CLI"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
Kusto

### Description of issue (in as much detail as possible)
With the Kusto extension we can set _database_ permissions today (e.g. `az kusto database add-principal`), but these are only useful if a superse

[2020-10-22 23:27] anuragdalmia commented on #2239
You are right. Thanks for catching the typo. We will fix it.

[2020-10-23 00:56] yonzhan commented on #2560
Kusto

[2020-10-23 15:30] #2398 closed

[2020-10-23 23:12] jesuspsalas2 opened #2568 "Updating the ML/AKS Load Balancer to Internal cause the FQDN to not resolve to the internal IP"
When updating an Attached AKS to use an internal vNet for the load balancer IP (azureml-fe) the DNS record is not updated causing the Health Checks from the ML Workspace to fail.

Please route this to the product group.

[2020-10-24 01:26] yonzhan commented on #2568
AKS

[2020-10-24 03:39] #2347 closed

[2020-10-24 09:53] fengzhou-msft commented on #2019
Duplicate of #1900. A fix is released, please try with the latest azure-cli.

[2020-10-24 09:53] #2019 closed

[2020-10-25 13:55] orhasban commented on #2560
@brandonh-msft Thanks for reaching out.

In order to add cluster level principals ( "AllDatabasesAdmin" / "AllDatabasesViewer" ) , you can use the following command:
`az kusto cluster-principal-assignment create `

Example:
[code]

For more details, please run:
`az kusto cluster-principal-assignment create -h `

[2020-10-26 09:49] #2248 closed

[2020-10-26 09:49] #2381 closed

[2020-10-26 10:21] fengzhou-msft commented on #2381
The issue is fixed in blueprint 0.2.0, please update and retry.

[2020-10-26 10:21] fengzhou-msft commented on #2248
The issue is fixed in blueprint 0.2.0, please update and retry.

[2020-10-26 12:45] robfrut135 commented on #2381
Great!!! it works :)

[2020-10-26 16:06] brandonh-msft commented on #2560
Thanks, it wasn't clear to me if that was creating a principal (like a managed identity) for the cluster or a permission on it; I think the naming could be better....

[2020-10-26 16:12] brandonh-msft commented on #2560
Also I find it a bit cumbersome that for this permission I need to use PrincipalId and TenantId but for _database_ permission (`az kusto database add-principal`) I can simply use email address (much more affordable). Any chance we could look at adding a similar path for `az kusto cluster`?

[2020-10-26 20:18] orhasban commented on #2560
You can pass email address in principalId ? It should work

[2020-10-27 03:35] haroldrandom commented on #2487
close as inactive

[2020-10-27 03:35] #2487 closed

[2020-10-27 04:27] brandonh-msft commented on #2560
@orhasban would I still require `tenantId`?

[2020-10-27 07:41] qwordy commented on #2083
I  met some technical issue to remove a global parameter. I need more time to figure out if it is possible.

[2020-10-27 09:05] orhasban commented on #2560
`tenantId` is not mandatory field. If you don't specify it, we assume its the tenant id of the cluster.

[2020-10-27 09:15] fengzhou-msft commented on #2110
Please let us know if you still have questions.

[2020-10-27 09:15] #2110 closed

[2020-10-27 10:47] Tomelin opened #2578 "Error the create databricks with --tags"
[Enter feedback here]

Hi,

I'm creating databricks using az cli and it works perfectly if I don't use the --tags option.
If I use the --tags parameter, it returns an error stating that the key has to be an integer, but I made several attempts with an integer, string and nothing worked.

 az databricks workspace create --resource-group myRSG --managed-resource-group myRSGMG --name nameOfDBR --loca

[2020-10-27 12:27] yungezz commented on #2578
hi @fengzhou-msft could you pls help to have a look?thanks

[2020-10-27 17:50] brandonh-msft commented on #2560
excellent i'll give using email address as principal ID w/o any tenant ID a shot and see how it goes

[2020-10-27 19:37] brandonh-msft commented on #2560
all was successful - thanks!

[2020-10-27 19:37] #2560 closed

[2020-10-28 02:20] #2083 closed

[2020-10-28 03:11] qwordy commented on #2083
It is removed now! Download the latest version and give a try.

[2020-10-28 14:27] JariSal commented on #2484
Also I'm trying to install Azure DevOps extension into a separate development machine, but corporate proxy prevents the pip to fetch the required modules from pypi.org. I've installed those modules manually, but DevOps extension does not check the currently installed modules and tries to fetch those from pypi.org every time. Any possibilities to make DevOps installation to just use already install

[2020-10-29 07:28] michaelhambe opened #2588 "[Feature Request] Databricks create new cluster/obtain cluster Id of existing cluster"
Is it possible to create a new cluster or obtain the cluster ID of an existing cluster using the az cli?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25bc2eac-683a-3e2f-0bfb-e6f204d27482
* Version Independent ID: 52493963-9247-59d6-1f1f-359bdfaa9da4
* Content: [az databricks](https://docs.microsoft.com/en-us/cli/azur

[2020-10-29 09:15] sachiney opened #2589 "--subscription parameter not mentioned in the page"
I tried to run/test the commands and got error message 'Resource group not found'. In the previous steps I was logging into the subscription so I thought It would just use the subscription from context. But that was not the case, I had to provide --subscription <subs> and the error was resolved. Although --subscription tag is not found in the page, it can be used.

---
#### Document Details

⚠ *Do

[2020-10-29 09:53] yonzhan commented on #2589
synapse

[2020-10-30 13:07] cpyfferoen opened #2593 "Can Description be Multi-Line?"
I want a multi-line description...
I was able to execute a powershell command using a multi-line Here-string - but only the first line of my text was used
[code]
The Description line after upload just reads "- Bullet 1".
What can I do to achieve this? Use a variable, or does it only take the first line??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com